[2021-03-16 12:06] leecalcote commented on #1702
Thank you, @chinmaym07

[2021-03-16 13:30] Jashpatel1 opened #1704 "[Community] Member Profile: Yash Vardhan"
**Current Behavior**

@Grumpyyash has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @Grumpyyash  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: Grumpyyash
- Twitter:
- LinkedIn: yash-vardhan-688952188
- Link to profile picture:

---

**Contributor Resources**

The layer5.io website uses Gat

[2021-03-16 13:36] Jashpatel1 commented on #1704
@Grumpyyash Can you please provide a link to your profile picture and a short description that can feature on your individual member page?

[2021-03-16 17:21] leecalcote opened #1705 "[Meshery] Use live performance test count"
**Current Behavior**
The Meshery project page (https://layer5.io/service-mesh-management/meshery) counts up to a static number (2,000+).

**Desired Behavior**
Use the public endpoint (https://meshery.layer5.io/result/total) that has a real-time test result count instead.

See an example of its use here - https://meshery.io

The animated count should still occur, but count to the actual number inst

[2021-03-16 21:32] #1702 closed

[2021-03-17 06:11] Grumpyyash commented on #1704
Thank you so much for this @Jashpatel1 sir! It is really encouraging for me!

Link to the profile picture:  https://drive.google.com/file/d/1wkpIPkjEbJyxBj3ayl_nkG00DRlXEgSd/view?usp=sharing

Twitter-handle: Yash_dn
Short Bio: 'Undergraduate at IIT Dhanbad (India). A Developer, Programmer and a Keen Learner'

[2021-03-17 09:44] chinmaym07 commented on #1705
Can I do this ?

[2021-03-17 13:37] #1705 closed

[2021-03-17 15:01] austinogiza opened #1707 "[Career] Changing location of Layer5 in the Job Description"
**Current Behavior**
The current location placement in layer5 careers is at the bottom of all the job description.

https://layer5.io/careers/ui-visual-designer/

![JD](https://user-images.githubusercontent.com/44683018/111488702-c6047a80-8739-11eb-8768-0c33056222dc.PNG)

**Desired Situation**
Moving the location to the top of all the job description we currently have in Layer5 for quick informati

[2021-03-17 16:49] leecalcote opened #1708 "[FAQs] Breakdown FAQs into sections"
**Current Behavior**
The FAQs component is capable of displaying only specific topics (a topic passed in as a property). The FAQ component is used on different pages with different topics listed. However, this page has ALL of the FAQs included - https://layer5.io/company/faq.

<img width="1289" alt="Screen Shot 2021-03-17 at 11 41 16 AM" src="https://user-images.githubusercontent.com/7570704/11150

[2021-03-17 16:50] leecalcote commented on #1708
@Harshita-Kanal would you like to implement this?

[2021-03-17 17:57] Harshita-Kanal commented on #1708
Yes sure 👍

[2021-03-17 19:46] leecalcote commented on #1708
Awesome. :)

[2021-03-19 05:53] PluckyPrecious opened #1711 "."

[2021-03-19 05:57] #1711 closed

[2021-03-19 12:57] #1681 closed

[2021-03-22 09:11] lumenCodes commented on #1707
Hi, @austinogiza let me give this a shot.

[2021-03-22 13:11] Ruth-ikegah commented on #1707
sure @lumenCodes! Assigned you now!

[2021-03-22 13:16] buquio commented on #1704
I'm interested in taking this issue

[2021-03-22 13:17] Ruth-ikegah commented on #1704
Nice! you have been assigned now @buquio

[2021-03-22 14:17] leecalcote opened #1713 "[Meshery] Remove "+" from Performance Test Result count"
**Current Behavior**
A statistic counter on the Meshery page used for # of tests run has a "+" sign next to it.

**Desired Behavior**
“+” can be removed on Meshery page for # of tests run, since it is now exact number that is retrieved from a remote endpoint.

<img width="634" alt="Screen Shot 2021-03-22 at 9 16 09 AM" src="https://user-images.githubusercontent.com/7570704/112003885-4dae0880-8aef-

[2021-03-22 14:21] leecalcote opened #1714 "Site crash: statistic counter"
**Description**
Recent updates to the statistic counter are causing the site to crash.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md)
- See Layer5 site design

[2021-03-22 16:53] leecalcote opened #1715 "[Discuss] Footer"
_See [Epic] Discourse-based Discussion Forum #1394_

#### Description
The discuss.layer5.io site needs a footer. Ideally, this footer is identical to layer5.io's footer.

#### Implementation
See the **[Design Specification](https://docs.google.com/document/d/1MDdIZGr8cw_iyZD1H4G7k8AbcFJ79_4UhbKgGltfa7U/edit)**

#### Mockups
- **[discuss designs](https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/?n

[2021-03-22 16:56] leecalcote opened #1716 "[discuss] Nav Bar"
_See [Epic] Discourse-based Discussion Forum #1394_

#### Description
The discuss.layer5.io site needs a nav bar. Ideally, this nav bar is identical to layer5.io's nav bar, but does not include the Mega Menu. Onhover (active state) styles should be the same on hyperlinks.

#### Implementation
See the **[Design Specification](https://docs.google.com/document/d/1MDdIZGr8cw_iyZD1H4G7k8AbcFJ79_4UhbKgG

[2021-03-22 17:00] leecalcote commented on #1716
@Jashpatel1 Is this you?

[2021-03-22 17:05] leecalcote opened #1717 "[discuss] Hero"
_See [Epic] Discourse-based Discussion Forum #1394_

#### Description
The discuss.layer5.io site needs a hero. Ideally, this hero includes a simple navigation to community resources:

- service mesh (link to the top-level service mesh topic in discuss.layer5.io)
- calendar (link to community calendar)
- playlists (link to YouTube channel)

#### Implementation
See the **[Design Specification](https

[2021-03-22 17:46] #1713 closed

[2021-03-22 17:46] #1714 closed

[2021-03-22 19:34] leecalcote commented on #1573
@vinayaksh42 let's get GetNighthawk represented more directly here.

[2021-03-22 19:35] leecalcote commented on #1596
@vineethvanga18 can you knock this one out?

[2021-03-22 19:37] vineethvanga18 commented on #1596
@leecalcote sure, sir.

[2021-03-23 10:35] #1596 closed

[2021-03-24 22:06] leecalcote commented on #1715
Hi @Grumpyyash, were you able to get logged in and start to customize?

[2021-03-24 22:06] leecalcote commented on #1716
@Jashpatel1 are you taking this one?

[2021-03-24 22:06] leecalcote commented on #1717
@austinogiza do you have another iteration of this design?

[2021-03-24 22:18] #1573 closed

[2021-03-24 22:31] leecalcote commented on #1555
@Harshita-Kanal checking in... any luck?

[2021-03-24 22:36] leecalcote opened #1724 "[Community] Newcomers tutorials - add Cypress tutorial from Rodolfo"
**Current Behavior**
The [table of tutorials on the newcomers page](https://layer5.io/community/newcomers) is missing Rodolfo's tutorial on Cypress.

**Desired Behavior**
IN addition to linking to his slides and recording, a link to @ramrodo's blog post can also be included - https://layer5.io/blog/meshery/functional-testing-with-cypress-in-meshery-ui

---
**Contributor Resources**

The layer5.io

[2021-03-25 02:36] Grumpyyash commented on #1715
Yes @leecalcote, I was able to log in and will start customizing

[2021-03-25 03:00] Jashpatel1 commented on #1716
Yes

[2021-03-25 03:12] Harshita-Kanal commented on #1555
Yeah almost done :+1:

[2021-03-25 13:20] leecalcote commented on #1394
@Jashpatel1 we're in need of issues for each of the checklist items.

[2021-03-25 15:37] Jashpatel1 commented on #1394
Sure, will add them.

[2021-03-26 02:06] leecalcote commented on #1717
@EmperorYP7 we're all set with the first iteration of the hero design.

[2021-03-26 10:48] EmperorYP7 commented on #1717
On it! 🔨

[2021-03-26 15:12] Anita-ihuman commented on #1680
Hello @EmperorYP7  you could drop a link to the Hero section on the webpage or link to the codebase here.  I would like to handle this issue

[2021-03-26 16:50] EmperorYP7 commented on #1680
@Anita-ihuman here's the webpage: https://layer5.io/community

here's the visual:
<img width="1440" alt="Screenshot 2021-03-26 at 10 12 29 PM" src="https://user-images.githubusercontent.com/62606998/112665280-e4c4e880-8e80-11eb-9f3e-71fee438c9d4.png">

and here's a relevant file/folder:  https://github.com/layer5io/layer5/blob/master/src/sections/Community/index.js
https://github.com/layer5io/laye

[2021-03-26 18:16] Anita-ihuman commented on #1680
Thank you

[2021-03-27 14:04] #1680 closed

[2021-03-28 19:14] Tanuj22 commented on #1704
@buquio any updates here?

[2021-03-28 19:15] Tanuj22 commented on #1555
@Harshita-Kanal any updates here ?

[2021-03-29 16:45] buquio commented on #1704
@Tanuj22 I'm working on it.

[2021-03-29 18:00] leecalcote commented on #1704
Thank you, @buquio

[2021-03-31 17:14] navendu-pottekkat opened #1732 "[Community] Member Profile: Aditi Ahuja"
**Current Behavior**

@metonymic-smokey  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @metonymic-smokey  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: metonymic-smokey
- Twitter: Aditi09039216
- LinkedIn: aditi-ahuja-334394193
- Link to profile picture: https://drive.google.com/file/d

[2021-03-31 17:16] navendu-pottekkat commented on #1732
@metonymic-smokey could you provide a short bio to be added to your profile here?

[2021-04-01 08:00] chinmaym07 opened #1733 "Smooth Transition of Navigation Menu on Mobile view"
**Description**

Menu is not opening smoothly

**Expected Behavior**

On clicking Hamburger menu button , Menu should open smoothly.
**Screenshots**

https://user-images.githubusercontent.com/44670961/113262508-4f957a00-92ee-11eb-9c79-70bebe3011af.mp4

[Optional] **Additional Context**

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found

[2021-04-01 15:03] metonymic-smokey commented on #1732
@navendu-pottekkat , here is a bio:

"Student developer from Bangalore, India passionate about venturing into newer, niche fields.
Open to challenges and opportunities, technical or otherwise!"

[2021-04-01 18:39] Abiola-Farounbi commented on #1732
I will like to be assigned this issue

[2021-04-01 20:01] tileitner commented on #1733
You can assign this to me

[2021-04-01 20:02] leecalcote commented on #1733
Good deal. Thank you, @tileitner

[2021-04-01 20:07] leecalcote commented on #1732
Wonderful, @Abiola-Farounbi

[2021-04-01 20:12] #1733 closed

[2021-04-02 01:55] blossom-babs commented on #1716
Can I work on this?

[2021-04-02 01:58] blossom-babs commented on #1717
Can I work on this too. Though I noticed the figma links are design specification links are not live

[2021-04-02 03:40] leecalcote opened #1735 "[Community] Member Profile: Update Navendu Pottekkat to Maintainer, Meshery CLI"
**Current Behavior**
@navendu-pottekkat is now a maintainer of Meshery CLI.

**Desired Situation**
[Navendu's profile](https://layer5.io/community/members/navendu-pottekkat) should reflect this role.

---

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [c

[2021-04-02 03:47] leecalcote opened #1736 "[CONTRIBUTING.md] Update with instructions for modifying community member profiles"
**Current Behavior**
The [CONTRIBUTING.md](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) file has a "Common Types of Site Updates" section with a couple of examples.

**Desired Situation**
The Layer5.io website has many community member profiles. Updates to these profiles happen with some regularity. A new section should be added to the contributing guide with instructions on:

1

[2021-04-02 04:00] leecalcote opened #1737 "[Image Hub] Description in Readme needs updated"
**Current Behavior**
The Image Hub description in the readme of this repo needs to reflect compatibility with Istio and other potential updates.

---
**Contributor Resources**
Reference to the `ImageHub` Readme and add accordingly https://github.com/layer5io/image-hub#readme

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://githu

[2021-04-02 04:06] leecalcote opened #1738 "[Community] Member Profile: Yash Pandey's profile photo is wrapped in an unnecessary layer"
**Screenshot**
<img width="349" alt="Screen Shot 2021-04-01 at 10 53 25 PM" src="https://user-images.githubusercontent.com/7570704/113379263-a1fe8700-933e-11eb-8f48-ea2afaef10d5.png">

**Current Behavior**
@austinogiza, I believe @EmperorYP7's profile photo was exported from Figma as a member card inadvertently and used in his member profile.

**Desired Situation**
[@EmperorYP7's member profile](h

[2021-04-02 07:02] siddhantdixit commented on #1738
Can I work on this ?

[2021-04-02 07:10] tileitner opened #1739 "Mobile menu icon animation"
**Description**
Mobile menu icon has no closing animation

![ezgif com-gif-maker](https://user-images.githubusercontent.com/56436108/113390773-a94f8000-9392-11eb-985d-cdd3fdcfd3aa.gif)

**Expected Behavior**
On closing the mobile menu, the icon should have some sort of animation

[Optional] **Additional Context**

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub

[2021-04-02 12:45] leecalcote commented on #1739
Good eye, @tileitner. You’re right, the menu should have a closing animation.

[2021-04-02 12:46] leecalcote commented on #1739
@tileitner I’m assigning you assuming that you’re just the person to take this on. 😀

[2021-04-02 12:49] leecalcote commented on #1739
@tileitner I encourage you to join the Layer5 community. You’ll find a warm and welcoming bunch inside - http://slack.layer5.io

[2021-04-02 13:15] leecalcote commented on #1738
@siddhantdixit that would be great, yes.

[2021-04-02 13:50] #1704 closed

[2021-04-02 14:32] leecalcote opened #1741 "[Event] KubeCon EU 2021: Add CNCF SIG Network talk to events list"
**Event:**
- Event Title: CNCF SIG Network Intro and Deep Dive
- Event Link: https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/
- Talk Description: “It’s the network!” is the cry of every system administrator, every developer. With the increased prevalence of microservice-based distributed systems, it’s true - networking as a discipline has never been more critical in the efficient

[2021-04-02 19:16] leecalcote commented on #1708
Hi @Harshita-Kanal, do you anticipate being able to spend time on this item this weekend?

[2021-04-02 19:17] #1738 closed

[2021-04-03 02:34] #1739 closed

[2021-04-03 08:30] blossom-babs commented on #1736
Hi Lee, I would like to start with this task. Can I be assigned to it.

[2021-04-03 12:06] adithyaakrishna commented on #1741
@leecalcote If this issue is up for grabs, I would love to work on it 👀

[2021-04-03 13:56] adithyaakrishna opened #1747 "[Bug] - Code Visible in Internship Pages"
**Description**
The [Software Engineer Intern](https://layer5.io/careers/software-engineer-internship) page shouldn't show the raw code :
`<Col xs={6} className="job-details-col"><h5> <FiCalendar/> Duration</h5><p>{frontmatter.duration}</p></Col>`

The issue exists on other pages too,
[Digital Marketing Internship](https://layer5.io/careers/digital-marketing-internship/)
[UI Visual Designer Intern

[2021-04-03 14:23] adithyaakrishna commented on #1735
@leecalcote Can I Work on this?

[2021-04-03 15:45] leecalcote commented on #1736
Yes, @blossom-babs. That would be lovely.

[2021-04-03 16:18] EmperorYP7 commented on #1717
Hey @blossom-babs, I am working on a test component for this which is deployed on discuss.layer5.io : https://github.com/EmperorYP7/discourse-search-banner

I'll add you as a collaborator for this. Let me know if you're in!

[2021-04-03 17:41] #1735 closed

[2021-04-03 20:17] Harshita-Kanal commented on #1708
Yeah so sorry for the delay would complete as soon as possible 👍

[2021-04-03 22:52] leecalcote commented on #1708
OK, sounds great.

[2021-04-04 06:31] #1747 closed

[2021-04-04 06:36] #1741 closed

[2021-04-04 11:26] chinmaym07 opened #1752 "Smooth Transition of "Choose Your Platform" Command div"
**Current Behavior**

Command div neither smoothly opens nor does it close.

**Desired Behavior**

Command div should open & close smoothly.

---
[Optional] **Screenshots / Mockups**

https://user-images.githubusercontent.com/44670961/113507184-9b525880-9566-11eb-839e-0b44334f174b.mp4

[Optional] **Alternatives**

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub

[2021-04-04 11:31] iamayushdas commented on #1752
Assign this to me

[2021-04-04 14:06] adithyaakrishna commented on #1707
@Ruth-ikegah Is this issue still being worked on? If not, I would really love to work on it 😶

[2021-04-04 17:33] chinmaym07 opened #1753 "Notify user when the code block content is copied"
**Current Behavior**

Currently When clicking on Copy button ,the command is getting copied ,but there is no notification to the user that the command is copied.

**Desired Behavior**

Notify user On Clicking Copy Button on CodeBlock component that the command is copied.

---
[Optional] **Screenshots / Mockups**

https://user-images.githubusercontent.com/44670961/113516703-598ed580-9599-11eb-891c-

[2021-04-04 20:29] arsen1c commented on #1753
Can you assign this to me?

[2021-04-04 20:40] chinmaym07 commented on #1753
Thankyou @arsen1c !! Happy Contributing 👍🏻  😁

[2021-04-04 20:50] rijusougata13 commented on #1753
can i work on this ? @chinmaym07

[2021-04-04 21:04] rijusougata13 commented on #1753
hey what's the step to reproduce?

[2021-04-04 21:08] chinmaym07 commented on #1753
Let @arsen1c try work on this issue. meanwhile you can try your hands on other available issues .
You can navigate to https://layer5.io/service-mesh-management/meshery/getting-started to reproduce the above issue or you can navigate to any blog where this Code Block Component is used & click on the copy button inside the code block then you will be able to identify the issue.

[2021-04-05 07:42] chinmaym07 opened #1757 "[Meshery] Use Live Performance Text Count on Operating Service Meshes page"
**Current Behavior**

1. Operating Service Meshes page counts up to a static number (2,000+)
https://layer5.io/service-mesh-management/meshery/operating-service-meshes
2. Gettnighthawk project page counts up to static number (2000+)
https://layer5.io/projects/getnighthawk

**Desired Situation**

Use the public endpoint (https://meshery.layer5.io/result/total) that has a real-time test result count

[2021-04-05 07:59] arsen1c commented on #1753
@chinmaym07 @Nikhil-Ladha Can we close this issue now?

[2021-04-05 08:15] #1753 closed

[2021-04-05 09:34] chinmaym07 opened #1758 "Smooth Opening & closing of Workshops Card"
**Current Behavior**

Each Workshop Card neither opens smoothly nor does it close.
https://layer5.io/learn/service-mesh-workshops

**Desired Behavior**

Workshop card should open smoothly on clicking ``Read More`` button & close smoothly on clicking ``Read Less`` button.

---
[Optional] **Screenshots / Mockups**

https://user-images.githubusercontent.com/44670961/113560099-17f53d80-9620-11eb-8628-

[2021-04-05 11:42] austinogiza opened #1759 "[Learn] Implementation of Learn.layer5.io Navbar"
**Current Behavior**
Currently we have no navbar for the learn.layer5.io

**Desired Situation**
Creation  of the first iteration of the learn.layer5.io navbar

below is the design
<img width="1440" alt="navbar" src="https://user-images.githubusercontent.com/44683018/113569562-a2cb3d80-960a-11eb-9e48-e65827c7fd00.png">

design location in figma
https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Laye

[2021-04-05 11:46] Thea10 commented on #1758
@Ruth-ikegah assign this to me, please

[2021-04-05 12:01] Lezette commented on #1759
I would like to work on this @Ruth-ikegah

[2021-04-05 12:20] ting-c commented on #1757
Hi @chinmaym07 , I would like to work on this.

[2021-04-05 12:38] adithyaakrishna commented on #1758
@chinmaym07 Would this be good? 😶

https://user-images.githubusercontent.com/23498248/113574534-ed17e300-9639-11eb-99a1-4c5f5da1d457.mp4

[2021-04-05 12:39] adithyaakrishna commented on #1752
@iamayushdas Is this being worked on by you? 😶

[2021-04-05 12:40] iamayushdas commented on #1752
Yes

[2021-04-05 12:47] Anita-ihuman commented on #1757
Sure, go ahead @ting-c

[2021-04-05 12:58] chinmaym07 commented on #1758
You can refer to https://layer5.io/learn/service-mesh-labs to understand the desired nature.. @Thea10 .
Hey @adithyaakrishna thanks for showing interest ..As this issue is already assigned .. Meanwhile you can have a look on other available issues..Happy Contributing !! 😀

[2021-04-05 13:13] adithyaakrishna commented on #1757
Hey @ting-c , you can refer [this branch](https://github.com/adithyaakrishna/layer5/tree/feature/adithyaakrishna/issue%231757), I had solved this issue but hadn't committed it, feel free to refer that and make the changes in your fork

[2021-04-05 13:16] adithyaakrishna commented on #1758
Yeah sure @chinmaym07 , I had multiple PRs in the pipeline but yeah will work on others :)
Happy Hacking @Thea10 🚀

[2021-04-05 13:21] ting-c commented on #1757
Many thanks @adithyaakrishna, it is really helpful.

[2021-04-05 13:22] adithyaakrishna commented on #1757
Happy Hacking @ting-c 🚀

[2021-04-05 13:33] Thea10 commented on #1758
Alright, thank you @chinmaym07 .
thanks @adithyaakrishna

[2021-04-05 15:20] adithyaakrishna commented on #1699
@leecalcote Is this issue open? 👀

[2021-04-05 15:22] leecalcote commented on #1699
Yes, indeed. This is a good one to undertake. Someone needs to attempt to upgrade, show the site functioning as expected, and let a few of the maintainers poke around it to test. It’d be great for you to carry this forward.

[2021-04-05 15:45] chinmaym07 opened #1761 "Smooth transition of values to it's final value on getnighthawk page"
**Current Behavior**

Currently the values on getnighthawk page https://layer5.io/projects/getnighthawk are not smoothly getting to it's final value
 like we have here https://layer5.io/service-mesh-management/meshery

**As Currently ```<h3 /> tag``` is used . Just replace that with ```<Counter />``` Component present in /sections/reusecore** .

![Screenshot_2021-04-05 GetNighthawk(2)](https://use

[2021-04-05 17:20] h3ndry commented on #1761
Please asign me to this issue. Is my first time.

[2021-04-05 17:43] chinmaym07 commented on #1761
Thankyou @h3ndry !! Happy Contributing !!
Here is small info for you to solve this issue :-
**As Currently ```<h3 /> tag``` is used . Just replace that with ```<Counter />``` Component present in /sections/reusecore .**

[2021-04-05 18:00] chinmaym07 commented on #1555
Hey @Harshita-Kanal !! 👋🏻
Can you please provide an update here !!
If you have completed the required work for this issue ,then please do open a pr 🚀  🎆  .
If not, Can I go ahead & make a PR for this issue ?

[2021-04-05 19:51] leecalcote opened #1762 "[Event] KubeCon EU: Multiple speakers hyperlinked to same member profile"
**Description**
The hyperlink to speakers on [this event](https://layer5.io/community/events/cncf-sig-network-intro-and-deep-dive) is broken in that it points to two people on the same member profile. Member profiles are individually hosted.

Ken does not have a profile.
Lee has a profile.

**Expected Behavior**
Either no hyperlink at all or only Lee's name hyperlinked.

**Screenshots**
<img width

[2021-04-05 19:52] leecalcote commented on #1762
@adithyaakrishna fyi

[2021-04-06 03:52] SachiniAbeygunawardhana commented on #1762
Hi, I'm new to Open Source Contributions. Shall I work on this issue?

[2021-04-06 05:24] adithyaakrishna commented on #1762
@leecalcote  Will fix this ASAP 😶

[2021-04-06 07:06] adithyaakrishna commented on #1762
@leecalcote Can the page be like this?
https://layer5.io/community/events/kubecon-eu-2020
It does not have any speaker, If not I will change the code which renders the mdx file such that it will be like

- Speaker 1: (With Link)
- Speaker 2: (Without Link)

[2021-04-06 10:32] #1757 closed

[2021-04-06 10:35] Tanuj22 commented on #1555
@chinmaym07 go ahead

[2021-04-06 10:38] lumenCodes commented on #1707
@adithyaakrishna Please do. I can't meet up with it again.

[2021-04-06 10:42] Tanuj22 commented on #1762
@adithyaakrishna its fine as not all of these individual pages are referenced.

[2021-04-06 10:43] Tanuj22 commented on #1762
@SachiniAbeygunawardhana I think @adithyaakrishna is already working on this. Take a look at the others issues. A lot more of them to be tackled :)

[2021-04-06 10:47] Tanuj22 commented on #1585
This was a safari related issue if I remember correctly. @EmperorYP7 you have safari right? Can you take this up?

[2021-04-06 11:11] adithyaakrishna commented on #1707
@austinogiza Had a doubt, there is already a location option in the page, should I remove it across all pages and then change it to the one mentioned below?

![image](https://user-images.githubusercontent.com/23498248/113702266-ec915200-96f6-11eb-9c80-61af50928e43.png)

![image](https://user-images.githubusercontent.com/23498248/113702296-f7e47d80-96f6-11eb-9f96-468a3a7ad739.png)

[2021-04-06 11:18] austinogiza commented on #1707
@adithyaakrishna let me provide more context. We want to remove from the bottom of all the openings and put it at the top of all the openings. Basically we are just switching/swapping the positions on all

[2021-04-06 11:22] adithyaakrishna commented on #1707
Okay, got it but, there exists another Location option what to do about that?

[2021-04-06 11:29] austinogiza commented on #1707
@adithyaakrishna  let's use a map icon instead of location for the new one, what do you think?

[2021-04-06 11:34] adithyaakrishna commented on #1707
Yeah, that would be great. Like the Pointer kind of one right?
![image](https://user-images.githubusercontent.com/23498248/113704694-1c8e2480-96fa-11eb-9bf8-87518bfb434b.png)

[2021-04-06 11:43] leecalcote commented on #1707
Gents, we needed this completed quickly and so I went ahead and knocked this out earlier. I neglected to circle back to close it out. We’re ok to close this issue. Thank you, all, for your help.

[2021-04-06 11:43] #1707 closed

[2021-04-06 12:00] leecalcote commented on #1762
Wait, @adithyaakrishna. @SachiniAbeygunawardhana inquired first. Given that @SachiniAbeygunawardhana is new to open source, let’s be good stewards and ensure @SachiniAbeygunawardhana has a great first experience.

@SachiniAbeygunawardhana, please do take this issue forward. @adithyaakrishna is here to answer any questions that you might have - any at all. Please join the Layer5 community Slack if

[2021-04-06 12:12] adithyaakrishna commented on #1762
Yess Sure @leecalcote 🚀
@SachiniAbeygunawardhana Lmk if you have any issues, I would love to help you out 🦾

[2021-04-06 12:38] adithyaakrishna commented on #1595
Hey @Tanuj22 Can you assign me this?

[2021-04-06 13:02] SachiniAbeygunawardhana commented on #1762
@leecalcote, @adithyaakrishna Thanks a lot for assigning this to me. @adithyaakrishna Please excuse me if you had already started working on this. I will contact you if I need any help.

[2021-04-06 15:03] chinmaym07 commented on #1585
I tried to install safari on ubuntu using playonlinux , Safari is clearly getting installed & running . But When I try to navigate to http:localhost:8000/ in safari .. then website is not rendering at all. Yes @EmperorYP7 If you could do this . It will be really helpful . Thankyou !!

[2021-04-06 15:06] EmperorYP7 commented on #1585
Sure!

[2021-04-06 15:22] chinmaym07 commented on #1585
This issue will be there Related Blogs on Single Blog & Latest News on single News page . @EmperorYP7 Do rectify both !!

[2021-04-06 17:45] #1585 closed

[2021-04-06 18:03] adithyaakrishna commented on #1715
@Grumpyyash Any Update on this? 😶

[2021-04-06 19:47] rijusougata13 commented on #1715
anyone working on this or can i take this one?

[2021-04-06 19:56] rijusougata13 commented on #1716
hey anyone working on this or can i take this issue?

[2021-04-06 20:01] adithyaakrishna commented on #1699
Hey @leecalcote  I have successfully upgraded it to v3 and most of its dependent packages to their latest versions

There were some dependency issues which have been solved and the logs are below,
[Layer5-NPM-Logs.zip](https://github.com/layer5io/layer5/files/6267210/Layer5-NPM-Logs.zip)

To see the set of commands run when I worked upon this,
[Layer-Cprompt-Logs.txt](https://github.com/layer5io/l

[2021-04-06 20:03] adithyaakrishna commented on #1715
@rijusougata13 We are waiting for an update from @Grumpyyash , if he isn't working on this then you can take this up :)

[2021-04-06 21:19] leecalcote commented on #1716
Hi @blossom-babs, @rijusougata13, Thank you for asking. This one has been implemented already by @Jashpatel1.

I believe all that’s left on the discuss.layer5.io initiative is configuration of plugins, decisions on topic categories, and a production deployment.

[2021-04-06 21:20] leecalcote commented on #1716
@Jashpatel1, all clear to close this one when ready.

[2021-04-06 22:34] leecalcote commented on #1699
Great progress. Would you like to open a PR with these changes so that the build system might creat a preview and others can review?

[2021-04-06 22:46] SachiniAbeygunawardhana commented on #1762
The page looks like this after doing some minor changes.
![image](https://user-images.githubusercontent.com/47135264/113784938-d2d22800-9753-11eb-9ffb-34f250f5c825.png)
The hyperlink is removed. I tried to add the hyperlink only to the second speaker, but could not succeed yet.
Could you please tell me whether the above solution is acceptable?

[2021-04-07 02:46] leecalcote commented on #1762
Nice progress, @SachiniAbeygunawardhana 👍 I'll let @adithyaakrishna help identify a mechanism for adding a hyperlink.

[2021-04-07 05:47] adithyaakrishna commented on #1762
LGTM @SachiniAbeygunawardhana , @leecalcote The code for the events page, renders each member in speakers to a link associated with `/community/members/{speakerName}`

But in future events, we might not be sure if every speaker has a profile in our community so IMO we can add links to both of the speakers and the one who does not have will get the 404 Page.

So if this is implemented we can have t

[2021-04-07 07:17] SachiniAbeygunawardhana commented on #1762
@adithyaakrishna  thank you, but I had already tried it. I thought it is not appropriate to provide a link that directs to a 404 page, for some speakers. That's why I needed to see whether there is a way to filter out the members who have profiles and provide hyperlinks only for them. In brief, I needed to provide a link for Lee Calcote, but not for Ken Owens in the above scenario.

But, if provid

[2021-04-07 08:09] Grumpyyash commented on #1715
Myself and @Jashpatel1 sir are working on this, I think it's completed for desktop view. If you want you can start working on the mobile view of the same. @Jashpatel1 sir?

[2021-04-07 08:33] Tanuj22 commented on #1762
@SachiniAbeygunawardhana you can add a check to see if a member exist. Check PageHeader component for reference. Ping me on slack of you any question regarding this.

[2021-04-07 08:43] Nikhil-Ladha commented on #1762
Also, @SachiniAbeygunawardhana  while you are working on the issue please add the description (in the same  PR) as well for this event as mentioned in the description of this issue #1741 . Otherwise, the page looks empty.

[2021-04-07 11:26] leecalcote commented on #1715
@Grumpyyash good deal. Two items to overcome:

- use of font (should be Qanelas Soft)
- font weight should be lighter for the list items.

We’ll want for the user not to be able to tell the difference between the two sides, if we can.

[2021-04-07 11:29] leecalcote commented on #1762
Spot on, @SachiniAbeygunawardhana. 404s are always to be avoided. // @Jashpatel1

[2021-04-07 11:42] rijusougata13 commented on #1715
doesn't this desktop view also optimized (chage its shape like in picture) for mobile view like using grid or flexbox.?

[2021-04-07 12:06] adithyaakrishna commented on #1715
@rijusougata13 If @Jashpatel1 and @Grumpyyash agrees, Ig you can start working on the mobile view of the same, what would you say?

[2021-04-07 12:26] Jashpatel1 commented on #1715
Yaa sure

[2021-04-07 12:56] Grumpyyash commented on #1715
Yes, I will do that @leecalcote sir!

[2021-04-07 18:41] #1555 closed

[2021-04-07 18:42] Tanuj22 commented on #1708
@Harshita-Kanal any updates here?

[2021-04-07 21:01] rijusougata13 commented on #1715
are you guys creating separate component for footer for mobile view and desktop view? like we can simply use flex to make the same code compatible for mobile view and desktop view

[2021-04-09 02:48] leecalcote commented on #1762
@SachiniAbeygunawardhana, a quick check-in here.... we're in need of getting this item fixed today (on Friday). Do message if this timeline is too tight and we'll get you switched to another, open issue that isn't as urgently needed. 👍

[2021-04-09 03:21] SachiniAbeygunawardhana commented on #1762
@leecalcote I'm really sorry for the delay. I'm already done with the hyperlink. Now I'm working on adding the description as @Nikhil-Ladha  requested. Additionally, I figured out that the date of the event too is not visible in the particular page. An overflow occurs in the SwiperSlide element and I'm trying to fix it. I think I will be able to complete it today.
This is the current view of the p

[2021-04-09 12:17] SachiniAbeygunawardhana commented on #1762
@leecalcote
The main part of the issue - **hyperlinking** is already fixed and the changes are pushed in to a separate branch.
But it seems a bit hard to render the date and the description to the page. I doubt that it is a overflow, but couldn't fix it yet. As this is needed to be completed today, I have no problem if someone else can look into it too, and I'm really sorry for not be able to add

[2021-04-09 12:25] Tanuj22 commented on #1762
@SachiniAbeygunawardhana what seems to be the problem with adding the description? Is simply writing HTML on the mdx file not working? You can take a reference of [Istiocon workshop](https://raw.githubusercontent.com/layer5io/layer5/master/src/collections/events/istiocon2020/index.mdx).

You can open a PR and I will help in figuring out the issue

[2021-04-09 12:29] Tanuj22 opened #1773 "[Blog] Fix responsiveness of a blog"
**Description**
The blog [Meshmate of the Year 2020](https://layer5.io/blog/community/meshmate-of-the-year-2020-nikhil-ladha) is not responsive for mobile view.

**Expected Behavior**
The blog should be responsive

**Screenshots**
![Screenshot from 2021-04-09 17-58-34](https://user-images.githubusercontent.com/42486853/114179935-3b402580-995d-11eb-9ad7-b95ab5d12d0c.png)

---
**Contributor Resource

[2021-04-09 12:40] Tanuj22 commented on #1761
Hey @h3ndry any updates here?

[2021-04-09 15:53] Ruth-ikegah commented on #1773
@blossom-babs wanna take this up?

[2021-04-09 15:55] blossom-babs commented on #1773
Yes please.  Can I get assigned to this?

[2021-04-09 16:01] Tanuj22 commented on #1773
@blossom-babs please go ahead

[2021-04-09 18:08] chinmaym07 opened #1774 "[Program] Add SheCodeAfrica Contributhon Program to Open Source Programs Page"
**Current Behavior**

Layer5 is participating in SheCodeAfrica Contributhon Program & [Programs Page](https://layer5.io/careers/programs) is missing card & details for it .

**Desired Situation**

Add a Card & details for SheCodeAfrica Program .
Please refer to this doc for more details about the program
https://docs.google.com/document/d/1_LUAqcCnAl-8lCZMKBSRUsZB1358SjHT3cPyej2wTcg/edit#

---
**C

[2021-04-09 18:09] leecalcote commented on #1762
@Tanuj22 great suggestion. @SachiniAbeygunawardhana  getting a PR up (even in draft) will facilitate the assistance of others.

[2021-04-09 18:10] leecalcote commented on #1774
// @Ruth-ikegah

[2021-04-09 19:27] Thea10 commented on #1774
@Ruth-ikegah  please assign this to me

[2021-04-10 05:04] SachiniAbeygunawardhana commented on #1762
@Tanuj22 Thanks a lot for the tip. I was trying to add a variable for the description in the mdx file. Simply adding the description as the abstract solved the issue.

really sorry for taking this much time, I'll immediately open up a PR.

[2021-04-10 21:24] ramrodo opened #1776 "[Community] Member Profile: Stephen Miller"
**Current Behavior**

@smille02a has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @smille02a as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: `@smille02a`
- Twitter: `@smille02`
- LinkedIn: http://www.linkedin.com/in/swmps
- Link to profile picture:
![profile-1602695611518](https://user-imag

[2021-04-11 18:33] #1762 closed

[2021-04-11 21:26] leecalcote opened #1778 "[Community] Handbook: Add link to New Community Member form"
**Current Behavior**
A new, vanity link has been created to make it simple to direct newcomers to the Community Member form.

**Desired Behavior**
https://layer5.io/newcomer redirects to the community member form at https://docs.google.com/forms/d/e/1FAIpQLSdMLeZY6hZ46yYNkoKKV5OM-jCypjbYcqptbUNltEE73EqCjA/viewform

A note about the availability of this convenient link can be made in the Layer5 Com

[2021-04-11 21:28] leecalcote commented on #1778
FYI @Ruth-ikegah

// @Annysah, @sandygudie, @Abiola-Farounbi

[2021-04-12 10:11] Tanuj22 commented on #1752
@iamayushdas any updates here?

[2021-04-12 10:20] iamayushdas commented on #1752
No i tried but unable to do this . need help!

[2021-04-12 11:49] Ruth-ikegah commented on #1778
noted! @leecalcote

[2021-04-12 12:24] #1758 closed

[2021-04-12 19:39] dhruv0000 opened #1779 "[BUG] Meshery Landscape Page Distorted"
**Description**

![image](https://user-images.githubusercontent.com/44001539/114449955-06e59700-9bf3-11eb-8d80-b5e70be78479.png)
![image](https://user-images.githubusercontent.com/44001539/114450021-1d8bee00-9bf3-11eb-8e81-6977ab35795b.png)

**Expected Behavior**

**Screenshots**

**Enviroment:**
- Host OS: Ubuntu 20.04.2 LTS
- Kubernetes Version:
- Browser: Chrome 89.0.4389.114

---

[Optional] *

[2021-04-12 19:46] leecalcote commented on #1779
On macOS Big Sur with either Safari 14.0.3 or Chrome 89.0.4389.114, I don't see this issue. Doesn't mean that this isn't an issue, but here are two additional data points for you.

[2021-04-12 20:12] Tanuj22 commented on #1779
Can't replicate the issue on Ubuntu 20.04 and Chrome 89.0.4389.114 :thinking:

[2021-04-13 03:26] leecalcote opened #1780 "[Brand] Create new section for GetNighthawk"
**Current Behavior**
GetNighthawk is an upcoming Layer5 project. It now has a logo and small brand kit that needs to be made available on https://layer5.io/brand

**Desired Behavior**
On https://layer5.io/brand:
1. A new section for GetNighthawk needs to be created.
1. The zipped brand kit needs to be made available for download.
[getnighthawk-brand-kit.zip](https://github.com/layer5io/layer5/file

[2021-04-13 03:29] #1736 closed

[2021-04-13 04:11] Nikhil-Ladha commented on #1779
@dhruv0000  Open the page, and then again reload it.

[2021-04-13 07:52] Nikhil-Ladha commented on #1001
I think we are good to close this issue now?
@leecalcote @vinayaksh42

[2021-04-13 07:53] Nikhil-Ladha commented on #1559
Hey @Tanuj22, would you mind knocking out this simple item?

[2021-04-13 09:09] dhruv0000 commented on #1779
@Nikhil-Ladha Still the issue persists. The issue doesn't persists in Firefox though. Since it is local to my machine, I think I will take a look into it when I get some time.

[2021-04-13 10:33] Tanuj22 commented on #1559
I seemed to have missed this. WIll do it ASAP

[2021-04-13 10:40] Tanuj22 opened #1782 "[Programs] Logo not centered"
**Description**
The logo is not vertically centered for Linux Foundation at https://layer5.io/careers/programs

**Expected Behavior**
The logo should be vertically centered

**Screenshots**

![Screenshot from 2021-04-13 16-09-57](https://user-images.githubusercontent.com/42486853/114540042-b9a90a00-9c72-11eb-9018-8b2917e42df5.png)

**Enviroment:**
- Host OS: Ubuntu 20.04
- Browser: Chrome 89.0.438

[2021-04-13 11:42] #1708 closed

[2021-04-13 13:23] leecalcote commented on #1001
Yes, although, we have two final tasks:

1. Question cleanup: Lee
2. Identify where to put buttons that link to this page: Vinayak, Nikhil,
Austin

On Tue, Apr 13, 2021 at 2:52 AM Nikhil_Ladha ***@***.***>
wrote:

[2021-04-13 14:01] Thea10 commented on #1780
@Ruth-ikegah please assign this to me

[2021-04-13 14:43] Ruth-ikegah commented on #1780
sure!

[2021-04-13 15:43] leecalcote commented on #1780
@Ruth-ikegah, @Thea10 thank you. @Thea10, please note that I _just_ uploaded a new version of the brand-kit zip file in the issue description above.

[2021-04-13 16:58] Anita-ihuman commented on #1776
@Smille02a  can you please provide a short bio about yourself.

[2021-04-13 16:58] Anita-ihuman commented on #1776
@ramrodo can i take up this issue?

[2021-04-13 17:01] ramrodo commented on #1776
Sure @Anita-ihuman, please go ahead 😊

[2021-04-13 19:52] adithyaakrishna commented on #1782
@Tanuj22 Can I work on this?

[2021-04-13 19:53] Jashpatel1 commented on #1782
Yes, please go ahead.

[2021-04-13 20:08] Smille02a commented on #1776
Sure. Please feel free to prune at your discretion.

I am a Senior IT Solutions Architect with over 29 years of experience in F50/F500 enterprise-class systems. My experience includes over 10-years of virtualization (Windows, Solaris) and various cloud platforms with modern software stacks.
Current activities include DevOps and Microservices, cloud migrations (lift and shift, greenfield, redesign)

[2021-04-13 20:19] adithyaakrishna commented on #1782
@Tanuj22 @Jashpatel1 This can be immediately changed using `position: initital` property but since we are upgrading gatsby to a latest version some of the images may need realignment again which I'm working on already. Should I fix this individually or should I fix it as part of #1767 ?

[2021-04-13 21:07] Anita-ihuman commented on #1776
Please can you include your location(state & country)

[2021-04-13 21:10] Smille02a commented on #1776
Sure, Manhattan, NYC, NY, US

thx-swm

From: Anita-ihuman ***@***.***>
Sent: Tuesday, April 13, 2021 5:07 PM
To: layer5io/layer5 ***@***.***>
Cc: Stephen Miller ***@***.***>; Mention ***@***.***>
Subject: Re: [layer5io/layer5] [Community] Member Profile: Stephen Miller (#1776)

Please can you include your location(state & country)

-
You are receiving this because you were mentioned.
Reply to this

[2021-04-13 22:37] sandygudie commented on #1778
Noted @leecalcote

[2021-04-13 23:40] leecalcote commented on #1778
Good, good. Thank you. We need a propagating this link a little. Including it in read me is next to callouts for joining the community might be a good idea.

[2021-04-14 03:04] Annysah commented on #1778
Noted

[2021-04-14 05:41] Jashpatel1 commented on #1782
You can fix it in #1767

[2021-04-14 05:41] Thea10 commented on #1780
noted @leecalcote

[2021-04-14 13:46] Abiola-Farounbi commented on #1778
Yes it is

[2021-04-14 18:42] vinayaksh42 opened #1784 "[Project] Getnighthawk logo update"
**Current Behavior**
old getnighthawk logo being used on https://layer5.io/projects/getnighthawk and https://layer5.io/projects

**Desired Situation**
update this logo to the new getnighthawk logo

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contribut

[2021-04-14 19:04] #1784 closed

[2021-04-15 03:15] #1774 closed

[2021-04-15 18:58] #1780 closed

[2021-04-15 22:16] OlaoluwaM commented on #1761
Hey @Tanuj22 , is this issue still available?

[2021-04-15 22:21] OlaoluwaM commented on #1752
Hey @iamayushdas do you still need help?

[2021-04-15 22:22] iamayushdas commented on #1752
yes

[2021-04-15 22:46] leecalcote commented on #1752
@OlaoluwaM if you are considering adding a helping hand, I'll encourage you to join the Layer5 Community Slack, as you might find it a convenient way to collaborate and chat (http://slack.layer5.io) as this issue is worked through.

[2021-04-15 23:49] austinogiza opened #1788 "[Discuss] Navbar spacing fix and refactor"
**Current Behavior**
The current navbar has inconsistent spacing and looks choked

**Desired Situation**
We should try achieving consistent spacing in the discuss.ayer5.io navbar same as with the design.
<img width="1440" alt="discuss navbar" src="https://user-images.githubusercontent.com/44683018/114949503-13fbc380-9e49-11eb-9f96-dc239d2f0cd7.png">

Here is the figma link to the navbar frame
http

[2021-04-16 03:13] imraghav20 commented on #1788
Hi @austinogiza
I would like to take up this issue.

Are you talking about the navbar in [layer5.io](https://layer5.io/) website? Or some other website?
[I am unable to access discuss.layer5.io]

[2021-04-16 04:10] leecalcote commented on #1788
Excellent!

[2021-04-16 06:12] Nikhil-Ladha commented on #1788
The spacing issue is from the discourse side itself. It doesn't provide a facility to Center the navbar.
Do check with @Jashpatel1 once about the possibilities of the same.

[2021-04-16 12:07] imraghav20 commented on #1788
I have customised the header to this
![curr navbar](https://user-images.githubusercontent.com/59257038/115022012-6638f500-9eda-11eb-9ca1-1b68e0f9c820.PNG)

Earlier it was like this
![prev navbar](https://user-images.githubusercontent.com/59257038/115021819-1ce8a580-9eda-11eb-9a6f-61f541a113e8.PNG)

[2021-04-16 12:08] imraghav20 commented on #1788
Should I even move `Sign Up` and `Log In` buttons to right of search and menu?

[2021-04-16 12:10] Jashpatel1 commented on #1788
Yes, please go ahead.

[2021-04-16 13:25] OlaoluwaM commented on #1752
Oh alright, how do I join

[2021-04-16 13:26] leecalcote commented on #1752
See the link in the comment above

[2021-04-16 13:54] OlaoluwaM commented on #1752
Done! What's the URL for the problem area on the website?

[2021-04-16 14:28] chinmaym07 commented on #1752
Here it is @OlaoluwaM  https://layer5.io/service-mesh-management/meshery/getting-started

[2021-04-16 15:32] chinmaym07 opened #1789 "[Blog] Meet The Maintainer : Jash Patel"
**Current Behavior**

Maintainer Update : Meet The Maintainer Jash Patel is a new blog post .
It's not on the layer5.io website

**Desired Situation**

To make a new blog post & add it to [layer5.io](https://layer5.io)
Refer to this doc for more info
https://docs.google.com/document/d/1o5MasuMXM8unApoTaqrscZy34BQe0_-mdAvmP-6qqjc/edit

Here is a link to the cover photo
https://layer5.io/static/551a

[2021-04-16 15:40] blossom-babs commented on #1789
I’ll work on this

[2021-04-16 15:46] Ruth-ikegah commented on #1789
sure @blossom-babs go ahead!

[2021-04-16 19:35] Tanuj22 commented on #1761
Please go ahead

[2021-04-17 15:35] OlaoluwaM commented on #1761
Hey, would it make sense to add the gatsby-cli as a dependency rather than having other contributors install it globally?

[2021-04-17 15:56] OlaoluwaM commented on #1761
https://user-images.githubusercontent.com/37044906/115118937-73ea8b00-9f6b-11eb-85f3-ed6bf18cce00.mp4

[2021-04-17 15:59] OlaoluwaM commented on #1761
Also, I found an issue with the site, was wondering if I should just reference it here or create a separate issue

[2021-04-17 16:00] Tanuj22 commented on #1761
I believe it was added as a dependency but the guide wasn't. Do you mind updating it?

[2021-04-17 16:00] Tanuj22 commented on #1761
Looks good. Please open a PR

[2021-04-17 16:00] Tanuj22 commented on #1761
You can open up an issue

[2021-04-17 16:02] OlaoluwaM commented on #1761
https://user-images.githubusercontent.com/37044906/115119117-6a155780-9f6c-11eb-971c-b825b5ebd508.mp4

[2021-04-17 16:03] OlaoluwaM commented on #1761
I'll open another issue

[2021-04-17 16:06] OlaoluwaM commented on #1761
Sure, but in my branch I updated it to the latest minor version, 3.3.0. Whereas on the master branch here it is version 3.2.0. Should I still go ahead? The update will be part of this PR

[2021-04-17 16:09] Tanuj22 commented on #1761
Yeah sure

[2021-04-17 17:00] OlaoluwaM opened #1791 "Bump Gatsby CLI from version 3.2.0 to 3.3.0"
**Current Behavior**

Project is using version 3.2.0 of gatsby-cli

**Desired Situation**

Project should use latest minor version 3.3.0

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- Se

[2021-04-17 17:05] leecalcote commented on #1791
Related to https://github.com/layer5io/layer5/pull/1767

[2021-04-17 17:59] Nikhil-Ladha commented on #1791
I would recommend we should not bump dependencies so fast as 3.3.0 was out recently and many times new version can bring unwanted issues.
Also, what benefit does 3.3.0 give over 3.2.0?

[2021-04-17 18:04] OlaoluwaM commented on #1791
I was given the go-ahead by @Tanuj22 so you can ask him 🙂

[2021-04-17 18:05] Tanuj22 commented on #1791
I didn't knew that 3.3.0 was out recently. Then 3.2.0 would be better 😅

[2021-04-17 18:07] Nikhil-Ladha commented on #1791
I checked the release notes and the updates are good, but only beneficial if we are using Gatsbyv3. So, considering that is still in progress, I would suggest only make the doc update and the dependency can be updated In the other PR, i.e, #1767

[2021-04-17 18:10] #1791 closed

[2021-04-18 10:17] vinayaksh42 opened #1794 "[Project] Getnighthawk Logo update for Project Grid"
**Current Behavior**
The old logo of Getnighthawk is currently on the Project Grid page

![chrome_8GiA6JJjbW](https://user-images.githubusercontent.com/54861487/115142021-0b7bd680-a05d-11eb-8c8b-29404d5d46ea.png)

**Desired Situation**
Update it to the new logo of getnighthawk. You can find the suitable files required for this at https://layer5.io/company/brand or simply link it with the already e

[2021-04-18 10:38] #1776 closed

[2021-04-18 10:57] adithyaakrishna commented on #1794
@vinayaksh42 Can You Assign this to Me?
If it's okay will fix this issue as part of PR #1767

[2021-04-18 11:12] vinayaksh42 commented on #1794
@adithyaakrishna that PR already refers to 2 different issues. It would be better if you open a separate PR for this issue so that it is easy to review it.

[2021-04-18 11:17] adithyaakrishna commented on #1794
Okay Sure @vinayaksh42

[2021-04-18 11:45] #1699 closed

[2021-04-18 11:45] #1782 closed

[2021-04-18 14:43] #1761 closed

[2021-04-18 17:36] OlaoluwaM opened #1795 "Nav toggles back and forth between elevated and flat state"
**Description**

The navbar, after you scroll up to a certain point then stop scrolling, toggles quickly between elevated (with box shadow) and flat states causing to look as if its shaking

**Expected Behavior**

It should remain in one place. I think this is an edge-case because this behavior occurs at the instant where the box-shadow is supposed to be applied to the nav.

**Screenshots**

https

[2021-04-18 18:20] #1773 closed

[2021-04-19 12:52] adithyaakrishna commented on #1794
@vinayaksh42 Could you please assign this to me?

[2021-04-19 14:19] adithyaakrishna commented on #1244
@Nikhil-Ladha Is this issue up for grabs? 👀

[2021-04-19 14:26] Nikhil-Ladha commented on #1244
Ohh, I guess you will have to write the blog post yourself. Just a CAUTION incase you were not sure. If, you are comfortable, please go ahead.

[2021-04-19 14:31] adithyaakrishna commented on #1244
No worries, I'll do this for sure 💪🏻

[2021-04-19 15:59] #1794 closed

[2021-04-19 16:35] imraghav20 commented on #1788
I explored `Discourse` but could not find any solution.
It has option to edit only the CSS for header but not HTML.

If we write any HTML inside the `Header` tab of Discourse, then one more header is added at the top.
So, I created a new header in the `Header` tab and set `display: none` for the pre-built header.
This solution worked as far as the UI is concerned but the `Log in` and `Sign up` but

[2021-04-19 19:04] leecalcote opened #1798 "[Getting Started] Broken images on Meshery's Getting Started page"
**Description**
On https://layer5.io/service-mesh-management/meshery/getting-started, there are a number of broken images which are in need of being fixed.

**Screenshots**
<img width="997" alt="Screen Shot 2021-04-19 at 2 02 35 PM" src="https://user-images.githubusercontent.com/7570704/115289354-16e00800-a118-11eb-90d3-7ef0c2e040a5.png">

<img width="1269" alt="Screen Shot 2021-04-19 at 2 04 45 P

[2021-04-19 20:36] #1798 closed

[2021-04-19 20:57] adithyaakrishna opened #1801 "[Feature] Upgrading <img> to <StaticImage> using gatsby-plugin-image"
**Current Behavior**
After the upgradation of Gatsby from v2 to v3, it bought some major changes to the way images are rendered.
As of now `<GatsbyImage> `is used for images along with `<img`> for .svg files

**Desired Behavior**

We need to explore complete possibilities of `gatsby-plugin-image` along with its benefits for all the images on the site
Eg. We need to utilize the plugin for using `<S

[2021-04-20 13:23] Aisuko commented on #1414
@Anita-ihuman Thanks. We use `vscode-dev-containers` to handle this. Please check https://github.com/layer5io/layer5/tree/master/.devcontainer

[2021-04-20 13:23] Aisuko commented on #1414
Close due to #1597

[2021-04-20 13:23] #1414 closed

[2021-04-21 07:00] chinmaym07 opened #1802 "[Projects] Update Distributed Performance Management Page"
**Current Behavior**

1. Currently Some info is missing from [Distributed Performance Management Page](https://layer5.io/projects/distributed-performance-management)
2. Padding & margin is also missing.

**Desired Situation**

Add Some more info to this page using the slides
https://docs.google.com/presentation/d/1mDE9K8OJ3lyl4GN98Ja3c9ATGWS4rByRtCPIKcoc7LY/edit#slide=id.g77e93b29e5_1_0
& increase

[2021-04-21 11:37] Nikhil-Ladha opened #1804 "[Community] Member Profile: Adithya Krishna"
**Current Behavior**
@adithyaakrishna  has been a consistent contributor and community member. It's time to recognize his contributions by adding a member profile on the layer5.io/community/members page.

**Desired Situation**
Let's recognize @adithyaakrishna  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: adithyaakrishna
- Twitter: a

[2021-04-21 15:14] OlaoluwaM commented on #1804
Hey @Nikhil-Ladha  can I take this?

[2021-04-21 15:25] Nikhil-Ladha commented on #1804
@adithyaakrishna if you could share the requested details here, it would be helpful. 🙂

[2021-04-21 15:43] leecalcote opened #1805 "[README] Broken image link for GetNighthawk"
**Current Behavior**
The GetNighthawk logo is missing in this repo's readme. The GetNightHawk logo can be found here - https://layer5.io/brand.

**Desired Situation**
GetNighthawk logo image should be stored in and reference from here - https://github.com/layer5io/layer5/tree/master/.github/assets/images

**Screenshot**
<img width="889" alt="Screen Shot 2021-04-21 at 10 40 37 AM" src="https://user

[2021-04-21 16:03] Nikhil-Ladha commented on #1804
@OlaoluwaM I have updated almost all the details above, you can open a PR with the above data, while we wait for a short bio from Adithya.

[2021-04-21 21:51] austinogiza opened #1962 "[Learn] Home: Creating the main page of Learn"
**Current State:**
There is currently no home page for the learn.layer5.io

**Desired State:**

As such, a design has been created for the learn.layer5

below are some components for the page, its design and its assets

For the card component, this is the styling to aid for pixel perfect implementation
height: 200px;
width: 300px;
background: #FCFCFC;
border-radius: 10px;

For the hero section thi

[2021-04-22 08:50] adithyaakrishna commented on #1804
- Name: Adithya Krishna
- Location: Bengaluru, Karnataka, IN
- GitHub: https://github.com/adithyaakrishna
- Twitter: https://twitter.com/adii_kris
- LinkedIn: https://linkedin.com/in/adiiikris
- Bio:
An enthusiastic Final Year CSE student at Jyothy Institute of Technology, Bengaluru and trying to explore newer fields and a person who loves to contribute to Open Source Software. I'm also the type o

[2021-04-22 16:02] karinape commented on #1795
Hi! I would like to take a look at this!

[2021-04-22 16:15] leecalcote commented on #1795
@karinape that would be excellent. 👍

[2021-04-22 18:51] Abiola-Farounbi commented on #1805
can i be assigned

[2021-04-22 18:52] Abiola-Farounbi commented on #1805
I would like to work on this issue

[2021-04-22 19:04] leecalcote commented on #1805
Perfect. 🙂

[2021-04-22 21:19] leecalcote opened #1807 "[Careers] Add a Layer5 card to the list of internship programs"
**Current Behavior**
The [internship programs page](https://layer5.io/careers/programs) is missing an entry for Layer5. Layer5 sponsors internships in collaboration with other groups as well as offers internships directly.

**Desired Behavior**
A Layer5 card should be shown and should lead to https://layer5.io/careers/internships

---
**Contributor Resources**

The layer5.io website uses Gatsby, R

[2021-04-22 23:08] leecalcote opened #1809 "[Careers] Create animated peek-in on hover of internship card"
**Current Behavior**
The internship cards on [this page](https://layer5.io/careers/internships) elevate off the page when they are hovered over.

https://user-images.githubusercontent.com/7570704/115794699-118ef180-a394-11eb-92c0-dae092fd1faf.mov

**Desired Behavior**
Using CSS, it would be nice to add an effect of a Layer5 card peeking in on hover; transitioning in from the right-hand side.

**Mo

[2021-04-23 08:52] Thea10 commented on #1809
@leecalcote I'd like to work on this

[2021-04-23 10:36] #1805 closed

[2021-04-23 10:41] #1795 closed

[2021-04-23 10:58] karinape commented on #1801
I would like to work on this!

[2021-04-23 14:40] Nikhil-Ladha opened #1811 "Typo in the descriptions section of the UI job listing"
**Description**

Typo in the description of the UI Job posting page, under careers.

**Expected Behavior**

Comformable -> Comfortable

**Screenshots**

![IMG_5893](https://user-images.githubusercontent.com/29438875/115887599-b8948b80-a46f-11eb-817c-944417e49214.jpg)

---

[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to https://layer5.io/careers/ui-engineer
2. Scroll to 'Desi

[2021-04-23 15:28] Tanuj22 commented on #1801
@karinape please go ahead. Do note that this issue is a bit vague so you need to explore how we would go about replacing all the `<img>` tags. If you have questions please reach out in slack

[2021-04-23 16:34] Lezette opened #1813 "Layer5 event website improvment"
**Current Behavior**
When an event card is clicked it takes the user straight to an external link for the card

**Desired Behavior**
When the title is clicked we want it to take the user to an internal page that contains a short write up about the event

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](http

[2021-04-23 16:44] adithyaakrishna commented on #1811
@Nikhil-Ladha There's a Typo in this page too, https://layer5.io/careers/software-engineer 😶

- Go to : https://layer5.io/careers/software-engineer
- Scroll to 'Desired Qualifications' section

![image](https://user-images.githubusercontent.com/23498248/115903393-26957e80-a481-11eb-8538-dcd6e6ae5032.png)

[2021-04-23 16:49] leecalcote commented on #1811
Softhaired engineers are welcome to apply.

[2021-04-23 16:49] leecalcote commented on #1811
Good catch, Aadhitya

[2021-04-23 17:49] adithyaakrishna commented on #1811
I can't stop laughing at this 😂😂😂

@github should add this "😂" emoji to the reactions

[2021-04-23 21:29] Abiola-Farounbi commented on #1811
I would like to be assigned this issue

[2021-04-23 21:33] leecalcote commented on #1811
@Abiola-Farounbi a quick note to ensure that ensure that you're able to contribute with a little friction as possible, as a community member you are empowered to self-assign issues as you see fit. 👍

[2021-04-23 21:36] Abiola-Farounbi commented on #1811
Wow, I didn't know
Thanks lee

[2021-04-23 21:46] leecalcote commented on #1813
Thank you, @Lezette ✔️

[2021-04-23 22:01] karinape commented on #1801
Will do! @Tanuj22

[2021-04-24 00:55] leecalcote opened #1815 "[CONTRIBUTING] Missing GetNighthawk badge"
**Description**
Contributors receive badges on their member profiles when they engage in specific projects. The list of batches can be seen in the [contributing.md](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) . This list is missing an entry for GetNighthawk and has a duplicate entry for SMP

**Expected Behavior**
- no duplications
- the getnighthawk badge

GetNighthawk logo can

[2021-04-24 12:20] jomefavourite commented on #1807
I'll like do this

[2021-04-24 15:23] #1811 closed

[2021-04-24 15:25] leecalcote commented on #1807
Perfect. 🙂

[2021-04-24 16:17] adithyaakrishna commented on #1809
Hey @Thea10
I guess you can start working on this directly as @leecalcote had mentioned it here regarding self-assigning of issues,
https://github.com/layer5io/layer5/issues/1811#issuecomment-825936617 👀

[2021-04-24 16:21] adithyaakrishna commented on #1778
@leecalcote How about if we can add a button here at https://layer5.io/community/newcomers to redirect to the form for newcomers? 😶

[2021-04-24 16:54] Thea10 commented on #1809
thank you @adithyaakrishna

[2021-04-24 18:31] leecalcote commented on #1778
@adithyaakrishna, yes. We’re in need of butting a link to https://layer5.io/newcomer is a few places.

[2021-04-24 18:46] adithyaakrishna commented on #1778
Okay Sure @leecalcote , do let me know all the other places where the button & link has to be present. Will work on it and finish by tomorrow 🚀

[2021-04-24 19:29] leecalcote commented on #1778
Before I suggest a spot or two across the site, I'm curious if others have suggestions. @Abiola-Farounbi @sandygudie @Annysah @Ruth-ikegah?

[2021-04-24 20:20] Ruth-ikegah commented on #1778
A button just before "How to contribute" sounds good to me. @adithyaakrishna

Another suggestion will be to add it to the map, but then a redesign might need to happen. Although with the coming of the community handbook, some items like Newcomer's guide, community guide, and Repository overview will be replaced since the community handbook will have that

[2021-04-25 00:12] Dr-Calvin opened #1818 "Bad link for Service Mesh Performance in README"
**Current Situation**
Hyperlink in README file for Service Mesh Performance - "https://layer5.io/performance" doesn't link to an actual page. (404)

**Desired Situation**
Redirect link to https://layer5.io/projects/service-mesh-performance

[2021-04-25 00:23] leecalcote commented on #1818
Thanks for filing this, @Dr-Calvin. 👍

[2021-04-25 13:11] #1818 closed

[2021-04-25 16:42] josephmidura commented on #1815
I can fix this one.

[2021-04-25 16:50] leecalcote commented on #1815
Thank you, @josephmidura. That would be great. 👍

[2021-04-26 01:38] #1815 closed

[2021-04-26 11:58] adithyaakrishna opened #1822 "[Blog] - SIG Network at KubeCon EU 2021"
**Current Behavior**
The upcoming event at KubeCon EU 2021 regarding CNCF SIG Network Intro and Deep Dive doesn't have a blog at https://layer5.io/blog

**Desired Situation**
A post about the upcoming talk by Ken Owens and Lee Calcote. For reference, we have the [Presentation](https://static.sched.com/hosted_files/kccnceu2021/77/SIG%20Network%20at%20KubeCon%20EU%202021%20with%20Lee%20Calcote%20and

[2021-04-26 12:02] adithyaakrishna commented on #1822
@leecalcote Could you please confirm this and suggest if any changes are necessary with respect to the contents of the blog?

[2021-04-26 12:07] adithyaakrishna commented on #1778
@Ruth-ikegah  Okay sure will add it there. Also, if it's to be added to community handbook, I would love to work on it as it involves redesigning part too 👀

[2021-04-26 14:41] leecalcote commented on #1822
Another Tentative Title: "Diving into the CNCF Service Mesh WG at KubeCon EU 2021"

[2021-04-27 15:06] Anita-ihuman commented on #1802
If i understand you correctly you want include the slides(https://docs.google.com/presentation/d/1mDE9K8OJ3lyl4GN98Ja3c9ATGWS4rByRtCPIKcoc7LY/edit#slide=id.g77e93b29e5_1_0) on this page ?

[2021-04-27 17:40] jomefavourite commented on #1807
@leecalcote I've successfully added the layer5 card but the permalink isn't working it keeps routing to `program/careers/internships` when it like this `permalink: 'careers/internship'`. How I'm I to add the link please

[2021-04-27 18:21] #1559 closed

[2021-04-27 18:21] #1724 closed

[2021-04-28 08:52] Tanuj22 commented on #1804
@OlaoluwaM any updates here?

[2021-04-28 12:32] Nikhil-Ladha commented on #1779
@dhruv0000 is this issue still reproducible?
Could you please try it out in incognito mode for Chrome, if it doesn't reproduce there might be a cache issue?

[2021-04-28 15:48] chinmaym07 commented on #1802
Yes @Anita-ihuman  It would be good if we can include some info present in the slides directly without adding the slides itself . As slides are already present on this page https://layer5.io/projects/service-mesh-performance

[2021-04-28 16:08] #1802 closed

[2021-04-28 18:12] #1809 closed

[2021-04-28 21:12] OlaoluwaM commented on #1804
Hey @Tanuj22 , so sorry for the delay I had to take care of some personal things. I will finish this up soo. Thanks🙂

[2021-04-29 13:52] leecalcote opened #1827 "[Community] Set Contributor Journey map block background to white"
**Description**
The background here is off-white.

**Expected Behavior**
Background of this section should be pure white.

**Screenshots**
<img width="1228" alt="Screen Shot 2021-04-29 at 8 51 16 AM" src="https://user-images.githubusercontent.com/7570704/116561777-3b7e7180-a8c8-11eb-8a3f-08ddc6fa530a.png">

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages.

[2021-04-29 16:33] #1813 closed

[2021-04-29 16:49] OlaoluwaM commented on #1804
What does the `blurb` field represent?

[2021-04-29 16:54] Tanuj22 commented on #1804
Its not being used currently. You can just keep it `Mesh Head` for now

[2021-04-29 17:08] OlaoluwaM commented on #1804
Done!

[2021-04-29 19:45] austinogiza opened #1831 "[Community] Member Profile: Hussaina Begum Profile Picture Update And Promotion"
**Current Behavior**

Hussaina Begum has been a consistent contributor and community member.

**Desired Situation**

We are looking to update Hussaina Begum profile picture in her member's profile  https://layer5.io/community/members/hussaina-begum/ to a new improved photo and promote her from Contributor to Maintainer, Mesheryctl.

What we need to do .

- Update the profile photo
- Promote Hussai

[2021-04-29 19:51] #1804 closed

[2021-04-29 20:06] Tanuj22 commented on #1595
Fixed in #1814

[2021-04-29 20:06] #1595 closed

[2021-04-29 20:40] Lezette commented on #1595
@adithyaakrishna what am I supposed to fix?

[2021-04-30 11:52] navendu-pottekkat opened #1832 "[Community] Member Profile: Piyush Singariya"
**Current Behavior**

@piyushsingariya has been a consistent contributor and community member.

**Desired Situation**

Let's recognize @piyushsingariya as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub:  piyushsingariya
- Twitter:  piyushsingariya
- LinkedIn:  piyushsingariya
- Link to profile picture: https://drive.google.com/file/d/1LpZ

[2021-04-30 11:52] navendu-pottekkat commented on #1832
@piyushsingariya could you provide a short bio to add here?

[2021-04-30 13:14] #1831 closed

[2021-04-30 15:04] piyushsingariya commented on #1832
A Software Engineer from Bikaner, India. Passionate about Anime and solving impactful problems. Open to challenges and opportunities!

[code]

[2021-05-01 07:07] adithyaakrishna commented on #1832
Check this out, @sachindavra
Lmk if you can work on it :)

[2021-05-01 07:18] sachindavra commented on #1832
Thanks @adithyaakrishna , i will work on this.

[2021-05-01 08:13] piyushsingariya commented on #1832
@sachindavra Use this image instead - https://drive.google.com/file/d/1OroW82tGiNwvRczBMXzIXP5e8WoRAx25/view?usp=sharing

[2021-05-01 19:05] Chadha93 commented on #1827
@leecalcote I have fixed the issue please review it and provide feedback if possible

[2021-05-01 20:22] Nikhil-Ladha commented on #1827
@Abiola-Farounbi is it fine with you, if we take in @Chadha93's PR. Or have you already fixed it and want to make a PR?
Considering you were already assigned to this issue..

[2021-05-01 20:32] Abiola-Farounbi commented on #1827
Ooh, just seeing this.
was planning on making a pr later, but since it's already done, @Chadha93  can go ahead.

[2021-05-02 04:11] Chadha93 commented on #1827
Apologize, I think I should have asked for assigning the issue first since I am a newcomer I will take care of it in the future.

[2021-05-02 05:10] #1827 closed

[2021-05-02 05:39] Chadha93 commented on #1778
@leecalcote @Ruth-ikegah @adithyaakrishna  I also have an idea for this, what we can do that add a fixed component at the right side so the newcomer can access it throughout the page.
Idea image:
![Desktop - 1](https://user-images.githubusercontent.com/65453826/116803590-bd73d200-ab36-11eb-8bc4-f975e0569eac.png)

[2021-05-02 06:08] adithyaakrishna commented on #1778
@Chadha93 This is a great idea 🎉
But how would it be visible in mobile view?

[2021-05-02 06:39] Chadha93 commented on #1778
@adithyaakrishna This is the mobile view in two different stacking of the component
First:
![Android - 1](https://user-images.githubusercontent.com/65453826/116804757-0a5ba680-ab3f-11eb-8603-1bc131ad91b1.jpg)
Second:
![Android - 2](https://user-images.githubusercontent.com/65453826/116804765-18112c00-ab3f-11eb-9d4c-21978b996aeb.jpg)

[2021-05-02 10:51] adithyaakrishna commented on #1778
@Chadha93 The second one looks amazing, goes well with the overall site also 👀

[2021-05-03 02:39] leecalcote commented on #1778
// @austinogiza

[2021-05-03 08:38] sachindavra commented on #1832
Could you let me know about blurb and badges you have. @navendu-pottekkat @piyushsingariya

Thanks.

[2021-05-03 09:22] chinmaym07 commented on #1832
Hey @sachindavra !! 👋🏻
A detailed explanation on badges for a community member profile can be found here in the [CONTRIBUTING.md#badges-for-community-members](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#badges-for-community-members) ..
For blurb: I think it's currently used . but you can refer to it as a Member's tagline, if they have one (a short quip or phrase) . AFAIK You can

[2021-05-03 09:52] Nikhil-Ladha commented on #1832
You can use the `meshery` badge for Piyush.

[2021-05-03 11:11] sachindavra commented on #1832
Thank you @Nikhil-Ladha @chinmaym07

[2021-05-03 13:50] Ruth-ikegah opened #1837 "[Community] Transition of Kelechi Nwachukwu to Meshmate Emeritus"
**Current Behavior**

@PluckyPrecious has been an amazing contributor and Meshmate. Due to some other engagements, she is graduating to Meshmate Emeritus Status.

**Desired Situation**

Move @PluckyPrecious profile from the [Meshmate section](https://layer5.io/community/meshmates) to the Meshmate Emeritus section following the same pattern.

[Optional] **Additional context**

![Meshmates-Layer5-Th

[2021-05-03 17:54] #1789 closed

[2021-05-03 17:55] Nikhil-Ladha commented on #1759
I think we can close this issue, for the time being, considering the current goal is to reuse the same navbar.

[2021-05-03 17:55] #1759 closed

[2021-05-03 17:56] Nikhil-Ladha commented on #1717
Good to close this @leecalcote, @Jashpatel1  ?

[2021-05-03 17:57] Nikhil-Ladha commented on #1716
Are we good to close this now @leecalcote @Jashpatel1 ?

[2021-05-03 19:47] leecalcote commented on #1717
@Nikhil-Ladha, yes, I think so. ✔️

[2021-05-03 19:47] #1717 closed

[2021-05-03 19:49] leecalcote commented on #1716
We have a couple issues in mobile view that need to be addressed:

https://user-images.githubusercontent.com/7570704/116925363-b6c08a00-ac1e-11eb-84ed-8522752f84f3.MP4

[2021-05-04 03:04] leecalcote commented on #1759
Thank you, @Nikhil-Ladha

[2021-05-04 03:06] leecalcote commented on #1837
Thank you for all of your MeshMating, @PluckyPrecious! 😄

[2021-05-04 06:00] #1832 closed

[2021-05-04 06:49] PluckyPrecious commented on #1837
It’s a pleasure.🙌🏽☺️

[2021-05-04 11:14] chinmaym07 opened #1840 "[Learn] Implementation of Card Component of homepage"
**Current Behavior**

Currently we have no card component that is used on the homepage of layer5.io/learn-ng

**Desired Situation**

Creation of the first iteration of the card component for homepage

![Screenshot from 2021-05-04 16-43-30](https://user-images.githubusercontent.com/44670961/116995604-e4c5cd00-acf7-11eb-8a99-0600af7c1925.png)

---

[Optional] **Additional context**

Refer to the Fig

[2021-05-04 11:27] chinmaym07 opened #1841 "[Learn] Implementation of Sidebar Table of Contents Component"
**Current Behavior**

Currently We don't have the sidebar table of contents component .

**Desired Situation**

Creation of the first iteration of the sidebar table of contents component .

![Screenshot from 2021-05-05 17-21-11](https://user-images.githubusercontent.com/44670961/117136680-54a28900-adc6-11eb-9a34-e0d7da0b1e23.png)

[Optional] **Additional context**

Refer to the sidebar table of co

[2021-05-04 12:35] iamrajiv commented on #1837
@leecalcote I want to work on this.

[2021-05-04 12:35] leecalcote commented on #1837
Thank you, @iamrajiv. That would be great. 👍

[2021-05-04 15:55] theprogrammedwords commented on #1840
Let me take this up. Thanks.

[2021-05-04 15:57] chinmaym07 commented on #1840
Thankyou @theprogrammedwords .. 👍🏻 .. Happy Contributing ... Assigned to you .. 😀

[2021-05-04 16:07] theprogrammedwords commented on #1840
Thank you Chinmay. :)

[2021-05-04 17:20] #1837 closed

[2021-05-04 18:36] leecalcote commented on #1832
HELLO! 💥 @piyushsingariya 🎉

[2021-05-04 18:37] leecalcote commented on #1832
Thank you, @sachindavra 👍

[2021-05-05 04:13] leecalcote commented on #1841
Thank you, Chinmay!

[2021-05-05 15:56] leecalcote opened #1843 "[Community] Member Profile: Hussaina Begum needed updated to "Maintainer""
**Current Behavior**
@hexxdump's [community member profile](https://layer5.io/community/members/hussaina-begum) has the `maintainer: yes` set, but the word "Contributor" is still shown under her name.

**Desired Situation**
"Maintainer, Mesheryctl" should be Hussaina's byline.

<img width="473" alt="Screen Shot 2021-05-05 at 10 52 40 AM" src="https://user-images.githubusercontent.com/7570704/11717

[2021-05-06 08:50] sachindavra commented on #1843
I would like to work on this.

[2021-05-06 11:54] adithyaakrishna commented on #1843
@sachindavra Here's the directory to help you work on this, https://github.com/layer5io/layer5/tree/master/src/collections/members/hussaina-begum :)

[2021-05-06 17:14] Ruth-ikegah opened #1844 "[README] Update README Community Section"
**Current Behavior**

The Community section in the README says "Access the Community Drive". There is a new procedure of having this automated based on the individual filling in a [community member form](https://layer5.io/newcomer)

**Desired Situation**

Update "Access Community Drive" to "To Access Community Drive, fill Community Member Form"
![layer5io-layer5-Layer5-the-service-mesh-company-rep

[2021-05-06 17:18] xdshivani commented on #1844
I would like to work on it.

[2021-05-06 17:23] Ruth-ikegah commented on #1844
sure @xdshivani

[2021-05-06 18:59] sgm28 commented on #1841
Good afternoon, how are you?

I would like to work on this issue.
Before selecting me, please keep the follow things in mind:
I would have to learn how storyboard works, I would have to review react, and I would need time to learn how everything else is working together. The issue  might take me a month to resolve. I am newbie when it comes to working with open source code consider having patience

[2021-05-06 19:35] chinmaym07 commented on #1841
That's a good practise @sgm28  .. Go Ahead ..I'll assign it to you .. Happy Contributing & Learning ..!!  😀 👍🏻 🚀

If you face any issues do reach out to us on slack . We'll be more happy to help ..! 👍🏻

Have you joined the Layer5 Community - http://slack.layer5.io? We have many helpful people out there always ready to help ..

[2021-05-07 09:02] #1843 closed

[2021-05-07 10:25] sgm28 commented on #1841
Dear @chinmaym07,

Good morning, how are you?
Thank you for giving me a chance.
Okay, I will reach out on slack if I have any issues.
No I haven't join the Layer5 community.
I will join it today.

Never Give Up,
Sakar Michel

[2021-05-09 15:13] theprogrammedwords commented on #1840
I am not able to work up on this, I am unassigning myself. Sorry for keeping you up at expectations.

[2021-05-09 15:18] leecalcote commented on #1840
Hi @theprogrammedwords, no sweat. Thank you for sending this update.

[2021-05-09 22:08] OlaoluwaM commented on #1840
Hey, can I have a go?

[2021-05-09 22:24] OlaoluwaM commented on #1752
Hey @chinmaym07 , could you assign me to this issue so I can easily keep track of it. It took me a while to find

[2021-05-09 23:31] #1844 closed

[2021-05-09 23:39] leecalcote commented on #1840
@OlaoluwaM That would be great, yes!

[2021-05-10 02:41] leecalcote opened #1849 "[Landscape] List ASM on the Service Mesh Landscape"
**Current State:**
Alibaba Cloud Service Mesh (ASM) is a fully managed service mesh platform that is compatible with Istio. ASM provides consistent traffic shaping, security, and observability in heterogeneous environments. - https://www.alibabacloud.com/product/servicemesh

**Desired State:**
ASM can be represented on the service mesh landscape following the contributor instructions below.

---
*

[2021-05-10 03:01] leecalcote opened #1850 "[Blog] Create "featured" attribute for posts to display in mega menu (or not)"
**Current Behavior**
The latest two posts are retrieved and displayed in the mega menu. Not all posts should show in the mega menu, however.

**Desired Behavior**
Control over this prominent display of blog posts is needed.

**Implementation**
Provide a `featured` attribute in the front matter data of each blog post's mdx file that can be set to true or false as the determinant of whether the post

[2021-05-10 13:21] chinmaym07 opened #1851 "[Discuss] Wrong Font-family on Header & Footer & Improve Login Modal"
**Current Behavior**

1. The color scheme on Login Modal in [discuss.layer5.io](https://discuss.layer5.io/) does not match with the color scheme of layer5
2. Wrong font-family is used in header & footer in [discuss.layer5.io](https://discuss.layer5.io/)

**Desired Situation**

1. Update the color scheme on Login  Modal [discuss.layer5.io](https://discuss.layer5.io/)
2. Update the Font Family in he

[2021-05-10 13:32] Liri-s29 commented on #1851
You want the colour scheme of the modal to be cyan?

[2021-05-10 14:01] chinmaym07 opened #1852 "[Discuss] Update Homepage"
**Current Behavior**

Homepage of [discuss.layer5.io](https://discuss.layer5.io/) is implemented according to the old design .

**Desired Situation**

Homepage of [discuss.layer5.io](https://discuss.layer5.io/) should be updated according to the new design .

![image](https://user-images.githubusercontent.com/44670961/117670771-d0854280-b1c5-11eb-92d7-cf14e0677afe.png)

[Optional] **Additional con

[2021-05-10 14:11] chinmaym07 commented on #1851
I think the whole modal needs to be updated according to the color scheme of Layer5 .
You can refer to [Layer5 Brand kit](https://layer5.io/company/brand) . Also refer to [Layer5 website](https://layer5.io/) . You'll get a clear idea of what changes are required on the login modal .

[2021-05-10 15:10] Liri-s29 commented on #1851
Thank you for the guidance.
This is my first time working on large projects,
I'll do my best. Kindly review once I've made the changes and give me conments.

[2021-05-10 15:21] leecalcote opened #1853 "[Discuss] Research migration of settings and custom header/footer/hero from one Discourse instance to another"
**Current State:**
https://discuss.layer5.io is in the process of being developed. It's current deployment is for purposes of development. It is deployed as a Docker container. Developed assets like the custom header, footer, hero section, and other plugin settings and site configuration needs to be migrated to a new production deployment.

**Research:**
Identify how each of the following can be m

[2021-05-10 15:41] chinmaym07 commented on #1851
Hey @Liri-s29 .. We are working on the design of the modal ..
As making changes without a design doesn't seem to be consistent. If we get a view of what we have to make , then we can make our work look neat & impressive .
I think we should wait for the design .. Once the design is ready & approved . Then I'll request you to go ahead & work on this issue ..

[2021-05-10 16:40] Nikhil-Ladha opened #1855 "[Learn] Implement the "Courses" homepage"
**Current State:**
The Learn Layer5 site lacks a home page for the 'Courses' under a learning path, where all the courses would be listed out.

**Desired State:**
The 'Courses' home page needs to be implemented following this [Figma Deisgn](https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=5372%3A8479).
In the design, mentioned above the design for the 'Courses' would be the

[2021-05-10 17:05] Nikhil-Ladha opened #1856 "[Learn] Implement the Chapter Home Page"
**Current State:**
The current layer5-ng site doesn't have a dedicated home page for each of the courses within a learning path.
**Desired State:**
A home page component needs to be added, which renders the home page for a course depending upon the course and handled using GraphQl.
Design inspiration: [Storybook Guide Page](https://storybook.js.org/tutorials/intro-to-storybook/)
Reference Componen

[2021-05-10 17:06] Nikhil-Ladha commented on #1856
@chinmaym07 I wonder this is something that you might knock out?

[2021-05-10 19:44] chinmaym07 commented on #1856
As you say.. Aaye Aaye Captain .. I'll try to work on it ..!! @Nikhil-Ladha  😀 🚀

[2021-05-11 05:53] samirparhi-dev opened #1857 "[Project] In the NightHawk project page there are following issue"
**Description**
The Text for 2 section are being cut-off.See the link Below

**Expected Behavior**

All the text should be visible

**Screenshots**

<img width="1286" alt="Screenshot 2021-05-11 at 11 20 01 AM" src="https://user-images.githubusercontent.com/59992800/117765080-12a49780-b24b-11eb-8bd0-ff6055756b5b.png">
<img width="1197" alt="Screenshot 2021-05-11 at 11 21 08 AM" src="https://user-im

[2021-05-11 06:46] chinmaym07 commented on #1851
Hey @Liri-s29 ... 👋🏻
We have our design ready .. Would you like to work on this issue ?

**SignUp Modal**

![image](https://user-images.githubusercontent.com/44670961/117769785-c741b780-b251-11eb-82d2-a868cbb9fc7c.png)

**Login Modal**

![image](https://user-images.githubusercontent.com/44670961/117769834-d7599700-b251-11eb-9dc7-56c929959d8c.png)

Here's a link to design in figma..
https://www.fig

[2021-05-12 09:42] ankingcodes commented on #1857
@samirparhi-dev @leecalcote : The images seem to have been cropped at source.
![58](https://user-images.githubusercontent.com/40923324/117954063-490a1180-b334-11eb-8cc6-d509a3a49f8a.PNG)

[2021-05-12 11:44] cemeiq commented on #1855
@leecalcote I have filled the member form.

[2021-05-12 13:34] Tanuj22 commented on #1857
Yes @ankingcodes we are in need of better images. Will update the issue when its available. Meanwhile do check out some of the other issues and also consider joining the Layer5 community here - http://slack.layer5.io :)

[2021-05-13 14:49] Jashpatel1 commented on #1851
The project does not have directory. The changes are to be made on console in website itself. Ping me on slack if you are unable to find it.

[2021-05-13 15:31] leecalcote commented on #1849
@feuyeux, can you assist here?

[2021-05-15 16:14] leecalcote opened #1859 "[Programs] Add "Back to Programs" button"
**Current Behavior**
The individual open source internship pages (e.g.https://layer5.io/programs/gsoc/2019) do not have a Back to Programs button to help the user navigate back to the main programs page (https://layer5.io/programs).

#### Desired Behavior
A back button is present like that of the one on this page - https://layer5.io/community/members/jash-patel

<img width="165" alt="Screen Shot 2

[2021-05-15 19:38] #1807 closed

[2021-05-16 02:28] leecalcote commented on #1807
Thank you, @jomefavourite! Way to stick with this and see it through.

[2021-05-16 08:41] wise-introvert commented on #1859
If this hasn't been taken up by someone yet, I'll love to take a stab at it. Is that fine?

[2021-05-16 17:52] adithyaakrishna commented on #1859
@amino19 would you like to try this? 👀

[2021-05-16 19:29] amino19 commented on #1859
Sure Sir!
You can assign me for this..

Thanks for asking!  : )

[2021-05-17 08:20] Nikhil-Ladha commented on #1840
A potential design for this issue could be this https://www.figma.com/proto/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?page-id=4853%3A0&node-id=6045%3A0&viewport=-777%2C881%2C0.03125&scaling=min-zoom

[2021-05-17 08:20] Nikhil-Ladha commented on #1840
Also, @OlaoluwaM have tou started working on the issue? Any progress?

[2021-05-17 08:21] Nikhil-Ladha commented on #1855
Hi @cemeiq how is this issue coming up? Any progress to share?

[2021-05-17 08:22] Nikhil-Ladha commented on #1841
Hi @sgm28 how's the issue comyup? Any progress to share?

[2021-05-17 08:49] OlaoluwaM commented on #1840
Hey, I'm so sorry for the delay. At the time I saw this issue I thought I'd be able to get to it but then a lot of personal stuff started popping up including an interview 👀.  Hope to get started with this soon, but if someone wants to take over they are free to do so. Sorry 😫

[2021-05-17 09:04] cemeiq commented on #1855
@Nikhil-Ladha No. I might need some more time if that is okay with you?

[2021-05-17 12:07] sgm28 commented on #1841
@Nikhil-Ladha, good morning, how are you?
I did the following things:
-Completed reading section React ES6 https://www.w3schools.com/react/react_render.asp
-Install NodeJS
-Create first react app
-Using w3schools to learn react. The website can be found here https://www.w3schools.com/react/

[2021-05-17 12:58] Nikhil-Ladha commented on #1840
No problem @OlaoluwaM. For the time being, If you don't mind shall I take up this issue?
In the meantime, you can clear out your pending tasks and hop back to work on new issues which we would soon be opening as we progress. What say?

[2021-05-17 14:06] OlaoluwaM commented on #1840
@Nikhil-Ladha sure, no problem

[2021-05-18 04:22] amino19 opened #1861 "Fix typo"
**Current Behavior**

Require some changes in Readme.md over Community and Contributing section.
**Details :**

![tempsnip](https://user-images.githubusercontent.com/75872316/118589124-6704c580-b7bd-11eb-9255-629caa676326.png)

**Desired Situation**

- 1st box : Need two different links to be open, by clicking on "community drive" & "Community Member Form" separately.
- 2nd box : Need to configure

[2021-05-18 11:07] leecalcote commented on #1779
@dhruv0000 have you seen this again?

[2021-05-18 11:15] leecalcote commented on #1861
Ideal phrasing for the last bullet point:

[code]

[2021-05-18 12:08] #1779 closed

[2021-05-18 12:22] Nikhil-Ladha commented on #1861
Two different links are not required here. The test `Community Member Form` should only have a link., and the other text `community drive` should be under the previous element `<strong>`

[2021-05-18 15:22] cemeiq commented on #1855
@Nikhil I will be leaving this issue and try finding myself something else.

[2021-05-18 15:25] Nikhil-Ladha commented on #1855
No problem, @cemeiq . Once these bases are done we will soon be having smaller issues to take over. You can hop on them.

[2021-05-18 16:13] chinmaym07 opened #1863 "[Learn] Rectify Box-Shadow on Service Mesh Books Page"
**Current Behavior**

Box-shadow around book cards is intersecting other cards on [Service Mesh Books Page](https://layer5.io/learn/service-mesh-books)

---

**Desired Situation**

Rectify the Box-shadow property on book cards.

---
**Screenshots**

![Screenshot_2021-05-18 Service Mesh Books](https://user-images.githubusercontent.com/44670961/118686489-ab29b180-b821-11eb-9c07-bd294b273269.png)

--

[2021-05-18 16:36] cemeiq opened #1864 "[Careers] Update Open Source Internships Program Page"
**Description**
On the open source internships program page (https://layer5.io/careers/programs), there are individual years broken out for some of the programs.

**Expected Behavior**
Have only one card per program with each year being a sub-collection under the main card. Links to prior years/prior quarters can be included on the specific program page.

**Screenshots**

<img width="1991" alt="op

[2021-05-18 17:28] leecalcote commented on #1864
Awesome. 👍

[2021-05-18 18:22] Nikhil-Ladha opened #1865 "[Learn] Fetch the card details using Graphl query in Learn homepage to"
**Current State:**

**Desired State:**

---
**Contributor Resources**
The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md)
- Check the Learn Layer5 site [Design Spec](https://docs.google.com/docum

[2021-05-18 18:26] Nikhil-Ladha opened #1866 "[Learn] Fetch the card details using GraphQL query on Learn homepage"
**Current State:**
The cards on the homepage of the upcoming learn site, i.e, the one at layer5.io/learn-ng shows a status course count.

**Desired State:**
The course count should be fetched dynamically using GraphQl. For reference, check out the usage in these components [Index](https://github.com/chromaui/learnstorybook.com/blob/master/src/components/screens/IndexScreen/index.js), [Guide](https

[2021-05-18 18:27] Nikhil-Ladha commented on #1866
@vinayaksh42 a small one that you could start off with.

[2021-05-18 18:33] Nikhil-Ladha opened #1867 "[Learn] Add Course, Chapter count component on Learn homepage"
**Current State:**
The learn homepage i.e the page at layer5.io/learn-ng misses a component that should highlight the Courses, chapters, service-meshes count.

**Desired State:**
The required component needs to be added which highlights the courses, chapters, service-meshes count. These values should be fetched dynamically using graphql.
Reference component: [SiteStat](https://github.com/chromaui/

[2021-05-18 18:34] #1865 closed

[2021-05-18 18:36] Nikhil-Ladha commented on #1840
Closing this issue since the component is already in place.
Closed via #1860

[2021-05-18 18:36] #1840 closed

[2021-05-18 18:37] Nikhil-Ladha commented on #1867
@cemeiq I wonder if you might wanna knock out this one? This is a small issue.

[2021-05-19 00:17] vinayaksh42 commented on #1866
@Nikhil-Ladha sure

[2021-05-19 09:54] cemeiq commented on #1867
@Nikhil-Ladha Yes its a small issue but I am already working on another one https://github.com/layer5io/layer5/issues/1864. Maybe someone else can take this issue. I am trying to understand graphql by going through some tutorials etc at the moment.

[2021-05-19 09:55] Nikhil-Ladha commented on #1867
Ohh great. Thanks for the heads up 👍🏼

[2021-05-19 11:00] adithyaakrishna commented on #1867
@Gautam-Arora24 Willing to work on this? 👀

[2021-05-19 11:19] Nikhil-Ladha commented on #1867
Once you signal yes here @Gautam-Arora24 , the issue goes under your name 💪🏼

[2021-05-19 11:26] Gautam-Arora24 commented on #1867
I would go ahead with this issue :)

[2021-05-19 11:29] Nikhil-Ladha commented on #1867
Awesome 👍🏼 @Gautam-Arora24 , here you go..

[2021-05-19 14:20] osswangxining commented on #1849
@leecalcote  thanks for your info. would you like to provide one sample of existing product in the landscape?

[2021-05-19 16:52] Ruth-ikegah opened #1869 "[Community] Member Profile: Otto Van Der Schaaf"
**Current Behavior**

@oschaaf has been a consistent contributor, community member, and maintainer of Service Mesh Performance.

**Desired Situation**
Let's recognize @oschaaf as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @oschaaf
- Twitter: @oschaaf
- LinkedIn:  https://www.linkedin.com/in/oschaaf
- Link to profile picture: https://

[2021-05-20 05:27] leecalcote commented on #1849
@osswangxining thanks for jumping in here. Here's a link to the landscape - https://layer5.io/service-mesh-landscape. There are many open source projects represented with only a couple of closed source products listed. Aspen Mesh is an example of one of those.

Here are [instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mes

[2021-05-20 05:37] nandirishav commented on #1863
Please  give me the opportunity to work on this.

[2021-05-20 06:05] leecalcote commented on #1863
Sounds good, @nandirishav 👍

[2021-05-20 07:46] hdck007 commented on #1869
I will be happy to do this @leecalcote @Ruth-ikegah

[2021-05-20 11:38] chinmaym07 commented on #1869
Go ahead .. Happy Contributing @hdck007 !! 🚀  assigned to you !!

[2021-05-20 11:58] soham4abc commented on #1861
Did make a PR please see to it!

[2021-05-20 13:03] #1861 closed

[2021-05-21 02:50] imraghav20 commented on #1855
@Nikhil-Ladha does it need to be implemented at this URL [https://layer5.io/learn](https://layer5.io/learn) ?
The courses should be implemented in place of `Service Mesh Books`?

[2021-05-21 03:54] Nikhil-Ladha commented on #1855
No. We are developing a new subsite, layer5.io/learn and the effort for that is going on with layer5.io/learn-ng as rhe homepage. You can check the design spec and the figma file mentioned above for more details on how this page would be and it's potential path.

[2021-05-21 03:56] Nikhil-Ladha commented on #1855
If you have not joined the community yet, I would encourage you to do so and meet more like minded and talented people. Here is the link to our slack workspace: slack.layer5.io . Also, once joined do remember to fill out the newcomer form at layer5.io/newcomer in order to get access to resources including Figma.

[2021-05-22 07:00] Alenjojo commented on #1852
can you assign me with this issue and share the latest design i'll try my best to redesign it

[2021-05-22 07:08] amino19 commented on #1859
Done with changes to add Back Button, Pl verify!

[2021-05-22 09:11] Nikhil-Ladha commented on #1852
I doubt we need this anymore @Jashpatel1 @leecalcote

[2021-05-22 10:07] #1859 closed

[2021-05-22 11:24] leecalcote commented on #1852
@Nikhil-Ladha good call. Yes, we’re good to close this issue considering all the work done to complete it already.

[2021-05-22 12:16] Nikhil-Ladha commented on #1852
@Alenjojo thank you for showing interest, but we are already done with this issue now. You can check out other open issues to work upon.

[2021-05-22 12:16] #1852 closed

[2021-05-22 13:43] #1863 closed

[2021-05-22 18:54] #1867 closed

[2021-05-22 21:59] Ayush-Khandelwal-007 commented on #1855
Hey , if no one is working on it right now , can I work on this?
Also I don't have access to figma even though I have filled the newcomer form.

[2021-05-23 05:50] Nikhil-Ladha commented on #1855
Sure @Ayush-Khandelwal-007 . Check the mail for the figma invite. There will be few changes in this design though, and I am not sure if that's complete yet, @austinogiza any updates?

[2021-05-23 08:16] Ayush-Khandelwal-007 commented on #1855
Yay, I got it!
Okay, I'll hold for now and will start as soon as it's finalised.

[2021-05-24 13:41] Anita-ihuman opened #1877 "Update the social share image for this layer5.io/projects"
**Current Behavior**
The current social share image for the layer5.io/projects is old and does not display all the projects.

**Desired Situation**
Update a new social share image for layer5.io/projects
The New image exists in [this doc](https://docs.google.com/presentation/d/1tLcMcyQ-Z6YYISYyR0Eyb30dojQiKHIjs7Rt5m8kcag/edit#slide=id.gd979a305bd_0_0)

---
**Screenshots of issue**
![Screenshot 2021

[2021-05-24 14:06] toth2000 commented on #1877
Can I work on this issue?

[2021-05-24 14:19] Gautam-Arora24 commented on #1877
Can I work on this? 🙂

[2021-05-24 18:00] Anita-ihuman commented on #1877
Yes, sure

[2021-05-24 21:13] #1877 closed

[2021-05-24 22:25] leecalcote commented on #1877
It's working. 😄 https://www.linkedin.com/post-inspector/inspect/http:%2F%2Flayer5.io%2Fprojects

[2021-05-25 09:16] #1869 closed

[2021-05-25 11:54] cemeiq commented on #1864
@hdck007 yes you can take this.

[2021-05-25 16:10] leecalcote opened #1881 "[Discuss] Add .well-known/microsoft-identity-association.json for O365 OAuth"
**Current Behavior**
In order to have the Microsoft O365 OAuth app verified for discuss.layer5.io, there is a small json file that needs to be statically served from layer5.io/.well_known.

I attempted to add this file yesterday, but didn’t have immediate success - https://github.com/layer5io/layer5/tree/master/static/.well-known

There may not be much of an issue here. Just a slight update needed

[2021-05-26 03:53] Nikhil-Ladha commented on #1841
Hey @sgm28 , what's the progress on this issue? Would you be able to send out a PR by this Saturday?
We are tight on time, and need this to be tackled soon.
If you are unable to make it, please signal so that someone else can tackle this issue, and you can try out your hands on multiple other open issues.

[2021-05-26 04:04] sgm28 commented on #1841
Dear @Nikhil-Ladha,

I ran into a bug which I posted in the #random channel on slack. I can provide the link if necessary. Honestly, no.
Yes someone else can be reassigned to this issue.

Never Give Up,
Sakar Michel

[2021-05-26 07:45] osswangxining commented on #1849
@leecalcote  I submitted the PR  #1882  for this, can you help review it? thanks.

[2021-05-26 15:32] leecalcote commented on #1849
Thank you, @osswangxining 👀

[2021-05-27 02:27] osswangxining commented on #1849
![image](https://user-images.githubusercontent.com/10258572/119756315-f56ffa00-bed5-11eb-9569-98c2cf73e206.png)

@leecalcote  looks fine, thanks! so can this issue be closed?

[2021-05-27 03:08] Nikhil-Ladha commented on #1849
Yes @osswangxining the issue can be closed now.

[2021-05-27 03:08] #1849 closed

[2021-05-27 08:25] leecalcote commented on #1849
It’s great to have ASM represented. Thank you, @osswangxining!

[2021-05-28 03:27] leecalcote opened #1884 "[Nav Bar] CTA: "Run Meshery" button"
**Current Behavior**
The navigation bar doesn't have a main call to action button.

**Desired Behavior**
Add a "Run Meshery" button to the upper righthand corner of the site.

**Screenshots / Mockups**

<img width="1440" alt="navbar" src="https://user-images.githubusercontent.com/7570704/119925235-a7d9a880-bf3a-11eb-9c5c-300ec141f6b8.png">

---
**Contributor Resources**

The layer5.io website uses

[2021-05-28 03:27] leecalcote commented on #1884
Ooooh, @Nikhil-Ladha...

[2021-05-28 03:41] leecalcote opened #1885 "[Community] Hide MeshMate Emeritus section"
**Current Behavior**
The MeshMate Emeritus section was never meant to make the transition from old site to new site.

**Desired Situation**
This section can be removed from sight -- https://github.com/layer5io/layer5/blob/4b6e6593e1905e18c63bcdfdadaa29173e82f460/src/sections/Community/Meshmates/index.js#L136

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages

[2021-05-28 04:29] Nikhil-Ladha commented on #1884
Finally, we have decided to keep "Meshery" CTA 😄

[2021-05-28 04:40] leecalcote commented on #1884
Some folks at HPE said, “I didn’t know Layer5 had Meshery.” Doh!

[2021-05-28 04:40] Nikhil-Ladha commented on #1884
What the.....😂

[2021-05-28 05:37] alphaX86 opened #1886 "[Website] Improve "bash" command area UI"
**Description**
The site (https://layer5.io/meshery) provides great instructions to run meshery but the UI can be improved on the command box side, especially on bash command area

**Screenshots**

![image](https://user-images.githubusercontent.com/59508546/119935211-be1c4e80-bfa4-11eb-99ad-633a6ee00d3d.png)

![image](https://user-images.githubusercontent.com/59508546/119935221-c4122f80-bfa4-11eb-

[2021-05-28 08:12] Nikhil-Ladha commented on #1886
The terminal box is intended, to be _partly_ hidden for smaller resolutions.
And, what's the updated curl command?

[2021-05-28 08:13] Nikhil-Ladha commented on #1886
For me, it is completely visible.....my resolution is 1920x1080

[2021-05-28 09:29] alphaX86 commented on #1886
Lee told to update or fix the command. And IG, it's with the one on Meshery.io

[2021-05-28 09:31] alphaX86 commented on #1886
Hmm... But the UI can be slightly improved. We just talked yesterday and he said about this.... 🤐🤐🤐... Wait I'll ping @leecalcote here... I guess I opened issue under wrong topic!

[2021-05-28 09:34] alphaX86 commented on #1886
Ma bad.... Changing topic @Nikhil-Ladha

[2021-05-28 09:45] Nikhil-Ladha commented on #1886
Okay, which area and what exactly has to be improved?

[2021-05-28 09:58] #1884 closed

[2021-05-28 10:30] alphaX86 commented on #1886
![image](https://user-images.githubusercontent.com/59508546/119970869-e2d8ec00-bfcd-11eb-8b1d-a724c7ee4955.png)

[2021-05-28 10:32] alphaX86 commented on #1886
@leecalcote seems I made silly confusions.... could you describe what it needs to be done 🙃

[2021-05-28 16:25] leecalcote opened #1888 "[Community] Member Profile: Promotion of Anita Ihuman to MeshMate"
**Current Behavior**

Congratulations to @Anita-ihuman on her acceptance into the Layer5 MeshMate program! In all respects, this announcement is only an acknowledgement the effort that she has already been giving to build a more encouraging and supportive Layer5 community.

**Desired Situation**

@Anita-ihuman's community member profile should reflect her role as a MeshMate https://layer5.io/commu

[2021-05-28 16:35] #1888 closed

[2021-05-30 18:07] sayantan1413 opened #1891 "Links do not have a hovering effect"
**Description**

The privacy and terms links beside the copyright section are not having the hovering effect.

**Expected Behavior**

The privacy and terms links should have a hovering effect.

**Screenshots**

<img width="664" alt="Screenshot 2021-05-30 at 11 30 50 PM" src="https://user-images.githubusercontent.com/64970095/120115064-ac52cb00-c19f-11eb-9b5c-e0aa2a85b544.png">

**Enviroment:**
- H

[2021-05-30 18:08] sayantan1413 commented on #1891
Hey @leecalcote I would like to work on this issue.

[2021-05-30 19:19] leecalcote opened #1892 "[Community] Member Profile: Ayush Khandelwal"
**Current Behavior**

@Ayush-Khandelwal-007 has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @Ayush-Khandelwal-007 as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: Ayush-Khandelwal-007
- Twitter: N/A
- LinkedIn: ayush-khandelwal-741a88194
- Link to profile picture: https://drive.google.com/f

[2021-05-30 22:49] leecalcote commented on #1891
Wonderful. Thank you, @sayantan1413

[2021-05-31 02:45] leecalcote opened #1893 "[Discuss] Nav bar not mobile-friendly"
**Description**
The https://discuss.layer5.io site's navbar is not responsive.

**Expected Behavior**
Nav bar should adjust in size to accommodate mobile visitors.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://git

[2021-05-31 02:46] leecalcote opened #1894 "[Discuss] Footer not mobile-friendly"
**Description**
The https://discuss.layer5.io site's footer is not responsive.

**Expected Behavior**
Footer should adjust in size to accommodate mobile visitors. See layer5.io for an example.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contribut

[2021-05-31 02:47] leecalcote commented on #1715
@Jashpatel1 we might want to close this issue given Friday's soft launch of the site. Here is a bug issue tracking the need for responsiveness - https://github.com/layer5io/layer5/issues/1894. We probably need another issue to track the missing Qanelas Soft font.

[2021-05-31 02:48] leecalcote commented on #1716
@Jashpatel1 I think we can close this issue now, if you're reach. A bug-tracking issue has been opened to make the nav bar responsive - https://github.com/layer5io/layer5/issues/1893

[2021-05-31 02:49] leecalcote commented on #1788
The current version of the site has addressed the issue of even-spacing between menu items. Closing issue...

[2021-05-31 02:49] #1788 closed

[2021-05-31 02:58] #1715 closed

[2021-05-31 02:58] #1716 closed

[2021-05-31 02:59] Jashpatel1 commented on #1853
This can be closed, as the issue is resolved.

[2021-05-31 02:59] #1853 closed

[2021-05-31 03:41] sayantan1413 commented on #1892
Hey @leecalcote I would like to work on this issue.

[2021-05-31 03:59] debjani1413 commented on #1893
Hey, @leecalcote I would like to work on this issue.

[2021-05-31 06:32] Ayush-Khandelwal-007 commented on #1892
Here you go @sayantan1413 .

[2021-05-31 12:35] Gautam-Arora24 commented on #1894
Working on this!

[2021-05-31 20:19] sayantan1413 commented on #1892
Thanks @Ayush-Khandelwal-007 for assigning this issue to me.

[2021-05-31 20:45] #1891 closed

[2021-05-31 21:08] leecalcote commented on #1894
Wonderful. 👍

[2021-06-01 09:00] Anita-ihuman opened #1896 "[Learn] Create a Service Meshes you can learn section"
**Current State:**
The Learn Layer5 website is missing the  "Service Meshes you can learn " section

**Desired State:**
Create this sections on the Learn Layer5 site

![Screenshot 2021-06-01 at 09 58 54](https://user-images.githubusercontent.com/62384659/120296437-077bdf00-c2c0-11eb-94f0-251e66685f18.png)

---
**Contributor Resources**
The layer5.io website uses Gatsby, React, and GitHub Pages. Si

[2021-06-01 15:12] sayantan1413 commented on #1892
Hey @leecalcote @Ayush-Khandelwal-007 Can you tell me what should I write in the **BLURB** and **Badges** section  ?

[2021-06-01 15:33] adithyaakrishna commented on #1892
Congrats @Ayush-Khandelwal-007 🎉

[2021-06-01 16:37] Ayush-Khandelwal-007 commented on #1892
Thank you @adithyaakrishna

[2021-06-01 19:19] #1856 closed

[2021-06-02 15:15] adithyaakrishna commented on #1822
Completely forgot about this😶
@adithyaakrishna Assign P1

[2021-06-02 15:34] leecalcote commented on #1822
Thank you.

[2021-06-02 16:41] #1892 closed

[2021-06-03 14:45] Anita-ihuman opened #1901 "Capitalize “M” in Mate (as in MeshMates )"
**Current Behavior**
The references to the word **MeshMate**  have the M in  Mate in small letter.

**Desired Situation**

All references to MeshMates on this site should have the “M” in Mate capitalized.
https://layer5.io/community/meshmates
![Screenshot 2021-06-03 at 15 31 15](https://user-images.githubusercontent.com/62384659/120663472-f5499e80-c481-11eb-94af-e677021406bd.png)

---
**Contributo

[2021-06-03 19:11] visa-8 commented on #1901
Hi,

I am new to GitHub contributions. I would like to work on this issue. It would be great if you could assign this issue to me.

Thanks,
Visa

[2021-06-03 19:19] Ayush-Khandelwal-007 commented on #1901
Here you go @visa-8 ! 😄

[2021-06-04 11:30] adithyaakrishna opened #1902 "[Community] Member Profile: Gaurav Chadha"
**Current Behavior**

@Chadha93 has been a consistent contributor and community member. It's time to recognize his contributions by adding a member profile on the [Layer5 Community Members](https://layer5.io/community/members) page.

**Desired Situation**
Let's recognize <@github-username> as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub

[2021-06-04 11:33] adithyaakrishna commented on #1902
@Chadha93 Congrats 🎉
Please do give a short bio for your profile and also your Twitter Handle :)

[2021-06-04 11:38] adithyaakrishna opened #1903 "[Community] Member Profile: Ayush Khandelwal"
**Current Behavior**

@Ayush-Khandelwal-007 has been a consistent contributor and community member. It's time to recognize his contributions by adding a member profile on the [Layer5 Community Members](https://layer5.io/community/members) page.

**Desired Situation**
Let's recognize @Ayush-Khandelwal-007 as a contributor and community member by creating a profile on https://layer5.io/community/mem

[2021-06-04 11:39] adithyaakrishna commented on #1903
Congrats @Ayush-Khandelwal-007  🎉
Please do give a short bio for your profile and also your Twitter Handle :)

[2021-06-04 11:40] dhruv0000 opened #1904 "[Community] Member Profile: Gautam Arora"
**Current Behavior**

@Gautam-Arora24 has been a consistent contributor and community member.

**Desired Situation**
Let's recognize <@Gautam-Arora24> as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @Gautam-Arora24
- Twitter:
- LinkedIn:
- Link to profile picture:

A detailed explanation on how to set up a community member profile can

[2021-06-04 11:40] #1903 closed

[2021-06-04 13:37] dhruv0000 commented on #1904
@Gautam-Arora24 Congrats :tada:
Please do give a short bio for your profile and also your Handles.

[2021-06-04 16:52] Chadha93 commented on #1902
Thanks, @adithyaakrishna  for this recognition, and thanks to every community member for their guidance and support. 😊

[2021-06-04 16:53] Chadha93 commented on #1902
I am an undergraduate student at IP University majoring in Computer Science and Engineering. I am passionate about open-source, web development, software engineering, and UX/UI designing. My working principle is learning and sharing knowledge. Apart from coding, I love to cook Indian and Italian food as well.  Yoga and workout are also in my daily routine.

[2021-06-04 18:06] Gautam-Arora24 commented on #1904
Bio - I am an undergraduate student at G.L Bajaj Institute of Technology and Management. I am interested into web technologies. I am proficient in MERN stack along with GraphQL and Apollo client. I am very much interested to learn DevOps.

Twitter handle - Gautamarora24

[2021-06-05 07:48] sayantan1413 commented on #1904
I would like to work on this issue.

[2021-06-05 09:03] Gautam-Arora24 commented on #1904
Here you go @sayantan1413 :)

[2021-06-05 12:50] visa-8 commented on #1901
Hi, please help!
I am trying to run the code locally and i gave the command "make site" and got the following error.
npm ERR! node v14.17.0
npm ERR! npm  v3.10.5
npm ERR! code ELIFECYCLE
npm ERR! Layer5@1.0.0 start: `npm run develop`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the Layer5@1.0.0 start script 'npm run develop'.
npm ERR! Make sure you have the latest version of node.js and npm

[2021-06-05 14:35] adithyaakrishna commented on #1902
@Chadha93 Italian? 👀😋

[2021-06-05 14:37] sayantan1413 commented on #1904
@Gautam-Arora24 Please provide a profile picture link.

[2021-06-05 14:40] Gautam-Arora24 commented on #1904
Kindly check your DM in slack

[2021-06-05 14:40] sayantan1413 commented on #1904
Sure!

[2021-06-05 15:14] Nikhil-Ladha commented on #1866
@vinayaksh42 any updates?

[2021-06-05 15:41] Chadha93 commented on #1902
Pizza pasta sandwich that's all 😂

[2021-06-06 05:25] sayantan1413 commented on #1901
Hey @visa-8 please [join the community](layer5io.slack.com) and join the #newcomers channel and post your query so that someone who faced this issue earlier can help you.

[2021-06-06 05:31] sayantan1413 commented on #1901
Hi @hrishikeshnikam2000, yes. Please jump into the [community Slack](http://slack.layer5.io/) and we'll get you setup.

[2021-06-06 05:33] sayantan1413 commented on #1901
hey @visa-8 please [join the slack](http://slack.layer5.io/) channel and someone will help you to set up.

[2021-06-06 13:30] Anita-ihuman opened #1909 "[Community] Member Profile: Elizabeth Meshioye"
**Current Behavior**

@Lezette has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @Lezette as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @Lezette
- Twitter: ilizette7
- LinkedIn: elizabeth-lola
- Link to profile picture: https://drive.google.com/drive/folders/1qUCMYDaQQkuJ-Btbxf1Yw2Wh22SlWi

[2021-06-06 13:33] Anita-ihuman opened #1910 "[Community] Member Profile: Naimot Oyewale"
**Current Behavior**

 @Naimaoye has been a consistent contributor and community member.

**Desired Situation**
Let's recognize  @Naimaoye as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @Naimaoye
- Twitter: @Naimatoyewale
- LinkedIn: Naimot Oyewale
- Link to profile picture: https://drive.google.com/file/d/16iN2eERaTCSSAqtgcfVcTSCN4lj

[2021-06-06 13:38] Anita-ihuman opened #1911 "[Community] Member Profile: Joy Nwaiwu"
**Current Behavior**

@JoyNwaiwu has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @JoyNwaiwu as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @JoyNwaiwu
- Twitter: JoyNwaiwu2
- LinkedIn: joy-nwaiwu-bb3b87177
- Link to profile picture: https://drive.google.com/file/d/1GqQRoBEUqD95Ek0H35-wypWJ

[2021-06-06 13:58] vinayaksh42 commented on #1866
Hey @Nikhil-Ladha, I won't be able to contribute to this issue because of other engagements.

[2021-06-06 14:04] Nikhil-Ladha commented on #1866
No problem @vinayaksh42 . Thanks for the heads-up 👍🏼

[2021-06-06 17:26] #1904 closed

[2021-06-06 18:50] CYBER-BRIX commented on #1901
hey, I'm a new contributor and I would like to work on this issue can you help me getting started.
thanks

[2021-06-06 18:56] sayantan1413 commented on #1901
Hey @CYBER-BRIX I think someone is already working in this issue. But don't worry you can find other good first issues and please join our [slack channel](http://slack.layer5.io/) we will help you to setup.

[2021-06-06 18:58] CYBER-BRIX commented on #1901
Your slack channel is showing some kind of error can you send me the link?

On Mon, Jun 7, 2021, 12:26 AM Sayantan Bose ***@***.***>
wrote:

[2021-06-06 19:07] sayantan1413 commented on #1901
Hey @CYBER-BRIX I have updated the link can you verify it?

[2021-06-06 19:09] CYBER-BRIX commented on #1901
It's showing this.

On Mon, Jun 7, 2021, 12:37 AM Sayantan Bose ***@***.***>
wrote:

[2021-06-06 19:18] sayantan1413 commented on #1901
I think now this link should work fine.

[2021-06-06 19:18] debjani1413 commented on #1901
Hey, @CYBER-BRIX the link has been updated by @sayantan1413 ,

Hey @CYBER-BRIX the link has been updated by @sayantan1413 here ☝️☝️☝️ please click on it and join our slack channel, for more support !

[2021-06-07 07:37] ishitakeshawani commented on #1911
@Anita-ihuman I wanted to start contributing to projects. So this issue will be helpful to start. Can you assign me for this issue? I want to solve this.

[2021-06-07 07:51] Blakelist7 commented on #1910
Hey, @Anita-ihuman if no one is working on this, can I give it a shot.🙂

[2021-06-07 09:24] sayantan1413 commented on #1910
Here you go @Blakelist7 😃

[2021-06-07 09:27] sayantan1413 commented on #1911
Here you go @ishitakeshawani :)

[2021-06-07 09:34] Anita-ihuman commented on #1911
Sure @ishitakeshawani please go ahead.

[2021-06-07 09:35] Anita-ihuman commented on #1910
Sure @Blakelist7, Please go ahead.

[2021-06-07 10:28] ishitakeshawani commented on #1911
Thank You @sayantan1413 @Anita-ihuman

[2021-06-07 12:08] jeantiston commented on #1909
Hello! I'd love to start contributing. If no one is working on this yet, I can try to do it.

[2021-06-07 13:06] Anita-ihuman commented on #1909
Please go ahead.

[2021-06-07 13:08] jeantiston commented on #1909
Thank you @Anita-ihuman. And thanks for sharing the profile photo with me. Are there any badges that I need to add to @Lezette's profile?

[2021-06-07 13:18] Anita-ihuman commented on #1909
Not at the moment, but subsequently maybe.

On Mon, Jun 7, 2021 at 2:08 PM Jean Tiston ***@***.***> wrote:

[2021-06-07 21:34] #1909 closed

[2021-06-08 13:05] claire-me commented on #1893
@leecalcote I would like to fix the issue. Can you assign me this?

[2021-06-08 13:21] sayantan1413 commented on #1893
Here you go @claire-me 😎

[2021-06-09 10:36] CYBER-BRIX commented on #1901
Hey,are you stuck with this issue,maybe i can help?

[2021-06-09 16:07] Jashpatel1 commented on #1851
Closing as issue if fixed.

[2021-06-09 16:07] #1851 closed

[2021-06-09 21:50] leecalcote opened #1916 "[Community] Member Profile: Rudraksh Pareek"
**Current Behavior**

@DelusionalOptimist has been a consistent contributor and community member.

**Desired Situation**

Let's recognize @DelusionalOptimist as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: DelusionalOptimist
- Twitter: Del_Optimist
- LinkedIn: rudraksh-pareek
- Link to profile picture: https://media-exp1.licdn.com/dms/

[2021-06-09 21:51] leecalcote opened #1917 "[Community] Member Profile: Pranav Bhatt"
**Current Behavior**

@pranav-bhatt  has been a consistent contributor and community member.

**Desired Situation**

Let's recognize <@pranav-bhatt  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: pranav-bhatt
- Twitter:
- LinkedIn: pranav--bhatt
- Link to profile picture: https://drive.google.com/file/d/1_zp_z_vSY_iNTiI4qgEzHtQOu4FQ1o

[2021-06-09 23:35] leecalcote opened #1918 "[Discuss] Twitter Feeds"
**Current Behavior**

The community has three twitter accounts:

- https://twitter.com/layer5
- https://twitter.com/mesheryio
- https://twitter.com/smp_spec

**Desired Behavior**
Consider embedding of a Twitter feed (e.g. https://meta.discourse.org/t/communities-with-embedded-twitter-feeds/133962):

- the Layer5 feed on the main page
- the Meshery feed on the Meshery category
- the SMP feed on the

[2021-06-09 23:42] leecalcote opened #1919 "[Events] Meetings: Capitalize "t" in YouTube"
**Description**
This page https://layer5.io/community/calendar#meetings needs the "t" in Youtube capitalized.

**Screenshots**
<img width="208" alt="Screen Shot 2021-06-09 at 6 41 05 PM" src="https://user-images.githubusercontent.com/7570704/121443052-68578700-c952-11eb-8369-f484b364d224.png">

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content

[2021-06-09 23:59] leecalcote opened #1920 "[Discuss] Add forum icon to set of social icons in the site footer"
**Current Behavior**
The Layer5 Community Forum is now live and needs links to it propagated across layer5.io.

**Desired Behavior**
A link to this forum inserted into the footer is one such desirable place.

**Screenshots / Mockups**

- icon: https://upload.wikimedia.org/wikipedia/commons/1/17/Discourse_icon.svg
- mockup: ![discourse_bw](https://user-images.githubusercontent.com/7570704/121444210

[2021-06-10 00:02] leecalcote commented on #1893
Hi @claire-me, if you would like any assistance or would like to engage in the community, please join: https://slack.layer5.io

[2021-06-10 00:08] leecalcote opened #1921 "[Discuss] Add link to forum into mega menu"
**Current Behavior**
https://discuss.layer5.io is live and ready to be linked.

**Desired Behavior**
A link (or two) to the discussion forum should be available from the mega menu on layer5.io

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contribut

[2021-06-10 00:15] leecalcote commented on #1894
Any luck so far, @Gautam-Arora24? What's your approach to solving this one?

[2021-06-10 02:39] DARK-art108 commented on #1920
Can I work upon this @leecalcote ?

[2021-06-10 03:17] #1921 closed

[2021-06-10 03:17] Jashpatel1 commented on #1920
Yaa sure, please go ahead.

[2021-06-10 04:02] Jashpatel1 opened #1923 "Add callout sections to join Layer5 Discussion Forum"
**Current Behavior**
Currently, no indication to join the [Layer5 Discussion Forum](https://discuss.layer5.io/) is present on site.

**Desired Behavior**
Add a callout section to [Layer5 Discussion Forum](https://discuss.layer5.io/) (similar to Join the Community section present on [Community Page](https://layer5.io/community)), on the [Community Page](https://layer5.io/community) and [FAQs Page](

[2021-06-10 06:14] iambami commented on #1923
Hi, I'd love to take this

[2021-06-10 06:44] iambami commented on #1919
I'd like to take this Lee

[2021-06-10 06:56] DelusionalOptimist commented on #1916
Thanks for this!!! :heart_eyes:
Just a minor correction. The profile picture URL seems to be broken. Please use this instead: https://drive.google.com/file/d/1_kpD1LMzGj3tn4chP-opiu2PJr7XxaYw/view?usp=sharing

[2021-06-10 07:30] rustmn commented on #1918
Hi! I can do this. But there is at least 4 ways how to get Twitter feed that come in mind:

1. Public Twitter API (requires approved Twitter developer account, registered Twitter app);
2. Get RSS-feed via 3-d party services and convert into JSON (needs RSS-parser, at least 11kb minified + gzipped);
3. Get Twitter feed via 3-d party services that send json (I don’t know any stable service that woul

[2021-06-10 08:53] kaushambisharma commented on #1917
I'd like to work on this issue.

[2021-06-10 08:54] kaushambisharma commented on #1916
I'd like to work on this issue.

[2021-06-10 08:56] Jashpatel1 commented on #1920
@DARK-art108 Just a small addition. Can you also add Discuss subheading under the Community heading in Footer

<img width="1267" alt="Screenshot 2021-06-10 at 10 24 41 AM" src="https://user-images.githubusercontent.com/43696490/121496057-bd010d80-c9f7-11eb-88ed-795bf321c50b.png">

[2021-06-10 08:56] Jashpatel1 commented on #1917
Sure, please go ahead.

[2021-06-10 08:57] Jashpatel1 commented on #1916
Sure, please go ahead

[2021-06-10 12:36] Chadha93 commented on #1923
Here you go

[2021-06-10 15:48] #1920 closed

[2021-06-10 17:13] Jashpatel1 commented on #1226
Closing as issue is solved.

[2021-06-10 17:13] #1226 closed

[2021-06-10 17:14] Jashpatel1 commented on #1394
Closing as issue is solved.

[2021-06-10 17:14] #1394 closed

[2021-06-10 17:15] Jashpatel1 commented on #1001
@leecalcote @Nikhil-Ladha Any updates here?

[2021-06-10 17:19] Jashpatel1 commented on #1801
Any updates here @karinape

[2021-06-11 03:19] iambami commented on #1923
Thank you.

[2021-06-11 07:52] #1864 closed

[2021-06-11 12:52] kaushambisharma commented on #1916
@DelusionalOptimist I'd like some help with the Bio for creating the profile.

[2021-06-11 12:54] kaushambisharma commented on #1917
@pranav-bhatt  I'd like some help with the Bio for creating the profile.

[2021-06-11 13:06] adithyaakrishna commented on #1918
This would be a great addition 💯 🎉

[2021-06-11 14:53] DelusionalOptimist commented on #1916
Sure @kaushambisharma, here you go :slightly_smiling_face: :
I'm an undergrad from India studying Computer Science and Engineering. I like to explore systems and networking and have a keen interest in working on cloud native technologies. I love learning by working on open source software and getting involved with the awesome communities around it.

[2021-06-11 16:13] pranav-bhatt commented on #1917
@kaushambisharma sure hmu on slack

[2021-06-11 19:41] leecalcote commented on #1522
Reopening. This is good work. I need to deliver a bit of content here.

[2021-06-13 17:45] Tanuj22 commented on #1911
@ishitakeshawani any updates here?

[2021-06-13 22:59] leecalcote opened #1927 "[Meshery] Outdated installation instructions for bash and helm"
**Description**
@samirparhi-dev noted that the layer5.io/meshery page has two issues:

1. bash installer on layer5.io needs the `| PLATFORM=kubernetes`
1. helm install instructions on meshery.io needs `kubectl create ns meshery`

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/l

[2021-06-13 23:50] leecalcote commented on #1927
Fixed in https://github.com/layer5io/layer5/commit/427121ed44f24f218b8d7424ee2df3dcb946034a

[2021-06-13 23:50] #1927 closed

[2021-06-14 04:00] ishitakeshawani commented on #1911
@Tanuj22 this issue is very easy but I am facing problems in the project setup.
But I will do it soon.

[2021-06-14 04:57] #1916 closed

[2021-06-14 05:14] Jashpatel1 commented on #1917
Closed with #1926

[2021-06-14 05:14] #1917 closed

[2021-06-14 05:59] Anita-ihuman commented on #1911
Alright.

[2021-06-14 11:16] visa-8 commented on #1901
Hi @CYBER-BRIX, yes I am still stuck with the issue. Could you please help?

[2021-06-14 14:32] Anita-ihuman opened #1930 "[ Blog ]Add the She Code Africa Contributhon Boot Camp"
**Description**
The Layer5 Blog site is lacking recounts of our participation in She Code Africa Contributhon 2020

**Expected Behavior**
Upload a blog post on the [Layer5 site](https://layer5.io/blog), giving recounts of our participation in She Code Africa Contributhon Boot Camp.
You will find the draft on [here](https://docs.google.com/document/d/1IplKOuPX-QQ0htZ8WrGOL2QRT_hQD7n_RXwCzz6J1Hs/edi

[2021-06-14 15:04] Jordan-Rob commented on #1930
Hi there, can I claim this issue

[2021-06-14 15:11] #1896 closed

[2021-06-14 15:29] Anita-ihuman commented on #1930
Great, you can take it up. Be sure to include the images and links as seen in the daft.

[2021-06-14 15:39] mdahwireng commented on #1901
Hello! I want to give it a try

[2021-06-14 16:13] CYBER-BRIX commented on #1901
it appears to me that you haven't installed nodejs to check go in cmd and
type node -v and after that npm -v

On Mon, Jun 14, 2021, 4:47 PM visa-8 ***@***.***> wrote:

[2021-06-14 18:13] Jordan-Rob commented on #1930
Alright thanks, I'm having a challenge accessing the draft. How do I gain permission

[2021-06-14 21:43] Anita-ihuman commented on #1930
Have you filled in the community member form? https://layer5.io/newcomer
That might be the reason you cant access the doc file.

[2021-06-15 02:17] leecalcote commented on #1918
Hi @rustmn! I missed your message earlier. Thanks for engaging here. I suppose we have the first method in mind with a relatively straight-forward embedded timeline. There is an approved developer account with registered Twitter app and credentials loaded into both the production discourse site (discuss.layer5.io) and a staging discourse site (http://staging-discuss.layer5.io). If you'll sign up f

[2021-06-15 03:50] Jashpatel1 commented on #1918
@rustmn This could be of some help: https://meta.discourse.org/t/communities-with-embedded-twitter-feeds/133962/1

[2021-06-15 07:28] sumeetweb commented on #1894
I think we need to add the CSS media queries from layer5.io into discuss.layer5.io
The footer style of layer5.io is in here:
https://github.com/layer5io/layer5/blob/master/src/sections/General/Footer/footer.style.js

[2021-06-15 08:28] #1919 closed

[2021-06-15 08:56] sumeetweb commented on #1894
for changing css in discuss.layer5.io, ig admin permissions are required or an admin will need to apply this change.

[2021-06-15 09:14] adithyaakrishna commented on #1894
// @Jashpatel1

[2021-06-15 10:50] visa-8 commented on #1901
I did install node and npm. Command node -v gives v14.17.0 and npm -v gives v3.10.5

[2021-06-15 11:00] CYBER-BRIX commented on #1901
Have you tried asking this on layer5's slack channel?

On Tue, Jun 15, 2021, 4:20 PM visa-8 ***@***.***> wrote:

[2021-06-15 11:08] Jordan-Rob commented on #1930
Okay let me do so

[2021-06-15 12:16] visa-8 commented on #1901
I did long back. Will do it again. One question - From which directory are you giving the command "make setup-libs" to build the site locally?

[2021-06-15 12:29] visa-8 commented on #1901
What is the npm version that needs to be installed? My PC has V 3.10.5 but looks like the latest version is 6.14.13? Any inputs?

[2021-06-15 12:53] Tanuj22 commented on #1901
@visa-8 that should work

[2021-06-15 12:56] #1901 closed

[2021-06-15 13:09] CYBER-BRIX commented on #1901
you should definitely update it ..

On Tue, Jun 15, 2021, 5:59 PM visa-8 ***@***.***> wrote:

[2021-06-15 15:38] rustmn commented on #1918
Got it, thanks. I'll do it ASAP.

[2021-06-16 03:13] Jashpatel1 commented on #1894
You can make the changes in [https://staging-discuss.layer5.io/](https://staging-discuss.layer5.io/) .  Let me know once you create an account there, will provide you with admin access.

[2021-06-16 05:00] Jordan-Rob commented on #1930
I needed some clarification on how blog posts are uploaded to the Layer 5 site

[2021-06-16 12:08] kumar4790 commented on #1841
Hey, will it be done in reactjs?

[2021-06-16 12:38] Nikhil-Ladha commented on #1841
Will require gatsby mostly.

[2021-06-16 13:32] sumeetweb commented on #1894
👍  Done. Created an account on staging with username sumeetweb

[2021-06-16 13:37] sumeetweb commented on #1894
Got it thanks.

[2021-06-16 16:06] #1911 closed

[2021-06-16 22:29] Anita-ihuman commented on #1930
How do you mean?

[2021-06-17 11:12] leecalcote opened #1937 "[News] 5 Lesser-Known, But Extremely Powerful Kubernetes Service Mesh Tools"
We're in the news! Using the contributing instructions for [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news), please add the following article to the Layer5 Newsroom.

**Article:**
- Title: 5 Lesser-Known, But Extremely Powerful Kubernetes Service Mesh Tools
- Link: https://techgenix.com/kubernetes-service-mesh-tools/

---
**Contributor Resources**

The laye

[2021-06-17 13:26] divyanshugit commented on #1937
@leecalcote Can you please assign this issue to me cause I would love to work on this?

[2021-06-17 14:27] leecalcote commented on #1937
That'd be great. Thank you, @divyanshugit 👍

[2021-06-18 15:30] Tanuj22 commented on #1930
@Jordan-Rob The procedure will be similar for [news ](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news) but for [blogs](https://github.com/layer5io/layer5/tree/master/src/collections/blog)

[2021-06-19 08:29] #1732 closed

[2021-06-20 14:23] #1937 closed

[2021-06-20 14:28] Nikhil-Ladha opened #1940 "[Learn][Epic] Add a course to the learn-ng site"
**Current State:**
The current learn section doesn't have an actual course present within the learning path.

**Desired State:**
A course needs to be added, named `Introduction to Service Mesh - Hands On`. We can start with migrating the labs in the `istio-service-mesh-workshop` course at https://github.com/layer5io/istio-service-mesh-workshop as individual chapters for this course.

This issue ca

[2021-06-20 20:13] Harshit-1999 commented on #1940
Figma File is unavailable.

[2021-06-21 06:50] anurag8546 commented on #1940
@Nikhil-Ladha Where will I find the code for this `Learn Service Mesh`  page? in this repository.

[2021-06-21 12:13] #1855 closed

[2021-06-21 13:27] sudo-NithishKarthik commented on #1752
If no one is currently working on it, i can take up this issue ✌🏽

[2021-06-21 15:54] adithyaakrishna commented on #1752
Yes sure @sudo-NithishKarthik
This has been pending from a long time, you can knock it down 🎉

[2021-06-21 15:56] adithyaakrishna commented on #1778
@leecalcote I guess we can go ahead with @Chadha93 's idea on this, as it was a great suggestion from him. What's your opinion on this? 👀

[2021-06-21 16:07] adithyaakrishna commented on #1737
@Chadha93 Let's knock this out over our call today, what say?

[2021-06-21 16:10] adithyaakrishna commented on #1778
@Chadha93 Let's knock this out too, I guess we can go ahead with your proposed thing and create a PR for this, once done we can make changes during review

[2021-06-21 17:55] Chadha93 commented on #1737
Sure lets do it

[2021-06-21 18:44] amino19 opened #1942 "[README] Slack badges for member's stats"
**Description:**
Need to add a Slack badge for Layer5 community, shows member's counts; as shown below:

**Current Behaviour:**
Lost member stats badge

**Desired Behaviour:**
Need to add a badge like:

**Screenshots**

![image](https://user-images.githubusercontent.com/75872316/122811622-5a105000-d2ee-11eb-9ca3-1b48c5f85e76.png)

**Enviroment:**
- Host OS:  Any
- Meshery Version: Any
- Kubernetes

[2021-06-21 20:08] DARK-art108 commented on #1942
Can I work upon this addition? @amino19

[2021-06-21 20:15] amino19 commented on #1942
@DARK-art108 : Yours stage.

@adithyaakrishna : Sir, Pl Assign him.

[2021-06-22 04:24] sudo-NithishKarthik commented on #1752
https://user-images.githubusercontent.com/75248557/122863051-c0718e80-d33f-11eb-9ffa-a02a921d3b8a.mov

Will this do ?

[2021-06-22 04:31] sudo-NithishKarthik commented on #1886
I can try this out if someone could tell what exactly has to be done 😅

[2021-06-22 05:07] alphaX86 commented on #1886
@leecalcote will explain in detail what needs to be done. But as far as concerned it's the bash command area that needs to be improved in terms of UI.

[2021-06-22 05:35] kaushambisharma commented on #1940
I'd like to work on this issue.

[2021-06-22 05:57] kaushambisharma commented on #1866
I'd like to take up this issue.

[2021-06-22 06:00] Nikhil-Ladha commented on #1940
@anurag8546 You can find the code for this section of the site under the [`Learn-Layer5`](https://github.com/layer5io/layer5/tree/master/src/sections/Learn-Layer5).

[2021-06-22 06:01] Nikhil-Ladha commented on #1940
@kaushambisharma that would be great. Though just wait until today, I will be pushing some updates/a template then it will be easier to start with the migration.

[2021-06-22 06:01] Nikhil-Ladha commented on #1866
Sure @kaushambisharma . Please go ahead with it.

[2021-06-22 10:30] Tanuj22 commented on #1752
@sudo-NithishKarthik transition should be present when the code block appear i.e smooth transition to expand downward when the button is clicked.

[2021-06-22 10:33] sudo-NithishKarthik commented on #1752
You are talking about the movement of **Manage your mesh** component right?

[2021-06-22 10:34] Tanuj22 commented on #1752
Yes

[2021-06-22 12:49] leecalcote commented on #1886
@sudo-NithishKarthik, I'll grab you in chat to verbally review.

[2021-06-22 21:26] Anita-ihuman opened #1944 "[Community] Member Profile: Nikhil Sharma"
**Current Behavior**

@NikhilSharma03 has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @NikhilSharma03 as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub : @NikhilSharma03
- LinkedIn : nikhil-sharma-7538961b2
- Twitter : its_nikhil_03
- Profile Picture : https://drive.google.com/file/d/1NMEDZ3E

[2021-06-23 03:56] sudo-NithishKarthik commented on #1752
https://user-images.githubusercontent.com/75248557/123033264-1bb98480-d405-11eb-8cd6-41aa989654ad.mov

[2021-06-23 04:36] #1944 closed

[2021-06-23 13:14] Nikhil-Ladha commented on #1940
@kaushambisharma and @anurag8546 the wireframe for TOC and a chapter for this issue is already added in the repo. So, now you can start migrating a chapter per PR and use this issue for it.

[2021-06-23 13:16] Nikhil-Ladha commented on #1940
If you guys have any doubt, feel free to ping me on slack.
And, if you have not joined slack yet....then what are you waiting for? [Join now](slack.layer5.io)

[2021-06-24 02:54] sudo-NithishKarthik commented on #1752
Any comments ?

[2021-06-24 07:10] Tanuj22 commented on #1752
@sudo-NithishKarthik looks good. Please open up a PR

[2021-06-24 22:58] #1244 closed

[2021-06-25 20:06] leecalcote opened #1953 "[Contact] The contact form fails to submit in Safari"
**Description**
The submit button on https://layer5.io/company/contact perpetually spins without submission completing when using Safari. It does work when submitting via Chrome.

**Screenshots**
<img width="1468" alt="Screen Shot 2021-06-25 at 3 05 39 PM" src="https://user-images.githubusercontent.com/7570704/123479700-f1afc000-d5c6-11eb-98c2-0c05fdeb50fd.png">

---
**Contributor Resources**

The

[2021-06-25 20:27] Nikhil-Ladha commented on #1953
Seems like an issue with MailChimp itself 🤔

[2021-06-25 20:28] Nikhil-Ladha commented on #1953
Could you check if you are able to submit the form through this link: https://us15.list-manage.com/contact-form?u=6b50be5aea3dfe1fd4c041d80&form_id=d0ffe17c92d8014ede6b721aa16096e8

[2021-06-26 00:35] leecalcote commented on #1953
@Nikhil-Ladha, yes, indeed. That works.

[2021-06-26 14:18] #1752 closed

[2021-06-28 07:07] Anita-ihuman opened #1955 "[ Learn-ng ] Fix container to be even"
**Current Behavior**
As a result of the text "The mastering service meshes for Developer"  wrapping, the container appears longer than the other container.
![Screenshot 2021-06-25 at 16 20 25](https://user-images.githubusercontent.com/62384659/123535893-128b2900-d71f-11eb-8059-08d66038e417.png)
**Desired Behavior**
Adjust The "The mastering service meshes for Developer"  container to be even In le

[2021-06-28 08:25] Tanuj22 commented on #1930
@Jordan-Rob any updates here?

[2021-06-28 08:33] #1940 closed

[2021-06-28 08:56] parthlaw commented on #1955
I can't find these containers on the website. Can you provide a link to where these containers are used?

[2021-06-28 09:03] parthlaw commented on #1955
I would like to work on this one.

[2021-06-28 09:27] parthlaw commented on #1955
I would like to work on this one.

[2021-06-28 09:41] Anita-ihuman commented on #1955
https://layer5.io/learn-ng

[2021-06-28 19:33] warunicorn19 commented on #1894
hey, i see that no one is assigned this issue right now, can i try to work on this?

[2021-06-28 19:36] sayantan1413 commented on #1894
Yeah sure! here you go @warunicorn19.

[2021-06-28 19:36] warunicorn19 commented on #1894
Thanks! @sayantan1413

[2021-06-28 19:36] leecalcote commented on #1894
Sounds good. @warunicorn19, you'll want to start by creating a user account on https://staging-discuss.layer5.io and signaling to @Jashpatel1 or @sayantan1413, so that they might elevate your user privileges to make and test these changes. From there, you can have these changes reviewed and approved for moving to https://discuss.layer5.io.

[2021-06-28 19:38] leecalcote commented on #1894
If you're not already part of the Layer5 Community, I encourage you to join, so that you can better engage with @Jashpatel1, @sayantan1413, and the rest of the contributors - https://layer5.io/community/newcomers.

[2021-06-28 19:38] warunicorn19 commented on #1894
Hey @leecalcote , I've already done everything, just waiting for @Jashpatel1 to give me access.

[2021-06-28 19:40] sumeetweb commented on #1894
I got some issues with CSS not being applied in discourse admin. You can go through [this link](https://meta.discourse.org/t/how-to-make-css-changes-on-your-site/168101), which I followed as I was new to discourse. I hope you will be able to fix this issue.

[2021-06-28 19:41] warunicorn19 commented on #1894
Okay thanks @sumeetweb

[2021-06-29 20:03] #1841 closed

[2021-06-30 04:12] sudo-NithishKarthik commented on #1866
@kaushambisharma , are you working on this issue ?

[2021-06-30 05:00] kaushambisharma commented on #1866
@sudo-NithishKarthik hey, I was planning on working on the issue after other personal deadlines, you can take the issue.

[2021-06-30 05:32] Nikhil-Ladha commented on #1866
Thanks for the heads-up @kaushambisharma .
@sudo-NithishKarthik I guess the field is open for you to play :)

[2021-06-30 06:05] sudo-NithishKarthik commented on #1866
Ya sure :)

[2021-07-01 08:11] #1866 closed

[2021-07-01 09:35] sudo-NithishKarthik opened #1959 "[Learn] Navigation to course overview page from chapter page is broken"
**Description**
User is not taken to the course overview page on clicking back button from the TOC component in chapter page. Refer the screen recording for clarity.

**Expected Behavior**
User should be taken to the course overview page on clicking the back button.

**Screen recording**

https://user-images.githubusercontent.com/75248557/124100785-6037c680-da7c-11eb-9ac5-84303365a30e.mov

 **Addi

[2021-07-01 11:20] devartstar commented on #1959
Hi @sudo-NithishKarthik , I would Like to work on this. Can you assign this to me.

[2021-07-01 11:27] sudo-NithishKarthik commented on #1959
Sure @devartstar , if you are new to the community, don't forget to join our slack(https://slack.layer5.io) where all the fun learning happens 😉 . If you face any difficulties, feel free to reach out ✌🏽 . Happy learning 🎉

[2021-07-01 11:56] Anita-ihuman commented on #1930
@Jordan-Rob what's the update on this?

[2021-07-01 13:56] Jordan-Rob commented on #1930
@Anita-ihuman I'm still facing the other blocker I posted in slack a few colleagues are trying to help me but no solution yet let me tag you on the thread in slack

[2021-07-01 19:09] Ayush-Khandelwal-007 opened #1961 "Overflowing Text"
**Description**
Overflowing text

**Screenshots**

https://user-images.githubusercontent.com/59086855/124177243-9487a300-dacd-11eb-8305-8e12b333aae5.mov

**Enviroment:**
- Host OS: OSX
- Browser: Google Chrome

---

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://layer5.io/careers/internships/'
2. Hover on "Software Engineer Internship" card.

---
**Contributor Resources**

The

[2021-07-02 03:56] Jashpatel1 commented on #1953
@leecalcote @Nikhil-Ladha Any updates here?

[2021-07-02 03:57] Jashpatel1 commented on #1930
@Jordan-Rob @Anita-ihuman were you able to find a solution to the blocker?

[2021-07-02 03:57] Jashpatel1 commented on #1923
@iambami Any updates here?

[2021-07-02 03:58] Jashpatel1 commented on #1918
@rustmn Is the plugin ready to be added on prod deployment?

[2021-07-02 04:01] Nikhil-Ladha commented on #1953
Nope, this is a weird issue and needs to be debugged on Safari specifically. Because, it works on all the other browsers I can't have say much on the issue.

[2021-07-02 04:42] leecalcote opened #1963 "[Discuss] Newsletter signup not working in the footer"
**Description**
In the footer of the discuss.layer5.io site, entering an email address and clicking Subscribe seemingly just refreshes the page and does not seem to subscribe the email address to the newsletter.

**Enviroment:**
- Browser: Chrome

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://git

[2021-07-02 04:45] leecalcote commented on #1953
@Ayush-Khandelwal-007, help a MacOS brother out...

[2021-07-02 04:45] warunicorn19 commented on #1963
Hey!, Could you assign me this issue?

[2021-07-02 05:05] Anita-ihuman commented on #1930
Yes, the feedback given says, Rob is supposed to review his code for error.

[2021-07-02 06:31] Ayush-Khandelwal-007 commented on #1953
I don't know what is going on here, its pretty messed up as I "can't see the submit" button in the chrome browser. Let me see what all is going on.

[2021-07-02 10:50] #1955 closed

[2021-07-02 13:43] kaushambisharma commented on #1961
I'd like to take up this issue.

[2021-07-02 14:05] Ayush-Khandelwal-007 commented on #1961
Here you go @kaushambisharma.

[2021-07-03 06:35] devartstar commented on #1959
I am having some difficulty in setting up the environment.
Getting some errors while running `make site`.
![Screenshot from 2021-07-03 11-37-14](https://user-images.githubusercontent.com/61665451/124345448-8d0fe900-dbf6-11eb-8bda-473e77bac5e6.png)
Can u please help me with it.

[2021-07-03 06:41] Nikhil-Ladha commented on #1959
Did you ran `make setup-ui-libs` before running `make site`?

[2021-07-03 06:58] devartstar commented on #1959
yes, and I also updated my npm to the latest version, still got the error.

[2021-07-03 07:01] Nikhil-Ladha commented on #1959
Delete the `.cache` folder and try again. Also, have you made any changes or this is happening without the changes?

[2021-07-03 07:06] devartstar commented on #1959
okay...will try this.
No, I didn't make any changes.

[2021-07-03 07:18] devartstar commented on #1959
Deleted the `.cache` folder and tried again.
https://user-images.githubusercontent.com/61665451/124346502-d2cfb000-dbfc-11eb-9ba0-484ef1a6e856.mov

[2021-07-03 07:25] sudo-NithishKarthik commented on #1959
Try this

1. run `npm run clean`
2. delete `package-lock.json`
3. run `make setup-libs`
4. run `make site`

[2021-07-03 07:57] rustmn commented on #1918
Plugin is written but not ready for production because I didn't recieve API keys for Twitter. I asked @leecalcote and you for them several times in Slack and didn't get them.

Currently plugin written based on response from API endpoint described here: https://developer.twitter.com/en/docs/twitter-api/v1/tweets/timelines/api-reference/get-statuses-user_timeline.

I don't know, you can add plugin y

[2021-07-03 12:44] debo19 commented on #1893
Hey @claire-me , can i partner up with you on this issue? I would like to give it a try.

[2021-07-03 16:22] sudo-NithishKarthik commented on #1953
Actually i am facing this issue irrespective of the browser that i use. On looking into it, i found that it is not able to send the cookie when the form is loaded in iframe.

while using [this](https://us15.list-manage.com/contact-form?u=6b50be5aea3dfe1fd4c041d80&form_id=d0ffe17c92d8014ede6b721aa16096e8) link
<img width="455" alt="Screenshot 2021-07-03 at 9 49 18 PM" src="https://user-images.githu

[2021-07-03 16:29] Ayush-Khandelwal-007 commented on #1953
@sudo-NithishKarthik Are you able to see the submit button in chrome (from the website, not from the direct link to the form)?

[2021-07-03 16:30] sudo-NithishKarthik commented on #1953
Yes actually

[2021-07-03 16:34] Nikhil-Ladha commented on #1953
Ok, can you guys try if building the site locally makes any difference in the working or appearance of the button?

[2021-07-03 16:36] sudo-NithishKarthik commented on #1953
Ya, lemme do that @Nikhil-Ladha

[2021-07-03 17:22] sudo-NithishKarthik commented on #1953
it doesn't, it still gives the same error

[2021-07-03 17:56] sudo-NithishKarthik commented on #1953
Ok guys, i found what the issue is, this happens when the user's browser has its preference set to disable 3rd party issues,
since the browsers consider cookies inside an iframe as third-party-cookies. If you want to verify,

For safari, enable this,
<img width="1437" alt="Screenshot 2021-07-03 at 11 23 33 PM" src="https://user-images.githubusercontent.com/75248557/124362913-b14ee280-dc55-11eb-83d

[2021-07-03 18:00] sudo-NithishKarthik commented on #1953
Anybody has an idea to fix it ?

[2021-07-03 18:11] Nikhil-Ladha commented on #1953
Not really 🤔 , if a user fails to submit because of the way MailChimp provide service it is not possible to have any different embedding done for this form. This leaves us to manually tell anyone (who face this issue).

[2021-07-03 18:34] sudo-NithishKarthik commented on #1953
Ya, and i don't think there's much we can do about it. Because, if somehow we manage to set a third-party-cookie even after it is blocked by the browser, then, i don't see that browser going anywhere 😂

[2021-07-03 18:36] sudo-NithishKarthik commented on #1953
we can actually have a alert sort of thing to let the users know that they have to allow third party cookies in order for this form to function, or, we should take them to the direct form link

[2021-07-04 12:45] claire-me commented on #1893
Yes, you can @debo19

[2021-07-04 12:56] sayantan1413 commented on #1893
That's great @claire-me I am assigning the issue to @debo19 also so that you can pair up and solve it together. 🚀

[2021-07-04 14:15] debo19 commented on #1893
Thanks @sayantan1413 :)

[2021-07-05 05:53] sudo-NithishKarthik commented on #1959
@devartstar , what is the update on this ? Were you able to set up the project ?

[2021-07-05 09:37] sudo-NithishKarthik opened #1967 "[Learn] Change the look of terminal in learn-ng homepage"
**Current Behavior**
The terminal present in the [Learn-NG](https://layer5.io/learn-ng) is not looking good.

<img width="1440" alt="Screenshot 2021-07-05 at 2 57 19 PM" src="https://user-images.githubusercontent.com/75248557/124449681-4f9b8f00-dda1-11eb-9219-d1e9b301e04f.png">

**Desired Behavior**
Make the terminal look good and display relevant content in it.

Inspiration can be taken from this

[2021-07-05 12:56] Tanuj22 commented on #1967
An example to reuse the terminal is [here](https://layer5.io/service-mesh-management/meshery)
![image](https://user-images.githubusercontent.com/42486853/124474724-80d68800-ddbe-11eb-9f20-385c40985610.png)

[2021-07-05 13:29] chetak123 commented on #1967
Can I take this issue please ?

[2021-07-05 13:36] sudo-NithishKarthik commented on #1967
sure @chetak123

[2021-07-05 14:57] chetak123 opened #1969 "Area of focus section to be added"
**Desired Behavior**

Make an **Area of focus** dropdown on [Community Members](https://layer5.io/community/members) page which provide names of each badge for the community members.

---
![Screenshot from 2021-07-05 20-15-27](https://user-images.githubusercontent.com/53306550/124489005-234a3780-ddce-11eb-8d40-547c1d7f4b0d.png)

---
**Contributor Resources**

The layer5.io website uses Gatsby, Rea

[2021-07-05 15:08] warunicorn19 commented on #1963
Fixed this Issue. :)

[2021-07-05 15:27] devartstar commented on #1959
@sudo-NithishKarthik sorry for the late reply -
No, I haven't still been able to set up the project,
Earlier the error was `Cannot find module 'vfile'`
Now its showing - `Cannot find module 'chalk'`

[2021-07-05 15:58] amino19 opened #1970 "[README] Need to rectify `Slack badge` link"
**Description**

Slack badge link got changed, i.e, `GitHub Link` itself.

**Expected Behavior**

Need rectification & update as:
[code]

**Enviroment:**
- Host OS: Any
- Meshery Version: Any
- Kubernetes Version: Any
- Browser: Any
--------
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/la

[2021-07-05 17:33] Jayita10 commented on #1970
I am new to open source, would like to work on this issue

[2021-07-05 17:41] amino19 commented on #1970
@Jayita10 : Good, here you go! :rocket:

[2021-07-05 18:31] tanmoy27112000 commented on #1970
can i fix it? i just joined

[2021-07-06 12:34] #1970 closed

[2021-07-06 13:21] Anita-ihuman opened #1974 "Improve member options on the web based form"
**Description**
The current web-based form is lacking an improved design.

**Expected Behavior**
The design for the web-based form was recently improved and the changes should be implemented on the website.

**Screenshots**
![Screenshot 2021-07-06 at 14 05 40](https://user-images.githubusercontent.com/62384659/124606775-1cbacf00-de65-11eb-8107-1bae307e5cfb.png)

**Environment:**
- Host OS:
- Meshe

[2021-07-06 14:06] #1953 closed

[2021-07-07 17:06] Anita-ihuman opened #1976 "[Community] Member Profile: Sayantan Bose"
**Current Behavior**

@sayantan1413  has been a consistent contributor and community member.

**Desired Situation**

Let's recognize @sayantan1413  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @sayantan1413
- Twitter: sayanta33163352
- LinkedIn: sayantan-bose-14134a1a6
- Link to profile picture: https://drive.google.com/file/d/1HUr2

[2021-07-07 17:07] debjani1413 commented on #1976
I would like to work on this

[2021-07-07 17:08] Anita-ihuman commented on #1976
Go ahead @debjani1413

[2021-07-07 19:21] sudo-NithishKarthik commented on #1969
@debo19

[2021-07-07 19:24] sudo-NithishKarthik commented on #1969
@debo19

[2021-07-07 20:44] #1976 closed

[2021-07-08 11:56] #1522 closed

[2021-07-08 13:41] devartstar commented on #1959
I have created a PR # [1980](https://github.com/layer5io/layer5/pull/1980) which fixes this issue. Can you please review it.

[2021-07-08 13:41] leecalcote commented on #1959
Excellent. 😄

[2021-07-08 14:16] devartstar commented on #1969
Hi, can you please describe this issue a little bit more and if it is available to work on.

[2021-07-08 14:21] sudo-NithishKarthik commented on #1969
@devartstar, @debo19 is working on this issue. You can see if there are any other issues that intrigues you ✌🏽

[2021-07-08 14:27] devartstar commented on #1969
Okay sure, thanks for confirming.

[2021-07-08 17:34] chetak123 opened #1982 "Change default template style of discuss.layer5.io’s email"
**Current Behavior**

Currently discuss.layer5.io’s email template uses default style.
![Screenshot from 2021-07-08 22-50-45](https://user-images.githubusercontent.com/53306550/124965553-e4bbb380-e03f-11eb-970a-3364398c58c3.png)

**Desired Behavior**

We need to change and customise it. It should draw from the [brand guide](https://docs.google.com/presentation/d/1Ofy15e2bAIz4IYC8X70omnlpX9vI0QZpkR

[2021-07-08 17:46] leecalcote opened #1983 "[CI] Create a labeler workflow or an issue template for issues related to Discuss"
**Current Behavior**
Contributing to the discuss.layer5.io site involves a unique contribution model in which contributors make changes in the discourse server running at staging-discuss.layer5.io first, then those changes are reviewed and propagated.

**Desired Situation**
Ideally, contributors are pointed to these instructions on each issue with an `area/discuss` label or the `framework/discours

[2021-07-08 17:47] leecalcote commented on #1983
We also need instructions on how to persist the site's custom configuration to GitHub, @Jashpatel1. This could be tracked in a separate issue.

[2021-07-08 19:34] sayantan1413 commented on #1983
Hey @leecalcote I would like to take up the issue. But I think the contributor resources should be different for the discuss.layer5.io

[2021-07-09 04:25] sudo-NithishKarthik opened #1984 "[Learn] Add sidebar component to learn path page"
**Current State:**
The sidebar component has not been built

<img width="1440" alt="Screenshot 2021-07-09 at 9 44 52 AM" src="https://user-images.githubusercontent.com/75248557/125022436-51fc3280-e09a-11eb-9568-96b224d40100.png">

**Desired State:**

Build the sidebar component taking inspiration from [storybook site](https://storybook.js.org/tutorials/intro-to-storybook/react/en/using-addons/)

*

[2021-07-09 04:27] devartstar commented on #1984
@sudo-NithishKarthik can you please assign me this issue.

[2021-07-09 04:28] sudo-NithishKarthik commented on #1984
Sure @devartstar , go ahead.

[2021-07-09 16:54] leecalcote commented on #1881
We have 0365 auth working, but would ideally have this static file posted, so that discuss.layer5.io shows as verified.

[2021-07-09 20:40] amino19 commented on #1942
@DARK-art108 : Do you like to give a shot here?

[2021-07-10 04:34] DARK-art108 commented on #1942
Yes, @amino19 sure I will add this!

[2021-07-10 15:56] debo19 commented on #1969
@warunicorn19

[2021-07-12 13:46] #1959 closed

[2021-07-12 13:52] Nikhil-Ladha opened #1986 "[Learn] Add the course for introduction to service mesh using linkerd"
**Current State:**
We have a course: `Introduction to service meshes - Hands On` under the learning path: `Mastering service mesh`. That course only has the tutorial using `istio`.

**Desired State:**
We need to create a new folder: `linkerd` under this [folder](https://github.com/layer5io/layer5/tree/master/content-learn/mastering-meshery-istio/introduction-to-service-meshes) and the chapters ins

[2021-07-12 13:56] Nikhil-Ladha opened #1987 "[Learn] Add a new course "Advance concepts of Service Mesh""
**Current State:**
We have only 1 course `introduction to service mesh` under the learning path `mastering service mesh`, the `advance concepts of service mesh` course is not yet added.

**Desired State:**
A new course `Advance concepts of service mesh` needs to be added under the learning path `mastering service mesh` [here](https://github.com/layer5io/layer5/tree/master/content-learn/mastering-m

[2021-07-12 14:11] Nikhil-Ladha opened #1988 "[Learn] Add service mesh switcher for each course"
**Current State:**
A user can take a course under a learning path from a variety of service meshes available. But, it lacks the switcher to do so.

**Desired State:**
A section needs to be added under the TOC on each chapter page, which will allow the user to change the service mesh using which they want to take the course. Like the `Service meshes:` section we have in the image below:
![Screensho

[2021-07-12 14:45] myhiccupsandglitches commented on #1969
Hello @debo19 can I work on this with you?

[2021-07-12 14:52] debo19 commented on #1969
@myhiccupsandglitches Yeah sure

[2021-07-12 16:51] Blakelist7 commented on #1986
@Nikhil-Ladha I'd like to help with this issue :)

[2021-07-12 17:21] Nikhil-Ladha commented on #1986
Sure, go ahead and start by sending out a PR for one chapter only.
Take a look to the code and the structure of the existing course. It will help you.

[2021-07-12 18:44] The-Loony-Coder commented on #1987
Hey @Nikhil-Ladha , can I have this issue?

[2021-07-12 18:45] Blakelist7 commented on #1986
Hey, @Nikhil-Ladha just confirming 😅
Chapters names should be taken up from <a href="https://github.com/layer5io/layer5/tree/master/content-learn/mastering-meshery-istio/introduction-to-service-meshes/istio">here</a>. For example `deploy-an-application.mdx` and content inside it should be <a href="https://github.com/layer5io/linkerd-service-mesh-workshop/blob/master/lab-1/README.md">this</a>, righ

[2021-07-13 03:32] Nikhil-Ladha commented on #1986
Yes.

[2021-07-13 03:34] Nikhil-Ladha commented on #1987
Sure. You can start off with sending out a PR which adds only 1 chapter for the course (probably the first chapter)

[2021-07-13 14:08] kayceeDev commented on #1984
@sudo-NithishKarthik  has this issue been worked on or can i get assigned too?

[2021-07-13 14:10] kayceeDev commented on #1923
Can i still work on this too?

[2021-07-13 14:13] Chadha93 commented on #1923
Sure @kayceeDev ,

[2021-07-13 14:54] sudo-NithishKarthik commented on #1984
@kayceeDev ,  @devartstar  is already working on this 😅

[2021-07-13 15:12] iambami commented on #1923
Yeah, thought it was closed

[2021-07-13 15:25] Chadha93 commented on #1923
@iambami no issue, you are good to go. @kayceeDev Thanks for jumping in there are many other issues you can have a look at. : )

[2021-07-13 16:01] leecalcote commented on #1923
@kayceeDev good of you to jump in! 🙂

[2021-07-13 16:23] #1983 closed

[2021-07-13 16:40] kayceeDev commented on #1923
@Chadha93 I will do just that.  Thank you.
@iambami you can still reach out if you need me to jump right in and help.
 @leecalcote I am optimistic to make first contribution to an open source project.😊

[2021-07-13 16:45] Nikhil-Ladha commented on #1988
Sure, do you want me to assign this to you?

[2021-07-14 06:41] iambami commented on #1923
@kayceeDev yes we could do this together

[2021-07-14 06:43] iambami commented on #1923
@kayceeDev are you on the slack page? You can just message me there.

[2021-07-14 07:29] kayceeDev commented on #1923
@iambami done👌

[2021-07-14 12:13] Anita-ihuman opened #1991 "Add a FAQ for members of the community"
**Current Behavior**
There is no FAQ that points out what is expected from contributors joining the community.

**Desired Situation**
Create a FAQ that answers the question "What is expected of me as a member of Layer5 organisation?"

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer

[2021-07-14 12:23] Jordan-Rob commented on #1991
could I take it on

[2021-07-14 12:40] iambami commented on #1988
yes

[2021-07-14 20:34] #1991 closed

[2021-07-15 06:56] warunicorn19 commented on #1857
has this issue been solved?? if it hasn't, can i work on this?

[2021-07-15 07:47] Tanuj22 commented on #1857
No it hasn't. We are still at the problem I mentioned in the above comment 😬

[2021-07-15 07:51] warunicorn19 commented on #1857
Yeah but since the comment is from 2 months ago, I thought of checking😅

[2021-07-15 17:58] Blakelist7 commented on #1986
@Nikhil-Ladha should I add <a href="https://github.com/layer5io/linkerd-service-mesh-workshop/blob/master/lab-6/README.md">Lab-6</a> or <a href="https://github.com/layer5io/linkerd-service-mesh-workshop/tree/master/lab-4"></a>to chapter 4 `observability`?
As topic `observability` matches `lab 8`.
(P.S similar for `lab 8`)

[2021-07-15 18:19] Nikhil-Ladha commented on #1986
Yes, but the problem here is the chapter content and the topic which they cover. They don't seem to be similar to what Istio has and that is my concern.

[2021-07-15 18:21] Blakelist7 commented on #1986
Mine too 🤔

[2021-07-15 18:31] Nikhil-Ladha commented on #1986
You migrate the chapters for now in the order they are, we will take a decision on the order later.

[2021-07-15 18:32] Nikhil-Ladha commented on #1986
Don't update the title's to match the Istio onne's if they don't resemble.

[2021-07-15 18:43] Blakelist7 commented on #1986
ok, then should I change the file name as well or keep them same as it for `istio`?

[2021-07-15 18:54] Nikhil-Ladha commented on #1986
Change the filename as well

[2021-07-16 22:50] DelusionalOptimist opened #1998 "[Community] Member Profile: Aditya Chatterjee"
**Current Behavior**

@warunicorn19 has been a consistent contributor and community member. :rocket:

**Desired Situation**
Let's recognize @warunicorn19 as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @warunicorn19
- Twitter:
- LinkedIn: aditya-chatterjee-737729159
- Link to profile picture: https://drive.google.com/file/d/1mLojptCXkz

[2021-07-16 22:52] leecalcote commented on #1998
Very cool. 😄

[2021-07-16 23:27] #1930 closed

[2021-07-17 02:04] Jordan-Rob commented on #1998
@DelusionalOptimist can I take this up

[2021-07-17 06:12] DelusionalOptimist commented on #1998
Sure @Jordan-Rob! Go ahead.
Feel free to reach out if you feel like something is missing :grin:

[2021-07-17 07:00] navendu-pottekkat opened #2000 "Add SMP Community meeting info to `/community/calendar`"
**Current Behavior**

A new SMP meeting has been scheduled on the community calendar.

**Desired Behavior**

The new meeting details should be added to the [/community/calendar](https://layer5.io/community/calendar) page in the table. The details of the meeting are given below:

SMP Community Meeting
Biweekly Thursday
#performance
https://bit.ly/3B7uIy9
https://meet.layer5.io/smp
YouTube playlist

[2021-07-17 07:09] Anita-ihuman opened #2001 "Fix the broken link"
**Description**
The link for Anisat"s member profile appears to be broken and is throwing an error 404.
Also, the links on the page are acting up.

**Expected Behavior**
Check the link on Anisat Akinbani's name and link it properly to her [member profile](https://layer5.io/community/members) on Layer5.io

**Screenshots**

https://user-images.githubusercontent.com/62384659/126029129-6c1df794-0496-4

[2021-07-17 10:34] Amishakumari544 commented on #2001
I would like to work on this.

[2021-07-17 11:45] Anita-ihuman commented on #2001
Sure go ahead

[2021-07-17 14:44] Tanuj22 commented on #2001
Fixed in #1999. @Amishakumari544 please check out any of the other open issues (#2000 ) and if you haven't already you are most welcome to join http://slack.layer5.io :)

[2021-07-17 14:45] #2001 closed

[2021-07-17 16:29] Tanuj22 commented on #1998
@warunicorn19 can you provide a short bio and location?

[2021-07-17 16:35] warunicorn19 commented on #1998
@Tanuj22  sure, should I dm it to you, or just write it here?

[2021-07-17 16:36] Tanuj22 commented on #1998
Here is fine

[2021-07-17 16:54] warunicorn19 commented on #1998
3rd Year CS undergrad of KIIT, Bhubaneswar. Navigating his way through the rapids of the programming world. I joined layer5 in July 2021, it's been an immense learning elivating not just knowledge but a way of life too.

location: kolkata, India

[2021-07-17 16:55] warunicorn19 commented on #1998
@Tanuj22 is this okay?

[2021-07-17 17:17] Tanuj22 commented on #1998
Yes!

[2021-07-17 17:17] Tanuj22 commented on #1998
@Jordan-Rob you can include this too

[2021-07-18 10:39] Jordan-Rob commented on #1998
@Tanuj22  alright will do

[2021-07-18 11:00] debo19 commented on #2000
Hey, can I work on this issue?

[2021-07-18 11:38] warunicorn19 commented on #2000
Go ahead @debo19 ,

[2021-07-19 09:16] #2000 closed

[2021-07-19 11:50] sudo-NithishKarthik commented on #1984
@devartstar , whats the progress ?

[2021-07-20 04:59] kayceeDev commented on #1923
Hi @Jashpatel1 , I have created a PR with the required changes.

[2021-07-20 05:00] kayceeDev commented on #1923
Done✔

[2021-07-20 06:37] iambami commented on #1923
@Jashpatel1 I guess that should work. @kayceeDev Weldone.

[2021-07-20 10:02] #1986 closed

[2021-07-20 12:34] Jordan-Rob commented on #1998
Hi @warunicorn19 , you didn't specify the names you would like to use on your profile

[2021-07-20 12:49] warunicorn19 commented on #1998
Hey @Jordan-Rob, I'm really sorry, i think I gave you access now, I didn't realise it was private.

[2021-07-20 12:50] warunicorn19 commented on #1998
Also the name on the profile will be Aditya Chatterjee 😃

[2021-07-20 12:50] Jordan-Rob commented on #1998
okay thanks

[2021-07-20 13:55] alphaX86 opened #2011 "[Community] Member Profile: Update the description for Aadhitya A."
**Current Behavior**
The description of my profile is a bit outdated so it must be updated a bit

**Notes for Maintainers**
I'll fix this and create a PR on this guys

---

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https:/

[2021-07-20 19:22] adithyaakrishna commented on #1886
@manish-ai 👀

[2021-07-20 20:51] #2011 closed

[2021-07-21 12:11] Anita-ihuman commented on #1801
@karinape any updates on this?

[2021-07-21 12:13] Anita-ihuman commented on #1942
@DARK-art108, any updates on this?

[2021-07-21 12:13] Anita-ihuman commented on #1942
@DARK-art108, any updates on this?

[2021-07-21 12:14] #1974 closed

[2021-07-21 12:15] Anita-ihuman commented on #1982
@chetak123 , any updates on this?

[2021-07-21 13:14] The-Loony-Coder commented on #1987
sorry for taking this long, actually I'am stuck with this issue.I just wanted to know where can I see those mdx [files](https://github.com/layer5io/layer5/tree/master/content-learn/mastering-meshery-istio/introduction-to-service-meshes/linkerd) in my localhost project when I run it in browser,for example I'am able to access these files[](https://github.com/layer5io/layer5/tree/master/content-learn

[2021-07-21 13:16] The-Loony-Coder commented on #1987
sorry for taking this long, actually I'am stuck with this issue.I just wanted to know where can I see those mdx [files](https://github.com/layer5io/layer5/tree/master/content-learn/mastering-meshery-istio/introduction-to-service-meshes/linkerd) in my localhost project when I run it in browser,for example I'am able to access these [files](https://github.com/layer5io/layer5/tree/master/content-learn

[2021-07-21 13:34] Nikhil-Ladha commented on #1987
This issue requires you to add a new course, so once you add the course under the `Mastering service mesh`, you will see the course listed on this [page](https://layer5.io/learn-ng/mastering-meshery-istio). Then, when you click on the course and go inside, you will see all the chapters listed. If not, then let me know.

[2021-07-21 13:42] chetak123 commented on #1982
Hey @Anita-ihuman can I get some more time in it as my semester exams are starting and I am little busy right now.

[2021-07-21 13:46] warunicorn19 commented on #1982
Hey @chetak123, if it's alright with you and since you're busy, do you mind if I take this up?😃

[2021-07-21 13:52] chetak123 commented on #1982
Yeah sure 🙌

[2021-07-21 13:58] warunicorn19 commented on #1982
Thanks 😊

[2021-07-21 14:37] The-Loony-Coder commented on #1987
why can't I see the latest chapters added by @Blakelist7  in introduction-to-service-meshes/linkered folder in real website,or if they are added please provide me the link of the page in meshery/learn-ng.

[2021-07-21 15:06] Nikhil-Ladha commented on #1987
If you got to the path on the website it will show, and as far as the content is concerned have you updated your fork with the latest code?

[2021-07-21 15:07] Blakelist7 commented on #1987
@The-Loony-Coder @Nikhil-Ladha
1) I guess TOC of [Introduction to service meshes](https://layer5.io/learn-ng/mastering-meshery-istio/introduction-to-service-meshes) redirects you directly to [Istio](https://layer5.io/learn-ng/mastering-meshery-istio/introduction-to-service-meshes/istio/getting-started).
2) I think we need to modify [this page](https://github.com/layer5io/layer5/blob/master/content

[2021-07-21 15:08] Nikhil-Ladha commented on #1987
This is the live path for one of the chapters of linked: https://layer5.io/learn-ng/mastering-meshery-istio/introduction-to-service-meshes/linkerd/getting-started/
And, for others, you will have to enter the path manually because the switcher which we have planned to be implemented in this [issue](https://github.com/layer5io/layer5/issues/1988), once that is done it will become easier to navigate

[2021-07-21 15:13] The-Loony-Coder commented on #1987
I am trying it again if I am not able to do it,I'll let you know.
And thank you so much.

[2021-07-21 15:32] Nikhil-Ladha commented on #1987
Things are still in todo, if you checkout the working of the storybook tutorials site then you will understand what we want to achieve.
Also, checkout the figma and the design spec above it will help you.

[2021-07-21 15:38] The-Loony-Coder commented on #1987
Actually I'am not able to access figma project it says this
![figma](https://user-images.githubusercontent.com/55737921/126517576-33e15358-ae87-4c81-b0fb-7b3727bee40a.png)

[2021-07-21 17:26] Nikhil-Ladha commented on #1987
Try now.

[2021-07-22 04:31] leecalcote opened #2015 "[News] CNCF Projects Bring Service Mesh Interoperability, Benchmarks"
We're in the news! Using the contributing instructions for [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news), please add the following article to the Layer5 Newsroom.

**Article:**
- Title: CNCF Projects Bring Service Mesh Interoperability, Benchmarks
- Link: https://thenewstack.io/cncf-projects-bring-service-mesh-interoperability-benchmarks/

---
**Contribu

[2021-07-22 04:32] leecalcote commented on #2015
When this new article is posted, please do not use the SMP logo with awkwardly green-colored background, but an official logo from https://layer5.io/brand

[2021-07-22 05:21] Amishakumari544 commented on #2015
I would like to do this. @leecalcote

[2021-07-22 05:27] warunicorn19 commented on #2015
Here you go! @Amishakumari544

[2021-07-22 07:41] Rubix982 opened #2016 "[Workflow] "Slack Notify on Star" Failure"
**Description**
The workflow job, "Notify Slack on star" fails because of insufficient configuration under `.github/workflows/slack.yml`.

**Expected Behavior**
Success of the workflow

**Screenshots**
![image](https://user-images.githubusercontent.com/41635766/126604750-a34af40d-5d94-4c13-b23b-a6af6cfdd910.png)

**Enviroment:**

NA. Related to `.github` repository.
---

**To Reproduce**
Visit thi

[2021-07-22 09:56] khanjasir90 commented on #1942
@Anita-ihuman  can i work on this? if @DARK-art108 has not done it!

[2021-07-22 09:59] Anita-ihuman commented on #1942
sure, go ahead

[2021-07-22 10:55] Rubix982 commented on #2016
Closing for now.

[2021-07-22 10:55] #2016 closed

[2021-07-22 11:00] khanjasir90 commented on #1942
@Anita-ihuman  i have doubt!
the slack badge should be static aur dynamic means it should get automatically updated once a new user enters the slack!

[2021-07-22 11:00] khanjasir90 commented on #1942
@Anita-ihuman  i have doubt!
the slack badge should be static aur dynamic means it should get automatically updated once a new user enters the slack!

[2021-07-22 11:01] khanjasir90 commented on #1942
@Anita-ihuman  i have doubt!the slack badge should be static or dynamic means it should get automatically updated once a new user enters the slack!

[2021-07-22 11:02] khanjasir90 commented on #1942
@Anita-ihuman  i have doubt!the slack badge should be static or dynamic means it should get automatically updated once a new user enters the slack!

[2021-07-22 11:02] amino19 commented on #1942
Yes, you are right!

On Thu 22 Jul, 2021, 4:30 PM khanjasir90, ***@***.***> wrote:

[2021-07-22 11:25] #1998 closed

[2021-07-22 15:47] bariqhibat commented on #1886
I can help take a look into this!

[2021-07-22 15:51] alphaX86 commented on #1886
@bariqhibat that's awesome! Oh and if you're struck ask Lee about this, he'll guide you through 👍

[2021-07-22 15:55] samirparhi-dev opened #2019 "[Website] The image in sservicemesh interface page is Buggy"
**Description**

I have observed the image in Service Mesh Interface(https://layer5.io/projects/service-mesh-interface-conformance) has some Servicemesh places being blank. See the image below
<img width="1387" alt="Screenshot 2021-07-22 at 9 03 22 PM" src="https://user-images.githubusercontent.com/59992800/126669708-48c9579c-630a-468c-b440-9d4fb35370ae.png">

**Expected Behavior**

It should look

[2021-07-22 15:56] bariqhibat commented on #2019
I can definitely help this out!

[2021-07-22 15:58] samirparhi-dev commented on #2019
Great, Please go ahead

[2021-07-22 17:49] bariqhibat commented on #1886
Hey @alphaX86, Lee told me that it seems like we can close this issue. Thanks!

[2021-07-22 18:01] leecalcote commented on #1886
Thank you all. Let's close this one out. It was originally opened to address line cutoff issues and an incorrect syntax.

[2021-07-22 18:01] #1886 closed

[2021-07-23 06:24] devartstar commented on #1893
Hi is this issue being worked upon. If not I would like to contribute to this.

[2021-07-23 06:36] warunicorn19 commented on #1893
Hey @devartstar, this issue has actually already been fixed🙂.

[2021-07-23 06:47] devartstar commented on #1893
okay @warunicorn19 , thanks for confirming.

[2021-07-23 12:53] leecalcote commented on #2015
Thank you, @Amishakumari544 @warunicorn19

[2021-07-23 18:02] #2019 closed

[2021-07-23 18:29] debo19 opened #2021 "Create webpage for meshery operator"
**Description**
As of now there is no webpage for meshery operator .
So when https://layer5.io/service-mesh-management/meshery/meshery-operator is opened , there is a 404 error.
**Expected Behavior**
A  meshery operator webpage needs to be designed and created.

**Enviroment:**
- Host OS:
- Meshery Version:
- Kubernetes Version:
- Browser:

---

---
**Contributor Resources**

The layer5.io website

[2021-07-23 20:30] warunicorn19 commented on #2015
Hey @Amishakumari544 , any updates?

[2021-07-24 03:00] Amishakumari544 commented on #2015
No, i am facing problem while installation.

[2021-07-24 04:42] warunicorn19 commented on #2015
Okay @Amishakumari544 , it's not a problem, if you're having trouble why don't you ask your questions in the slack channel and I'm sure someone will help you out. Meanwhile, we really need the article to be up on our website, so I'll be completing this issue myself, why don't you take a look at other issues.

[2021-07-24 05:22] warunicorn19 opened #2025 "[Community] Member Profile: Joeseph Midura"
**Current Behavior**

@josephmidura  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @josephmidura  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @josephmidura
- Twitter:
- LinkedIn:
- Link to profile picture:

A detailed explanation on how to set up a community member profile can be fou

[2021-07-24 06:43] ujju20 commented on #1987
Is this issue available for work?

[2021-07-24 06:44] Nikhil-Ladha commented on #1987
Yeah, you van work along with @The-Loony-Coder on this one. Divide rhe chapters and send out PRs for individual chapters.

[2021-07-24 06:44] ujju20 commented on #2025
Can I work on this issue?

[2021-07-24 06:45] ujju20 commented on #1987
Ok 👍🏻

[2021-07-24 06:46] warunicorn19 commented on #2025
Yes @ujju20 for sure! But could you just hold off for some time till joseph gives us some of his details.

[2021-07-24 06:47] ujju20 commented on #2025
Ya Sure 👍🏻

[2021-07-24 07:38] The-Loony-Coder commented on #1987
hey @ujju20 , I'am done with first 4 chapters ,you can add the next 3 chapters, from 5 to 7.

[2021-07-24 09:33] ujju20 commented on #1987
OK I will do that 👍🏻

[2021-07-24 11:54] #2015 closed

[2021-07-24 12:04] Nikhil-Ladha commented on #1988
@iambami any updates here?

[2021-07-24 20:29] josephmidura commented on #2025
Here's my details:

- [LinkedIn](https://www.linkedin.com/in/josephmidura/)
- [Twitter](https://twitter.com/josephmidura)
- Bio: I have a background in engineering and have always been interested in open source software and emerging technologies. I enjoy learning new software tools and looking for ways to innovate both in and outside of the workplace. I’m a proponent of incremental process improve

[2021-07-24 20:30] josephmidura commented on #2025
And a [picture](https://drive.google.com/file/d/11jAdYtq4094-eQ86cGZPKRHvwbSYYZ78/view?usp=sharing).

[2021-07-25 05:36] khanjasir90 commented on #1942
@Anita-ihuman  can i get the legacy access token for slackin integration since slack does'nt provide any api to get realtime connect user so i was using slackin-extended which is 3rd party service to get that data and i am attaching a screenshot of the readme file of slackin-extended api which states that it requires legacy access token of the layer5io slack
![slackin-res](https://user-images.gith

[2021-07-25 05:39] warunicorn19 commented on #2025
Thanks @josephmidura

[2021-07-25 05:40] warunicorn19 commented on #2025
@ujju20 you can start working on this now🚀

[2021-07-25 05:57] ujju20 commented on #2025
ok 👍🏻

[2021-07-25 07:46] Anita-ihuman commented on #1942
@Jashpatel1
Please look at this

[2021-07-25 13:26] josephmidura commented on #2025
Thanks @ujju20

[2021-07-25 16:54] ujju20 commented on #2025
Your Most welcome.

[2021-07-26 08:52] #1969 closed

[2021-07-26 13:08] #1984 closed

[2021-07-26 13:47] warunicorn19 opened #2027 "Safari specific issue on Community Member page on Layer5.io"
**Description**
The newly added drop-down on the community member page doesn't work on safari.

**Screenshots**
<img width="963" alt="Screenshot 2021-07-26 at 7 10 41 PM" src="https://user-images.githubusercontent.com/53532328/126999301-43148271-d36a-41f2-ac5a-8fa8f87d9175.png">

**Expected Behavior**
Should have the same behaviour as the page on Chrome.
<img width="994" alt="Screenshot 2021-07-26

[2021-07-26 14:06] sudo-NithishKarthik opened #2028 "[Learn] Make TOC component in chapter page sticky"
**Current State:**
`Table of contents` component in Chapters page is not **sticky**

**Desired State:**

`Table of contents` component in Chapters page should be **sticky** like the one in courses-list page, for eg. [like this](https://layer5.io/learn-ng/mastering-meshery-istio)

**Screenshots:**

<img width="1435" alt="Screenshot 2021-07-27 at 9 11 07 PM" src="https://user-images.githubuserconten

[2021-07-26 14:10] sudo-NithishKarthik opened #2029 "[Learn] Design changes"
**Current State:**
The current design of new generation learn site looks *okay* but not the best.

**Desired State:**
We have to come up with a better design by iterating and experimenting with a number of options.

---
**Contributor Resources**
The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/mast

[2021-07-26 19:40] leecalcote commented on #2027
Thank you for capturing this, @warunicorn19 👍

Fyi @debo19

[2021-07-27 05:31] Ayush7614 commented on #1961
@Ayush-Khandelwal-007 i am working on the issue please assign me

[2021-07-27 06:06] warunicorn19 commented on #1961
Isn't there already an existing PR for this made by @kaushambisharma ?

[2021-07-27 06:14] ujju20 commented on #1987
Is this issue solved ??

[2021-07-27 06:20] Nikhil-Ladha commented on #1987
Hi @ujju20 no it is not. The issue was closed by mistake, there are still 7 which is to be migrated.

[2021-07-27 07:45] debo19 opened #2034 "Refactor the graphql queries to JS code for community members"
**Description**
The GraphQL queries being used in the files under the [Members-Grid](https://github.com/layer5io/layer5/tree/master/src/sections/Community/Members-grid) code is mostly the same (except a few), they differ only in some fields like `badges`, `maintainers`, `meshmates` which makes the query of data every time, for each type of data redundant.

**Expected Behavior**
Update the code to

[2021-07-27 07:58] vinayaksh42 commented on #1001
No updates till now. I think We should move this form quickly as almost everything is ready except for question cleanup @leecalcote and placement of the page link somewhere in layer5.io

[2021-07-27 10:53] leecalcote commented on #2034
Hi @debo19, are you intending to self-assign this issue? If so we don’t need the “help wanted” label, @warunicorn19.

I wonder if this really is a “good first issue”. Is it relatively easy? The issue description is late in terms of desired implementation and acceptance tests.

What does use of fragments bring us? // @Nikhil-Ladha

[2021-07-27 10:58] Nikhil-Ladha commented on #2034
I don't think we will be needing the use of fragments for the Layer5 site (at least not yet). The queries are generally different in all the cases, I can't remember an instance where we are using the same query in different files, can you share such instance @debo19 ?
/cc @Tanuj22

[2021-07-27 11:06] Tanuj22 commented on #2034
@Nikhil-Ladha my primary reason for this was this PR https://github.com/layer5io/layer5/pull/2014/files. Here most of the query is same but only small difference

[2021-07-27 11:09] Nikhil-Ladha commented on #2034
I am pretty sure a more JS approach can be taken to optimize that, such as using `filter`.

[2021-07-27 11:10] Tanuj22 commented on #2034
Yeah makes sense. We can close this issue ig then 🤔

[2021-07-27 11:17] Nikhil-Ladha commented on #2034
Actually do not close this. But, update the issue to tackle the same i.e, update the code of the members file to use a single query and then use a filter to get the required data from it.

[2021-07-27 11:27] debo19 commented on #2034
Okay I'll update the issue with this but as Lee mentioned, I think I couldn't describe the problem accurately, Can someone please help me out with that?

[2021-07-27 11:34] Nikhil-Ladha commented on #2034
No problem. I will do that update.

[2021-07-27 13:18] Anita-ihuman commented on #2028
Can I take this up?

[2021-07-27 13:22] warunicorn19 commented on #2028
here you go @Anita-ihuman 😁

[2021-07-27 15:29] khanjasir90 commented on #1942
Any update @Jashpatel1  @Anita-ihuman ?

[2021-07-27 15:35] leecalcote commented on #1942
We previously had the total count of Slack members available through the slackin app. That app hasn't been maintained in a long time and still requires use of Slack's legacy tokens. Unwittingly, we recently deleted our only legacy API token, not knowing that Slack no longer allows new legacy API tokens to be generated.

So, we'll need to explore other options for collecting the total count of Slac

[2021-07-27 16:25] sayantan1413 opened #2035 "[Community] Member Profile:"
**Current Behavior**

@debjani1413  has been a consistent contributor and community member.🚀

**Desired Situation**
Let's recognize @debjani1413  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: debjani1413
- Twitter:
- LinkedIn: debjani-dey-4981281ab
- Link to profile picture: https://drive.google.com/file/d/14Te2VWdeV84ywXPGvBsFTHC4pc

[2021-07-27 16:26] sayantan1413 commented on #2035
Hey @debjani1413 can you please share your bio and your location here ?

[2021-07-27 17:23] #1967 closed

[2021-07-27 18:51] debo19 commented on #2027
Hey @leecalcote a little problem here, so I use a windows system and the safari browser I can access is a really old version which I don't think will be reliable enough :(

[2021-07-27 18:51] debo19 commented on #2027
I'm trying to find an alternative to make this work but if anyone else can, feel free to jump in on this. I can always help out.

[2021-07-27 19:17] leecalcote commented on #2027
@Revolyssup comes to mind...

[2021-07-27 20:39] Revolyssup commented on #2027
Weird to know that I come to mind for anything UI related. I suck at these things generally.

[2021-07-27 21:45] leecalcote commented on #2027
But, you do have a Mac. :)

[2021-07-27 21:45] leecalcote commented on #2027
But, to your point, there are others with a Mac here, that might be better positioned to assist. @Ayush-Khandelwal-007!

[2021-07-28 07:02] Revolyssup commented on #2027
Oh that was the misconception, sorry to disappoint but I dont have mac.

[2021-07-28 08:38] Ayush-Khandelwal-007 commented on #2027
Hmmm, let have a look what's going on.

[2021-07-28 12:42] warunicorn19 commented on #2025
@ujju20 any updates on this?

[2021-07-28 13:02] debjani1413 commented on #2035
Bio:  I am Debjani Dey, currently one year behind in graduating as a Computer Science Engineer. I got into this project some two months back and since then have been contributing to the project, mainly to the documentation domain. My interests lies on, websites, writing and nonetheless sleeping 😴. I'm immensely pleasured by the opportunities that I got while contributing here, and I really hope th

[2021-07-28 13:12] Anita-ihuman opened #2037 "Enhancing the Community Handbook"
**Current Behavior**
The community Handbook is could use detailed, self-explanatory guidelines that can be resourceful to Layer5 users and the community.

**Desired Situation**
- The goal is to publish the handbook as a public handbook at the Layer5.io site.
- Outline an index of commonly reference documents.
- Improve the community guidelines and update broken links

---
**Contributor Resources**

[2021-07-28 13:17] ujju20 commented on #2025
Actually, I have taken another issue also, by mistake the PR of that issue I linked it to this issue.
I will work on this and get back to you soon.

[2021-07-28 14:22] warunicorn19 commented on #2025
okay @ujju20 good deal.

[2021-07-28 16:07] #2035 closed

[2021-07-28 16:44] khanjasir90 commented on #1942
@leecalcote give me a a day or two . I will research and get back to you!

[2021-07-28 16:58] leecalcote commented on #2037
Exciting!

[2021-07-29 06:53] afzal442 commented on #2028
hy @Anita-ihuman you can define `position: sticky` for that. Thanks.

[2021-07-29 07:41] afzal442 opened #2040 "[Learn] Sidebar needs enhancement"
**Current Behavior**

The sidebar looks weird. It is a bit down to see around.
While clicking on subtitles, this takes/navigates you to a different section. e.g. click on subtitle  [Working with Meshery & Consul](https://layer5.io/learn-ng/mastering-meshery-consul)
**Desired Behavior**

- [ ] The sidebar needs to be standardised.
- [ ] When you click on any title bars, this should properly navigat

[2021-07-29 07:44] afzal442 commented on #2040
Hi @sudo-NithishKarthik, what do you think?

[2021-07-29 07:49] Nikhil-Ladha commented on #2028
I think @chinmaym07 had already finished working up on this. I didn't know there was an issue open for this.
@Anita-ihuman if you don't mind, can you pass this issue to him?

[2021-07-29 07:51] Nikhil-Ladha commented on #2040
What's wrong with the navigation, again?

[2021-07-29 07:51] Nikhil-Ladha commented on #2040
Also, the height of the sidebar should match rhe content beside it. But, yes the margin around the title can be reduced a bit.

[2021-07-29 07:54] afzal442 commented on #2040
hi @Nikhil-Ladha! sure, can you try clicking on the mentioned subtitle? for example, when you click on that, it navigates you to a different section. Thanks.

[2021-07-29 07:55] Nikhil-Ladha commented on #2040
Hmm, I don't think so 🤔....it works fine for me.

[2021-07-29 07:56] afzal442 commented on #2028
Ah, yes I see! thanks Nikhil.

[2021-07-29 07:57] Nikhil-Ladha commented on #2040
The general issue with an `id` navigation in case the page has a navigation bar is that the `element` to which the href is pointed to gets hidden behind the navbar.

[2021-07-29 08:05] afzal442 commented on #2040
Yep I agree. That way we can get rid of this. Also defining classes `mb-5` or `p-3` #bootstrap mark. Just for intuition.

[2021-07-29 11:30] yash112-lang commented on #2028
Hello, @Anita-ihuman, is this issue is still open or anyone working on this? If not can I start working on it.

[2021-07-29 11:48] Nikhil-Ladha commented on #2028
Yes, @yash112-lang this issue is being worked upon by @chinmaym07 . You can look around for other unassigned [`good-first-issues`](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+org%3Ameshery+org%3Aservice-mesh-performance+org%3Aservice-mesh-patterns+label%3A%22good+first+issue%22) to start off with.

[2021-07-30 16:01] alphaX86 opened #2045 "[Bug] Landscape badge enlists all community members when selected"
**Description**
The community site (https://layer5.io/community/members) shows all members of the community (Active, Inactive) but when the Landscape option is selected all members are shown instead of ones who have the badge

**Expected Behavior**
The Landscape option should display the members who have the Landscape badge and not all

**Screenshots**

![image](https://user-images.githubuserconte

[2021-07-30 16:03] warunicorn19 commented on #2045
@alphaX86 did you wan to work on this?

[2021-07-30 16:04] alphaX86 commented on #2045
Nope, I reported to fix. Anyone is welcome to fix it :)

Go ahead @warunicorn19

[2021-07-30 16:06] warunicorn19 commented on #2045
@alphaX86 cool thanks😅

[2021-07-30 16:07] alphaX86 commented on #2045
Yeah ok... 😅

[2021-07-30 16:27] samirparhi-dev opened #2048 "[Website][Getting started with Meshery] Correct the installation instruction and Delete One HOMEBREW section"
**Description**

Installation instruction in the getting started page (https://layer5.io/service-mesh-management/meshery/getting-started) for some of the plat form are wrong. And also there are two Section which talk about Homebrew (one is under apple logo and another under homebrew logo)
Please correct it .

For Example
[code]

**Expected Behavior**

- The correct command should be updated in the

[2021-07-30 16:29] debjani1413 commented on #2048
I would like to work on this , may I??

[2021-07-30 16:31] samirparhi-dev commented on #2048
Thank you @debjani1413 !!! Please go ahead

[2021-07-30 17:40] #2045 closed

[2021-07-31 16:29] afzal442 commented on #2048
hi @samirparhi-dev is this issue related to `first timers only`? Happy to collaborate. thanks

[2021-07-31 17:09] Anita-ihuman opened #2051 "Upload the Patterns badge in CONTRIBUTING.md"
**Description**
Currently, the Layer5 repository is missing a Pattern badge

**Expected Behavior**
There should be a badge for patterns just like other badges for the projects.
![image](https://user-images.githubusercontent.com/62384659/127747310-a410b0a6-3532-48da-a432-bf23e0ddbfe4.png)
**Screenshots**
![Screenshot 2021-07-31 at 18 07 37](https://user-images.githubusercontent.com/62384659/1277473

[2021-07-31 19:14] sgibson19 commented on #2051
I would like to work on this, may I?

[2021-07-31 19:44] Anita-ihuman commented on #2051
Please go ahead.

[2021-07-31 22:07] #2051 closed

[2021-08-01 04:27] sgibson19 commented on #2029
I would like to give this a try 👍

[2021-08-01 10:28] warunicorn19 commented on #2025
hey @ujju20, are you still working on this?

[2021-08-02 15:52] debo19 commented on #2025
Hey, I see this issue has still not been done, can I work on this?

[2021-08-02 15:52] warunicorn19 commented on #2025
Yes sure @debo19.

[2021-08-02 18:21] Anita-ihuman opened #2055 "[Community] Member Profile: Shreyas Mishra"
**Current Behavior**

@Shreyas220 has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @Shreyas220  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @Shreyas220
- Twitter: @Shreyas51789996
- LinkedIn: (shreyasmishra1) only (https://www.linkedin.com/in/shreyasmishra1/)
- Link to profile picture:h

[2021-08-02 18:26] Anita-ihuman opened #2056 "[Community] Member Profile: Ashish Tiwari"
**Current Behavior**

@Revolyssup has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @Revolyssup  as a contributor and community member by creating a profile on https://layer5.io/community/members.

Github: @Revolyssup
Twitter: Ashisht31418366
LinkedIn: at1511
Link to profile picture: https://drive.google.com/file/d/1js8k_zJ76Btc_f0ZlhRn4aANRH8gp4yT/view

[2021-08-02 18:27] Rubix982 commented on #2056
I would like to take this up.

[2021-08-02 18:28] sayantan1413 commented on #2056
Here you go @Rubix982 😃

[2021-08-02 18:28] debjani1413 commented on #2055
@Anita-ihuman I would be willing to do this!

[2021-08-02 18:29] Rubix982 commented on #2056
@sayantan1413, my first contribution to @meshery, here we go. :smile:

[2021-08-02 18:30] sayantan1413 commented on #2056
Here we start with our first issue and a lot more to go 🚀

[2021-08-02 18:31] Anita-ihuman commented on #2055
Go for it.

[2021-08-02 19:02] Shreyas220 commented on #2055
thank you @debjani1413 :raised_hands:

[2021-08-03 01:27] Rubix982 commented on #2056
@sayantan1413 @Anita-ihuman can you please review this [PR](https://github.com/layer5io/layer5)? Thank you!

[2021-08-03 05:18] debjani1413 commented on #2055
Hey @Shreyas220 , could you please provide me a little bio about yourself?? The profile would look good then :)

[2021-08-03 05:30] #1988 closed

[2021-08-03 13:15] #2027 closed

[2021-08-03 13:35] Shreyas220 commented on #2055
I'm an undergrad from India studying Computer Science and Engineering. interested in microservices and cloud-native technology I joined layer5 in July 2021, and it has been an unparallel learning experience

[2021-08-04 04:27] sudo-NithishKarthik commented on #2040
Can you elaborate on it?

Yes, i see what the issue is here, can you make a pr for it ?

[2021-08-04 04:29] sudo-NithishKarthik commented on #2029
@Nikhil-Ladha , are we still planning to improvise the design of learn-ng page ?
If so, how do we execute it ?, we have @sgibson19 willing to help

[2021-08-04 04:36] sudo-NithishKarthik commented on #1962
@leecalcote , is this still relevant ?

[2021-08-04 04:39] #1893 closed

[2021-08-04 04:39] sudo-NithishKarthik commented on #1737
@Chadha93 , any updates ?

[2021-08-04 04:43] #2025 closed

[2021-08-04 05:31] leecalcote commented on #1962
No, it’s not. You guys have taken good care of this page.

[2021-08-04 05:31] #1962 closed

[2021-08-04 06:09] afzal442 commented on #2040
Learn-ng | Layer5 - The Service Mesh Company - Watch Video

[2021-08-04 06:09] afzal442 commented on #2040
https://www.loom.com/share/1b413f7b27d04516a405128a4f5886fe

[2021-08-04 06:10] afzal442 commented on #2040
hope it'll clear/

[2021-08-04 06:36] warunicorn19 commented on #1963
Closing the issue because it's fixed.

[2021-08-04 06:36] #1963 closed

[2021-08-04 06:36] warunicorn19 commented on #1894
@Jashpatel1 should we close this issue?

[2021-08-04 09:27] Amishakumari544 commented on #1801
can I take this issue?

[2021-08-04 09:28] warunicorn19 commented on #1801
Here you go, @Amishakumari544!

[2021-08-04 10:18] Chadha93 commented on #1737
Oops! how it got slipped from my list. IMO @sudo-NithishKarthik, how about giving this issue a "first-timers only". I will provide a link to the description which should be referenced. Sounds good ??

[2021-08-04 10:32] sudo-NithishKarthik commented on #1737
Yup

[2021-08-04 18:50] #1961 closed

[2021-08-05 06:58] adithyaakrishna commented on #1894
@warunicorn19 Is this resolved?
Bc I can still see that there are some issues with the footer

![Screenshot_20210805-122632](https://user-images.githubusercontent.com/23498248/128305571-414fc358-e4df-4e24-bdbe-96bfdb6981ea.jpg)

[2021-08-05 07:24] warunicorn19 commented on #1894
@adithyaakrishna check on staging-discuss 😅.

[2021-08-05 08:02] afzal442 commented on #2040
@Nikhil-Ladha could u verify that?

[2021-08-05 08:33] #2055 closed

[2021-08-05 19:14] #2056 closed

[2021-08-06 07:16] #1881 closed

[2021-08-06 13:21] samirparhi-dev opened #2062 "[website][Discuss] command like code block background to be bit more darker and rounded corner"
**Description**

Currently, when i am inserting a command like (for example `meshery server` code block) in Discuss forum, it does not distinguished properly

**Important Note:**
This feature is only for the small and command like code block not for a huge code block

**Expected Behavior**

- The code block highlighting should be bit more dark grey and rounded corner to distinguish better.
For exa

[2021-08-06 15:03] #2048 closed

[2021-08-06 15:11] debjani1413 commented on #2062
Hey @samirparhi-dev I would like to work on it.

[2021-08-06 15:12] samirparhi-dev commented on #2062
Here you go @debjani1413

[2021-08-06 16:55] #1778 closed

[2021-08-06 19:53] warunicorn19 opened #2063 "[Community] Member Profile: Nithish Karthik"
**Current Behavior**

@sudo-NithishKarthik  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @sudo-NithishKarthik  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @sudo-NithishKarthik (https://github.com/sudo-NithishKarthik)
- Twitter: https://twitter.com/NithishKarthi11
- LinkedIn: https:/

[2021-08-07 03:48] NikhilSharma03 commented on #2063
@warunicorn19 Can I work on this?

[2021-08-07 03:49] NikhilSharma03 commented on #2063
Also, The bio isn't provided. Should I ask nithish?

[2021-08-07 04:55] warunicorn19 commented on #2063
Yes @NikhilSharma03, go ahead.
@sudo-NithishKarthik could you please provide a small bio?

[2021-08-07 05:49] sudo-NithishKarthik commented on #2063
**BIO**
Hello there, I am Nithish, a sophomore student at Indian Institute of Technology, Varanasi. I have a keen sense of interest in technology related stuff. I like to explore everything that comes in my way. I am geared towards making a positive impact on people by engaging with open source communities.

[2021-08-07 07:16] warunicorn19 opened #2064 "[Community] Member Profile: Debopriya Bhattacharjee"
**Current Behavior**

@debo19  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @debo19  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @debo19 (https://github.com/debo19)
- Twitter: https://twitter.com/debopriyabh19
- LinkedIn: Debopriya Bhattacharjee (https://www.linkedin.com/in/debopriy