[2022-01-11 10:50] unnati914 commented on #2455
sure you can open up one issue for it @StarTrooper08 or you can assist me too regarding this

[2022-01-11 17:15] debo19 commented on #2298
@Abhijay007 This is good but I think we require a more subtle animation than this.  The approach will be similar though; each section (here: a page in the book) will be able to display information about each page of the handbook.

[2022-01-11 17:22] Abhijay007 commented on #2298
Ya, I have some designs too and some different suggestions as well, I will share all the references with you on slack !!

[2022-01-11 17:49] debo19 commented on #2298
![idea](https://user-images.githubusercontent.com/85789734/148989915-d0cd0d61-d01e-4468-8ec2-4a49ab44b4ed.jpg)
I got a very random idea from one of the pictures here 😆 Basically we have cards appearing in this manner, each card representing a topic from the handbook. On hover around the cards, we make the next card appear in front and make that highlighted.

[2022-01-11 17:52] leecalcote commented on #2298
Whoa. If this can be pulled off, it would be really neat.

[2022-01-11 18:40] StarTrooper08 commented on #2455
Yep sure👍

[2022-01-12 16:15] leecalcote opened #2476 "[Blog] Validating Meshery CLI Functionality"
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member:

#### Title: “Validating Meshery CLI Functionality”

#### Core points to convey in the post:
1. the need for user acceptance testing.
1. how to checkout a PR’s branch 
1. how to build `mesheryctl` (incorporate instr

[2022-01-12 21:03] leecalcote commented on #2476
// @piyushsingariya

[2022-01-14 15:12] subhradwip01 commented on #2475
I would like to work on that issue. Can I?

[2022-01-14 15:25] Chadha93 commented on #2475
@subhradwip01 thanks for jumping in, but we don't require this issue for now. :) You can have a look at some more issues.

[2022-01-14 15:25] #2475 closed

[2022-01-14 15:27] subhradwip01 commented on #2475
@Chadha93 ok..got it

[2022-01-14 22:15] debo19 opened #2479 "Add Patterns Badge to the Members page filter"
**Current Behavior**
The filter on https://layer5.io/community/members does not contain the Patterns badge.

![Members _ Layer5 - The Service Mesh Company - Google Chrome 15-01-2022 03_40_09 (2)](https://user-images.githubusercontent.com/85789734/149592062-eb8d02b5-dbac-4848-aaf5-e077556080d0.png)

**Desired Situation**

Add the Service Mesh Patterns Badge as an option under the Badges category.

[2022-01-14 22:22] debo19 opened #2480 "Add Badges to certain member profiles"
**Current Behavior**
A variety of badges exist so that community members and their efforts may be affiliated with a particular project or with a community initiative.

**Desired Situation**
Add the respective badges to the following member profiles to recognize their effort in our projects.

- [Abhishek Kumar](https://layer5.io/community/members/abhishek-kumar): Meshery
- [Aditya Chatterjee](https

[2022-01-14 22:58] Abhijay007 commented on #2172
@leecalcote I want to take up this issue if no one is working on it rn.

[2022-01-15 04:33] verma-kunal commented on #2480
Hey @debo19 , I would like to work on this one 🙂

[2022-01-15 04:34] verma-kunal commented on #2479
Hey @debo19 , I would like to work on this 🙂

[2022-01-15 04:35] verma-kunal commented on #2479
/assign

[2022-01-15 04:41] warunicorn19 commented on #2479
Go ahead @verma-kunal

[2022-01-15 10:01] #2421 closed

[2022-01-15 16:20] Sunnyio commented on #2480
Hey, @debo19 I would like to work on it.

[2022-01-15 16:22] sayantan1413 commented on #2480
Thanking you for jumping in @Sunnyio. It's all yours.

[2022-01-15 19:37] leecalcote opened #2484 "Addition of Community Managers section"
**Current Behavior**

**Desired Behavior**

- Remove "Community" in Our Community MeshmMates.
- Add a community managers section under Meshmates with profiles.

---
**Screenshots / Mockups**

**Alternatives**

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).

[2022-01-15 19:49] leecalcote commented on #2423
<img width="883" alt="Screenshot 2022-01-15 at 1 12 48 PM" src="https://user-images.githubusercontent.com/7570704/149635804-9c840d9c-00ed-4609-bf37-afbdc1165b3a.png">

From @warunicorn19

[2022-01-15 20:30] #2480 closed

[2022-01-16 17:13] AbhishekJamhoriya opened #2487 "Reformatting of the single column blog list view on layer5.io/blog."
**Description**
Currently, the blog views are in Grid view. we have to change it into a single column blog list view.

**Current Behaviour **
![Screenshot (590)](https://user-images.githubusercontent.com/62591179/149670182-6eca5663-7ced-4e73-8f28-13e6b8188274.png)

**Expected Behavior**
 We have to change it into a single view list.

**Screenshots**
 see the difference between the blog views? Sing

[2022-01-16 17:19] AbhishekJamhoriya commented on #2487
Hi @leecalcote, please assign me this issue.

[2022-01-16 17:27] AbhishekJamhoriya opened #2488 "Adding tooltips"
**Description**
When we hover on any footer icons a text message should appear as shown in the image(Expected Bahavior).

**Current Behavior**

![Screenshot (588)](https://user-images.githubusercontent.com/62591179/149670865-74862a87-9101-48c4-8ab0-054099f963ad.png)

**Expected Behavior**
![Screenshot (589)](https://user-images.githubusercontent.com/62591179/149670862-7cca5d1a-3ed0-45f8-ba3e-bdff5

[2022-01-16 17:27] AbhishekJamhoriya commented on #2488
Hi @leecalcote, please assign me this issue.

[2022-01-16 17:40] warunicorn19 commented on #2488
Let's close this issue, like @leecalcote adding tooltips to the footer is going to be an overkill. It's perfect the way it is right now.

[2022-01-16 17:40] #2488 closed

[2022-01-17 02:33] leecalcote opened #2489 "[Landscape] Table Tab Enhancements"
**Current State:**
Tabs in the [landscape](https://layer5.io/landscape) table are often overlooked.

**Desired State:**
1. Either add a small outline or slightly different background color to each tab.
2. Make the "Functional" tab the default (open) tab.

#### Screenshot:
<img width="1066" alt="Screen Shot 2022-01-16 at 8 27 56 PM" src="https://user-images.githubusercontent.com/7570704/149697175-3

[2022-01-17 02:59] leecalcote opened #2490 "[Resources] RSS Feed: Create feed for all resources"
**Current Behavior**
Site visitors can browse [resources](https://layer5.io/resources), but not subscribe for notifications of newly published resources.

**Desired Behavior**
Create `/resources/feed.xml` - an RSS feed containing all resources.

---
**Screenshots / Mockups**
<img width="1233" alt="Screen Shot 2022-01-16 at 8 48 44 PM" src="https://user-images.githubusercontent.com/7570704/14970138

[2022-01-17 03:05] leecalcote opened #2491 "[Blog] RSS Feed: Create feed for all posts"
**Current Behavior**
Site visitors can browse [blog posts](https://layer5.io/blog), but not subscribe for notifications of newly published posts.

**Desired Behavior**
Create `/blog/feed.xml` - an RSS feed containing all posts.

---
**Screenshots / Mockups**
<img width="1146" alt="Screen Shot 2022-01-16 at 9 03 49 PM" src="https://user-images.githubusercontent.com/7570704/149702125-f0c11ef8-4314-4

[2022-01-17 03:06] subhradwip01 commented on #2489
I would like to work on that issue

[2022-01-17 03:09] warunicorn19 commented on #2489
Go ahead @subhradwip01

[2022-01-17 03:11] leecalcote opened #2492 "[News] RSS feed: Add existing news and announcements feed to News page"
**Current Behavior**
Site visitors can browse [news](https://layer5.io/news), but not subscribe for notifications of newly published news.

**Desired Behavior**
Show an RSS icon next the "News" page title as shown in the screenshot.

---
**Screenshots / Mockups**
<img width="1177" alt="Screen Shot 2022-01-16 at 9 06 30 PM" src="https://user-images.githubusercontent.com/7570704/149702350-ecd5c291-5

[2022-01-17 03:16] leecalcote opened #2493 "[Events] Text overlaps with carousel switcher"
**Description**
On the layer5.io/events page, the main events carousel has circular dots that all visitors to navigate through events. Text describing a given event will occasionally overlap with the switch controls.

**Expected Behavior**
A white background (~50% opacity) should be added to the switcher (with small margin around it), so that any underlapping text is still visible but not as confl

[2022-01-17 03:21] leecalcote opened #2494 "[Chore] Consolidate all label-triggered workflows"
**Current Behavior**
`issue/remind`, `issue/invite`, ... and other GitHub labels trigger separate workflows.

**Desired Situation**
These workflows can be consolidated.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https:

[2022-01-17 03:27] leecalcote opened #2495 "[Resource] Article: Istio Service Mesh"
Contributors and community members are encouraged to create articles under https://layer5.io/resources. A new article fitting the following description is requested to be written by a community member:

**URL**: /resources/service-mesh/what-is-istio-service-mesh
**Article Title:** Service Mesh: Istio
**Topic:** Create a page under /resources that generally describes Istio.
**Core points to convey

[2022-01-17 03:29] leecalcote opened #2496 "[Resource] Article: Linkerd"
Contributors and community members are encouraged to create articles under https://layer5.io/resources. A new article fitting the following description is requested to be written by a community member:

**URL**: /resources/service-mesh/what-is-linkerd
**Article Title:** Service Mesh: Linkerd
**Topic:** Create a page under /resources that generally describes Linkerd.
**Core points to convey in the

[2022-01-17 03:30] leecalcote commented on #2496
CU-1ydyv9k

[2022-01-17 03:30] leecalcote commented on #2495
CU-1ydyryj

[2022-01-17 03:31] leecalcote opened #2497 "[Resource] Article: Consul Service Mesh"
Contributors and community members are encouraged to create articles under https://layer5.io/resources. A new article fitting the following description is requested to be written by a community member:

**URL**: /resources/service-mesh/what-is-consul-service-mesh
**Article Title:** Service Mesh: Consul
**Topic:** Create a page under /resources that generally describes Consul.
**Core points to conv

[2022-01-17 03:31] leecalcote commented on #2497
CU-1ydyvdz

[2022-01-17 03:58] MukulKolpe commented on #2493
Hey @leecalcote, can I work on this issue?

[2022-01-17 04:09] leecalcote commented on #2493
Thank you, gents. 👍

[2022-01-17 13:29] verma-kunal commented on #2479
Going through the file system that is being followed in the file [here](https://github.com/layer5io/layer5/blob/master/src/pages/community/members.js) i think we would need to create a folder named as `Patterns` & then the .svg image (logo) inside that, so that we can import & use it in the `js` file

Is this what the right approach would look like? Actually I just have a basic knowledge of Js, so

[2022-01-17 15:45] ShivamTyagi12345 opened #2498 "Swap the heading Blog with Resources"
**Current Behavior**
https://layer5.io/ has the term **Blog** in the Navbar and in the Menu

**Desired Situation**

Replace them with **Resources**

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io

[2022-01-17 15:56] YashKamboj commented on #2492
Can i work on this?

[2022-01-17 15:56] warunicorn19 commented on #2492
sure @YashKamboj

[2022-01-17 21:30] leecalcote opened #2507 "[Community] Member Profile: Add SMP to Nic Jackson's profile"
**Current Behavior**

@nicholasjackson is an SMP maintainer.

**Desired Situation**
Let's recognize @nicholasjackson as a maintainer by updating his profile on https://layer5.io/community/members.

https://layer5.io/community/members/nic-jackson

A detailed explanation on how to set up a community member profile can be found in the [CONTRIBUTING.md](https://github.com/layer5io/layer5/blob/master/C

[2022-01-18 03:09] Sunnyio commented on #2507
I would like to do this @leecalcote.

[2022-01-18 03:31] warunicorn19 commented on #2507
Go ahead @Sunnyio

[2022-01-18 08:43] unnati914 commented on #2455
@leecalcote FYI
@StarTrooper08 @verma-kunal have started working on it with me

[2022-01-18 15:36] verma-kunal commented on #2479
Sure, thanks! 👍

[2022-01-18 16:30] #2507 closed

[2022-01-18 19:02] #1894 closed

[2022-01-18 22:52] #2484 closed

[2022-01-19 15:05] Abhijay007 commented on #2491
sure @subhradwip01 go ahead !!

[2022-01-19 15:11] subhradwip01 commented on #2491
Can you tell me from where can get the svg of RSS feed icon..is there any particular svg that has been already created by layer5? ..or can I use any svg?

[2022-01-19 15:23] Abhijay007 commented on #2491
@YashKamboj is working on something similar, you can ping him on slack and for this purpose you can use custom SVG, Yash already had a PR in progress so you can take reference from that PR, in that pr Yash is using a custom SVG so you can follow the same folder structure he has because we don't want different  SVG files !!

[2022-01-19 15:27] subhradwip01 commented on #2491
@Abhijay007 thank you so much...I will contact him

[2022-01-19 15:27] YashKamboj commented on #2491
@subhradwip01 you can check this pr #2508

[2022-01-19 15:28] subhradwip01 commented on #2491
Ok thanks...by the way you are so fast for helping...thank you so much 😀

[2022-01-19 15:43] Sunnyio commented on #2490
I would like to work on this.

[2022-01-19 16:03] Abhijay007 commented on #2490
@Sunnyio go ahead !!

[2022-01-19 20:41] AbhishekJamhoriya commented on #2487
Hi @leecalcote and @warunicorn19, made some changes to the list view items and it now looks like this. is this fine or I should make some other changes as well.

![Screenshot (594)](https://user-images.githubusercontent.com/62591179/150209031-9c75231d-7542-4066-b7e9-12bdf2b9d7f0.png)

[2022-01-19 20:52] leecalcote commented on #2487
Looking pretty good! Missing: tags.

Please confirm that the title will be trimmed and an ellipsis added at the end of the line when the title is too long to fit into a single lie.

[2022-01-19 21:23] AbhishekJamhoriya commented on #2487
no problem with the long title it's working fine.
![Screenshot (596)](https://user-images.githubusercontent.com/62591179/150215757-d157770f-4103-460b-b805-6937690ea51f.png)

currently working on tags.

[2022-01-19 21:32] leecalcote opened #2515 "[MeshMap] Add "BETA" superscript to page title"
**Current Behavior**
The [MeshMap beta sign up page](https://layer5.io/service-mesh-management/meshmap) has "MeshMap" as its title.

**Desired Behavior**
Add the word "BETA" as superscript to "MeshMap", like so (except using black font color):

<img width="177" alt="Screen Shot 2022-01-19 at 3 30 48 PM" src="https://user-images.githubusercontent.com/7570704/150217134-732a7ef3-d662-4ccc-ab15-6e079e

[2022-01-19 21:33] #2494 closed

[2022-01-19 23:31] AbhishekJamhoriya commented on #2515
Hey @leecalcote, can I work on this issue?

[2022-01-19 23:34] Abhijay007 commented on #2515
@AbhishekJamhoriya go ahead !!

[2022-01-19 23:48] Abhijay007 commented on #2172
@leecalcote I have inspected the issue and get to know that some big images files (in terms of size) are not converted using the gatsby-plugin-image plugin most of those files are on the home page itself, these images files are still in png format, we can convert those images by applying the same approach, I just have a little doubt that you mentioned that the site speed is currently 40% but accor

[2022-01-20 01:24] #2489 closed

[2022-01-20 05:55] Chadha93 commented on #2163
@adithyaakrishna @warunicorn19 any insights on this? And on @Aju100's approach?

[2022-01-20 05:55] debo19 opened #2517 "[Community] Member Profile: Abhijay Jain"
**Current Behavior**

@Abhijay007 has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @Abhijay007 as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: Abhijay007
- Twitter: CodeInVeins
- LinkedIn: /abhijay-jain-551b01193
- Link to profile picture:

A detailed explanation on how to set up a communit

[2022-01-20 05:57] debo19 commented on #2517
@Abhijay007 Can you please provide the drive link to your profile picture and a bio.

[2022-01-20 05:59] ShivamTyagi12345 commented on #2517
/assign

[2022-01-20 06:02] Chadha93 commented on #2517
@ShivamTyagi12345 would you like to take the assignment for this?

[2022-01-20 06:29] ShivamTyagi12345 commented on #2517
Sure @Chadha93 :)

[2022-01-20 10:25] AbhishekJamhoriya commented on #2487
I am not able to find the tags data, can anyone please help.

[2022-01-20 15:41] #2416 closed

[2022-01-20 15:47] #2492 closed

[2022-01-20 16:30] Xuewei-Chen commented on #2517
Hi, I am taking a course on software development methodology and need to do some work. Can I be assigned some of the work?

[2022-01-20 17:06] Abhijay007 commented on #2517
Hi @Xuewei-Chen this issue is already assigned you can join our slack community and join the newcomer's channels you will definitely get something to work on there, here is the link : https://layer5io.slack.com/ssb/redirect#/shared-invite/email

[2022-01-20 22:14] AbhishekJamhoriya commented on #2515
Hi @leecalcote, superscript has been added to the page title. These are some font sizes and font families. please help me which one should I go for.
font-size:
1) ![70%](https://user-images.githubusercontent.com/62591179/150429610-8414a4b9-1481-425e-ae08-8c67b24e0f05.PNG)
2) ![75%](https://user-images.githubusercontent.com/62591179/150429641-410f84a6-87ee-4ab1-a7ec-3df85fc97b3d.PNG)
3) ![80%](http

[2022-01-21 01:34] leecalcote commented on #2515
Thanks, @AbhishekJamhoriya.  Qanelas Soft Thin (weight:300) should work pretty well.

[2022-01-21 06:47] #2491 closed

[2022-01-21 12:55] verma-kunal commented on #2479
Sorry for the delay! Was stuck in a part & had to figure that out!
Thanks to @debo19 & @warunicorn19 for guiding 🙂

[2022-01-21 13:20] #2479 closed

[2022-01-21 22:38] AbhishekJamhoriya commented on #2487
Hi @leecalcote, @warunicorn19 or @Abhijay007 please someone help me that how I can get tag data.

[2022-01-22 02:13] warunicorn19 commented on #2487
@AbhishekJamhoriya could you please put in a PR, it'll be easier for us to take a look. Also, @leecalcote by missing tags are you saying that the tags should be visible on the cards?

[2022-01-22 14:18] Chadha93 opened #2528 "Community Managers URL + profile update"
**Current Behavior**
The current link of community manager is layer5io/community/managers

**Desired Behavior**
Update link to https://layer5.io/community/community-managers
Remove community badge from @leecalcote @navendu-pottekkat @Nikhil-Ladha

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://git

[2022-01-22 15:11] #2528 closed

[2022-01-22 15:31] aman34503 opened #2531 "[Community] Member Profile:"

[2022-01-22 15:38] aman34503 opened #2532 "[Community] Member Profile: Aman Shrivastava"
**Current Behavior**

<@aman34503> has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @aman34503 as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: aman34503
- Twitter: amanscasm
- LinkedIn: /aman-shrivastava04/
- Link to profile picture: https://drive.google.com/file/d/1-WVplvlNFVDm5nSh5sk__LAB

[2022-01-22 15:43] #2531 closed

[2022-01-22 15:44] #2532 closed

[2022-01-22 17:40] warunicorn19 commented on #2532
This is great. We would love for you to have a member profile. Individuals that have profiles are those that have been recognized for their contribution to our projects and have demonstrated their cultural fit with community values. We so very much hope that this is you, too, someday. Since this isn’t the case currently, we'll be closing this issue for now. Why don't you get started with some `goo

[2022-01-23 06:24] sambhavsaxena commented on #2498
can i work on this?

[2022-01-23 15:10] ShivamTyagi12345 commented on #2498
sorry .Still working ,just a little delayed due to prior commitments

[2022-01-25 02:16] #2490 closed

[2022-01-25 02:27] leecalcote commented on #2172
Right. Also, Google might index us mobile-first (fyi).

Excellent. 😄

[2022-01-25 08:23] Abhijay007 commented on #2163
@leecalcote @Chadha93  I want to take up this issue if no one is working on it rn.

[2022-01-25 12:13] Chadha93 commented on #2163
All yours @Abhijay007

[2022-01-25 20:17] leecalcote commented on #2172
Context: Keywords list - https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue

[2022-01-27 04:45] StarTrooper08 commented on #2455
Sorry I was busy few days.
Hey @unnati914 I can create few flowcharts or illustration for the article.
And yes even I'll do the write up work (will need little bit of mentoring/guidance)
You can tag me here on GitHub(issue comment)or ping me on slack/ [twitter](https://twitter.com/_Atharva_08).

[2022-01-27 08:08] unnati914 commented on #2455
sure

[2022-01-28 09:32] iambami opened #2553 "[Community] Member Profile: Xin Huang"
**Current Behavior**

@gyohuangxin has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @gyohuangxin as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @gyohuangxin
- Twitter: @gyohuang
- LinkedIn: https://www.linkedin.com/in/Xin-Huang
- Link to profile picture:

A detailed explanation on how to s

[2022-01-28 11:44] verma-kunal commented on #2553
Hey @iambami , may i work on this one!?

[2022-01-28 11:48] maneeshsagar commented on #2553
May I do this ?

[2022-01-28 11:49] verma-kunal commented on #2553
Sure @maneeshsagar go ahead! Feel free to ask any doubts you would have 🙂
This is probably your 1st contribution here, right?

[2022-01-28 11:50] iambami commented on #2553
Hi @maneeshsagar Please go ahead.

[2022-01-28 11:51] maneeshsagar commented on #2553
Yes @verma-kunal  it's my first

[2022-01-28 11:58] iambami commented on #2553
Feel free to reach out should there be any issue.

[2022-01-28 19:52] debo19 opened #2554 "[Events] RSS Feed: Create feed for all posts"
**Current Behavior**
Site visitors can browse [events](https://layer5.io/community/events), but not subscribe for notifications of upcoming events.

**Desired Behavior**
Create `/events/feed.xml` - an RSS feed containing all posts.

---
**Screenshots / Mockups**
<img width="784" alt="Screenshot 2022-01-29 at 1 19 23 AM" src="https://user-images.githubusercontent.com/85789734/151612086-695a0bd3-34e

[2022-01-29 03:23] Sunnyio commented on #2554
I would like to do this.

[2022-01-29 04:19] warunicorn19 commented on #2554
Sure @Sunnyio

[2022-01-29 05:14] gyohuangxin commented on #2553
@maneeshsagar Thank you for taking this issue, this's my bio and picture:

I am a cloud software developer from Intel. I focus on the acceleration on open source softwares for service mesh, such as Istio, Envoy. And I am also a contributor of Service Mesh Performance and the meshery-perf component. I love the open culture of Layer5, where you can find everything about open source and service mesh,

[2022-01-29 06:18] maneeshsagar commented on #2553
Hey, @gyohuangxin  please confirm your Twitter: @gyohuang handle please I am not getting any account in your name?

[2022-01-29 06:42] gyohuangxin commented on #2553
@maneeshsagar Yes, I confirm. Can you get it from https://twitter.com/gyohuang?

[2022-01-29 11:40] #2553 closed

[2022-01-29 13:07] leecalcote commented on #2554
Yay, @Sunnyio picked this one up! Great work on the other RSS feeds, @Sunnyio. 👏

[2022-01-29 13:13] Sunnyio commented on #2554
Thanks @leecalcote.

[2022-01-30 12:41] #2493 closed

[2022-01-30 18:07] YashKamboj commented on #623
Taking this up!!!

[2022-01-30 18:46] leecalcote opened #2562 "[Handbook] Repository Overview: Add GitHub Actions to the list"
**Current Behavior**
The repo overview page at https://layer5.io/community/handbook/repository-overview is missing a couple of the community-created GitHub Actions.

**Desired Behavior**
List these actions on the page:

1. https://github.com/layer5io/meshery-smp-action
2. https://github.com/layer5io/meshery-service-mesh-patterns-action

---
**Contributor Resources**

The layer5.io website uses Gat

[2022-01-30 22:33] AbhishekJamhoriya commented on #2562
Hi @leecalcote, can I work on this issue?

[2022-01-31 04:19] #2487 closed

[2022-01-31 06:55] cnu1812 commented on #2495
Hi @leecalcote I would like to work on this issue!

[2022-01-31 18:22] iambami opened #2564 "[Community] Member Profile: Yash Kamboj"
**Current Behavior**

@YashKamboj has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @YashKamboj as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @YashKamboj
- Twitter: @yashkamboj123
- LinkedIn: https://www.linkedin.com/in/yash-kamboj-9078011b5
- Link to profile picture:

A detailed explanati

[2022-01-31 18:37] KXLAA commented on #2564
Hey, can I handle this?

[2022-01-31 19:23] iambami commented on #2564
@YashKamboj kindly send your bio and your photo.

[2022-01-31 21:23] KXLAA commented on #2564
Waiting on @YashKamboj bio

[2022-02-01 00:39] #2515 closed

[2022-02-01 00:51] iambami commented on #2564
Yash Kamboj is an undergrad student at IP University, Delhi. He is passionate about open-source and front-end development. Always up to learn new things. Love to help others and learn new things from them.

[2022-02-01 02:45] leecalcote opened #2565 "Missing robots.txt"
It's hard to believe that we've been missing this critical file. A prompt fix is needed here with some follow-up study of best practices for this file's structure.

[2022-02-01 03:26] YashKamboj commented on #2564
@KXLAA , thank you for working on it . If you need any help feel free to reach out to me😊
bio : I am a undergrad student at IP university, Delhi. I am passionate about open-source and front-end development. Always up to learn new things. Love to help others and learning new thing from them.
![IMG_20210301_2325041](https://user-images.githubusercontent.com/75125203/151908597-04013fc7-b69e-4e6f-a20c

[2022-02-01 03:51] #2565 closed

[2022-02-02 13:48] #2564 closed

[2022-02-02 20:57] debo19 opened #2577 "[Blog] Collapsible tag and category list"
**Current Behavior**
The tags and categories list on blog page has become too long. On selecting a specific category, there's a lot of unnecessary blank space on the page.

https://user-images.githubusercontent.com/85789734/152233646-e8f9280b-8ce5-46a0-a777-f5284d826312.mov

**Desired Situation**
Make the tag list and category list collapsible. They should be collapsed while viewing blogs of any p

[2022-02-03 01:21] padmajabhol commented on #2577
I want to work on this, can you assign me?

[2022-02-03 02:45] warunicorn19 commented on #2577
Please go ahead @padmajabhol

[2022-02-03 04:39] leecalcote commented on #2377
@Nikhil-Ladha, do you think that we need to breakout individual tasks here?

[2022-02-03 05:04] Nikhil-Ladha commented on #2377
Good question.
Maybe or maybe not, considering we already have another issue #2172 which tracks the performance of the site this might not be required.
But, since this issue tracks a completely different tool I think we are good to keep this issue open and make the enhancements suggested by it.
I see the score is much better now at 81, but a few more enhancements could be made and some of them are

[2022-02-03 05:18] subhradwip01 commented on #2517
Is this issue already solved?...If not can I work on that issue?

[2022-02-03 07:36] #2554 closed

[2022-02-03 12:02] lem0n4id opened #2578 "Minor fixes to CONTRIBUTING.md"
**Current Behavior**
- The links to `# Contributing to Layer5 Projects` and `# Contributing to Layer5's Blogs` in the table of contents doesn't work due to changes in [earlier commit](https://github.com/layer5io/layer5/commit/1059861ebae3cc642489a8c11bb2e54175fb1c0d#diff-eca12c0a30e25b4b46522ebf89465a03ba72a03f540796c979137931d8f92055R37)
- Section for  ` [Common Types of Site Updates](#common-typ

[2022-02-03 12:03] lem0n4id commented on #2578
I would like to make a PR for this

[2022-02-03 12:13] lem0n4id commented on #2578
One more fix [here](https://github.com/layer5io/layer5/blame/master/CONTRIBUTING.md#L155)

cloning forked copy should be like this
[code]

[2022-02-04 20:10] warunicorn19 commented on #2517
@subhradwip01 please go ahead, @ShivamTyagi12345 seems to be elsewhere

[2022-02-04 20:12] warunicorn19 commented on #2498
@sambhavsaxena, please go ahead if you're still interested.

[2022-02-04 20:19] warunicorn19 opened #2583 "[Contributing] Broken badge images in Contributing.md"
**Description**
The images of the badges are broken in the contributing.md
<img width="302" alt="Screenshot 2022-02-04 at 3 17 39 PM" src="https://user-images.githubusercontent.com/53532328/152597556-776f80d7-0ff9-499f-ad6c-f552b5a6a98d.png">

**Expected Behavior**
They shouldn't be broken

**Screenshots**

**Environment:**
- Host OS:
- Browser:

---

[Optional] **Additional Context**

---
**Contr

[2022-02-04 20:43] AbhishekJamhoriya commented on #2583
Hi, @warunicorn19 please assign me this issue.

[2022-02-05 01:25] ShivamTyagi12345 commented on #2498
/unassign, My apologies. Please go ahead @sambhavsaxena

[2022-02-06 07:38] Chadha93 opened #2588 "[UI] Increase Code block size"
**Description**
On this page -  [Layer5](https://layer5.io/service-mesh-management/meshery/getting-started)
The code block for Choose Platform(Mac OS and Brew) getting chopped for the third command

**Expected Behavior**
Fix the style for this code block.

**Screenshots**
![Screenshot from 2022-02-06 13-02-35](https://user-images.githubusercontent.com/65453826/152671715-46333ef8-d4d6-4709-9c8a-ffc

[2022-02-06 07:44] ShivamTyagi12345 commented on #2588
seems an easy fix. I will like to help

[2022-02-06 07:46] Chadha93 commented on #2588
Yes, it is. Assigning @ShivamTyagi12345

[2022-02-06 16:21] chaitanya-24 commented on #2583
Can I solve this issue?

[2022-02-07 01:50] leecalcote commented on #2583
@chaitanya-24, let's see... @AbhishekJamhoriya, are you still working on this issue?

[2022-02-07 02:40] #2578 closed

[2022-02-07 04:40] AbhishekJamhoriya commented on #2583
yes, @leecalcote I'm working on it.

[2022-02-07 15:24] subhradwip01 commented on #2517
@Abhijay007 can you provide your short bio and profile picture please?

[2022-02-07 15:33] Abhijay007 commented on #2517
ok, I will send it on slack :)

[2022-02-07 15:34] warunicorn19 commented on #2517
@subhradwip01 there's an open PR you can reference.

[2022-02-07 16:50] YashKamboj opened #2590 "[Bug] Broken link of GSOC on the partners page"
**Description**

Broken link of GSOC on the partners page.  https://layer5.io/partners
**Expected Behavior**

Redirect it to https://layer5.io/programs/gsoc
**Screenshots**

**Environment:**
- Host OS:
- Browser:

---

[Optional] **Additional Context**

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https

[2022-02-07 17:08] Simba-97 commented on #2590
@YashKamboj hey Yash, can I work on this issue?

[2022-02-07 17:08] YashKamboj commented on #2590
Go ahead!!! @Simba-97

[2022-02-07 20:27] AbhishekJamhoriya commented on #2498
@warunicorn19 please assign me this issue. let me give it a shot.

[2022-02-07 22:48] #2583 closed

[2022-02-07 22:59] #2590 closed

[2022-02-08 05:05] ShivamTyagi12345 commented on #2588
just an update on the task. My college schedules are lining up. I will make the PR by today:)

[2022-02-08 08:16] subhradwip01 commented on #2517
I am working on an issue of layer5 website...while I am trying to commit a change I am getting this error
Can someone tell me why I am getting this?

[2022-02-08 08:17] subhradwip01 commented on #2517
0 verbose cli [
0 verbose cli   '/home/subhradwip/.nvm/versions/node/v16.0.0/bin/node',
0 verbose cli   '/home/subhradwip/.nvm/versions/node/v16.0.0/lib/node_modules/npm/bin/npm-cli.js',
0 verbose cli   'exec',
0 verbose cli   '--yes=false',
0 verbose cli   '--',
0 verbose cli   'husky-run',
0 verbose cli   'pre-commit'
0 verbose cli ]
1 info using npm@8.4.1
2 info using node@v16.0.0
3 timing npm:

[2022-02-08 08:18] subhradwip01 commented on #2517
This is debug.log

this is debug.log

[2022-02-08 08:20] moazzam07 commented on #2498
@warunicorn19 can i work on it?

[2022-02-08 09:11] subhradwip01 commented on #2517
I resolved that..problem with npm...I reinstall npm and node with latest version and rerun the command npm install..then it is working fine

[2022-02-08 12:42] chaitanya-24 commented on #2583
No Problem :)

[2022-02-08 16:14] #2517 closed

[2022-02-08 20:22] Abhijay007 commented on #2562
@AbhishekJamhoriya are you working on this issue? if you need any assistance you can ping me on slack :)

[2022-02-08 20:39] AbhishekJamhoriya commented on #2562
yes, I'm working on it, I will definitely ask for help from you @Abhijay007  if needed.

[2022-02-10 12:22] AugustasV commented on #2588
I will work on it

[2022-02-10 15:06] #2562 closed

[2022-02-10 20:52] leecalcote opened #2602 "[Meshery] Update user count"
**Current Behavior**
This page, https://layer5.io/service-mesh-management/meshery, lists 1,000+ users currently.

**Desired Behavior**
Meshery is up to 1,200+ users now.

**Screenshots / Mockups**
<img width="1158" alt="Screen Shot 2022-02-10 at 2 50 57 PM" src="https://user-images.githubusercontent.com/7570704/153494464-0d406ad4-14f5-4ae4-ba30-24f8f43a0763.png">

---
**Contributor Resources**

Th

[2022-02-10 22:44] furkanmutlu commented on #2602
PR: https://github.com/layer5io/layer5/pull/2603

[2022-02-11 02:22] #2602 closed

[2022-02-11 17:57] YashKamboj commented on #2498
@AbhishekJamhoriya are you still  working on it ??

[2022-02-11 23:08] AbhishekJamhoriya commented on #2498
Yes, @YashKamboj I'm still working on this issue.

[2022-02-12 03:40] subhradwip01 commented on #2498
@AbhishekJamhoriya ohh..carry on

[2022-02-13 08:07] subhradwip01 commented on #2577
Is this issue solved?

[2022-02-13 08:08] subhradwip01 commented on #2577
If you want I would like to give a try...If you are not working

[2022-02-14 11:16] kayceeDev commented on #2496
@leecalcote , I will love to push my brain to write this. Do you have any resources to help me understand linkered? I will appreciate your suggestions.

[2022-02-14 11:59] debo19 commented on #2577
@padmajabhol any updates on this? @subhradwip01 can help with this one

[2022-02-14 22:22] leecalcote opened #2606 "[Performance] Layer5 logo not cached?"
**Current Behavior**
It seems that the Layer5 logo is (re)downloaded with each page visit. See the behavior in the attached recording.

https://user-images.githubusercontent.com/7570704/153956445-363bf495-d2ac-4409-ba16-d5d00cc31a12.mov

**Desired Situation**
This logo and other image files should be cached.

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Res

[2022-02-14 22:23] leecalcote commented on #2606
@Nikhil-Ladha @debo19 @kayceeDev does this behavior seem correct?

[2022-02-14 22:52] leecalcote opened #2607 "[Discuss] Missing OpenGraph image"
**Description**
When sharing a link to a post on discuss.layer5.io, no image is found for inclusion in the social media share.

**Expected Behavior**
Meta tags for opengraph image(s) should be included in the site. If no image is included in the specific post, the site's logo should be used as the opengraph image.

**Screenshots**
<img width="617" alt="Screen Shot 2022-02-14 at 4 50 10 PM" src="ht

[2022-02-14 22:57] leecalcote commented on #2607
The site's current configuration includes a setting for these images, though.
<img width="858" alt="Screen Shot 2022-02-14 at 4 56 32 PM" src="https://user-images.githubusercontent.com/7570704/153960644-27b1716b-a182-4cf5-b058-8979788c3207.png">

[2022-02-14 23:06] leecalcote commented on #2607
The Twitter card validator suggests that all is fine.
<img width="1065" alt="Screen Shot 2022-02-14 at 4 58 09 PM" src="https://user-images.githubusercontent.com/7570704/153960865-e2ad8ac5-09ec-458b-b691-da106ef08e8c.png">

However, as you go to share on Twitter, something else seems amiss. Hmpf.

[2022-02-14 23:13] leecalcote commented on #2607
Argh. Never mind. 😕
<img width="621" alt="Screen Shot 2022-02-14 at 5 13 17 PM" src="https://user-images.githubusercontent.com/7570704/153962623-0a18171f-afb3-4e3c-94be-7202dc3bb792.png">

[2022-02-14 23:23] kayceeDev commented on #2606
The blur effect is coming from the Gatsby config due the way the Gatsby static image rendering works. Instead of loading all the image at once, it blurs the image as a way to optimise the load time. It's more like loading the image data in chunks till it's fully loaded rather than wait for the image to load up at once. So it is not redownloaded. That's the expected behaviour with Gatsby static ima

[2022-02-14 23:26] leecalcote commented on #2606
@kayceeDev, thanks. That makes sense. Let's investigate caching of this and other static images, so that they don't need to be downloaded on (soft) refresh.

[2022-02-14 23:29] kayceeDev commented on #2606
Alright. Will look into it.🤗

[2022-02-15 01:39] verma-kunal commented on #2607
Thanks for pointing out @leecalcote !! Will check this

[2022-02-15 01:49] verma-kunal commented on #2607
Seems to be working for me as well.
![Screenshot 2022-02-15 at 7 19 21 AM](https://user-images.githubusercontent.com/72245772/153977355-f7973f4f-1721-453e-b52b-10031f5d29c3.png)

[2022-02-15 01:53] verma-kunal commented on #2607
I think the issue here is the rendering time for these social platforms for the opengraph images with links! Happens with various other links as well
Should i look more into this one @leecalcote ?

[2022-02-15 02:02] verma-kunal commented on #2607
Tried the same on LinkedIn:
![Screenshot 2022-02-15 at 7 32 02 AM](https://user-images.githubusercontent.com/72245772/153978516-09510c5b-2bb7-455a-b2ac-8ddd7529fe5f.png)

[2022-02-15 02:38] leecalcote commented on #2607
In think that you're right, @verma-kunal. This is/was something of a fluke and red herring; not something to research further given that we seem to have the right configuration in place. Thanks for investigating.

[2022-02-15 02:55] #2607 closed

[2022-02-19 07:20] kayceeDev commented on #2607
Got me smiling 😂.

[2022-02-21 16:19] #2072 closed

[2022-02-22 19:53] iambami opened #2611 "[Learn] Fix the Statement on Layer5 Landing Page."
**Current State:**
The statement on Layer5 [Service-Mesh](https://github.com/layer5io/layer5/blob/master/src/sections/Home/Service-mesh-focussed/index.js#L30) needs a little space.
**Desired State:**
There is a need for space between applications and provide `applications,provide`
![snip1](https://user-images.githubusercontent.com/64528871/156794998-fdbb1a25-9d9e-46fd-9112-6159f5880b51.PNG)

---
*

[2022-02-22 21:28] ShivamTyagi12345 commented on #2611
Do i need to delete that extra space that happens to occur in the line?

[2022-02-22 23:17] iambami commented on #2611
Hi @ShivamTyagi12345 You don't have to. Thanks

[2022-02-23 17:02] warunicorn19 opened #2613 "[Community] Member Profile: Hersh Dhillon"
**Current Behavior**

@hershd23 has been a consistent contributor and community member.

**Desired Situation**
Let's recognize hershd23 as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: hershd23
- Twitter:
- LinkedIn:
- Link to profile picture: https://drive.google.com/file/d/1CJrziXlIT2RTdWOG0pRCcT8aVQMy1BXk/view

A detailed explanation

[2022-02-23 17:07] warunicorn19 opened #2614 "[Community] Member Profile: Pranav Singh"
**Current Behavior**

@theBeginner86  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @theBeginner86  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @theBeginner86
- Twitter: theBeginner86
- LinkedIn: pranav-singh-00904b1bb
- Link to profile picture: https://pbs.twimg.com/profile_images/1

[2022-02-23 17:26] hershd23 commented on #2613
Twitter :- https://twitter.com/DhillonHersh
LinkedIn :- https://www.linkedin.com/in/hersh-dhillon/

Thanks!

[2022-02-23 18:06] theBeginner86 commented on #2614
Thank you, @warunicorn19 😊

[2022-02-23 18:10] theBeginner86 commented on #2614
1. **Bio:**
Pranav is an undergraduate studying computer science at VIT Vellore, India. He is passionate about building technology and making an impact through software development. Currently, he is exploring the software world through open-source contributions. His interest lies in DevOps, microservices, software architecture, and cloud-native technologies.

2. **Location**:
New Delhi, India

[2022-02-24 01:17] MukulKolpe commented on #2614
Congratulations @theBeginner86 !!
Hey @warunicorn19 can I work on this?

[2022-02-24 01:21] leecalcote commented on #2614
Thanks, @MukulKolpe

[2022-02-24 02:08] sidd-oo commented on #2613
Can I take this issue ? @warunicorn19

[2022-02-24 02:09] warunicorn19 commented on #2613
Sure @sidd-oo. @hershd23 would you like to provide a location and a bio as well?

[2022-02-24 04:33] hershd23 commented on #2613
I had edited that above comment and added the location and bio

[2022-02-24 05:05] warunicorn19 commented on #2613
Oops, I didn't see that, sorry my bad 😅.

[2022-02-24 14:55] unnati914 opened #2618 "[Blog]"
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member:

**Desired Title:**  Open Force Collaboration with Layer5

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.

[2022-02-24 14:55] unnati914 commented on #2618
/assign

[2022-02-25 11:11] unnati914 commented on #2611
hey @ShivamTyagi12345 are you working on this issue? if you are working, can I help you with this?
cc @iambami

[2022-02-25 11:18] unnati914 commented on #2455
@debo19 , can you please tell me the suggestions that you listed that day to me regarding this issue?

[2022-02-25 12:50] iambami commented on #2611
Thanks @unnati91, @ShivamTyagi12345 do you have any issue with this issue? Kindly let us know if there is any.

[2022-02-25 13:20] #2613 closed

[2022-02-25 14:11] debo19 commented on #2455
@unnati914 I don't recall exactly. Can you go through the meeting recording from that day, that should be helpful.

[2022-02-26 00:03] #2614 closed

[2022-02-26 12:28] #2298 closed

[2022-02-27 15:11] sidd-oo opened #2622 "[UI] Event DevConf '22 Image not properly aligned"
**Description**
Event DevConf '22 Image is not properly aligned.

![image](https://user-images.githubusercontent.com/25115188/155887827-9006bf3b-f3d6-48b6-8885-96aaf02a4236.png)
![image](https://user-images.githubusercontent.com/25115188/155887834-1c44eaec-cc9e-417e-9d27-c9ab66548f48.png)

---
**Expected Behavior**
Either this below new image could be replaced with the old image or resolution can

[2022-02-27 15:11] sidd-oo commented on #2622
Can I work on this issue?

[2022-02-27 15:24] Chadha93 commented on #2622
@sidd-oo it's great you created an issue regarding this, it would be much better if you would create the CSS globally for this whole image in the card so that it will auto adjust the size according to the component.
Sounds good to you?

[2022-02-28 07:23] #2439 closed

[2022-02-28 10:55] debo19 opened #2623 "Lazy load all iframes"
**Current Behavior**
We use several `<iframes>` across [Resources](https://layer5.io/resources), [Blogs](https://layer5.io/blog/meshery/an-introduction-to-meshery-webinar-on-demand),  [Events](https://layer5.io/community/events/kubecon-china-2021).

**Desired Situation**
Use the lazy load attribute for each of these.

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub

[2022-02-28 11:14] sidd-oo commented on #2622
@Chadha93 I didn't get you, can you explain a little more please.

[2022-02-28 11:19] sidd-oo commented on #2623
Can I work on this issue?

[2022-02-28 11:21] debo19 commented on #2623
Sure @sidd-oo, go ahead

[2022-02-28 20:32] #2623 closed

[2022-03-03 15:30] Krishnapro opened #2633 "Layer5 logo is not responsive"
**Current Behavior**

- Layer5 logo is not responsive on every screen size.

**Desired Behavior**

- Reduce the left margin
- Like the mentioned picture

---
**Screenshots / Mockups**

![image](https://user-images.githubusercontent.com/59277887/156593917-3a01b5fc-8ee8-4ca3-8976-ebf9a8986568.png)

![image](https://user-images.githubusercontent.com/59277887/156596316-ccd4fcc7-d36f-4c39-a729-2bd9b224

[2022-03-03 15:55] YashKamboj commented on #2633
Wanna work on this issue?? @Krishnapro

[2022-03-03 23:31] leecalcote commented on #2423
Clearing stale assignment in order to open up this issue for other contributors who might like to try their hand here.

[2022-03-04 01:48] Krishnapro commented on #2633
Yes I want to work on this. @YashKamboj

[2022-03-04 13:48] Nikhil-Ladha commented on #2606
It doesn't re-downloads but just loads with the effect of a blur, while the rest of the page continues to be loaded/built by the browser.
The best fix for this is to avoid the `StaticImage` component on the logo.

[2022-03-04 13:49] Nikhil-Ladha commented on #2633
What's the screen resolution for which you are hitting this issue?
And for what range of resolution does this issue stay?

[2022-03-04 13:54] kayceeDev commented on #2606
I agree with you @Nikhil-Ladha. We can remove the `StaticImage` component to restore the original logo behaviour.

[2022-03-04 14:01] Nikhil-Ladha opened #2634 "[Landscape] External links on the service mesh landscape page should have the `rel="nofollow"` attribute"
**Current State:**
The [Service Mesh Landscape](https://layer5.io/landscape) page has a lot of external links that point to the respective service mesh's site/GitHub repo and the site crawler will rank our site based on those links. This may hamper the SEO of our site.

**Desired State:**
All the external links on the site should have the `rel="nofollow` attribute so that the link is avoided by th

[2022-03-04 14:02] sidd-oo commented on #2634
Can I work on this issue ? @Nikhil-Ladha

[2022-03-04 14:10] Nikhil-Ladha commented on #2634
Sure, go ahead @sidd-oo

[2022-03-04 14:11] Nikhil-Ladha commented on #2606
Let's have this under the `good-first-issue` list.

[2022-03-04 14:13] Nikhil-Ladha commented on #2611
Hey @iambami , I think the desired state in the issue is not very clear. Can you please explain that in the description?

[2022-03-04 14:16] a-muk commented on #2606
Can I try to work on this issue?

[2022-03-04 14:18] sidd-oo commented on #2611
I think we need to remove this extra spacing on the highlighted line.  @Nikhil-Ladha
Can I take this issue ?
![image](https://user-images.githubusercontent.com/25115188/156779591-e4071a12-5eca-4e81-a53b-3dab527532db.png)

[2022-03-04 14:22] Abhijay007 commented on #2606
sure @a-muk go ahead :)

[2022-03-04 14:23] Abhijay007 commented on #2611
@sidd-oo it is for first-timers only :)

[2022-03-04 14:28] sidd-oo commented on #2611
Okay, I will pass. Thanks

[2022-03-04 14:44] Krishnapro commented on #2633
Already I have start working.

[2022-03-04 14:44] Nikhil-Ladha commented on #2611
No, that space won't be rendered on the page.

[2022-03-04 14:46] Nikhil-Ladha commented on #2633
But, it should qualify to be an issue in order to work upon :)

[2022-03-04 14:48] warunicorn19 commented on #2633
@Nikhil-Ladha it seems to be happening when 992px is hit. I think it's happening because of lazy loading, I'm not sure though.

[2022-03-04 15:03] Nikhil-Ladha commented on #2633
Yeah, but that's really for only the 10px range which again is not a supported resolution anywhere.
Though, let's have the fix to avoid that tini tiny 10px as well ;)

[2022-03-04 15:08] warunicorn19 commented on #2633
It's actually a 50px range😂😂

[2022-03-04 15:27] Krishnapro commented on #2633
Please tell me should I fix this issue or not.

[2022-03-04 15:28] Nikhil-Ladha commented on #2633
Yes, go ahead

[2022-03-04 15:55] iambami commented on #2611
Please check out the desired state. it's been updated.

[2022-03-04 16:20] iambami opened #2635 "[Learn] Remove the extra sentence"
**Current State:**
The second sentence on [The Layer5 home page](https://github.com/layer5io/layer5/blob/master/src/sections/Home/Proud-maintainers/index.js#L29) needs to the removed

**Desired State:**
The second sentence is a repetition of the first. Delete the extra sentence.
![snip2](https://user-images.githubusercontent.com/64528871/156799893-aa5900ea-4314-4136-beaa-fc686304cab3.PNG)

---
**C

[2022-03-04 16:29] rparias commented on #2635
Can I take it?

[2022-03-04 16:33] Abhijay007 commented on #2635
sure @rparias go ahead :)

[2022-03-04 16:37] iambami commented on #2635
Sure @rparias , please go ahead.

[2022-03-04 16:38] RakeshPotnuru commented on #2611
@iambami
Can I take this issue?

[2022-03-04 16:40] iambami commented on #2611
Sure @RakeshPotnuru. Please go ahead.

[2022-03-04 17:47] #2611 closed

[2022-03-04 21:55] iambami commented on #2635
Thanks for working on this @rparias

[2022-03-04 21:56] iambami commented on #2635
#2636

[2022-03-04 21:56] #2635 closed

[2022-03-05 13:11] sidd-oo commented on #2634
The current state link for [Service Mesh Landscape](https://github.com/layer5io/layer5/issues/layer5.io/landscape) is not workking, Can you please provide it the working URL @Nikhil-Ladha

[2022-03-05 13:13] Nikhil-Ladha commented on #2634
Done

[2022-03-06 12:01] sidd-oo opened #2640 "[UI] Title image for all events on the Layer5 are getting out of position"
**Description**
The title image for all events on the Layer5 is getting out of position.
Below are some examples :
1) [Project Office Hours: Service Mesh Performance at KubeCon NA 2021](https://layer5.io/community/events/project-office-hours-service-mesh-performance-at-kubecon-na-2021)
2) [KubeCon China 2021](https://layer5.io/community/events/kubecon-china-2021)
3) [DEVCONF 2022](https://layer5.i

[2022-03-06 12:12] Akshit42-hue commented on #2640
Can I work on this issue @sidd-oo

[2022-03-06 12:13] Abhijay007 commented on #2640
sure @Akshit42-hue , go ahead :)

[2022-03-06 12:33] Nikhil-Ladha commented on #2640
Also, fix the alignment on the [Events](https://layer5.io/community/events) page. A `max-height` with `cover` property would do, for the images in the slider.

[2022-03-06 14:54] Akshit42-hue commented on #2640
Can you give some more information about cover property @Nikhil-Ladha

[2022-03-06 15:00] Nikhil-Ladha commented on #2640
I am talking about the `object-fit: cover` CSS property.

[2022-03-06 16:36] alceil commented on #2377
Hey @Nikhil-Ladha , I am Ashish Tom, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. And I would also like some pointers on how to get started.Thank you

[2022-03-06 16:39] alceil commented on #2172
Hey @Nikhil-Ladha  , I am Ashish Tom, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. And I would also like some pointers on how to get started.Thank you

[2022-03-06 17:14] Nikhil-Ladha commented on #2172
Hi @alceil , sure.
Since this issue is epic. small improvements are encouraged for it like using the `bg-image` component for `Community Callouts` at the end of the page. Ref: #2596
Do join our slack workspace at `slack.layer5.io`, and ping me there in case of any doubts.
Happy to help :)

[2022-03-06 17:20] alceil commented on #2172
Sure thanks @Nikhil-Ladha

[2022-03-06 17:50] #2622 closed

[2022-03-06 19:24] vermaayush680 commented on #2640
Hi @Nikhil-Ladha , Can you assign this issue to me.
Also do you want the images to take 100% screen with or remain the same size?

[2022-03-06 19:37] verma-kunal opened #2642 "[Discuss-UI] Topic titles not appearing in dark mode"
**Description**
The topic titles of some posts, are not visible in the Dark mode, as they turn black in colour!

**Expected Behavior**
In dark mode, topic titles should be appearing like this (screenshot below):
![Screenshot 2022-03-07 at 1 06 20 AM](https://user-images.githubusercontent.com/72245772/156939228-0f013580-c769-44ff-9ad1-db7a9ba3bfe3.png)

**Screenshots**
![Screenshot 2022-03-07 at 1

[2022-03-06 19:37] verma-kunal commented on #2642
/area/discuss

[2022-03-07 03:58] Nikhil-Ladha commented on #2640
Hi @vermaayush680 , the issue is already been worked upon by another contributor, so unfortunately I can't assign it to you. You can checkout other open issues in the repo.

[2022-03-07 10:32] kayceeDev commented on #2642
@verma-kunal I want to take a look at this issue but I can access the `create account page`
![Capture](https://user-images.githubusercontent.com/42142223/157014601-cdf8a0cf-3c9e-440f-8850-19e48cf6c782.PNG)

[2022-03-07 11:49] sidd-oo opened #2643 "[UI] Remove the second instance of profile image from the mentioned blog"
**Description**
There is a blog [My Open Source Journey @Layer5](https://layer5.io/blog/community/my-open-source-journey-layer5) on the Layer5 site which contains two similar [images](https://layer5.io/static/Intern-profile-dfb22773011aa31539cf2b296decace5.png), the second image needs to be removed as it makes no sense to keep the same instances of the image in a single page.

**Expected Behavior*

[2022-03-07 12:12] rajat4984 commented on #2643
Hey i think i can handle this issue would love to contribute

[2022-03-07 14:57] Akshit42-hue commented on #2640
Update:
![Screenshot from 2022-03-07 20-23-20](https://user-images.githubusercontent.com/59443454/157058398-d4af26b7-058b-4e52-9b95-1ee22ed00728.png)
Does this looks good to you or  need any changes @Nikhil-Ladha

[2022-03-07 15:26] Nikhil-Ladha opened #2644 "[Books] Data is not filtered correctly in the table on the service-mesh-patterns book page."
**Description**

The table in the [Service Mesh Patterns Book](https://layer5.io/learn/service-mesh-books/service-mesh-patterns) is not sorting the data correctly.

**Expected Behavior**

It should not consider the section headers while sorting the data, rather sort the data as per the requested sorting technique under individual sections.

**Screenshots**

[Reference screen recording](https://you

[2022-03-07 15:29] sidd-oo commented on #2644
Can I take this issue? @Nikhil-Ladha

[2022-03-07 15:32] Nikhil-Ladha commented on #2643
Sure, go for it @rajat4984

[2022-03-07 15:55] Nikhil-Ladha commented on #2644
Please avoid good-first-issue for sometime, so that people from openforce can take them up.
Un-assigning you for the time being @sidd-oo
If no one takes it up, in 2-3 days then ping me for assignment.

[2022-03-07 16:17] sidd-oo commented on #2644
Sure, no worries @Nikhil-Ladha
Even I think it would be more worthwhile to start taking on tasks that are a little more challenging than good first issues.

[2022-03-07 17:20] ghulamyazdani commented on #2644
can I work on this @Nikhil-Ladha ?

[2022-03-07 17:22] ghulamyazdani commented on #2642
I think I can work on this!

[2022-03-08 12:56] verma-kunal commented on #2642
The discuss staging has been taken down right now, so would have to set it up locally on the system using Docker

[2022-03-08 12:58] verma-kunal commented on #2642
Sure! It would be great to know how you set up the discuss forum locally
Thanks

[2022-03-08 12:59] verma-kunal commented on #2642
/assign @ghulamyazdani

[2022-03-08 15:34] goyalsaksh commented on #2643
Hi, I am a contributor to openforce22 . I would like to work on this issue . I would be making a PR as soon as I am done with resolving the issue. Thank you.

[2022-03-08 15:39] Nikhil-Ladha commented on #2643
Hi @goyalsaksh , if Rajat fails to make a PR then you can take up the issue.
In the meantime you could check other open issues.

[2022-03-08 23:38] goyalsaksh commented on #2643
@Nikhil-Ladha sir, as I am beginner ,I am unable to find issue which i can resolve using c++,please guide me.

[2022-03-09 12:02] verma-kunal commented on #2642
Hey @ghulamyazdani @kayceeDev , this may help you to setup discourse locally!
https://meta.discourse.org/t/how-do-i-set-up-a-local-discourse-development-environment/182882

[2022-03-10 07:48] #2643 closed

[2022-03-10 09:08] Aaditya-Singh78 commented on #2377
Hi, I am Aaditya Singh, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-10 09:35] kayceeDev commented on #2377
@Aaditya-Singh78 That's great. There are so many issues pointed out by the `Analyzer`. You can go ahead and choose any of them to work on. But first, go through the open pull requests and see if any of these suggestions by the analyzer have been currently worked on before picking an issue. Feel free to ask any question on the slack channel if you need clarifications.

[2022-03-10 17:04] leecalcote opened #2647 "[MeshMap] Create "Accounts to Connect" section"
**Current Behavior**
The form on the [MeshMap signup page](https://layer5.io/meshmap) needs updated slightly to convey that individuals who sign up for the waitlist need to provide at least one of their existing accounts to connect for access to MeshMap.

**Desired Behavior**
1. Visually denote that these for identity providers are part of the same section; that they are part of the same section:

[2022-03-10 17:30] Abhijay007 commented on #2647
@leecalcote  do we need to implement something like a "dropdown" in order to bring up all the fields together to one section called "connected Account"

[2022-03-10 18:10] Ardent10 commented on #2642
Hey, @verma-kunal
I think I can work on this issue as a part of OpenForce22 participant.

[2022-03-10 18:25] Ardent10 opened #2648 "Footer Date"
**Description**
The current year setting at the footer is not dynamic I guess and that is why it it showing as 2021.

![image](https://user-images.githubusercontent.com/73132031/157729662-430e368b-e4e7-430e-9ccc-f820cc91d1c8.png)

**Expected Behavior**

The Year should change dynamically every year without the need to change it each year.

**Screenshots**

**Environment:**
- Host OS:
- Browser:

-

[2022-03-10 18:56] rajat4984 commented on #2648
can i take this ?

[2022-03-11 07:03] Ardent10 commented on #2648
@rajat4984
I am not a the Maintainer but a contributor myself.

[2022-03-11 11:18] Abhijay007 commented on #2648
@rajat4984 @Ardent10 there is already a PR is opened for this issue [2615](https://github.com/layer5io/layer5/pull/2615)

[2022-03-11 11:27] Akshit42-hue commented on #2648
Can I work on this issue @Abhijay007

[2022-03-11 11:55] rajat4984 commented on #2648
@Abhijay007 okayyy 👍🏻👍🏻

[2022-03-11 12:08] leecalcote commented on #2647
@Abhijay007 Thanks for asking. Considering a person may fill in information for more than one account, no, we can leave the fields as for separate text inputs.

By "creating a section ", I mean putting a section title of "accounts to connect " with text description and some other visual indication that these four inputs are in the same group.

[2022-03-11 12:10] Ardent10 commented on #2648
@rajat4984 I'll be making the year Dynamic. I will make a PR as soon as this is resolved.

[2022-03-11 12:12] leecalcote commented on #2648
Thank you, @Ardent10 👍

[2022-03-11 12:15] leecalcote commented on #2648
I missed all of the previous comments and I'm just now seeing them. I'll let @Abhijay007 clarify on how to best proceed.

[2022-03-11 12:19] Abhijay007 commented on #2648
@Ardent10 let me first ask from @Ayush7614 that if he is working on that PR or not, I will notify you if I got any updates :)

[2022-03-11 12:20] leecalcote commented on #2648
Also, there is a ton of work to do on this site. Join the weekly Websites meetings on Mondays and grab a piece of the action. Details here - https://meet.layer5.io

[2022-03-11 12:24] Abhijay007 commented on #2647
okay got it, Thanks for the info :)

[2022-03-11 12:37] rajat4984 commented on #2648
@leecalcote looking forward to join this monday 👍🏻

[2022-03-11 19:23] shefali12-ab commented on #2647
@leecalcote Is someone working on this issue?

[2022-03-11 19:35] leecalcote commented on #2647
Not to my knowledge, @shefali12-ab. I'll assign to you. Do signal to remove assignment if you either don't desire to work on it or get stuck in doing so.

[2022-03-12 20:03] #2648 closed

[2022-03-13 04:42] alphaX86 commented on #2284
@leecalcote can we add this issue as part of Openforce?

[2022-03-13 05:17] shefali12-ab commented on #2647
Thank you @leecalcote  if I get stuck or need help didn't I ask in the community for help?

[2022-03-13 20:10] Ash-KODES commented on #2606
Since,no PR is made till now,Can I work on this?
#openforce2022

[2022-03-13 21:08] debo19 commented on #2606
@a-muk any updates? @Ash-KODES can help you out here :)

[2022-03-14 02:28] a-muk commented on #2606
@debo19 wld be great if I could get some help.

[2022-03-14 11:06] Akshit42-hue commented on #2642
Can I work on this issue @verma-kunal

[2022-03-14 11:25] verma-kunal commented on #2642
Hey @Ardent10 @Akshit42-hue , really glad to see that you wanna work on this issue!
Last time I checked, @ghulamyazdani had started working on this one & if we don't see any activity from their side in a few days, you can definitely go ahead & assign the issue to yourself!

[2022-03-14 13:23] #2640 closed

[2022-03-14 13:43] Ardent10 commented on #2642
Sure, thankyou. :)

[2022-03-14 16:12] Akshit42-hue commented on #2633
Can I work on this issue @Nikhil-Ladha

[2022-03-14 16:14] Akshit42-hue commented on #2498
Can I work on this issue @ShivamTyagi12345

[2022-03-14 16:17] Akshit42-hue commented on #2644
Can I work on this issue @Abhijay007

[2022-03-14 18:27] #2577 closed

[2022-03-14 19:58] #2618 closed

[2022-03-14 20:29] Chadha93 opened #2652 "[UI] Add pagination to the bottom of the Blogs/Articles post list"
**Current Behavior**
There is no pagination available to navigate on the Blogs page.

**Desired Behavior**
Add pagination to the bottom of the Blogs/Articles post list
(e.g. ←Prev  ….  Next →)

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contribut

[2022-03-14 20:29] Chadha93 commented on #2652
// @subhradwip01

[2022-03-14 20:34] Chadha93 opened #2653 "[UI] Increase the count of Blogs/Articles list when filtered"
**Current Behavior**
Increase the count of Blogs/Articles list when filtered with categories or tags
Currently, it only shows up to 4 when filtered.
![image](https://user-images.githubusercontent.com/65453826/158256420-16a50b50-f526-402a-83c9-016a4bf9d8a9.png)

**Desired Behavior**
Increase the count to 6 or whichever suits on page greater than 4.

**Contributor Resources**

The layer5.io website

[2022-03-15 02:09] sayan011 commented on #2653
Hey @Chadha93 ,can I work on this issue?

[2022-03-15 02:40] sayan011 commented on #2653
Hey @Chadha93  ,can I work on this issue?

[2022-03-15 05:55] soumya-dash3 commented on #2377
@Nikhil-Ladha @kayceeDev Is this issue worked upon?

[2022-03-15 05:57] soumya-dash3 commented on #2377
@Nikhil-Ladha @kayceeDev  is this issue been worked upon? I'm a contributor at Open-Force.

[2022-03-15 07:04] Krishnapro commented on #2633
I am working on this issue @Nikhil-Ladha

[2022-03-15 17:36] Abhijay007 commented on #2653
sure @sayan011 go ahead :)

[2022-03-15 18:19] subhradwip01 opened #2654 "[UI] Highlighting the active blog category or tag"
**Current Behavior**

Currently, there is no highlighting feature based on the visited blog category or tag.

https://user-images.githubusercontent.com/88609894/158444347-fec4dea0-8835-487b-b25a-37c60fe37671.mp4

**Desired Behavior**

Tags or categories should be highlighted based on active category or tag. So that users can understand which tag or category they are currently in.
---
**Screenshots

[2022-03-15 20:17] Krishnapro commented on #2633
I have fixed this issue please review and merge it.

[2022-03-16 07:52] RakeshPotnuru commented on #2654
@subhradwip01
I want to work on this issue.

[2022-03-16 08:18] Akshit42-hue opened #2657 "Align the cards in proper format"
**Description**

In the community/members page the cards are not properly Align
**Expected Behavior**

Align the cards properly
**Screenshots**

![Screenshot from 2022-03-16 13-43-20](https://user-images.githubusercontent.com/59443454/158546107-d5ed5116-88d2-4ff9-a9f2-0b08c0cd0c23.png)

**Environment:**
- Host OS: Linux
- Browser: Chrome

---

---
**Contributor Resources**

The layer5.io website u

[2022-03-16 08:19] Akshit42-hue commented on #2657
Can I work on this issue @Nikhil-Ladha @asubedy

[2022-03-16 08:28] asubedy commented on #2657
Yes sure @Akshit42-hue🚀

[2022-03-16 08:28] Ardent10 commented on #2642
@verma-kunal
Can you tell me a work around for this, I can't access the website. I did try to change the permissions in two different browsers but still the same result.
![image](https://user-images.githubusercontent.com/73132031/158547799-5b568836-7847-4d94-9e10-66d0453d67b5.png)

[2022-03-16 10:07] kayceeDev commented on #2642
@Ardent10  please take a look at the link in the comment. The staging site is currently down at the moment. What you can do is set up discourse locally through one of the provided steps when you open the link

[2022-03-16 11:25] Abhijay007 commented on #2654
sure @RakeshPotnuru go ahead :)

[2022-03-16 12:35] Akshit42-hue commented on #2657
Does this alignment looks good to you? @asubedy
![Screenshot from 2022-03-16 18-04-30](https://user-images.githubusercontent.com/59443454/158590996-1cac0799-fd3b-4833-a66e-db1050439c9d.png)

[2022-03-16 13:20] asubedy commented on #2657
Lets put a little bit of space below the names. The names having two lines are looking a bit clustered.

[2022-03-17 10:38] asubedy commented on #2657
Umm, we can try but I think that will create some disparity that will not look nice. But let us see how it looks.

[2022-03-17 11:08] Akshit42-hue commented on #2657
Here how it looks @asubedy
![Screenshot from 2022-03-17 16-36-37](https://user-images.githubusercontent.com/59443454/158796435-da94e93c-26f1-4294-94f8-42b2002dc032.png)

[2022-03-17 18:04] antariksh17 opened #2662 "The blog page is not loading from the local build after cloning"
**Description**

I am new to open sorce and i tried to clone and run the local environment in browser, I clicked the blog section and the request times out every time. it keeps showing, preparing a page in the bottom

**Expected Behavior**

The blog page is supposed to load

**Screenshots**

**Environment:**
- Host OS: Mac OS 13.2 High  Sierra
- Browser: Chrome V 99

---

[Optional] **Additional C

[2022-03-17 18:21] #2654 closed

[2022-03-17 19:25] leecalcote commented on #2662
Great question, @antariksh17. Will you kindly open up this question on https://discuss.layer5.io?

[2022-03-18 04:36] #2662 closed

[2022-03-18 04:36] antariksh17 commented on #2662
it was an occasional error it seems

[2022-03-18 06:44] antariksh17 commented on #2653
I triaged this to src/sections/Blog/Blog-sidebar/index.js
Working on fixing this issue right now.

what exactly do you need it to do. show 10 posts and if more then give the option of "older posts"?

[2022-03-18 09:33] sayan011 commented on #2653
It's great to see that you're putting so much effort on solving  the issue, but sorry to bother you, I've been assigned to this issue and I am still working on it 😅.

[2022-03-18 11:57] warunicorn19 commented on #2662
MacOS 13.2???

[2022-03-19 12:03] Akshit42-hue commented on #2657
Does this looks good to you @asubedy
And can you please add **openforce** Label

[2022-03-19 12:34] Nikhil-Ladha commented on #2606
Where are you stuck?

[2022-03-19 13:28] indraantoor opened #2670 "Bug: no space between subscribe button and textbox on blog page."
**Description**
There is no space between **subscribe** button and the **textbox** on the **blog** page in the sidebar.

**Expected Behavior**
There should be some space between the subscribe button and the textbox it will be good.

**Screenshots**
![newsletter issue](https://user-images.githubusercontent.com/64259328/159122853-5405c036-ec52-44e3-a911-6bb13a63fbd9.png)

**Environment:**
- Host OS:

[2022-03-19 13:28] indraantoor commented on #2670
I would love to contribute and work on this issue under Codeflow Openforce 2022.

[2022-03-19 13:41] leecalcote commented on #2670
Sounds good, @indraantoor. ~a 2px spacing out to do the trick.

[2022-03-19 13:57] Ash-KODES commented on #2606
Actually i am not able to locate the required code since i am new the codebase

[2022-03-19 18:43] a-muk commented on #2606
No problem @Ash-KODES . @Nikhil-Ladha I kinda figured out the problem, even changed the code but am facing problems while setting up the project - as in while seeing the output. I also wrote about the problem on the slack channel where I got help from many people. Give me sometime to try all those out. Is that fine?

[2022-03-19 18:53] Nikhil-Ladha commented on #2606
Sure, just don't take too long :)

[2022-03-20 03:19] nik132-eng commented on #2644
If this issue is still open and for beginners please assign it to me, sir.

[2022-03-20 03:48] leecalcote commented on #2644
@Akshit42-hue @nik132-eng yes, you're both most welcome to give it a try. I'll leave it unassigned until such point as you're able to demonstrate a potential solution.

[2022-03-20 08:52] manekasingh05 commented on #2670
I would like to work on this issue under Codeflow Openfource  2022

[2022-03-20 20:00] debo19 commented on #2657
@Akshit42-hue Let's discuss this in the websites call tomorrow

[2022-03-20 20:03] debo19 commented on #2652
@Chadha93 @subhradwip01 we have pagination on the blog page right, "Older Posts" and "Newer Post".

[2022-03-20 20:09] debo19 commented on #2647
@shefali12-ab How are you getting along with this issue? Any updates?

[2022-03-20 21:46] subhradwip01 commented on #2652
I also have some doubt...let discuss it on next website call

[2022-03-21 13:26] debo19 opened #2671 "[Learning Paths Quiz] Previously selected option not stored"
**Description**

https://user-images.githubusercontent.com/85789734/159268714-4be2427b-1b70-4acf-b34e-5c103387077a.mov

As you can see, I answered the same question "Question 1" thrice. With every new answer for the same question, the number of Attempted questions increments. On visiting the same question once again, the previously selected option is not stored or visible.

**Expected Behavior**

[2022-03-21 13:39] debo19 opened #2672 "[Learning Paths Quiz] Allow users to review answers"
**Description**

https://user-images.githubusercontent.com/85789734/159272756-0d4a1d92-0938-4fc0-ac95-c5b350843faf.mov

We immediately move to the next question on clicking on any option. The quiz auto-submits on answering the last question.

**Expected Behavior**

Allow the user to review their answers before submitting.

- On answering one question, the selected option should remain highlighted

[2022-03-21 13:48] debo19 opened #2673 "[Blog] Make space between sidebar components uniform"
**Description**
<img width="573" alt="Screenshot 2022-03-21 at 7 11 43 PM" src="https://user-images.githubusercontent.com/85789734/159274029-9c912368-db2c-426d-ac9c-178e674a716a.png">

**Expected Behavior**
Make the space between the Discuss call-out and "Categories" same as that between "Categories" and "Tags".

**Environment:**
- Host OS:
- Browser:

---

[Optional] **Additional Context**

---
*

[2022-03-21 13:52] Akshit42-hue commented on #2673
Can I work on this issue @debo19

[2022-03-21 14:02] debo19 commented on #2673
Sure @Akshit42-hue Go ahead.

[2022-03-21 14:11] Lezette commented on #2672
Can I work on this issue @debo19

[2022-03-21 14:20] debo19 commented on #2672
Yup go ahead @Lezette

[2022-03-21 14:48] a-muk commented on #2606
@Nikhil-Ladha I made the changes. Do have a look at it!

[2022-03-21 15:13] kayceeDev commented on #2606
Provide a link to to your PR. Well done! :clap: @a-muk

[2022-03-21 15:14] a-muk commented on #2606
https://github.com/layer5io/layer5/pull/2674

[2022-03-21 15:49] dbrown3562 commented on #2671
Hey! I'm new here and would love to take a crack at this issue! Is there anything special that needs to be done so I could get started on this?

[2022-03-21 20:23] Krishnapro opened #2676 "[UI] Service Mesh pattern project name out of card"
**Current Behavior**

- **service mesh pattern** project name is out of the card on screen size 780 x 1080.

![Screenshot from 2022-03-22 01-37-32 (copy)](https://user-images.githubusercontent.com/59277887/159356058-28b61f53-99b6-4ce7-bbef-58526fcb261c.png)

**Desired Behavior**

-  project name should be in under the card.

---

 **Environment:**
- Host: Ubuntu 20.04.02 LTS
- Browser: Chrome

---

[2022-03-21 21:34] leecalcote commented on #2676
yikes! This happens during resizing of the grid layout. Good eye, @Krishnapro ✔️

[2022-03-22 06:06] #2657 closed

[2022-03-22 07:00] Akshit42-hue commented on #2673
@debo19 Please do have a look

[2022-03-22 12:47] Lezette commented on #2672
Hello @debo19 I have an issue locating the quiz, I'm currently on the URL in your screen record but this is what I can see
<img width="1254" alt="image" src="https://user-images.githubusercontent.com/42512400/159485104-aaea476d-1823-4a05-a725-afac6c9b01b3.png">
can you please explain how to find the quiz?

[2022-03-22 15:50] subhradwip01 commented on #2652
@Chadha93 I have some doubt..do I need to add page number in the pagination..or what type of feature should be there in it?

[2022-03-22 18:13] debo19 commented on #2672
@Lezette The code is commented here https://github.com/layer5io/layer5/blob/master/src/components/Learn-Components/Pagination/index.js#L55. You'll have to change it here to see it. Do comment it back when you commit your changes.

[2022-03-22 20:06] Krishnapro commented on #2676
Thank you @leecalcote

[2022-03-23 05:28] Akshit42-hue commented on #2673
Please do have a look @debo19

[2022-03-23 07:49] Akshit42-hue opened #2679 "[UI] See more is out of card"
**Description**

In the "Service Mesh Specifications and Why They Matter" card the **see more** is out of card on screen size 990 x 1080

**Expected Behavior**

The **see more**  should be in under the card.

**Screenshots**

![Screenshot from 2022-03-23 13-12-35](https://user-images.githubusercontent.com/59443454/159649650-fa9914c2-5cbb-480e-8bdc-947ad503f58c.png)

**Environment:**
- Host OS: Lin

[2022-03-23 07:49] #2673 closed

[2022-03-23 07:53] Akshit42-hue commented on #2679
Can I work on this issue @asubedy @Nikhil-Ladha

[2022-03-23 07:57] Nikhil-Ladha commented on #2679
Go ahead @Akshit42-hue

[2022-03-23 07:58] #2606 closed

[2022-03-23 12:58] Lezette commented on #2672
Thank you

[2022-03-24 09:57] Krishnapro commented on #2676
please assign me this issue I want to work on it.

[2022-03-24 12:07] #2284 closed

[2022-03-24 18:26] Abhijay007 commented on #2676
sure @Krishnapro go ahead :)

[2022-03-25 15:05] #2652 closed

[2022-03-25 15:25] subhradwip01 commented on #2671
Is anyone already working on that issue?..if not I can give a try

[2022-03-26 07:42] kayceeDev commented on #2676
@Krishnapro what's the update with this issue? Have you been able to open a PR with a fix? do you need help working on it?

[2022-03-26 07:57] kayceeDev commented on #2671
@debo19, seems like this page has changed. When I visited the route, I couldn't find any questions. I saw this instead

![Screenshot from 2022-03-26 08-54-40](https://user-images.githubusercontent.com/42142223/160230432-898b898d-ede1-407c-8ddc-814c24367075.png)

[2022-03-26 09:45] indraantoor opened #2683 "[UI] Feature cards not fully responsive"
**Description**
In the following page https://layer5.io/service-mesh-management/meshery, the feature cards are not fully responsive. I looked at the code I think the CSS with responsiveness and the readability of the code can be improved.

**Expected Behavior**
Content inside the cards are responsive and don't collide with other elements.

**Screenshots**

![Responsive Bug](https://user-images.git

[2022-03-26 09:45] indraantoor commented on #2683
I would love to contribute and work on this issue under **Codeflow Openforce 2022**.

[2022-03-26 09:46] indraantoor commented on #2670
Kindly close this issue, this issue has been solved with some other PR.

[2022-03-26 10:07] indraantoor commented on #2647
This issue has been open for a long time without any update. If so, I would like to work on this issue too.

I am thinking about, what if we just add a **hr** like line above the Google's textbox below the Organization/School/Company textbox and then *hr** like line below Linkedin's textbox that way it would be a visual indicator of a Grouped Section and also above the Google's Textbox we can add

[2022-03-26 13:36] kayceeDev commented on #623
I am working on this now. I Have gotten the search to work. I will fix up a few things create a PR

[2022-03-27 06:43] warunicorn19 commented on #2683
Go ahead @indraantoor

[2022-03-27 17:27] Krishnapro commented on #2676
@kayceeDev yes I am working. If need any help I will ask.

[2022-03-27 17:31] kayceeDev commented on #2676
Alright. Well done @Krishnapro

[2022-03-28 06:47] debo19 commented on #2671
@kayceeDev fyi- https://github.com/layer5io/layer5/issues/2672#issuecomment-1075467041

[2022-03-29 14:39] Lezette commented on #2671
@debo19 can I work on this issue?

[2022-03-30 11:13] debo19 commented on #2671
@subhradwip01 are you working on this?

[2022-03-30 11:17] subhradwip01 commented on #2671
I would like to give a try if you assign me

[2022-03-30 11:25] debo19 commented on #2671
@Lezette let @subhradwip01 give it a shot since he reached out earlier. You can take a look at any other [help wanted](https://github.com/layer5io/layer5/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) issues :)

[2022-03-31 16:59] #2679 closed

[2022-03-31 18:36] Chadha93 opened #2688 "[Community] Member Profile: Uzair Shaikh"
**Current Behavior**

@MUzairS15  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @MUzairS15  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @MUzairS15
- Twitter:
- LinkedIn:
- Link to profile picture:

A detailed explanation of how to set up a community member profile can be found in the

[2022-03-31 18:37] Chadha93 commented on #2688
@MUzairS15 Please do provide the links for the bullets in the issue.

[2022-03-31 19:11] warunicorn19 opened #2689 "[Extension] Adding required field to meshmap form"
**Current Behavior**
Currently, the `Accounts to connect` portion of the Meshmap sign-up form doesn't have a required field. To be able to give a user permission to access meshmap, it is necessary to fill in one of these fields.

**Desired Situation**
Add a validation where at least one of these fields is necessary to fill in.
![Screenshot 2022-04-01 at 12 36 50 AM](https://user-images.githubuserc

[2022-03-31 22:48] #2634 closed

[2022-04-01 06:19] MUzairS15 commented on #2688
Twitter: https://twitter.com/MUzairS15
LinkedIn:  https://www.linkedin.com/in/muzairs/
Profile Picture: https://photos.google.com/share/AF1QipOI-DdZ6kz58lPAhEN5fiCNe0Yckj0804-IhG9QEJkb9aK7ywmZwq5Zx4xllimaRQ?key=ei1XR2htcDlhb2ZMMWdEeG9fLXVmSGtPb2h6UWNR

[2022-04-01 13:33] SAEb-ai commented on #2689
@warunicorn19 @leecalcote May I please be assigned to this? Thanks!!

[2022-04-01 13:40] warunicorn19 commented on #2689
Sure thing @SAEb-ai

[2022-04-01 19:45] leecalcote opened #2690 "[About] Swap "Community First" image on About page"
**Current Behavior**
The About page (https://layer5.io/company/about) has an image next to "Community First" section with this image:

**Desired Behavior**
Swap the existing image next to "Community First" section with this image: https://pbs.twimg.com/media/FO4vSXcWQAUc1Uj?format=jpg

Reference tweet: https://twitter.com/oluwabamikemi/status/1508194928442159112

---
**Contributor Resources**

The

[2022-04-02 00:44] Michellebuchiokonicha commented on #2690
I would love to take this up

[2022-04-02 02:36] vish-han commented on #2690
I would love to work on the issue if I get assigned 😄

[2022-04-02 02:49] leecalcote commented on #2690
Thanks much for volunteering, @Michellebuchiokonicha and @vish-han.

[2022-04-02 06:06] vish-han commented on #2688
Is this issue assigned to someone,  if not I would love to work.

[2022-04-02 06:20] Chadha93 commented on #2688
Nope, go ahead @vish-han

[2022-04-02 21:06] #2683 closed

[2022-04-04 20:03] debo19 opened #2701 "Submit button not visible on Contact form"
**Current Behavior**

https://user-images.githubusercontent.com/85789734/161622472-409b5fd9-c349-4231-bc48-7e6e17acf7ff.mov

**Desired Situation**
The submit button must be visible on opening the form.

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [cont

[2022-04-04 20:30] MukulKolpe commented on #2701
Hey @debo19 can I work on this issue?

[2022-04-04 20:46] leecalcote commented on #2701
@MukulKolpe, yes, as you do, it should be noted that the goal is to move away from the MailChimp-based form and move to a native form like the one you find on https://layer5.io/newcomers. The Contact form fits into a single page, and so, there is no need for the multi-page aspect of the Newcomers form.

[2022-04-05 12:50] #2672 closed, assigned to lezette

[2022-04-05 13:11] DurveshKumarPal commented on #2701
@debo19 can I work on this issue.

[2022-04-06 03:42] leecalcote opened #2702 "[Docker Extension] Add Learning call-to-action"
**Current Behavior**
This page, https://layer5.io/docker-extension-meshery, is without a call to action between the main body and footer.

**Desired Behavior**
Add the "Learn service mesh with interactive labs" call to action to this page. Find an example of that CTA here - https://layer5.io/learn/service-mesh-books/service-mesh-patterns

---
**Contributor Resources**

The layer5.io website uses G

[2022-04-06 08:23] prashantpaidi commented on #2702
Can I work on this?

[2022-04-06 12:23] leecalcote commented on #2702
Sounds real good, @prashantpaidi, yes. As we go to assign this to you, will you quickly confirm that your able to build and run the site? Let’s make sure that you are set up for success.

[2022-04-08 10:53] prashantpaidi commented on #2702
@leecalcote Yes I am able to run the site.

[2022-04-09 18:54] #2702 closed

[2022-04-10 13:42] leecalcote opened #2706 "[Meshery] Add Docker Extension to feature carousel"
**Current Behavior**
A new Docker Extension for Meshery is being released. See details: https://layer5.io/docker-extension-meshery.

The feature carousel on https://layer5.io/service-mesh-management/meshery does not include a section for this extension, but should.

**Implementation**
Add screenshot, description, and link to extension page in the feature carousel.

---
**Screenshots / Mockups**

<

[2022-04-10 13:43] leecalcote commented on #2689
@SAEb-ai will you present progress on this in tomorrow's Websites meeting?

[2022-04-10 14:22] ShivamTyagi12345 commented on #2706
I would like to work on this:)

[2022-04-10 14:28] Chadha93 commented on #2706
@ShivamTyagi12345 Are you able to set up the site locally? If yes let's assign you :)

[2022-04-10 14:30] ShivamTyagi12345 commented on #2706
yes it's set up

[2022-04-10 16:22] Michellebuchiokonicha commented on #2690
I created a PR for this issue.

[2022-04-11 10:30] leecalcote commented on #2689
@SAEb-ai will you be at today's meeting? If not, do you have progress to report otherwise?

[2022-04-11 10:30] leecalcote commented on #2670
Thank you for raising up this issue, @indraantoor

[2022-04-11 10:34] SAEb-ai commented on #2689
@leecalcote Sorry, I was a bit afk. Can you please help me with [this](https://layer5io.slack.com/archives/C015QJKUMPU/p1649663310965129) ? I have having some issues while installation.

[2022-04-13 19:46] leecalcote commented on #2688
@vish-han need help?

[2022-04-13 19:49] vish-han commented on #2688
I was having my college exams Lee, that's why I couldn't able to contribute. Now it's over , I will start from tomorrow

[2022-04-13 20:03] leecalcote commented on #2688
@vish-han, thanks. If you're unable to PR by end of day on Thursday, @Chadha93, will you knock this out instead? Let's not leave @MUzairS15 hanging.

[2022-04-13 20:05] vish-han commented on #2688
Ok Lee , I will try to make PR asap

[2022-04-13 22:08] leecalcote commented on #2702
Thank you, @prashantpaidi 👏

[2022-04-13 22:12] leecalcote opened #2710 "[UX] Visual Design: Create call-to-action for MeshMap sign-up"
#### _Note: This issue can be broken into two issues, if needed._

**Current Behavior**
[MeshMap](https://layer5.io/meshmap) is a forthcoming extension to Meshery.

**Desired Behavior**
A new call to action (find an example of what a CTA is on this page - https://layer5.io/learn/service-mesh-books/service-mesh-patterns)

**Implementation**
1. Visual design of the call to action using elements from

[2022-04-14 05:23] Abhijay007 commented on #2710
@leecalcote I want to work on this issue :)

[2022-04-14 05:55] leecalcote commented on #2710
Alrighty. Sounds real good.

[2022-04-14 15:08] Chadha93 opened #2711 "[UI] Service Mesh Landscape update for Cilium and Octarine"
**Current Behavior**

- [ ] Add a block for Cilium Service Mesh similar to this

![image](https://user-images.githubusercontent.com/65453826/163414454-82d0bcf4-7a0e-4c35-acfc-aafb386721c4.png)

- [ ] Strikethrough the Octarine from the landscape

**Desired Behavior**

---
**Screenshots / Mockups**

**Alternatives**

---

<img src="/.github/assets/images/layer5/5-light-small.svg" width="16px" align

[2022-04-14 15:20] #2711 closed

[2022-04-14 20:52] leecalcote opened #2713 "[Community] Member Profile: Jared Byers"
**Current Behavior**

@jbyers19 has been a consistent contributor and community member.

**Desired Situation**
Let's recognize <@github-username> as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @jbyers19
- Twitter: N/A
- LinkedIn:  jaredbyers25
- Link to profile picture:

A detailed explanation on how to set up a community member profi

[2022-04-14 21:01] jbyers commented on #2713
@jbyers on Github is not Jared Byers who is related to your project.

[2022-04-14 22:12] iambami commented on #2713
Hi @jbyers, sorry about that. There is was little mix up.
The usernames look like. Apologies

[2022-04-14 22:16] leecalcote commented on #2713
Oops! Thank you, @jbyers

[2022-04-15 04:17] Akshit42-hue commented on #2713
Hey @leecalcote, can I work on this issue

[2022-04-15 04:51] leecalcote commented on #2713
Yes, thank you, @Akshit42-hue

[2022-04-15 04:56] leecalcote opened #2714 "[UX] Visual Design: call to action for Docker Extension"
#### _Note: This issue can be broken into two issues, if needed._

**Current Behavior**
[Docker Extension for Meshery](https://layer5.io/docker-extension-meshery) is a forthcoming extension to Meshery.

**Desired Behavior**
A new call to action (find an example of what a CTA is on this page - https://layer5.io/learn/service-mesh-books/service-mesh-patterns)

**Implementation**
1. Visual design of

[2022-04-15 04:59] Akshit42-hue commented on #2713
Hey @jbyers19, can you please share your profile picture and the bio

[2022-04-15 07:07] Chadha93 commented on #2688
@vish-han I'm wrapping up on this one, please jump on other issues if you would. Thank you.

[2022-04-15 15:56] jbyers19 commented on #2713
@Akshit42-hue, will this work?
- **Pic:** https://media-exp1.licdn.com/dms/image/C5603AQECpyFw62R4ow/profile-displayphoto-shrink_400_400/0/1578013835749?e=1655337600&v=beta&t=Fj8t-VNjaT71XkWixUa40ikOpu2I780QOesYU7rrx4s
- **Bio:** "Software Engineer at NGINX developing cloud native solutions."

I never know what to put for a bio, so let me know if that isn't what you're looking for. 😄

[2022-04-15 16:05] Akshit42-hue commented on #2713
In the pic you looks dope 🔥
and in the bio you can  share which technologies you know and your past experience you can take references from here

[2022-04-15 16:40] leecalcote opened #2716 "[Landscape] Add Tencent Cloud Mesh"
**Current State:**
Tencent Cloud Mesh is an Istio-based offering - https://cloud.tencent.com/product/tsf-mesh

**Desired State:**
This offering can be represented in the service mesh landscape.

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mesh-landscape)
The layer5.io website uses Gats

[2022-04-15 16:50] jbyers19 commented on #2713
Thanks, @Akshit42-hue! How's this?

[2022-04-15 16:54] Akshit42-hue commented on #2713
This looks good to me

[2022-04-15 17:52] #2688 closed

[2022-04-15 17:59] #2713 closed

[2022-04-15 18:46] Xunzhuo commented on #2716
Hi @leecalcote, thanks for taking this. But actually the correct link of tencent cloud mesh should be https://cloud.tencent.com/product/tcm.
There is a setup guide for tcm in istio.io: https://istio.io/latest/docs/setup/platform-setup/tencent-cloud-mesh/.

[2022-04-15 19:06] leecalcote commented on #2716
Oh, got it. 🙂 Would you like to take this issue, @Xunzhuo? As a representative if the product, it would be good if you make this update (being the most knowledgeable of it).

[2022-04-16 03:51] Xunzhuo commented on #2716
Sure I am happy to take this issue.

[2022-04-16 07:05] subhradwip01 commented on #2716
Go ahead @Xunzhuo 😀

[2022-04-17 07:36] #2716 closed

[2022-04-17 14:15] #2633 closed

[2022-04-18 09:02] #2690 closed

[2022-04-18 11:15] debo19 commented on #2701
@MukulKolpe any updates on this?

[2022-04-18 11:33] MukulKolpe commented on #2701
Hey, @debo19...sorry I was not around for a few days...had urgent offline exams after the longest of times...Tried to work around this issue in between whenever I had time, but it took more time than I anticipated. Right now it is almost done...will make a PR real soon(max 1 more day)...sorry for taking so much time.

[2022-04-19 12:40] Akshit42-hue opened #2723 "Replacing radio button to dropdown list in service-mesh-management/meshmap form"
**Current Behavior**

In the form "What role best identifies you?" in this section
there is a radio button that occupies a lot of space
![Screenshot from 2022-04-19 18-10-08](https://user-images.githubusercontent.com/59443454/164006174-31629845-369f-46e3-b16e-7857ae4b9a2a.png)

**Desired Behavior**
The radio-button should be replace by drop-down button

**Contributor Resources**

The layer5.io web

[2022-04-19 12:44] Akshit42-hue commented on #2723
Can I work on this issue @debo19 @warunicorn19

[2022-04-19 13:26] debo19 commented on #2723
Sure @Akshit42-hue Go ahead.

[2022-04-19 14:24] #2714 closed

[2022-04-20 18:12] #2706 closed

[2022-04-21 17:34] iambami opened #2727 "[Community] Member Profile: Ruturaj Mohite"
**Current Behavior**

@gr455 has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @gr455 as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: gr455
- Twitter:
- LinkedIn: Ruturaj Mohite https://linkedin.com/in/ruturaj-mohite/
- Link to profile picture:

A detailed explanation on how to set up a comm

[2022-04-22 17:59] karnatisrinivas commented on #2727
Hello @iambami , Can I work on this??/

[2022-04-22 21:10] iambami commented on #2727
Of course @karnatisrinivas please go ahead.

[2022-04-22 21:31] karnatisrinivas commented on #2727
Hey @gr455 , Thank you for your awesome work.

For adding you into wall of members, Would you please share your profile picture link and a bit about yourself (Bio).

[2022-04-23 07:56] gr455 commented on #2727
Profile picture: https://avatars.githubusercontent.com/u/53974118
Bio: "I am a student from India. Recently acquired interest in cloud native tech have been loving it since. I have been an open source contributor and maintainer for a couple years now. I listen to hip-hop, play basketball and eat biscuits whenever I can"

Is this good?

[2022-04-24 10:56] Sam-Radnus commented on #2727
Can i work on this @iambami ??

[2022-04-25 06:24] #2727 closed

[2022-04-26 17:48] leecalcote opened #2730 "[Event] Two DockerCon talks"
Please add the following event to layer5.io/events.

**Event:**
- Event Title:
- Event Link:
- Talk Description:
- Talk Link:
- Deck:
- Video:

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/laye

[2022-04-27 15:33] Chadha93 opened #2732 "[News] Add latest mention of Meshery in news to site"
We're in the news! Using the contributing instructions for [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news), please add the following article to the [Layer5 Newsroom](https://layer5.io/news).

**Article:**
- Title: Meshery gets mentioned as Google Petitions to Donate Istio Service Mesh to CNCF
- Link: https://containerjournal.com/features/google-petitions-t

[2022-04-27 15:39] Sam-Radnus commented on #2732
@Chadha93 can i work on this ??

[2022-04-27 16:23] Sam-Radnus commented on #2732
I am having troubles with signed commits ,i am new to this ,help me

[2022-04-27 19:10] leecalcote opened #2734 "[About] Open Source Africa Community: Add caption to "Community First" picture"
**Desired Behavior**
Add caption to Layer5 Community Members picture on https://layer5.io/company/about page.

"_Layer5 community members at Open Source Africa Community conference, March 2022._"

**Screenshots / Mockups**
<img width="1184" alt="Screen Shot 2022-04-27 at 2 05 47 PM" src="https://user-images.githubusercontent.com/7570704/165601591-1b8420bb-1ae1-4f64-b41a-c7a2f4660012.png">

---

<i

[2022-04-27 19:23] kingebere commented on #2734
Hello Leecalote , I would love to work on this issue

[2022-04-27 19:34] St80ene commented on #2734
Can I assign myself to this issue? @leecalcote

[2022-04-27 21:03] claire-me commented on #2734
Hey @leecalcote, can i handle this issue?

[2022-04-28 03:10] Nikhil-Ladha commented on #2734
Hi, @kingebere, @claire-me , I assigned this issue to @St80ene as he signalled for the same on slack earlier.
Feel free to move around the community and look out for more such issues.

[2022-04-28 15:52] #2730 closed

[2022-04-28 16:30] YashKamboj commented on #2647
@debo19 Isn't this issue solved??

[2022-04-28 16:55] leecalcote opened #2737 "[Blog] Contributing to Meshery with End-to-End Automation Testing using Cypress"
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member:

**Desired Title:** Contributing to Meshery with End-to-End Automation Testing using Cypress
**Topic:** cypress, test automation, meshery
**Core points to convey in the post:**

Reference: https://layer5io.slack.com

[2022-04-28 16:55] leecalcote commented on #2737
@MarioArriaga92 for your consideration...

[2022-04-28 17:14] Olaleye-Blessing opened #2738 "Having focus state on links for keyboard users"
**Current Behavior**
It is very difficult for keyboard users to know when a link is focused. Most of the links have no way to know when it's focused.

**Desired Behavior**
There should be a different state for focused links/inputs/buttons.

---
**Screenshots / Mockups**
Current

![Screenshot (428)_LI](https://user-images.githubusercontent.com/70102539/165808076-044ea21e-3f00-49a6-b1a2-b74259165e2b

[2022-04-28 17:33] leecalcote commented on #2738
Good suggestion, @Olaleye-Blessing. While we will avoid use of the bordered outline, I wonder how a bold font weight would look...

[2022-04-28 17:36] Olaleye-Blessing opened #2739 "Navbar accessibility for keyboard users"
**Current Behavior**
Keyboard users can't access the dropdown menu on the navbar. They can only be accessed when they are hover.

**Desired Behavior**
They should have have access to those drop down menus.

---
**Screenshots / Mockups**

The dropdown menu is only available to mouse users.

![Screenshot (430)_LI](https://user-images.githubusercontent.com/70102539/165812936-8b44f8ed-fc69-4141-8d8c-1

[2022-04-28 18:10] MarioArriaga92 commented on #2737
auto-assigned!

[2022-04-28 19:58] leecalcote commented on #2739
Confirmed. This is an accessibility issue. Do you have a proposed solution, @Olaleye-Blessing? `tabindex`?

[2022-04-28 21:52] Olaleye-Blessing opened #2740 "Wrong nested interactive element."
**Current Behavior**
Buttons(`<button></button>`) are descendants of Links(`<a></a>`).

**Desired Behavior**
There shouldn't be nested interactive elements. Having them is a bad practice according to:

- [this Reddit post](https://www.reddit.com/r/webdev/comments/ce4w59/is_it_bad_practice_to_wrap_a_button_in_an_a_href/)
- [stackoverflow](https://stackoverflow.com/questions/6393827/can-i-nest-a-but

[2022-04-28 22:22] leecalcote opened #2741 "[Homepage] Displace Image Hub with Nighthawk"
**Current Behavior**
Nighthawk is a project in need of representation on the homepage.

**Desired Behavior**
The card for Image Hub can be replaced with one for Nighthawk.

**Screenshots / Mockups**
<img width="1296" alt="Screen Shot 2022-04-28 at 5 20 51 PM" src="https://user-images.githubusercontent.com/7570704/165857344-150132d5-eb1d-483c-aa6c-95d85db40c52.png">

---

<img src="https://raw.gith

[2022-04-28 22:26] Olaleye-Blessing commented on #2740
Just checked now and realized there's a `Gatsby Link Component`.
The `as` property for links could be `Link` instead of `"a"` 🤷

[2022-04-28 22:39] Olaleye-Blessing commented on #2738
Yea, I will.
Using font-weight will only affect links/buttons with text, it won't affect the ones with just images.

An example:

![Screenshot (438)_LI](https://user-images.githubusercontent.com/70102539/165859116-6b7ff7d5-51f1-4351-96d4-a7658e5c75cf.jpg)

What do you think?

[2022-04-29 01:00] leecalcote commented on #2738
I think that we don't need state tracking on images in general. Right or wrong, I favor aesthetics over strict accessibility.

In this case specifically, users are directed to a different page onClick, landing on the specific section respective to the partner button clicked (using in-page anchor). My perspective is that this is all that the user needs to retain context of where they are (what imag

[2022-04-29 01:20] Olaleye-Blessing commented on #2739
I'm not really sure if this is going to work since the hover state is achieved through Javascript.

Checking [ScrollspyMenu](https://github.com/layer5io/layer5/blob/master/src/sections/General/Navigation/utility/ScrollspyMenu.js) that displays the content, I think we can call [wrapDisplay](https://github.com/layer5io/layer5/blob/cfbf831f9ab45c95764adc4512d7e3cdbbbf7c65/src/sections/General/Navigat

[2022-04-29 07:00] leecalcote opened #2743 "[MeshMap] Formik: Change radio button group to dropdown menu"
**Current Behavior**
Regarding the form on [this page](https://layer5.io/service-mesh-management/meshmap), convert this radio button group to a select list.

<img width="605" alt="Screen Shot 2022-04-29 at 1 57 54 AM" src="https://user-images.githubusercontent.com/7570704/165898345-5d7f698d-9ab2-4db5-b2ef-291e4be02aed.png">

**Desired Situation**
A dropdown selection is ideal and will save space.

[2022-04-29 07:44] leecalcote commented on #2743
@Akshit42-hue, I think you're working on this already. Move quickly. Time is of the essence.

[2022-04-29 08:03] Akshit42-hue commented on #2743
I have raise PR already can you please review it @leecalcote

[2022-04-29 08:36] leecalcote commented on #2743
Hurry. ;)

[2022-04-29 11:16] debo19 commented on #2647
@YashKamboj Right, it is.

[2022-04-29 11:17] #2647 closed

[2022-04-30 09:04] #2498 closed

[2022-05-01 14:04] #2455 closed

[2022-05-01 14:12] leecalcote commented on #2741
Sounds good

[2022-05-01 15:52] subhradwip01 opened #2746 "[Resources] Do not display filter categories that have no post"
**Current Behavior**

Currently, in the resource filter section, all the categories are listed down. But some of the categories that do not have any posts are also listed down, which is not required.
**Desired Behavior**

Make the category list dynamic such that if a particular category has at least one post then only show it.
---
**Screenshots / Mockups**

https://user-images.githubusercontent.co

[2022-05-01 18:31] #2746 closed

[2022-05-02 13:57] leecalcote opened #2754 "[Docker Extension] Enhance bulleted list with images"
**Current Behavior**
[The Docker Extension for Meshery page](https://layer5.io/docker-extension-meshery) has a list of three features.

**Desired Behavior**
1. Ideally, each bullet point has a representative image next to it. See mockup.
1. Add a bit of whitespace between each of the three descriptions.

Images:
- visual-topology.svg (available in repo). See `src/sections/Meshery/How-meshery-works

[2022-05-02 17:05] leecalcote commented on #2653
@subhradwip01 something that you would like to take on?

[2022-05-02 17:05] leecalcote commented on #2653
Or is this fixed?

[2022-05-02 17:24] antariksh17 commented on #2653
This is fixed right?

Warm Regards,

Siddharth (Antariksh) <https://www.liinks.co/antariksh>,
New Delhi, India
IST | GMT+ 0530
<https://www.worldtimebuddy.com/?pl=1&lid=30,100,8,5&h=30&hf=1>

On Mon, May 2, 2022 at 10:35 PM Lee Calcote ***@***.***>
wrote:

[2022-05-02 17:44] subhradwip01 commented on #2653
I guess this is issue is fixed

[2022-05-02 17:50] subhradwip01 commented on #2653
But I saw a problem it is showing 6 blogs when it is filtered using category...but when it is filtered by tags it is showing only 4 blogs.... @leecalcote @Abhijay007 i guess it is need to be fixed...I would like to work on that

[2022-05-02 21:46] Chadha93 commented on #2653
good eye @subhradwip01 you can make a pr for this issue for the tags filtering.

[2022-05-03 05:44] SooditK commented on #2754
Can I take up the issue?

[2022-05-03 06:44] Michellebuchiokonicha commented on #2754
I am interested in this as well.

[2022-05-03 07:38] subhradwip01 commented on #2754
Go ahead @SooditK ... @Michellebuchiokonicha you can look other issues also...😃😃

[2022-05-03 14:53] iambami opened #2756 "[Community] Member Profile: Inactive Memeber"
**Current Behavior**
@shubham-tyagi has been inactive for a while, hence his Layer5 membership profile will be flagged inactive. We are looking forward to having him back.

**Desired Situation**
Let's flag @shubham-tyagi as a community member by flagging his profile on https://layer5.io/community/members as an inactive member.

A detailed explanation on how to set up a community member profile can

[2022-05-03 14:56] iambami opened #2757 "[Community] Member Profile: Inactive Member (Shreyas Mishra)"
**Current Behavior**
@Shreyas220  has been inactive for a while, hence his Layer5 membership profile will be flagged inactive. We are looking forward to having him back.

**Desired Situation**
Let's flag @Shreyas220  as a community member by flagging his profile on https://layer5.io/community/members as an inactive member.

A detailed explanation on how to set up a community member profile can be

[2022-05-03 17:37] SooditK commented on #2754
Hii, This is what I've accomplished, Just wanted to know what should I do with the Mobile Version? Is there any specific requirements for it
![Firefox_Screenshot_2022-05-03T17-31-23 746Z](https://user-images.githubusercontent.com/50576944/166508072-e5ac34e6-67e6-49b7-9184-a3b86ddfbb9a.png)

[2022-05-03 23:01] leecalcote opened #2759 "[Event] Update ServiceMeshCon EU 2022 talk description to include participating organization logos"
**Current Behavior**
Speakers from multiple organizations are presenting MeshMark at ServiceMeshCon EU 22. Their respective organizations are not visually represented on event description.

**Desired Behavior**
Please update the event https://layer5.io/community/events/servicemeshcon-eu-2022 to include a "Participating Organizations" section with a small Intel logo and small Layer5 logo.

**Screen

[2022-05-04 05:40] karnatisrinivas commented on #2759
Hello @leecalcote , Can I work on this?

[2022-05-04 05:41] karnatisrinivas commented on #2757
Hello @iambami , Can I work on this?

[2022-05-04 05:42] karnatisrinivas commented on #2756
Hello @iambami , Can I work on this?

[2022-05-04 05:44] Abhijay007 commented on #2756
sure @karnatisrinivas go ahead :)

[2022-05-04 05:49] #2723 closed

[2022-05-04 06:14] karnatisrinivas commented on #2757
<img width="1166" alt="Screenshot 2022-05-04 at 11 43 51 AM" src="https://user-images.githubusercontent.com/52213014/166630932-43cfe980-cc98-4c4b-afad-5599427dd040.png">

[2022-05-04 06:15] karnatisrinivas commented on #2757
Hello @Chadha93 , Shreyas profile is already marked as Inactive.

[2022-05-04 07:19] #623 closed

[2022-05-04 07:40] gunwant11 commented on #2759
hello, new contributor here, if the issue is unassigned can i work on it?

[2022-05-04 08:04] leecalcote commented on #2759
@karnatisrinivas given you recent assignment to two other issues, let's allow @gunwant11 to take a stab at this one, if you don't mind.

[2022-05-04 08:04] #2756 closed

[2022-05-04 08:32] karnatisrinivas commented on #2759
Yeah sure @leecalcote , no issues.

I am more than happy to see new contributors @gunwant11

[2022-05-04 13:51] Chadha93 commented on #2757
Thanks for checking @karnatisrinivas. Closing this issue.

[2022-05-04 13:51] #2757 closed

[2022-05-04 17:46] Harshit-Dandriyal opened #2761 "[UI]Some Cards in dashboard are being shown partially"
**Description**
Some Cards in dashboard are being shown partially in the main Dashboard

Here---

![Screenshot from 2022-05-04 23-09-14](https://user-images.githubusercontent.com/56961488/166747898-2853f230-ec20-47cf-9114-826d736715de.png)

![Screenshot from 2022-05-04 23-13-56](https://user-images.githubusercontent.com/56961488/166747949-ea8dc2b4-25dd-4cbe-9085-0984bd14eb05.png)

**Expected Behav

[2022-05-04 17:54] leecalcote commented on #2761
This is by design. Not an issue.

[2022-05-04 17:54] #2761 closed

[2022-05-04 18:21] subhradwip01 commented on #2653
@Chadha93 in a recent pr, we can see 10 blog post if we filterd the blogs...should I make it to 6?

[2022-05-04 20:24] leecalcote opened #2762 "Add play.meshery.io repo to Repository Overview"
**Current Behavior**
The repo at github.com/meshery/play is new and is not yet listed in the [Community Handbook's repository overview.](https://layer5.io/community/handbook/repository-overview)

**Desired Behavior**
Create an entry for the new meshery/play repo in the repository overview.

---

<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light

[2022-05-04 20:25] leecalcote opened #2763 "Add meshery/meshery-perf to Community Handbook Repository Overview"
**Current Behavior**
The repo at github.com/meshery/meshery-perf is new and is not yet listed in the [Community Handbook's repository overview.](https://layer5.io/community/handbook/repository-overview)

**Desired Behavior**
Create an entry for the new `meshery/meshery-perf` repo in the repository overview.

---

<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/ima

[2022-05-05 00:43] karnatisrinivas commented on #2762
Hello @leecalcote , Can I work on this?

[2022-05-05 05:30] Harshit-Dandriyal commented on #2762
@leecalcote I can take this issue

[2022-05-05 12:56] YashKamboj commented on #2762
@karnatisrinivas Go Ahead!!!

[2022-05-05 13:08] leecalcote commented on #2644
@ghulamyazdani still working on this item? If not, please unassign. If so, how's it coming along?

[2022-05-05 13:11] leecalcote commented on #2754
@SooditK in mobile view, we will _probably_ want to make the graphic and the text single column. Will you try and let's see how it looks?

[2022-05-05 13:17] Chadha93 commented on #2653
@subhradwip01 thanks for checking, Let's leave it to 10 only.

[2022-05-05 13:17] #2653 closed

[2022-05-05 13:20] Chadha93 commented on #2763
@subhradwip01  would like to take this?

[2022-05-05 13:39] subhradwip01 commented on #2763
Ya sure

[2022-05-05 14:07] Chadha93 commented on #2644
// @Akshit42-hue

[2022-05-05 17:27] leecalcote commented on #2754
@subhradwip01 if you'd like to iterate on these mockups in context of the rest of the site designs, you can do so here - https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs

[2022-05-05 20:45] leecalcote commented on #2754
Invite sent.

[2022-05-05 20:46] leecalcote commented on #2754
In the meantime, @SooditK, please PR your changes and let's have a look.

[2022-05-06 11:57] #2689 closed

[2022-05-07 06:43] DesmondSanctity commented on #2740
Can this be assigned to me?

[2022-05-07 12:56] SooditK commented on #2754
Please take a look @leecalcote I've done as previously specified, If you want me to start working on the Figma Designs made by @subhradwip01 I would love to. 👍🏼

[2022-05-07 12:58] subhradwip01 commented on #2754
Design is not made yet... once it is made...we will open issue don't worry ... till now whatever you made push the commit

[2022-05-07 13:04] SooditK commented on #2754
The changes that Lee specified, are Committed and a pull request is made for the same.

[2022-05-07 13:30] leecalcote commented on #2754
Thank you, gents. The deadline on this work is tomorrow, May 8th. DockerCon is on the 9th.

[2022-05-07 19:56] Olaleye-Blessing commented on #2739
I tried the above solution which I proposed but it's not working. There's just a flash of the dropdown menus when the first menu is focused. Someone else can work on it pending the time I figure it out.

[2022-05-07 20:05] #2754 closed

[2022-05-09 05:58] indraantoor opened #2766 "[UI] Cards not fully responsive in Distributed Performance Management section"
**Description**

On the [nighthawk page](https://layer5.io/projects/nighthawk), the cards are not fully responsive.

**Expected Behavior**

The cards should be responsive and their heights should be the same. Also, a little bit of spacing between the text sections in individual cards would make the cards look even better. It will make the cards look more consistent with the overall design of the w

[2022-05-09 17:06] subhradwip01 opened #2767 "[Resource] Add Search feature for Resource page"
**Current Behavior**
Currently, we do not have any search feature on the Resource page : https://layer5.io/resources

**Desired Behavior**
Create a search feature for it

---
**Screenshots / Mockups**

**Alternatives**

---

<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px" align="left" /><h4>Contributor Resources</h4>

[2022-05-10 12:55] leecalcote opened #2769 "Change the "author" of each News item"
**Current Behavior**
"The Newsroom" author should be listed on each news item published by Layer5, but not on news items published elsewhere.

**Desired Behavior**
List the specific publisher's name (e.g. Container Journal or The New Stack) as the author on externally published news.

<img width="1213" alt="Screen Shot 2022-05-10 at 7 53 29 AM" src="https://user-images.githubusercontent.com/757070

[2022-05-10 16:38] subhradwip01 commented on #2763
@Chadha93  Is it meshery performance repo right?..Or it falls under another category ? Also is there any logo for that repo?

[2022-05-10 21:19] Lezette commented on #2769
@leecalcote I'd love to work on this issue

[2022-05-10 21:26] warunicorn19 opened #2772 "[Community] Member Profile: Maximiliano Churichi"
**Current Behavior**

@mchurichi has been a consistent contributor and community member.

**Desired Situation**
Let's recognize <@github-username> as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: mchurichi
- Twitter: mchurichi
- LinkedIn:  maximilianochurichi
- Link to profile picture: https://media-exp1.licdn.com/dms/image/C4D03AQE6jtC

[2022-05-10 21:29] warunicorn19 commented on #2772
@mchurichi could you please provide a short bio and a location 😃

[2022-05-10 22:18] mchurichi commented on #2772
Thanks @warunicorn19!

Location: Paraná, Argentina
Bio: Maxi is a Sofware Engineer who loves to understand the whole picture, from the pixels on the screen to the bits that travel through the wires. Passionate about mentoring young engineers, open-source, cyber security, cloud infrastructure, and solving complex problems with simple solutions (service meshes being one of them!).
In his free time,

[2022-05-10 22:36] leecalcote opened #2773 "[CI] Improve build and deploy time"
**Current Behavior**
Currently, it takes about 8 minutes for this site's [build and preview workflow](https://github.com/layer5io/layer5/actions/workflows/build-and-preview-site.yml) to execute.

**Desired Situation**
Ideally, this time is cut in half.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https

[2022-05-10 22:44] leecalcote commented on #2772
@harshitasao fyi

[2022-05-10 23:57] leecalcote commented on #2769
Thank you, @Lezette :thu

[2022-05-11 01:43] harshitasao commented on #2772
Thank you @leecalcote. Could you please assign this issue to me.

[2022-05-11 07:04] Nikhil-Ladha commented on #2773
Let's experiment the usage of the following flags and see if that helps.
`PARALLEL_SOURCING`
`LMDB_STORE`
`PARALLEL_QUERY_RUNNING`

[2022-05-11 09:23] leecalcote commented on #2766
Good eye and suggestions, @indraantoor

[2022-05-11 09:27] #2759 closed

[2022-05-11 23:54] leecalcote opened #2779 "[Docker Extension] Add summary of two DockerCon blog posts"
**Current Behavior**
This page doesn't have information about the two talks given at DockerCon - https://layer5.io/docker-extension-meshery

**Desired Behavior**
Update this page to have a brief description of each talk and a link to each blog post recapping the talk:

Posts:
1. https://layer5.io/blog/docker/extending-the-docker-compose-experience-to-service-mesh
1. https://layer5.io/blog/docker/e

[2022-05-12 00:59] leecalcote opened #2780 "[Blog] Single Post: "About the Author" card"
**Current Behavior**
The single blog post page layout doesn't have a callout for the post author.

**Desired Behavior**
Create an About the Author card in a similar style as to the community member cards on https://layer5.io/community/members.

See https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/?node-id=190%3A846 for community member cards designs.
See https://www.figma.com/file/5ZwEkSJwUPitURD

[2022-05-12 14:56] Nrycord commented on #2779
Could you assign this one to me? I would like to get started and give it a try.

[2022-05-12 18:45] Chadha93 commented on #2779
@Nrycord Just a quick check, are you able to build the site locally? If yes you are good to go. :)

[2022-05-12 18:48] Chadha93 commented on #2772
@harshitasao need any help here?

[2022-05-12 18:53] Chadha93 commented on #2773
let's also keep temporary caching as another option https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows

[2022-05-12 19:14] Nikhil-Ladha commented on #2773
Interesting stuff. `npm install` on each build could save up to a minute or so.
Do you want to give it a try?

[2022-05-12 19:14] lolyparty commented on #2780
Hey Lee, I'll like to try my hands on this.
The Figma links seem broken though.

[2022-05-13 03:05] Nrycord commented on #2779
I'm on it, it's my first time using wsl, i do have everything downloaded and the repo copied, but the "make" command is returning an error, figuring out what it could be for now

[2022-05-13 03:27] leecalcote commented on #2779
The best place to asks questions: https://discuss.layer5.io. // @kayceeDev

If you have filled in a [community member form ](https://layer5.io/newcomers) you can access this google doc, which describes solutions for `make` on Windows - https://github.com/layer5io/layer5/issues/2779#issuecomment-1125611530.

@Chadha93 given the level of interest on this capability, you might need to pick up this is

[2022-05-13 11:40] Chadha93 commented on #2779
@Nrycord You can have a look at the PR, Try using this command to install make and other essentials `sudo apt-get install build-essential`

[2022-05-13 12:38] shebuel-oss opened #2786 "[SCA 2022 Blog Post]"
This issue is created for the upload of the new article about Layer5's participation in She Code Africa's Contributhon Program on https://layer5.io/blog.

Here's the link to the written and reviewed article:** https://docs.google.com/document/d/1jAgxoWTd_jBnYoL2Fk-D6ltmN8HT5VrZ8UDy1xB1Sws/edit?usp=sharing

**Title:** Layer5 participates in She Code Africa's Contributhon Program 2022

---
<img src=

[2022-05-13 12:40] leecalcote commented on #2786
Thank you, @shebuel-oss. Let's be sure to include 2022 in the title.

[2022-05-13 12:42] shebuel-oss commented on #2786
Thank you @leecalcote
I have just updated that.

[2022-05-14 01:44] Nrycord commented on #2779
So far it seems it's a version problem, I'll ask around and try to solve it. I'll also check the PR. Thanks!

[2022-05-14 09:40] #2763 closed

[2022-05-14 11:42] harshitasao commented on #2772
Hi @Chadha93, apologies for the delay. I'm facing an error while running this `make setup-libs` command. Can you please help me out?

[2022-05-14 12:27] leecalcote commented on #2772
@harshitasao you'll need provide more details. You're not using Windows, are you? What's the output of the command? Try using Docker, perhaps: `make docker`.

[2022-05-14 12:51] harshitasao commented on #2772
Yes, @leecalcote. I'm using Windows and, as you suggested, I tried to run `make Docker` but got a similar error.

[2022-05-14 12:53] leecalcote commented on #2772
Just think, when you share the error, we can actually help. 😉

[2022-05-14 12:54] Chadha93 commented on #2772
Yepp error logs, screen shots would be helpful @harshitasao 😄

[2022-05-14 12:55] leecalcote commented on #2772
Likely, you're having trouble with not having `make` on Windows. Search the Layer5 Community drive for "Windows make" and you'll find two documents that describe ways in which to get `make` going on Windows or search the web for "Install make on Windows". In general, I recommend WSL2 on Windows as your dev environment. More than this, I recommend macOS or Linux for development (as least in so far

[2022-05-14 12:57] harshitasao commented on #2772
![layer5](https://user-images.githubusercontent.com/84518563/168426729-d509bf60-1cc1-48df-a38d-7fd7add93f7d.png)

[2022-05-14 12:58] leecalcote commented on #2772
Oh. Use `make setup`.

[2022-05-14 13:01] harshitasao commented on #2772
Thank you so much @leecalcote.

[2022-05-14 13:03] leecalcote commented on #2772
No sweat. I'm just filling in for MeshMate @Chadha93, who's the real go-to here.

[2022-05-14 14:04] leecalcote opened #2789 "[Brand] Create MeshMark section"
**Current Behavior**

MeshMark is a newly announced measurement index - a sub-project of the SMP project.

**Desired Behavior**
Create section for MeshMark on layer5.io/brand. Add  [meshmark-brand-kit.zip](https://github.com/layer5io/layer5/files/8693081/meshmark-brand-kit.zip) for download.

---

<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-lig

[2022-05-14 15:13] kayceeDev opened #2791 "[Event] Lightning Talk: MeshMates : A New Way of Expanding Open Source Community Mentorship"
Please add the following event to layer5.io/events.

**Event:** Lightning Talk: MeshMates : A New Way of Expanding Open Source Community Mentorship
- Event Title: Open Source Summit North America
- Event Link: https://ossna2022.sched.com/
- Talk Description: See the talk link
- Talk Link: https://ossna2022.sched.com/event/11Pyl/lightning-talk-meshmates-a-new-way-of-expanding-open-source-community-

[2022-05-14 16:38] SooditK commented on #2789
Can I take up the issue?

[2022-05-14 18:14] Chadha93 commented on #2789
Oops, I see that @asubedy is already assigned for this issue(mentioned one) which is a chained issue. @asubedy you are working on this one as a complete issue with the mentioned one, right?

[2022-05-14 21:32] Chadha93 opened #2793 "[Site] Update feature blog post under Blog"
**Current Behavior**
Currently, the Open force blog is being featured under nav blog.
![issue-feature](https://user-images.githubusercontent.com/65453826/168448672-74938f3d-818c-48ba-bf88-b619fc5f3e62.png)

**Desired Behavior**
Feature DockerCon 2022 blog post in place of Open force blog.
Link to blog: https://layer5.io/blog/docker/extending-the-docker-compose-experience-to-service-mesh

---
**Scr

[2022-05-15 03:32] anarayner commented on #2793
Can I take this please?

[2022-05-15 03:35] asubedy commented on #2789
@Chadha93 No I will be working only on the mentioned issue @SooditK can take this one.

[2022-05-15 04:06] leecalcote commented on #2793
Sounds real good, @anarayner

[2022-05-15 04:07] #2762 closed

[2022-05-15 08:06] harshitasao commented on #2772
Hi, @warunicorn19 Could you please tell me what badges should be present and what the status value should be?
Thank you.

[2022-05-15 08:51] warunicorn19 commented on #2772
Status should be active, let's leave out the badges for now.

[2022-05-15 09:15] harshitasao commented on #2772
Alright, thanks.

[2022-05-15 15:29] #2772 closed

[2022-05-15 16:45] Nikhil-Ladha commented on #2767
@subhradwip01 I think you are occupied with other stuff, so can I un-assign you from this issue? So, that others can take it up.

[2022-05-15 16:46] subhradwip01 commented on #2767
I am done with that..tonight i will make a PR

[2022-05-15 16:51] Nikhil-Ladha commented on #2644
@Akshit42-hue are you working on this issue?

[2022-05-15 16:55] Akshit42-hue commented on #2644
Can't find any lead @Nikhil-Ladha

[2022-05-15 16:58] Nikhil-Ladha commented on #2644
Ok, then un-assignung you so that @SAEb-ai can take a look, if interested?

[2022-05-15 17:02] SAEb-ai commented on #2644
Thanks @Nikhil-Ladha!! I will take a look at it then.

[2022-05-16 14:22] Chadha93 commented on #2793
Hi, @anarayner apologies I'm taking over this as we need this to be done urgently, I'll make sure to assign you to some other good first issue.  Thank you, and keep contributing.

[2022-05-16 18:37] #2779 closed

[2022-05-16 20:14] asubedy commented on #2789
Hi @SooditK, this needed to be done urgently, so I completed it. Please feel free to look for other issues that interest you. Thank you.

[2022-05-16 20:15] leecalcote commented on #2789
@SooditK do review #2801...

[2022-05-16 20:18] #2789 closed

[2022-05-17 00:49] SooditK commented on #2789
I was about to make a Pull Request for the same today, guess I have to work on some other issues then 😃

[2022-05-17 12:38] Akshit42-hue opened #2802 "Change the tagline of Layer5"
**Current State:**
Need to change the logo of Layer5 in readme.md file

**Desired State:**
Instead we can use this logo [Layer5](https://www.google.com/url?sa=i&url=https%3A%2F%2Flayer5.io%2F&psig=AOvVaw0g5Lpz0i1H6Mi2d1Ls6e5D&ust=1652878335238000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKiCl-PJ5vcCFQAAAAAdAAAAABAI)

---
**Contributor Resources**
The layer5.io website uses Gatsby, React, and GitHub P

[2022-05-17 12:47] leecalcote commented on #2802
Thanks. The version of the logo to use should still be full text of “Layer5” just without tagline.

[2022-05-17 14:33] Chadha93 commented on #2802
@anarayner would you like to take this?
https://github.com/layer5io/layer5/issues/2793#issuecomment-1127740575

[2022-05-17 17:46] leecalcote opened #2805 "[Video] Brief Tutorial: How to install Meshery Docker Extension"
**Current Behavior**
Given that the Meshery Docker Extension is available in the Extensions Marketplace, visitors of the https://layer5.io/docker-extension-meshery page can both sign-up to learn more and also can directly go install the extension.

**Desired Behavior**
Site visitors will benefit from a short (60 second) video demonstrating how to install the Meshery Extension.

**Implementation**

[2022-05-17 17:48] leecalcote commented on #2805
@cpepper96, this might be of interest to you.

[2022-05-17 19:59] #2767 closed

[2022-05-17 21:09] anarayner commented on #2802
@Chadha93  I do, thank you!

[2022-05-17 21:21] cpepper96 commented on #2805
@leecalcote I can do this once I get it working on my machine

[2022-05-18 00:18] leecalcote commented on #2805
@cpepper96 let's diagnose on tomorrow's Meshery Development Meeting...

[2022-05-18 00:25] leecalcote commented on #2802
Yay, @anarayner!

[2022-05-18 00:26] leecalcote commented on #2802
Here's an ideal version of the logo to reference: https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/layer5-no-trim.svg

[2022-05-18 02:54] cpepper96 commented on #2805
@leecalcote sounds good!

[2022-05-18 04:34] leecalcote commented on #2766
Progress?

[2022-05-18 04:55] shivaylamba commented on #2791
Thanks @kayceeDev I will work on this issue

[2022-05-18 05:30] indraantoor commented on #2766
It's almost finished, I will be making the PR tomorrow.

[2022-05-18 17:57] #2802 closed

[2022-05-18 20:04] leecalcote commented on #2740
Adding @Olaleye-Blessing to help carry this forward...

[2022-05-18 22:17] cpepper96 commented on #2805
@leecalcote got the video, just need to edit it

[2022-05-18 22:17] leecalcote commented on #2805
Oooh, nice. :)

[2022-05-19 15:20] mzoyinda commented on #2786
@Ruth-ikegah can you assign this to me

[2022-05-19 16:01] leecalcote commented on #2786
@shebuel-oss, I mean in the issue title.

[2022-05-19 21:03] #2732 closed

[2022-05-19 21:04] leecalcote commented on #2172
What rating is layer5.io currently at?

[2022-05-19 21:04] #2734 closed

[2022-05-19 21:04] leecalcote commented on #2737
@MarioArriaga92 if you can get this into markdown, another collaborator can get you the rest of the way.

[2022-05-19 21:05] leecalcote commented on #2642
Better yet, just use your local inspector to tryout a new style setting. @kayceeDev can you get this knocked out?

[2022-05-19 21:06] leecalcote commented on #2741
@StarTrooper08 progress?

[2022-05-19 21:14] Nikhil-Ladha commented on #2172
Mobile is still pretty low, but desktop looks good at 95%.

[2022-05-19 21:26] leecalcote commented on #2172
Desktop 95%?! 🚀 yeah, baby, yeah

[2022-05-19 21:40] cpepper96 commented on #2805
@leecalcote just a heads up I've got graduation stuff going on tonight and through the weekend so I'll probably have to finish this up early next week!

[2022-05-19 21:41] leecalcote commented on #2805
@cpepper96 I very much appreciate this heads-up. Flip that tassel!

[2022-05-19 21:52] leecalcote commented on #2769
Hi @lezette, apologies, I'm going to knock this out. It's about 10 days old and we just need this done now.

I'll open a new issue to create the ability to filter between news categories: "Press Releases" and "Coverage", though.

[2022-05-19 21:56] leecalcote commented on #2769
Fixed.

[2022-05-19 21:56] #2769 closed

[2022-05-19 21:59] leecalcote commented on #2780
@lolyparty, no, the Figma links are good. We just need to double-check on your access to them. Inquire in Slack, if you can't access after you have signed into Figma.

[2022-05-19 22:16] leecalcote opened #2815 "[News] Create to filter for news categories: "Press Releases" and "Coverage""
**Current Behavior**
The [layer5.io/news](https://layer5.io/news) page has no way of filtering between Layer5 produced news and news covered by external sources. The differences between these two news types is captured in the `category` metadata field.

**Desired Behavior**
- Add two filter buttons.
- Apply active state button coloring.
- Allow user to filter and unfilter on each category.

---
**

[2022-05-19 22:42] Harshit-Dandriyal commented on #2815
Here :hand:

[2022-05-20 02:27] alphaX86 opened #2816 "[Blog] Post on evolution of mesheryctl docs section"
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member:

**Desired Title:** Evolution of mesheryctl docs
**Topic:** Its all about the doc evolution of mesheryctl reference and how it's being changed to time
**Core points to convey in the post:**
1. Explain about initial

[2022-05-20 02:37] leecalcote commented on #2816
Awesome.

[2022-05-20 05:06] leecalcote commented on #2815
Thanks @Harshit-Dandriyal

[2022-05-20 13:46] Harshit-Dandriyal opened #2817 "[News]see more of our news card is going outside card"
**Description**

![Screenshot from 2022-05-20 19-13-47](https://user-images.githubusercontent.com/56961488/169541275-db552bf0-6a62-4812-b14e-29eef027c808.png)

**Environment:**
- Host OS: Linux(Ubantu)
- Browser: Chrome

---

[Optional] **Additional Context**

---

<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px" align=

[2022-05-20 18:54] StarTrooper08 commented on #2741
Ya on the way

[2022-05-20 18:57] #2676 closed

[2022-05-21 02:08] lolyparty commented on #2780
I think I need some clarity about this issue. Where exactly is the 'About the Author' card meant to be located? I can't find the location of the card in the Figma file, just the design of the card.

[2022-05-21 05:17] SooditK commented on #2817
Hii @Chadha93 Can I take up this issue?

[2022-05-21 11:41] leecalcote opened #2822 "[News] Intel, Layer 5 Announce MeshMark to Quantify Cloud-Native Performance"
We're in the news! Using the contributing instructions for [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news), please add the following article to the [Layer5 Newsroom](https://layer5.io/news).

**Article:**
- Title: Intel, Layer 5 Announce MeshMark to Quantify Cloud-Native Performance
- Link: https://www.itprotoday.com/performance-management/intel-layer-5-an

[2022-05-21 12:14] vishal-codes commented on #2822
I would like to add this article ! C

[2022-05-21 12:21] leecalcote commented on #2822
Thanks, @vishal-codes. 👍

[2022-05-21 13:08] vishal-codes commented on #2822
@leecalcote which image should I use for thumbnail?

[2022-05-21 13:10] leecalcote commented on #2822
@vishal-codes https://www.itprotoday.com/sites/itprotoday.com/files/styles/article_featured_retina/public/IT%20Pro_RGB_V2_0.png

[2022-05-22 08:03] #2817 closed

[2022-05-22 12:35] #2766 closed

[2022-05-23 21:07] #2822 closed

[2022-05-24 10:49] Santosh1176 commented on #2791
Hi, is this issue still open?
If yes, please let me know if I can do this.

[2022-05-24 11:21] leecalcote commented on #2791
Thank you for asking, @Santosh1176.

@shivaylamba should take care of this. If not, I’ll assume that he doesn’t consider the talk important enough to promote and I will close this issue if it isn’t completed by Friday.

[2022-05-24 20:35] leecalcote opened #2826 "[Community] Member Profile: Jerod Culpepper"
**Current Behavior**

@cpepper96 has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @cpepper96 as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: cpepper96
- Twitter:
- LinkedIn: jerod-culpepper
- Link to profile picture: https://avatars.githubusercontent.com/u/80851353?v=4
- Badge(s): meshery

[2022-05-24 23:02] shivaylamba commented on #2791
Hi @leecalcote apologies for the delay, here's the PR for the event: https://github.com/layer5io/layer5/pull/2827

[2022-05-25 05:49] varunwho commented on #2826
Hi @leecalcote can I work on this?

[2022-05-25 05:57] asubedy commented on #2826
Sure @varunwho go ahead 🚀

[2022-05-25 11:08] varunwho commented on #2826
Hi @cpepper96, for adding you into wall of members, could you please share a few lines about yourself (Bio).
Thanks!

[2022-05-25 15:23] cpepper96 commented on #2826
@varunwho sure!
I am a recent CS graduate from CSU-San Marcos living in San Diego, CA. I'm interested in all things related to the cloud and containers. Contributing to Layer5 has been an incredible way to learn new topics and develop my technical skills outside of school. I hope to share my experience with students and grow the open source community at CSU-San Marcos. I'll be starting a new job a

[2022-05-25 23:47] #2826 closed

[2022-05-26 06:40] AnuragThePathak opened #2831 "Typo in Layer5 service-mesh-landscape"
**Description**
While going through the Layer5 service-mesh-landscape, I encountered the term `setu` when reading about Linkerd 2.x (Conduit). I googled and tried to figure out what that means but I couldn't find any satisfactory result.

**Expected Behavior**
Most probably that was an typo and it should be `streamlined setup` instead of "streamlined setu".

**Screenshots**
![Layer5](https://user-

[2022-05-26 12:03] leecalcote commented on #2741
@StarTrooper08 the clock is ticking...

[2022-05-26 12:47] #2831 closed

[2022-05-26 19:43] prasanta10 commented on #2741
Should I do it?

[2022-05-26 20:39] prasanta10 commented on #2741
@leecalcote
![Screenshot 2022-05-27 020801](https://user-images.githubusercontent.com/91861864/170576190-dfb1eaa5-e41f-473b-b4ae-c262a5b9cbca.png)

[2022-05-26 21:01] leecalcote commented on #2741
I know @StarTrooper08 is working on a few items, and so, it might be a welcomed helping hand, @prasanta10. Thank you.

[2022-05-26 22:24] #2791 closed

[2022-05-27 06:55] adithyaakrishna commented on #2644
@SAEb-ai Any updates on this? 👀

[2022-05-27 16:18] #2741 closed

[2022-05-27 16:32] SooditK commented on #2710
Hii @leecalcote I would like to take up this issue, Just wanted to know some things, I have to implement a Similar Looking CTA(that you gave on the example) in the Meshmap route?

[2022-05-27 17:14] Chadha93 commented on #2710
@SooditK No, this need to have the design first, we don't want the same one to be implemented. Adding design req label.

[2022-05-27 21:03] leecalcote opened #2840 "Responsive Issue: Adjust padding/margin of "Image Hub" text"
**Description**
On the main page, the following text is not responsive:

<img width="562" alt="Screen Shot 2022-05-27 at 4 01 17 PM" src="https://user-images.githubusercontent.com/7570704/170789108-48383214-c899-4c3d-9b89-6009ba3e2334.png">

**Expected Behavior**
Text should stay within container in small browser sizes.

---

<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.gith

[2022-05-28 02:48] anarayner commented on #2840
Can I please take this?

[2022-05-28 05:14] asubedy commented on #2840
Sure @anarayner go on 🚀

[2022-05-28 06:08] kunalchhabra37 commented on #2840
I would Like to Work On this Issue

[2022-05-28 13:24] Chadha93 commented on #2840
@prasanta10 were you assigned to this issue?  **No.**

You made a quick PR that's good but  _not the right way  @anarayner was already assigned to this issue.

Please do follow the code of conduct of the community and open source.

[2022-05-28 14:01] prasanta10 commented on #2840
Sorry @Chadha93, I have closed the pr, I had already fixed the bug therefore I sent the pr without knowing it had been assigned. It was a fault in my part, I will make sure it won't happen again. Sorry @anarayner .

[2022-05-28 14:42] Chadha93 commented on #2840
@prasanta10 No worries, thanks for the response, please reopen your PR, you have given efforts, we will accept it. 😊

[2022-05-28 17:58] prasanta10 commented on #2840
@Chadha93 is it really okay?

[2022-05-28 18:19] Chadha93 commented on #2840
Yepp

[2022-05-28 19:02] #2840 closed

[2022-05-29 02:49] Palaksharma23 commented on #2739
@Olaleye-Blessing @leecalcote I would love to work on this issue, can I take this up :)

[2022-05-29 04:12] leecalcote commented on #2739
Sounds great, @Palaksharma23

[2022-05-30 08:31] debo19 opened #2844 "[Resource] Lag in filter and search working simultaneously"
**Description**

https://user-images.githubusercontent.com/85789734/170950482-ef8b64eb-504e-415b-9532-a871f70dea07.mov

Both the search and filter components are working fine individually. However, there is a lag when the use is inter-mixed. Mostly on searching for a word and then applying/modifying the filters.

**Expected Behavior**
The working of filters and search together should be smooth.

*

[2022-05-30 12:49] Lezette commented on #2844
@debo19 can I work on this?

[2022-05-30 17:23] debo19 commented on #2844
@Lezette I think @subhradwip01 and @Harshit-Dandriyal are already looking into this. You can take a look at any other [help-wanted](https://github.com/layer5io/layer5/labels/help%20wanted) issues.

[2022-05-30 22:09] leecalcote commented on #2780
@lolyparty does this help?

[2022-05-30 22:09] leecalcote commented on #2780
@Lezette would you like to have a look at this?

[2022-05-30 22:39] lolyparty commented on #2780
Oh yes, it does.

[2022-05-31 05:47] Lezette commented on #2780
Sure @leecalcote. @lolyparty are you working on this now or would you need some help with the issue? If you’d need some help we could work on it together

[2022-05-31 06:55] AnuragThePathak opened #2845 "[Learn] Add instructions for managed Kubernetes service in Learning Paths: Introduction to Service Meshes - Hands On"
**Current State:**
The instructions in the learning paths are for local Kubernetes services only. As a result, some of them don't work for managed Kubernetes services like AKS, EKS, GKE etc.

**Desired State:**
Provide the necessary instructions for completing the [Introduction to Service Meshes - Hands On](https://layer5.io/learn/learning-paths/mastering-service-meshes-for-developers/introduction

[2022-05-31 08:39] lolyparty commented on #2780
Yes, I'm working on it, I'll reach out to you when I encounter any problem.

[2022-05-31 11:33] sshiv5768 commented on #2845
Hey, @AnuragThePathak I want to work on this issue. Can i go with it?

[2022-05-31 11:52] AnuragThePathak commented on #2845
Hey @sshiv5768 you can work on it as there are no restrictions, but before that, please let me know if you have access to any of the major managed Kubernetes providers and if you have completed this path or not [Introduction to Service Meshes - Hands On](https://layer5.io/learn/learning-paths/mastering-service-meshes-for-developers/introduction-to-service-meshes)

[2022-05-31 12:16] lolyparty commented on #2780
@Lezette I'll assign this to you now, you can work on it. I'm having some technical issues with my laptop

[2022-05-31 13:26] leecalcote commented on #2780
Sounds good, @lolyparty

[2022-05-31 22:23] leecalcote opened #2848 "Rotational Call-to-Action Framework"
**Current Behavior**
The community produces any number of noteworthy projects and programs. The layer5.io/blogs and layer5.io/resources offer opportunity to embed a call-to-action (a promotional advert, if you will) letting site visitors and blog reader know of available resources.

**Desired Behavior**
Given these call-to-actions (CTAs) change over time, it is ideal that specific CTAs are not har

[2022-06-01 10:06] theplayer9 commented on #2644
Hey @Nikhil-Ladha  Can I work on this issue ?  It will help me to kick start my opensource journey.

[2022-06-01 11:16] Nikhil-Ladha commented on #2644
Yes, go ahead @theplayer9 .

[2022-06-01 20:27] leecalcote opened #2853 "Initial banner rotating automatically"
**Description**
The second banner seems to be loading almost immediately after the first banner. This behavior seems to be consistent in both Safari and Chrome.

https://user-images.githubusercontent.com/7570704/171494792-7edb7eaf-a5c4-4a37-91f2-52a35fd937fc.mov

**Expected Behavior**
Banner should not auto-rotate.

**Environment:**
- Host OS: macOS
- Browser: **Safari and Chrome**
---

<img src="

[2022-06-01 22:22] MukulKolpe opened #2859 "Form Info is not retained when we click on `Previous Step` button on newcomers form"
**Current Behavior**

https://user-images.githubusercontent.com/78664749/171510995-2dda2094-d0b2-42e5-8a62-495745b181e8.mp4

**Desired Situation**

The form information must be retained when we navigate to the previous step using `Previous Step` button on the [newcomers form](https://layer5.io/newcomers).

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resour

[2022-06-02 03:33] leecalcote commented on #2859
Thank you, @MukulKolpe

[2022-06-02 04:02] subhradwip01 commented on #2844
Issue is resolved by @kayceeDev ... thanks for your work...so closing the issue

[2022-06-02 04:02] #2844 closed

[2022-06-02 05:16] #2853 closed

[2022-06-02 05:16] Nikhil-Ladha commented on #2853
Taken care of.

[2022-06-02 05:45] leecalcote commented on #2853
Thank you, thank you. 👏👏

[2022-06-02 09:33] Ruth-ikegah opened #2861 "[Blog]: SCA Wrap up blog post"
This issue is created for the upload of the new article about She Code Africa's Contributhon Mentees' reflection on their project.

Here's the link to the written and reviewed article: https://docs.google.com/document/d/1vTqKlsqvOi3teEoU2bmPGUbLbjcDpfJb95Cob_9Yhkk/edit

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16p

[2022-06-02 09:45] mzoyinda commented on #2861
Hi @Ruth-ikegah assign this to me

[2022-06-02 12:27] yash-dewasthale commented on #2786
Hello everyone I'm, new to open source, I have never contributed before this, will anyone give me advice how to start my first contibution

[2022-06-02 12:40] Ruth-ikegah commented on #2786
Hi @yash-dewasthale ! Thanks for commenting on this! There is already a PR linked to fixing this issue.

You can check out this other issue: https://github.com/layer5io/layer5/issues/2859

[2022-06-02 16:48] Chadha93 commented on #2476
@Revolyssup or @theBeginner86 would one of you like to take this?

[2022-06-03 09:33] subhradwip01 commented on #2859
I would like to work on that issue...if it is not solved yet

[2022-06-03 14:48] MukulKolpe commented on #2859
Sure @subhradwip01, go for it. You can check out [Formik docs](https://formik.org/docs/overview) for reference.

[2022-06-03 20:17] #2815 closed

[2022-06-03 20:18] #2845 closed

[2022-06-04 14:26] #2859 closed

[2022-06-06 10:49] kayceeDev commented on #2642
This issue has been fixed @leecalcote, I want to close this now.

[2022-06-06 11:03] #2642 closed

[2022-06-06 13:08] srrathi commented on #2848
Hey @leecalcote, If this issue is unresolved can I work on it ?

[2022-06-06 16:58] Ruth-ikegah commented on #2786
Yes! Closing now!

[2022-06-06 16:58] #2786 closed

[2022-06-06 16:58] Ruth-ikegah commented on #2861
@mzoyinda any update on this?

[2022-06-06 23:23] leecalcote opened #2868 "[Hero] Responsiveness of first hero banner"
**Description**
Text is overlapped the two "5" cards, but should not be.

**Expected Behavior**
Text should be responsive - as large as possible without overlapping the graphics.

**Screenshots**
<img width="560" alt="Screen Shot 2022-06-06 at 6 21 57 PM" src="https://user-images.githubusercontent.com/7570704/172265130-c5de430a-3636-426d-9f8b-09bf1814d966.png">

---

<img src="https://raw.githubus

[2022-06-06 23:44] #2816 closed

[2022-06-07 02:30] VaibhavArora19 commented on #2868
I would like to work on this

[2022-06-07 03:54] leecalcote commented on #2868
Thanks, @VaibhavArora19 👍

[2022-06-07 05:13] YashKamboj opened #2870 "Add meshery docker extension"
**Current Behavior**

Meshery docker extension is missing from the list

**Desired Situation**
Add meshery docker extension on [layer5.io/projects](https://layer5.io/projects)

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github

[2022-06-07 05:43] Nikhil-Ladha commented on #2870
But, it is a part of Meshery itself. Not a separate project 🤔

[2022-06-07 05:51] YashKamboj commented on #2870
@Nikhil-Ladha  @leecalcote told me to do it

[2022-06-07 12:02] leecalcote commented on #2870
@Nikhil-Ladha has a good point. I had wondered this myself, but figured that we would list it as some of the other projects are also sub-projects (e.g. SMI Conformance, Service Mesh Patterns ) like the Docker Extension is. I figure that we might as well toot our own horn and that we should point people to this easy deployment method of Meshery when we can. What do you guys think?

[2022-06-07 12:18] mzoyinda commented on #2861
yes, here is a link to my pull request https://github.com/layer5io/layer5/pull/2872

[2022-06-07 13:09] #2476 closed

[2022-06-07 15:58] leecalcote opened #2873 "MeshMap: "Only w/Agent" card needs SVG for OPA logo"
---

<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px" align="left" /><h4>Contributor Resources</h4>

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io

[2022-06-08 07:32] dike-goodluck-africa-prudential commented on #2868
I would like to work on this

[2022-06-08 07:34] kingebere commented on #2868
i would love to work on this

[2022-06-08 13:15] YashKamboj commented on #2873
@leecalcote It is already an svg 😅

[2022-06-08 13:18] leecalcote commented on #2873
@YashKamboj, *sigh*. No, it isn’t. @debo19 please fix.

[2022-06-08 17:30] Ruth-ikegah opened #2879 "[Community] Member Profile: Oyin Dawodu and Ednah Akoth"
**Current Behavior**

@mzoyinda and @Ed-Neema has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @mzoyinda and @Ed-Neema as a contributors and community members by creating a profile on https://layer5.io/community/members.

- Github: https://github.com/mzoyinda
- Twitter: https://twitter.com/oyindawodu
- Linkedin: https://www.linkedin.com/in/oyin-dawodu-

[2022-06-08 17:34] VaibhavArora19 commented on #2879
I can take this up!

[2022-06-08 17:35] leecalcote commented on #2879
Excellent, @VaibhavArora19

[2022-06-08 17:53] #2873 closed

[2022-06-08 18:10] leecalcote opened #2880 "Add MeshMap to mobile menu"
**Current Behavior**
MeshMap is missing from the mobile menu

**Desired Behavior**
MeshMap should be the final item in the menu. It can optionally use different coloring to highlight it.

---
**Screenshots / Mockups**
![3B5DD14E-4E13-4841-B2F5-C136115B682A](https://user-images.githubusercontent.com/7570704/172687029-c075bfc5-1f73-45a6-8bdd-f6d049488b45.png)

---

<img src="https://raw.githubuserco

[2022-06-08 20:07] Santosh1176 commented on #2880
Hey, I would like to work on this.

[2022-06-08 23:47] leecalcote opened #2886 "[News] CNCF Adopts Service Mesh Performance Standard Established by Layer5"
We're in the news! Using the contributing instructions for [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news), please add the following article to the [Layer5 Newsroom](https://layer5.io/news).

**Article:**
- Title: CNCF Adopts Service Mesh Performance Standard Established by Layer5
- Link: https://vmblog.com/archive/2021/10/12/cncf-adopts-service-mesh-perfo

[2022-06-09 00:11] leecalcote opened #2887 "[Blog] Display published date in byline"
**Current Behavior**
In the single blog post view, there is no published date visible.

**Desired Behavior**
It would be nice to see the published date in the byline adjacent to Category and Author.

**Screenshots / Mockups**
<img width="1065" alt="Screen Shot 2022-06-08 at 7 09 20 PM" src="https://user-images.githubusercontent.com/7570704/172737793-e4612db1-9eea-4cd5-aeb1-67b406b44067.png">

---

[2022-06-09 00:13] leecalcote commented on #2861
Published and soon to be promoted....

[2022-06-09 00:13] #2861 closed

[2022-06-09 09:46] Santosh1176 commented on #2880
@leecalcote @Chadha93 Hi, could you please confirm, if this is the desired behavior on mobile screens?
The link leads to [MeshMap page](https://layer5.io/cloud-native-management/meshmap)
![layer5issue](https://user-images.githubusercontent.com/91916466/172818509-c62ca0f2-fd1f-48d0-8c4e-a54b180e904c.png)

[2022-06-09 10:10] Santosh1176 commented on #2886
Hi, can I take this up?

[2022-06-09 10:44] Chadha93 commented on #2880
@Santosh1176 Yes, this looks good.

[2022-06-09 11:22] Santosh1176 opened #2889 "[Broken Link] The link to news template in CONTRIBUTION.MD is a broken link."
**Description**

The link to  `news template` in [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news) section of CONTRIBUTION.MD is a broken link.

**Expected Behavior**

Should direct to working news template file.

**Screenshots**

**Environment:**
- Host OS:
- Browser:

---

[Optional] **Additional Context**

---

<img src="https://raw.githubusercontent.com/

[2022-06-09 11:23] Santosh1176 commented on #2889
/assign

[2022-06-09 11:46] karnatisrinivas opened #2890 "[Blog] Blog Post on Meshery on AKS"
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member.

**Desired Title:** Meshery on AKS
**Topic:** This post is about how to setup and run Meshery on Azure K8s service (AKS)

**Core points to convey in the post:**
1. Connect Meshery with AKS
1. Install Meshery on AKS

[2022-06-09 11:47] leecalcote commented on #2886
Sounds real good, @Santosh1176 👍

[2022-06-09 11:53] leecalcote commented on #2890
Yay!

[2022-06-09 16:03] leecalcote commented on #2887
@StarTrooper08 that's not the concern of this feature request, which is to augment the single-post template to incorporate display of the date attribute of any given post.

[2022-06-09 16:08] VaibhavArora19 opened #2892 "[Docs] Link in Creating a Member Profile does not work."
**Description**
The link provided in <a href="https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updatingcreating-a-community-member-profile">CONTRIBUTING.md</a> named as `Community member profile issue template` redirects to page with a status code of 500.

**Expected Behavior**
It should redirect to the desired page

**Screenshots**
<img width="960" alt="error" src="https://user-imag

[2022-06-09 17:18] #2870 closed

[2022-06-09 18:50] indraantoor commented on #2887
I would love to work on this issue.

![Screenshot from 2022-06-10 00-16-50](https://user-images.githubusercontent.com/64259328/172921962-b5232c60-5af6-4f17-8bf8-dd9b6a1e2eb4.png)

Is this how the published date should look like in terms of style or CSS?

[2022-06-09 18:53] adithyaakrishna commented on #2892
@VaibhavArora19 Do you want to work on this? 👀

[2022-06-09 19:25] Chadha93 commented on #2880
Nope, please don't add it for large display/desktop mode only add it for mobile view. The Goodbye YAML button is for the MeshMap page.

[2022-06-09 20:48] #2889 closed

[2022-06-10 03:56] VaibhavArora19 commented on #2892
I am already working on something else and I've already been assigned 2 issues😅. Maybe we can assign this to someone else.

[2022-06-10 04:45] leecalcote commented on #2892
@Santosh1176?

[2022-06-10 06:49] Santosh1176 commented on #2892
Sure!

[2022-06-10 08:14] StarTrooper08 commented on #2887
Ok so we have to fetch blog publish date from somewhere(api/database) and display it for every blog which are currently present and future blogs. Right!!

[2022-06-10 16:11] #2868 closed

[2022-06-11 00:57] leecalcote opened #2901 "[Projects] Docker Extension padding and alignment"
**Description**
<img width="1203" alt="Screen Shot 2022-06-10 at 12 35 25 PM" src="https://user-images.githubusercontent.com/7570704/173166379-f1e79b16-d915-4369-a6ac-ed620145e951.png">

**Expected Behavior**
consistent alignment and padding with other cards

---

<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px" align="

[2022-06-11 01:47] YashKamboj commented on #2901
@leecalcote i already made a pr for this and is merged!!! #2900

[2022-06-11 02:34] #2901 closed

[2022-06-11 17:44] Nikhil-Ladha commented on #2887
Yes, @indraantoor

[2022-06-11 19:52] indraantoor commented on #2887
@Nikhil-Ladha Got it! I'll start working on it as soon as this issue is assigned to me, if it's free to take.

[2022-06-11 19:54] Nikhil-Ladha commented on #2887
Here you go, take the chance @indraantoor to earn more.

[2022-06-11 19:56] indraantoor commented on #2887
Thank You! @Nikhil-Ladha

[2022-06-12 18:40] #2879 closed

[2022-06-12 21:28] #2886 closed

[2022-06-12 21:35] #2892 closed

[2022-06-13 00:58] leecalcote opened #2911 "[Meshery Cloud] CTA: Get Free Account"
**Current Behavior**
Today, Meshery users must run Meshery in order to get a free account and log into that account to see their profile and infra.

**Desired Behavior**
Users should be able to create a free account independent of running Meshery and sign into Meshery Cloud directly.

A "Get Free Account" button should be created as a CTA (see https://github.com/layer5io/layer5/issues/2848 and htt

[2022-06-13 00:58] leecalcote commented on #2911
FYI @theBeginner86

[2022-06-13 14:18] #2887 closed

[2022-06-13 15:43] #2848 closed

[2022-06-13 15:45] #2740 closed

[2022-06-14 11:35] Santosh1176 opened #2914 "The link to Sign-off in Community Handbook"
**Description**

The link to [**Sign-off**](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#signing-off-on-commits-developer-certificate-of-origin) in Community handbook's [Contribution](https://layer5.io/community/handbook/contribution) section redirects to the beginning of CONTRIBUTION.md.

**Expected Behavior**

The link should lead to *Signing-off on Commits* section of CONTRIBU

[2022-06-14 16:11] #2880 closed

[2022-06-14 18:38] adithyaakrishna commented on #2739
@Palaksharma23 Any updates on this?

[2022-06-14 18:53] Santosh1176 commented on #2914
Sure, I'll get it done. However, I had a small doubt. The contents of Sign-off in the Handbook and Contribution.md are similar. Hence to give more context about sign-off to new contributors, can this link redirect to [Github's DCO page](https://docs.github.com/en/authentication/managing-commit-signature-verification/signing-commits)?

[2022-06-15 05:34] karnatisrinivas commented on #2890
https://docs.google.com/document/d/1RwCTcereWYs3L5yInWt8ZbE_BH90Lj1qF_J0J69akHY/edit?usp=sharing

[2022-06-15 07:24] PrajwalBorkar commented on #2914
/assign

[2022-06-16 05:06] prasanta10 commented on #2914
can I work on this?

[2022-06-16 09:34] sahilsuman933 commented on #2644
@theplayer9 are you still working on this issue?

[2022-06-16 13:54] theplayer9 commented on #2644
My College exams are going on. You can work on it.

[2022-06-16 14:36] kayceeDev commented on #2644
@sahilsuman933 Are you still working on this issue? Do you have any challenges? Whats your status?

[2022-06-16 16:14] sahilsuman933 commented on #2644
@kayceeDev I am still working on it

[2022-06-16 16:20] kayceeDev commented on #2644
Alright great. 😎

[2022-06-17 15:22] leecalcote opened #2920 "Improve responsive design of text in Mega Menu"
**Current Behavior**

<img width="644" alt="Screen Shot 2022-06-17 at 10 19 40 AM" src="https://user-images.githubusercontent.com/7570704/174328451-76e1b58b-1dc4-4814-a429-4a1b6a7f4e16.png">

**Desired Behavior**
Ideally, left/right margin and padding is removed (or width is adjusted) so that text can fit the full width of the constrained space.

---

<img src="https://raw.githubusercontent.com/la

[2022-06-17 20:53] #2710 closed

[2022-06-22 04:44] YashKamboj commented on #2914
@Santosh1176 your suggestion makes sense , why don't you make a pr , redirect to [Github's DCO page](https://docs.github.com/en/authentication/managing-commit-signature-verification/signing-commits) , @debo19 views??

[2022-06-23 07:27] Santosh1176 commented on #2914
@YashKamboj @debo19 should I go ahead with this?

[2022-06-23 12:38] #2644 closed

[2022-06-23 16:34] Santosh1176 commented on #2914
Sure, I'll link it to the correct section in Contribution.md. Any specific reason to link it there, though the content is similar? just curious to know.

[2022-06-26 17:19] bishal7679 opened #2933 "[Docs] slack.png is not rendering for its black color"
**Description**

In community and contribution section of README.md, the slack.png is not rendering cause of its blackish color.

**Expected Behavior**
Want to change this slack.png into colourful slack.png

![Screenshot (151)](https://user-images.githubusercontent.com/70086051/175826061-8523515e-71f1-4ef4-b280-fecd337098f0.png)

**Screenshots**

![Screenshot (152)](https://user-images.githubuserc

[2022-06-26 17:20] bishal7679 commented on #2933
Can I go ahead with this issue?

[2022-06-26 17:24] YashKamboj commented on #2933
@bishal7679 Go Ahead!!

[2022-06-26 18:21] bishal7679 commented on #2933
@YashKamboj Can you tell me why DCO error is coming in the PR?
Can you merge this PR?

[2022-06-26 18:27] YashKamboj commented on #2933
@bishal7679 have you made the pr from the github site itself?? , try by forking and cloning the repo and while commit add `-s` in the `git commit` command , https://layer5.io/community/handbook/contribution#Sign-off%20commits for reference

[2022-06-26 18:28] bishal7679 commented on #2933
@YashKamboj yes! actually this repo is too big for cloning. that's why I have commited from github

[2022-06-26 18:30] bishal7679 commented on #2933
@YashKamboj Ok then I will clone this repo and then make PR
Thanks!

[2022-06-26 18:34] YashKamboj commented on #2933
@bishal7679 i guess you can also signoff the commit from the site too, let me check it btw cloning the repo, would be easier for you while doing future contributions

[2022-06-26 18:36] bishal7679 commented on #2933
@YashKamboj yes please check it if I can signoff the commit from the site too or not.
I will clone the repo from next time

[2022-06-26 18:43] YashKamboj commented on #2933
I see something like this while commiting

![Screenshot 2022-06-27 001155](https://user-images.githubusercontent.com/75125203/175829292-3773216e-6034-4949-86f4-8dcb3ca8db9b.png)

[2022-06-26 18:45] bishal7679 commented on #2933
@YashKamboj yeap!
What can I do now?

[2022-06-26 18:54] YashKamboj commented on #2933
@bishal7679 The Sign off and propose changes button shows for everyone, so i guess try again, if it still shows DCO error then cloning might be the only option https://github.blog/changelog/2022-06-08-admins-can-require-sign-off-on-web-based-commits/

[2022-06-26 18:55] bishal7679 commented on #2933
Okay! Thanks for helping @YashKamboj

[2022-06-27 04:16] bishal7679 commented on #2933
@YashKamboj now you can check this PR.

[2022-06-27 19:28] #2933 closed

[2022-06-28 00:45] leecalcote commented on #2773
The Gatsby v4 upgrade is positioned to help with this a bit.

[2022-06-28 18:13] leecalcote opened #2943 "[Feature] Integrations Collection"
**Current Behavior**
Meshery has any number of integrations with other technologies and that number will only grow. While we list the 10 or so service meshes that Meshery integrates with, however, there will be many, many others, like Kubernetes, SPIRE, Argo, Prometheus, Grafana, Jaeger, CloudEvents, and so on…

--> _Meshery needs a catalog of integrations for users to browse._

**Desired Behavior

[2022-06-29 08:48] sahilsuman933 commented on #2943
@leecalcote could you please assign this issue to me. I really wanted to work on this issue.

[2022-06-29 09:44] leecalcote commented on #2943
Sounds good, @sahilsuman933 👍

[2022-07-04 22:59] leecalcote opened #2958 "Refresh overall brand kit"
**Current Behavior**
The child logo kits have been updated and have new kits or changes to incorporate into the overall brand kit.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/layer5/blob/mast

[2022-07-06 14:57] Harshit-Dandriyal opened #2959 "Replace options[PNG] to svg in meshmap page"
![Screenshot from 2022-07-06 20-27-51](https://user-images.githubusercontent.com/56961488/177723351-5f2be056-6dff-403d-8909-fe9a9f401257.png)

**Expected Behavior**

The PowerUp Options  in meshmap page should be in svg instead of png.

**Environment:**
- Host OS: Linux(Ubantu).
- Browser: Chrome.

---

[Optional] **Additional Context**

---

<img src="https://raw.githubusercontent.com/layer5io/la

[2022-07-07 08:02] Harshit-Dandriyal commented on #2959
Yes, These four

[2022-07-07 08:03] Santosh1176 commented on #2959
Thank you @Harshit-Dandriyal can you assign this to me?

[2022-07-07 08:13] Harshit-Dandriyal commented on #2959
Try to find the above one though

[2022-07-07 11:07] debo19 commented on #2959
@Santosh1176 you can just use the logo without the text as the image and place the text separately.

[2022-07-07 11:34] Santosh1176 commented on #2959
The SVG images are including the text. I need to find a way to edit those.

[2022-07-07 11:40] subhradwip01 commented on #2920
@OloyedeTobi what's the update for that issue?

[2022-07-07 14:03] Harshit-Dandriyal commented on #2959
Try to edit Svgs, try to remove some of its paths, you can check your svg here https://www.svgviewer.dev/

[2022-07-07 14:19] Santosh1176 commented on #2959
Working on this.

![opa2](https://user-images.githubusercontent.com/91916466/177795704-46216a1b-6fc1-42f0-aa5a-c970dac031df.svg)
![wasm3](https://user-images.githubusercontent.com/91916466/177795962-f1bf4312-fb00-4c39-b573-3389d2f8907b.svg)

[2022-07-07 14:50] Harshit-Dandriyal commented on #2959
cool @Santosh1176

[2022-07-07 23:20] #2958 closed

[2022-07-10 09:43] #2738 closed

[2022-07-10 12:18] arishmaurya commented on #2920
if @OloyedeTobi is not working on this can i take up this issue ?

[2022-07-10 12:20] subhradwip01 commented on #2920
If @OloyedeTobi doesn't reply by tonight... You can take the issue 😊

[2022-07-10 13:50] eeshaanSA commented on #2920
@subhradwip01 why cant I see this issue on layer5.io? Can you?

[2022-07-10 13:55] subhradwip01 commented on #2920
It will occur when your window size will be lesser than 1200px

[2022-07-10 18:47] Chadha93 opened #2967 "[Community] Member Profile: Harshit Dandriyal"
**Current Behavior**

@Harshit-Dandriyal  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @Harshit-Dandriyal  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @Harshit-Dandriyal
- Twitter:
- LinkedIn: https://www.linkedin.com/in/harshit-dandriyal-98866419a/
- Link to profile picture:

A det

[2022-07-10 18:48] Chadha93 commented on #2967
@Harshit-Dandriyal Please do provide the link for your Twitter handle and profile picture.

[2022-07-10 18:52] manikmmalhotra commented on #2967
i can work on this @Chadha93

[2022-07-10 19:02] Chadha93 opened #2968 "[Site] Custom Embedded Video Player"
**Current Behavior**
Currently for adding/embedding video to the site we are just using <iframe> due to which its customization availability limits us.

**Desired Behavior**
Use [gatsby-remark-embed-video](https://www.gatsbyjs.com/plugins/gatsby-remark-embed-video/?=video) plugin for sourcing a video. It will allow us to write custom components for videos such as controllers and thumbnail customiz

[2022-07-11 04:37] manikmmalhotra commented on #2967
@Harshit-Dandriyal can you please provide the details:
Photo url,
Bio,
Twitter Handle

[2022-07-11 05:53] manikmmalhotra commented on #2968
@Chadha93 i would like to work on this

[2022-07-11 06:25] kayceeDev commented on #2920
@OloyedeTobi What is the status of this issue? Have you made a PR yet? Do you have questions?
If you are still working on this please indicate.

[2022-07-11 07:46] subhradwip01 commented on #2920
I guess @OloyedeTobi is not working on that issue.. @arishmaurya you can work on that issue

[2022-07-11 16:42] debo19 commented on #2959
@Santosh1176 I can help you with the icons if you don't have them already.

[2022-07-11 17:16] arishmaurya commented on #2920
@subhradwip01 thanks let me setup the project , if i need any help i will drop a message on slack or here on github

[2022-07-13 07:28] #2967 closed

[2022-07-13 21:58] #2423 closed

[2022-07-13 21:58] #2172 closed

[2022-07-13 21:58] #2805 closed

[2022-07-14 02:57] MarioArriaga92 commented on #2737
Working on this

[2022-07-14 04:12] leecalcote commented on #2737
👍

[2022-07-14 18:04] #2914 closed

[2022-07-15 07:01] zayidmohamedy opened #2973 "[Landscape]"
**Current State:**

**Desired State:**

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mesh-landscape)
The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instruc

[2022-07-15 09:20] leecalcote commented on #2973
I wonder if this issue is open by accident. @zayidmohamedy the description of this issue with empty.

[2022-07-15 09:21] leecalcote commented on #2973
I’ll go ahead and close for now. Go ahead and reopen another issue if there was some thing you intended to see changed.

[2022-07-15 09:21] #2973 closed

[2022-07-15 15:57] Palaksharma23 commented on #2739
I got a little busy @adithyaakrishna, I will do it now!

[2022-07-18 14:31] deepeshaburse commented on #2497
I am interested in writing this article, kindly assign me this issue.

[2022-07-19 05:39] #2780 closed

[2022-07-21 20:06] #2890 closed

[2022-07-23 21:22] #2959 closed

[2022-07-27 20:36] leecalcote opened #2979 "[Community] Calendar page: Add Newcomers Welcome section"
**Current Behavior**
A call to action (to join the community) is missing after the table of meeting information on this page - https://layer5.io/community/calendar#meetings.

**Desired Behavior**
Ideally, Newcomers Welcome section from the /community page is also added to the /community/calendar page after the table full of meeting details.

**Screenshots / Mockups**
<img width="1239" alt="Screen

[2022-07-27 23:41] leecalcote opened #2982 "Site Performance: Use only SVGs for user/customer/partner logos"
**Current Behavior**
The VMware and National Institute of Technology Karnataka logos on the home page are PNGs and need to be SVGs.

**Desired Behavior**
If an SVG for National Institute of Technology Karnataka can't be found, let's swap it out with another partner's logo.

---

<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width

[2022-07-28 03:09] legendarykamal commented on #2979
I would like to work on this 🙂

[2022-07-28 03:51] leecalcote commented on #2377
@sahilsuman933 we're still doing poorly on performance. See this web.dev performance report - https://web.dev/measure/?gclid=Cj0KCQjwxIOXBhCrARIsAL1QFCZ_abOHFnIqOpNgeY0S8fmG8G1iKX1wW2F0-UR8RL5L9BM6JtkReuwaAuXmEALw_wcB&url=https%3A%2F%2Flayer5.io

Will you look at actions that can be taken to improve speed?

[2022-07-28 04:20] leecalcote commented on #2377
@adithyaakrishna

[2022-07-28 05:42] sahilsuman933 commented on #2377
@leecalcote Sure.

[2022-07-28 09:37] #2982 closed

[2022-07-28 11:49] nishantwrp opened #2985 "Repository overview document is not accessible"
**Current Behavior**
The link to repository overview document mentioned here opens a google sign-in for layer5.io accounts.

https://github.com/layer5io/layer5/blob/7df4bef81b4d93cec10f755d52ea9219e8051b8e/src/sections/Community/Newcomers-guide/index.js#L123-L127

**Desired Situation**
The link should probably be changed to general version of the doc or something else like [this page](https://laye

[2022-07-28 17:30] sahilsuman933 opened #2986 "[Meshery] Integrations: Add Prometheus, Grafana and Argo"
**Current Behavior**

The Meshery has three more upcoming integration which has not been added to the [Integration Collection](https://layer5.io/service-mesh-management/meshery/integrations) page.

**Desired Behavior**

- Prometheus, Grafana and Argo should be on the [Integration Collection](https://layer5.io/service-mesh-management/meshery/integrations) Page.
- These images should be an SVG file.

[2022-07-28 19:03] leecalcote commented on #2986
@Lezette, perhaps, an item of interest to you...

[2022-07-28 19:18] leecalcote opened #2987 "[UI] Deployment Modal: Search dysfunctional"
**Description**
Search doesn't seem to work with the Deployment modal. This screenshot w what is taken from the Designs page.

**Screenshots**

<img width="465" alt="Screen Shot 2022-07-28 at 2 16 56 PM" src="https://user-images.githubusercontent.com/7570704/181619826-2e820968-b6ac-4fac-b4ac-0a9b631d9979.png">

**Environment:**
- Host OS: macOS
- Browser: Safari

---

[Optional] **Additional Conte

[2022-07-28 19:55] abhiyant-10 commented on #2986
I would like to work on this issue.

[2022-07-28 20:03] leecalcote commented on #2986
@abhiyant-10, sounds great.

[2022-07-28 20:49] moazzam07 commented on #2986
I would also like to work on this

[2022-07-29 01:37] legendarykamal commented on #2985
hi @nishantwrp may i work on this?

[2022-07-29 06:18] nishantwrp commented on #2985
Sure @legendarykamal.

[2022-07-29 13:44] sahilsuman933 commented on #2986
@abhiyant-10 is already working on this issue

[2022-07-29 16:06] abhiyant-10 commented on #2986
Should I change the style of Openshift , Raspberry pi  and slack as  I see their colors are missing or are they kept in that way intentionally.

[2022-07-29 16:20] sahilsuman933 commented on #2986
@abhiyant-10 They are intentionally there to denote the upcoming integrations.

[2022-07-29 19:56] debo19 opened #2989 "Search Component not functional on Resources page"
**Description**
When you use pagination and go to any other page other than `1`, the component fails to search and shows a blank screen even though there are articles matching the keyword.

https://user-images.githubusercontent.com/85789734/181833870-6a6d5928-ef8c-47ea-8db9-a2097f12d4e2.mov

**Expected Behavior**
The component should search on every page. Ideally, it should search through the enti

[2022-07-29 20:01] leecalcote commented on #2989
@shivaylamba an opportunity....

[2022-07-29 23:48] leecalcote opened #2991 "[README] Dark mode support: Add light versions of logos"
**Current Behavior**
This repo's readme.md (https://github.com/layer5io/layer5#readme) assumes light mode visitors.

**Desired Situation**
Use GitHub's relatively new ability to [define light and dark mode images](https://github.blog/changelog/2021-11-24-specify-theme-context-for-images-in-markdown/) in markdown for each of the logos.

Find light and dark mode flavors of each of the logos here: ht

[2022-07-30 06:21] mihir2226 commented on #2991
Hey lee, I want to work on issue #2991

[2022-07-30 10:17] leecalcote commented on #2991
That'd be great, @mihir2226.

More context - https://github.blog/changelog/2021-11-24-specify-theme-context-for-images-in-markdown/

[2022-07-30 19:39] leecalcote commented on #2163
After the site is built, `node_modules` and `.cache` take up some space, but both of these directories are `.gitignore`d. The `.pack` files in the `.git` directory are the culprit.

[code]

[2022-07-30 20:25] #2987 closed

[2022-07-31 10:28] mihir2226 commented on #2991
Hi @leecalcote I accidentally send you a pull request for code but it needs little changes. So can I close my pull request  and then do that changes?

[2022-07-31 13:26] leecalcote commented on #2991
Alternatively, you can make changes and push more commits to this same branch and this PR will be automatically update with those changes (commits).

[2022-07-31 15:27] mihir2226 commented on #2991
Hi, @leecalcote now all the images are changing according to the theme. can I close the pull request now?

[2022-07-31 15:34] leecalcote commented on #2991
Rather, what you want is for a maintainer to review, approve, and merge, I think.

[2022-07-31 15:46] mihir2226 commented on #2991
@leecalcote yes exactly, i want they review and approve my code

[2022-08-01 02:30] a-muk commented on #2968
Hello! Since no one has created a pull request till now on this issue, can I try this?

[2022-08-01 02:32] a-muk commented on #2989
Hello! Can I work on this issue?

[2022-08-01 05:57] manikmmalhotra commented on #2968
@a-muk hello, actually i'm working on this one and it's almost complete i'm just creating a PR

[2022-08-01 13:43] mihir2226 commented on #2991
Hii @leecalcote , I fixed the bug. But reviewer saying me to sign off pull request. Of a first commit I done. Actually it's file that I uploaded accidentally.

So I simply deleted that file and sign off. Is this okay now or I have to do something about it?

[2022-08-01 13:44] leecalcote commented on #2991
Link to the PR? Be sure to reference this issue in that PR. Yes, there are are DCO sign-off instructions in the failed build check. There will be `git` commands to execute. If you can't figure it out, it's not a big deal on that repo.

[2022-08-01 13:49] mihir2226 commented on #2991
@leecalcote , it's showing that workload awaiting approval.

[2022-08-01 14:28] sahilsuman933 opened #2995 "[Meshery] Integration: make video for each integration"
#### Current Behavior

Meshery supports integrations like dockers, Kubernetes, Minikube, SPIRE, Argo, Prometheus, Grafana, Jaeger, CloudEvents, etc.

To explain how Meshery works with these integrations. We need some volunteers who can make a video with each integration of video length ~ 30 secs. So, for now, you can include that video on this path src/assets/video/meshery-integrations-video/

E.g

[2022-08-01 15:42] legendarykamal commented on #2995
@sahilsuman933 are we using any video making software for those animations ?

I would like to make one for docker.

[2022-08-01 16:35] leecalcote opened #2996 "[Performance] Ensure that text remains visible during font load"
**Current Behavior**
The layer5.io website receives low performance scores. There are a number of recommendations to consider in the report on https://web.dev/measure/?url=https%3A%2F%2Flayer5.io.

<img width="916" alt="Screen Shot 2022-08-01 at 11 27 48 AM" src="https://user-images.githubusercontent.com/7570704/182198277-b7189af7-07b9-4103-9bfe-c3375d546127.png">

**Desired Situation**
layer5.io

[2022-08-01 16:39] leecalcote opened #2997 "[Performance] Create performance issues for each of the recommendations from web.dev"
#### Description
Review the recommendations on https://web.dev/measure/?url=https%3A%2F%2Flayer5.io and open individual issues to have these fixed?

#### Expected Behavior
Many new, well-documented GitHub issues should be created.

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px" align="left" /><h4> Contributor Reso

[2022-08-01 16:59] leecalcote commented on #2997
Related to https://github.com/layer5io/layer5/issues/2996

[2022-08-01 17:01] sahilsuman933 commented on #2995
It depends upon you, @legendarykamal, how you make the video.

Sure go ahead.

[2022-08-01 18:57] debo19 commented on #2989
Go ahead @a-muk

[2022-08-01 19:00] leecalcote opened #2998 "[Discuss] Use Layer5 logo with dark lettering in mobile view"
#### Description
The mobile view of discuss.layer5.io uses white lettering in the logo, causing it to be (essentially) invisible.

#### Screenshots
<img width="563" alt="Screen Shot 2022-08-01 at 1 59 18 PM" src="https://user-images.githubusercontent.com/7570704/182224022-7d82d65c-662c-4246-ae3f-3dc3cda00cee.png">

#### Environment:
- Host OS: macOS and iPhone
- Browser: Safari

---
<img src="http

[2022-08-01 19:03] sahilsuman933 commented on #2995
@legendarykamal You can use this video for the intro https://layer5.io/service-mesh-management/meshery

[2022-08-01 19:12] leecalcote commented on #2998
@Nikhil-Ladha you might be able to work through this one.

[2022-08-01 19:47] mihir2226 commented on #2998
hi @Nikhil-Ladha , let me know if you stuck somewhere okay

[2022-08-01 21:16] leecalcote commented on #2991
@mihir2226 sure. There's nothing to build, though.

[2022-08-01 21:34] mihir2226 commented on #2991
@leecalcote can you review my code so it will be merged.

[2022-08-01 21:34] leecalcote commented on #2991
No, I'll await word from @Chadha93

[2022-08-01 21:36] mihir2226 commented on #2991
okay sir

[2022-08-02 03:23] Nikhil-Ladha commented on #2998
Haha, sure!
I will definitely let you know _if_ that happens.

[2022-08-02 05:46] Nikhil-Ladha commented on #2998
Should be updated now.
Also, @leecalcote I see we are using the `Layer5` logo's in mail digests and mobile view and not the `Layer5 | Discuss` logo, any specific reason? If not, I think it better to use the `Layer5 | Discuss` logos at all places in discuss.

[2022-08-02 05:53] Nikhil-Ladha commented on #2998
I have updated the images to `Layer5 | Discuss` at all places, let me know if that needs to be reverted.

[2022-08-02 05:54] #2998 closed

[2022-08-02 08:43] abhiyant-10 commented on #2986
I will make a PR  by EOD .

[2022-08-02 11:25] leecalcote commented on #2998
@Nikhil-Ladha, mobile view looks great now. And, yes, I think use of the plain Layer5 logo elsewhere instead of the Discuss flavor was just an oversight (wasn’t for a reason). Thanks for taking care of this issue holistically. 😃

[2022-08-02 11:38] YashKamboj opened #3005 "[Performance] Set an explicit width and height on image elements"
**Current Behavior**

Low performance rating of layer5.io
**Desired Situation**

Set an explicit width and height on image elements to reduce layout shifts and improve CLS . [Resource](https://web.dev/optimize-cls/?utm_source=lighthouse&utm_medium=lr#images-without-dimensions)
List of images which needs dimensions:
[On the home page]
National Institute of Technology Karnataka Icon
![Screenshot 202

[2022-08-02 11:41] manikmmalhotra commented on #3005
@YashKamboj can i work on this?

[2022-08-02 11:42] YashKamboj commented on #3005
Go ahead!! @manikmmalhotra

[2022-08-02 11:44] YashKamboj opened #3006 "[Performance] Avoid showing invisible text while custom fonts load"
**Current Behavior**

Fonts are often large files that take a while to load. Which slows the performance
**Desired Situation**

The easiest way to avoid showing invisible text while custom fonts load is to temporarily show a system font. By including font-display: swap in your @font-face style, you can avoid FOIT in most modern browsers. [Resource ](https://web.dev/font-display/?utm_source=lightho

[2022-08-02 12:00] leecalcote commented on #3006
@YashKamboj This looks like a duplicate issue.

Also, note the use of heading style in the description.

[2022-08-02 12:01] leecalcote commented on #3006
Duplicate of https://github.com/layer5io/layer5/issues/2996

[2022-08-02 12:01] #3006 closed

[2022-08-02 13:02] leecalcote commented on #2997
@YashKamboj complete this today.

[2022-08-02 13:46] leecalcote commented on #3005
Do not specify height and width statically. Reserve the required space with [CSS aspect ratio boxes](https://css-tricks.com/aspect-ratio-boxes/).

[2022-08-02 18:19] legendarykamal commented on #2985
@nishantwrp i dont observe these issues probably someone has already worked this out, considering pulling the latest branch.

[2022-08-02 19:49] nishantwrp commented on #2985
Oh yes, looks like @leecalcote already fixed this issue. We can close it.

[2022-08-02 19:49] #2985 closed

[2022-08-02 20:44] #2991 closed

[2022-08-02 20:45] debo19 opened #3008 "Restore sitemap.xml for layer5.io"
#### Description
Sitemap.xml was previously available at [https://layer5.io/sitemap.xml](https://layer5.io/sitemap.xml). It's currently leading to a 404 error page and Sitemap.xml is not found.

#### Expected Behavior
Restore https://layer5.io/sitemap.xml. Refer to [gatsby plugin for sitemap](https://www.gatsbyjs.org/packages/gatsby-plugin-sitemap/?=sitemap).

#### Environment:
- Host OS:
- Browse

[2022-08-02 20:54] manikmmalhotra commented on #3008
@debo19 can i work on this ??

[2022-08-02 21:00] leecalcote commented on #3008
@manikmmalhotra yes, please do. We'll ask others to jump in as well given the urgency of this issue.

[2022-08-02 21:11] manikmmalhotra commented on #3008
@leecalcote sure , i'll try to complete this asap

[2022-08-02 22:45] #2979 closed

[2022-08-02 23:17] #3008 closed

[2022-08-03 02:47] legendarykamal commented on #2920
@subhradwip01 can i take this up ⬆ as I see no PR s yet on this?

[2022-08-03 02:49] legendarykamal commented on #2995
Thanks for the suggestion @sahilsuman933 I will look into it

[2022-08-03 03:47] subhradwip01 commented on #2920
@arishmaurya are you working on that issue?

[2022-08-03 04:08] arishmaurya commented on #2920
yes I'm working on this @subhradwip01  , @legendarykamal you can colaborate with me . I would love to have a team mate

[2022-08-03 04:43] leecalcote commented on #2997
@YashKamboj please tie-off the rest promptly.

[2022-08-03 04:55] YashKamboj opened #3010 "[Performance] Increase the cache age"
**Current Behavior**

**Desired Situation**

A long cache lifetime can speed up repeat visits to your page.  [Resource](https://web.dev/uses-long-cache-ttl/?utm_source=lighthouse&utm_medium=lr)
---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branc

[2022-08-03 05:01] YashKamboj commented on #2997
All done, (i guess), images are covered under the `<StaticImages>` , and i have opened issues for others

[2022-08-03 07:20] legendarykamal commented on #2920
Yeah 😄 sounds nicee
 @subhradwip01 assign me too, will work with @arishmaurya

[2022-08-03 13:08] subhradwip01 commented on #2920
@legendarykamal go ahead

[2022-08-03 13:42] YashKamboj opened #3014 "[Performance] Image Optimization <img> to <StaticImages> in the handbook section"
**Current Behavior**

The .png and .jpg images cause a lot of performance issues
**Desired Situation**

Change `<img>` to `<StaticImagess>` for image optimization in the handbook section.  eg [PR](https://github.com/layer5io/layer5/pull/2597)  [StaticImagePlugin](https://www.gatsbyjs.com/docs/how-to/images-and-media/using-gatsby-plugin-image/)
---
[Optional] **Alternatives**

[Optional] **Addition

[2022-08-03 14:10] legendarykamal commented on #3014
I would like to work on this @YashKamboj
Image optimisation sounds good 🙂

[2022-08-03 14:10] YashKamboj commented on #3014
Go ahead!! @legendarykamal

[2022-08-03 14:20] YashKamboj opened #3016 "[Performance] Image Optimization <img> to <StaticImages> in the community page"
**Current Behavior**

The .png and .jpg images cause a lot of performance issues
**Desired Situation**

Change <img> to <StaticImagess> for image optimization in the handbook section. eg https://github.com/layer5io/layer5/pull/2597 [StaticImagePlugin](https://www.gatsbyjs.com/docs/how-to/images-and-media/using-gatsby-plugin-image/)
---
[Optional] **Alternatives**

[Optional] **Additional context**

[2022-08-03 14:21] YashKamboj opened #3017 "[Performance] Image Optimization <img> to <StaticImages> in the Meshery page"
**Current Behavior**

The .png and .jpg images cause a lot of performance issues
**Desired Situation**

Change  to for image optimization in the handbook section. eg https://github.com/layer5io/layer5/pull/2597 [StaticImagePlugin](https://www.gatsbyjs.com/docs/how-to/images-and-media/using-gatsby-plugin-image/)
---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor R

[2022-08-03 14:23] legendarykamal opened #3018 "Vulcan icon blends in the dark mode"
**Current Behavior**

In dark mode On service mesh landscape the icon blends with the background which doesnt look nice.

![image](https://user-images.githubusercontent.com/95926324/182632090-a7f90ef2-9f4e-41c2-b4aa-7280eba628cd.png)

**Desired Situation**

Making the icon more clear would make it better.
---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resourc

[2022-08-03 16:18] leecalcote opened #3019 "[Handbook] Frontend Projects: Add service-mesh-patterns to the list"
#### Current Behavior
The list of frontend projects (https://layer5.io/community/handbook/repository-overview) in the community handbook is missing the new service-mesh-patterns project.

#### Desired Behavior
Add Service Mesh Patterns to the list of projects.

- Site: https://service-mesh-patterns.github.io/service-mesh-patterns/
- GitHub: https://github.com/service-mesh-patterns/service-mesh-pat

[2022-08-03 18:01] manikmmalhotra commented on #3019
@leecalcote i can look into this

[2022-08-03 18:02] leecalcote commented on #3019
Awesome. Thank you, @manikmmalhotra 💪

[2022-08-03 18:30] Anita-ihuman opened #3020 "[Community] Member Profile: @alvinokafor"
**Current Behavior**

@alvinokafor has been a consistent contributor and community member.

**Desired Situation**
Let's recognize <@alvinokafor> as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub:  @alvinokafor
- Twitter:  @retrosearth
- LinkedIn:  https://www.linkedin.com/in/alvin-okafor-05a4a91a1/
- Link to profile picture: https://avata

[2022-08-03 18:34] manikmmalhotra commented on #3020
@Anita-ihuman i would like to work on this.

[2022-08-03 20:59] mihir2226 commented on #3018
change icon color or simply reduce font-wight, it might work.

[2022-08-03 21:04] manikmmalhotra opened #3022 "Cards not Shown Properly"
#### Description

below proudly maintaining and contributing the cards are not properly fitted on screen as shown in below image(edges of the image)
![Screenshot from 2022-08-04 02-30-41](https://user-images.githubusercontent.com/63007399/182711287-79310851-13dc-40de-adcb-f295fa524ccf.png)

#### Expected Behavior

cards should be inside the screen

#### Screenshots

#### Environment:
- Host OS: ub

[2022-08-03 21:04] leecalcote commented on #3022
This behavior is by design.

[2022-08-03 21:05] leecalcote commented on #3022
Thanks for taking the initiative to point it out and have it fixed, though. Please carry-on. 👍

[2022-08-03 21:05] #3022 closed

[2022-08-03 21:07] leecalcote commented on #3020
@manikmmalhotra this will be your fourth open assignment. Please complete your other open assignments promptly or remove assignment here, so that others can carry this forward in the meantime.

[2022-08-03 23:20] debo19 opened #3024 "[Light Mode] Change Heading Color"
#### Description
<img width="1078" alt="Screenshot 2022-08-04 at 3 10 51 AM" src="https://user-images.githubusercontent.com/85789734/182728612-28b6deb9-3097-4ace-a409-e516ba38c009.png">

The heading on [layer5.io/newcomers](https://layer5.io/newcomers) is currently white in light mode.

#### Expected Behavior
It should be changed to the primary text color. Make sure to use the theme color and not

[2022-08-04 00:16] debo19 opened #3025 "Picture slider not showing on Community page"
#### Description
<img width="1440" alt="Screenshot 2022-08-04 at 5 29 45 AM" src="https://user-images.githubusercontent.com/85789734/182736299-28d19b3b-f19e-4381-ba5b-96f12f49d612.png">
The slider is not visible currently.

#### Expected Behavior

https://user-images.githubusercontent.com/85789734/182736336-9b034b27-0c75-42f8-ac3e-1e75d41d6cfc.mov

Restore the Slider on [layer5.io/community](https

[2022-08-04 00:50] leecalcote commented on #3025
@Nikhil-Ladha upgrade related, perhaps?

[2022-08-04 00:50] leecalcote commented on #3025
@Harshit-Dandriyal not dark mode related?

[2022-08-04 03:30] legendarykamal commented on #3025
@Nikhil-Ladha If this isn't due to any recent upgrades then may I try to restore it?

[2022-08-04 03:39] Nikhil-Ladha commented on #3025
It is due to upgrade, I will be taking a look at it.

[2022-08-04 03:40] legendarykamal commented on #3025
Ok

[2022-08-04 05:42] manikmmalhotra commented on #2996
hey @leecalcote can  i work on this ??

[2022-08-04 07:22] #3020 closed

[2022-08-04 07:38] beingnoble03 commented on #3024
@debo19 can i work on this?

[2022-08-04 07:43] sahilsuman933 commented on #2995
Any update @legendarykamal?

[2022-08-04 07:58] legendarykamal commented on #2995
Yes Docker desktop setup done,
have asked permission for access,
will update you by evening

[2022-08-04 08:47] debo19 commented on #3024
@beingnoble03 go ahead

[2022-08-04 13:30] #3024 closed

[2022-08-04 14:32] Prathamesh-Shanbhag commented on #3018
Hey I would like to work on the issue!

[2022-08-04 16:21] subhradwip01 commented on #3018
I guess it is the official color of this logo..so need not to change.. @Nikhil-Ladha once confirm it please

[2022-08-04 16:27] Prathamesh-Shanbhag commented on #3018
Even if that is the case, usually it is always better to have two color schemes of the same logo?
One that also works in the dark-mode!

[2022-08-04 16:30] subhradwip01 opened #3031 "[Blog] Search not working on Blog page"
#### Description

After page no. `2`, searching anything it is showing blank page, though the blog with the keyword is present.
#### Expected Behavior

It should work for any page like in `1` and `2`
#### Screenshots

###
![Screenshot from 2022-08-04 21-57-48](https://user-images.githubusercontent.com/88609894/182902804-f1e2797e-d18e-4dfa-a800-0aa9fcd0819f.png)
# Environment:
- Host OS: Linux
- Br

[2022-08-04 16:34] Nikhil-Ladha commented on #3018
Yes, that should be the case @Prathamesh-Shanbhag but unfortunately Vulcan is not maintained anymore (correct me if I am wrong @leecalcote ) . So, we can leave the icon be as it is.

[2022-08-04 19:37] leecalcote opened #3032 "[Home] Add MeshMap project card"
#### Current Behavior
On the main page of layer5.io, in the "Operate cloud native infrastructure with confidence." section.

#### Desired Behavior
Add a MeshMap project card to this section.

#### Screenshots / Mockups
<img width="1259" alt="Screen Shot 2022-08-04 at 2 37 02 PM" src="https://user-images.githubusercontent.com/7570704/182938070-55393585-147e-4991-a3b4-95a00485f810.png">

#### Implem

[2022-08-04 21:24] debo19 commented on #3025
Fixed in #3026

[2022-08-04 21:24] #3025 closed

[2022-08-05 03:52] Rohith-Raju opened #3034 "[Bug] Cannot select provider to login to interactive labs"
#### Description
Cannot select meshery provider. All the providers are disabled in the dropdown which means we can't go to Meshery's HomePage

#### Expected Behavior
User should be able to log in

#### Screenshots

[screen-recorder-fri-aug-05-2022-09-09-36.webm](https://user-images.githubusercontent.com/55309324/182997765-4d1ec063-6979-49a0-9bf1-d1051adac586.webm)

---
<img src="https://raw.github

[2022-08-05 07:00] karnatisrinivas commented on #3032
Hello @leecalcote  Can I work on this?

[2022-08-05 12:25] #3019 closed

[2022-08-05 12:52] leecalcote opened #3037 "[Community] Member Profile: Harkirat Singh"
**Current Behavior**

@harkiratsm has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @harkiratsm  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: harkiratsm
- Twitter: harkiratsm
- LinkedIn: harkiratsm
- Link to profile picture: https://pbs.twimg.com/profile_images/1538715817860141056/lEdWAej

[2022-08-05 16:28] debo19 opened #3038 "Subscribe form not dark mode friendly"
#### Description
<img width="1440" alt="Screenshot 2022-08-05 at 9 38 52 PM" src="https://user-images.githubusercontent.com/85789734/183120282-b431eb19-d7e3-4105-a1bd-cd9bf4c31926.png">

#### Expected Behavior
Make the subscribe card dark mode compatible on [layer5.io/subscribe](https://layer5.io/subscribe)

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/l

[2022-08-05 19:45] divyanshkul commented on #3038
Can I take this up?

[2022-08-05 20:26] mihir2226 commented on #3038
i would like to solve it!!

[2022-08-05 20:28] mihir2226 commented on #3034
Hi @Rohith-Raju, I would like to work on this issue.

[2022-08-05 20:28] leecalcote commented on #3038
Hi @divyanshkul, @mihir2226, I'm just seeing your messages. Great! Yes, first come, first serve, so to speak...

[2022-08-05 20:30] mihir2226 commented on #3032
Hi @leecalcote , I would like to work on it, thus I'm good at working with cards.

[2022-08-05 20:32] mihir2226 commented on #3038
@leecalcote Yeah it's totally fair. @divyanshkul if you need any help I'm here.

[2022-08-05 20:33] leecalcote commented on #3038
Another `help wanted` - https://github.com/meshery/meshery/issues/5977

[2022-08-05 20:33] mihir2226 commented on #3031
Hi @subhradwip01, Can I work on it?

[2022-08-05 20:33] leecalcote commented on #3038
See all `help wanted` --> https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+org%3Ameshery+org%3Aservice-mesh-performance+org%3Aservice-mesh-patterns+label%3A%22help+wanted%22+

[2022-08-05 20:34] mihir2226 commented on #3038
@leecalcote is it for me?

[2022-08-05 20:35] leecalcote commented on #3038
@mihir2226, yep.

[2022-08-06 09:51] manikmmalhotra opened #3040 "Extra Image on Footer"
#### Description

when we surf layer5 site on a (1920 X 1080) screen there's a extra image in footer showing which isn't showing on normal screen
#### Expected Behavior

Both the footer should be similar
#### Screenshots

on (1920 X 1080)
![Screenshot from 2022-08-06 15-16-33](https://user-images.githubusercontent.com/63007399/183243850-5b02463b-68f4-4522-a319-1c69e201b33d.png)
on (1366 X 768)
![S

[2022-08-06 09:52] manikmmalhotra commented on #3040
To recreate you can Zoom out(70%) on any screen and the extra image will popup

[2022-08-06 13:24] subhradwip01 commented on #3031
Go ahead @mihir2226 ...
Once look into that issue #2989 .. she is also working with similar issue... you can collaborate with her

[2022-08-06 13:32] mihir2226 commented on #2989
Hi @a-muk , do you like to collaborate with me ?

[2022-08-07 05:43] #3005 closed

[2022-08-07 07:07] mihir2226 commented on #3040
do you want images in both screen sizes or do you want to remove image from 1920 * 1080?

[2022-08-07 07:26] legendarykamal commented on #2995
hello @sahilsuman933 I have installed a new ubuntu + docker desktop for the video purpose.
Take a look and let me know if any changes are needed.
this is initial 40 sec.
[Screencast from 07-08-22 12:49:23 PM IST.webm](https://user-images.githubusercontent.com/95926324/183279970-5030f03a-267d-4909-9031-a2f3114e5cf3.webm)

[2022-08-07 07:28] mihir2226 commented on #3040
![Capture](https://user-images.githubusercontent.com/99991521/183280144-47651da8-8060-438b-a802-9c75fd7f4a3e.PNG)

@manikmmalhotra is this okay?

[2022-08-07 07:41] sahilsuman933 commented on #2995
@legendarykamal, it looks excellent. You need to do a few minor things like

1. Only the Docker Desktop window should be visible, so crop the video.
2. Remove the extra parts like when your desktop screen is visible, when you are searching for meshery. Also, remove the section when you are waiting for meshery to be installed on your desktop.
3. Make the video speed setting be 2x or 3x
4. Add accou

[2022-08-07 07:43] legendarykamal commented on #2995
ok by account setup you mean this ?
[mesherywithdocker.webm](https://user-images.githubusercontent.com/95926324/183280682-b0b9e5ff-1f28-40b3-b3be-bd8abe769bfd.webm)

[2022-08-07 07:48] sahilsuman933 commented on #2995
@legendarykamal Yup!

[2022-08-07 08:38] legendarykamal commented on #2995
yeah done
https://user-images.githubusercontent.com/95926324/183282497-fe65d993-6af5-46d3-b529-bcb904ff2a21.mp4

[2022-08-07 08:45] legendarykamal commented on #2995
this is a little slower than before
https://user-images.githubusercontent.com/95926324/183282809-2dcb30e7-d67f-4911-b81e-0d966f81ff42.mp4
which one is better we can have it @sahilsuman933 :)

[2022-08-07 09:08] sahilsuman933 commented on #2995
@legendarykamal Slower one looks great. Now add the intro part, and it will be all done.

[2022-08-07 12:29] Rohith-Raju commented on #3034
Sure @mihir2226 all yours!!.

[2022-08-07 12:45] Rohith-Raju commented on #3040
@manikmmalhotra I think this is by design, making use of unused white space. Hence the image is visible on the wider screen

[2022-08-07 13:00] manikmmalhotra commented on #3040
oh i didn't had access to the figma designs for layer5io @Rohith-Raju , i just found a lil. odd

[2022-08-07 14:06] legendarykamal commented on #2995
sure, I will add it up

On Sun, Aug 7, 2022 at 2:38 PM Sahil Suman ***@***.***> wrote:

[2022-08-07 16:00] 03amir commented on #3037
@leecalcote  Can I work on this issue?

[2022-08-07 18:02] leecalcote commented on #3037
That’d be great.

[2022-08-07 18:04] leecalcote commented on #3037
A quick double-check - @harkiratsm, are you ok with this token of recognition?

[2022-08-07 19:00] #2497 closed

[2022-08-07 21:35] debo19 opened #3044 "Fix Broken Links"
#### Description
This [spreadsheet](https://docs.google.com/spreadsheets/d/10t0NSlxQVbLS7_uPEJIY6AmkFib-HHqqj_UvGovJL8Q/edit?usp=sharing) contains a list of all broken links throughout the website.

#### Expected Behavior
Fix all broken links. Make sure to use the gatsby `<Link>` tag for all internal links. The spreadsheet contains the correct urls that can be used to replace these broken links. I

[2022-08-07 21:41] debo19 commented on #3038
@divyanshkul While you work on this, there is another issue here:

<img width="581" alt="Screenshot 2022-08-08 at 12 56 58 AM" src="https://user-images.githubusercontent.com/85789734/183311929-5f3878f6-e7fa-4adb-95fd-e743ed16a9a9.png">

The role should be the `primary` color in light mode. Will you fix this in the same PR?

[2022-08-07 22:08] Pavel-2004 commented on #3044
Hey, can I be assigned this issue? I would be happy to help.

[2022-08-08 01:08] harkiratsm commented on #3037
Yeah 😍 🚀
Thanks @leecalcote

[2022-08-08 02:49] leecalcote commented on #3037
Awesome. ✊

[2022-08-08 06:08] mihir2226 commented on #3044
I wold like to help.

[2022-08-08 10:59] debo19 commented on #3044
@Pavel-2004 you can take up 2-35.
@mihir2226 you can take 36-70.

[2022-08-08 12:20] YashKamboj commented on #2996
@manikmmalhotra Go ahead!!

[2022-08-08 12:22] #3010 closed

[2022-08-08 18:39] leecalcote commented on #3040
Correct.

[2022-08-08 18:39] #3040 closed

[2022-08-08 20:42] mihir2226 commented on #3044
@Pavel-2004 hi do you started working on the issue?

[2022-08-08 20:44] Pavel-2004 commented on #3044
Yes. Why?

[2022-08-08 20:46] mihir2226 commented on #3044
@Pavel-2004 I am kind of stuck. I'm not able to figure out where the link is exactly. do you help me a little?