[2020-11-09 03:05] leecalcote opened #1110 "[NG] Community: Update member profile to include LinkedIn account: hexxdump"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @hexxdump profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contribut

[2020-11-09 03:07] leecalcote opened #1111 "[NG] Community: Update member profile to include LinkedIn account:"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @PluckyPrecious profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Con

[2020-11-09 03:08] leecalcote opened #1112 "[NG] Community: Update member profile to include LinkedIn account: Kishore Kumar"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @kishore007k profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contri

[2020-11-09 03:09] leecalcote opened #1113 "[NG] Community: Update member profile to include LinkedIn account: Kush Trivedi"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @kushthedude profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contri

[2020-11-09 03:10] leecalcote opened #1114 "[NG] Community: Update member profile to include LinkedIn account: Nikhil Ladha"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @Nikhil-Ladha profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contr

[2020-11-09 03:13] leecalcote opened #1115 "[NG] Community: Update member profile to include LinkedIn account: Nitish Malhotra"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @nitishm profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contributo

[2020-11-09 03:14] leecalcote opened #1116 "[NG] Community: Update member profile to include LinkedIn account: Abhishek Kumar"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @kumarabd profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contribut

[2020-11-09 04:04] Nikhil-Ladha commented on #1114
It's only `nikhil-ladha` @leecalcote 😆.

[2020-11-09 04:04] KarenEfereyan commented on #1116
@leecalcote waow there are a number of good first issues here. Let me make some noise and get some more people into open source.

[2020-11-09 04:05] leecalcote commented on #1114
The "real-nikhil-ladha" 😆 .  Thanks for pointing this out. My notes must be over a year old. I'm updating the description of this issue to include the correct link.

[2020-11-09 06:56] jomefavourite commented on #1115
I'll like to do this

[2020-11-09 08:46] #893 closed

[2020-11-09 09:54] kalradev commented on #1090
I have changed my LinkedIn profile link.
Now it is - https://www.linkedin.com/in/dev-kalra

[2020-11-09 10:52] Jashpatel1 commented on #1115
Closing with #1117

[2020-11-09 10:52] #1115 closed

[2020-11-09 11:03] #1064 closed

[2020-11-09 11:27] leecalcote commented on #1116
Sounds great 👌

[2020-11-09 14:13] Aniruddha-Shriwant commented on #1113
Hey, I'm interested in solving this :)

[2020-11-09 15:33] OmkarPh commented on #1111
Hi, I'll work on this and come back soon 😄

[2020-11-09 15:34] leecalcote commented on #1111
Hi @OmkarPh, sounds great. 🙂

[2020-11-10 05:15] Jashpatel1 opened #1121 "Updates on Newcomers Page"
**Current Behavior**
The current layer5 site can be found at [https://layer5.io/newcomers](https://layer5.io/newcomers).

**Desired Behavior**
A few changes are required on the newcomers page on layer5 site.
Responsiveness issues on screens having a width of less than 400 px.
Other content and layout changes would be suggested by @chandrashritii and @leecalcote

---
**Contributor Resources**
The `

[2020-11-10 06:56] navendu-pottekkat commented on #1121
Here are the changes proposed in yesterday's meeting:

- [ ] Change "Slack Channel" to "Slack Workspace"

- [ ] Add padding to the top table

- [ ] Add missing #newcomers channel link

- [ ] Add CSS to table as in the [community page](https://layer5.io/community).

- [ ] Change link from https://layer5.io/newcomers to https://layer5.io/community/newcomers

- [ ] Fix responsiveness issues.

Will ma

[2020-11-10 06:56] leecalcote commented on #1121
Good work.

[2020-11-10 07:35] Aniruddha-Shriwant commented on #1113
@vinayaksh42 you may review #1122 now :)

[2020-11-10 09:09] Tanuj22 opened #1124 "[NG] updates to footer"
**Desired Behavior**
The following changes are needed on the footer of layer5-ng site -
- Remove `Gsoc 2020`, `Gsod 2020` and `CommunityBridge`. Use `Programs` with URL `/programs` in place on it
- Remove the entire `Languages` section .

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation

[2020-11-10 09:14] Tanuj22 opened #1125 "[NG] latest blogs section"
**Current Behavior**
The sidebar of the https://layer5ng.netlify.app/blog contains a `Latest Post` section. It is not populated currently

**Desired Behavior**
Populate the section with 4 latest blog post.
Note - This is to be done dynamically using graphql query.

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo contains two websi

[2020-11-10 09:24] Tanuj22 opened #1126 "[NG] Filter blogs by categories"
**Current Behavior**
There is a category section on the sidebar of https://layer5ng.netlify.app/blog

**Desired Behavior**
A feature is needed to filter blogs by categories. For now, some dummy categories can be added. Each blog will contain a single category. Reference on how to implement this feature can be taken from filtering by tags.

---
[Optional] **Alternatives**

[Optional] **Additional c

[2020-11-10 09:30] Tanuj22 opened #1127 "[NG] social links not working properly on community members page"
**Description**
The[ community members page](https://layer5ng.netlify.app/community/members)  cards contain social links (`github, twitter, ...`) of the members. When clicked on them they are not directing to the correct page instead the individual member page gets open.

**Expected Behavior**
The social links on clicked should direct to the correct page. This is probably an issue with CSS of the

[2020-11-10 09:39] Tanuj22 opened #1128 "[NG] Update the hacktobefest page"
**Current Behavior**
The tutorials table has last to fields as `to be announced`.

**Desired Situation**
Update the table with the information available [here](https://layer5.io/programs/hacktoberfest)

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the laye

[2020-11-10 10:10] JubayerJoy commented on #1107
@sabir01
If you are interested, you can work on this.

[2020-11-10 13:59] codetheorem commented on #1126
@Tanuj22 to implement this we have to add categories to each blog and then sort it out like we are doing currently for tags or there is another implementation for this?

[2020-11-10 14:58] Tanuj22 commented on #1126
@codetheorem It would be the same. But in this, each blog would have only one category

[2020-11-10 15:34] Aniruddha-Shriwant opened #1131 "Issue in PR Template"
**Description**

When I had made my first PR #1122 , there I had seen this :

![image](https://user-images.githubusercontent.com/58624108/98694257-3d468e00-2397-11eb-84d5-65ab1338fa89.png)
But when I had clicked on that link it shows the following result  :

![image](https://user-images.githubusercontent.com/58624108/98694423-6d8e2c80-2397-11eb-8505-5890780c761c.png)

**Expected Behavior**

I thin

[2020-11-10 15:40] Aniruddha-Shriwant commented on #1131
So Should I make a new PR for this by editing [this](https://github.com/layer5io/layer5/blob/master/.github/PULL_REQUEST_TEMPLATE.md)
where I will replace :
`**[Signed commits](../CONTRIBUTING.md#signing-off-on-commits-developer-certificate-of-origin)**`
by:
`**[Signed commits](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#signing-off-on-commits-developer-certificate-of-origin)**`

[2020-11-10 17:02] leecalcote commented on #1131
Good catch, @Aniruddha-Shriwant

[2020-11-10 18:10] naman360 commented on #1116
should i take it up?

[2020-11-10 18:24] leecalcote commented on #1116
@naman360 this issue is open, if interested.

[2020-11-10 18:25] leecalcote commented on #1128
@naman360 could be a good one for you to pick up...

[2020-11-10 18:30] KarenEfereyan commented on #1116
@naman360 im assigning to you...

[2020-11-10 18:36] naman360 commented on #1128
Yup @leecalcote

[2020-11-10 18:37] naman360 commented on #1116
No dont assign me I am looking for some new kind of issues to solve

[2020-11-10 19:34] KarenEfereyan commented on #1116
Ok

On Tue, Nov 10, 2020, 7:37 PM Naman Shankhydhar <notifications@github.com>
wrote:

[2020-11-10 20:43] Tanuj22 commented on #1111
FIxed in #1123

[2020-11-10 20:43] #1111 closed

[2020-11-10 20:44] #1113 closed

[2020-11-10 23:12] jomefavourite commented on #1108
I'll like to do this

[2020-11-10 23:50] leecalcote commented on #1108
excellent :)

[2020-11-11 02:16] #1131 closed

[2020-11-11 04:15] dDab-panda commented on #1127
I would like to take up this issue

[2020-11-11 06:39] leecalcote commented on #1127
Thank you, @dDab-panda

[2020-11-11 09:03] naman360 commented on #1128
@Tanuj22 can you provide me the link of tutorials table?

[2020-11-11 09:54] Nikhil-Ladha commented on #1128
https://layer5ng.netlify.app/community the table is at the bottom of the page.

[2020-11-11 11:45] naman360 commented on #1128
There is no To Be Announced written anywhere in the table. @Nikhil-Ladha

[2020-11-11 11:49] Nikhil-Ladha commented on #1128
My bad, this is the correct link https://layer5ng.netlify.app/programs/hacktoberfest/2020

[2020-11-11 14:29] #1108 closed

[2020-11-11 14:54] bartkalanski commented on #1109
I'll get this done

[2020-11-11 15:04] naman360 commented on #1128
Cool thanks.

[2020-11-11 17:00] leecalcote commented on #1109
Excellent. :)

[2020-11-11 19:14] #1109 closed

[2020-11-11 19:20] leecalcote commented on #725
@shivaylamba we're going stale here. ;)

[2020-11-12 00:22] lolyparty commented on #1070
Can you help me our here as I've been trying to align the logo but I don't seem to get it. I'm trying to style the logo from the programsgrid.style.js is this right?

[2020-11-12 02:48] Jashpatel1 commented on #1128
Closing with #1137

[2020-11-12 02:48] #1128 closed

[2020-11-12 03:09] leecalcote commented on #1077
@OlushesiToheeb did this update land already and we just need to close this issue or is this work still in-progress?

[2020-11-12 03:12] leecalcote opened #1139 "[Community] Recognizing Bart Kalanski as a Contributor and Community Member"
**Current Behavior**
@bartkalanski has been a consistent contributor and community member.

**Desired Behavior**
A profile for @bartkalanski should be created and visible on `/community/members` on both the current layer5.io site.

- Github: https://github.com/bartkalanski
- Twitter: bartkodes
- LinkedIn: bart-kalanski
- Profile picture: https://pbs.twimg.com/profile_images/1271353670211375106/n4l

[2020-11-12 07:00] Aniruddha-Shriwant commented on #1139
I would like to work on this issue :)

[2020-11-12 07:52] OlushesiToheeb commented on #1077
It merged already @leecalcote

[2020-11-12 07:55] OlushesiToheeb commented on #1077
![Uploading image.png…]()

[2020-11-12 08:37] OlushesiToheeb commented on #1077
![image](https://user-images.githubusercontent.com/46800177/98915827-b4307380-24ca-11eb-85ef-7a8ed7e8ffca.png)

[2020-11-12 13:34] leecalcote commented on #1077
Oh, very good.

[2020-11-12 13:34] #1077 closed

[2020-11-12 13:34] leecalcote commented on #1077
Thanks, @OlushesiToheeb

[2020-11-12 14:37] OmkarPh commented on #1112
Can I do this

[2020-11-12 14:41] kishore007k commented on #1112
Sure go ahead! @OmkarPh ✌

[2020-11-12 14:51] OmkarPh commented on #1125
Hi @Tanuj22
I'm new to GraphQL, but will try this out

Let me look around the repo. I may bore you with few questions soon 😅

[2020-11-12 17:17] bartkalanski commented on #1139
Wow, that's made my week, I'm really grateful, thank you :)

[2020-11-12 17:49] Tanuj22 commented on #1125
@OmkarPh please do bore me :laughing: . I will be happy to help!

[2020-11-12 17:51] #1091 closed

[2020-11-12 17:51] #1093 closed

[2020-11-12 17:51] #1094 closed

[2020-11-12 20:03] #769 closed

[2020-11-13 08:59] #1112 closed

[2020-11-13 09:05] #1102 closed

[2020-11-13 09:05] #1103 closed

[2020-11-13 09:05] #1104 closed

[2020-11-13 09:05] #1105 closed

[2020-11-13 09:05] #1106 closed

[2020-11-13 09:05] #1110 closed

[2020-11-13 12:51] #1139 closed

[2020-11-13 19:18] leecalcote opened #1151 "[NG] Add Community Calendar page"
**Current Behavior**
Similar to the calendar page on https://meshery.io/calendar, the Layer5-NG site should have a page to peruse the community calendar.

**Desired Behavior**
- This page should be styled to match Layer5-NG.
- This page should be positioned at layer5.io/community/calendar.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-g

[2020-11-13 20:01] anuraagbarde commented on #1116
Ok, I just checked, [https://linkedin.com/in/kumar-abishek-51a1761b](https://linkedin.com/in/kumar-abishek-51a1761b) is not valid link.

[2020-11-13 20:02] anuraagbarde commented on #1116
I just check, [https://linkedin.com/in/kumar-abishek-51a1761b](https://linkedin.com/in/kumar-abishek-51a1761b) is not a valid link.

[2020-11-13 20:31] leecalcote commented on #1116
@kumarabd, do you have another link that can be used?

[2020-11-13 20:34] kumarabd commented on #1116
@leecalcote  this one is good https://www.linkedin.com/in/abishek-kumar-51a1761b

[2020-11-14 07:30] OmkarPh commented on #1125
Hi @leecalcote and @Tanuj22
I am almost done, but wanted to share a few things before making PR.

Following is the output on blogs page:
![image](https://user-images.githubusercontent.com/48476025/99142138-49bd3600-2678-11eb-93c5-3469e8814b37.png)

On single blog page:
![image](https://user-images.githubusercontent.com/48476025/99142146-60fc2380-2678-11eb-8990-e3831eff2f63.png)

As per the previou

[2020-11-14 12:39] vinayaksh42 commented on #1151
@leecalcote there is already a little bit of discussion going on this issue at this [issue](https://github.com/layer5io/layer5/issues/934)

[2020-11-14 12:49] leecalcote commented on #1151
Oh, I see. Thank you, @vinayaksh42. This issue is a duplicate of #934. Got it.

[2020-11-14 12:50] #1151 closed

[2020-11-14 12:51] leecalcote commented on #934
Challenges with the calendar api have been overcome. This issue is ready for implementation.

[2020-11-15 13:00] #1116 closed

[2020-11-15 13:01] #1114 closed

[2020-11-15 13:24] kishore007k commented on #1126
Hey @Tanuj22, As far as I understand we have to create a new frontmatter and filter the blog posts using them. Is that right?
It would be nice to know what blogs come under what categories or what are all the categories each blog should have.

[2020-11-16 03:35] Jashpatel1 commented on #1127
Closing with #1140

[2020-11-16 03:35] #1127 closed

[2020-11-16 07:39] Tanuj22 commented on #1126
You can add a dummy 2 categories and implement the functionality using that.

[2020-11-16 09:35] Tanuj22 commented on #1125
@OmkarPh Can you also check these out https://github.com/layer5io/layer5/pull/1155#pullrequestreview-531146315

[2020-11-16 12:38] Tanuj22 commented on #1124
Fixed in #1130

[2020-11-16 12:38] #1124 closed

[2020-11-16 19:55] #882 closed

[2020-11-16 21:31] ajessup commented on #1020
Hey @Nikhil-Ladha friendly ping here! Our SPIFFE community day is tomorrow and it would be great to be able to tell folks about the SPIFFE information in the service mesh catalog. Let me know if I can help.

[2020-11-16 21:34] leecalcote commented on #1020
@ajessup, agreed! Having a look now...

[2020-11-16 21:38] #1020 closed

[2020-11-16 21:43] leecalcote commented on #1020
@ajessup, thank you for your collaboration here. Your work is now on display. We're live. 👍

[2020-11-16 21:47] ajessup commented on #1020
Love it. Great work.

[2020-11-17 05:54] #1031 closed

[2020-11-17 10:06] #568 closed

[2020-11-17 11:12] OmkarPh commented on #1125
Can you tell me how this looks, I made images bigger using classNames already available.
Bigger thumnails look better according to me.
Checkout these:
[Service Mesh (Istio) patterns for Multitenancy _ Layer5 - The Service Mesh Company.pdf](https://github.com/layer5io/layer5/files/5553042/Service.Mesh.Istio.patterns.for.Multitenancy._.Layer5.-.The.Service.Mesh.Company.pdf)
[Blog _ Layer5 - The Serv

[2020-11-17 12:37] OlushesiToheeb opened #1157 "[NG] Fix typo error on Nikhil Ladha Blog post"
**Current Behavior**
markdown text is showing instead of a link

**Expected Behavior**
[Meshery](https://meshery.io/) should be a link, not a markdown text

**Screenshots**

![image](https://user-images.githubusercontent.com/46800177/99390449-eed64980-28d8-11eb-83b7-1e6df49677b0.png)

- [source code](https://github.com/layer5io/layer5/blob/layer5-ng/src/collections/blog/2020-08-11-my-journey-from-

[2020-11-17 13:26] leecalcote commented on #1157
Thank you, @OlushesiToheeb

[2020-11-17 18:54] #1121 closed

[2020-11-17 18:56] leecalcote opened #1161 "[Projects] SMI: Add SMI and Meshery Logos to /smi page"
**Current Behavior**
This page should have the SMI and Meshery logos on it - https://layer5.io/projects/service-mesh-interface

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, whi

[2020-11-18 05:46] kishore007k commented on #1090
@OlushesiToheeb Did you started working on this?

[2020-11-18 07:20] OlushesiToheeb commented on #1090
No, Have not started working on it.

[2020-11-18 07:22] OlushesiToheeb commented on #1090
But I'll. Kindly comment below on the right details to fill in.

[2020-11-18 08:56] Pratyush-Saxena commented on #1161
@leecalcote i wanna work on this ...

[2020-11-18 09:31] Pratyush-Saxena commented on #1157
@leecalcote pls have a look to pr #1163

[2020-11-18 13:19] #1157 closed

[2020-11-18 14:33] Tanuj22 opened #1166 "[NG] Add related blog post section"
**Desired Behavior**
Add a section of related blog posts below a single blog post. The related post are posts having the same tags
For eg. in [this](https://layer5ng.netlify.app/blog/performance-benchmarking-using-meshery-and-nighthawk) blog post, the tags are `community`, `Projects`, `News`. So 4-5 blog posts having the same tags should be shown.

---
[Optional] **Alternatives**

[Optional] **Add

[2020-11-18 14:37] Tanuj22 commented on #1125
Umm...not so sure about keeping bigger thumbnails as maybe it's taking too much attention from the user. @Nikhil-Ladha what do you think?

[2020-11-18 15:28] WLun001 opened #1168 "[Landscape] linkerd suppports multi cluster"
**Current State:**
linkerd multicluster experimenent

**Desired State:**
support multicluster, https://linkerd.io/2/features/multicluster/

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mesh-landscape)Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tr

[2020-11-18 15:56] Nikhil-Ladha commented on #1125
The `Latest post` section can be removed in the blogs page, it's just redundant.
And, for the bigger thumbnails part I agree with @Tanuj22 it draws too much attention. But, the way of showing the posts in the latest update looks better than the one in this [comment](https://github.com/layer5io/layer5/issues/1125#issuecomment-727160558).
Also, do we really need the `search` bar in this page?

[2020-11-18 17:34] sabir01 commented on #1107
I'm on it

[2020-11-18 17:39] leecalcote commented on #1161
@Pratyush-Saxena thank you. Excellent. 👍

[2020-11-18 18:03] chandrashritii opened #1169 "[NG] Migrate the Newcomers page"
**Desired Situation**

Migrate the [Newcomers page](https://layer5.io/community/newcomers) from layer5.io to the Layer5-ng site.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, w

[2020-11-19 06:07] kishore007k commented on #1169
I would like to work on this!
Can I take this issue?

[2020-11-19 07:15] OmkarPh commented on #1125
On all blogs page, latest post section is ultimately getting deleted,
Is this [ScreenShot of latest post section on single blog](https://github.com/layer5io/layer5/files/5565001/Service.Mesh.Istio.patterns.for.Multitenancy._.Layer5.-.The.Service.Mesh.Company.1.pdf) good or should I keep it as it is here: https://layer5ng.netlify.app/blog/performance-benchmarking-using-meshery-and-nighthawk

[2020-11-19 08:24] Nikhil-Ladha commented on #1125
Use the design in the pdf but, place it in the position listed in the preview.

[2020-11-19 13:34] chandrashritii commented on #1169
Sure. Take it away @kishore007k

[2020-11-19 18:56] Jashpatel1 opened #1171 "Add Book Contents to a Page on Layer5 site and Layer5-ng site"
**Current Behavior**
The website has book contents page at https://layer5.io/books/service-mesh-patterns.

**Desired Situation**
Add the [book contents](https://docs.google.com/spreadsheets/d/1sJAsBPAc08Pml5uBijHpb0AvJxe6IoVtzhwBFDiVLCw/edit#gid=1453706035) to the page.

---

**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the la

[2020-11-19 20:26] Tanuj22 opened #1172 "[NG] Add the meshmate brand kit"
**Desired Behavior**

Add a section for meshmate brand kit ([link](https://drive.google.com/file/d/1KCXC0a4VNxJDxTNVHMl3R8-XaLntLu_3/view?usp=sharing)) to layer5-ng (https://layer5ng.netlify.app/brand). The folder related to this is [here](https://github.com/layer5io/layer5/tree/layer5-ng/src/sections/Brand)

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Res

[2020-11-20 05:46] Pratyush-Saxena commented on #1161
@leecalcote  where should i put these logo on page??

[2020-11-20 07:50] kishore007k commented on #1169
Hey! @chandrashritii, As I was working on the issue It struck my mind that It would be nice to have some kind of introduction video on what is `layer5` and what are all the projects that are currently going on. And maybe display some of the popular events or something like that if applicable.
What are your thoughts? @chandrashritii, @leecalcote

[2020-11-20 11:32] OmkarPh commented on #1125
I didn't understand; What 'listed in preview' refers to?

[2020-11-20 11:37] Nikhil-Ladha commented on #1125
Means the way it is in preview.

[2020-11-20 11:42] OmkarPh commented on #1125
Oh, yes

[2020-11-20 11:43] OmkarPh commented on #1125
Can you suggest what to put in place of this section in all blogs page

[2020-11-20 12:00] Nikhil-Ladha commented on #1125
Can you share a demo of what you are trying to say, I didn't get that clearly :thinking:

[2020-11-20 12:10] OmkarPh commented on #1125
This is how the all blog page looks without sidebar:
[Blog _ Layer5 - The Service Mesh Company.pdf](https://github.com/layer5io/layer5/files/5573371/Blog._.Layer5.-.The.Service.Mesh.Company.pdf)

since, search bar and categories are included in sidebar

[2020-11-20 12:31] Nikhil-Ladha commented on #1125
Okay. So, finally what you can do is:
- Remove the sidebar completely in the single blog page, which is for example this page (https://layer5ng.netlify.app/blog/performance-benchmarking-using-meshery-and-nighthawk) and shift the lates blogs section at the end in which each blogs should have this design
![Screenshot from 2020-11-20 17-57-37](https://user-images.githubusercontent.com/29438875/998003

[2020-11-20 12:32] OmkarPh commented on #1125
It doesn't look good at the bottom though :(
If they're catching attention, then I'd rather reduce their size rather than moving entire section to bottom.

[2020-11-20 12:33] OmkarPh commented on #1125
But the tags and search bar are in sidebar component itself

[2020-11-20 12:34] Nikhil-Ladha commented on #1125
Move the latest post section code out of that component, and make it a new one.

[2020-11-20 12:34] OmkarPh commented on #1125
Ok I'll do that

[2020-11-20 12:36] Nikhil-Ladha commented on #1125
Checkout this page https://www.hashicorp.com/blog/hashicorp-boundary. This looks pretty good and decent. I was talking about something similar to that.

[2020-11-20 12:39] Tanuj22 commented on #1125
@Nikhil-Ladha we need to add a related post section at the bottom of each page

[2020-11-20 12:42] Nikhil-Ladha commented on #1125
Yup, but that would require us to have the categories ready and working. So, for the time being we can work with this one, what say?

[2020-11-20 12:52] OmkarPh commented on #1125
What if I make a new component as Related posts which uses latest post graphql query for now, later we can change the query?

[2020-11-20 13:04] Nikhil-Ladha commented on #1125
Sure, please do that :+1:

[2020-11-20 13:10] Nikhil-Ladha commented on #1168
Thanks for opening this issue @WLun001 .
Would you like to submit a PR for the same, if you don't mind :slightly_smiling_face:

[2020-11-20 13:46] OmkarPh commented on #1125
Can you explain me how these 'Col' components work,
![image](https://user-images.githubusercontent.com/48476025/99806993-d4180500-2b64-11eb-99ba-c1f5626316c3.png)

I remove one col, so want the first one to span over more area horizontally

[2020-11-20 14:13] Nikhil-Ladha commented on #1125
I think you can sort this out with @Tanuj22 or @Jashpatel1 on slack. Please join the workspace if you haven't yet.

[2020-11-20 16:33] Anita-ihuman commented on #1172
I would like to take on this issue

[2020-11-21 11:31] OmkarPh commented on #1125
Hi @Nikhil-Ladha
Checkout deployment of #1175

[2020-11-21 11:38] OmkarPh commented on #1125
Hi @Nikhil-Ladha
Can you see why the deployment fails :(
Everything worked fine on my local machine and I haven't changed any config file yet there's some build error.

[2020-11-21 11:41] Tanuj22 commented on #1125
Maybe an error with the cache. I have re run the deployment. Should work now

[2020-11-21 17:38] AnkitSingh-zm commented on #1070
Can I start working on this issue.

[2020-11-21 18:38] lolyparty commented on #1070
Yh we can work on this together. Let's chat on slack

[2020-11-22 06:04] AnkitSingh-zm commented on #1070
The logo has been changed and aligned properly(not by me). You can close this issue.
website - https://layer5ng.netlify.app/careers

[2020-11-22 06:15] #1070 closed

[2020-11-22 10:46] anjali1102 opened #1177 "in mobile view, text crashes with right border"
**Description**

**Expected Behavior**

in mobile view, text crashes with right border

**Screenshots**

![anjali_issue](https://user-images.githubusercontent.com/56559378/99901584-9b4f6b80-2cdd-11eb-927a-de80c16dc64a.png)

**Enviroment:**
- Host OS: windows
- Browser: google chrome

---

[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://layer5.io/programs/hacktoberfes

[2020-11-22 10:47] anjali1102 commented on #1177
i want to work on it!

[2020-11-22 11:19] lolyparty commented on #1177
Hey go ahead and work on it. Thank you.

[2020-11-22 15:02] #1125 closed

[2020-11-22 17:34] #1169 closed

[2020-11-22 20:00] #1024 closed

[2020-11-22 20:19] kishore007k commented on #1126
@Tanuj22 , So I have to create two types of categories say `development` and `technology` for all the blogs and sort them using those. Is that it?

[2020-11-22 20:21] kishore007k commented on #1126
On clicking on those categories it should show only those bloga that have that categories in the `/blogs` page?

[2020-11-22 20:21] Tanuj22 commented on #1126
@kishore007k just hold on for some time. We should have the categories for each blogs soon.

[2020-11-22 20:22] kishore007k commented on #1126
ok 👍

[2020-11-22 21:55] Anita-ihuman commented on #1172
Thank you @Tanuj22 fro assigning the issue, I want to be clear on something, So i am supposed to include this brandkit in the folder containing brand? as a seperate file? or in an existing file

[2020-11-22 23:39] lolyparty commented on #1171
hey @Jashpatel1 can you expatiate on this issue? The book to be added to the websites is in a google doc, right?

[2020-11-23 03:29] Jashpatel1 commented on #1171
@lolyparty The book is already added. You will have to add the book contents(provided in the doc) in the book page on both the sites.

[2020-11-23 03:37] leecalcote commented on #1172
@Anita-ihuman, good clarifications.

1. Yes, you'll upload the .zip brand kit file so that people can click a yellow-colored button (that you will create) to download the kit.
2. You will create a new section for the MeshMate logo similar to the SMP section:

<img width="1212" alt="Screen Shot 2020-11-22 at 9 36 19 PM" src="https://user-images.githubusercontent.com/7570704/99927426-f9467800-2d0a-1

[2020-11-23 04:18] lolyparty commented on #1171
ok so I' to add the whole content of the docs in tabular form as it is to the page, right?

[2020-11-24 03:58] Jashpatel1 opened #1184 "[NG] Improve the Events Page on layer5-ng"
**Current Behavior**
Currently, the [events page](https://layer5ng.netlify.app/community/events) on layer5-ng has a single list of events.

**Desired Behavior**
Divide the events into categories and show them into tabs layout.
Add the "Attend an Event" section to the page.
Any improvements in design/layout will be heartily welcomed.

---
**Contributor Resources**
The `layer5` repo contains two web

[2020-11-24 04:59] Jashpatel1 opened #1185 "[NG] Improve the Newcomers Page on layer5-ng"
**Current Behavior**
The current [newcomers page](https://layer5ng.netlify.app/community/newcomers) needs a few changes in terms of design/layout.

**Desired Behavior**
The information, guides and issue for grabs doesn't justify being in a tabular format. Kindly use some other layout.
Make use of react-tables for the tutorial table present at the end.
Replcae the graphic with another one more form

[2020-11-24 05:00] Jashpatel1 commented on #1185
@kishore007k will you like to work on this or keep it open for others to work upon?

[2020-11-24 05:35] kishore007k commented on #1184
Are there any upcoming events or workshops @leecalcote?

[2020-11-24 06:42] kishore007k commented on #1185
Let it be for now. After I finish working on the other issue I'll take it. If in-between any wants to take it It's fine.

[2020-11-24 08:53] Tanuj22 commented on #1058
Thanks @naman360 @codetheorem

[2020-11-24 08:53] #1058 closed

[2020-11-24 09:03] #1085 closed

[2020-11-24 12:01] kishore007k commented on #1184
@Jashpatel1 Can we move the `/collection/meetups` to the `collection/events` since we are presenting both of them on the same page. And it would reduce querying separate for each of them.

[2020-11-24 14:25] kmlhsn opened #1186 "add validation to "Stay meshy and subscribe""
**Description**
add validation to "Stay meshy and subscribe"

**Expected Behavior**
form should validate forms when submitting
It shows no error message when click on "Subscribe" Button
**Screenshots**
![image](https://user-images.githubusercontent.com/32615215/100106466-c5965a00-2e92-11eb-8b17-ebba3499aacf.png)
![image](https://user-images.githubusercontent.com/32615215/100106487-ca5b0e00-2e92-11

[2020-11-24 18:22] NupurThakur27 opened #1187 "Transition of Nupur Thakur to MeshMate Emeritus"
**Current Behavior**
Nupur Thakur is a MeshMate who is quite inactive for her role.

**Desired Situation**
Due to inactivity in the community Nupur Thakur should be moved from MeshMate to Meshmate Emeritus

---

**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue,

[2020-11-24 19:19] leecalcote commented on #1186
Hi @kmlhsn, good highlight here. Thank you for creating an issue. This is a very timely issue as this form has just begun to be the target of fake subscriptions. In fact, earlier today a captcha was added to prevent these fake subscriptions. You should now be presented a captcha after filling in the form and clicking Subscribe. Before the subscription is allowed a captcha has to be completed. Will

[2020-11-24 22:22] Tanuj22 commented on #1184
Yes

[2020-11-25 03:57] leecalcote commented on #725
@vineethvanga18 as you dig into the Mega Menu, will you add the ability to include a separator between list items? This screenshots shows a red horizontal line that would ideally be light gray. An attribute in data.js could be added to identify whether a specific menu item should have this horizontal line above it.

Will you also add the ability for a given menu to have a call to action link (bott

[2020-11-25 06:32] Tanuj22 commented on #1107
Fixed in #1183

[2020-11-25 06:32] #1107 closed

[2020-11-25 10:40] Jashpatel1 opened #1190 "[NG] Improve Contact Page on layer5-ng"
**Current Behavior**
Currently,  layer5-ng website has multiple instances of cards. The [contact page](https://layer5ng.netlify.app/contact) is one of them.

**Desired Behavior**
Improve the design of the contact page by suggesting a better layout and implementing it.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer

[2020-11-25 10:45] Jashpatel1 opened #1191 "[NG] Move button to bottom of Partners page in layer5-ng"
**Current Behavior**
The "Become a Partner" button is present in the top part of the [partners page](https://layer5ng.netlify.app/partners).

**Desired Behavior**
Move the button to the bottom part, after the description of all partners is done.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `lay

[2020-11-25 10:46] Jashpatel1 commented on #1191
@leecalcote thoughts?

[2020-11-25 10:47] Jashpatel1 commented on #1190
@vinayaksh42 will you like to take this up?

[2020-11-25 14:19] leecalcote opened #1192 "[NG] Community: Recognizing Olushesi Toheeb as a Contributor and Community Member"
**Current Behavior**
@OlushesiToheeb has been a consistent contributor and community member.

**Desired Behavior**
A profile for @OlushesiToheeb should be created and visible on `/community/members` on both the current layer5.io site.

- Github: https://github.com/OlushesiToheeb
- Twitter: toheebolushesi
- LinkedIn: olushesi-toheeb
- Profile picture: ?
---
**Contributor Resources**
The `layer5` re

[2020-11-25 16:19] ColinFendrick commented on #1191
I have created a PR for this[here](https://github.com/layer5io/layer5/pull/1193). Notes on some styling adjustments I think should occur are in the comments.

[2020-11-25 21:04] OlushesiToheeb commented on #1192
I want to take this.. Lol

[2020-11-25 21:55] leecalcote commented on #1192
Ha! Perfect.

[2020-11-26 00:06] #714 closed

[2020-11-26 08:17] Rupesh-2003 commented on #1187
I would like to work on it.

[2020-11-26 09:33] Ruth-ikegah commented on #1187
Nice! You have been assigned the issue @Rupesh-2003

[2020-11-26 17:23] leecalcote commented on #1187
Witness @NupurThakur27's graduation from the MeshMate program. What a wonderful moment this is. Such a thing to be celebrated. Hats off to, Nupur. She will be missed.

[2020-11-26 19:41] Jashpatel1 opened #1196 "[NG] Add latest blog to layer5-ng"
**Current Behavior**
The [Layer5 at Kubecon blog](https://layer5.io/blog/layer5-at-kubecon-na-2020) has been added recently to layer5 site.

**Desired Situation**
Migrate the blog to layer5-ng site as well. The blogs on layer5-ng can be found [here](https://layer5ng.netlify.app/blog).

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-genera

[2020-11-27 00:54] akashgp09 commented on #1196
I would like to work on this.

[2020-11-27 02:41] Jashpatel1 commented on #1196
Sure, please go ahead

[2020-11-27 14:27] OlushesiToheeb opened #1197 "In addition - Layer5-ng Contribtution.md"
**Description**

![image](https://user-images.githubusercontent.com/46800177/100457142-cb25b700-30c1-11eb-99b6-c3744dd2d724.png)
Since the layer5-ng is running on Node I would suggest this should be
`make setup-libs` / `npm install` - To install the dependencies for running the site.
`make site` / `npm start` - To run the website locally.

---
**Contributor Resources**
The `layer5` repo contains t

[2020-11-27 14:40] akashgp09 commented on #1197
both the command **make setup-libs** and **make site** are ultimately running **npm install** and **npm start** respectively.

[2020-11-27 14:45] OlushesiToheeb commented on #1197
I do get make: command not found
![image](https://user-images.githubusercontent.com/46800177/100460521-9d437100-30c7-11eb-90dc-fc224cdeaf45.png)

[2020-11-27 14:50] akashgp09 commented on #1197
Which OS are you using ?
try **mingw32-make site**

[2020-11-27 15:08] Nikhil-Ladha commented on #1197
Well, that doesn't imply that there is a typo in the doc 🙂. You need to install the `make` tool to use it.

[2020-11-27 15:12] OlushesiToheeb commented on #1197
Oh yea maybe I shouldn't have to say typo error.

[2020-11-27 17:28] leecalcote commented on #1197
@vijcheru will you point @OlushesiToheeb to the Windows instructions that you've written and post a request for comment in #general?

[2020-11-29 04:22] Jashpatel1 commented on #1171
Yes

[2020-11-29 04:25] lolyparty commented on #1171
Ok, on it.

[2020-11-29 06:07] Nikhil-Ladha commented on #1003
It's fixed now :)

[2020-11-29 06:07] #1003 closed

[2020-11-29 09:03] Nikhil-Ladha commented on #1090
I think this issue is resolved already?
@leecalcote , @Tanuj22 , @Jashpatel1

[2020-11-29 09:05] Nikhil-Ladha commented on #1172
Hi @Anita-ihuman how this coming up?
If you are not able to move ahead with it, shall I take it up?

[2020-11-29 12:05] leecalcote commented on #1090
@Nikhil-Ladha good question. This particular issue remains to be completed -
![346E4CFD-44D4-448D-BC85-F73AA9111EE9](https://user-images.githubusercontent.com/7570704/100541332-e3ecb480-3208-11eb-9802-d29936201fef.jpeg)

[2020-11-29 13:56] Anita-ihuman commented on #1172
Hi @Nikhil-Ladha  I was just talking withTanuj yesterday on how I can fix this issue, but you take it up.

[2020-11-29 13:57] Anita-ihuman commented on #1172
If it is ok with you tho I would like to watch you fix the issue perhaps on a call?

[2020-11-29 16:06] OlushesiToheeb commented on #1090
@leecalcote kindly check this and give me the right details so it can be implemented

[2020-11-29 16:12] Nikhil-Ladha commented on #1090
It is right, you can update it.

[2020-11-29 16:13] OlushesiToheeb commented on #1090
Okay Thanks @Nikhil-Ladha

[2020-11-30 15:14] #1187 closed

[2020-11-30 15:26] chandrashritii opened #1205 "[NG] Revamp the MeshMates page"
**Desired Situation**

Revamp the [MeshMates](https://layer5ng.netlify.app/community/meshmates) page on Layer5-ng

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses Jekyl

[2020-11-30 15:27] chandrashritii commented on #1205
@OmkarPh Would you like to take this up?

[2020-11-30 15:28] OmkarPh commented on #1205
Yes ✌️

[2020-11-30 15:29] chandrashritii opened #1206 "[NG] Integrate new font"
**Current Behavior**

Layer5 uses Open Sans as our official font across all our sites, both for paragraphs as well as headings.

**Desired Situation**

We will now be using **Quanelas Soft** for headings and continue with Open Sans for paragraphs or in situations where Quanelas Soft cannot be loaded. The font is ready to be [installed](https://drive.google.com/drive/u/0/folders/1NfWLitxhb3l8zXz7jd

[2020-11-30 15:40] chandrashritii opened #1207 "[NG] Add new sections"
**Desired Situation**

Add the following, new component sections on Layer-ng:

- [x]  Do I need a service mesh?
- [x]  What is a service mesh?

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5

[2020-11-30 15:41] chandrashritii commented on #1207
@OmkarPh Take it away 👍🏻

[2020-11-30 16:22] OmkarPh commented on #1207
Yep 👍

[2020-11-30 20:15] adekanyetomie commented on #1197
@OlushesiToheeb I got this on my end
<img width="364" alt="Screenshot 2020-11-30 at 21 12 52" src="https://user-images.githubusercontent.com/32320578/100659574-1acde200-3351-11eb-839d-839b4f25e3d3.png">

[2020-12-01 06:03] Jashpatel1 opened #1208 "[NG] Revamp the Brand Page"
**Current Behavior**
The current brand page has cards for each section. The page can be found [here.](https://layer5ng.netlify.app/brand)

**Desired Behavior**
Remove the cards and make it a simple layout. You can take inspiration from [here.](https://www.hashicorp.com/brand)

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of t

[2020-12-01 06:03] Jashpatel1 commented on #1208
@OlushesiToheeb will you take this up?

[2020-12-01 09:23] OlushesiToheeb commented on #1208
yes I'll

[2020-12-02 01:47] leecalcote opened #1211 "[NG] Landscape: Update all service mesh icons to SVGs"
**Current State:**
Some service mesh logos in the landscape timeline are pngs.

**Desired State:**
All should be SVGs. See the layer5 repo for a complete set of service mesh icon svgs.

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mesh-landscape)Site content is found under the [`master`

[2020-12-02 16:52] Jashpatel1 commented on #1196
Closing with #1202

[2020-12-02 16:52] #1196 closed

[2020-12-02 18:29] vijcheru commented on #1197
Sure Lee, I will do that right
away.

On Fri, Nov 27, 2020, 11:28 Lee Calcote <notifications@github.com> wrote:

[2020-12-03 06:02] Jashpatel1 commented on #928
Any progress here guys? @k-guy-dev

[2020-12-03 06:03] Jashpatel1 commented on #934
@Neilblaze @vinayaksh42 Any progress here?

[2020-12-03 06:05] Jashpatel1 commented on #980
Any plans on how to work upon this @vinayaksh42 ?

[2020-12-03 08:01] #1190 closed

[2020-12-03 09:07] k-guy-dev commented on #928
@Jashpatel1 sorry for the inactivity. You can take over this issue.

[2020-12-03 12:42] Nikhil-Ladha commented on #1172
Assigning this issue to @OlushesiToheeb as you are already working on revamping the brand page, it can be done along with that.

[2020-12-03 18:56] leecalcote opened #1215 "[NG] News: KubeCon+CloudNativeCon: Service Mesh Battle Stories and Fixes"
We're in the news! Using the contributing instructions for [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news), please add the following article to the Layer5 Newsroom. Note: this issue is for the `layer5-ng` branch (site).

**Article:**
- Title: KubeCon+CloudNativeCon: Service Mesh Battle Stories and Fixes
- Link: https://thenewstack.io/kubeconcloudnativecon-

[2020-12-03 19:01] leecalcote opened #1216 "[News] KubeCon+CloudNativeCon: Service Mesh Battle Stories and Fixes"
We're in the news! Using the contributing instructions for [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news), please add the following article to the Layer5 Newsroom.

**Article:**
- Title: KubeCon+CloudNativeCon: Service Mesh Battle Stories and Fixes
- Link: https://thenewstack.io/kubeconcloudnativecon-service-mesh-battle-stories-and-fixes/

---
**Contribut

[2020-12-04 00:38] leecalcote opened #1217 "[NG] Add subscribe component to Service Mesh Patterns page"
**Current Behavior**
Please add the mailing list subscriber to this page - https://layer5ng.netlify.app/books/service-mesh-patterns

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website

[2020-12-04 02:30] leecalcote commented on #928
@k-guy-dev, no sweat. Plenty of other issues where this comes from. Thank you for signaling on this one.

[2020-12-05 09:37] Tanuj22 opened #1220 "[NG] Use <a> tags instead of <Link>"
**Desired Situation**
In [SocialLinks](https://github.com/layer5io/layer5/blob/layer5-ng/src/components/SocialLinks/index.js) component use `<a>` tags instead of `<Link>` for all the links

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

[2020-12-06 04:23] Nikhil-Ladha commented on #1185
@adekanyetomie

[2020-12-06 08:15] #1166 closed

[2020-12-06 17:42] leecalcote opened #1223 "[NG] New Post Wanted: Functional Testing with Cypress in Meshery UI"
**Current Behavior**
@ramrodo delivered a great presentation on Cypress and considerations for its use.

**Desired Behavior**
A follow up blog post accompanied with slides from [the presentation](url) would be a nice addition.

- Title: _Functional Testing with Cypress in Meshery UI_
- Ideal post content:
  - What Meshery UI and the Meshery Provider UI are and why end-to-end testing is necessary

[2020-12-06 18:57] thadanipaarth commented on #1220
Is this issue still open @Tanuj22 ? I'd like to work on it!

[2020-12-06 18:58] Tanuj22 commented on #1220
@thadanipaarth please go ahead

[2020-12-06 19:23] #1211 closed

[2020-12-07 01:55] leecalcote commented on #1126
We should be ready for this. The GraphQL query doesn't need to identify the names of specific categories. Rather, it just needs to query for all posts, group and count them by category name. Category name should be read from the .mdx frontmatter.

[2020-12-07 03:38] leecalcote commented on #1220
Excellent. Good of you to jump in, @thadanipaarth. 👍

[2020-12-07 08:27] #392 closed

[2020-12-07 12:23] Jashpatel1 opened #1226 "[NG] Add some description text to certain pages present on layer5-ng"
**Current Behavior**
A few pages on the layer5-ng website do contain only collections and no description on the type or category of collections.

**Desired Behavior**
Add a description to [projects](https://layer5ng.netlify.app/projects), [learn](https://layer5ng.netlify.app/learn), [book](https://layer5ng.netlify.app/learn/books), [workshops](https://layer5ng.netlify.app/learn/workshops), and [pr

[2020-12-07 12:24] Jashpatel1 commented on #1226
@leecalcote @chandrashritii ^^

[2020-12-07 13:11] Jashpatel1 commented on #609
@chandrashritii Any progress here?

[2020-12-07 13:11] Jashpatel1 commented on #725
@leecalcote Is it addressed completely?

[2020-12-07 13:13] Jashpatel1 commented on #1071
@Tanuj22 Any progress here?

[2020-12-07 13:14] Jashpatel1 commented on #1090
@OlushesiToheeb @leecalcote @Nikhil-Ladha Any progress here?

[2020-12-07 13:14] Jashpatel1 commented on #1171
@lolyparty Any progress here?

[2020-12-07 13:16] Jashpatel1 commented on #1191
Closing with #1193

[2020-12-07 13:16] #1191 closed

[2020-12-07 13:18] Jashpatel1 commented on #1206
@chandrashritii @Tanuj22 Is this addressed completely?

[2020-12-07 14:18] OlushesiToheeb commented on #1090
my next *PR* will have the updated version

[2020-12-07 16:18] leecalcote commented on #725
@Jashpatel1, other than issues with the overall size of the menu and the desire to move away from showing the two feature highlights as cards, yes.

[2020-12-07 16:49] lolyparty commented on #1171
Yes, just having difficulty adding the table in layer5-ng

[2020-12-07 18:48] leecalcote commented on #725
We can open a new issue for the other mega menu items, @vineethvanga18

[2020-12-07 18:52] leecalcote opened #1229 "[News] Service Mesh Offers Promising Solution for Cloud Native Networking"
We're in the news! Using the contributing instructions for [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news), please add the following article to the Layer5 Newsroom.

**Article:**
- Title: Service Mesh Offers Promising Solution for Cloud Native Networking
- Link: http://www.enterprisenetworkingplanet.com/datacenter/datacenter-blog/service-mesh-cloud-native-

[2020-12-07 18:53] leecalcote opened #1230 "[NG] News: Service Mesh Offers Promising Solution for Cloud Native Networking"
We're in the news! Using the contributing instructions for [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news), please add the following article to the Layer5 Newsroom.

**Article:**
- Title: Service Mesh Offers Promising Solution for Cloud Native Networking
- Link: http://www.enterprisenetworkingplanet.com/datacenter/datacenter-blog/service-mesh-cloud-native-

[2020-12-07 18:55] leecalcote commented on #1215
@bartkalanski how comfortable are you feeling with Gatsby issues? Perhaps, pick this one up?

[2020-12-07 19:13] #1216 closed

[2020-12-07 19:24] bartkalanski commented on #1215
I haven't got any Gatsby experience, but I'm comfortable with JS and React so perhaps this could be a good learning opportunity ? I'm happy to have a go!

[2020-12-07 19:59] leecalcote commented on #1215
Good deal. There is little doubt that you’ll be successful in that contributing in this particular area is rather similar to the current Jekyll-based site.

[2020-12-07 21:12] #1206 closed

[2020-12-07 23:33] vineethvanga18 commented on #725
Okay @leecalcote. Do you want me to do that?

[2020-12-08 02:00] leecalcote commented on #725
Yes, please.

[2020-12-08 02:02] leecalcote opened #1232 "[NG] Community: Recognizing Jome Favorite as a Contributor and Community Member"
**Current Behavior**
@jomefavourite has been a consistent contributor and community member.

**Desired Behavior**
A profile for @jomefavourite should be created and visible on `/community/members` on next generation layer5.io site.

- Github: https://github.com/jomefavourite
- Twitter: FavouriteJome1
- LinkedIn: jome-favourite-677766184
- Profile picture: https://media-exp1.licdn.com/dms/image/C4D

[2020-12-08 02:29] vineethvanga18 opened #1233 "[NG] reduce the size of megamenu"
**Current Behavior**

The current megamenu is slightly large
![Screenshot from 2020-12-08 07-54-27](https://user-images.githubusercontent.com/44473939/101430398-ed71cd00-392a-11eb-82dc-dc7d78878955.png)

**Desired Situation**

Reduce the overall size of this menu

**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site

[2020-12-08 02:32] leecalcote commented on #1233
Thank you, @vineethvanga18

[2020-12-08 02:43] vineethvanga18 commented on #725
@leecalcote should the images be displayed as cards?

[2020-12-08 02:43] vineethvanga18 commented on #725
Also should I close this issue now?

[2020-12-08 02:48] leecalcote commented on #725
Sounds real good, yes. Mission accomplished here.

[2020-12-08 02:49] #725 closed

[2020-12-08 02:53] vineethvanga18 opened #1234 "[NG] image sizing in megamenu"
**Current Behavior**

Currently image sizes in megamenu are not the same
![Screenshot from 2020-12-08 08-21-40](https://user-images.githubusercontent.com/44473939/101432284-97068d80-392e-11eb-898d-ed9a549862f5.png)

**Desired Situation**

Use card component around these images and resize them

**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-ge

[2020-12-08 02:55] leecalcote commented on #1234
@vineethvanga18 will you identify the ideal image size and ideal aspect ratio for images to fit into these spots?

[2020-12-08 02:56] leecalcote commented on #1234
@vineethvanga18, you can add a section in the site design spec to document this - https://docs.google.com/document/d/1rvUZy2_S1a2_14BAQIg6b9cMhUuu04kYzkOPDPaPptI/edit#

[2020-12-08 02:57] vineethvanga18 commented on #1234
@leecalcote yes, maybe we can use cards in https://layer5ng.netlify.app/blog

[2020-12-08 03:00] Nikhil-Ladha commented on #1090
Will your next PR add the LinkedIn profile for all the community members? If they have one?

[2020-12-08 04:44] #1184 closed

[2020-12-08 07:23] OlushesiToheeb commented on #1090
No @Nikhil-Ladha, just this one actually or is there anyone you want me to add on the layer5-ng

[2020-12-08 07:26] Nikhil-Ladha commented on #1090
What does 'this' refer here?

[2020-12-08 07:28] OlushesiToheeb commented on #1090
**linkedIn: dev-kalra-b94282160**

[2020-12-08 07:33] Nikhil-Ladha commented on #1090
Okay, ypu can update that one. Though the updated id is mentioned in the above comments use that one ( https://github.com/layer5io/layer5/issues/1090#issuecomment-723902542).

And, @Jashpatel1 this will solve actually a part of this issue. The bigger issue is adding the LinkedIn profile for all of them, so will you create an 'epic' issue for that?

[2020-12-08 15:30] kishore007k commented on #1185
Is there any kind of design for this page? That we can use. @Jashpatel1

[2020-12-08 15:42] Nikhil-Ladha commented on #1185
@kishore007k , @adekanyetomie is working on some designs. So, you can take up other issues for the time being.

[2020-12-08 16:30] kishore007k commented on #1185
Ok @Nikhil-Ladha

[2020-12-08 16:36] leecalcote opened #1237 "[NG] Community: Recognizing Augustine Ogiza as a Contributor and Community Member"
**Current Behavior**
@austinogiza has been a consistent contributor and community member.

**Desired Behavior**
A profile for @austinogiza should be created and visible on `/community/members` on next generation layer5.io site.

- Github: https://github.com/austinogiza
- Twitter: austinogiza
- LinkedIn: augustine-ogiza-b1730691
- Profile picture: https://media-exp1.licdn.com/dms/image/C4D03AQEkdML

[2020-12-09 02:16] leecalcote commented on #1185
// @austinogiza

[2020-12-09 02:20] leecalcote commented on #1234
@vineethvanga18 good suggestion, however, it ends up being too many cards on cards.

[2020-12-09 04:00] subnetmarco opened #1239 "[Landscape] Kuma"
**Current State:**

It is stated that Kuma doesn't support proxy auto injection.

**Desired State:**

Kuma does indeed support proxy auto injection in Kubernetes environments.

Also: What is the criteria to adding projects in your "Comparison of Service Mesh Strengths" section at the top, and how can Kuma be included in it?

---
**Contributor Resources**
- [Instructions for updating the landscape]

[2020-12-09 05:15] Jashpatel1 opened #1240 "[NG] Community: Recognizing Omkar Phansopkar as a Contributor and Community Member"
**Current Behavior**
@OmkarPh  has been a consistent contributor and community member.

**Desired Situation**
A profile for @OmkarPh  should be created and visible on `/community/members` on next generation layer5.io site.

- Github: https://github.com/OmkarPh
- Twitter: https://twitter.com/omkarphansopkar/
- LinkedIn: https://www.linkedin.com/in/omkarphansopkar
- Profile picture: @OmkarPh can you

[2020-12-09 05:17] leecalcote commented on #1240
Whoo-hoo! 🎈

[2020-12-09 05:25] nik-redhat commented on #1239
@subnetmarco thank you for opening this issue and bringing it to our notice. I will soon be sending out a PR to update the same on the landscape :)

[2020-12-09 05:26] Nikhil-Ladha commented on #1239
@subnetmarco thank you for opening this issue and bringing it to our notice. I will soon be sending out a PR to update the same on the landscape :)

[2020-12-09 05:32] OmkarPh commented on #1240
Thanks✌️

[2020-12-09 06:24] pjzzz commented on #1229
I would like to work on this issue.

[2020-12-09 06:28] pjzzz commented on #1229
Since there is no image in the news article Layer5 logo appears or something else is expected.
![layer5](https://user-images.githubusercontent.com/35733240/101593348-c9d78100-3a15-11eb-9180-2a2037e49a4a.png)

[2020-12-09 07:18] kishore007k commented on #1230
@leecalcote, Is there some Image for this `news` to show on the site? I can't find any Image from the News article.

[2020-12-09 12:54] Ruth-ikegah opened #1243 "[NG] Community: Recognizing Utkarsh Srivastava as a Contributor and Community Member"
**Current Behavior**

@utkarsh-pro has been a consistent contributor and community member.

**Desired Situation**

A profile for @utkarsh-pro should be created and visible on /community/members on the next-generation layer5.io site.

- Github: https://github.com/utkarsh-pro
- Twitter:
- LinkedIn and Profile picture: @utkarsh-pro please can you provide a link to your LinkedIn, Twitter, and a profil

[2020-12-09 13:14] MaximeCoignus commented on #1237
Hi @leecalcote, @Ruth-ikegah,

Can I take this one?

[2020-12-09 13:16] Ruth-ikegah commented on #1237
sure! Assigned to you now

[2020-12-09 15:31] OmkarPh commented on #1240
[Profile picture](https://user-images.githubusercontent.com/48476025/101649974-75f28980-3a61-11eb-9184-94388fb31049.jpg)

[2020-12-09 18:19] chandrashritii opened #1244 "[NG] [Blog] New Post Wanted: Buf protocols"
**Current Behavior**

@kalradev presented a highly informative presentation on Buf, followed by a demo.

**Desired Situation**

A post to follow up and elaborate on the topic, with insights from the [original presentation](https://docs.google.com/presentation/d/1lnZq-d-Q__Mxhay0psJ-TAuKOLHApxOC1xeLy4HxCxE/edit?usp=sharing)

Tentative Title: Buf - Rethinking Protocol Buffers
Content:
- What is Buf?

[2020-12-10 01:02] jomefavourite commented on #1232
I'm sorry, I changed my username so it LinkedIn: favourite-jome-677766184

[2020-12-10 04:53] PluckyPrecious opened #1247 "[NG] Community: Recognizing Lolyparty as a Contributor and Community Member"
**Current Behavior**
 @lolyparty has been a consistent contributor and community member.

**Desired Situation**
A profile for @lolyparty should be created and visible on /community/members on next generation layer5.io site.

Github: https://github.com/lolyparty
Twitter: lolyparty
LinkedIn: olayiwola-ololade-064933168
Profile picture: https://i.postimg.cc/vZkSsNq5/IMG-20180929-155636.jpg

---
**Con

[2020-12-10 04:54] leecalcote commented on #1247
Yay, @lolyparty! 🎈

[2020-12-10 05:00] PluckyPrecious commented on #1192
fixed in #1224

[2020-12-10 05:00] #1192 closed

[2020-12-10 09:18] Nikhil-Ladha commented on #1220
Hey @thadanipaarth , how's it coming up? If stuck anywhere feel free to drop your question in the websites channel in our [slack](layer5io.slack.com
) workspace.

[2020-12-10 09:23] Nikhil-Ladha commented on #1207
I think this issue is complete, but I couldn't find the link to check it out. Can some paste the link here?

[2020-12-10 09:25] Nikhil-Ladha commented on #1197
I think we are good to close this issue, please re-open it if you have any other concerns @OlushesiToheeb

[2020-12-10 09:25] #1197 closed

[2020-12-10 09:27] Nikhil-Ladha commented on #1208
Hey, @OlushesiToheeb any progress here?

[2020-12-10 09:28] Nikhil-Ladha commented on #558
The issue is fixed, I just checked it. @leecalcote can you please confirm it from your end too?

[2020-12-10 09:32] thadanipaarth commented on #1220
I have made the changes and will create PR by EOD. I was going through the documentation of Gatsby and was trying to figure out why exactly are we making this change (https://www.gatsbyjs.com/docs/linking-between-pages/), the documentation mentions this  but reasoning is not provided.

[2020-12-10 09:44] KarenEfereyan commented on #1247
Lovely

[2020-12-10 09:51] OmkarPh commented on #1207
Actually it's just a section I built for the new home page.
I included it in home page for preview and once everything was reviewed by @Jashpatel1 removed it again.

[2020-12-10 10:02] KarenEfereyan commented on #1247
And I always thought lolyparty was a girl. Nice one anyway

[2020-12-10 10:07] lolyparty commented on #1247
Lol no, we did HNG internship together and we were in the same group. Don't know if you can remember.

[2020-12-10 10:43] Tanuj22 commented on #1220
<Link> is used for navigating in between pages of the site. It prevents reloading of the site and hence doesn't destroy the states which would have occurred for <a>. In this issue all the links point to external sites so there is not need for <Link>. So it says to replace it with <a>

[2020-12-10 11:34] #1237 closed

[2020-12-10 11:36] thadanipaarth commented on #1220
Okayy, I have created the PR. Have a look! I took the liberty to open the social media pages in a new window.

[2020-12-10 11:39] MaximeCoignus commented on #1243
Hi @Ruth-ikegah,

Can I take this one up?

[2020-12-10 11:40] MaximeCoignus commented on #1247
Hi @Ruth-ikegah,

Can I take this one up?

[2020-12-10 11:41] Ruth-ikegah commented on #1243
Sure! You have been assigned to it!

[2020-12-10 11:52] lolyparty commented on #1247
Yes, you can. p. s. My Twitter handle has changed to `lolyparty`

[2020-12-10 12:05] Jashpatel1 commented on #1168
@Nikhil-Ladha @WLun001 Any progress here?

[2020-12-10 12:08] Jashpatel1 commented on #1240
@MaximeCoignus A similar issue you are working upon.

[2020-12-10 12:10] MaximeCoignus commented on #1240
Hi @Jashpatel1, sure.

[2020-12-10 12:12] Jashpatel1 commented on #1220
Closing with #1249

[2020-12-10 12:12] #1220 closed

[2020-12-10 12:14] Nikhil-Ladha commented on #1168
I will update it, no worries.

[2020-12-10 13:00] #1168 closed

[2020-12-10 14:24] PluckyPrecious commented on #1247
Hey @MaximeCoignus would you like to add this issue #1232 as you’ll be working on same file?

[2020-12-10 14:29] Nikhil-Ladha commented on #1239
Tagging @leecalcote and @dhruv0000 here for the same.

[2020-12-10 14:35] Nikhil-Ladha commented on #1239
@subnetmarco you might also wanna look at https://layer5.io/landscape#smi table to get some reference about the same.

[2020-12-10 14:54] dhruv0000 commented on #1239
Hey @subnetmarco. The meshes represented in the section are the ones that are active part of the initiavities we are involved in. One such initiative is [SMI](https://smi-spec.io/). Kuma’s participation in [SMI conformance testing initiative](https://layer5.io/projects/service-mesh-interface) will significantly bolster Kuma's chances of landing in the comparison section. You can check out our ongo

[2020-12-10 19:57] #1215 closed

[2020-12-10 22:50] leecalcote commented on #1229
Hi @pjzzz, yes, that'll work... apologies... we need this up immediately. I'm going to post now.

[2020-12-11 05:58] leecalcote commented on #1230
Here we are...

![enterprise-networking-planet](https://user-images.githubusercontent.com/7570704/101868761-a874b300-3b43-11eb-9b14-ccf0ef1ff63f.png)

[2020-12-11 06:03] leecalcote commented on #1229
@pjzzz thank you for picking up this issue. A time-sensitive need caused me to knock this one out quickly earlier today. There  are a few other open issues similar in nature to this one that you are welcome to, though.

[2020-12-11 06:03] #1229 closed

[2020-12-11 06:14] pjzzz commented on #1229
@leecalcote Oh Okay. I will look for other similar issue and try working on them :)

[2020-12-11 07:39] OlushesiToheeb commented on #1208
Yes @Nikhil-Ladha, am on it

[2020-12-11 07:42] pjzzz opened #1256 "[NG] Community : Contributor and Community Member Profile Template"
**Current Behavior**

Community Members need to mimic a fellow member.

**Desired Situation**

A generic Member Profile Template with instructions to add New Community Members to the new Website.

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io

[2020-12-11 09:38] Jashpatel1 commented on #1256
@pjzzz Thanks for opening this up. Would you mind to work upon this issue?

[2020-12-11 09:49] pjzzz commented on #1256
Yeah I am working on it. But I need some help. Since we dont want to create this member-template page similar to skipping news-template I added the attribute _published: false_ but I think that way we will need to add this attribute to all members and maybe also make changes in gatsby-node.js.  What exactly is the way to approach this?

[2020-12-11 09:57] Tanuj22 commented on #1256
Yes you are correct. `published` attribute will have to added to all the profiles. Then in the gatsby node query for only the published true and and also in `section/Members-gird/`

[2020-12-11 09:57] Tanuj22 commented on #1256
If you need more help please feel free to ping me on slack :)

[2020-12-11 15:04] lolyparty commented on #1171
![layer5 jekyll](https://user-images.githubusercontent.com/49575651/101918917-40b57b00-3bca-11eb-8cc7-f46f6483c699.png)

Hey, @Jashpatel1 I can't seem to style the table is there a way I can do that?

[2020-12-11 20:01] #1256 closed

[2020-12-11 20:02] #1247 closed

[2020-12-11 20:02] #1243 closed

[2020-12-12 03:22] PluckyPrecious commented on #1232
Hey @jomefavourite could you kindly provide a short bio, thanks.

[2020-12-12 06:31] jomefavourite commented on #1232
Something short right?

[2020-12-12 06:59] PluckyPrecious commented on #1232
Right. One or two lines.👌🏽

[2020-12-12 08:29] jomefavourite commented on #1232
Okay

Aspiring Fullstack Developer, with an enthusiasm for learning.

[2020-12-12 14:54] #1232 closed

[2020-12-14 05:07] kishore007k commented on #1217
So We simply have to add the subscribe component at the bottom of the page?

[2020-12-14 21:43] #1126 closed

[2020-12-14 21:43] #567 closed

[2020-12-15 03:38] Jashpatel1 commented on #1230
Closed with #1267

[2020-12-15 03:38] #1230 closed

[2020-12-15 11:26] leecalcote commented on #1217
@kishore007k yes, that’s right. So that when someone is intrigued by the book and wants to know when it comes out, theyhave an opportunity to subscribe.

[2020-12-15 11:29] kishore007k commented on #1217
What the users will be subscribing to, Is it like a mail address or something like in the `home page`?

[2020-12-15 19:45] leecalcote commented on #1217
layer5.io/subscribe

[2020-12-16 10:24] Tanuj22 commented on #1090
FIxed in #1263

[2020-12-16 10:24] #1090 closed

[2020-12-16 11:58] brinal8055 opened #1275 "Subscribe Link"
**Description**
At the bottom of "Service Mesh Patterns" introductory page, _Subscribe below for updates on this book._  is a simple text.

**Expected Behavior**
Rather than Simple text it should be **Hyperlink Text** .

**Screenshots**
![1](https://user-images.githubusercontent.com/55130735/102345691-c7e86180-3fc3-11eb-930b-ca5b1c80b44f.png)

---

[Optional] **To Reproduce**
Steps to reproduce th

[2020-12-16 12:00] Jashpatel1 commented on #1275
@brinal8055 Thanks for opening this up. Will you like to take this up?

[2020-12-16 12:19] Nikhil-Ladha commented on #1275
Hi, @brinal8055 thanks for exploring our upcoming site. But as the statement says 'Subscribe **below** for updates on this book', by which it means to check for a subscribe component below which we have in our footer. And I think that's evident from the text itself.
Or if the text would have something like 'Please `Subscribe Us` for more updates on this book' then it should have been a hyperlink.

[2020-12-16 12:38] Jashpatel1 commented on #1275
I totally agree with Nikhil's point. But for the time being, we work on the component, @brinal8055 you can add this link for now: https://layer5.io/subscribe

[2020-12-16 13:35] Jashpatel1 commented on #1275
Closing with #1277

[2020-12-16 13:36] #1275 closed

[2020-12-17 01:45] leecalcote opened #1279 "[NG] Link Blog Author to Member Profile"
**Desired Feature**
Blog author names should be automatically hyperlinked to their member profile.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses Jekyll and GitHub Pa

[2020-12-17 04:46] OmkarPh commented on #1279
I'd like to take this one

[2020-12-17 04:47] leecalcote commented on #1279
Beautiful.

[2020-12-17 15:44] Jashpatel1 commented on #1217
Closing with #1280

[2020-12-17 15:45] Jashpatel1 commented on #1217
1.

[2020-12-17 15:45] #1217 closed

[2020-12-17 15:49] kishore007k commented on #1185
Closing with #1280

[2020-12-17 15:55] Jashpatel1 commented on #1185
@kishore007k I think Omkar and Tomi are working on this.

[2020-12-17 15:56] kishore007k commented on #1185
Oh sorry wrong issue😅

[2020-12-21 16:30] chandrashritii commented on #1185
Call for pictures to be added to the Newcomers page [@Nikhil-Ladha, @shivaylamba]

@adekanyetomie
- Use kepple green (darker green) for links

[2020-12-21 17:08] Nikhil-Ladha commented on #1185
Infact everyone are welcome to share 😆

[2020-12-21 18:53] draychev opened #1292 "Incorrect logo next to Meshery adapter for Open Service Mesh"
On the https://layer5.io/meshery page, next to `Meshery adapter for Open Service Mesh`, the logo placed is for Octarine instead of OSM.  The OSM logo is already available on layer5.io [here](https://layer5.io/assets/images/service-mesh-icons/osm.svg).

Screenshot:
![image](https://user-images.githubusercontent.com/49918230/102811473-3a699080-437a-11eb-8273-d8d1a62fc09c.png)

**Expected Behavior**

[2020-12-21 21:29] Harshita-Kanal commented on #1292
Can I take this up?

[2020-12-21 21:29] Harshita-Kanal commented on #1292
Can I take this up?

[2020-12-21 21:31] leecalcote commented on #1292
@Harshita-Kanal, yes, please. Thank you for highlighting this issue, @draychev. :thu

[2020-12-21 21:34] leecalcote commented on #1186
I believe that we're good to go here. Please reopen if you find differently, @kmlhsn.

[2020-12-21 21:34] #1186 closed

[2020-12-21 21:35] leecalcote commented on #1226
A little snark will go a long way. Thank you for tasking me here, @Jashpatel1

[2020-12-21 23:26] #1292 closed

[2020-12-22 04:24] Jashpatel1 commented on #1223
Closing with #1278

[2020-12-22 04:24] #1223 closed

[2020-12-22 04:26] Jashpatel1 commented on #609
Closing due to inactivity.

[2020-12-22 04:26] #609 closed

[2020-12-22 04:28] Jashpatel1 commented on #980
Closing due to inactivity.

[2020-12-22 04:28] #980 closed

[2020-12-22 04:29] Jashpatel1 commented on #1172
@OlushesiToheeb Any progress here?

[2020-12-22 04:29] Jashpatel1 commented on #1205
@OmkarPh Any progress here?

[2020-12-22 04:30] Jashpatel1 commented on #1207
@OmkarPh Any progress in the second section?

[2020-12-22 04:31] Jashpatel1 commented on #1208
@OlushesiToheeb We are in a bit of a hurry due to launching the site soon. Can you do it a bit earlier?

[2020-12-22 04:31] Jashpatel1 commented on #1233
@vineethvanga18 @leecalcote Is it completed?

[2020-12-22 04:31] Jashpatel1 commented on #1234
@leecalcote @vineethvanga18 Is it completed?

[2020-12-22 04:32] Jashpatel1 commented on #1244
@kalradev Any progress here?

[2020-12-22 19:19] leecalcote opened #1296 "[NG] Community: Add "MeshMate" filter to community members list"
**Current Behavior**
MeshMates are individuals that freely give of their time to enable and grow others. Their works are appreciated and they as individuals should be highlighted.

**Desired Behavior**
Add "MeshMate filter to this dropdown on the https://layer5ng.netlify.app/community/members/ page:

<img width="285" alt="Screen Shot 2020-12-22 at 1 18 37 PM" src="https://user-images.githubusercon

[2020-12-22 19:44] vineethvanga18 commented on #1234
@Jashpatel1 yes.
Iam closing this along with #1233

[2020-12-22 19:44] #1234 closed

[2020-12-22 19:45] #1233 closed

[2020-12-22 21:49] Harshita-Kanal commented on #1296
Can I take this up?

[2020-12-22 21:50] leecalcote commented on #1296
That would be much appreciated, @Harshita-Kanal 👍

[2020-12-23 22:40] #1296 closed

[2020-12-24 08:19] #1279 closed

[2020-12-24 13:05] Jashpatel1 commented on #1207
Closing with #1213, #1294

[2020-12-24 13:05] #1207 closed

[2020-12-24 21:42] leecalcote opened #1302 "[Project] SMI Conformance: Multi-dimensional table"
@dhruv0000 we're in need of a multi-dimensional table. Are you thinking of adding a dropdown to choose between SMI versions?

_Originally posted by @leecalcote in https://github.com/layer5io/layer5/pull/1299#discussion_r548547192_

[2020-12-24 21:43] leecalcote opened #1303 "[Project] SMI Conformance: Alternating row colors/common stylesheet"
Infact I don't get the reason for creating a seperate file for the table as well. Even that can be reused.

_Originally posted by @Nikhil-Ladha in https://github.com/layer5io/layer5/pull/1299#r548544825_

[2020-12-28 17:16] chandrashritii opened #1307 "[NG] Meshery page - Mega Menu"
**Current Behavior**

The menu is not visible on the [Meshery](https://layer5ng.netlify.app/projects/meshery) page because of the blue-green color splash.

**Desired Situation**

 The possible solutions here are to either change mega menu highlight colors so that its visible against the blue-green color splash or add an off-white background to the menu headers.

---
**Contributor Resources**
The `

[2020-12-28 17:18] chandrashritii opened #1308 "[NG] Site - Mega Menu"
**Current Behavior**

The Mega Menu has poor visibility in mobile view.

**Desired Situation**

Add highlights to make it more obvious (Maybe have a shadow or subtle color transitions on either side)

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then th

[2020-12-28 17:21] chandrashritii opened #1309 "[NG] Blogs - Author name"
**Current Behavior**

The author names on individual blog pages are not being highlighted properly.

**Desired Situation**

Add a uniform hover effect for author names (could be an underline, highlights, color transition to kepple green etc.)

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5

[2020-12-28 17:21] chandrashritii commented on #1309
@OmkarPh Would you like to take this up?

[2020-12-28 17:26] chandrashritii opened #1310 "[NG] Workshops Page"
**Desired Situation**

Add a uniform padding for mobile screens on both, the left and right margins so that the content does not look cramped.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5

[2020-12-28 17:26] chandrashritii commented on #1310
@Nikhil-Ladha Will you be taking this up yourself?

[2020-12-28 17:27] chandrashritii commented on #1307
CC// @Jashpatel1

[2020-12-28 17:28] chandrashritii commented on #1308
@Neil-140301 Will you be taking this up?

[2020-12-28 17:33] Neil-140301 commented on #1308
I'll give it a try

[2020-12-28 17:41] Nikhil-Ladha commented on #1310
Yes, Shriti 👍🏼

[2020-12-28 19:36] Tanuj22 commented on #1309
Let me take this. It is to be done centrally for the site

[2020-12-29 03:34] leecalcote commented on #1309
Good to go.

[2020-12-29 03:34] #1309 closed

[2020-12-29 03:40] leecalcote commented on #1308
Ideally, the fact that the user is looking at a (mega) menu is a bit more obvious to them in the mobile view. The following changes should help:
- Add shadow on the left and right sides of the menu (see https://strapi.io mobile menu).
- Change the hamburger menu icon to an "X" or other to distinguish between open and closed.
--- Optional:
- On hover, add a small arrow to the right side of the menu

[2020-12-29 11:09] Tanuj22 commented on #1310
Sorry, @Nikhil-Ladha didn't see that there is an issue for this and you are assigned :sweat_smile: . I fixed it in #1314

[2020-12-29 11:14] Nikhil-Ladha commented on #1310
Dang!
You 😆

[2020-12-29 11:19] Nikhil-Ladha commented on #1310
Fixed in #1314

[2020-12-29 11:19] #1310 closed

[2020-12-29 12:19] chandrashritii opened #1316 "[NG] Community: Recognizing Adekanye Tomi as a Contributor and Community Member"
**Current Behavior**

@adekanyetomie has been a consistent contributor and community member.

**Desired Behavior**
A profile for @adekanyetomie should be created and visible on /community/members on next generation layer5.io site.

 Github: https://github.com/adekanyetomie
 Twitter: adetomiie
 LinkedIn: oluwatomiyin-adekanye-485852150
 Profile picture: https://twitter.com/adetomiie/photo

---
**Co

[2020-12-30 02:39] leecalcote commented on #1316
@chandrashritii will you use this issue as a template for creating this type of issue: - https://github.com/layer5io/layer5/issues/1232? The required information is captured here.

[2020-12-30 02:39] leecalcote commented on #1316
Congratulations, @adekanyetomie!

[2020-12-31 06:40] #1171 closed

[2020-12-31 06:53] Jashpatel1 commented on #1208
Closing with #1320

[2020-12-31 06:53] #1208 closed

[2020-12-31 07:02] Jashpatel1 commented on #934
Closing with #1318

[2020-12-31 07:02] #934 closed

[2020-12-31 07:03] Jashpatel1 commented on #1161
@leecalcote Any updates?

[2020-12-31 07:05] Jashpatel1 commented on #1177
Fixed with new design.

[2020-12-31 07:05] #1177 closed

[2020-12-31 07:07] Jashpatel1 commented on #558
Yes, it is fixed.

[2020-12-31 07:10] Nikhil-Ladha commented on #558
I think it is not for the ng site, @Jashpatel1 can you take a quick look. The feed is fixed to one tweet.

[2020-12-31 07:11] Jashpatel1 commented on #558
Yes, just a small change needed.

[2020-12-31 07:13] Nikhil-Ladha commented on #558
Can you please send the quick PR?

[2020-12-31 12:26] Ruth-ikegah opened #1322 "Add a new issue Template: New Member Profile"
**Current Behavior**

There is no issue template for new member profile, adding an issue template will help make creating that kind of issue easier

**Desired Situation**

- Navigate to https://github.com/layer5io/layer5/tree/master/.github/ISSUE_TEMPLATE
- Add a new md file with the name "New Member Profile"
- Populate it with https://github.com/layer5io/layer5/issues/1316 leaving out spaces for

[2020-12-31 13:36] Elijah699 commented on #1322
@Ruth-ikegah i would love to work on this

[2020-12-31 13:47] Ruth-ikegah commented on #1322
Sure, go ahead!

[2020-12-31 14:34] leecalcote commented on #1322
Thank you, @Ruth-ikegah.

@Elijah699 please reference https://github.com/layer5io/layer5/issues/1243. Care was not taken in the formatting used in #1316

[2021-01-01 04:17] vineethvanga18 commented on #1308
Should we close this? @leecalcote

[2021-01-01 05:13] leecalcote commented on #1308
Way to bring this one home, @vineethvanga18! I wonder if we will circle back to get the optionals here. Maybe... we can close and refer back this issue, though.

[2021-01-01 05:13] #1308 closed

[2021-01-01 12:30] Elijah699 commented on #1316
Can i work on this @Ruth-ikegah

[2021-01-01 12:34] Ruth-ikegah commented on #1316
sure, go ahead

[2021-01-01 17:11] Tanuj22 commented on #1172
Fixed in #1326

[2021-01-01 17:11] #1172 closed

[2021-01-01 18:18] Tanuj22 commented on #1322
Fixed in #1325

[2021-01-01 18:18] #1322 closed

[2021-01-01 20:03] Elijah699 commented on #1316
@chandrashritii there is no information/write-up to fill in for the bio

[2021-01-02 08:42] chandrashritii commented on #1316
@adekanyetomi  Congratulations! Can you provide a short write up to serve as the bio for your community profile? It can be a one liner or a paragraph. You can see examples of community member bios by clicking on any profile on this page -  https://layer5ng.netlify.app/community/members

[2021-01-02 09:29] adekanyetomie commented on #1316
m a creative software engineer focused on implementing scalable solutions, thorough communication, writing efficient code, and collaboration with people. I have strong interest in open-source development, advocacy and community building.

[2021-01-02 19:45] #1316 closed

[2021-01-04 00:17] geraldmaboshe commented on #972
May I try this out?

[2021-01-04 18:49] chandrashritii opened #1339 "[NG] FAQ Page"
**Current Behavior**

The questions are not differentiated based on active or inactive state at the moment.

**Desired Situation**

Denote active questions with a color transition (green to grey or vice versa).
[@leecalcote] FAQ Questions need to be updated with appropriate answers.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generati

[2021-01-04 18:53] chandrashritii opened #1340 "[NG] Testing and Tracking the move to Github pages"
**Task**

This issue is to be used as a tracking point for the move to Github pages. The aim is to build the site, test it locally, report back any roadblocks and fix them before the official move.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this

[2021-01-04 18:53] chandrashritii commented on #1340
CC// @shubhank-saxena

[2021-01-04 19:01] chandrashritii opened #1341 "[NG] Contact Page"
**Current Behavior**

The [contact form](https://layer5ng.netlify.app/company/contact#open) currently opens on the same page.
![Screenshot_2021-01-05 Contact(1)](https://user-images.githubusercontent.com/34476976/103569421-3f3b5200-4eed-11eb-966d-32471f6e1cf4.png)

**Desired Situation**

The form should either open in a modal or on a different page.

---
**Contributor Resources**
The `layer5` repo

[2021-01-04 19:03] chandrashritii commented on #1341
@raghavaggarwal99 Do you want to take this up?

[2021-01-04 19:04] raghavaggarwal99 commented on #1341
Cool

[2021-01-04 20:49] leecalcote commented on #1341
Wait, this isn’t quite what is needed. It’s fine that it opens on the same page. Best to let @Nikhil-Ladha tie this one off.

[2021-01-04 23:48] geraldmaboshe commented on #972
@Tanuj22   @Nikhil-Ladha

[2021-01-05 02:01] Nikhil-Ladha commented on #1341
What we need is a callout to this form on the `faq` page. When, the yser clicks on that callout/button on the faq page then either he should be directed to the contact page with the form 'open'/'visible' or the form can be displayed in a modal in the faq page itself.

I didn't thought about a modal previously, but now I think that might be better. Though @raghavaggarwal99 you are free to implement

[2021-01-05 02:09] Nikhil-Ladha commented on #972
Sure, you can. I think if we intend to go for a dark theme then we will be using the 'jungle green' color as the background for the theme, and not black. Also, work with the appropriate brand colors to see how it goes.

Doing the changes centrally in the themes/app/theme.style.js should be the approach I think.

[2021-01-05 06:02] leecalcote commented on #972
Sounds great, @geraldmaboshe, and like good counsel @Nikhil-Ladha

[2021-01-05 09:51] geraldmaboshe commented on #972
Cool, on it!

[2021-01-05 18:31] raghavaggarwal99 commented on #623
Hi, is this still open @chandrashritii

[2021-01-06 02:49] Nikhil-Ladha commented on #623
@Tanuj22 ^^

[2021-01-06 09:29] Tanuj22 commented on #623
Yes it is @raghavaggarwal99. For starters, we are looking to add a search in https://layer5ng.netlify.app/blog. I had looked a bit into `lunarJS` (https://css-tricks.com/how-to-add-lunr-search-to-your-gatsby-website/). You can follow that or if you think there is a better option please suggest :)

[2021-01-06 13:39] #1302 closed

[2021-01-08 02:06] fatima-ola commented on #1341
I will like to work on this

[2021-01-09 03:14] lolyparty opened #1349 "Make layer5 logo on layer5-ng bigger on screens of width 912px and below"
**Description**

Layer5 logo isn't responsive, it's very tiny on mobile screens(from the width of 912px and below)

**Expected Behavior**

Layer5 logo should be bigger

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current

[2021-01-09 14:06] Tanuj22 commented on #1349
@lolyparty are you working on this or I can include this in my ongoing PR?

[2021-01-09 15:33] lolyparty commented on #1349
No, I'm not working on it. You can include it in your PR

[2021-01-11 20:51] leecalcote opened #1355 "[NG] Interactive Partners page"
**Current Behavior**
Layer5 has a number of partners, but in academia and technology.

**Desired Behavior**
A categorized (by type), alternating list of partners with expandable Learn More panel should be available at layer5.io/partners

**Mockups**
See https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/?node-id=293%3A0

---
**Contributor Resources**
The `layer5` repo contains two websites. The cur

[2021-01-11 20:51] leecalcote commented on #1355
Here we are, @shubhank-saxena.

[2021-01-12 11:04] leecalcote opened #1357 "[NG] Overlap in slider navigation control for Events"
**Description**
<img width="873" alt="Screen Shot 2021-01-12 at 5 02 51 AM" src="https://user-images.githubusercontent.com/7570704/104306515-a29c2580-5493-11eb-80b5-c3e367ab9c57.png">

[2021-01-13 11:09] Jashpatel1 opened #1359 "[Community] Member Profile: Neil Alvares"
**Current Behaviour**

@Neil-140301 has been a consistent contributor and community member.

**Desired Situation**
Let's recognizing @Neil-140301 as a contributor and community member by creating a profile on https://layer5ng.netlify.app/community/members.

- GitHub: Neil-140301
- Twitter:
- LinkedIn: neil-alvares-2986561a0
- Link to profile picture:

---

**Contributor Resources**

The layer5.io

[2021-01-13 14:20] bartkalanski opened #1360 "[NG] Overlap in pricing section of the landing page"
**Description**
![landing-page-bug](https://user-images.githubusercontent.com/61667381/104463992-57286b00-55aa-11eb-8437-50739b309768.png)
---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io w

[2021-01-13 14:57] leecalcote commented on #1359
@Neil-140301! Looking good. 😄

[2021-01-13 15:00] Neil-140301 commented on #1359
Thank you @leecalcote  @Jashpatel1 🥳 😁

[2021-01-14 09:11] Tanuj22 commented on #1349
FIxed in #1346

[2021-01-14 09:11] #1349 closed

[2021-01-14 09:12] Tanuj22 commented on #1185
FIxed in #1346

[2021-01-14 09:12] #1185 closed

[2021-01-14 20:57] Anita-ihuman commented on #1359
Can I take up this issue?

[2021-01-14 20:58] leecalcote commented on #1359
Yes, please. 👍

[2021-01-14 20:59] leecalcote commented on #1359
Link to Neil's profile photo - https://drive.google.com/file/d/1-M2IW_zs1GeFpBKtEyZSFoVaNyv8xGVP/view?usp=sharing

[2021-01-15 20:26] leecalcote opened #1363 "[NG] Add optional hyperlinks to Mega Menu sections"
**Desired Behavior**
Add the option for each menu to have up to two hyperlinks as special callouts.

**Screenshot**
<img width="490" alt="Screen Shot 2021-01-15 at 2 24 44 PM" src="https://user-images.githubusercontent.com/7570704/104775195-93d89b80-573d-11eb-8dc5-f378454b41d9.png">

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generati

[2021-01-16 09:54] #1363 closed

[2021-01-16 12:56] Grumpyyash commented on #1360
I am working on this if it is still open

[2021-01-16 12:59] Nikhil-Ladha commented on #1360
Hi @Grumpyyash this is not an issue for the time being. This site is under development and the page will be redesigned completely.
So, closing the issue.
/cc @bartkalanski

[2021-01-16 12:59] #1360 closed

[2021-01-16 17:10] bartkalanski commented on #1360
No worries, thank you for letting me know!

[2021-01-16 17:13] leecalcote commented on #1360
@bartkalanski @Grumpyyash speaking of the development of the next version of the layer5.io site (referred to as Layer5-NG), here are the designs for the site - https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=1231%3A2067. You're most welcome to participate in here by commenting in Figma and picking up any designs that don't have a green checkmark (that aren't already done).

[2021-01-16 21:57] bartkalanski commented on #1360
It sounds like fun, I'll have a look through the designs! Once I find something suitable I should comment on Figma, and then start building it ?

[2021-01-17 00:54] Elijah699 commented on #1161
@leecalcote @Jashpatel1 is this issue still open??

[2021-01-17 02:44] leecalcote commented on #1161
Wow. How did I miss each of these comments? My apologies. Yes, this is still an open issue. Placement of the logos isn't critical, but just that they are included.

At this point, we're quite close to publishing a whole new version of the layer5.io website, referred to as "layer5-ng", which is Gatsbyjs based. We can safely set aside the work on the current version of layer5.io (Jekyll-based) and f

[2021-01-17 02:46] leecalcote commented on #1244
Applying the 'layer5-ng' label. When this blog post is written, it can land there.

[2021-01-17 02:47] leecalcote commented on #1161
Here is the new version of the SMI Conformance page - https://layer5ng.netlify.app/projects/service-mesh-interface-conformance.

Designs for this page an others can be found here - https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs

[2021-01-17 02:49] leecalcote commented on #558
Completed.

[2021-01-17 02:49] #558 closed

[2021-01-17 03:00] leecalcote commented on #1360
@bartkalanski good deal. 😄 Essentially, yes, that'll work. 👍

There is a collection of maintainers @Nikhil-Ladha, @Tanuj22, @Jashpatel1, and a number of consistent contributors that in are continual communication in the #websites channel in Slack, coordinating who is working on what, feedback, status and so on. They meet weekly on Mondays at 1:30pm (GMT) UK. Details here - https://meet.layer5.io/w

[2021-01-17 03:05] leecalcote commented on #1307
Fixed.

[2021-01-17 03:05] #1307 closed

[2021-01-17 13:02] #1357 closed

[2021-01-18 02:13] leecalcote opened #1371 "[NG] Project page update"
**Current Behavior**
The current https://layer5ng.netlify.app/projects page does the job, but is somewhat bland as a collection of same-sized cards (there is a bug on the font size of SMI card).

<img width="1184" alt="Screen Shot 2021-01-17 at 8 11 24 PM" src="https://user-images.githubusercontent.com/7570704/104864977-422c3e80-5900-11eb-8167-0c4583aa4de2.png">

**Desired Behavior**
Ideally, the

[2021-01-18 04:15] leecalcote opened #1374 "[NG] Meshery: Platform Install Section"
**Current Behavior**
The upcoming Layer5-NG site has a new design for multiple Meshery pages each with new sections.

**Desired Behavior**
The following section needs to be created (or updated) on this page - https://layer5ng.netlify.app/service-mesh-management/meshery/getting-started

**Mockup**
The section section should behave much like https://meshery.io/#getting-started.

<img width="1137" al

[2021-01-18 04:49] leecalcote opened #1375 "[NG] Mega Menu: Text overlapping in highlights area"
**Screenshots**
<img width="963" alt="Screen Shot 2021-01-17 at 10 48 26 PM" src="https://user-images.githubusercontent.com/7570704/104873471-3481b380-5916-11eb-9336-078670263677.png">

**Enviroment:**
- Browser: Chrome
- Browser Width: 1080px

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer

[2021-01-18 05:03] vineethvanga18 commented on #1375
@leecalcote looks like someone messed it up since my last PR
![Screenshot from 2021-01-18 10-29-15](https://user-images.githubusercontent.com/44473939/104874164-3f6d3000-5978-11eb-9519-afa3521766a9.png)

[2021-01-18 05:08] leecalcote commented on #1375
@vineethvanga18 oh, I see. This update might have affected it - https://github.com/layer5io/layer5/commit/a4569972c83f09ca45da66b5246f7a322428cd7a#diff-eae57ae6241cb82daa009e64133fea0bd9fbae67253fb77d46cb1aae7b7b734d. I'm not sure.

While you're in there, will you have the blog title line wrap two lines then cut-off? We have the space for a second line, I believe, and the need for it with longer b

[2021-01-18 05:10] leecalcote commented on #1375
@vineethvanga18 Are these divs being used any longer? https://github.com/layer5io/layer5/blob/a60f6709f20ef33a422347379d2b1c7a13ef22e6/src/sections/Navigation/utility/menu-items.js#L120-L126

[2021-01-18 07:06] vineethvanga18 commented on #1375
closing this @leecalcote

[2021-01-18 07:06] #1375 closed

[2021-01-18 15:24] Grumpyyash commented on #928
@Jashpatel1, Can I take this issue up?

[2021-01-18 16:02] leecalcote commented on #928
@austinogiza, do we have a design on this?

[2021-01-19 19:50] leecalcote opened #1379 "[NG] FAQ Addition: I have already selected and am operating a service mesh. Should I use Meshery?"
**Desired Enhancement**
Please add the following Q&A to the [layer5-ng FAQ](https://github.com/layer5io/layer5/tree/layer5-ng/src/sections/Faq):

[code]

Link: /projects/service-mesh-management/meshery/features

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this iss

[2021-01-19 22:07] Harshita-Kanal commented on #1379
Can I take this up?

[2021-01-19 22:09] leecalcote commented on #1379
That would be excellent. :)

[2021-01-21 00:40] leecalcote opened #1382 "[Community] Member Profile: MeshMate Jash Patel"
**Current Behaviour**

@Jashpatel1 demonstrably embraces the values of and executes upon the activities outlined in Layer5's mentorship program as he supports open source contributors in our community. We invite Jash to don the MeshMate badge and officially join the Layer5 MeshMate program.

**Desired Situation**
Let's recognize Jash as a MeshMate by having his community member profile reflect thi

[2021-01-21 03:33] Jashpatel1 opened #1383 "[Community] Member Profile: Anirudh Jain"
**Current Behaviour**

@anirudhjain75  has been a consistent contributor and community member.

**Desired Situation**
Let's recognizing @anirudhjain75  as a contributor and community member by creating a profile on https://layer5ng.netlify.app/community/members.

- GitHub: anirudhjain75
- Twitter: anirudhjain75
- LinkedIn: anirudh-jain-a19b5a104
- Link to profile picture: https://photos.app.goo.gl

[2021-01-21 03:34] Jashpatel1 commented on #1383
@Grumpyyash will you like to take this up?

[2021-01-21 03:35] Jashpatel1 commented on #1383
@anirudhjain75 Can you provide a short bio here, so as to add on your profile page?

[2021-01-21 06:02] leecalcote opened #1384 "[NG] Links to brand kit zips broken"
**Description**
The download links here are broken - https://layer5ng.netlify.app/company/brand

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses Jekyll and GitHub Pages

[2021-01-21 06:03] leecalcote commented on #1379
All done here!

[2021-01-21 06:03] #1379 closed

[2021-01-21 06:04] Jashpatel1 commented on #1384
@last-saiyan Will you like to take this up?

[2021-01-21 06:04] leecalcote commented on #1341
Hi @raghavaggarwal99, are you still investigating this one or would it be good for @fatima-ola to take a crack at it?

[2021-01-21 06:23] leecalcote opened #1385 "[NG] Overlapping text in interactive lab cards on Learn page"
**Description**
The https://layer5ng.netlify.app/learn page has overlapping text in interactive lab cards.

**Expected Behavior**
The "Learn how to do..." row should remain on one line and truncate with a trailing "...".

**Screenshots**
![Screenshot from 2021-01-21 11-39-20](https://user-images.githubusercontent.com/7570704/105292891-99d7dd80-5b7e-11eb-88d5-f5aa671df6fc.png)

---
**Contributor Re

[2021-01-21 06:37] EmperorYP7 commented on #1385
I'd be glad to work on this. May I go ahead?

[2021-01-21 06:41] Nikhil-Ladha commented on #1385
@EmperorYP7 actually I have some WIP for this page, so I will be taking this one. You can take some of the other open issues 🙂

[2021-01-21 06:43] leecalcote commented on #1385
@EmperorYP7 there are plenty more where this comes from, though. Let me know if you don't find one... that just means that they haven't been written up, yet.

[2021-01-21 06:45] Nikhil-Ladha commented on #1384
I know about this issue.....the path of the zip files are correct but I think it's not working because of being hosted on netlify (just an assumption)....so I would request to keep it as a backlog item and wait for is to go live, and then we can check this.

[2021-01-21 06:46] EmperorYP7 commented on #1385
@Nikhil-Ladha No problem 😄

[2021-01-21 06:49] EmperorYP7 commented on #1385
@leecalcote only if they ain't WIP by someone else. I'll stick around for a while to find one. Thanks!

[2021-01-21 06:57] leecalcote opened #1386 "[NG] Make Service Mesh Patterns table sortable and filterable"
**Current Behavior**
The [table of service mesh patterns](https://layer5ng.netlify.app/books/service-mesh-patterns) has two columns, neither of which are sortable, nor filterable.

**Desired Behavior**
1. Users can click on the column name to sort each column, toggling between ascending and descending alphabetical order.
2. Users can filter on Category type.

---
**Contributor Resources**
The `lay

[2021-01-21 06:58] leecalcote commented on #1386
Yoo-hoo, @EmperorYP7... in case this is of interest.

[2021-01-21 07:10] EmperorYP7 commented on #1386
@leecalcote Thanks for following up so quick. I'd love to take this up! 😄

[2021-01-21 07:15] leecalcote commented on #1386
Beautiful. :) The description leaves a little room for creativity with respect to item #2 - filtering on Category. I don't know that we have a standard approach to filtering on table columns (tagging @Nikhil-Ladha, @Tanuj22, @Jashpatel1 for guidance). If not, it'd be good to see a suggestion or two from you on the approach.

[2021-01-21 07:21] Nikhil-Ladha commented on #1386
There is an option to filter columns in react-table, please use that.
Checkout this link: https://react-table.tanstack.com/docs/overview

[2021-01-21 08:11] chandrashritii opened #1388 "[Community] Transition of Kush Trivedi to MeshMate Emeritus"
**Current Behavior**

Kush Trivedi is graduating from the Layer5 MeshMate program. Thank you for being a dedicated community member, contributor and MeshMate @kushthedude

**Desired Situation**

Kush Trivedi's profile should be shifted from MeshMate to MeshMate Emeritus on the [MeshMates](https://layer5ng.netlify.app/community/meshmates) page.

---
**Contributor Resources**
The `layer5` repo conta

[2021-01-21 08:33] chandrashritii opened #1389 "[Community] Member Profile: Harshita Kanal"
**Current Behaviour**

@Harshita-Kanal has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @Harshita-Kanal  as a contributor and community member by creating a profile on https://layer5ng.netlify.app/community/members.

- GitHub: Harshita-Kanal
- Twitter: harshita_kanal
- LinkedIn: https://www.linkedin.com/in/harshita-kanal-400563166/
- Link to profile pi

[2021-01-21 08:34] #1374 closed

[2021-01-21 08:38] chandrashritii opened #1390 "[Community] MeshMate Profile: Dev Kalra and Jash Patel"
**Current Behavior**

@kalradev and @Jashpatel1 have been consistent contributors and community leaders. They are both considered worthy by the community and have thus been asked to take up the responsibility of being a [Layer5 MeshMate](https://layer5ng.netlify.app/community).

**Desired Situation**

Dev Kalra and Jash Patel should be recognized as MeshMates by creating their profiles on the  [Me

[2021-01-21 08:58] bartkalanski commented on #1382
I’m on it!

[2021-01-21 09:21] leecalcote commented on #1390
A half duplicate - https://github.com/layer5io/layer5/issues/1382

[2021-01-21 14:46] Harshita-Kanal commented on #1389
Thank you! 😄

[2021-01-21 14:53] leecalcote commented on #1071
@EmperorYP7, assuming success on your other issue, this one might be your next stop. 🙂

[2021-01-21 14:56] leecalcote commented on #1389
Whoo-hoo! 🎈

[2021-01-21 15:24] EmperorYP7 commented on #1071
@leecalcote sure! :+1:

[2021-01-21 15:45] EmperorYP7 commented on #1386
@Nikhil-Ladha Thanks for the docs.

Here's one quick question, do I need to retain the subsections (or "Areas") in the table while sorting i.e. sort each subsection independently?

[2021-01-21 15:55] Nikhil-Ladha commented on #1386
Hmm, yeah that should be the way.

[2021-01-21 16:57] chinmaym07 opened #1392 "[NG] Blog Modal Pops In"
**Description**

**Expected Behavior**

Initially when the layer5-ng website loads ,when you hover beneath layer5 logo the blog modal pops-in .
I have attached the gif of the same .
**Screenshots**

![Peek 2021-01-21 21-50](https://user-images.githubusercontent.com/44670961/105383478-2cd44e80-5c37-11eb-98ab-9f6038d5421a.gif)

---
**Contributor Resources**
The `layer5` repo contains two websites. T

[2021-01-21 17:00] chinmaym07 commented on #1339
Hey Can I work on this issue .?

[2021-01-21 17:35] leecalcote commented on #1339
Yes, that would be great, @chinmaym07 👍

[2021-01-21 17:38] leecalcote commented on #1392
Yikes. Would you like to try your hand at this one, @chinmaym07? If so, great!

See @vineethvanga18 with any questions. He is the component lead for the navbar and mega menu.

[2021-01-21 17:39] chinmaym07 commented on #1392
Yes ..sure.!!

[2021-01-22 03:28] leecalcote commented on #520
For Layer5-NG:
[code]

[2021-01-22 03:41] leecalcote opened #1394 "[Epic] Discourse-based Discussion Forum"
### Discourse-based Discussion Forum
In the course of serving visitors, we need to establish [discuss.layer5.io](https://discuss.layer5.io). This website will use
[Discourse](https://www.discourse.org) as the underlying platform to provide a forum for discussion of service mesh technology.

While none of Layer5’s blog posts will allow for commenting, discuss.layer5.io will. This will be the platfo

[2021-01-22 03:44] #1388 closed

[2021-01-22 03:45] leecalcote commented on #1390
Closing, because this is a duplicate. @kalradev ping @chandrashritii when you come back. 👍

[2021-01-22 03:45] #1390 closed

[2021-01-22 03:53] leecalcote opened #1395 "[NG] SEO Mechanics and Process"
### [NG] SEO Mechanics and Process

The website needs to espouse the culture and values of Layer5 and it needs to attract, serve, and sell to visitors. Visitors come in different forms:

1. Contributors evaluating and participating in our community.
1. Adopters evaluating and using our projects.
1. Customers evaluating and using our products.

#### Goal: Attracting visitors
Layer5.io should be the

[2021-01-22 06:39] Jashpatel1 commented on #1395
@leecalcote I will be taking this up.

[2021-01-22 10:33] pranav-bhatt opened #1397 ""https://layer5.io/programs/past/gsoc/2019" link gives a 404"
Found on [the Layer5 GSoC page](https://layer5.io/programs/gsoc)

[2021-01-22 13:07] #1382 closed

[2021-01-22 13:11] #1371 closed

[2021-01-22 13:30] #1359 closed

[2021-01-22 19:08] chinmaym07 commented on #1339
Hey @leecalcote did active here is referred to as when a user clicks on the chosen question , then the background  of that question's header block should be changed from green to grey.? Just to verify ...as I cannot see the info about faq in the next gen doc.

[2021-01-22 19:58] leecalcote commented on #1339
@chinmaym07 thank you for checking the next gen design specification. That's a good thing to do. And you're right, this isn't defined in there. There is, however, a link to the Figma project where Layer5NG designs are held. This behavior isn't defined in those mockups, either, but you will certainly find those mockups helpful.

What you've here is precisely what's been asked for. This is great. Re

[2021-01-22 20:00] chinmaym07 commented on #1339
Sure .. Thanks a lot for the feedback @leecalcote. 😀

[2021-01-22 20:20] chinmaym07 commented on #1339
@leecalcote  Can I open a PR for the same .?

![Peek 2021-01-23 01-48](https://user-images.githubusercontent.com/44670961/105541067-3a640400-5d1d-11eb-94b8-eb8fb6bf1bdc.gif)

[2021-01-22 20:53] leecalcote commented on #1339
Looks great. Yea, please.

[2021-01-22 20:57] leecalcote commented on #1339
If you’re up for it, a follow-on need here is the ability to filter on specific categories of FAQs, so that this component may be reused on multiple pages, but only show questions and answers from a specific category on a given page. The approach To doing so would be to add a category property to the FAQ component (the filter doesn’t need to be user-facing).

[2021-01-22 21:01] leecalcote commented on #1397
Thanks for opening this, @pranav-bhatt. Will you identify where you found this broken link, so that it might be fixed?

[2021-01-22 21:03] chinmaym07 commented on #1339
Yes sure ..will work on that ... Please list out some of the categories..

[2021-01-22 21:07] leecalcote commented on #1339
Excellent. Actually, the categories will be dynamic based on information in the FAQ data. Currently, there are two, but this is just a text string match that the component property will do to filter and only show questions of a specific category.

Alternatively, GraphQL can be used to query for questions matching a specific category - again, a string match. Example usage:

`<Faq category="Meshery"

[2021-01-22 21:14] leecalcote opened #1401 "[NG] Enhance FAQ component to support filtering on Q&A category"
**Current Behavior**
The FAQ component retrieves the full set of questions and answers, but offers no ability to only display questions and answers of a specific category (e.g. "service mesh", "meshery").

**Desired Behavior**
Enhance the FAQ component to support the ability to filter on specific categories of FAQs, so that this component may be reused on multiple pages, but only show questions an

[2021-01-22 21:14] leecalcote commented on #1339
here we are - https://github.com/layer5io/layer5/issues/1401

[2021-01-22 22:10] leecalcote opened #1402 "[NG] Custom React Component: Blockquote"
**Current Behavior**
In blogs and other pages, the Layer5 site needs to the ability to show a stylized quote from a person.

**Desired Behavior**
A new custom React component needs to show the person's quote, name, and title. Name and title can be optional properties.

**Implementation**
Turn this into a custom component called "Blockquote" - https://codepen.io/jupago/pen/GPxqLX

---
**Contributor

[2021-01-22 23:05] bartkalanski commented on #1402
I’ve got this!

[2021-01-22 23:06] leecalcote commented on #1402
uh-oh.... I couldn't help myself and gave it a quick try... Let me point you at it and see what you think...

[2021-01-22 23:06] leecalcote commented on #1402
A WIP, but functional - https://github.com/layer5io/layer5/tree/leecalcote/blockquote

[2021-01-22 23:10] leecalcote commented on #1402
Let me tie this off real quick and send your way for review and improvement (particularly around optional properties), @bartkalanski.

[2021-01-22 23:21] bartkalanski commented on #1402
@leecalcote No worries at all, I look forward to seeing how you’ve approached this!

[2021-01-22 23:22] leecalcote commented on #1402
Ok, 😅. Nearly done... it would be nice to support multiple styles of this, if you're inclined to pick it up and run with it a little further.

[2021-01-22 23:52] bartkalanski commented on #1402
@leecalcote sounds good!

[2021-01-23 05:15] chinmaym07 commented on #1339
@leecalcote  can we just filter out the FAQ based on the input provided by the user as a radio input ..?

[2021-01-23 06:44] pranav-bhatt commented on #1397
For some weird reason, it hadn't updated the description. Fixed it now!

[2021-01-23 13:42] Harshita-Kanal commented on #1401
Can I take this up?

[2021-01-23 15:10] leecalcote opened #1405 "[NG] Mega Menu: Active menu reverting to "blog" menu on page load"
**Description**
When the user is on a page and has the mega menu open with cursor on a particular nav bar item, as they click on the nav bar item to navigate to that page, the active menu changes to "blog" even though the user clicked on and _is_ on a different page.

**Expected Behavior**
Active menu stays the same as the nav bar item that they had the menu open to.

**Screenshots**
https://user-

[2021-01-23 19:05] vineethvanga18 commented on #1405
@leecalcote that is because every time the navigation component mounts the state is set to "blog" menu, previously it was set to "about" menu, for which the mega menu was not there. I will set it to "landscape" menu which doesn't have mega menu.

[2021-01-23 22:44] leecalcote commented on #1401
That’s be great, yes, @Harshita-Kanal

[2021-01-24 03:50] Jashpatel1 commented on #1205
Closed via #1361

[2021-01-24 03:50] #1205 closed

[2021-01-24 04:07] leecalcote commented on #1405
Oh, I see

[2021-01-24 10:57] #1405 closed

[2021-01-24 16:57] akashgp09 opened #1410 "unanswered Faq question"
**Description**

In the FAQ section of Layer5-NG  website one of the the question is unanswered

**Expected Behavior**

Provide the appropriate answer to the question

**Screenshots**

<img src="https://i.imgur.com/6jb6RIA.png">

---

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` labe

[2021-01-24 16:59] leecalcote commented on #1410
Good eye, @akashgp09. There are a number of these that need content added. Thanks for highlighting this. 👍

Allow me to bear the burden of responsibility for this content and take this assignment, if you will.

[2021-01-24 17:07] akashgp09 commented on #1410
yeah Sure

[2021-01-24 17:25] leecalcote opened #1411 "[NG] FAQ: Support Variable Number of Answers"
**Current Behavior**
Answers to FAQs might be long in nature and include multiple sentences (bullet points). The current FAQ component supports a static number of "answers" and does not dynamically account for a variable number of answers.

[code]

**Desired Behavior**
Enhance the FAQ component to support any number of answers (bullet points).

**Implementation**
Use an iterator to return all of t

[2021-01-24 17:26] leecalcote commented on #1411
@Harshita-Kanal... what do you think?

[2021-01-24 17:56] leecalcote commented on #1397
Would you like to take this one on, @pranav-bhatt?

The fix here can be quick (can be simple - maybe removing the reference/link) given the we will be moving to a completely new layer5.io site shortly.

It would be good to confirm whether the new site handles this same issue or not.

[2021-01-25 03:30] #1410 closed

[2021-01-25 03:40] Aisuko opened #1414 "[doc]: Update the document of install ruby"
**Current Behavior**

https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md

**Desired Behavior**

The doc can help the contributor install the specific version of the development environment and need to confirm the ruby version is stable for use.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

[2021-01-25 05:36] leecalcote commented on #1414
I wonder if either of these should be enhanced or links to them published:

1. Jekyll Tutorial - https://docs.google.com/document/d/1JoPujIO_dyX3pTHvbGtQ5OBXERlSInac3ecLSkgFFSo/edit
2. Meshery Documentation - https://docs.google.com/document/d/17guuaxb0xsfutBCzyj2CT6OZiFnMu9w4PzoILXhRXSo/edit

[2021-01-25 05:56] Grumpyyash commented on #1411
Should I give it a try?

[2021-01-25 05:57] leecalcote commented on #1411
Yes, please, @Grumpyyash 👍

[2021-01-25 06:41] chinmaym07 commented on #623
Hey @Tanuj22 can I try to implement this .?

[2021-01-25 06:43] chinmaym07 commented on #520
@leecalcote I want to take this up.

[2021-01-25 06:43] leecalcote commented on #520
Good, good. :thu

[2021-01-25 07:19] pranav-bhatt commented on #1397
Sure, I'll remove the link for now.

[2021-01-25 08:06] #1401 closed

[2021-01-25 13:04] #1411 closed

[2021-01-25 14:07] Jashpatel1 commented on #1303
Closing with #1299

[2021-01-25 14:07] #1303 closed

[2021-01-25 14:10] Jashpatel1 commented on #1383
Closing with #1396

[2021-01-25 14:10] #1383 closed

[2021-01-25 14:11] Jashpatel1 commented on #1339
Closing with #1409

[2021-01-25 14:11] #1339 closed

[2021-01-25 16:07] #1239 closed

[2021-01-25 22:31] austinogiza opened #1418 "Implementation of Home Page Hero Section"
**Current Behavior**
We currently have no implementation of the hero section.

**Desired Situation**
The design of the home page is currently approved on figma, and we will appreciate someone jumping on the task of implementing it

https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=1869%3A2967

below is the design of the section

<img width="1440" alt="hero" src="https://user

[2021-01-25 22:59] austinogiza opened #1419 "Implementation of Our Projects and Partners Logo Sections"
**Current Behavior**
We currently have no implementation of our project and partner logo section.

**Desired Situation**
The design of the home page is currently approved on figma, and we will appreciate someone jumping on the task of implementing it

https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=1869%3A2967

Checkout the section below
<img width="1440" alt="logo" src="h

[2021-01-25 23:38] austinogiza opened #1420 "Implementation of Service Mesh Management section in the homepage"
**Current Behavior**
We currently have no implementation of the Service Mesh Management section.

**Desired Situation**
The design of the home page is currently approved on figma, and we will appreciate someone jumping on the task of implementing it

https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=1869%3A2967

Check out the design below

<img width="997" alt="Group 1008" s

[2021-01-26 00:33] austinogiza opened #1421 "Implementation of Proudly maintainers and contributors section on homepage"
**Current Behavior**
We currently have no implementation of the  Proudly maintainers and contributors section on homepage

**Desired Situation**
The design of the home page is currently approved on figma, and we will appreciate someone jumping on the task of implementing it

https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=1869%3A2967

Check out the design below
<img width=

[2021-01-26 00:38] austinogiza opened #1422 "Implementation of the Cloud Native Leaders section on homepage"
**Current Behavior**
We currently have no implementation of the Cloud Native Leaders section on homepage

**Desired Situation**
The design of the home page is currently approved on figma, and we will appreciate someone jumping on the task of implementing it

https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=1869%3A2967

Checkout the design below for easy navigation and ident

[2021-01-26 00:40] austinogiza opened #1423 "Implementation of the Stewards of industry section on homepage"
**Current Behavior**
We currently have no implementation of the Stewards of industry section on homepage

**Desired Situation**
The design of the home page is currently approved on figma, and we will appreciate someone jumping on the task of implementing it

https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=1869%3A2967

Checkout the design below for easy navigation and ident

[2021-01-26 00:41] austinogiza opened #1424 "Implementation of the Making cloud native manageable section on homepage"
**Current Behavior**
We currently have no implementation of the Making cloud native manageable section on homepage

**Desired Situation**
The design of the home page is currently approved on figma, and we will appreciate someone jumping on the task of implementing it

https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=1869%3A2967

Checkout the screenshot of design below for e

[2021-01-26 00:52] austinogiza opened #1425 "Implementation of the Layer5 So Special section on homepage"
**Current Behavior**
We currently have no implementation of the Layer5 So Special section on homepage

**Desired Situation**
The design of the home page is currently approved on figma, and we will appreciate someone jumping on the task of implementing it

https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=1869%3A2967

**Implementation**
- use react slick (see xxxx page as an

[2021-01-26 00:54] austinogiza opened #1426 "Implementation of the Service mesh focused section on homepage"
**Current Behavior**
We currently have no implementation of the Service mesh focused section on homepage

**Desired Situation**
The design of the home page is currently approved on figma, and we will appreciate someone jumping on the task of implementing it

https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=1869%3A2967

Checkout the screenshot of design below for easy naviga

[2021-01-26 00:55] austinogiza opened #1427 "Implementation of the Enabler of Engineers and the newsletter sections on homepage"
**Current Behavior**
We currently have no implementation of the Enabler of Engineers and the newsletter sections on homepage

**Desired Situation**
The design of the home page is currently approved on figma, and we will appreciate someone jumping on the task of implementing it

https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=1869%3A2967
Checkout the screenshot of design be

[2021-01-26 06:49] #1397 closed

[2021-01-26 06:56] Jashpatel1 commented on #928
Will be tracked in #1421

[2021-01-26 06:56] #928 closed

[2021-01-26 06:59] Jashpatel1 commented on #1419
@Grumpyyash would you like to take this up?

[2021-01-26 08:55] adekanyetomie commented on #1421
hi @austinogiza I can't find this part in the design. Please can you point it out? Thanks

[2021-01-26 09:10] chinmaym07 commented on #1426
@leecalcote I want to take this up .!

[2021-01-26 09:11] chinmaym07 commented on #1427
@leecalcote I want to take this one too.!

[2021-01-26 09:40] austinogiza commented on #1421
@adekanyetomie Kindly check this screenshot for guidance
![proud](https://user-images.githubusercontent.com/44683018/105827933-dbbfb400-5fc2-11eb-93ba-79298bcd6273.PNG)

[2021-01-26 10:29] Tanuj22 commented on #1426
@chinmaym07 go ahead

[2021-01-26 10:31] Tanuj22 commented on #1427
@chinmaym07 go ahead but it would be better if you send separate PRs so we can move fast

[2021-01-26 10:34] chinmaym07 commented on #1427
yes ..sure.!!

[2021-01-26 14:54] UnkleTayo commented on #1425
I will like to take this up

[2021-01-26 18:38] leecalcote opened #1428 "[NG] Meshery Overview page: Feature Showcase Section"
**Current Behavior**
The Meshery overview page needs a section to showcase Meshery's features.

**Desired Behavior**
A vertical carousel allows visitors to browse through a pictorial catalog of Meshery features

**Screenshots / Mockups**
<img width="1440" alt="Group 969" src="https://user-images.githubusercontent.com/7570704/105888973-3e20b080-5fd3-11eb-933e-eeb883884c0f.png">

See [Project: Meshe

[2021-01-26 19:02] Harshita-Kanal commented on #1420
Can I take this up?

[2021-01-26 22:47] leecalcote commented on #1425
@UnkleTayo that would be great. 👍

[2021-01-27 06:26] Jashpatel1 opened #1429 "[Community] Member Profile: Navendu Pottekkat"
**Current Behaviour**

@navendu-pottekkat  has been a consistent contributor and community member.

**Desired Situation**
Let's recognizing @navendu-pottekkat  as a contributor and community member by creating a profile on https://layer5ng.netlify.app/community/members

- GitHub: navendu-pottekkat
- Twitter: sudo_navendu
- LinkedIn: navendup
- Link to profile picture:

---

**Contributor Resources

[2021-01-27 06:27] Jashpatel1 commented on #1429
@navendu-pottekkat Can you provide a profile picture and short bio to be featured on your member page?

[2021-01-27 06:33] navendu-pottekkat commented on #1429
Sure @Jashpatel1 Here is the [link to a DP](https://drive.google.com/file/d/10lTmgNh2U38Kwk6AVwFfQ-ZShy011s6F/view?usp=sharing)

[2021-01-27 06:36] navendu-pottekkat commented on #1429
The bio could be: "I'm working on open-source projects in Deep Learning, Web Development and Cloud-Native Development. My research interests are in memristive systems and computer vision. Coding all day, everyday!"

[2021-01-27 13:26] leecalcote commented on #1429
Yay! A member profile for @navendu-pottekkat 🎈

[2021-01-27 15:07] Grumpyyash commented on #1421
Can I try taking this up?

[2021-01-28 03:50] Jashpatel1 commented on #1386
Closing with #1400

[2021-01-28 03:50] #1386 closed

[2021-01-28 03:50] Jashpatel1 commented on #1429
Closing with #1430

[2021-01-28 03:50] #1429 closed

[2021-01-28 03:53] Jashpatel1 commented on #1389
@EmperorYP7 will you like to take this up?

[2021-01-28 03:53] Jashpatel1 commented on #1389
@Harshita-Kanal Can you provide a short bio which could feature on your member page?

[2021-01-28 03:56] Jashpatel1 commented on #1402
@leecalcote Does #1403 solve this completely?

[2021-01-28 07:46] EmperorYP7 commented on #1389
@Jashpatel1 Sure!

[2021-01-28 09:38] Aisuko opened #1431 "[BUG] The subscriber modules homepage miss the format"
**Description**

The web page style was broken
![Screenshot from 2021-01-28 17-35-23](https://user-images.githubusercontent.com/8053949/106118676-56d5c580-618f-11eb-8e76-b7a2ea13a3f3.png)

**Expected Behavior**

Fix the issue

**Screenshots**

**Enviroment:**
- Host OS:
- Meshery Version:
- Kubernetes Version:
- Browser:

---

[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to '

[2021-01-28 09:57] Harshita-Kanal commented on #1389
Sure, thanks 🙂
My bio:
"I am a Computer Science undergraduate, Web developer and an Open Source enthusiast. I love building things that impact people's lives."

[2021-01-28 11:05] Aisuko commented on #1431
Close the issue

[2021-01-28 11:05] #1431 closed

[2021-01-28 13:05] leecalcote commented on #1402
Great question. This weekend, @bartkalanski will be looking at bringing a second or third format to this component, which is great.

Given that we have and initial version of the component in place, immediacy of the need here is somewhat relieved and so we can mark this issue milestone post go live.

[2021-01-28 14:14] Nikhil-Ladha commented on #1384
Ok, so my assumption seems to be wrong and it requires a JS based approach for it to work by making an AJAX request for the file.

[2021-01-28 14:58] leecalcote commented on #1384
In order to push the file to the browser, specifying the application-type, ok.

[2021-01-28 16:49] Nikhil-Ladha commented on #1385
@Jashpatel1 can you confirm if the issue is still present for you?
I have checked in my system and it works fine for all views.

[2021-01-29 17:34] vineethvanga18 commented on #1423
@bartkalanski update on this?

[2021-01-29 17:35] vineethvanga18 commented on #1427
@chinmaym07 any updates?

[2021-01-29 17:36] vineethvanga18 commented on #1425
@UnkleTayo any updates?

[2021-01-29 17:36] bartkalanski commented on #1423
I'm working on it now

[2021-01-29 17:37] chinmaym07 commented on #1427
Yes I am working on it ..will try to submit a pr asap. @vineethvanga18

[2021-01-29 18:01] vineethvanga18 commented on #1420
@Harshita-Kanal how are you getting on with this?

[2021-01-29 18:06] vineethvanga18 commented on #1392
closing this, as this is resolved.

[2021-01-29 18:06] #1392 closed

[2021-01-29 21:33] Harshita-Kanal commented on #1420
Almost done, just sending the PR

[2021-01-30 10:59] vinayaksh42 commented on #1428
Can i work on this?

[2021-01-30 11:05] vinayaksh42 commented on #1394
we can use [gatsby talkyard plugin](https://www.gatsbyjs.com/plugins/@debiki/gatsby-plugin-talkyard/?=disqus) for having discussions under blogs.

[2021-01-30 11:09] #1423 closed

[2021-01-30 12:14] Nikhil-Ladha commented on #1428
Well, I was thinking of working on it...but have not yet started..... I just have to say this that if you take this, you will have to complete it by tomorrow afternoon 😅

[2021-01-30 13:14] vinayaksh42 commented on #1428
I don't think I will be able to do it within those time constraints, I would suggest that you should go ahead with this issue. @Nikhil-Ladha

[2021-01-30 16:05] chinmaym07 commented on #1422
Hey @Jashpatel1 Can I work on this ..?

[2021-01-30 16:07] Jashpatel1 commented on #1422
Sure, please go ahead.

[2021-01-31 08:54] #1427 closed

[2021-01-31 08:59] #1420 closed

[2021-01-31 09:00] #1418 closed

[2021-01-31 12:46] #1424 closed

[2021-01-31 13:20] #1426 closed

[2021-01-31 13:21] #1385 closed

[2021-01-31 13:22] Nikhil-Ladha commented on #1355
@shubhank-saxena how is it coming up? Are we there already?

[2021-01-31 13:24] Nikhil-Ladha commented on #1422
@chinmaym07 are you working on this?

[2021-01-31 13:27] Nikhil-Ladha commented on #1421
@adekanyetomie are you working on this? Or shall we let @Grumpyyash take it?

[2021-01-31 13:32] chinmaym07 commented on #1422
Not yet started..if you want .you can go ahead .👍🏻☺️

[2021-01-31 13:38] Nikhil-Ladha commented on #1422
Well, I haven't....the thing is Jadh by mistake unassigned the issue ro you so confirming it....you can take it.

[2021-01-31 13:40] chinmaym07 commented on #1422
Ohk .. I'll work on it. 👍🏻

[2021-01-31 15:07] #1402 closed

[2021-01-31 15:49] vineethvanga18 opened #1449 "[NG] misbehavior of mega menu in mobile view"
**Description**
misbehavior of mega menu in mobile view(see current behavior video)

**Expected Behavior**
It should be at a fixed position w.r.t to navbar(see expected behavior video)

**Screenshots**
current behavior:

https://user-images.githubusercontent.com/44473939/106389093-9dcdf000-6407-11eb-9da8-6b51600168df.mp4

expected behavior:

https://user-images.githubusercontent.com/44473939/10638

[2021-01-31 21:54] leecalcote opened #1451 "[Landscape] Timeline: Change timeline expander button"
**Current Behavior**
The [service mesh landscape](https://layer5ng.netlify.app/service-mesh-landscape/) has a timeline with an expander at the bottom of the timeline.

<img width="247" alt="Screen Shot 2021-01-31 at 3 50 16 PM" src="https://user-images.githubusercontent.com/7570704/106399063-1e76f700-63dc-11eb-828b-5b6a97d342f6.png">

**Desired Behavior**
Please update the button coloring and beha

[2021-01-31 21:56] leecalcote opened #1452 "[Landscape] Comparison Matrix: Table row formatting"
**Description**
In _Safari_, the following table formatting is improper:

<img width="1218" alt="Screen Shot 2021-01-31 at 3 54 43 PM" src="https://user-images.githubusercontent.com/7570704/106399206-e623e880-63dc-11eb-8847-04dfe00dd622.png">

---

[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[Optional] **Addi

[2021-01-31 22:00] leecalcote opened #1453 "[Landscape] SMI Conformance: Inaccurate data in results"
@dhruv0000

Please update the static data in this table. Email to confirm when it is ready to go-live.

What is our ETA on dynamic data?

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io we

[2021-01-31 22:05] leecalcote opened #1454 "[Community] Picture Slider not filling space"
**Description**
On the layer5.io/community page, the image slider on the /community page does not fill the space in its container.

**Expected Behavior**
- The image slider on the /community page should fill the majority of the space in its container.

**Screenshots**
<img width="1678" alt="Screen Shot 2021-01-31 at 4 01 54 PM" src="https://user-images.githubusercontent.com/7570704/106399427-1e77f

[2021-01-31 22:08] leecalcote opened #1455 "[Community] Open Source Mentorship Program arrow not vertically centered"
**Description**
On the layer5.io/community page, the learn more arrow is not vertically center aligned within the green button.

**Screenshots**
<img width="578" alt="Screen Shot 2021-01-31 at 4 06 34 PM" src="https://user-images.githubusercontent.com/7570704/106399500-947c5d80-63de-11eb-860b-1e35e336de24.png">

---
**Contributor Resources**
The `layer5` repo contains two websites. The current gen

[2021-02-01 06:37] leecalcote opened #1456 "[Home] Proud Maintainers: responsiveness issues"
Great job on the ProudMaintainers section, @Grumpyyash.

A few residual issues await you regarding vertical alignment, margins, padding and responsiveness.

@Grumpyyash the update is done....can you fix the responsiveness now....also please check the issue with the path which is causing the build failure.

_Originally posted by @Nikhil-Ladha in https://github.com/layer5io/layer5/issues/1448#issuec

[2021-02-01 06:53] Nikhil-Ladha commented on #1456
@Grumpyyash wanna clear this out?

[2021-02-01 10:09] #1449 closed

[2021-02-01 11:36] #1422 closed

[2021-02-01 13:15] chinmaym07 commented on #1455
I want to take this up.

[2021-02-01 13:16] chinmaym07 commented on #1454
@leecalcote Can I take this. ?

[2021-02-01 18:53] vinayaksh42 commented on #1001
is this issue still available?

[2021-02-01 20:19] leecalcote commented on #1001
@vinayaksh42 yes, it is! 😄

[2021-02-01 20:48] vinayaksh42 commented on #1001
i would like to work on it

[2021-02-02 08:36] #520 closed

[2021-02-02 13:26] #1421 closed

[2021-02-02 13:28] Tanuj22 commented on #1425
@UnkleTayo we need to move fast to get the page ready, so i am opening up the issue for other contributors. Please signal here if you are willing to work on this

[2021-02-02 13:30] Tanuj22 commented on #1425
@chinmaym07 would you like to take it?

[2021-02-02 13:32] Tanuj22 commented on #1341
Fixed in #1460

[2021-02-02 13:32] #1341 closed

[2021-02-02 15:01] chinmaym07 commented on #1425
Yes @Tanuj22 I can try this.

[2021-02-02 21:40] vinayaksh42 opened #1465 "[NG] Links of books and workshops under Learn tab (navbar) leading to incorrect links"
**Description**

Incorrect link of books and workshops sections in the navbar under the Learn tab.

**Expected Behavior**

Link needs to be /learn/service-mesh-books instead of /learn/books
similarly for /learn/service-mesh-workshops instead of /learn/workshops

File which is needed to be fixed:
https://github.com/layer5io/layer5/blob/layer5-ng/src/sections/General/Navigation/utility/menu-items.js

[2021-02-02 21:51] Abiola-Farounbi commented on #1465
Hi, I would like to be assigned to this issue.

[2021-02-02 22:02] Tanuj22 commented on #1465
@Abiola-Farounbi please go ahead

[2021-02-03 03:46] Jashpatel1 commented on #1465
Closing with #1466

[2021-02-03 03:46] #1465 closed

[2021-02-03 12:44] Jashpatel1 opened #1469 "[Community] Member Profile: Chinmay Mehta"
**Current Behaviour**

@chinmaym07 has been a consistent contributor and community member.

**Desired Situation**
Let's recognizing @chinmaym07 as a contributor and community member by creating a profile on https://layer5ng.netlify.app/community/members.

- GitHub: chinmaym07
- Twitter:
- LinkedIn: chinmay-mehta-009132193
- Link to profile picture:

---

**Contributor Resources**

The layer5.io we

[2021-02-03 12:45] Jashpatel1 commented on #1469
@chinmaym07 Can you provide a link to your profile picture and a short bio that could feature on your member page?

[2021-02-03 13:25] Jashpatel1 commented on #1389
@EmperorYP7 Any updates here?

[2021-02-03 13:26] Jashpatel1 commented on #1428
Closing with #1447

[2021-02-03 13:26] #1428 closed

[2021-02-03 13:31] EmperorYP7 commented on #1389
Sorry for being dormant for a while. Will be working on it now.

[2021-02-03 14:58] Jashpatel1 commented on #1389
Closed with #1470

[2021-02-03 14:58] #1389 closed

[2021-02-03 15:05] 96RadhikaJadhav commented on #1469
@Jashpatel1 Can I work on the issue?

[2021-02-03 15:09] Jashpatel1 commented on #1469
Sure, please go ahead.

[2021-02-03 16:15] #1395 closed

[2021-02-03 16:18] Tanuj22 commented on #1454
@chinmaym07 looks this this has been addressed but there is not responsiveness issue if you would like to take it up
![Screenshot from 2021-02-03 21-47-33](https://user-images.githubusercontent.com/42486853/106775858-855d1000-6669-11eb-875b-6afc3d881732.png)

[2021-02-03 17:13] chinmaym07 commented on #1469
Yes sure @Jashpatel1 . Thanks a lot . 👍🏻  😀
link : https://drive.google.com/file/d/1x_-sQc3OuJfwqE89oJKqxQrKb-Lbv5i9/view?usp=sharing
Bio :I am an undergraduate student at IIIT Bhubaneswar. I am a Web developer & Open Source enthusiast .I love problem solving & always ready to learn and explore something new everyday.

[2021-02-03 18:22] chinmaym07 commented on #1454
Yes .Ohk .I'll work on that .thanks!.

[2021-02-03 20:09] #1455 closed

[2021-02-03 20:09] Tanuj22 commented on #1453
@dhruv0000 this has been addressed right?

[2021-02-03 20:15] Tanuj22 commented on #1161
Closing as the new site design has been implemented

[2021-02-03 20:15] #1161 closed

[2021-02-03 20:41] leecalcote opened #1471 "[Community] Add subtly bouncing "Start here -->" to Contributor Journey Map"
**Current Behavior**
The Contributor Journey map is interactive, but many visitors may over look this fact and miss out on the resources.

**Desired Behavior**
Using the theme's Keppel green color, add a subtly bouncing arrow and "Start here", like in the mockup.

**Screenshots / Mockups**
<img width="1208" alt="Screen Shot 2021-02-03 at 2 36 49 PM" src="https://user-images.githubusercontent.com/7

[2021-02-04 03:51] dhruv0000 commented on #1453
yes

[2021-02-04 04:14] #1453 closed

[2021-02-04 13:55] bartkalanski commented on #1471
Will get this done by Friday eve

[2021-02-04 14:00] leecalcote commented on #1471
Good, good!

[2021-02-04 14:32] Grumpyyash commented on #1456
Working on it now

[2021-02-04 18:21] leecalcote opened #1480 "[Community] Unwanted whitespace on right side of Newcomers section"
**Description**
The /community page has unwanted whitespace on right side of Newcomers section.

**Expected Behavior**
Gray background should be edge-to-edge (full bleed)

**Screenshots**
<img width="1506" alt="Screen Shot 2021-02-04 at 12 17 22 PM" src="https://user-images.githubusercontent.com/7570704/106937338-4075bf80-66e3-11eb-88b2-b51af0557f99.png">

**Environment:**
- Browser: Safari... and

[2021-02-05 02:10] Abiola-Farounbi commented on #1480
Hi, I would like to be assigned to this issue

[2021-02-05 03:17] leecalcote commented on #1480
Excellent!

[2021-02-05 03:46] leecalcote opened #1483 "[Home] Proud Maintainers: spacing is off in grid; escaped logos"
**Description**
In the Proud Maintainers section of the Home page, the issues shown in the screenshot are present.

**Screenshots**
<img width="1141" alt="Screen Shot 2021-02-04 at 9 44 50 PM" src="https://user-images.githubusercontent.com/7570704/106987039-42b33a80-6732-11eb-92ed-2e43d1896d09.png">

---

[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....

[2021-02-05 03:47] leecalcote commented on #1483
@grumpyyash is this something you're able to promptly address? If not, that's ok. Please let us know quickly.

[2021-02-05 04:57] Grumpyyash commented on #1483
I will just check where the issue is arising

[2021-02-05 14:51] Jashpatel1 commented on #1469
@96RadhikaJadhav Will you create a PR for layer5-ng branch as well?

[2021-02-05 16:07] 96RadhikaJadhav commented on #1469
@Jashpatel1 Yeah sure. I have searched how to do it, but didn't get proper answer. Could you please help me in getting an idea about the steps to do it?

[2021-02-05 16:14] Jashpatel1 commented on #1469
https://github.com/layer5io/layer5/blob/layer5-ng/CONTRIBUTING.md#contributor-instructions
You can ping me on Slack, if you get stuck anywhere. You can join layer5 on slack - http://slack.layer5.io/

[2021-02-05 17:41] #1483 closed

[2021-02-05 18:27] Tanuj22 commented on #1454
Fixed #1476

[2021-02-05 18:27] #1454 closed

[2021-02-05 23:46] jesuslerma opened #1492 "[Community] Member Profile: Alonso López Romo"
**Current Behaviour**

@alonsolopezr has been a consistent contributor and community member.

**Desired Situation**
Let's recognizing @alonsolopezr as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: alonsolopezr
- Twitter:
- LinkedIn:
- Link to profile picture:

---

**Contributor Resources**

The layer5.io website, which uses GatsbyJS an

[2021-02-06 00:43] leecalcote commented on #1492
Awesome. @alonsolopezr! 🎈

[2021-02-06 01:35] #1419 closed

[2021-02-06 01:37] Aisuko opened #1494 "Add ImgBot to the project"
**Current Behavior**

This project includes many static resources especially JPG and PNG.

**Desired Behavior**

We should resize the static resources to a small size if it can be. So, we can import ImgBot into our project as a static resource manager. Actually, we did this already in our other projects like `meshery` and `meshry.io` if I remember right.

---
[Optional] **Screenshots / Mockups**

[2021-02-06 01:41] Aisuko commented on #1494
There is no standard rule of the static resources for the project, we just want the repo easy to clone and to contribute.

[2021-02-06 12:53] Jashpatel1 commented on #1456
@Nikhil-Ladha @Grumpyyash Is this issue solved?

[2021-02-06 13:18] Nikhil-Ladha commented on #1456
Yup, wonder why the issue didn't got closed 😂

[2021-02-06 13:18] #1456 closed

[2021-02-06 17:24] leecalcote opened #1495 "[Community] Newcomer's tutorial: Golang and contributing to mesheryctl"
**Current Behavior**
@navendu-pottekkat recently gave an introduction and walkthrough on what `mesheryctl` is and how it fits on the Meshery project. It is on YouTube. https://www.youtube.com/watch?v=hh_kFLZx3G4

**Desired Behavior**
This tutorial should be added to the /community/newcomers table of recordings

---
**Contributor Resources**
The `layer5` repo contains two websites. The current gene

[2021-02-06 17:25] leecalcote commented on #1495
@jesuslerma you might want to take on this issue...

[2021-02-07 06:19] leecalcote opened #1497 "Install Prismjs"
**Current Behavior**
Code snippets on the layer5.io site should be optionally styled with the Prismjs plugin.

**Desired Behavior**
- Configure with support for markup, css, bash, shell, javascript, golang
- Configure with "tomorrow-night" theme
- Configure with clipboard.js support

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generati

[2021-02-07 07:48] Tanuj22 commented on #1497
@leecalcote prismjs is already present. The theme is different though, which can be changed

[2021-02-07 12:53] Jashpatel1 commented on #1071
Closed with #1435

[2021-02-07 12:53] #1071 closed

[2021-02-07 12:54] leecalcote commented on #1497
Oh, good! Is there an example use of this package that you can point out in our code base?

[2021-02-07 13:00] Tanuj22 commented on #1497
When used in a .js file - https://github.com/layer5io/layer5/blob/layer5-ng/src/sections/Meshery/Meshery-platforms/index.js#L57 (a language prop can also be passed)
When used in mdx - https://github.com/layer5io/layer5/blob/layer5-ng/src/collections/blog/2020-05-21-getting-started-with-mesheryctl/index.mdx

[2021-02-07 19:27] leecalcote commented on #1497
Thank you, sir.

[2021-02-07 19:27] #1497 closed

[2021-02-07 19:28] leecalcote commented on #1497
@Tanuj22 do we have the clipboard.js support enabled in Meshery-platform section?

[2021-02-07 19:33] leecalcote commented on #1494
Good suggestion, @Aisuko. Imgbot is enabled across all repos under the `layer5io` org. [Imgbot's activities in this `layer5` repo](https://github.com/layer5io/layer5/pulls?page=1&q=is%3Apr+author%3Aapp%2Fimgbot) were last seen this past December. I assume that's because almost all energy has been redirected into the `layer5-ng` branch and so there hasn't been a need to fire on `master` in that tim

[2021-02-07 21:15] Tanuj22 commented on #1497
Yes

[2021-02-08 01:20] Aisuko commented on #1494
Close due to the comment above.

[2021-02-08 01:20] #1494 closed

[2021-02-08 01:48] leecalcote opened #1499 "[SMI] Table with details of all conformance tests"
**Current Behavior**
SMI Conformance consists of any number of tests, each categorized, numbered, and versioned.

**Desired Behavior**
- Details of these tests should be shown in a table in a new section of the http://localhost:8000/projects/service-mesh-interface-conformance page.
- The table should allow the user to switch between different versions of the tests cases.
- The same style table fro

[2021-02-08 03:20] leecalcote opened #1500 "[Home] Proudly Maintaining: background color and card scale"
**Description**
Each of the participating projects should be on a card with rounded corners. Some of the cards may spill off the page.

@vineethvanga18 will you revise this section to look more like the mockup?

**Screenshots**
<img width="847" alt="Screen Shot 2021-02-07 at 9 19 02 PM" src="https://user-images.githubusercontent.com/7570704/107172178-4d680c80-698a-11eb-8577-2c7a7a253787.png">

---

[2021-02-08 05:44] 96RadhikaJadhav commented on #1469
@Jashpatel1 Created a PR for layer5-ng branch #1501 . Please review and let me know if any changes required.

[2021-02-08 07:27] shubhank-saxena commented on #623
@Tanuj22 will this do the trick?
https://www.gatsbyjs.com/plugins/@gatsby-contrib/gatsby-plugin-elasticlunr-search

[2021-02-08 11:00] Jashpatel1 commented on #1469
Closing with #1501

[2021-02-08 11:00] #1469 closed

[2021-02-08 11:17] Jashpatel1 opened #1505 "[NG] GetNighthawk Project Page"
**Current Behavior**
The Projects section does not have GetNighthawk listed yet on layer5-ng website. No page is present to describe the GetNighthawk project on the layer5-ng website.

**Desired Behavior**
Add the GetNighthawk project page as per the following design: https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=2650%3A4242

---
**Contributor Resources**
The `layer5` re

[2021-02-08 14:42] leecalcote opened #1507 "[Meshery] Getting Started: Missing logos under Patterns and Performance sections"
**Description**
Even thought images are defined and identified to be displayed, they are not being displayed under two of the sections on https://layer5ng.netlify.app/service-mesh-management/meshery/getting-started

**Screenshots**
<img width="1154" alt="Screen Shot 2021-02-08 at 8 22 06 AM" src="https://user-images.githubusercontent.com/7570704/107234230-0f4e0580-69e9-11eb-9d56-4e76d05bbc17.png">

[2021-02-08 14:43] leecalcote commented on #1507
@EmperorYP7 would you like to investigate?

[2021-02-08 14:44] EmperorYP7 commented on #1507
Sure!

[2021-02-08 14:51] leecalcote commented on #1500
Thank you, @vineethvanga18. This is much, much better. Two remaining items:

1. the cards are touching each other between the two rows.
2. the cards are evenly aligned vertically. Instead, the hope is that they will be staggered and offset from one another.
<img width="629" alt="Screen Shot 2021-02-08 at 8 48 27 AM" src="https://user-images.githubusercontent.com/7570704/107236003-e2025700-69ea-11e

[2021-02-08 15:46] #1507 closed

[2021-02-08 19:44] austinogiza opened #1509 "Implementation of Learn Service Mesh CTA Section above footer"
**Current Behavior**
There is currently no CTA on the bottom of /books page and as such, we have made a design/section for it
https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=4028%3A62

**Desired Situation**
To create a section for the learn service mesh CTA at the bottom of the / book section
Below is how the section should look
![Learn Service Mesh CTA](https://user-image

[2021-02-08 23:06] jesuslerma commented on #1495
@leecalcote  of course. Will try to do that during this week

[2021-02-09 07:33] saumyasrivastava08 commented on #1509
I would like to work on this issue.

[2021-02-09 07:35] EmperorYP7 commented on #1384
May I start working on this if it's not WIP?

[2021-02-09 07:43] Nikhil-Ladha commented on #1384
Yes, please @EmperorYP7 .

[2021-02-09 09:47] Tanuj22 commented on #1509
@saumyasrivastava08 please go ahead

[2021-02-09 17:09] #1480 closed

[2021-02-09 17:37] leecalcote opened #1510 "[Proud Maintainers] Center align open source project logos"
@vineethvanga18 the labels weren't staying within the boundaries of the cards, so I removed the labels. Now, a couple of the logos look awkward because there aren't centered. I couldn't get them to be centered without having them escape the boundary of the card. Will you take a crack at this and we're good to merge afterward.

@Nikhil-Ladha I darkened the card background a little.

_Originally pos

[2021-02-10 20:29] #1471 closed

[2021-02-11 02:10] leecalcote opened #1512 "[Footer] Set site copyright to 2021"
**Description**
The copyright date in the footer is currently 2020.

**Expected Behavior**
All copyright dates should be 2021.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, whi

[2021-02-11 04:14] Jashpatel1 commented on #1512
Closed with #1515

[2021-02-11 04:14] #1512 closed

[2021-02-11 04:50] leecalcote commented on #1499
Affixing Urgent label....

[2021-02-11 04:59] leecalcote opened #1516 "[Blog] Starting SMI Conformance Testing with Meshery"
**Description**
This blog post has a few issues to be fixed:

- broken link:
<img width="1005" alt="Screen Shot 2021-02-10 at 10 55 33 PM" src="https://user-images.githubusercontent.com/7570704/107603725-4db71080-6bf3-11eb-9a7d-ee4a5fea572e.png">

- need margin on left and bottom of SMI logo
<img width="1022" alt="Screen Shot 2021-02-10 at 10 56 08 PM" src="https://user-images.githubusercontent.co

[2021-02-11 06:19] leecalcote opened #1517 "[Learn] Hero image: do not use photo of book"
**Desired Situation**
See https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN?node-id=1453:2#59519101

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses Jekyll and GitHub P

[2021-02-11 06:23] leecalcote opened #1518 "[Blog] Widget: subscribe to newsletter"
**Current Behavior**
The /blog page should have a "Subscribe to newsletter" widget.

**Desired Behavior**
See mockup - https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=1440%3A2837

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, the

[2021-02-11 11:00] paulynson opened #1520 "The page where I can pair isn't displaying"
I'm unable to view this page.

[2021-02-11 13:50] Nikhil-Ladha commented on #1520
Can you highlight a more about the issue?
If you would have followed the template it would have been easier 🙂

[2021-02-11 13:50] Nikhil-Ladha commented on #1517
Done

[2021-02-11 13:50] #1517 closed

[2021-02-11 13:51] Nikhil-Ladha commented on #1509
@saumyasrivastava08 any updates on this?
We are a bit short in time, so any update would be appreciated 🙂

[2021-02-11 14:34] shubhank-saxena opened #1522 "Refactoring Partner's Page"
As discussed in Website call by Lee, there are some features that are to be implemented and thus partner's page needs to be refactored -

- Make alternating rows dynamic using modulus.
- Only set either the width or the height of the logos, so that images expand to fill the 256 x 256 (as much as they can depending on their shape).
- Ensure that all logos are in SVG format.
- Work toward a subseque

[2021-02-11 14:49] leecalcote commented on #1520
My hunch is that Paul will need to request access to the Google Doc
describing the MeshMate program.

On Thu, Feb 11, 2021 at 7:50 AM Nikhil_Ladha <notifications@github.com>
wrote:

[2021-02-11 14:54] leecalcote commented on #1395
@Jashpatel1 have you been able to confirm the desired behavior with the images metadata using https://cards-dev.twitter.com/validator or https://www.linkedin.com/post-inspector/?

[2021-02-11 16:12] Jashpatel1 commented on #1395
LinkedIn works fine, Twitter images has some issue, will fix.

[2021-02-11 16:54] EmperorYP7 commented on #1384
I think this can be closed now.

[2021-02-11 16:55] #1384 closed

[2021-02-12 08:13] #1518 closed

[2021-02-12 08:35] Tanuj22 commented on #1355
Tracked #1522

[2021-02-12 08:35] #1355 closed

[2021-02-12 08:43] Tanuj22 commented on #1509
@saumyasrivastava08 since we are a bit short on time. I am taking this. Please feel free to take up any of the other open issues

[2021-02-12 10:10] chinmaym07 opened #1527 "[NG] So Special Section"
**Description**

It looks very bad on the deployed site .

![Screenshot_2021-02-12 Layer5 Layer5 - The Service Mesh Company](https://user-images.githubusercontent.com/44670961/107754971-3b022000-6d48-11eb-9f80-fab061a391ef.png)
But locally it looks different as below.

![Peek 2021-02-12 15-08](https://user-images.githubusercontent.com/44670961/107755074-5836ee80-6d48-11eb-9233-72e59fede12b.gif)

*

[2021-02-12 10:11] chinmaym07 commented on #1527
I have figured the error . I would like to work on it.

[2021-02-12 11:05] #1527 closed

[2021-02-12 15:07] leecalcote opened #1531 "[SMI] CTA: for user to view landscape#smi at the bottom test details table"
@dhruv0000 no, a Call To Action, a CTA - section and button at the bottom of the detailed tests table telling the viewer to see the current status of the support for SMI of all service meshes.

_Originally posted by @leecalcote in https://github.com/layer5io/layer5/issues/1526#issuecomment-778249558_

[2021-02-12 15:22] Nikhil-Ladha commented on #1509
@Tanuj22 once you update the CTA, we can get this closed.

[2021-02-12 16:26] #1500 closed

[2021-02-12 16:41] Jashpatel1 commented on #1425
Is it complete @Tanuj22 @chinmaym07 ?

[2021-02-12 16:45] #1425 closed

[2021-02-12 17:26] EmperorYP7 opened #1535 "[NG] Prompts not set on Meshery Getting Started page"
**Description**
I found this while working on a issue in the [Meshery Getting Started](https://layer5ng.netlify.app/service-mesh-management/meshery/getting-started) page. Prompts shown at some of the tiles are set to "test" which is not ideal.

**Expected Behavior**
The prompt should correspond to the tile which is being focused. (clicked)

**Screenshots**
![Test](https://user-images.githubusercon

[2021-02-12 17:27] Tanuj22 commented on #1535
Yeah, content needs to be added here?
@leecalcote are you feeling this content or is there somewhere I can look it up?

[2021-02-12 19:20] #1509 closed

[2021-02-12 19:24] #1499 closed

[2021-02-12 19:37] leecalcote opened #1537 "[Event] Add IstioCon Workshop"
**Event:**
- Event Title: IstioCon
- Event Link: https://events.istio.io/istiocon-2021/
- Talk Description: Using Istio
- Talk Type: Workshop
- Talk Link: https://events.istio.io/istiocon-2021/workshops/using-istio/
- Deck:
- Video:

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label

[2021-02-13 09:23] #1531 closed

[2021-02-13 09:24] #1451 closed

[2021-02-13 20:07] leecalcote opened #1542 "[Home] Hero: Create alternative hero: 5 icon"
**Current Behavior**
The home page has a single hero created.

**Desired Behavior**
Ideally, a few versions of the hero section are available to rotate through. There is a hero design with a large "5" icon in the design mockups that would be ideal to have.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

[2021-02-13 20:39] leecalcote opened #1543 "[Home] Hero: Create section randomizer"
**Current Behavior**
Different versions of the hero section are available. The hero section is statically configured, though.

**Desired Behavior**
Ideally, the hero section is set to randomly load a design from a collection of designs.

This issue calls for implementation of a hero randomizer akin to the randomizer on the 404 error page.

---
**Contributor Resources**
The `layer5` repo contains t

[2021-02-13 20:48] leecalcote opened #1544 "GitHub Issue Template update"
**Description**
The [Member Profile Update](https://github.com/layer5io/layer5/blob/master/.github/ISSUE_TEMPLATE/New%20Member%20Profile.md) github template in this repo uses the British spelling of "behaviour" in the first section's heading.

**Expected Behavior**
Expected behavior is to spell behavior in the "correct" (_hmpf!_) format.

---
**Contributor Resources**
The `layer5` repo contains tw

[2021-02-13 20:51] leecalcote opened #1545 "[Community] Member Profile: landscape badge for Chinmay Mehta"
**Current Behavior**
@chinmaym07 is contributing to the Layer5NG site. His community member profile does not have the landscape badge, however.

**Desired Situation**
The badges assigned to @chinmaym07's member profile should accurately reflect his contribution efforts.

---

**Contributor Resources**

The layer5.io website, which uses GatsbyJS and GitHub Pages. Site content is found under the <a

[2021-02-13 20:56] leecalcote opened #1546 "[Community] Member Profiles: Set default filter as "Active Members""
**Current Behavior**
The community members page displays with the all **All Members** filter by default.

**Desired Situation**
The community members page displays with the all **Active Members** filter by default.

---

**Contributor Resources**

The layer5.io website, which uses GatsbyJS and GitHub Pages. Site content is found under the <a href="https://github.com/layer5io/layer5/tree/master">`m

[2021-02-13 20:58] leecalcote commented on #1546
@EmperorYP7 heads-up

[2021-02-13 21:25] EmperorYP7 commented on #1546
On it! 👍🏻

[2021-02-13 23:10] leecalcote opened #1549 "[About] Create WhoWeAre section"
**Current Behavior**
A Who We Are section is needed on /company/about. A partial implementation for this section is here - https://github.com/layer5io/layer5/tree/about/whoweare

**Desired Behavior**
This section should be completed and appear similar in style to [this mockup](https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=4184%3A2305).

---
**Contributor Resources**
The

[2021-02-14 02:51] vineethvanga18 commented on #1543
@leecalcote We only have one hero section implemented right?

[2021-02-14 03:36] leecalcote commented on #1543
@vineethvanga18 yes, that's right. Here's an issue calling for another: https://github.com/layer5io/layer5/issues/1542

[2021-02-14 09:51] chinmaym07 commented on #1549
Sir I want to take this .

[2021-02-14 12:09] leecalcote commented on #1549
Thank you, @chinmaym07

[2021-02-14 12:34] leecalcote commented on #1535
I missed this question earlier... if you can pull instructions from docs.meshery.io, that would be helpful.

[2021-02-14 13:08] Minjiicho commented on #1544
I was going to ask you if I could assign it, but it seems already been updated 😢
You can close this issue now.

[2021-02-14 15:58] #1492 closed

[2021-02-16 15:06] #1510 closed

[2021-02-16 17:06] leecalcote commented on #1549
Completed. Thank you @chinmaym07. Fyi - https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2021-02-16 19:30] #1546 closed

[2021-02-16 19:32] Tanuj22 commented on #1544
@Minjiicho Thank you! Looks like linking the PR to the issue was missed. Please do check if any of the other issues are of interest to you.

[2021-02-16 19:32] #1544 closed

[2021-02-17 20:32] leecalcote opened #1555 "[News] Add Related News Section on Single News page"
**Current Behavior**
The single blog page has a Related Posts section at the bottom of the page. The single news page does not.

**Desired Behavior**
A Related New section should be presented the bottom of the single News page.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is a

[2021-02-17 20:34] leecalcote commented on #1555
@Harshita-Kanal is this something you might take on?

[2021-02-17 20:34] leecalcote commented on #1542
@EmperorYP7 is this an item you might pickup?

[2021-02-17 20:39] leecalcote opened #1556 "[News] Missing entry for Amalgam whitepaper highlighting Meshery"
We're in the news! Using the contributing instructions for [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news), please add the following article to the Layer5 Newsroom.

**Article:**
- Title: Meshery Provides the Service Mesh Management Plane and Kubernetes Evolves into an Enterprise Platform
- Link: https://layer5.io/news/kubernetes-evolves-into-an-enterprise

[2021-02-17 20:51] leecalcote opened #1557 "[Meshery] Add "+" sign behind the count of users"
**Description**
Meshery has more users than the count listed on  the`/service-mesh-management/meshery` page

**Expected Behavior**
Akin to the number of performance tests run, a plus sign should be behind the user count.

**Screenshots**
<img width="772" alt="Screen Shot 2021-02-17 at 2 47 55 PM" src="https://user-images.githubusercontent.com/7570704/108266183-68c3dc00-712f-11eb-8012-bed431d4016a.

[2021-02-17 21:59] Tanuj22 commented on #1555
@leecalcote how would we consider if a news is related to other? For blogs we considering common tags and category which we don't have for news

[2021-02-17 22:20] austinogiza opened #1558 "Member profile in /community/members for Yash Pandey"
**Current Behavior**
Yash Pandey currently doesn't have a community member profile/card

**Desired Situation**
Creation of community member profile/card
![Yash Pandey](https://user-images.githubusercontent.com/44683018/108275450-a5ff8c80-7176-11eb-85f9-6129ea9fec3f.png)

![Yash Pandey](https://user-images.githubusercontent.com/44683018/108279720-51abdb00-717d-11eb-9638-9587b86c3a1c.jpeg)

Here is

[2021-02-17 22:27] leecalcote commented on #1558
This image is needs updated.

[2021-02-17 23:09] leecalcote opened #1559 "[Meshery] Change single install step to to CodeBlock component"
**Desired Behavior**
Implement the code section on /service-mesh-management/meshery/getting-started with the copy-to-clipboard support using src/components/CodeBlock component.

**Screenshots / Mockups**
<img width="547" alt="Screen Shot 2021-02-17 at 5 06 49 PM" src="https://user-images.githubusercontent.com/7570704/108279774-beee4a80-7142-11eb-8c17-1c08368bb5ad.png">

---
**Contributor Resources

[2021-02-18 05:17] Jashpatel1 commented on #1505
Closing with  #1562

[2021-02-18 05:17] #1505 closed

[2021-02-18 05:17] Jashpatel1 commented on #1556
Closing with #1562

[2021-02-18 05:17] #1556 closed

[2021-02-18 05:55] EmperorYP7 commented on #1542
@leecalcote Sure! It'd be helpful if someone dropped in the exact design we're talking about here to avoid confusion.

[2021-02-18 11:47] Nikhil-Ladha commented on #1542
Here you go @EmperorYP7 ....the hero sections of the two designs https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=354%3A441

[2021-02-18 14:38] leecalcote commented on #1542
Deep-linking in Figma is bothersome. This url might get a little closer -

https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=3359%3A0

<img width="907" alt="Screen Shot 2021-02-18 at 8 38 02 AM" src="https://user-images.githubusercontent.com/7570704/108372642-a45cb580-71c4-11eb-8d08-95946adb0847.png">

[2021-02-18 15:07] chinmaym07 opened #1563 "[NG] Implementation of Layer5 in the news section on homepage"
**Description**
Currently Layer5 in the news section is not implemented.

**Desired Situation**

 This section should be completed and appear similar in style to [this mockup](https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=3359%3A0)

---
[Optional] **Screenshots**

<img width="865" alt="Screen Shot 2021-02-10 at 10 15 50 PM" src="https://user-images.githubusercontent.com/

[2021-02-18 16:47] Nikhil-Ladha commented on #1557
I am fixing this in my fonts PR

[2021-02-18 18:29] #1557 closed

[2021-02-18 19:26] Tanuj22 commented on #1535
Closing as data updated

[2021-02-18 19:26] #1535 closed

[2021-02-18 19:27] Tanuj22 commented on #631
FIxed

[2021-02-18 19:27] #631 closed

[2021-02-18 19:38] EmperorYP7 commented on #1542
@leecalcote @Nikhil-Ladha oops!
<img width="417" alt="Screenshot 2021-02-19 at 1 07 51 AM" src="https://user-images.githubusercontent.com/62606998/108411756-03670c80-724f-11eb-8b57-3fb04d37c5c1.png">

[2021-02-19 07:33] leecalcote opened #1571 "[README] Add smp_spec twitter handle to list"
**Current Behavior**
"Find us on Twitter: @layer5 and @mesheryio. Subscribe on Youtube" statement at the bottom of the README is missing the twitter.com/smp_spec handle.

---
**Contributor Resources**

The layer5.io website uses Gatsby, Strapi, and GitHub Pages. Site content is found under the [`layer5-ng` branch](https://github.com/layer5io/layer5/tree/layer5-ng).
- See [`layer5-ng` contributing

[2021-02-19 07:36] leecalcote opened #1572 "[Docs] Contributing instructions need updated for new site deployment"
**Current Behavior**
1. The new source and deployment target locations need updating in the contributor guide. See https://github.com/layer5io/layer5/blob/9e24d81e0e4883ab3413bc3cf79f2e639c198349/.github/workflows/gatsby.yml#L18-L19 for details.

2. The Chore/Task Issue template needs updated to remove `layer5-ng` reference.

**Desired Situation**
- No references to `layer5-ng` should remain.

---

[2021-02-19 07:45] leecalcote opened #1573 "[Landscape] Add GetNighthawk to the tools table"
**Current State:**
The service mesh landscape currently excludes listing of GetNighthawk.

**Desired State:**
The Tools tables should have an entry for GetNighthawk.

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mesh-landscape)Site content is found under the [`master` branch](https://gi

[2021-02-19 16:48] #1563 closed

[2021-02-19 17:34] 96RadhikaJadhav commented on #1558
@leecalcote  I want to work on the issue.

[2021-02-19 17:35] 96RadhikaJadhav commented on #1558
I will be needing some more info about Yash Pandey. Such as linked profile link, github profile link, twitter link, bio etc.

[2021-02-19 18:46] leecalcote commented on #1558
@Jashpatel1 will you kindly provide this info?

[2021-02-19 19:23] leecalcote opened #1578 "[CI] Create or augment workflow for site deployment previews"
**Current Behavior**
Deployment previews are very helpful in saving time during PR reviews.

**Desired Behavior**
This should exclude use of Netlify. This should use GitHub Actions to create a new branch on an alternative "layer5-preview" repo, generate new builds of the site under a folder using the PR #, push the built site files, then update the originating PR when the preview files are pushed.

[2021-02-19 19:33] leecalcote commented on #1573
@vinayaksh42 @Grumpyyash @aneeshnema @rav121 @ramrodo, this issue is up for grabs.

[2021-02-20 07:46] Vi1234sh12 commented on #1571
@leecalcote  Can I work on this?

[2021-02-20 07:54] Nikhil-Ladha commented on #1571
Sure @Vi1234sh12 . Go ahead.

[2021-02-20 12:04] #1571 closed

[2021-02-20 12:50] Jashpatel1 commented on #1558
- GitHub:  EmperorYP7
- Twitter: pandeyyash04
- LinkedIn: emperoryp
- Link to profile picture: https://drive.google.com/file/d/1jo43k3xaB0jZCmaBTGcczRkaZOZ6D_CG/view
https://drive.google.com/file/d/167Vnea3TOHp7XCdnFikQnwB3X0zewU9I/view?usp=sharing

@EmperorYP7 Can you provide a short bio to feature on your member page.

[2021-02-20 12:53] Jashpatel1 commented on #1537
Closing due to completion of task.

[2021-02-20 12:53] #1537 closed

[2021-02-20 13:14] EmperorYP7 commented on #1558
Sure! Here it goes:

A passionate sophomore at Indian Institute of Information Technology, Ranchi pursuing Bachelors in Computer Science and Engineering trying to create an impact on open-source community by helping in making great softwares to empower people around the globe. I am interested to contribute and learn about the web and love to work on tools related to computer graphics.

[2021-02-20 13:15] leecalcote commented on #1537
Thank you, @Jashpatel1

[2021-02-20 13:57] leecalcote opened #1585 "[Related Posts] Slider arrow being cut off from view"
**Description**
Visit any of the [individual blog pages](https://layer5.io/blog/community/meet-the-maintainer-michael-gfeller) and you will find a Related Posts section at the bottom of the page.

**Expected Behavior**
Both of the slider arrows on either the left or right side should be completely visible to the visitor.

**Screenshots**
<img width="260" alt="Screen Shot 2021-02-20 at 7 41 02 AM"

[2021-02-20 16:07] chinmaym07 commented on #1585
@leecalcote sir can I work on this ?

[2021-02-20 16:57] leecalcote commented on #1585
Sounds real good. There will be a number more of these coming...

[2021-02-20 16:57] leecalcote commented on #1585
Oh, interesting....

[2021-02-20 19:53] Nikhil-Ladha commented on #1585
Yeah, the arrows are there only from 992 px and after that, it changes to dots. Now, since when the site loads on a device it will automatically get the size of the screen this issue will never occur. So, I think we can close this issue.

[2021-02-20 19:53] leecalcote commented on #1340
Thank you for your help here, @chandrashritii and @shubhank-saxena!

[2021-02-20 19:53] #1340 closed

[2021-02-20 19:54] leecalcote commented on #1585
What do we about the issue that I'm seeing in the screenshot in this description, though?

[2021-02-20 20:05] Nikhil-Ladha commented on #1585
At which resolution?

[2021-02-21 15:19] navendu-pottekkat opened #1592 "[Community] Member Profile: Aneesh Neema"
**Current Behaviour**

@aneeshnema has been a consistent contributor and community member.

**Desired Situation**

Let's recognize @aneeshnema as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub:  aneeshnema
- Twitter:  aneeshnema
- LinkedIn:  aneesh-nema
- Link to profile picture: https://avatars3.githubusercontent.com/u/31976598?s=460&u=d

[2021-02-21 16:05] aneeshnema commented on #1592
@navendu-pottekkat all details are correct 😁

[2021-02-21 17:30] Tanuj22 commented on #1452
Fixed in #1589

[2021-02-21 17:30] #1452 closed

[2021-02-21 17:30] Tanuj22 commented on #1520
Closing due to inactivity

[2021-02-21 17:30] #1520 closed

[2021-02-21 19:07] supzi-del commented on #1572
Hey, can you elaborate on this issue?

[2021-02-22 05:56] leecalcote opened #1594 "Twitter: Image / page previews"
**Description**
Images from layer5.io pages (or at least the landscape page) are not showing when shared in a tweet.

Example - https://twitter.com/mesheryio/status/1363721452801781765?s=20

**Screenshots**
<img width="626" alt="Screen Shot 2021-02-21 at 11 54 23 PM" src="https://user-images.githubusercontent.com/7570704/108668227-6b606180-74a0-11eb-9e4b-8a5ad8ce01d3.png">

---
**Contributor Resou

[2021-02-22 06:32] leecalcote opened #1595 "[Events] Allow users to view details locally"
**Current Behavior**
All events have a single link, which is an external link.

**Desired Behavior**
Each event should allow users to view details of the event locally on layer5.io and optionally allow users to click to exit the layer5.io site. Allow users to click on the event and show the contents of the .mdx file?

Example:
This event has details in its .mdx file, but those details are not show

[2021-02-22 06:35] leecalcote commented on #1595
There’s little difference between events and workshops most of the time. It still makes sense that they are separately displayed, but it might make sense to reuse the same .mdx file (share between the collections). Like if one .mdx file in the workshops collection has a frontmatter variable type that is an array of values (“event”, “workshop”), then show it on both /events and on /workshops.

[2021-02-22 06:42] leecalcote opened #1596 "[Learn] Service Mesh Labs: Animate show/hide of lab details"
**Current Behavior**
The /learn/service-mesh-labs page has cards that expand when to show the visitor more details when the visitor clicks on the card.

This card is missing an animation for the opening action (the expanding / collapsing action), though. Without the animation, it’s something of a jarring experience for the visitor.

**Desired Behavior**
`/learn/service-mesh-labs` page would be a l

[2021-02-22 06:43] leecalcote commented on #1596
@kishore007k you might beat @vineethvanga18 to the punch here. 😉

[2021-02-22 06:59] chinmaym07 commented on #1592
Can I knock this ?

[2021-02-22 18:03] aneeshnema commented on #1592
@chinmaym07, here you go

An aspiring software developer with a passion for solving impactful problems. Undergraduate at IIT Indore.

@navendu-pottekkat it's "Nema"

[2021-02-22 19:33] #1592 closed

[2021-02-23 08:12] UnkleTayo commented on #1594
I'd like to take this up

[2021-02-23 20:22] leecalcote opened #1601 "Add GetNighthawk project description in README"
**Current Behavior**
This repo's readme lists Layer5 projects, but is missing GetNighthawk.

**Desired Behavior**
For now, the "5" logo can be used until the GetNighthawk logo is decided upon.

---
**Contributor Resources**

The layer5.io website uses Gatsby, Strapi, and GitHub Pages. Site content is found under the [`layer5-ng` branch](https://github.com/layer5io/layer5/tree/layer5-ng).
- See [`l

[2021-02-23 20:23] leecalcote opened #1602 "[GH Issue Templates] Replace layer5-ng references with master"
**Description**
This repo's GH issue templates still have references to the `layer5-ng` branch.

**Expected Behavior**
Should reference `master`

[2021-02-24 11:34] leecalcote opened #1603 "[Mailing List] Create long-form version of subscribe component"
**Current Behavior**
The current "[subscribe](https://github.com/layer5io/layer5/tree/master/src/sections/subscribe)" component has a single field for email.

<img width="967" alt="Screen Shot 2021-02-24 at 5 29 43 AM" src="https://user-images.githubusercontent.com/7570704/108994524-83cbaa00-7661-11eb-9f72-0070ded9fb41.png">

**Desired Behavior**
The current, short-form serves as a simple Call to

[2021-02-24 13:04] leecalcote opened #1604 "[Proudly Maintaining] Text escaping on Image Hub card"
**Description**
On the home page, in the [proud maintainers section](https://github.com/layer5io/layer5/tree/master/src/sections/Home/Proud-maintainers), the label "Image Hub" is escaping its card.

**Expected Behavior**
Labels should be contained to the card. They will need to shrink or disappear as the screen width is reduced.

**Screenshots**
<img width="648" alt="Screen Shot 2021-02-24 at 7 01

[2021-02-24 19:34] leecalcote commented on #1394
@ramrodo is this of interest to you?

[2021-02-24 19:35] leecalcote commented on #1394
Oh, thank you, @vinayaksh42. In this case, we're looking for a broad set of topics and discussions on service mesh and all of Layer5's projects.

[2021-02-24 19:50] vinayaksh42 commented on #1394
okay, @leecalcote so it's more like a web forum and not just simple comments on a page

[2021-02-25 04:42] leecalcote commented on #1602
@EmperorYP7 will you knock this out?

[2021-02-25 07:29] EmperorYP7 commented on #1602
@leecalcote Yay!

[2021-02-25 11:02] Nikhil-Ladha commented on #1603
Actually, there is a long-form subscribe component...but we are not using it anywhere. Previously, it was used on the home page but not it has been replaced by the current implementation.
Link to the component: https://github.com/layer5io/layer5/tree/master/src/components/ContactCard

P.S: Incorrect name has been used 😝

[2021-02-25 14:13] leecalcote opened #1608 "[Community] Member Profile: Nic Jackson"
**Current Behaviour**

@nicholasjackson has been a consistent community member and supporter of Layer5 projects.

**Desired Situation**
Let's recognize @nicholasjackson as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: nicholasjackson
- Twitter: sheriffjackson
- LinkedIn: jacksonnic
- Link to profile picture: https://pbs.twimg.com/profil

[2021-02-25 15:10] #1558 closed

[2021-02-25 15:11] leecalcote commented on #1543
We will create other heros. A randomizer is needed.

[2021-02-25 15:18] leecalcote commented on #1603
Thank you 😄

[2021-02-25 15:35] #1603 closed

[2021-02-25 15:36] vineethvanga18 commented on #1543
@leecalcote sure. Will create one. Should it be random or linear?

[2021-02-25 16:49] leecalcote commented on #1543
Good question. Linear may make more sense

[2021-02-25 16:53] ramrodo commented on #1394
The platform sounds interesting but maybe I don't have enough time to set up but I can offer my help to those who is assigned 👍🏼

[2021-02-25 16:58] leecalcote commented on #1394
@ramrodo thank you for considering this. Sounds real good. Understood regarding being out of time. ✔️

[2021-02-25 20:05] #1602 closed

[2021-02-26 02:26] leecalcote opened #1613 "[Blog] Single Post View: Hyperlink blog categories"
**Current Behavior**
An individual blog post can be assigned to a single category. Readers of the post can see what category is assigned, but cannot click on that category to see a filtered list of other blog posts of that same category.
<img width="186" alt="Screen Shot 2021-02-25 at 8 23 24 PM" src="https://user-images.githubusercontent.com/7570704/109246290-8fc18400-77a7-11eb-94d4-9d2ea4cd45dd.

[2021-02-26 03:08] leecalcote commented on #1572
Hi @supzi-del Thanks for asking. Yes:

1) Details of the GitHub Action/workflow should ideally be documented in the CONTRIBUTING.md, so that contributors know when to expect a build / build preview to show. // @rav121
2) The GitHub Issue Templates and the CONTRIBUTING.md should make reference to `master` branch and not `layer5-ng` branch. I think @EmperorYP7 has taken care of the GH issue template

[2021-02-26 03:10] leecalcote commented on #1414
I'll suggest that we start with those two resources. What do you think @Anita-ihuman? @PluckyPrecious?

[2021-02-26 03:11] leecalcote commented on #623
@Harshita-Kanal, is this something you might tackle?

[2021-02-26 03:13] leecalcote commented on #1555
@Tanuj22 great question. We can either add new frontmatter variables (tags) to news articles or we can create a LatestNews instead of a RelatedNews.

[2021-02-26 03:14] leecalcote commented on #1545
I spy a handsome picture in the community member profiles... closing out this issue.

[2021-02-26 03:14] #1545 closed

[2021-02-26 03:15] leecalcote commented on #1522
@shubhank-saxena we await your works he with the most eager eyes. 😄

[2021-02-26 03:22] leecalcote opened #1614 "[Brand] Add smooth navigation transition to sidebar menu"
**Current Behavior**
On the https://layer5.io/brand page, when a user clicks on the links in the sidebar navigator (see screenshot), the transition to the respective section is not smooth.

<img width="646" alt="Screen Shot 2021-02-25 at 9 20 09 PM" src="https://user-images.githubusercontent.com/7570704/109250519-71f81d00-77af-11eb-912b-7fe99f022665.png">

**Desired Behavior**
Upon click, the page

[2021-02-26 03:24] leecalcote opened #1615 "[Projects] Add call to join community; remove contact us button"
**Current Behavior**
On the https://layer5.io/projects page, a contact us button is shown under the projects grid.

<img width="1197" alt="Screen Shot 2021-02-25 at 9 17 34 PM" src="https://user-images.githubusercontent.com/7570704/109250340-1e85cf00-77af-11eb-912c-a92803557d81.png">

**Desired Behavior**
A call to action to contribute to the projects and join the community should be shown instead

[2021-02-26 03:44] leecalcote opened #1616 "[Blog] Standardize blog post sign-off"
**Current Behavior**
Each blog post on https://layer5.io/blog ends with a sign-off from the post author, like so:

<img width="776" alt="Screen Shot 2021-02-25 at 9 38 33 PM" src="https://user-images.githubusercontent.com/7570704/109251927-f77ccc80-77b1-11eb-8889-037b5cea7a03.png">

Anyone authoring a post also has a community member profile.

**Desired Behavior**

Blog post sign-offs should be st

[2021-02-26 03:46] leecalcote commented on #1495
@jesuslerma feel free to reassign if this is an item that you are actively working toward.

[2021-02-26 04:27] chinmaym07 commented on #1614
Can I knock this ?

[2021-02-26 05:06] leecalcote commented on #1614
Sounds great, @chinmaym07. Looking over [these others](https://github.com/issues?q=is%3Aopen+is%3Aissue+assignee%3Achinmaym07+archived%3Afalse+org%3Alayer5io), we might want to close out the first of these regarding the presentations on Meshery. I'm not sure that we want to carry that one through at the moment. We can always reopen.

[2021-02-26 06:24] PluckyPrecious commented on #1414
Hi @leecalcote i think this will be perfect. Is @Aisuko still on this? If no, I can help with it.

[2021-02-26 06:40] Anita-ihuman commented on #1414
The commands for setting up Jekyll could be made more prominent by writing it as code and not as plain text.
An example of what I mean is this :

2.sudo apt install curl g++ gnupg gcc autoconf automake bison build-essential libc6-dev \
    	libffi-dev libgdbm-dev libncurses5-dev libsqlite3-dev libtool \
    	libyaml-dev make pkg-config sqlite3 zlib1g-dev libgmp-dev \
    	libreadline-dev libssl-de

[2021-02-26 06:54] Jashpatel1 opened #1622 "[Community] Member Profile: Shubhank Saxena"
**Current Behavior**

@shubhank-saxena  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @shubhank-saxena  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: shubhank-saxena
- Twitter: 19_saxena
- LinkedIn: shubhank-saxena
- Link to profile picture: https://ca.slack-edge.com/TDL4L01AR-U01H9TDU

[2021-02-26 06:56] Jashpatel1 commented on #1622
@shubhank-saxena Will you please provide a small bio that could feature on your individual member page?

[2021-02-26 07:17] vinayaksh42 commented on #1573
The following field already exists in the tools table:
![chrome_sJCMj6v9Cb](https://user-images.githubusercontent.com/54861487/109268195-b7a8fa00-7830-11eb-8a5c-7242d82549be.png)

[2021-02-26 07:22] shubhank-saxena commented on #1622
I am an electronics student who is always looking for opportunities to learn something new and grow. I have a goal of helping differentially abled people with my tech and innovation. I have experience with OSS contributions and wearable hardware devices.

[2021-02-26 07:24] vinayaksh42 opened #1624 "[Projects] Addition of GetNightHawk to the Projects page"
**Current Behavior**

Getnighthawk missing from https://layer5.io/projects

**Desired Behavior**

Addition of GetnightHawk to https://layer5.io/projects

@austinogiza @leecalcote this requires a new layout design in order to incorporate it.

---
[Optional] **Screenshots / Mockups**

[Optional] **Alternatives**

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pag

[2021-02-26 07:25] Anita-ihuman commented on #1615
The Figma link shows this.
![Screenshot 2021-02-26 at 08 23 29](https://user-images.githubusercontent.com/62384659/109268941-160fb180-780c-11eb-9317-7842ee1ee30a.png)

[2021-02-26 07:57] Anita-ihuman commented on #1622
I would like to take this issue

[2021-02-26 08:10] Anita-ihuman commented on #1615
I will like to fix this issue

[2021-02-26 08:48] #1601 closed

[2021-02-26 09:25] Tanuj22 opened #1627 "Add a lightbox component"
**Desired Behavior**
A lightbox component is needed.

---
[Optional] **Screenshots / Mockups**

[Optional] **Alternatives**

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/layer5/blob/master/CONT

[2021-02-26 09:27] EmperorYP7 opened #1628 "[Community] Changes to be addressed"
**List of changes to be made to [Community Page](https://layer5.io/community)**

- "Join the community" column is 800 px wide. The column should be 1000px width/max-width
- The whitespacing between the open source title and the largest collection section is small, increase the margin
- "Jump in.  The community is warm!" to be placed before "Our Community Members" and the section's height should be

[2021-02-26 11:02] navendu-pottekkat commented on #1495
@leecalcote Should we also add the list of resources i.e the links to learn things like Kubernetes, Microservices Architecture etc in some place too?

[2021-02-26 12:01] Ruth-ikegah commented on #1495
@navendu-pottekkat that thread you made in the channel will be super great, but wherein the site will be best to add it, or the youtube video description?

[2021-02-26 14:45] leecalcote commented on #1624
FYI @bartkalanski

[2021-02-26 14:58] austinogiza commented on #1624
Will do something

[2021-02-26 17:08] navendu-pottekkat commented on #1495
@Ruth-ikegah Maybe in the newcomer docs in the community drive? It will be too messy for the website I think...

[2021-02-26 17:29] Grumpyyash commented on #1628
Should I try these?

[2021-02-26 17:59] EmperorYP7 commented on #1628
@Grumpyyash Sure! 😄

[2021-02-26 19:30] leecalcote commented on #1615
invitation to Figma project sent...

[2021-02-26 23:10] austinogiza commented on #1624
https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=4568%3A97

@vinayaksh42 @leecalcote  kindly check this out
<img width="1075" alt="projects" src="https://user-images.githubusercontent.com/44683018/109364893-181b5400-7890-11eb-80de-05dcbe8fd7f4.png">

[2021-02-27 02:18] vineethvanga18 commented on #1543
@leecalcote We need to make use of local storage for this to be linear. Is that okay?

[2021-02-27 15:22] leecalcote commented on #1543
Yes, we’re ok to use localstorage for this.

[2021-02-27 17:06] Harshita-Kanal commented on #1555
So which approach should I go with, latestNews or relatednews ?

[2021-02-28 16:48] #1622 closed

[2021-03-01 01:45] chinmaym07 commented on #1616
@leecalcote sir as a separate component is required . One has to remove
```\- <Link to="/community/member/{author}">{author}</Link>``` from every blog post & add that new component in blog-single component.
Can I work on this ?

[2021-03-01 01:54] leecalcote commented on #1616
@chinmaym07 that sounds right. Yes, that would be great. 👍

[2021-03-01 09:13] UnkleTayo commented on #1613
I would love to take this up

[2021-03-01 09:37] #1614 closed

[2021-03-01 09:37] #1608 closed

[2021-03-01 16:15] leecalcote opened #1642 "404s - replace all meshery.layer5.io references with docs.meshery.io"
**Description**
meshery.layer5.io moved to docs.meshery.io, causing many broken links

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md)
- See Layer5 site designs

[2021-03-01 16:37] leecalcote commented on #1613
Excellent, @UnkleTayo 🙂

[2021-03-01 18:29] #1642 closed

[2021-03-01 19:07] Harshita-Kanal commented on #1604
I am unable to reproduce the issue, it is looking fine 🙂

[2021-03-01 19:34] #1543 closed

[2021-03-01 22:04] Ruth-ikegah commented on #1495
Definitely, and editing the Youtube description too

[2021-03-02 03:56] #1604 closed

[2021-03-02 10:49] UnkleTayo commented on #1572
I'd love to take this up

[2021-03-02 10:50] Nikhil-Ladha commented on #1572
Sure, go ahead @UnkleTayo 👍🏼

[2021-03-02 12:05] #1613 closed

[2021-03-02 14:10] leecalcote commented on #1555
LatestNews, pretty please.

On Sat, Feb 27, 2021 at 11:06 AM Harshita Kanal <notifications@github.com>
wrote:

[2021-03-02 23:06] leecalcote opened #1658 "[Books] Use full cover image for The Enterprise Path to Service Mesh Architectures book"
**Description**
This page, https://layer5.io/learn/service-mesh-books/the-enterprise-path-to-service-mesh-architectures, should have an image of the full book cover. The full book cover image is available here - https://raw.githubusercontent.com/layer5io/layer5/master/src/collections/service-mesh-books/the-enterprise-path-to-service-mesh-architectures/The-Enterprise-Path-to-Service-Mesh-Architectu

[2021-03-03 03:30] Nikhil-Ladha commented on #1578
Took a slight different approach, but it's working now. Hence, closing the issue.

[2021-03-03 03:30] #1578 closed

[2021-03-03 03:44] leecalcote commented on #1578
You bludgeoned this thing into submission.

[2021-03-03 04:04] #1628 closed

[2021-03-03 09:24] UnkleTayo commented on #1627
@Tanuj22 is this issue open?

[2021-03-03 09:26] Tanuj22 commented on #1627
I was going to work on it but you can go ahead. Use this https://www.npmjs.com/package/react-image-lightbox

[2021-03-03 10:21] UnkleTayo commented on #1627
Alright, is there a design for this? @Tanuj22

[2021-03-03 10:23] Tanuj22 commented on #1627
No. We just need a lightbox so that images can be seen  in enlarged view

[2021-03-03 10:25] UnkleTayo commented on #1627
So I'm only creating a component for that right?

[2021-03-03 10:27] Tanuj22 commented on #1627
I think this library can directly be used on an image. If so, you can show can example on the some of the images in the blog posts

[2021-03-03 10:28] UnkleTayo commented on #1627
Okay, I'll try and see how it works

[2021-03-03 10:53] #1572 closed

[2021-03-04 02:51] #1495 closed

[2021-03-04 07:51] chinmaym07 commented on #1658
knock knock 😆 . Want to knock this ?

[2021-03-04 08:37] #1658 closed

[2021-03-04 14:26] leecalcote opened #1662 "[Books] O'Reilly logo skewed"
Ohh, right....I think that would upset @leecalcote considering the disobey of aspect ratio. But, we might want a new image for it.

_Originally posted by @Nikhil-Ladha in https://github.com/layer5io/layer5/issues/1661#issuecomment-790430897_

[2021-03-04 15:27] Abiola-Farounbi commented on #1615
Hi, @leecalcote,
the call to join the community, does it lead to the slack channel?

[2021-03-04 16:18] vinayaksh42 opened #1663 "Community calender links leads to the wrong links"
**Description**

at https://layer5.io/community/calendar the section labeled as `layer5 meetings`  has a few misleading links

**Expected Behavior**

The meeting minutes link of CNCF SMI Community Meeting and CNCF SIG Network Meeting leads to the meeting minutes google Doc of Layer5 Community Meeting

---

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site

[2021-03-04 16:29] leecalcote commented on #1663
- CNCF SIG Network Meeting Minutes link - https://docs.google.com/document/d/18hYemFKK_PC_KbT_TDBUgb0rknOuIhikkRxer4_bv4Q/edit#
- SMI Community Meeting Minutes link - https://docs.google.com/document/d/1NTBaJf6LhUBlF8_lfvBBt_MbyPvT-6CZNg6Ckpm_yCo/edit

[2021-03-04 16:45] leecalcote commented on #1662
@chinmaym07 full set of logos available here - https://cdn.oreillystatic.com/images/oreilly/OReillyLogos.zip

The svg / ai / pdf (any vector image) can easily be resized w/o skewing.

[2021-03-04 21:35] Abiola-Farounbi commented on #1663
Hi @vinayaksh42
I would like to be assigned this issue

[2021-03-04 21:37] vinayaksh42 commented on #1663
@Abiola-Farounbi sure, I am assigning you for this issue.

[2021-03-05 03:03] #1663 closed

[2021-03-05 03:29] leecalcote opened #1667 "[News] HashiCorp partnership page has broken link to image"
**Description**
This page has a broken image - https://layer5.io/company/news/layer5-and-hashicorp-launch-service-mesh-partnership

<img width="1263" alt="Screen Shot 2021-03-04 at 9 28 00 PM" src="https://user-images.githubusercontent.com/7570704/110063341-995f6480-7d30-11eb-99e5-ca721dd15a27.png">

**Expected Behavior**
Image should be displayed on page.

---
**Contributor Resources**

The layer

[2021-03-05 04:13] #1542 closed

[2021-03-05 04:22] shivaylamba commented on #1667
Can I take this up?  @leecalcote

[2021-03-05 04:23] leecalcote commented on #1667
Thank you, @shivaylamba

[2021-03-05 04:51] #1662 closed

[2021-03-05 18:59] #1616 closed

[2021-03-05 19:59] leecalcote commented on #1616
Good work, gents.

[2021-03-05 21:03] #1615 closed

[2021-03-06 05:56] piyushsingariya opened #1670 "GSoC21- public idea page list"
Google Summer of Code 2021 page missing from Open Source Internship Programs.
An idea page list containing possible project ideas for the upcoming GSoC edition should be published.

[2021-03-06 06:31] chinmaym07 commented on #1585
@leecalcote sir Can you please confirm whether this is a browser specific issue ?
As I have tried to test this on firefox as well as chrome . I didn't find this issue on either of them.

[2021-03-06 06:40] chinmaym07 opened #1672 "[blog] Blog Post Sign Off didn't work for Functional Testing with Cypress"
**Description**

Here is a link to the issue
https://layer5.io/blog/meshery/functional-testing-with-cypress-in-meshery-ui

**Expected Behavior**
Blog Post Sign Off should work.

**Screenshots**

![Screenshot_2021-03-06 Functional Testing with Cypress in Meshery UI](https://user-images.githubusercontent.com/44670961/110197933-c3ba3a80-7e74-11eb-957e-d7f4c1594f3d.png)
---
**Contributor Resources**

[2021-03-06 11:03] #1672 closed

[2021-03-08 13:33] #1624 closed

[2021-03-08 16:03] leecalcote opened #1675 "[Community] Vertical and horizontal space between member cards should be the same"
**Description**
Member cards on /community/members should be equidistant vertically and horizontally.
---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md)
- See Laye

[2021-03-08 21:11] Tanuj22 commented on #1627
@UnkleTayo any update here?

[2021-03-09 17:51] EmperorYP7 opened #1680 "[Community] Hero section too small"
**Description**
Hero section needs to be a bit taller according to the design. (800 px tall for 1440p wide screens)

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING

[2021-03-09 17:58] EmperorYP7 opened #1681 "[Community] Adjust newcomer's map to have a larger left margin"
**Description**

The newcomer's map needs some left margin according to designs.

**Additional Context**

<img width="1440" alt="Screenshot 2021-03-09 at 11 26 11 PM" src="https://user-images.githubusercontent.com/62606998/110516050-1292f900-812f-11eb-991a-85b93672ab33.png">

The left margin here needs to be increased.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and G

[2021-03-09 18:44] EmperorYP7 opened #1683 "[Landscape] Add spacing between title and subtitle"
**Description**

Add spacing between title and subtitle on the landscape page

**Screenshots**

<img width="1440" alt="Screenshot 2021-03-10 at 12 11 46 AM" src="https://user-images.githubusercontent.com/62606998/110521222-7a4c4280-8135-11eb-92de-6de55e3bcf3e.png">

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master`

[2021-03-09 18:45] austinogiza opened #1684 "[Landscape] Landscape page Hero Section Update"
**Current Behavior**
The current landscape hero has inconsistent spacing/margin

Below is how the landspace hero currently looks
![land](https://user-images.githubusercontent.com/44683018/110521470-0d728180-8110-11eb-926e-1b6c9ed63ab3.PNG)

**Desired Situation**
We will need to update the spacing/margins to be consistent. First, reduce the whitespace and margin between the title and the text to 32

[2021-03-09 18:47] EmperorYP7 commented on #1683
Closing this. Duplicate of #1684

[2021-03-09 18:47] #1683 closed

[2021-03-09 23:37] #1667 closed

[2021-03-10 04:10] dhruv0000 opened #1687 "[Community] Member Profile: Soham Sonawane"
**Current Behavior**

@killbotXD has been a consistent contributor and community member.
**Desired Situation**
Let's recognize @killbotXD as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @killbotXD
- Twitter: @killbot_XD
- LinkedIn: soham-sonawane-66b606178
- Link to profile picture: [link](https://drive.google.com/uc?export=view&id=1kV

[2021-03-10 04:20] Tanuj22 commented on #1594
Fixed in #1674

[2021-03-10 04:20] #1594 closed

[2021-03-10 05:37] 96RadhikaJadhav commented on #1687
@dhruv0000 Can I work on it?

[2021-03-10 13:43] leecalcote commented on #1687
Yes, that’d be great, @96RadhikaJadhav

[2021-03-10 13:56] Tanuj22 commented on #1687
@killbotXD can you provide a small bio and your location.

[2021-03-10 17:37] killbotXD commented on #1687
Small bio - An Otaku who is also a developer ;) , loves to design beautiful stuff, is also an awesome photographer and can debug 99.9% of the bugs out there.
Location - Pune, India

[2021-03-11 13:22] leecalcote commented on #1687
Whoo-hoo, @killbotXD! 🎈

[2021-03-11 21:51] Ruth-ikegah opened #1691 "[Community] Member Profile: Abiola Farounbi"
**Current Behavior**

@Abiola-Farounbi  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @Abiola-Farounbi  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @Abiola-Farounbi
- Twitter: @abiolaEsther_
- LinkedIn: https://www.linkedin.com/in/abiola-farounbi-94ba571a0/
- Link to profile picture:

[2021-03-12 04:45] #1687 closed

[2021-03-12 11:47] #1675 closed

[2021-03-12 11:52] chinmaym07 commented on #1691
Can I do this  ? @Abiola-Farounbi Can you please provide a short bio & a location for your profile .

[2021-03-12 14:00] Ruth-ikegah commented on #1691
Hi, @chinmaym07 here you go!

Bio: I am a Front-End Developer based in Lagos, Nigeria. I'm passionate about creating user-friendly, aesthetic, and web-accessible websites, I write technical content and articles in my Blog.
I also contribute to open-source projects and volunteer in different programs available. I am also a Microsoft Student Learn Ambassador. In my Funtime, I engage in editing, desi

[2021-03-12 14:28] Abiola-Farounbi commented on #1691
Bio: I am a Front-End Developer based in Lagos, Nigeria. I'm passionate about creating user-friendly, aesthetic, and web-accessible websites, I write technical articles in my [Blog](https://abiolaesther.me/writing.html).
I contribute to open-source projects and volunteer in different programs, I am also a Microsoft Student Learn Ambassador. In my Funtime, I engage in editing, designing photos for

[2021-03-12 14:31] Abiola-Farounbi commented on #1691
Hi @chinmaym07 ,

I made a few changes to the bio.

[2021-03-12 16:50] Tanuj22 commented on #1516
@chinmaym07 do you mind taking this up?

[2021-03-12 16:52] chinmaym07 commented on #1516
Nope 👍🏻

[2021-03-12 22:28] #1516 closed

[2021-03-13 10:53] #1691 closed

[2021-03-13 14:46] #1684 closed

[2021-03-14 13:57] chinmaym07 commented on #1522
Can I work on this issue ?

[2021-03-15 14:13] leecalcote opened #1699 "Upgrade to Gatsby v3"
**Current Behavior**
layer5.io runs on Gatsby v2. v3 has [helpful improvements](https://www.gatsbyjs.com/blog/gatsby-v3/), notably around the handling of images.

**Desired Situation**
layer5.io is running on Gatsby v3

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree

[2021-03-15 21:10] #1670 closed

[2021-03-16 05:45] navendu-pottekkat opened #1702 "[Community] Member Profile: Aadhitya Amarendiran"
**Current Behavior**

@alphaX86 has been a consistent contributor and community member.

**Desired Situation**

Let's recognize @alphaX86 as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub:  alphaX86
- Twitter:  KryoX64
- LinkedIn:  alphaX86
- Link to profile picture: https://drive.google.com/file/d/1NpkDcvdSzRQPSafk4_z9vjXZs6pkjLBQ/view?u

[2021-03-16 06:03] alphaX86 commented on #1702
@navendu-pottekkat is it ok to use my username of LinkedIn alone? Or is link needed?

[2021-03-16 06:07] alphaX86 commented on #1702
And yeah, here's my description:
"I'm a 19-year-old student who loves to explore tech and tinker products. I joined Layer5 since Jan 2021 and contributed to Meshery in documentation field. I'm now currently learning Go and so yeah, hoping to contribute core type too!"

And would I get added to GitHub org after this? Just asking as a doubt

[2021-03-16 06:19] navendu-pottekkat commented on #1702
Yes, it would be linked in your profile.

[2021-03-16 06:59] alphaX86 commented on #1702
LGTM on the details! 👍 No issues!

[2021-03-16 07:43] chinmaym07 commented on #1702
Can I do this ?