[2022-08-08 20:48] Pavel-2004 commented on #3044
What link is it?

[2022-08-08 20:48] mihir2226 commented on #3044
number 36

[2022-08-08 20:49] mihir2226 commented on #3044
I just want to know how to figure out which file link is

[2022-08-08 20:58] Pavel-2004 commented on #3017
Hi, I would also like to help with this

[2022-08-08 21:00] Pavel-2004 commented on #3044
@mihir2226 its in src/collections/programs/sca-contributhon

[2022-08-08 21:24] YashKamboj commented on #3017
@Pavel-2004 Go Ahead!!

[2022-08-09 06:15] divyanshkul commented on #3038
Hey, sure
Will fix this too @debo19
@leecalcote I'll start working on the issue tonight, sorry about the delay

[2022-08-09 07:49] #2986 closed

[2022-08-09 11:14] AAYUSH-droid commented on #3044
Hey can you assign this issue to me aswell!?

[2022-08-09 14:23] Rohith-Raju commented on #3034
@mihir2226 are you working on this issue?

[2022-08-09 15:21] mihir2226 commented on #3034
Sorry but I don't able to figure out. How to solve this problem. Please Wait till tomorrow than you can assign it to somebody else.

[2022-08-09 20:52] leecalcote opened #3052 "[Footer] Update Programs hyperlink text"
**Current Behavior**
The "Programs" link in the site footer is nondescript.

<img width="199" alt="Screen Shot 2022-08-09 at 3 50 10 PM" src="https://user-images.githubusercontent.com/7570704/183758537-203076d9-2e61-47ce-9409-49edd053e937.png">

**Desired Situation**
"Internships" is a more accurate word for this hyperlink.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React,

[2022-08-09 20:57] manikmmalhotra commented on #3052
@leecalcote may i ?

[2022-08-09 22:09] leecalcote commented on #3052
@manikmmalhotra thanks for asking. Let's give this 24 hours and see if anyone new to the project volunteers. After that time, if none, yes, it's all yours.

[2022-08-10 01:48] bensonOSei commented on #3052
I'd like to work on this please

[2022-08-10 04:02] legendarykamal commented on #3052
Seems we have a new volunteer.

Yes @bensonOSei go ahead ⏩ , feel free to reach out in case you need any help on slack.

[2022-08-10 04:15] #2996 closed

[2022-08-10 04:52] Jonathan-Foo commented on #3016
Hi @YashKamboj,
If this issue is still open, could you please assign it to me.

[2022-08-10 07:26] warunicorn19 opened #3054 "[Community] Member Profile: Nishant Mittal"
**Current Behavior**

@nishantwrp  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @nishantwrp  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @nishantwrp
- Twitter: nishantwrp
- LinkedIn: nishantwrp
- Link to profile picture:

A detailed explanation on how to set up a community member pr

[2022-08-10 07:27] warunicorn19 commented on #3054
@nishantwrp could you please provide a small bio, a location, and a link to a picture of yours 😃.

[2022-08-10 07:30] legendarykamal commented on #3054
I would like to make it for @nishantwrp
mesheryctl guy 🙂

[2022-08-10 11:09] YashKamboj commented on #3016
@Jonathan-Foo Go Ahead!!

[2022-08-10 12:07] Jonathan-Foo commented on #3016
Hi @YashKamboj ,
Thank you for assigning me the issue. I was wondering do I have to do the image optimization for just the single img element in the index.js of the Community folder, or all the img elements I might find going through the components(e.g. PictureSlider) that make up the Community page?

[2022-08-10 12:16] YashKamboj commented on #3016
@Jonathan-Foo All the images in the community page, and also if we missed some of them related to the community page would be great!

[2022-08-10 16:42] leecalcote opened #3057 "[Community] Add Badges to Member Profile: Hersh Dillion"
**Current Behavior**

@hershd23 has been a consistent contributor to the SMP and Meshery projects.

**Desired Situation**
Let's recognize @hershd23 with the addition of the Service Mesh Performance and Meshery badges on his community member profile at https://layer5.io/community/members/hersh-dhillon

A detailed explanation on how to update a community member profile can be found in the [CONTRIBUT

[2022-08-10 16:43] leecalcote commented on #3032
@karnatisrinivas I missed your message earlier. Yes, please do. 👍

[2022-08-10 16:49] #2989 closed

[2022-08-10 19:58] bensonOSei commented on #3057
I'd like to work on this 😊

[2022-08-10 19:59] leecalcote commented on #3057
Thanks, @bensonOSei

[2022-08-10 19:59] leecalcote commented on #3034
@asubedy

[2022-08-10 21:27] Olaleye-Blessing opened #3060 "Flickering of dark mode"
#### Steps
 - switch to the dark mode
 - refresh the page
 - Notice the light mode shows for some seconds before switching to dark mode.

#### Expected Behavior
The flicker shouldn't happen. The dark mode should be loaded upon page load.

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px" align="left" /><h3> Contribut

[2022-08-10 21:45] Olaleye-Blessing opened #3061 "Blog page accessibility could be improved"
**Current Behavior**
Poor accessibility due to heavy use of divs.

**Desired Situation**
I believe the accessibility of the blog page could be improved by using the right tags for the blog list.

![image](https://user-images.githubusercontent.com/70102539/184025644-a83a17a4-20b0-4f70-be08-e2505fe92d58.png)

At the bare minimum, the divs could be replaced with `ul`, `li`, `a`, `article`, and `heade

[2022-08-11 03:13] #3031 closed

[2022-08-11 05:47] warunicorn19 commented on #3061
@Nikhil-Ladha @debo19

[2022-08-11 05:53] Nikhil-Ladha commented on #3061
Well, using `divs` in cards is not an issue. We don't mind keeping it as it is.
`ul`, `li`, doesn't makes sense for card designs.
`a` is used for links already.
`header` is used for page headers too.
So, I don't see any accessibility issues on the page.

[2022-08-11 08:48] #3057 closed

[2022-08-11 12:40] leecalcote commented on #3060
Thanks for calling this out, @Olaleye-Blessing. This has been a long topic of discussion and exploration of solutions these past couple weeks. Do join the weekly Websites meetings (if you haven't been already - meet.layer5.io) and let's brainstorm more.

[2022-08-11 13:38] Jonathan-Foo commented on #3016
some times the quality of the images(svgs) also become lower

[2022-08-11 13:54] 03amir commented on #3037
@leecalcote  yes I am working

[2022-08-11 13:56] Nikhil-Ladha commented on #2920
@arishmaurya @legendarykamal what's the current progress? Stuck anywhere?

[2022-08-11 14:00] Nikhil-Ladha commented on #3016
Avoid SVG's when using the StaticImage component. Use the regular `img` tag for them

[2022-08-11 14:09] Jonathan-Foo commented on #3016
Hi @Nikhil-Ladha,
Thank you for clarify. What should I do about the StaticImage's built in styles issue?

[2022-08-11 14:35] Nikhil-Ladha commented on #3016
Add a className and see if that helps. I guess you are saying this for the slider, if so we have had issues in past using gatsby-plugin on it. So, yeah we can skip that if it doesn't work for you as well.
But, do give a try.

[2022-08-11 14:55] legendarykamal commented on #2920
@arishmaurya can you open a PR of the changes you have done, I didnt wanted our works to get repeated hence was waiting for you
@Nikhil-Ladha lets wait for an update from @arishmaurya or I will make a PR soon.

[2022-08-11 16:37] leecalcote commented on #3037
@03amir great. All that you need to do is fill in the markdown template...

[2022-08-11 17:19] 03amir commented on #3037
Ok, But  I am having a problem setting up locally.

[2022-08-11 17:38] leecalcote commented on #3037
@03amir no sweat. In fact, that's why I am pointing this out. All that you have to do is use the GitHub web UI to add a new file with markdown included. Use the member profile template provided.

If you're not able to get this by end of day Friday, let's free up this issue for another contributor to take it on, while you study / learn a bit more.

[2022-08-11 18:17] manikmmalhotra commented on #2968
@Nikhil-Ladha my fault i'll complete this asap it's almost done.

[2022-08-11 19:58] leecalcote opened #3064 "[Handbook] Add list of site maintainers to Repository Overview?"
#### Question:

Is the following list or a similar list desired or is it just more to maintain? It certainly doesn't do a good job of capturing the fact that any of of these people are maintaining any number of the different sites.

List:

Nikhil Ladha on the individual to tag in Figma comments on the http://service-mesh-patterns.github.io/service-mesh-patterns/ site and the [play.meshery.io](http

[2022-08-11 22:27] nishantwrp commented on #3054
Thanks for the recognition @warunicorn19. Also, @legendarykamal thanks for picking the task up 😄. Here's my info.

**Location**
Sangrur, India

**Picture**
![IMG_1394](https://user-images.githubusercontent.com/36989112/184252864-7bedc2d3-9397-44ab-938d-e500bf6158a9.jpg)

**Bio**
Nishant is a passionate software engineer, open source enthusiast and is studying computer science at IIT (BHU) Varanasi

[2022-08-12 03:08] legendarykamal commented on #2995
@sahilsuman933 here we go :100:

https://user-images.githubusercontent.com/95926324/184277724-0516fe72-45af-4f39-bf42-d51705fa8b39.mp4

[2022-08-12 03:18] legendarykamal commented on #3064
yes @leecalcote I am working on this as you said , will complete this by today.

[2022-08-12 03:25] legendarykamal commented on #3054
Thank you for the details @nishantwrp I will add this up :+1:
PS:- IIT BHU is a great place.

[2022-08-12 04:25] legendarykamal commented on #3064
@leecalcote should we take community members view before implementing this ? i just reread and found that this was a more of a question :laughing:

[2022-08-12 04:31] leecalcote commented on #3064
@legendarykamal, yes, although, there's little harm in starting in the meantime.

I'm curious for @Nikhil-Ladha and @debo19's perspectives on the subject (and anyone else that would like to offer a perspective).

[2022-08-12 04:40] leecalcote opened #3065 "[UX] Update page design to incorporate MeshMark"
#### Current Behavior
The Service Mesh Performance (https://layer5.io/projects/service-mesh-performance) page is missing details of MeshMark.

#### Desired Behavior
Enhance https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN/Layer5-Designs?node-id=2589%3A4349 to provide a summary of MeshMark. Find details at:

- https://smp-spec.io/meshmark
- https://layer5.io/blog/service-mesh-performance/meshmark-

[2022-08-12 04:41] Nikhil-Ladha commented on #3064
I believe it is fine to go ahead in the meantime.
There won't be a denial for sure, and this idea would be welcomed with both hands wide open!

[2022-08-12 04:59] leecalcote commented on #2911
This might have been taken care of already...

[2022-08-12 06:21] legendarykamal commented on #2496
@kayceeDev any updates ? May I join you in this as I put forward to see Linkerd ?

[2022-08-12 06:24] Kanika637 commented on #3065
I would like to work on this @leecalcote

[2022-08-12 06:42] Chadha93 commented on #3065
Here you go @Kanika637. Assigned.

[2022-08-12 07:07] kayceeDev commented on #2496
@legendarykamal  You can take a shot at this. If you may.

[2022-08-12 07:16] Kanika637 commented on #3065
I don't have permission to open the Figma file @Chadha93

[2022-08-12 07:18] legendarykamal commented on #3014
Yeaa! @YashKamboj  1 out of 3 just got completed 👌

[2022-08-12 07:55] Chadha93 commented on #3065
https://layer5io.slack.com/archives/C019426UBNY/p1659965954560819

[2022-08-12 07:57] debo19 commented on #3064
If we go ahead with this, we should also add the other areas to the list - MesheryCTL, Meshery UI, Adapters, etc

[2022-08-12 12:12] sahilsuman933 commented on #2995
Nice work @legendarykamal

[2022-08-12 14:30] 03amir commented on #3037
@leecalcote  unassigning myself as you said, I still have problems to set up locally.

[2022-08-12 14:31] legendarykamal commented on #2995
thanks @sahilsuman933 your help made it in less time :+1:

[2022-08-12 14:32] legendarykamal commented on #3064
yess @debo19 we will add that too in the list :smiley:

[2022-08-12 15:09] legendarykamal commented on #3037
@03amir no sweat follow the docs and reach out in slack , Members and I will be happy to help you .

@leecalcote meantime let me wrap this up ?

[2022-08-12 15:37] legendarykamal commented on #3064
@leecalcote @Nikhil-Ladha only site coloumn is enough or there is a need for repository coloumn too?

[2022-08-12 15:50] leecalcote commented on #3037
Thank you, @03amir. Let's get you onto another issue. The "help wanted" hyperlink in the README.md has many, many issues listed.

That'd be great, @legendarykamal

[2022-08-12 16:39] #3054 closed

[2022-08-12 18:15] legendarykamal opened #3072 "[UX] Icons are hidden on the landing page"
#### Current Behavior

![image](https://user-images.githubusercontent.com/95926324/184419186-52610618-03b7-442f-9695-00b64a2e5e4e.png)
Many Icons are hidden on the landing page.
#### Desired Behavior

As seen these icons should be visible to make the best of UX ,
The idea I would suggest is to get these icons rolling from left to right so that all are visible and in less space.
#### Screenshots /

[2022-08-12 18:17] legendarykamal commented on #3072
Would someone like to implement this cool auto roll slider with me?

[2022-08-12 18:19] legendarykamal commented on #3072
@leecalcote @Chadha93 @debo19 can we implement this cool auto roll slider on the layer5 website?

[2022-08-12 18:22] leecalcote commented on #3072
Great idea. There are a number of other items that are in need of help, though, instead. This section and the cut-off is by design.

Here's what we do need: new sections on the home page highlighting Meshery and MeshMap features. Feel free to engage with any of the UXers that have recently joined to collaborate on this effort (and you might open an issue, too).

[2022-08-12 18:23] leecalcote commented on #3065
Invite inside ^^

[2022-08-12 18:25] legendarykamal commented on #3072
oh okk design part , ya I will open an issue for this :+1:

[2022-08-12 18:43] Kanika637 commented on #3065
Got it @leecalcote 👍

[2022-08-12 20:09] debo19 commented on #3072
Closing this issue.

[2022-08-12 20:09] #3072 closed

[2022-08-12 20:13] debo19 commented on #3061
I agree. Closing this issue for now.

[2022-08-12 20:13] #3061 closed

[2022-08-12 21:21] #3037 closed

[2022-08-12 22:45] leecalcote commented on #3038
Thanks, @divyanshkul. Do send word if you think you'll complete this over the weekend.

[2022-08-12 22:45] leecalcote commented on #3032
@karnatisrinivas, I was tardy on this assignment. Is this something that you'll be able to get to this weekend, do you think?

[2022-08-13 14:58] legendarykamal opened #3076 "[UX]New Sections on homepage needed"
#### Current Behavior
The layer5.io home page does not highlight features and functionality of the individual projects or tell a story of how they all tie together.

#### Desired Behavior

New section designs.

Ideally, functional overviews, feature highlights, user pain-points are all highlighted in new new sections on the home page highlighting Meshery and MeshMap features.

#### Implementation

[2022-08-14 03:40] Rohith-Raju opened #3077 "Fix Non Functional Nav-Item"
#### Description
Clicking on the "All projects" nav item doesn't redirect to the desired destination.

#### Expected Behavior
Should redirect to a specific destination
#### Screenshots

[screen-recorder-sun-aug-14-2022-09-04-37.webm](https://user-images.githubusercontent.com/55309324/184521453-49f0d229-0463-4fdc-9110-e521df11a36d.webm)
#### Environment:
- Host OS:
- Browser:

---
<img src="https:/

[2022-08-14 03:45] #3077 closed

[2022-08-14 03:46] Rohith-Raju commented on #3077
Doesn't redirect when I'm already on that page 😅

[2022-08-14 14:53] legendarykamal opened #3079 "[FAQ] Correcting the FAQ Section"
**Current Behavior**

None answers are correct and all the three are rather same.

![image](https://user-images.githubusercontent.com/95926324/184542526-7427c334-986a-455c-9909-78890d60b23c.png)

**Desired Situation**

Correct answers are needed to be filled in to Improve User Experience.
---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**

The layer5.

[2022-08-14 19:23] karnatisrinivas commented on #3032
Hello @leecalcote, Wasn't able to work on this task over the weekend. If anyone is ready to pick this up I would be happy to assist.

[2022-08-14 20:11] debo19 commented on #3044
@Pavel-2004 @mihir2226 any progress here? This is a high priority issue, we need all broken links fixed as soon as possible.

[2022-08-14 20:14] mihir2226 commented on #3044
Sorry but I kind a not able to fix it. Because of lack of understanding.

[2022-08-14 20:25] debo19 opened #3081 "[Contact Form] Reduce response message height after form submission"
#### Description
<img width="1440" alt="Screenshot 2022-08-12 at 8 18 56 PM" src="https://user-images.githubusercontent.com/85789734/184553614-be635a20-656a-4117-9bf1-b70116414625.png">

#### Expected Behavior
The message should not take up this unwanted space.

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/lay

[2022-08-14 20:47] Nikhil-Ladha commented on #3081
Unfortunately, for the animation to be in place this seems like the only workaround. Couldn't gind any when I took a look earlier.
But, will wait if someone gas any ideas around it...

[2022-08-14 20:48] debo19 commented on #3044
@mihir2226 In that case, let's pass your part of the assignment to @AAYUSH-droid. Take a look at any other [good-firt-issue](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+org%3Ameshery+org%3Aservice-mesh-performance+org%3Aservice-mesh-patterns+label%3A%22good+first+issue%22+) if you'd like.
@AAYUSH-droid you can move forward with this.

[2022-08-15 11:42] roei111 commented on #3081
Hey @debo19, I would like to work on this issue! Can you assign it to me? :)

[2022-08-15 12:22] YashKamboj commented on #3017
@Pavel-2004 Update on the issue?, do you need any help with this issue?

[2022-08-15 13:00] Jonathan-Foo commented on #3016
Hi @Nikhil-Ladha,
I've looked through the community page, as well as related pages(MeshMate, NewComers), but most images use svg and the ones that use .png have already been optimized. I tried my best to optimizing the slider, but the image disappears, even when I use inline styles, add a className or use the StaticImage props(style, imgStyle).

Here's a list of files I looked through:
https://doc

[2022-08-15 22:32] #3032 closed

[2022-08-16 09:44] Jonathan-Foo commented on #3017
Hi @YashKamboj, I would like to give it a try if @Pavel-2004 no longer wants too.

[2022-08-16 21:17] sahilsuman933 commented on #2995
###

[2022-08-16 21:17] #2995 closed

[2022-08-17 11:00] TarekArar99 commented on #3044
if this issue is still pending you can assing it to me

[2022-08-17 13:34] leecalcote opened #3085 "Replace outlined Meshery Operators logos with filled logo"
#### Current Behavior
The outlined version of the Meshery Operator logo is deprecated and needs to be replaced with the filled version of the logo. The filled version of the logo is available for in light and dark theme depending upon the need of the page/place it is being displayed.

#### Desired Behavior
Replace out outlined Meshery Operators logos with the filled Meshery Operator logo, using li

[2022-08-17 13:52] legendarykamal commented on #3085
Hi @leecalcote i have used light and dark mode logos before, can i complete this one ☝?

[2022-08-17 15:01] sourav-sharma7 commented on #3085
Hello everyone can I give this a try

[2022-08-17 15:22] leecalcote commented on #3085
Thank you, gents. Assigning in sequence of response...

[2022-08-17 15:23] legendarykamal commented on #3076
I came here to update this but found it done already thanks @leecalcote

[2022-08-17 15:24] leecalcote commented on #3076
So much more needed here. This issue has not been fixed.

[2022-08-17 15:41] legendarykamal commented on #3076
@debo19 @warunicorn19 if you could sync me for those list of changes, it would be helpful .

[2022-08-17 20:23] leecalcote opened #3086 "[Programs] Add descriptions for 7 LFX 2022 Fall internships"
#### Current Behavior
This page https://layer5.io/programs/lfx doesn't have the description of the 7 upcoming internships.

#### Desired Behavior
Add the Meshery, SMP, and CNCF TAG Network internship descriptions --> https://github.com/cncf/mentoring/blob/main/lfx-mentorship/2022/03-Sept-Nov/README.md (5)

_Note: Two internships for MeshMap will be added under https://github.com/layer5io/layer5/is

[2022-08-17 20:25] leecalcote opened #3087 "[Programs] Add descriptions for 2 MeshMap LFX 2022 Fall internships"
#### Current Behavior
This page https://layer5.io/programs/lfx doesn't have the description of the 2 MeshMap LFX 2022 Fall upcoming internships.

#### Desired Behavior
Add the MeshMap internship descriptions --> https://github.com/cncf/mentoring/blob/main/lfx-mentorship/2022/03-Sept-Nov/README.md (2)

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/laye

[2022-08-18 04:47] Cypher1002 commented on #3086
we need to add more content? to the required page? more clearance needed to work on the project

[2022-08-18 05:28] legendarykamal commented on #3085
Hey @sourav-sharma7 don't worry feel free to check more areas to contribute.
like this one https://github.com/layer5io/layer5/issues/3086

[2022-08-18 05:38] legendarykamal commented on #3086
Hey @Cypher1002 a good amount of detail is provided but let me ease for u
You just have to pick and drop the 5 necc details to https://layer5.io/programs/lfx 🙂

[2022-08-18 05:50] Cypher1002 commented on #3086
I get it would work on that

[2022-08-18 05:54] legendarykamal commented on #3086
Sure go ahead! @Cypher1002

[2022-08-18 06:11] sourav-sharma7 commented on #3085
Thank you @legendarykamal will give try to solve those issues.

[2022-08-18 06:12] sourav-sharma7 commented on #3079
Hi @legendarykamal can I work on this issue

[2022-08-18 08:09] legendarykamal commented on #3079
Sure @sourav-sharma7 go ahead ⏩
You might want to discuss with @debo19 @warunicorn19 @sahilsuman933  of right things to put in the place 😃 .

[2022-08-18 13:01] leecalcote opened #3089 "[Meshery] Add 4 Kubernetes logos to the "How It Works" animation"
#### Current Behavior
The animation on the https://layer5.io/service-mesh-management/meshery/operating-service-meshes page, only has service mesh logos.

#### Desired Behavior
It should include a set of four, randomly placed Kubernetes logos, too. Meshery is a Kubernetes manager.

#### Screenshots / Mockups
<img width="640" alt="Screen Shot 2022-08-18 at 7 53 02 AM" src="https://user-images.github

[2022-08-18 13:06] leecalcote commented on #3085
@legendarykamal here's another location to update - https://layer5.io/service-mesh-management/meshery/operating-service-meshes - the hero image on this page.

[2022-08-18 16:31] legendarykamal commented on #3089
wow this sounds pretty interesting, I will collaberate with other ux about the placement of the k8 logos.

[2022-08-18 16:56] Nikhil-Ladha commented on #3081
Go ahead @roei111

[2022-08-18 16:58] Nikhil-Ladha commented on #2920
Seems like @arishmaurya is not around.
@legendarykamal please go ahead and send a PR for the issue.

[2022-08-18 17:42] sourav-sharma7 commented on #3079
Thanks a lot @legendarykamal for the guidance.

[2022-08-18 18:25] leecalcote commented on #3089
The graphic that I created for this post might help with inspiration - https://layer5.io/blog/meshery/multi-cluster-kubernetes-management-with-meshery

[2022-08-18 18:45] legendarykamal commented on #3089
:thinking:  those big and small k8s certainly give a good feel

[2022-08-18 18:58] leecalcote commented on #3089
Perhaps, drop shadows should be added to the rest of the logos.

[2022-08-18 19:52] alexisdsgns commented on #3089
I will be happy to assist, I just need a set of tasks to follow through with.

[2022-08-19 01:31] Jonathan-Foo commented on #3017
Hi @YashKamboj any updates?

[2022-08-19 07:02] legendarykamal commented on #3085
@leecalcote I found that https://layer5.io/service-mesh-management/meshery/operating-service-meshes already has the filled form logo in both light and dark mode
![image](https://user-images.githubusercontent.com/95926324/185562247-2ee9990b-6a9d-4616-a212-76d4f451f12d.png)
![image](https://user-images.githubusercontent.com/95926324/185562291-54c9edde-70f3-4495-8dd4-3ef145bbdaed.png)

[2022-08-19 07:54] #3064 closed

[2022-08-19 11:13] leecalcote commented on #3085
@legendarykamal light mode and dark mode - great - that is half of what is requested. The other half is to refresh the the logos given changes to the design.

[2022-08-19 11:27] sourav-sharma7 opened #3094 "Just ask form not dark mode friendly moreover just ask button changes to white colour after it is clicked once"
#### Description

Just ask form dark mode appears only for a split second and then turn light mode moreover just ask button changes to white colour after it is clicked once
https://layer5.io/company/faq
#### Expected Behavior

Form must be dark mode friendly and the button must remain as original colour even after being clicked
#### Screenshots

![Screenshot from 2022-08-19 13-21-43](https://user-

[2022-08-19 11:28] sourav-sharma7 commented on #3094
@leecalcote what are your views on this issue. I would like to fix this myself can you please assign me this issue.

[2022-08-19 11:32] sahilsuman933 commented on #3094
Go ahead and fix this issue @sourav-sharma7.

[2022-08-19 11:39] sourav-sharma7 commented on #3094
Thanks a lot @sahilsuman933  for assigning.

[2022-08-19 11:40] sourav-sharma7 opened #3095 "Copy button overlaps with the terminal code"
#### Description

the copy to clipboard button is overlapping the command in the terminal
https://layer5.io/service-mesh-management/meshery/getting-started
#### Expected Behavior

Add an copy button as shown in the terminal in the meshery docs.
![Screenshot from 2022-08-19 17-02-50](https://user-images.githubusercontent.com/78010922/185609571-794e4254-579d-4c1d-a4e6-108e18138e86.png)
this is what

[2022-08-19 11:41] sourav-sharma7 commented on #3095
would like to fix this issue as I have worked with terminal animation before.

[2022-08-20 15:20] adarsh500 opened #3097 "Add more contrast between font color and select color"
#### Description

There is no way to distinguish between the color of the font and the background color of the selected text in dark mode. This issue is present only on firefox.

#### Expected Behavior

Add more contrast between the font color and the selected background color.

#### Screenshots

<img width="1680" alt="Screen Shot 2022-08-20 at 8 47 54 PM" src="https://user-images.githubuserconten

[2022-08-20 15:24] adarsh500 commented on #3097
i'd like to take up this issue.

[2022-08-20 17:27] debo19 commented on #3044
Yup sure @TarekArar99. Given that there was no response from @AAYUSH-droid or @Pavel-2004, let's keep this issue unassigned for now. @TarekArar99 you can raise a PR covering as many links as you can from the sheet.

[2022-08-20 18:51] debo19 commented on #3079
@sourav-sharma7 Here you go:

1.  Correct the question: How **do*** Meshery ...
- Meshery is an extensible platform. Customize Meshery using any of its purpose-built extension points.
- Take advantage of these extension points for working with different service meshes via adapters, different load generators and different providers. Use Meshery’s REST API or its GraphQL API both of which allow you

[2022-08-20 20:53] sahilsuman933 commented on #3097
@adarsh500 Go ahead 🚀

[2022-08-21 06:50] #3085 closed

[2022-08-21 08:51] arunkarthicknm opened #3099 "Fix the typo"
#### Description
A small typo in pre-requisites section.
Expected : measure.

#### Screenshots
![Screenshot (113)_LI](https://user-images.githubusercontent.com/82659074/185783361-46d1510f-a9d0-4ba6-82c8-5653dff3b60b.jpg)

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px" align="left" /><h3> Contributor Resources and

[2022-08-21 09:18] bensonOSei commented on #3079
I'd like to work this if it's still not fixed

[2022-08-21 09:22] sourav-sharma7 commented on #3079
@bensonOSei Thanks for volunteering. The issue is almost solved I will be making a pr today.  Meanwhile you can checkout #3089 and #3060

[2022-08-21 09:23] bensonOSei commented on #3079
Alright, thanks

[2022-08-21 15:32] legendarykamal commented on #3089
ok @alexisdsgns let's get going with this :)

[2022-08-22 04:16] #3099 closed

[2022-08-22 10:24] sourav-sharma7 commented on #3094
@Nikhil-Ladha I wanted to confirm should I leave the iframe form as it is and only fix the button issue.

[2022-08-22 10:52] bhavyastar commented on #3081
Hey, Can I work on this issue @Nikhil-Ladha?

[2022-08-22 10:53] bhavyastar commented on #3044
Hey @debo19 Can I work on this issue?

[2022-08-22 11:52] Nikhil-Ladha commented on #3094
Yes

[2022-08-22 12:26] Nikhil-Ladha commented on #3081
Sure @bhavyastar

[2022-08-22 17:45] #3097 closed

[2022-08-22 18:14] leecalcote opened #3104 "[Meshery] Integrations: Oddity on hover"
#### Description

https://user-images.githubusercontent.com/7570704/185990389-6052718e-2c5b-4a5a-875b-b984c70871e2.mov

#### Environment:
- Host OS: macOS
- Browser: Safari

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px" align="left" /><h3> Contributor Resources and <a href="https://layer5.io/community/handbook">H

[2022-08-22 18:23] Himanshu664 opened #3105 "[UX] Proud Maintainers text and MesheryMap Image is colliding"
#### Description
Proudly Maintaining and contributing text and MesheryMap Image is colliding
### Before

![Screenshot from 2022-08-22 16-40-44](https://user-images.githubusercontent.com/76220055/185991668-aedbb741-9aba-49f4-987a-8cba752ba2d4.png)

#### Environment:
- Host OS: Ubuntu 22.04
- Browser: Chrome

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/image

[2022-08-22 18:49] sahilsuman933 commented on #3104
I am not facing this issue.  @leecalcote

Host OS: Arch Linux
Browser: Google Chrome

https://user-images.githubusercontent.com/34382211/185996557-dcdbdd10-4b94-49d4-b3f7-6902232ee466.mp4

[2022-08-22 18:52] leecalcote commented on #3104
@sahilsuman933 ok, not an issue in Chrome, it seems. It is an issue in Safari, though. Perhaps, other browsers? Irrespective, we'll need to plan a fix: whether that is now or after use of the npm package for honeycomb (we're not using that, yet, right?).

@asubedy has access to Safari, if you need to partner with someone.

[2022-08-22 19:00] sahilsuman933 commented on #3104
@leecalcote We are using the honeycomb package right now.

[2022-08-23 05:56] Kanika637 commented on #3065
Hey, @leecalcote, I have the changes in the Figma file:
 https://www.figma.com/file/WS9EQY8PY3oJAuvEkzFlCp/Layer5-Designs-(Copy)?node-id=5595%3A0

Kindly review it so that I can make further changes

[2022-08-23 08:06] Shubhcs01 commented on #3044
Hey, if this issue is still pending, can I work on this issue?

[2022-08-23 09:44] #3079 closed

[2022-08-23 14:24] Himanshu664 opened #3111 "[IMPROVE] Change the background color of bottom to top button"
#### Current Behavior
Background color of bottom to top button is black which is not suited in dark theme
![Screenshot from 2022-08-23 19-48-01](https://user-images.githubusercontent.com/76220055/186183184-f4381e62-e18c-420d-ae59-cbf8116528f0.png)

#### Desired Behavior
Background color should be flexible to support both dark and light theme maybe grey.

### Environment:
Host OS: Ubuntu 22.04
Brow

[2022-08-23 14:24] Himanshu664 commented on #3111
@leecalcote can you assign me this issue

[2022-08-23 15:34] legendarykamal commented on #3111
@Himanshu664 are you going with the design scheme decided upon for the dark mode?

[2022-08-23 15:37] Himanshu664 commented on #3111
No I Just change the background-color To Grey or anything else whichever suits both Dark and light Theme

[2022-08-23 18:10] subhradwip01 opened #3112 "[UI] Change Text and Image alignment"
#### Current Behavior

Currently, for mobile view or small screen view in [docker extension page](https://layer5.io/docker-extension-meshery), the feature section is not properly aligned
#### Desired Behavior

For mobile or small screen view, the image should come first and then the relevant text. (See the large screen view, to know which text is for which image)
#### Screenshots / Mockups

Curren

[2022-08-23 23:55] Jonathan-Foo commented on #3112
Hi @subhradwip01, Could I please work on this issue?

[2022-08-24 06:26] NPDebs commented on #2323
Hi Anita. 👋🏼
Can I please get more information on this issue?

It will help me know if I have the skill necessary to handle it. Thanks.

[2022-08-24 06:30] Anita-ihuman commented on #2323
Sure @NPDebs,

This article is yet to be published, and we have the updated [article draft ](https://docs.google.com/document/d/1T5KycIgR6TtyTAv6bKuT-fiGQi7j9e4VYb0yzE2d4D8/edit#heading=h.cojl5cenery1). We want this on the website just like other [aricles ](https://layer5.io/blog).

[2022-08-24 06:32] Anita-ihuman commented on #2323
Are you up for the task?

[2022-08-24 07:25] anuragh2002 commented on #2323
Hey @Anita-ihuman I would love to work on this issue! Should I just start with creating a new file for "learning path blogpost" in the "blog" directory? Or is there anything else I should look out for?

[2022-08-24 09:41] NPDebs commented on #2323
Thanks @Anita-ihuman

It seems @anuragh2002 already beat me to it. I'll look out for the next one.

[2022-08-24 09:48] Anita-ihuman commented on #2323
@NPDebs, since you asked first, I was going to assign it to you.
@anuragh2002, can you please explore other tasks available?

[2022-08-24 09:50] anuragh2002 commented on #2323
Yeah, no issues, @Anita-ihuman ! Let @NPDebs have it, thanks!

[2022-08-25 10:50] #3044 closed

[2022-08-25 12:00] #2943 closed

[2022-08-25 12:40] DhirajGilda commented on #3018
is this issue taken if not i would like to work on this @legendarykamal

[2022-08-25 12:53] Nikhil-Ladha commented on #3018
Actually, this issue is irrelevant.
Closing it now.

You can take a look around the projects for more such `good-firs-issues` @DhirajGilda :)

[2022-08-25 12:53] #3018 closed

[2022-08-25 15:22] legendarykamal opened #3114 "[Readme]Meshery operator update"
#### Description

Meshery operator in the Readme needs to be updated.
#### Expected Behavior

#### Screenshots

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px" align="left" /><h3> Contributor Resources and <a href="https://layer5.io/community/handbook">Handbook</a></h3>

The layer5.io website uses Gatsby, React, an

[2022-08-25 15:56] #3114 closed

[2022-08-25 16:23] Shubhcs01 opened #3116 "[Learn] Image Alignment"
**Current State:**

![Screenshot 2022-08-25 214737](https://user-images.githubusercontent.com/81324145/186717660-ea8b3ebc-6c30-4733-9b56-e686277f35e6.png)

Image not aligned and overlap with text
--------------------------------------------------------------------------------------------------------------------------------------

**Desired State:**

![Screenshot 2022-08-25 214615](https://user-ima

[2022-08-25 16:24] Shubhcs01 commented on #3116
Can I  work on this issue?

[2022-08-25 16:29] sreekeshiyer commented on #3116
May I work on this?

[2022-08-25 16:31] leecalcote commented on #3116
This is something of an urgent item, yes, please do proceed. 👍

[2022-08-25 16:32] leecalcote commented on #3116
Do be aware of the existing effort to fix - https://github.com/layer5io/layer5/pull/3106.

[2022-08-25 16:37] Shubhcs01 opened #3117 "[ReadMe] meshery-operator logo not visible in light mode"
**Description**

meshery-operator logo not visible in light mode

**Screenshots**

![Screenshot 2022-08-25 215957](https://user-images.githubusercontent.com/81324145/186721257-b69dc56c-209b-4936-806d-6bceafbf9c55.png)

**Enviroment:**
- Host OS: Windows
- Browser:  Brave

---

---
**Contributor Resources**

Contributing to the [discuss.layer5.io](https://discuss.layer5.io/) site involves a unique

[2022-08-25 17:55] Shubhcs01 commented on #3116
I'm new to open source and I'm not able to find the exact location of the directory, Can anyone please help?

[2022-08-25 18:38] legendarykamal commented on #3117
This is due to a recent change by me , let me fix this.

[2022-08-25 18:39] #3116 closed

[2022-08-25 18:43] Shubhcs01 commented on #3117
I already fixed it, Can I send PR?

[2022-08-25 19:12] legendarykamal commented on #3117
@Shubhcs01 though this is still incomplete , we wanted the light mode to be shown in dark mode. Can you improve that?

[2022-08-25 20:18] Shubhcs01 commented on #3117
But the logo is also visible in dark mode as light wallpaper in my forked project with the same code which I changed.

here's screenshot
![Screenshot 2022-08-26 014553](https://user-images.githubusercontent.com/81324145/186760204-8bd12fb8-7bc5-42b6-9a7c-d561c7cfad21.png)

Sorry if I missed something. Can you please explain a little more?

[2022-08-26 04:13] Himanshu664 commented on #3111
@legendarykamal Any suggestions

[2022-08-26 05:13] #3112 closed

[2022-08-26 16:25] #3105 closed

[2022-08-27 06:37] Olaleye-Blessing commented on #3060
I think I missed the meeting, sorry for that.
Anyone willing to pick the issue up could follow [Josh's blog post](https://www.joshwcomeau.com/react/dark-mode/), it's written for Gatsby

[2022-08-27 12:17] deepeshaburse commented on #2496
@legendarykamal are you working on this issue? In case you aren't, I'd like to take it up 😄

[2022-08-27 16:49] leecalcote commented on #2496
@deepeshaburse please do.

[2022-08-27 16:51] aaqilrk commented on #2163
Hey, @leecalcote, @Chadha93 can I look into this issue ?

[2022-08-27 17:12] legendarykamal commented on #2496
@deepeshaburse I am working on this but I will be happy to have you collaberate on this.
Let's work together on this 😃.

[2022-08-27 17:26] deepeshaburse commented on #2496
Okay 👍🏼

[2022-08-27 17:26] deepeshaburse commented on #2496
Okay, do you have slack? Can we connect there?

[2022-08-28 06:40] eeshaanSA commented on #3095
i would like to take this up if theres no-one currently working on this.

[2022-08-28 07:23] sourav-sharma7 commented on #3095
Hi Eeshaan the issue is almost solved. I will be making a pr today. Thanks for volunteering.

[2022-08-28 18:16] #3117 closed

[2022-08-29 02:33] legendarykamal commented on #3111
To me It looks good slightly greyish type and looks good in both the modes.

![Screenshot from 2022-08-29 07-59-28](https://user-images.githubusercontent.com/95926324/187111337-8709a022-8349-4b32-8f38-4da5f85bba45.png)

Its already grey I  think @Himanshu664
![image](https://user-images.githubusercontent.com/95926324/187111457-e0add0d4-282d-4f94-b4ac-1f7e73f043ea.png)

[2022-08-29 03:05] Himanshu664 commented on #3111
So what colour I should choose @legendarykamal

[2022-08-29 03:14] Nikhil-Ladha commented on #3111
I don't see a need to change the color of the button. It's the "Charcoal Green" color and looks fine in both the modes.

Closing out this issue :)

[2022-08-29 03:14] #3111 closed

[2022-08-29 04:41] legendarykamal commented on #3111
agreed with @Nikhil-Ladha :100:

[2022-08-29 08:41] debo19 commented on #3038
@divyanshkul updates on this?

[2022-08-29 19:57] leecalcote commented on #3104
Mr. macOS, @asubedy.

[2022-08-29 20:25] leecalcote commented on #3089
@alexisdsgns, were you able to enhance the design with a few K8s logos?

[2022-08-30 00:28] leecalcote opened #3122 "Dark Mode support for CloudNativeManagement Section"
#### Description
The Meshery Integrations section still needs some content updates, but it has been placed onto the site home page a little early anyway. A copy of the `Statement` component has been made and is called `CloudNativeManagement`.

The `CloudNativeManagement` section on the home page needs to have dark mode support with the font colors and anchor tag behavior.

#### Screenshots
<img wi

[2022-08-30 00:29] leecalcote commented on #3122
Hi @Nikhil-Ladha, @debo19, will either of the two of you help me in tying off this refactoring on the home page, pretty please?

[2022-08-30 03:02] Nikhil-Ladha commented on #3122
Sure, will take a look at this ASAP.

[2022-08-30 05:09] sahilsuman933 opened #3123 "[Meshery] Improve Argo and Raspberry Pi Icon"
#### Current Behavior

If we visit the [Meshery Integration Collection](https://layer5.io/cloud-native-management/meshery/integrations) page, we will find that Argo and Raspberry pi icon doesn't look that good. If we can improve the icon somehow, then it will be great.

#### Desired Behavior

- Improve the design Argo and Raspberry Pi icon for the Integration Collection page.

---
<img src="https:

[2022-08-30 05:24] sahilsuman933 opened #3124 "[Meshery] Improve upcoming Integration design"
#### Description

The [Meshery Integration Collection](https://layer5.io/cloud-native-management/meshery/integrations) page currently shows both the working and in-production integration. To differentiate between those two we use White and Light slate gray background color. It will be great if we could do something and improve the design for the upcoming Integration.

#### Expected Behavior

- Imp

[2022-08-30 06:04] Himanshu664 commented on #3123
I want to work on this issue

[2022-08-30 06:50] sahilsuman933 commented on #3123
Sure, Go ahead @Himanshu664

[2022-08-30 08:20] asubedy commented on #3104
Ok it seems like the scaling the honeycomb on hover is causing the issue (the slight zoom when hover) are we willing to let go of this? If we remove the scaling there is no flickering

https://user-images.githubusercontent.com/51183483/187387127-80157851-2f28-4b74-b812-61bdc6f7d82b.mov

This is how it looks

// @leecalcote @sahilsuman933

[2022-08-30 09:44] sahilsuman933 commented on #3104
I was also thinking about removing the scaling effect because I felt like it was unnecessary. So, from my side yeah we can remove that effect.

// @asubedy

[2022-08-30 09:54] Nikhil-Ladha commented on #3104
While you are there can you also check the border issue while hovering on the honeycomb in dark mode. A s thin white border comes up around the honeycomb. For ease check the honeycombs on the edge of the grid.

[2022-08-30 11:05] #3094 closed

[2022-08-30 11:49] asubedy commented on #3104
@Nikhil-Ladha I could not find it

https://user-images.githubusercontent.com/51183483/187429076-128c89fe-e495-42e5-ac23-ab73532d8b7a.mov

[2022-08-30 11:53] deepeshaburse commented on #2496
Hey @legendarykamal when do you think we can get started on this?

[2022-08-30 11:57] Nikhil-Ladha commented on #3104
Hmm 🤔
Are you testing this after removing the scaling effect? If so, try it on the prod i.e, on layer5.io hosted site if you are able to notice it.
If not, try changing the browser.

If you can reproduce and remove the scaling effect, it is resolved. Then GREAT!

[2022-08-30 12:43] leecalcote commented on #3124
Swapping labels. It'd be good to point this out as a UX issue in the #newcomers channel.

[2022-08-30 12:44] #3104 closed

[2022-08-30 12:44] #3122 closed

[2022-08-30 15:44] legendarykamal commented on #2496
I have reached out to you on slack :+1:

[2022-08-30 16:04] aaqilrk commented on #3124
Hey, @leecalcote I would like to work on this.

[2022-08-30 16:06] sahilsuman933 commented on #3124
Sure go ahead @aaqilrk

[2022-08-30 16:24] alexisdsgns commented on #3089
No, I was not able to enhance the design @leecalcote

[2022-08-30 18:16] Shubhcs01 commented on #3124
Hey @aaqilrk if this issue not resolved, I also want to help?

[2022-08-30 18:17] Himanshu664 commented on #3123
@Shubhcs01 I am trying to get the svg images of those icons but I couldn't find yet

[2022-08-30 18:38] Shubhcs01 commented on #3123
Here->
src\sections\Meshery\Meshery-platforms\supported-icons\raspberry-pi.svg
\src\assets\images\service-mesh-icons\argo_cd.svg

[2022-08-30 18:47] legendarykamal commented on #3089
No worries @alexisdsgns me and @DivineOrji are on it.

@leecalcote an update here-> https://www.figma.com/file/5ZwEkSJwUPitURD59YHMEN?node-id=9509:14672#256745741

[2022-08-30 22:00] deveshXm commented on #3017
Hi @YashKamboj  if no one is working on this issue then I would like to work on it.

[2022-08-30 22:33] leecalcote commented on #3017
@Jonathan-Foo’s comment must have been missed accidentally. Congrats on your graduation from frrecodecamp, @Jonathan-Foo 👍

[2022-08-31 03:44] aaqilrk commented on #3124
Hey @Shubhcs01, I have nearly resolved this issue. We can work together on something else 😄

[2022-08-31 03:51] Jonathan-Foo commented on #3017
That's all good, and thank you @leecalcote

[2022-08-31 04:44] legendarykamal commented on #3086
hey @Cypher1002 any updates?

[2022-08-31 04:48] Cypher1002 commented on #3086
It's been verry busy out of my hometown for approx 2 weeks i have forked nd work on it on my local system through the time it could be assigned to someone else...

[2022-08-31 04:56] lavakush07 commented on #3034
- I think the issue is from the **katacoda** side  as they have stopped their free service. Because of it  all the providers has got disabled in the meshery learning path..

[2022-08-31 05:15] deveshXm commented on #3017
i wanted to ask that do i need to replace the <img> with <staticImages> for all the components in "src/sections/Meshery". Also am i at the right Meshery folder. Just wanted to confirm this.

[2022-08-31 05:24] debo19 opened #3128 "[News] The Ultimate List of Open Source Cloud-Native Tools"
We're in the news! Using the contributing instructions for [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news), please add the following article to the [Layer5 Newsroom](https://layer5.io/news).

**Article:**
- Title: The Ultimate List of Open Source Cloud-Native Tools
- Link: https://containerjournal.com/features/the-ultimate-list-of-open-source-cloud-native-

[2022-08-31 05:26] aaqilrk commented on #3128
@debo19 I would like to work on this

[2022-08-31 05:28] samosa-io commented on #3128
@debo19 I also want to work on this?

[2022-08-31 05:31] legendarykamal commented on #3086
No sweat @Cypher1002 thanks for putting efforts in

[2022-08-31 05:36] debo19 commented on #3128
@samosa-io I'll have to let @aaqilrk to work on this as he volunteered first. Please feel free to take a look at any other open issue.

[2022-08-31 05:50] aaqilrk commented on #3124
Hey @sahilsuman933, is this design any better or further changes are required?

<img width="939" alt="Screenshot 2022-08-31 at 11 16 54 AM" src="https://user-images.githubusercontent.com/75661314/187603471-07c7771a-d8ad-415f-82ca-f915cf550a77.png">

[2022-08-31 05:55] Shubhcs01 commented on #3124
@aaqilrk In my persp I guess the grayscale color looks better for Inprogress Icons 🤔, @sahilsuman933 your opinion?

[2022-08-31 05:55] Jonathan-Foo commented on #3017
Hi @deveshXm,
Yes you have to replace img elements you find with Gatsby's StaticImage component, but don't do it if the image source is an .svg, because it will lower the quality. Yep, you are in the right folder.

[2022-08-31 06:16] aaqilrk commented on #3124
<img width="918" alt="Screenshot 2022-08-31 at 11 45 06 AM" src="https://user-images.githubusercontent.com/75661314/187607050-658641a3-cceb-42f6-838a-941f875ea5f4.png">

@Shubhcs01 The grayscale makes it difficult to identify the icons 😅, do you have any other suggestions 😄

[2022-08-31 07:11] sahilsuman933 commented on #3124
It looks good, @aaqilrk, but I know you can do even better. Why don't you post your design on the website channel on slack and ask for reviews?

[2022-08-31 08:24] Shubhcs01 commented on #3081
@Nikhil-Ladha @debo19 If this issue still not resolved, Can I work on this?

[2022-08-31 08:32] Shubhcs01 commented on #3081
okay @bhavyastar no problem, if you need help can ping me.

[2022-08-31 08:44] Shubhcs01 commented on #3038
@debo19 @leecalcote If the issue still unresolved can I work on this?

[2022-08-31 09:16] Himanshu664 commented on #3123
@sahilsuman933 Please Review

[2022-08-31 09:32] #3123 closed

[2022-08-31 10:01] aaqilrk commented on #3124
That is a wonderful idea, thank you 😄

[2022-08-31 10:03] asubedy commented on #3034
Yes,@lavakush07  that's exactly the reason.

[2022-08-31 12:04] divyanshkul commented on #3038
Hey @Shubhcs01 you can take it up, I am busy with my examinations right now

[2022-08-31 14:18] Shubhcs01 commented on #3038
okay, Thanks @divyanshkul . @debo19 @leecalcote can you please assign me this issue?

[2022-08-31 16:01] Shubhcs01 opened #3133 "Add more partner logos to the collaborating section"
#### Current Behavior

We have a set of partners whose logos are shown under the collaborating section of the home page.

![Screenshot 2022-08-31 203952](https://user-images.githubusercontent.com/81324145/187722722-3bd50cef-7dcb-4786-996f-54ced7513436.png)

#### Desired Behavior

Add more partner logos.
To start off with, add Docker's logo and F5's logo.

---

The layer5.io website uses Gatsby, Re

[2022-08-31 16:47] adarsh500 commented on #3133
Can I work on this issue?

[2022-08-31 16:59] leecalcote commented on #3133
Thank you for filing this issue, however, this is actually by design as we're not trying to list all partners, users, customers and so the effect is just that of cutting off the list at some point. We need to add more logos in order to have that sense conveyed in the two row view. That's what we should focus on in this issue. To start, let's add Docker's logo and F5's logo.

[2022-08-31 17:38] Shubhcs01 commented on #3133
Okay, I get it.
So, just to clarify I have to add Docker and F5's logo in the partner section right?

[2022-08-31 18:44] deveshXm commented on #3017
@Jonathan-Foo I checked out your PR on a similar issue and i saw that you used constants or props for in eg: src={label1} for staticImages . However , in my case it was not working and i had to paste the whole url of image in the src and also as per the [Gatsby Image Plugin](https://www.gatsbyjs.com/docs/reference/built-in-components/gatsby-plugin-image/#staticimage) documentation, src must be typ

[2022-09-01 14:39] #3014 closed

[2022-09-01 16:08] deveshXm commented on #3087
I'd like to work on this issue.

[2022-09-02 01:51] aaqilrk commented on #3124
@sahilsuman933 I didn't get any feedback for the new design could you suggest any changes

[2022-09-02 03:04] sahilsuman933 commented on #3124
I don't have any suggestions but I feel like there is something missing in the design. It doesn't give the vibe of upcoming integration.

Look for more design inspiration through dribbble or any other websites. I am sure you will be able to do better than this.

// @aaqilrk

[2022-09-02 03:39] aaqilrk commented on #3124
I will look into it. Thank you 😊

[2022-09-02 07:03] deveshXm commented on #3087
hi @leecalcote ,looks like the meshmap internship time line which you have attached to this issue is also not updated for 2022.
For eg : https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2022/02-Summer for the summer 2022 still has information for 2021 summer internship.

[2022-09-02 11:26] #3038 closed

[2022-09-02 11:32] debo19 opened #3144 "[Community] Member Profile: Deepesha Burse"
**Current Behavior**

@deepeshaburse  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @deepeshaburse  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @deepeshaburse
- Twitter: [3007Burse](https://twitter.com/3007Burse)
- LinkedIn: [deepeshab](https://www.linkedin.com/in/deepeshab/)
- Link

[2022-09-02 11:32] debo19 commented on #3144
@deepeshaburse Can you please provide a bio for the member profile?

[2022-09-02 11:36] debo19 opened #3145 "[Community] Member Profile: Sahil Suman"
**Current Behavior**

@sahilsuman933  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @sahilsuman933  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @sahilsuman933
- Twitter: [sahilsuman880](https://twitter.com/sahilsuman880)
- LinkedIn: [sahilsuman](https://www.linkedin.com/in/sahilsuman

[2022-09-02 11:37] debo19 commented on #3145
@sahilsuman933 Can you please provide your bio and a link to your profile picture here?

[2022-09-02 11:38] legendarykamal commented on #3145
Hi, @debo19 I would like to take this one 👍

[2022-09-02 11:41] debo19 opened #3146 "[Community] Member Profile: Alexis Abakasanga"
**Current Behavior**

@alexisdsgns has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @alexisdsgns as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @alexisdsgns
- Twitter: [sanchezways](https://twitter.com/sanchezways)
- LinkedIn: [alexisabakasanga](https://www.linkedin.com/in/alexisabakasanga

[2022-09-02 11:41] debo19 commented on #3146
@alexisdsgns can you please provide a bio for your member profile?

[2022-09-02 11:42] Shubhcs01 commented on #3145
I'm interested in this issue

[2022-09-02 11:45] legendarykamal commented on #3145
@Shubhcs01 there are 4 , pick any 1 else 😂

[2022-09-02 11:47] Shubhcs01 commented on #3146
@debo19 can I work on this issue?

[2022-09-02 11:49] debo19 opened #3147 "[Community] Member Profile: Cyrine Gamoudi"
**Current Behavior**

@CyrineG has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @CyrineG  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @CyrineG
- Twitter:
- LinkedIn: [cyrine-gamoudi](https://www.linkedin.com/in/cyrine-gamoudi)
- Link to profile picture:

A detailed explanation on how to

[2022-09-02 11:50] aaqilrk commented on #3147
Hey, I would like to work on this issue 😊

[2022-09-02 11:52] debo19 commented on #3147
@CyrineG if you could please provide a bio and a profile picture, that'd be great 😄

[2022-09-02 11:52] Shubhcs01 commented on #3145
Oh, my bad 🥲 Thanks, I picked another one😂

[2022-09-02 11:52] debo19 commented on #3146
Sure @Shubhcs01

[2022-09-02 11:58] Jonathan-Foo commented on #3144
Hi @debo19, could you please assign me this issue.

[2022-09-02 12:46] sahilsuman933 commented on #3145
Thank you, @legendarykamal, for taking this issue. Here is my bio `I'm a student pursuing Computer Engineering at the Vellore Institute of Technology (VIT). I'm a passionate learner who's always willing to learn and work across technologies and domains. I love to explore new technologies and use them to solve real-life problems.`

Here is my profile picture url: https://drive.google.com/file/d/1gP

[2022-09-02 13:20] Jonathan-Foo commented on #3144
Thank you @sahilsuman933

[2022-09-02 14:24] chandu-jadhav commented on #3146
can I work on this issue?

[2022-09-02 14:46] CyrineG commented on #3147
@debo19 here they are :3
bio: "I am a software engineer, opensource enthusiast who is also fascinated by microservices and cloud native ecosystems. Driven by curiosity and interest, I am constantly learning new things. "
pic:[ here](https://drive.google.com/file/d/1h4VqU6KHH8UQ5lLBtn6XJFQJLKay-XG5/view?usp=sharing )

[2022-09-02 14:50] aaqilrk commented on #3147
@CyrineG Thank you, I'll get to it 🤗

[2022-09-02 15:56] Shubhcs01 commented on #3146
Hi, @chandu-jadhav I'm working on this issue. But you can look for other good first issues.

[2022-09-03 11:19] alexisdsgns commented on #3146
Yes, I would love to provide a bio.

I am a Product Designer using Figma to create clean and usable designs backed by data for digital products. I love reading, contributing to Open Source, and learning. I enjoy my time here at Layer 5 and looking forward to becoming a positive force in the Tech ecosystem.

@debo19 @Shubhcs01

[2022-09-03 12:54] rakshitgondwal commented on #2920
Hey, is anyone still working on this issue?

[2022-09-03 17:46] #3145 closed

[2022-09-03 18:37] legendarykamal commented on #3128
@aaqilrk any updates?

[2022-09-04 03:53] Shubhcs01 commented on #3146
@debo19 done 👍 please review it.

[2022-09-04 06:51] sahilsuman933 commented on #3124
@Shubhcs01, would you like to take this issue?

[2022-09-04 07:17] Shubhcs01 commented on #3124
Yeah sure @sahilsuman933 I'm not very good at UI designs but I'll try my best 🙂

[2022-09-04 14:21] legendarykamal commented on #3128
@samosa-io are you up for this or I should proceed  ?
I would be happy if you said you are up  :smiley:

[2022-09-04 22:05] #3146 closed

[2022-09-05 10:11] debo19 commented on #3128
@legendarykamal you can take this up

[2022-09-05 13:48] legendarykamal commented on #3128
ok sounds good @debo19

[2022-09-05 14:02] abhiyant-10 commented on #3147
Can I take this issue in case it is open

[2022-09-05 14:42] debo19 commented on #3147
Sure @abhiyant-10

[2022-09-05 19:48] abhiyant-10 commented on #3147
@CyrineG Please give the permission to view picture

[2022-09-05 19:54] CyrineG commented on #3147
@abhiyant-10 sorry! Changed the[ link](https://drive.google.com/file/d/1v5hF6ijuk4J9tgY0k7VJfUnSCPgviKCz/view?usp=sharing) try clicking again

[2022-09-05 20:05] abhiyant-10 commented on #3147
would you like to have your location and twitter handle mentioned over there?

[2022-09-05 20:08] CyrineG commented on #3147
sure! I don't have twitter, my location is Tunisia

[2022-09-06 00:35] Jonathan-Foo commented on #3144
Hi @SufyaanKhateeb, this has already been assigned to me.

[2022-09-06 03:02] legendarykamal opened #3151 "Duplicate filters on patterns page"
#### Description

Two duplicate filters exist  on patterns page from area I section.

![image](https://user-images.githubusercontent.com/95926324/188538213-6be3899d-6e60-4783-849b-352fbff902d4.png)

#### Expected Behavior

 remove one of them.
#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/laye

[2022-09-06 03:03] Himanshu664 commented on #3151
Hey I can do that

[2022-09-06 03:06] legendarykamal commented on #3151
Hey @Himanshu664 lets keep this for first timers  for 24 hrs and If no one shows up ofc you can take this up :)

[2022-09-06 03:06] Himanshu664 commented on #3151
Sure @legendarykamal

[2022-09-06 03:11] legendarykamal opened #3152 "4 Logo Images are missing in Repository overview"
#### Description

![image](https://user-images.githubusercontent.com/95926324/188539083-5ceedb85-41c5-4ec4-9780-3a5a2e59c4a7.png)

#### Expected Behavior

Replace with the correct logo images.
#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px" align="left" /><

[2022-09-06 03:12] Nawaz027 commented on #3151
Hey @legendarykamal , I am a first timer. Can you please assign this issue to me?

[2022-09-06 03:35] Shubhcs01 commented on #3152
@legendarykamal can I work on this issue?

[2022-09-06 03:37] legendarykamal commented on #3151
cool , go ahead @Nawaz027 :100:

[2022-09-06 05:07] lavakush07 commented on #3152
Can I take up this issue ?

[2022-09-06 05:28] lavakush07 commented on #3152
Hello @legendarykamal , I have a doubt  are there any logos for the following projects ? 🤔

[2022-09-06 06:12] kirtanchandak commented on #3152
Can I take this issue ?

[2022-09-06 06:16] kirtanchandak commented on #3152
I am a first timer, this would be a good start for me to work on this

[2022-09-06 06:21] legendarykamal commented on #3152
Since you both are newcomers, going by the FCFS
@lavakush07 you may proceed with this.

Meanwhile @kirtanchandak let me find a good one for you :)

[2022-09-06 08:05] #3144 closed

[2022-09-06 09:24] moazzam07 commented on #3147
Can i take this one up!!

[2022-09-06 10:41] debo19 opened #3154 "[Blog] Make category and tag list scrollable"
**Current Behavior**
With the ever-growing tags and category list for blogs, the sidebar is becoming too long and is overlapping with the footer.

<img width="596" alt="blog-tag-issue" src="https://user-images.githubusercontent.com/85789734/188614144-ffc86877-79b2-43bc-bb93-2aaf14bab43d.png">

**Desired Situation**
Give the tag and category list a fixed height on the page but make both the the lis

[2022-09-06 10:43] NPDebs commented on #3154
Hi.
Can I work on this task?

[2022-09-06 10:48] debo19 commented on #3154
Sure @NPDebs

[2022-09-06 10:51] NPDebs commented on #3154
Thank you! 🤲🏻🙂😊

[2022-09-06 13:16] #3147 closed

[2022-09-06 23:50] deveshXm commented on #3060
@Nikhil-Ladha I am having trouble on this issue ,

My research : - As gatsby is a SSR framework the page is pre-rendered so it does not reads the local memory of user and hence the light mode is shown as default and after that it switches to dark mode.

Conclusion : - We can remove this issue by generating a script which will tell the page the default theme stored at our storage before it is rende

[2022-09-07 03:17] Nikhil-Ladha commented on #3060
We can set the default theme by comparing the theme value stored in localstorafe and passing the respective value to the ThemedComponents. We have the styles defined for each theme under theme.styles.js which exports the 2 theme lighttheme and darktheme. Based on the storage value we pass the object to the ThemedComponents.

You are right about the approach, and luckily we have a gatsby plugin whi

[2022-09-07 15:59] Mayaleeeee commented on #3076
Okay.

Sorry, but I don't understand the Kubernetes stuff.

[2022-09-07 17:31] legendarykamal commented on #3076
No prob @Mayaleeeee happy that you showed interest , we have seen a couple of improvements including the meshmark and the grid .
We will see the new k8s section added in near soon.

[2022-09-07 18:18] #3086 closed

[2022-09-08 02:35] leecalcote opened #3159 "[Community] Members: Add "Community Managers" as a role"
#### Current Behavior
This profile filter on https://layer5.io/community/members is missing the "Community Managers" role.

<img width="210" alt="Screen Shot 2022-09-07 at 9 33 29 PM" src="https://user-images.githubusercontent.com/7570704/189020757-4c1d73f4-c438-4eed-812f-0f14e4e266c5.png">

#### Desired Behavior
1. Ensure a new selection is available and filters on CM profiles.
1. Use  the three-

[2022-09-08 02:40] #2495 closed

[2022-09-08 03:37] Prajnaprabhu3 commented on #3159
May I work on this?

[2022-09-08 05:37] theVJagrawal commented on #3152
hey @legendarykamal, would you please let me know if this issue is solved or not
I am also a first time and would like to work on this.

[2022-09-08 05:40] theVJagrawal commented on #3159
hey @leecalcote, I am a first timer and would like to contribute on this can you please assign me this issue

[2022-09-08 08:23] sam1code commented on #3159
I want to work on this if you guys don't mind! Thanks

[2022-09-08 08:30] Mayaleeeee commented on #3159
I wwould love to work on this @leecalcote

[2022-09-08 10:06] leecalcote commented on #3159
Thanks for volunteering, all. Let’s proceed in order by which you volunteered. Just prior to assignment, please confirm:

1. You have some level of comfort with 1) Gatsby / React and 2) GrapqhQL
2. You are build and run the site on your local machine

[2022-09-08 10:38] sam1code commented on #3159
Also For some reason make site not worked for me( npm thrown error  ) so I used yarn instead of npm and I got this in my localhost

[2022-09-08 12:12] legendarykamal commented on #3159
@Prajnaprabhu3 , @theVJagrawal can you update us with the ans please ? before we assign this to @sam1code .

[2022-09-08 12:18] legendarykamal commented on #3152
hey @moazzam07 , @theVJagrawal thank you for showing interest ,
this has been assigned to @lavakush07 and is in progress. You may wait a little for him to show some activity :)

[2022-09-08 13:57] leecalcote commented on #3152
@lavakush07 can we offer any assistance? @alexisdsgns and @legendarykamal can offer a pointer or two.

[2022-09-08 15:30] legendarykamal commented on #2968
hi @Chadha93 let me jump on this one , new component sounds a good idea to me :)

[2022-09-08 17:12] theVJagrawal commented on #3159
thankyou @legendarykamal for your consideration, I am new on the platform and not so comfortable with these requirements so feel free to assign someone else and if you have any GOOD FIRST ISSUEES I would like to work on that

[2022-09-08 17:16] Prajnaprabhu3 commented on #3159
hey, @legendarykamal  ! I do have experience with React & Gatsby, but not really comfortable with GraphQL. The site is not set on my local machine yet. You can assign the issue to @sam1code. I'll look for working on other issues in the future!

[2022-09-08 19:53] Chadha93 opened #3161 "[Community] Member Profile: Kamal Singh"
**Current Behavior**

@legendarykamal has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @legendarykamal  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @legendarykamal
- Twitter:
- LinkedIn:
- Link to profile picture:

A detailed explanation on how to set up a community member profile can b

[2022-09-08 19:54] legendarykamal commented on #3159
ok @theVJagrawal and @Prajnaprabhu3 take your time to finish up with setup and with the project.
@Prajnaprabhu3 about Graphql I would say is It depends on the issue you are taking up , So consider that in future .
@theVJagrawal many good first issues will be soon added , look for them :eyes:

[2022-09-08 19:54] Chadha93 commented on #3161
@legendarykamal Could you please provide your Twitter, and LinkedIn handle, with a link to your profile pic and bio?

[2022-09-08 19:55] Chadha93 commented on #2968
Sure sounds good.

[2022-09-08 20:06] sam1code commented on #3161
Hii this is really great hearing @legendarykamal
If this is a task and no one taken then I'll love serve...

[2022-09-08 20:12] zwwang98 commented on #3154
Hello! May I join you @NPDebs to work on this issue together?

[2022-09-08 20:15] zwwang98 commented on #3161
Hi! I am new to the community and see this `good first issue`. Can I work on this issue?

[2022-09-08 21:40] tinniaru3005 commented on #3161
Hii @Chadha93 ! I would like yo work on this issue. Can you please assign it to me.

[2022-09-08 21:47] tinniaru3005 commented on #3133
Hey @Shubhcs01 ! I am new to the community and want to work on this issue. Can you please assign it to me?

[2022-09-08 21:48] leecalcote commented on #3133
Thanks for raising your hand, @tinniaru3005. 👍 Please note that the requirement has shifted.

[2022-09-08 22:32] tinniaru3005 commented on #3133
Hello @leecalcote . Thanks for assigning the issue to me. Can you please explain to me the current requirements? I also wanted to confirm if the changes are required on [this page](https://layer5.io/projects).
![layer5](https://user-images.githubusercontent.com/62856848/189237432-dfd9c698-b14f-43a3-b9e7-3771edd248e5.png)

[2022-09-09 03:11] leecalcote commented on #3133
@tinniaru3005, not quite. Thanks for jumping in.  The page that you’re referring to is the project page. The page in question is the homepage. Two new logos are requested. They must be SVGs and grayscaled.

[2022-09-09 04:55] legendarykamal commented on #3161
Thanks @Chadha93 for putting this up :smile:
My respective handles are ->
Twitter - 0xkamal7
Linkedin - kamal-singh7
Profile - https://drive.google.com/file/d/1zOm0cTaud5a4FM8ckttWJRciy4Td5GXz/view?usp=sharing

Bio-> I am an avid contributor and a JavaScript lover from the milkyway galaxy. The desire to contribute to open source led me to Meshery. I am happy to be here , learning many things and g

[2022-09-09 05:55] lavakush07 commented on #3152
I'm on it, I have a doubt that what are the logo's to be placed there ?

[2022-09-09 12:11] #3128 closed

[2022-09-09 12:14] leecalcote commented on #3152
1. Meshery for wrk2
2 and 3. Github for actions
4. Patterns for service mesh patterns

[2022-09-09 13:42] alexisdsgns commented on #3152
I have tried effecting changes, but unfortunately I can not get it done as I have little to no experience using Github.

[2022-09-09 14:20] legendarykamal commented on #3152
no worries @alexisdsgns , now it would be easy for @lavakush07 to get this done :thinking:
thanks to @leecalcote :100:

[2022-09-09 14:33] legendarykamal opened #3163 "[Bug] Refine related post on news"
#### Description

Related post should not include the current post.

#### Expected Behavior

Refinement needed.
#### Screenshots

![image](https://user-images.githubusercontent.com/95926324/189374259-d1a265b1-2ba7-45bf-a1e3-54883d92d5f2.png)

![image](https://user-images.githubusercontent.com/95926324/189374331-4ee7969b-7a6a-44a4-9ec3-6660436a40b1.png)

#### Environment:
- Host OS:
- Browser:

---

[2022-09-09 18:50] Shubhcs01 commented on #3133
Hi @tinniaru3005 , first of all welcome to the community 🤝. I am slight busy in some college works so yeah please go on and solve the issue. Also if you need any help just drop a comment. Thanks @leecalcote for explaining the issue.🙂

[2022-09-10 09:01] legendarykamal commented on #3161
Completed via #3164 :1st_place_medal:

[2022-09-10 09:01] #3161 closed

[2022-09-10 11:15] lavakush07 commented on #3152
I will make a PR by the EOD.

[2022-09-10 14:56] legendarykamal opened #3165 "[PR] Add a section to file on how to open new PR for newcomers"
**Current Behavior**

As dicussed in the previous meet, many newcomers face the issue of getting started . So this will help them in getting started.
**Desired Situation**

1> A small section needs to be added on how to open your first PR.

---
[Optional] **Alternatives**

[Optional] **Additional context**

file -> https://layer5.io/community/handbook/contribution
---
**Contributor Resources**

Th

[2022-09-10 16:56] sam1code commented on #3165
Hii @legendarykamal  I will love to work on this but before that I want to know what exactly need to be done! What changes this issue really need?
I got that it needs some changes to the contribution page but what changes it need! And if you have any mock or where you want to add then that will be helpful to solve this issue.

[2022-09-10 18:17] measutosh commented on #3165
Hi @sam1code , apparently many docs related to contributions are present at many places. Few at website, few at docs, few at here in Github readme files. So the idea is to make a section which consolidates almost everything at one place if possible so that whenever a newcomer joins it should be an easy ride for them towards their first contribution.
All the resources needed to do execute this has

[2022-09-10 18:21] sam1code commented on #3165
Hii @measutosh got it. And will love to work on this thankyou!

[2022-09-10 18:38] sam1code commented on #3165
Ooh got it

[2022-09-11 00:12] sam1code commented on #3165
As I said I love to work on this. @legendarykamal

[2022-09-11 00:14] sam1code commented on #3163
Hii @legendarykamal can you please send me the exact post because I'm unable to reproduce the bug for other cases...

[2022-09-11 02:58] legendarykamal commented on #3165
yes @sam1code you may go ahead :arrow_forward:

[2022-09-11 03:01] legendarykamal commented on #3165
Thankyou @measutosh for the sleek reply :) although much of the things about projects are provided in repo overview section.
This will be a :heavy_plus_sign:  to it.

[2022-09-11 04:43] lavakush07 commented on #3152
- I have made a Pull request, Please check it once.
- https://github.com/layer5io/layer5/pull/3167

[2022-09-11 08:58] legendarykamal commented on #3163
hi @sam1code thank you for showing interest, It can be performed on all the latest news .

I am working currently to fix this.

[2022-09-11 09:07] sam1code commented on #3163
@legendarykamal welcome🥰

[2022-09-11 19:44] vishnus17 commented on #3154
Hi @NPDebs.
Are you still working on this issue? If not, can I take over ? I was going through it and I've found a solution.
Thanks.

[2022-09-12 09:09] Anita-ihuman commented on #2323
@leecalcote @adithyaakrishna @debo19 if there are no more changes to the draft, can we proceed with the PR?

[2022-09-12 17:07] sam1code commented on #3159
@legendarykamal @leecalcote Can you check the linked PR ?

[2022-09-12 17:52] legendarykamal commented on #3159
yes @sam1code checking it now

[2022-09-12 17:58] sam1code commented on #3159
Thankyou @legendarykamal

[2022-09-12 18:17] legendarykamal opened #3170 "Replacing the small buttons for navigation"
#### Current Behavior

The buttons are too small and require the user to move to them specifically inorder to change.
#### Desired Behavior

They could be replaced with a broader vertical bar at both left and right hand side to improve the UX.

#### Screenshots / Mockups

![image](https://user-images.githubusercontent.com/95926324/189567548-ce151e17-43a9-47ec-9ed2-dc09e8d2f6ce.png)

#### Implement

[2022-09-12 18:22] sam1code commented on #3159
![Screenshot from 2022-09-12 23-51-26](https://user-images.githubusercontent.com/74086891/189728002-ed6c7a05-994b-40e2-bf55-737684603d80.png)
it is taking 2 lines! @legendarykamal
Is it ok?

[2022-09-12 18:28] sam1code commented on #3170
@legendarykamal I can pick it up!

[2022-09-12 18:35] legendarykamal commented on #3170
Lets wait for some triage for this before you get working on this.

[2022-09-12 18:51] leecalcote commented on #3170
@legendarykamal this concern is valid. Thank you for raising this issue. Ideally, the site will have carousel arrows are easier to use than they are in their current state.

[2022-09-13 07:11] debo19 commented on #3154
@zwwang98 Since you commented first, I'll wait for you to respond if you want to take this up. Otherwise we'll assign @vishnus17

[2022-09-13 07:13] zwwang98 commented on #3154
I would love to work on it. Really appreciate for this opportunity.

[2022-09-13 07:55] debo19 commented on #3154
Go ahead @zwwang98

[2022-09-13 13:14] legendarykamal commented on #3165
Yes , agreed Lee, The idea was to open just a normal section on how to open
a new PR for the first time contributors.

On Tue, Sep 13, 2022, 6:41 PM Lee Calcote ***@***.***> wrote:

[2022-09-13 15:39] legendarykamal commented on #3170
Your Welcome @leecalcote  its always an effort to improve the site in the best way :)

[2022-09-13 15:40] legendarykamal commented on #3170
Your Welcome @leecalcote  its always an effort to improve the site in the best way :)

[2022-09-13 16:24] sam1code commented on #3170
Sorry I forgot that my exam is starting from day after tomorrow. So, I'll pause till 29th september!
I'll restart from 30 september. So I'll create PR for the newcommer PR section and then I'll be back after 29( on 30th sept ) so till then Sorry

[2022-09-13 16:26] sam1code commented on #3165
So @legendarykamal, Should I give the link or not?

[2022-09-13 17:03] legendarykamal commented on #3165
No not needed, just the section would be enough.

[2022-09-13 17:24] legendarykamal opened #3171 "[Writing Program] Not scrollable"
#### Description

Navigate to /community/handbook/writing-program/

The form is not scrollable making it diificult for the users to submit the form.
#### Expected Behavior

Simple, Make it scrollable , with the vertical scrollbar hidden.
#### Screenshots

#### Environment:
- Host OS: any
- Browser: chrome

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images

[2022-09-13 17:37] vishnus17 commented on #3171
Hi @legendarykamal . Can I take up this issue?

[2022-09-13 18:33] vishnus17 commented on #3171
Thanks. Actually I faced this issue while I filled the form recently and I used tab to complete the form. Good to see myself working towards a fix!
And I got accepted for the writing prog! 👍

[2022-09-13 23:25] zwwang98 commented on #3154
Hello @debo19 ! Thank you again for this opportunity! I really appreciate it!

I made some progress and I want to make sure I am on the right track:
1. added another class named `scroll` for the list `ul`
2. set the class with `max-height` and `overflow` in the `style.js` file

Here is how it looks now.
<img width="345" alt="screenshot of scroll categories and tags" src="https://user-images.github

[2022-09-14 12:41] #3159 closed

[2022-09-15 11:32] #3171 closed

[2022-09-16 09:18] nik132-eng commented on #3152
If this issue remains to solve can I get this? i am new commer

[2022-09-16 10:48] debo19 commented on #3154
@zwwang98 That's great! A well described PR is always desirable. You can add screenshots or video recordings to help with the review process.

The [Contributing Instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#set-up-your-local-development-environment) lists all conventions to follow.

We could use some space between the numbers and the scrollbar.
I am not sure how it l

[2022-09-16 12:05] legendarykamal commented on #3152
Thank you for asking @nik132-eng this has been solved .

[2022-09-16 12:05] #3152 closed

[2022-09-16 17:15] siddheshJungade commented on #3017
I would like to git it a try for this issue?

[2022-09-16 17:21] deveshXm commented on #3017
@siddheshJungade i am already working on it

[2022-09-16 18:37] Chadha93 opened #3175 "[Site] Update date and new graphic for Hacktoberfest 2022"
#### Current Behavior
Hacktoberfest is around the corner and https://layer5.io/programs/hacktoberfest this page shows last year's date with 2021 graphic.

#### Desired Behavior
Update the date and add  new graphics
Hacktoberfest 2022 site: https://hacktoberfest.com/

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px"

[2022-09-16 18:43] eeshaanSA commented on #3175
Would like to take this up.

[2022-09-16 18:44] NPDebs commented on #3175
Hi. Can this be assigned to Eeshaan and I? Thank you...

[2022-09-17 05:26] legendarykamal commented on #3175
Go on devs :rocket:

[2022-09-17 08:08] nik132-eng commented on #3175
is there any need? I want to contribute to this issue @legendarykamal

[2022-09-17 08:19] nik132-eng commented on #3165
@legendarykamal  can you pls assign me this issue so I can do my first PR at layer5

[2022-09-17 08:48] legendarykamal commented on #3165
sure @nik132-eng here you go :rocket:

[2022-09-19 17:21] Chadha93 opened #3179 "[Community] Member Profile: Pankaj Khushalani"
**Current Behavior**

@pk-218  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize Pankaj Khushalani as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @pk-218
- Twitter:
- LinkedIn:
- Link to profile picture:

A detailed explanation on how to set up a community member profile can be found in the

[2022-09-19 17:22] Chadha93 commented on #3179
Hi Pankaj, could you please provide your Twitter, LinkedIn, Profile picture, and bio?

[2022-09-19 17:24] Chadha93 opened #3180 "[Community] Member Profile: Antonette Caldwell"
**Current Behavior**

@acald-creator has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @acald-creator as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @acald-creator
- Twitter:
- LinkedIn:
- Link to profile picture:

A detailed explanation on how to set up a community member profile can be fo

[2022-09-19 17:24] Chadha93 commented on #3180
Hi Antonette, could you please provide your Twitter, LinkedIn, Profile picture, and bio?

[2022-09-19 17:39] nik132-eng commented on #3179
can I add a profile of Pankaj on the website? I want to start contributing. I am facing some issues in the local setup of code. Please assign me this issue.

[2022-09-19 17:44] Chadha93 commented on #3179
Hi @nik132-eng. Local project setup is important to contribute. Signal here when you are done with the setup. :)

[2022-09-20 01:41] akshatvirmani commented on #3180
Hi!
I would like to work on this issue.

[2022-09-20 04:09] legendarykamal commented on #3180
hi @akshatvirmani are you done with the local setup?

[2022-09-20 04:38] akshatvirmani commented on #3180
Not yet. I will try do it by evening.

[2022-09-20 05:46] janvi01 commented on #3179
Hey, I would like to work on this if available.

[2022-09-20 12:34] nik132-eng commented on #3179
I am working on this issue but because of some internet issue couldn't download all files in a single go. I will do tonight surely
![image](https://user-images.githubusercontent.com/77881638/191258433-6b34c6a2-b9ee-47d8-bc65-27be90a4a2d6.png)

[2022-09-20 13:36] leecalcote opened #3182 "Integrations: Dark-mode friendly"
#### Current Behavior
The integrations honeycomb only has one color-mode: light.

#### Desired Behavior
Make the integrations grid dark-mode friendly.

#### Screenshots / Mockups
Conflicting dark-mode for the site with light-mode for the integrations:

<img width="1138" alt="Screen Shot 2022-09-20 at 8 34 13 AM" src="https://user-images.githubusercontent.com/7570704/191272203-bf0e6b57-97ae-4260-9a

[2022-09-20 14:17] siddheshJungade commented on #3179
He @Chadha93 @nik132-eng can I go for this

[2022-09-20 14:25] acald-creator commented on #3180
No problem!

Linkedin profile: https://www.linkedin.com/in/antonettecaldwell/

I will send an updated photo.

Bio is coming momentarily.

[2022-09-20 14:52] siddheshJungade commented on #3180
Hi
I am having local env setup
can I go for this issue ?

[2022-09-20 18:49] deepeshaburse commented on #2997
Hey @YashKamboj, is this issue complete?

[2022-09-20 20:02] Chadha93 commented on #3180
Sure @siddheshJungade

[2022-09-20 20:03] Chadha93 commented on #3179
@janvi01 You are up.

[2022-09-20 20:42] pk-218 commented on #3179
Thank you so much for this @Chadha93!! ❤️
I am grateful to Layer5 and the welcoming open source community it has created for keeping me involved 😄

As asked -
GitHub - [pk-218](https://github.com/pk-218)
Twitter - [pankajk_21](https://twitter.com/pankajk_21)
LinkedIn - [Pankaj Khushalani](https://www.linkedin.com/in/pankaj-khushalani-7b4bba1b2/)
Link to profile picture - https://drive.google.com/f

[2022-09-20 22:29] leecalcote opened #3183 "[MeshMap] Jolting form submission behavior"
#### Description
When I say visitors submit the form for MeshMap, their browser is navigated to the top of the window and their focus is taken away from the form, which is often not even in view.

#### Expected Behavior
Not have your location updated, but to be shown the submission response in-place.

#### Screenshots
The confirmation dialog presented to visitors, who submit the form:
<img width="

[2022-09-21 01:46] siddheshJungade commented on #3180
Hi @acald-creator please provide details.

[2022-09-21 03:29] leecalcote commented on #3179
Yay, @pk-218. 🎈😃

[2022-09-21 07:32] siddheshJungade commented on #3183
He @leecalcote should I give it a try ?

[2022-09-21 07:38] XDRAGON2002 commented on #3183
Hi @leecalcote I have the project locally setup as well, would also like to work on and resolve this.

[2022-09-21 08:46] #3179 closed

[2022-09-21 19:12] XDRAGON2002 commented on #2163
@leecalcote I looked through the `.pack` files that we have in order to identify exactly what blobs are taking up so much space and as far as I can tell the cause are the assets or the media files that we use such as .png/.jpg/.mp4 files, running `git gc --aggressive` helps only a bit, and upon looking for ways to reduce the `.pack` files size the most recommended way is to actually get rid of the

[2022-09-21 20:01] leecalcote commented on #2163
Thanks for looking into this, @XDRAGON2002. Yes, I agree. The size of the `.git` directory in the comment above reinforces this fact.

[2022-09-21 22:18] leecalcote opened #3188 "[Area: Blog] Eliminate unwanted artifact on hover of social buttons"
#### Description
See this blog post as an example: https://layer5.io/blog/docker/extending-docker-with-meshery-spire-and-istio

#### Expected Behavior
No rectangular artifact should appear on hover.

#### Screenshots
<img width="230" alt="Screen Shot 2022-09-21 at 5 15 40 PM" src="https://user-images.githubusercontent.com/7570704/191620356-7d37edf2-ad0e-4a9a-9616-064933301173.png">

#### Environme

[2022-09-21 22:32] XDRAGON2002 commented on #3188
@leecalcote I would like to attempt to resolve this.

[2022-09-21 22:32] leecalcote commented on #3188
Thank you, @XDRAGON2002 👍

[2022-09-22 05:57] eeshaanSA commented on #3175
the site can be updated once we get the 2022 graphic.

[2022-09-22 09:21] janvi01 commented on #3081
Hey, @Nikhil-Ladha I would like to work on this if availaible.

[2022-09-22 10:09] Nikhil-Ladha commented on #3081
Sure, @janvi01 go ahead with it.

[2022-09-22 10:10] bhavyastar commented on #3081
Yes, I am not working because some errors are coming. Earlier it was
resolved, but now again there are some errors are coming. I am working in
Ubuntu.

On Thu, 22 Sep 2022, 14:51 Janvi Bajoria, ***@***.***> wrote:

[2022-09-22 17:42] legendarykamal opened #3191 "[Meeting] Updating the highlighted link in place of depreciated meeting link"
#### Description

The meeting is not active now but is highlighted .
![image](https://user-images.githubusercontent.com/95926324/191814430-c448fbc6-7580-4a25-ad7c-975333c580c1.png)

#### Expected Behavior

Some other Imp active meet link could be highlighted like the Meshery Build & Release Meeting
#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubuserconte

[2022-09-23 02:46] legendarykamal commented on #3191
how about Meshery developement meetings happening each wednesday // @leecalcote @warunicorn19 ?

[2022-09-23 03:22] leecalcote commented on #3191
Yes, highlighting the Meshery Dev meeting will work. Please only comment out the Layer5 Community meeting - it'll be back.

[2022-09-23 05:43] janvi01 commented on #2920
Hey, @Nikhil-Ladha I would like to work on this if available.

[2022-09-23 05:54] subhradwip01 commented on #2920
Go ahead.. I hope you complete it

[2022-09-23 07:06] XDRAGON2002 commented on #3191
@leecalcote @legendarykamal sure, will make the appropriate changes.

[2022-09-24 05:19] legendarykamal commented on #3175
the 2022 graphic is official now https://hacktoberfest.com/  so we can update this
// @eeshaanSA

[2022-09-24 12:43] legendarykamal commented on #3170
// @Nikhil-Ladha a new component is needed or some older one can be used in here  for the carousel arrows ?

[2022-09-24 13:02] Nikhil-Ladha commented on #3170
Why a component is needed for this?
The arrow sizes can be modified using CSS in the respective pages.

Also, what do you mean by a "vertical bar"?

[2022-09-25 07:36] arishmaurya commented on #3175
@legendarykamal  i want to work on this can you assign it to me

[2022-09-26 05:55] eeshaanSA commented on #3175
@legendarykamal I am opening a seperate PR for updating the Graphic. We can have this PR merged, then have my PR(hacktober-graphic PR) merged.

[2022-09-26 07:08] #3188 closed

[2022-09-26 07:30] #3183 closed

[2022-09-26 14:15] legendarykamal commented on #3175
ok cool @eeshaanSA

@arishmaurya thank you for showing interest but this has been already worked upon.  feel free to pick another one .

[2022-09-27 21:34] leecalcote opened #3200 "[Event] Add KubeCon talk to Events page"
Please add the following event to layer5.io/events.

**Event:**
- Event Title: KubeCon + CloudNative North America 2022
- Event Link: https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/
- Talk Link: https://kccncna2022.sched.com/event/1BZJl/the-state-of-the-cloud-native-network-deep-dive-from-tag-network-ed-warnicke-cisco-lee-calcote-layer5
- Talk Description: Every applicatio

[2022-09-27 22:11] Moscode commented on #3200
@leecalcote I will like to give this a shot as a newcomer.

[2022-09-27 22:14] leecalcote commented on #3200
Excellent, @Moscode 👍

[2022-09-28 06:55] #3191 closed

[2022-09-28 07:08] #3081 closed

[2022-09-28 07:36] deepeshaburse opened #3201 "[Community] Member Profile: Divine Orji"
**Current Behavior**

@DivineOrji has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @DivineOrji as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @DivineOrji
- Twitter: Dhee_graphics
- LinkedIn: divine-orji-b99b00170
- Link to profile picture: https://drive.google.com/file/d/1X3KQoZzKeKkeeOciU

[2022-09-28 07:36] XDRAGON2002 commented on #3201
@deepeshaburse I would like to work on this.

[2022-09-28 07:36] deepeshaburse commented on #3201
@DivineOrji Can you please provide a bio for the member profile?

[2022-09-28 12:25] #2920 closed

[2022-09-28 18:19] leecalcote opened #3204 "[Programs] Hacktoberfest: Add dropdown list for years past"
#### Current Behavior
The [Hacktoberfest page](https://layer5.io/programs/hacktoberfest) does not have a drop-down for users to visit participation details of previous years.

#### Desired Behavior
Akin to the year-over-year drop-down that you can find on the [Google summer of code](https://layer5.io/programs/gsoc) or other programs that we have participated in year over year, the Hacktoberfest pa

[2022-09-28 18:22] XDRAGON2002 commented on #3204
Hi @leecalcote I would like to give this a shot.

[2022-09-28 18:23] sunidhisachan commented on #3204
hey @leecalcote , I can try this. Please assign this to me.

[2022-09-28 18:25] leecalcote commented on #3204
Oooh, you missed this by 22 seconds, @sunidhisachan. Not to fret, there will be loads of new issues opened across the ~70 repos that Layer5 Community manages. More about that here, if you haven't seen it - https://layer5.io/community/handbook/repository-overview

[2022-09-28 18:44] deepeshaburse opened #3205 "[Event]: Add KubeCon talk to Events page"
Please add the following event to layer5.io/events.

**Event:**
- Event Title: KubeCon + CloudNative North America 2022
- Event Link: https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/
- Talk Link: https://kccncna2022.sched.com/event/1Banq/virtual-project-office-hours-meshery
- Talk Description:

Project Office Hours is an opportunity for KubeCon + CloudNativeCon attendees to

[2022-09-28 18:48] deepeshaburse opened #3206 "[Event]: Add KubeCon talk to Events page"
Please add the following event to layer5.io/events.

**Event:**
- Event Title: KubeCon + CloudNative North America 2022
- Event Link: https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/
- Talk Link: https://kccncna2022.sched.com/event/1BaoI/virtual-project-office-hours-service-mesh-performance
- Talk Description:

Project Office Hours is an opportunity for KubeCon + CloudNativ

[2022-09-28 19:34] eeshaanSA commented on #3206
would like to work on it if the issue is approved and allowed to be worked on.

[2022-09-29 04:16] abdullah1308 commented on #3205
Hey @deepeshaburse, I’d like to work on this .

[2022-09-29 04:53] leecalcote commented on #3205
Great, @abdullah1308. Have you been able to build and run the site locally?

[2022-09-29 05:32] abdullah1308 commented on #3205
I have yet to start. I’ve gone through the steps to do so and I think I’ll be able to do it.

[2022-09-29 10:58] leecalcote commented on #3205
@abdullah1308, sounds good. If all else fails, ultimately, completion of this issue only requires creation of a mark down file from template. And not strictly the building of the site. Building of the site and a deploy preview will be created when you open a PR.

[2022-09-29 11:15] sarkartanmay393 commented on #3151
@legendarykamal Hey Kamal, I just arrived today. Is the issue still open ?

[2022-09-29 15:30] legendarykamal commented on #3151
yes @sarkartanmay393 :+1:

[2022-09-29 15:52] legendarykamal commented on #3205
@abdullah1308 your work made easy  :) use a markdown editor in that case.

[2022-09-29 18:59] leecalcote opened #3211 "[Docker Extension] Add link to extension in Docker Hub"
#### Current Behavior
The [Meshery Docker Extension page](https://layer5.io/docker-extension-meshery) doesn't have a direct link to the extension on Docker Hub.

#### Desired Behavior
Integrate this link into the page - https://hub.docker.com/extensions/meshery/docker-extension-meshery

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-smal

[2022-09-29 19:06] XDRAGON2002 commented on #3211
@leecalcote I would like to work on this.

[2022-09-29 19:18] #3204 closed

[2022-09-29 21:29] leecalcote opened #3217 "[Events] Event Carousel not clickable"
#### Description
Site visitors will often attempt to click for more details about a particular event that they are interested in when they see it in the carousel on the https://layer5.io/community/events page.

The events are not clickable in the carousel, though.

#### Expected Behavior
Allow users to click the image of a particular event and be directed to that specific event page.

#### Screens

[2022-09-29 21:36] XDRAGON2002 commented on #3217
Hi @leecalcote I would like to try and resolve this issue.

[2022-09-29 21:36] leecalcote commented on #3217
Eeeexxcellent. 🙂

[2022-09-29 21:39] #3211 closed

[2022-09-29 21:51] #3201 closed

[2022-09-30 05:44] #3175 closed

[2022-09-30 05:46] Nikhil-Ladha commented on #3133
Clearing assignees to allow others for taking it.

[2022-09-30 05:48] Nikhil-Ladha commented on #2968
@legendarykamal working on it?
If not, please remove your assignment

[2022-09-30 05:50] legendarykamal commented on #2968
@Nikhil-Ladha working on it, PR coming soon :)

[2022-09-30 05:53] Nikhil-Ladha commented on #2739
We can live with the accessibility, no need for this much granularity.

[2022-09-30 05:53] #2739 closed

[2022-09-30 05:54] Nikhil-Ladha commented on #3065
@Kanika637 update on the implementation?

[2022-09-30 06:10] Kanika637 commented on #3065
@Nikhil-Ladha  The Figma design is done and will complete the implementation by evening today.

[2022-09-30 06:26] measutosh commented on #3206
Hi @deepeshaburse, just want to clarify something. Is this the [location](https://github.com/layer5io/layer5/tree/21f6d86b4728f7a77a1d3037e8aaf9a42e9f5dde/src/collections/events) where I need to add a folder or kubecon

[2022-09-30 15:14] acald-creator commented on #3180
Do you still need a bio?

[2022-09-30 15:38] ghulamyazdani opened #3220 "All logos should have same text color(white) in darkmode"
#### Description
On the Projects page, some logos have different text colors in dark mode that is not looking in UI perspective also in the open service mesh logo there is a whitish shade in the "e" alphabet

#### Expected Behavior
All the text in the logos should be of the same color.

#### Screenshots

![image](https://user-images.githubusercontent.com/55938346/193305235-31ad204d-6433-4a8a-a689-

[2022-09-30 15:56] ronitblenz commented on #3220
I would like to fix this issue, Could you please assign me?

[2022-09-30 16:14] lavakush07 commented on #3220
But I think the logo of envoy is pink in color originally. I think we should not change the color according to me .

[2022-09-30 17:16] #3217 closed

[2022-09-30 17:17] #3205 closed

[2022-09-30 17:27] siddheshJungade commented on #3180
No sure ✌️

[2022-09-30 17:27] leecalcote opened #3221 "Single Pages: Hero images leave much whitespace"
#### Current Behavior
Hero images on single page entries across many of the collections (like blog posts, events, resources, news, and so on), don't fill the space afforded to the image, but instead leave a smaller image with extra, unused whitespace.

The current CSS with `object-fit: contain;` _should_ work, but seems to not be having the desired affect given conflicting(?) CSS.

#### Desired Be

[2022-09-30 17:57] ronitblenz opened #3222 "BUG : Text cutting after the animation in Meshmap site"
#### Description

I have noticed that the animation of the mesh map site ends up with the text which looks to be cut.

https://layer5.io/cloud-native-management/meshmap

#### Expected Behavior

Full view of the text

#### Screenshots

<img width="1440" alt="Screenshot 2022-09-30 at 9 23 35 PM" src="https://user-images.githubusercontent.com/91361382/193328822-36d40b2c-0db3-47a0-82dc-70d1b0d33faf.pn

[2022-09-30 17:57] ronitblenz commented on #3222
Can you assign me with this issue?

[2022-09-30 18:12] leecalcote commented on #3222
Thank you, @ronitblenz 👍

[2022-09-30 18:42] ronitblenz commented on #3222
Hey Lee,

I couldn't find the code base responsible for that site, could you please give me the link to meshmap site project.

And kindly add the hacktoberfest tag to it, I am participating there !

[2022-09-30 22:02] leecalcote opened #3224 "[Programs] Hacktoberfest: Use generic Hacktoberfest logo for program card"
#### Description
The [programs page](https://layer5.io/careers/programs) has a 2022 version of Layer5's Hacktoberfest participation. The Hacktoberfest event design changes from year to year.

#### Expected Behavior
The Hacktoberfest program card should use generic Hacktoberfest logo to represent all years that Layer5 has participated.

#### Screenshots
<img width="1003" alt="Screen Shot 2022-09-30

[2022-09-30 22:08] XDRAGON2002 commented on #3224
@leecalcote I would like to work on this.

[2022-09-30 22:39] leecalcote commented on #3220
@lavakush07 in general, you're right: you don't want to mutate logos / copyrighted trademarks. In Envoy's case and every other project represented here, they all have white versions of their logos published.

@ronitblenz please use this one for [Envoy](https://raw.githubusercontent.com/cncf/artwork/master/projects/envoy/horizontal/white/envoy-horizontal-white.svg). Please swap out the Open Applica

[2022-10-01 01:54] sam1code commented on #3221
Hey @leecalcote I can fix this issue please assign it to me!

[2022-10-01 01:55] sam1code commented on #3221
Hey @leecalcote I would love to fix this!

[2022-10-01 02:29] sam1code opened #3226 "Vulcand logo on service-mesh-landscape in darkmode not properly visible"
#### Description
The service-mesh-landscape route containing verious logos at Service Mesh Timeline. The Vulcand logo in darkmode is looking very ugly. Sometimes not able to see also.
![image](https://user-images.githubusercontent.com/74086891/193379419-4d9b97b6-959d-4a4f-b955-113e79ab42b8.png)

#### Expected Behavior
We can invert the color or can increase the size (which ever looks good).
![imag

[2022-10-01 02:35] sam1code opened #3227 "The logo Kuma on service-mesh-landscape can be changed in dark mode"
#### Description
The logo of kuma is looking bad in dark mode.

#### Expected Behavior
wecan chane the logo to the logo still used on learn/service-mesh-labs.

#### Screenshots
![image](https://user-images.githubusercontent.com/74086891/193379712-e5e6f332-9432-49b9-8f84-23479f46a804.png)
![image](https://user-images.githubusercontent.com/74086891/193379757-284e902e-6826-4f67-8168-f5fd9c017e8a.png)

[2022-10-01 02:36] sam1code commented on #3226
I'll love to work on this if it is accepted.

[2022-10-01 02:36] sam1code commented on #3227
I'll love to work on this if it is accepted.

[2022-10-01 02:40] sam1code opened #3228 "The Legend of Service Mesh Comparison Matrix is cropping the tick mark."
#### Description
The Legend of Service Mesh Comparison Matrix is cropping the tick mark. on the route service-mesh-landscape after Service Mesh Interface Compliance.

#### Expected Behavior
This need to be enhanced to look good

#### Screenshots
![image](https://user-images.githubusercontent.com/74086891/193379833-faef17b4-9f98-4d3a-87ed-11314f0b7416.png)

#### Environment:
- Host OS: any
- Browse

[2022-10-01 02:40] sam1code commented on #3228
I'll love to work on this if it is accepted.

[2022-10-01 03:47] Moscode commented on #3200
@leecalcote This issue has been submitted #3205, correct me if otherwise.

[2022-10-01 03:52] #3228 closed

[2022-10-01 04:08] Moscode commented on #3200
I noticed that it is a different talk now, my bad.

[2022-10-01 04:39] leecalcote commented on #3200
@Moscode thats a different talk. We’re giving multiple talks.

[2022-10-01 04:40] leecalcote commented on #3200
Oh, sure. No sweat. 👍

[2022-10-01 04:50] leecalcote commented on #3227
Yes, thank you, @sam1code

[2022-10-01 04:51] leecalcote commented on #3226
Color inversion make sense. Thank you, @sam1code

[2022-10-01 04:52] leecalcote commented on #3221
Sounds good, @sam1code

[2022-10-01 04:55] sam1code commented on #3226
Thanks @leecalcote I'm starting working on these 3 issues

[2022-10-01 06:16] Moscode commented on #3200
@leecalcote I want to confirm before making a PR. #3205 has the same title as this issue so each time I tried to view the full details of this event it ends up bringing up the full details of the other event.

[2022-10-01 10:02] 17sushmita opened #3229 "Fix the community calendar import URL"
#### Description

The [community calendar page](https://layer5.io/community/calendar#meetings) has a yellow button `Add to your calendar` which on clicking opens up google calendar to add the events to our own calendar. The link that opens redirects to the secondary account if more than one account is logged in.

#### Expected Behavior

The URL that should open on clicking the button should redire

[2022-10-01 10:07] nishantn31 commented on #3229
I would like to work on this.

[2022-10-01 10:51] #3224 closed

[2022-10-01 11:53] SaiRev0 commented on #3180
Is this issue resolved or can I work on it??

[2022-10-01 11:59] legendarykamal commented on #3229
hello @nishantn31 can you please confirm if you have set up the env locally before i get you assigned?

[2022-10-01 12:00] SaiRev0 commented on #3151
If no one is working on it, Can I work on the issue @legendarykamal

[2022-10-01 12:03] SaiRev0 commented on #3133
Hello @Nikhil-Ladha and @leecalcote, If no one is working on the Issue can You assign the issue to me? I m new to the community

[2022-10-01 12:06] legendarykamal commented on #3151
@sarkartanmay393 any updates ?

[2022-10-01 12:38] ronitblenz commented on #3220
Tag this issue as an Hacktoberfest one please... I will submit a PR soon.

[2022-10-01 13:36] Nikhil-Ladha commented on #3133
Yes, @SaiRev0 you can work on this.
Though, the requirement is slightly different as mentioned in this [comment](https://github.com/layer5io/layer5/issues/3133#issuecomment-1233191687)

[2022-10-01 14:38] munyanezaarmel opened #3231 "padding required between email input label and subscribe button this breaks responsive on small screen"
#### Description

on the blog route, there is no padding between  subscribe button and the input email label which makes it looks weird and it is breaking responsiveness on small screens
#### Expected Behavior

there should be some padding to separate them and fix responsiveness on small screen
#### Screenshots

![image](https://user-images.githubusercontent.com/73389979/193414843-d82a9f8f-01d3-4b

[2022-10-01 14:41] ronitblenz commented on #3231
I want to take up this issue

[2022-10-01 14:53] siddheshJungade commented on #3180
@SaiRev0 working on it

[2022-10-01 17:44] YashKamboj commented on #3231
@munyanezaarmel are you working on it , if not @ronitblenz can work on it

[2022-10-01 17:46] deepeshaburse commented on #3206
Yes, the location is correct.

Date: 2022-10-27
I don't think you have to add speakers.
Thumbnail is in the kubecon-na-2022 folder.

Sorry for the late response :)

[2022-10-01 18:06] deepeshaburse opened #3235 "Rewrite required for the "Recognition" section"
**Current Behavior**
The title is "Recognitions" instead of Recognition. The "We do not allow" is also present [here](https://layer5.io/community/handbook/community).

**Desired Situation**
The language of the entire section of "Recognition" needs to be updated and "We do not allow" section needs to be put under Code of Conduct.

**Contributor Resources**

The layer5.io website uses Gatsby, React,

[2022-10-01 18:09] XDRAGON2002 commented on #3235
@deepeshaburse I'll work on this

[2022-10-01 18:11] XDRAGON2002 commented on #3235
Ah sure no issues! :)

[2022-10-01 18:29] pk-218 opened #3236 "chore: update MeshKit details in Community Handbook"
**Current Behavior**

There is no description for the MeshKit project in the [Repository Overview](https://layer5.io/community/handbook/repository-overview) section of the Community Handbook

![image](https://user-images.githubusercontent.com/53428217/193423108-44bd488d-0bfa-48f2-89c3-a7e7c6b4fc22.png)

**Desired Situation**

Description for MeshKit should show up or be added.
Recently **Cuelang**

[2022-10-01 18:31] eeshaanSA commented on #3236
would like to work on it.

[2022-10-01 18:48] eeshaanSA opened #3238 "Apple Image on the Integrations page is skewed."
#### Description

The apple logo on the integrations page needs to unskewed.
![image](https://user-images.githubusercontent.com/100678386/193423793-4526e265-cffb-4f55-ad2c-108924f22995.png)

#### Expected Behavior

unskwed, and even image of the apple logo..

#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/as

[2022-10-01 18:51] eeshaanSA commented on #3238
Would like to fix this issue. @debo19 @legendarykamal

[2022-10-01 19:02] leecalcote opened #3239 "[Community Handbook] Repo Overview: Add "Cuelang" as a language in the MeshKit project"
**Current Behavior**
The MeshKit entry in the [Repository Overview](https://layer5.io/community/handbook/repository-overview) in the Community Handbook is missing "Cuelang" as on of its languages.

**Desired Situation**
Add Cuelang to the list for MeshKit.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](h

[2022-10-01 19:09] NPDebs commented on #3239
Hi @leecalcote . Shall I pick this one up? 👀

[2022-10-01 19:16] #3235 closed

[2022-10-01 19:41] legendarykamal commented on #3238
Thank you @eeshaanSA  for opening this one.

I will leverage this distinction with @sahilsuman933 to decide.

[2022-10-01 19:44] sahilsuman933 commented on #3238
@eeshaanSA I feel like the logo is not skewed. So, we don't need to fix that.

[2022-10-01 20:25] leecalcote commented on #3238
I'll offer this statement: "_The white version of the Apple logo is absolutely skewed._" and invite folks to disprove it.

[2022-10-01 21:04] leecalcote commented on #3239
Oops. This issue is a duplicate of the issue that @pk-218 has already opened - https://github.com/layer5io/layer5/issues/3236. I'll close this issue in lieu of his diligent work there.

[2022-10-01 21:04] #3239 closed

[2022-10-02 02:55] measutosh commented on #3206
![image](https://user-images.githubusercontent.com/78539272/193435800-f93cfc30-107d-43d5-9299-4b5e1ab24276.png)

Hi @deepeshaburse , couldn't find any `kubecon-na-2022`, could you please lead me the location to it

[2022-10-02 04:02] rghdrizzle commented on #3236
hey can I work on this ?

[2022-10-02 04:40] rghdrizzle commented on #3236
/assign

[2022-10-02 05:11] legendarykamal commented on #3236
Getting assigned first before PR is a good practice @rghdrizzle, anyways good 👍 .

[2022-10-02 05:11] #3236 closed

[2022-10-02 07:38] eeshaanSA commented on #3238
haha, Solidarity, @leecalcote. Willl fix it.

[2022-10-02 13:53] deepeshaburse commented on #3206
Location: https://github.com/layer5io/layer5/tree/master/src/collections/events/kubecon-na-2022

It should look like [this](https://layer5.io/community/events/kubecon-cloudnative-north-america-2022).

[2022-10-02 18:37] munyanezaarmel commented on #3231
am having hard times setting local environment @ronitblenz can take it

[2022-10-02 19:48] #3238 closed

[2022-10-03 04:18] measutosh commented on #3206
@deepeshaburse , I am confused, the kubecon-na folder I was going to create but it's already there right, the location which you shared above.
it has been implemented already, then what else left to add?
and only one difference I could find out is, the location you have shared has the date of 24th oct but in the above comments you have suggested to add 27th oct
I am not sure what to implement and

[2022-10-03 05:17] #3226 closed

[2022-10-03 07:49] nik132-eng opened #3249 "layer5 : enhance organizations section in website"
#### Current Behavior
I saw static state of cloud native, envoy, etc.

![image](https://user-images.githubusercontent.com/77881638/193525794-0b07164f-596f-40df-b295-367b0d551258.png)

![image](https://user-images.githubusercontent.com/77881638/193524854-a84e4286-7e9b-444e-aff3-eac7e595f436.png)

#### Desired Behavior
I want to add effect like when you move your mouse from that specific organizatio

[2022-10-03 07:49] nik132-eng commented on #3249
can you please assign me this issue for hacktoberfest?

[2022-10-03 07:57] nik132-eng opened #3250 "[Learn] make text readable in hacktoberfest page ( Layer5 site )"
**Current State:**

in dark mode white text is not readable

![image](https://user-images.githubusercontent.com/77881638/193527289-e056efe9-7c76-48f7-9e21-b1f2f98a767b.png)

In light mode there is no effect

![image](https://user-images.githubusercontent.com/77881638/193527419-66f91b6a-909e-42d2-aca0-6a934d90e9d9.png)

**Desired State:**

I want to remove this issue. can you please assign me this

[2022-10-03 08:08] AbhishekTiwari23 commented on #3250
I am also interested in this issue. If @nik132-eng you are unable to crack it, then please assign it to me.

[2022-10-03 08:32] #3227 closed

[2022-10-03 09:26] legendarykamal commented on #3250
Yes sounds good go on @nik132-eng

[2022-10-03 09:27] lavakush07 opened #3251 "Text Update"
#### Description

The word **to** is written twice. Just need to cancel one out.
#### Expected Behavior

#### Screenshots

![image](https://user-images.githubusercontent.com/70131581/193544338-4278931f-b369-40d6-b822-d028f00ae2e5.png)

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" widt

[2022-10-03 09:27] lavakush07 commented on #3251
Can you assign me this issue ?

[2022-10-03 09:46] legendarykamal commented on #3249
@nik132-eng this needs some triaging, will you mind adding it todays website call?

[2022-10-03 09:49] nik132-eng commented on #3249
@legendarykamal can you some more elaborate about what is triaging ? I am not getting you

[2022-10-03 10:34] Moscode commented on #3200
@leecalcote I'm waiting for your confirmation on this please.

[2022-10-03 10:38] legendarykamal commented on #3249
Someone preferably a maintainer should approve it right? add it for a discussion as this area has been raised in a number of different issues and has been clarified as a part of design.

 I wonder if those effects would look good here 🤔 , but you can present your idea.

[2022-10-03 13:12] #3180 closed

[2022-10-03 14:11] Krishna2323 opened #3254 "Partner/Collaborating-with section is not responsive, overflows at around 600px."
#### Description
The image should not overflow out of its grid area.

#### Expected Behavior
![Screenshot 2022-10-03 191836](https://user-images.githubusercontent.com/85894871/193598896-4e9bd144-1c9c-4006-8116-de36c14f28ab.png)

#### Screenshots
![Screenshot 2022-10-03 192002](https://user-images.githubusercontent.com/85894871/193598922-42495510-7f67-479d-a413-0ac95ea4fc9e.png)

#### Environment:

[2022-10-03 14:42] sarkartanmay393 commented on #3206
@deepeshaburse This issue is closed right ? NA KubeCon event is live on website.

[2022-10-03 14:45] sarkartanmay393 commented on #3229
@17sushmita I would like to help on this issue.

[2022-10-03 14:50] leecalcote commented on #3206
There are three talks that can be posted under the same event.

[2022-10-03 14:55] #3249 closed

[2022-10-03 15:15] 17sushmita commented on #3229
@sarkartanmay393 I'm already working on it

[2022-10-03 17:41] legendarykamal commented on #3133
@Nikhil-Ladha can you preferably update the issue title and desc as per this comment https://github.com/layer5io/layer5/issues/3133#issuecomment-1233191687 so that there's no confusion.

(I am not able to edit it)

[2022-10-03 18:01] Chadha93 commented on #3200
@Moscode The difference here is the talk. So the talk title, date, and name will differ, here from #3205  - it will be "The state of the Cloud Native network: Deep-dive from TAG-network - Ed Warnicke, Cisco & Lee Calcote, Layer5".
Please create a new event for KubeCon + CloudNative North America 2022  with the mentioned details in the description.

[2022-10-03 18:59] AbhishekTiwari23 commented on #3124
If it is still pending, then I would like to take it.

[2022-10-03 19:00] AbhishekTiwari23 commented on #3254
I want to contribute to it.

[2022-10-03 19:28] Nikhil-Ladha commented on #3250
Why was the issue closed?
I don't see any fix/PR for this.

[2022-10-03 19:49] sahilsuman933 commented on #3124
Sure, go ahead @AbhishekTiwari23

[2022-10-03 20:37] sahilsuman933 opened #3257 "Create a white MiniKube Logo for Dark Theme"
**Current Behavior**

You need to create a white logo for MiniKube for the dark theme, which will be used across the website.

You can find the colored logo in location `layer5/src/sections/Meshery/Meshery-platforms/supported-icons/`.

---

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/lay

[2022-10-03 20:45] NPDebs commented on #3257
@sahilsuman933 This looks interesting.
Does this involve editing the svg image to change the color to white?

[2022-10-03 20:46] PriyanshuAhlawat commented on #3257
I will like to work on it , pls assign

[2022-10-03 20:48] sahilsuman933 commented on #3257
@NPDebs Yup, you got it correct. We need to convert the SVG image for the dark theme by changing the color to white or black.

[2022-10-03 20:50] NPDebs commented on #3257
@sahilsuman933 Ah. Nice. I'd love to work on this then...

[2022-10-03 20:51] sahilsuman933 commented on #3257
Go ahead @NPDebs.

[2022-10-03 20:52] sahilsuman933 commented on #3257
@PriyanshuAhlawat, I will be opening a few more issues very soon. You can work on those.

[2022-10-03 20:52] NPDebs commented on #3257
@sahilsuman933 Thanks! On it. 🚀

[2022-10-03 20:56] PriyanshuAhlawat commented on #3257
sure👍

[2022-10-03 21:05] sahilsuman933 commented on #3254
Thank you for pointing out this issue, @Krishna2323.

[2022-10-03 21:11] Krishna2323 commented on #3254
Yes, would like to work on it.

[2022-10-03 22:06] AbhishekTiwari23 commented on #3124
Thanks, @sahilsuman933, for assigning me. I will respond as soon as possible.

[2022-10-04 04:16] lavakush07 commented on #3251
I have made a PR which closes this issue.
https://github.com/layer5io/layer5/pull/3253

[2022-10-04 04:49] Gun2902 commented on #3251
can you assign me this issue???

[2022-10-04 05:10] lavakush07 commented on #3251
Hello @Gun2902 I have already made a PR.

[2022-10-04 06:18] NPDebs opened #3259 "Create a Layer5 logo with white text"
**Current Behavior**
In dark mode, the current logo is barely legible, as a result of the dark text color.

![dark-text-logo](https://user-images.githubusercontent.com/105166953/193747269-edbc06a7-3403-4539-8da6-9c5e62a369e9.png)

**Desired Situation**
Create a new logo with white "LAYER" text by editing the one found in this repo (src/assets/images/layer5/layer5-only/svg/layer5-no-trim.svg). This

[2022-10-04 06:18] eeshaanSA opened #3260 "Need a white logo for the docker image for Dark Mode on Integrations Page"
#### Description

![image](https://user-images.githubusercontent.com/100678386/193747859-7165e3ef-04b2-45d2-9f52-c66be21301aa.png)

#### Expected Behavior

#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px" align="left" /><h3> Contributor Resources and <a href

[2022-10-04 06:18] eeshaanSA commented on #3260
Would like it to be assigned to me.

[2022-10-04 06:36] sam1code commented on #3259
I think Color change will work like what I did for Vulcand! I can Change It and implement everywhere...

[2022-10-04 07:35] sahilsuman933 commented on #3259
We already have a white logo for dark theme.

[2022-10-04 07:36] sahilsuman933 commented on #3260
We already have a white logo of docker for the dark theme.

[2022-10-04 07:36] #3260 closed

[2022-10-04 07:42] eeshaanSA commented on #3260
it doesnt show up for the dark mode, which ideally it should, right?

[2022-10-04 07:59] sahilsuman933 commented on #3260
@eeshaanSA, a discussion is still going on about whether we should go for the white or dark logos. Also, if we go for the white logos, a PR is already pending.

https://github.com/layer5io/layer5/pull/3256

[2022-10-04 08:08] legendarykamal commented on #3259
@NPDebs use an existing one probably this ->  https://github.com/layer5io/layer5/blob/master/src/assets/images/layer5/layer5-only/png/layer5-light-bg.png to replace the current one.

[2022-10-04 08:16] legendarykamal commented on #3259
We can preferably switch to this existing one for dark mode -> https://github.com/layer5io/layer5/blob/master/src/assets/images/layer5/layer5-only/png/layer5-light-bg.png.

// views please @leecalcote @Nikhil-Ladha.

[2022-10-04 08:27] Nikhil-Ladha commented on #3259
I am not sure how come the current logo is "barely visible".
But, even if it is then we should be using this [logo](https://github.com/layer5io/layer5/blob/master/src/assets/images/layer5/layer5-only/png/layer5-white-no-trim.png)

[2022-10-04 08:32] NPDebs commented on #3259
This actually looks perfect to me @legendarykamal . 😃🤍

Let's await input from the others. 👀🤞🏼

[2022-10-04 08:39] NPDebs commented on #3259
@Nikhil-Ladha This will work too. 💯
At the end of the day, the goal is to use a text color that **best** contrasts the background color, as it makes for better UI.

[2022-10-04 08:47] sahilsuman933 commented on #3259
@Nikhil-Ladha If we go for this change, we have to change other logos too. This will lead to visibility issues in light mode.

[2022-10-04 08:50] #3257 closed

[2022-10-04 08:54] NPDebs commented on #3259
@sahilsuman933 That's a very valid concern.

We won't be altering how the logo looks in light mode. The code will be written in such a way that this "white text" logo only shows up in dark mode.

Make sense?

[2022-10-04 09:26] legendarykamal opened #3261 "[Improvement in description of Integration] AKS"
#### Current Behavior

Here is the relevant link to be updated/worked upon
https://layer5.io/cloud-native-management/meshery/integrations/aks

Following are the list of checks and tasks to perform on the above listed integration.

1> Rewrite integration tagline.
2> Revise the features section and update it with the latest info.
3> Revise the overview section and update it with the latest info.
4>

[2022-10-04 09:30] legendarykamal opened #3262 "[Improvement in description of Integrations] Docker and Github"
#### Current Behavior

Here are the relevant links where the details are needed to be updated.

1> https://layer5.io/cloud-native-management/meshery/integrations/docker
2> https://layer5.io/cloud-native-management/meshery/integrations/github

Following are the list of checks and tasks to perform on the above listed integration.

1> Rewrite integration tagline.
2> Revise the features section and up

[2022-10-04 09:33] legendarykamal opened #3263 "[Improvement in description of Integration] Helm & Homebrew"
#### Current Behavior

Here are the relevant links:-

1> https://layer5.io/cloud-native-management/meshery/integrations/helm
2> https://layer5.io/cloud-native-management/meshery/integrations/homebrew

Following are the list of checks and tasks to perform on the above listed integration.

1> Rewrite integration tagline.
2> Revise the features section and update it with the latest info.
3> Revise th

[2022-10-04 09:37] legendarykamal opened #3264 "[Improvement in description of Integration] GKE & K8s"
#### Current Behavior

Here are the relevant links:-

1> https://layer5.io/cloud-native-management/meshery/integrations/gke
2> https://layer5.io/cloud-native-management/meshery/integrations/kubernetes

Following are the list of checks and tasks to perform on the above listed integration.

1> Rewrite integration tagline.
2> Revise the features section and update it with the latest info.
3> Revise t

[2022-10-04 09:40] XDRAGON2002 commented on #3262
@legendarykamal I would like to work on this

[2022-10-04 09:53] lavakush07 commented on #3264
Can I take this issue up ?

[2022-10-04 09:54] lavakush07 commented on #3264
Hey @legendarykamal , Can you assign me this issue

[2022-10-04 11:10] sam1code commented on #3221
Hello I've gone through this the issue here is that the hero image have lots of space around the PNG file itself...
If we change this one then the menu area getting cropped...

Any suggestions for this?

[2022-10-04 11:28] Nikhil-Ladha commented on #3259
Considering the majority of you agree on the use of the logo Kamal shared, @NPDebs go ahead and send the PR 👍🏼

[2022-10-04 11:45] NPDebs commented on #3259
Thank you for your input @Nikhil-Ladha .
Could you go ahead and assign this to me, please?

[2022-10-04 12:09] Nikhil-Ladha commented on #3259
Done ✔️

[2022-10-04 12:27] legendarykamal commented on #3262
Yes Please do understand that we also need updated/added ss or videos in the how it works section.

There exist a video of docker that I had added some time back, you may use that also.

[2022-10-04 12:28] legendarykamal commented on #3262
are you up for it 🎈 ?

[2022-10-04 12:38] XDRAGON2002 commented on #3262
@legendarykamal well I was looking for some harder issues than the ones I have been working on, so I thought this would be a great way to challenge myself!

[2022-10-04 13:35] vishnus17 commented on #3261
Hi @legendarykamal . Do you mean to work on the readme for AKS?
Can you please provide more clarity on the issue?

[2022-10-04 14:20] legendarykamal commented on #3261
No,
I have clarified already in the description, but you may have this https://layer5.io/cloud-native-management/meshery/integrations/aks for better peek in 👍

[2022-10-04 14:35] Roseline-Bassey commented on #3263
Hey @legendarykamal, could you please assign me this issue?

[2022-10-04 15:24] nik132-eng commented on #3250
I am trying to understand code base and get into it. want little more time can i please?

[2022-10-04 15:43] legendarykamal commented on #3250
@AbhishekTiwari23 would you like to give this a shot?

[2022-10-04 15:51] nik132-eng commented on #3250
yes understood, I am working on this  👍👍

[2022-10-04 15:54] #3229 closed

[2022-10-04 16:15] AbhishekTiwari23 commented on #3250
yes, I will give my best.

[2022-10-04 19:49] RamGoel opened #3266 "Dark Mode Switch Delay"
#### Description
When we switch between dark mode and light mode, the transition delay of home screen is different from that of navbar which seems like breaking.

#### Expected Behavior
The Transition delay should be same like this .

[screen-capture.webm](https://user-images.githubusercontent.com/71088429/193912167-21d52fe1-160c-49a8-86a6-53b9fa5f1498.webm)

#### Screenshots
[screen-capture (1).w

[2022-10-04 19:50] RamGoel commented on #3266
Assign me this issue.

[2022-10-04 20:00] AbhishekTiwari23 commented on #3250
Hello @Nikhil-Ladha and @legendarykamal, after reading the code, I finally nailed the issue and found that it can be solved by changing the hover colour, so I request you to please assign this issue to me and please suggest some colours for this

[2022-10-05 04:48] lavakush07 commented on #3266
- I think this issue is already opened https://github.com/layer5io/layer5/issues/3060
Correct me if I'm wrong

[2022-10-05 04:51] RamGoel commented on #3266
Hi, @lavakush07 the issue #3060 is about flickering of dark mode when page reload but this issue #3266 is about transition delay difference between homePage and Header.

Thanks 👍

[2022-10-05 06:13] Roseline-Bassey commented on #3263
Thanks for assigning me the issue. Should I require clarification, I'll get in touch with you via Slack.

[2022-10-05 12:18] lavakush07 commented on #3264
Hello @legendarykamal , What info needs to be written in place of the existed one. Can you please brief it more.

[2022-10-05 13:17] legendarykamal commented on #3264
@lavakush07 they need to be looked for , researched and then improved in the place of existing one.

I would request you to go through the issues requirement first and then ask for assignment in future  😄

[2022-10-05 14:44] rakshitgondwal commented on #3266
I was going through the website the other day and I also tried to switch to the light mode and saw this bug but my bad I thought that it was some kind of special effect or was done intentionally lol.
If you don't mind, can we try solving this issue together? I would also like to work on this @RamGoel

[2022-10-05 14:56] rakshitgondwal commented on #3231
Hey @ronitblenz !!!
are you still working on this issue?

[2022-10-05 15:06] AbhishekTiwari23 commented on #3250
<img width="1440" alt="Screenshot 2022-10-05 at 8 33 46 PM" src="https://user-images.githubusercontent.com/97469132/194094745-ea2c7aa9-9224-44f5-b9df-7459b97f7d03.png">

@Nikhil-Ladha @legendarykamal, sir, I am making a pull request regarding this issue. Please have a look.

[2022-10-05 15:08] Nikhil-Ladha commented on #3250
Cool, go ahead.
Though, this hover color ahould only be there in case of dark theme. The hover color of light theme should be as it is.

[2022-10-05 15:25] AbhishekTiwari23 commented on #3250
<img width="1440" alt="Screenshot 2022-10-05 at 8 51 44 PM" src="https://user-images.githubusercontent.com/97469132/194098703-2d02343f-f5ff-4880-9a10-84207c4910be.png">

<img width="1440" alt="Screenshot 2022-10-05 at 8 51 37 PM" src="https://user-images.githubusercontent.com/97469132/194098714-7230cf9f-4183-4453-9a2e-6304195f18d1.png">

@Nikhil-Ladha @legendarykamal, sir, finally, I added differe

[2022-10-05 15:26] Nikhil-Ladha commented on #3250
Looks good.

[2022-10-05 15:28] legendarykamal commented on #3250
+1 please make a PR for this 🙂

[2022-10-05 16:05] AbhishekTiwari23 commented on #3250
I made the pr. Please have a look, and thanks for your support, @Nikhil-Ladha and @legendarykamal

[2022-10-05 18:23] AbhishekTiwari23 commented on #3124
Hello @sahilsuman933, sir, you assigned me this task yesterday. I thought about specific changes, and after all, I concluded that we could only change the colour of the inactive cards. I decided to give a red hover effect with some styling, but these do not contain links, so I can't do that. So please let me know if I should change the colour! I am waiting for your suggestions. Please let me know

[2022-10-05 18:28] AbhishekTiwari23 commented on #3254
Are you still working on this, or should I start

[2022-10-05 18:29] leecalcote commented on #3254
(oops)

[2022-10-05 18:38] AbhishekTiwari23 opened #3268 "Different size of subscribe botton and email address box"
#### Description

I found that the email and subscribe buttons on the layer landing page are not the same size, and there is bid space/margin between them, which does not look great.
#### Expected Behavior

Both buttons should be the same size and have a minimum space between them.

#### Screenshots

<img width="1440" alt="Screenshot 2022-10-06 at 12 06 24 AM" src="https://user-images.githubuserco

[2022-10-05 18:39] AbhishekTiwari23 commented on #3268
I would like to work on this issue, if you consider it a genuine one then please allow me to contribute

[2022-10-05 18:48] legendarykamal commented on #3264
Note I have updated the links for better understanding.

[2022-10-05 19:32] Roseline-Bassey commented on #3263
Alright, this is helpful.

[2022-10-05 19:49] sahilsuman933 commented on #3124
Before the PR, can you show me some sample @AbhishekTiwari23?

[2022-10-06 04:47] legendarykamal commented on #3262
Note:- I have updated the issue descriptions with the relevant links to increase the clarity.

[2022-10-06 04:58] legendarykamal commented on #3266
hello gents thank you for showing concerns over this  but how does it appear to be breaking ?
frankly it doesn't and is totally intentional and gives a good feel.

I am open for more arguments and clarifications , if you feel.

[2022-10-06 05:00] legendarykamal commented on #3261
@vishnus17 checking in , have you got a good hold of what is needed here ?  If you have any doubts, feel free to reach on slack or ask here.

[2022-10-06 05:03] legendarykamal commented on #3268
@AbhishekTiwari23 did your browser load fully ,
As I find them to be of the same size
![image](https://user-images.githubusercontent.com/95926324/194218550-f0542cdf-1542-4313-8a20-b5ef22bec369.png)

[2022-10-06 05:04] #3268 closed

[2022-10-06 08:02] #3259 closed

[2022-10-06 08:19] #3154 closed

[2022-10-06 13:34] legendarykamal opened #3271 "Overlap of text in service-mesh-landscape"
Description
in https://layer5.io/service-mesh-landscape two title texts overlap with each other.

Expected Behavior
Both texts should be separated from each other

#### Screenshots

![image](https://user-images.githubusercontent.com/95926324/194326849-9d674ee0-290d-469d-bab9-7f16e997133a.png)

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/

[2022-10-06 13:41] PriyanshuAhlawat commented on #3271
I will like to work on it, pls assign

[2022-10-06 13:45] legendarykamal commented on #3271
yes please ,update us soon .

[2022-10-06 13:51] AbhishekTiwari23 commented on #3268
Sir, please have a look at this photo, it might be you are using a big screen or a window's os, but it is a genuine issue
![WhatsApp Image 2022-10-06 at 7 17 35 PM](https://user-images.githubusercontent.com/97469132/194330615-3a42437b-0fab-44be-98dc-bdf992271cd3.jpeg)

[2022-10-06 14:28] AbhishekTiwari23 commented on #3231
This issue is still going on. Please let me know if I can contribute.

[2022-10-06 15:54] legendarykamal commented on #3271
hello gents, since there hasn't been an update long yet and you are not done with the local setup.
Please do before asking to work on any issue @PriyanshuAhlawat .

Understanding the priority of the issue ,I am pushing in a PR . feel free to engage in other areas that need `help`

[2022-10-06 16:22] Nikhil-Ladha commented on #3221
Re-opening the issue since the PR was reverted.

[2022-10-06 17:01] #3271 closed

[2022-10-06 18:09] vishnus17 commented on #3261
Hi @legendarykamal.
Yes, the link helped. Before I was wondering where the updates were needed.
I can take up this issue. Thanks

[2022-10-07 05:24] legendarykamal commented on #3261
ok hope to see an update soon from you :) .

[2022-10-07 05:29] ronitblenz commented on #3231
Hey @sahilsuman933, I am finding it to be difficult to work on this.
You can pass this issue on to the next person.

[2022-10-07 05:33] ronitblenz commented on #3262
I want to take this issue, Could you please assign me?

[2022-10-07 05:51] #3182 closed

[2022-10-07 07:12] Krishna2323 opened #3274 "Footer: Social media logos are not aligned with the layer 5 logo."
#### Current Behavior
Social media logos are not aligned with the layer 5 logo.
![Screenshot 2022-10-07 123820](https://user-images.githubusercontent.com/85894871/194492287-35056b5b-bfc0-4391-9527-fbf365b4f7cd.png)

#### Desired Behavior
![Screenshot 2022-10-07 123911](https://user-images.githubusercontent.com/85894871/194492344-8e694764-f288-4278-b43e-c219d9840b6e.png)

#### Screenshots / Mockups

[2022-10-07 08:18] Shubhamdutta2000 commented on #3274
I would like to work on this issue

[2022-10-07 12:14] nitishmalang commented on #3262
Hey I would like to work with this issue can you please assign me

[2022-10-07 12:54] legendarykamal commented on #3262
@ronitblenz is your setup up and running ?

[2022-10-07 13:12] AbhishekTiwari23 commented on #3231
@leecalcote, Thanks for assigning me, I will reply as soon as possible

[2022-10-07 14:56] JayKania commented on #3274
Hi @Shubhamdutta2000 , if you are not working on the issue then do let me know. I would like to work on it

[2022-10-07 15:56] AbhishekTiwari23 commented on #3231
@leecalcote hello, sir, After changing the left-right padding, I came up with this. Please let me know if it is good or nor
<img width="1440" alt="Screenshot 2022-10-07 at 9 25 36 PM" src="https://user-images.githubusercontent.com/97469132/194596605-ab8b3cbc-1af2-4649-a8db-c2d43882cebb.png">

[2022-10-07 16:06] AbhishekTiwari23 commented on #3231
ok

[2022-10-07 16:21] AbhishekTiwari23 commented on #3274
I am also ready with my setup. Please assign if it is still uncompleted

[2022-10-07 16:23] AbhishekTiwari23 commented on #3231
Hello @sahilsuman933, I made a PR, please have a look and let me know if there is any issue

[2022-10-07 16:26] AbhishekTiwari23 commented on #3268
@legendarykamal hello sir, I did not get any response, please let me know if this is a genuine one or not.

[2022-10-07 17:06] Shubhamdutta2000 commented on #3274
I am working on this issue

[2022-10-07 19:08] ronitblenz commented on #3262
Yes it is... Running on local host

[2022-10-07 19:35] GaganpreetKaurKalsi opened #3277 "Bottom white line upon focus in table tabs"
#### Description
A white solid line appears at the bottom when a tab is in focus state in table component.

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/54144759/194639689-b8a223dd-adbb-40a1-90b0-53f62e95accd.png">

<br>

#### Expected Behavior
Such white line should probably not exist in focus state as it doesn't go well with the UI and doesn't exist in any other s

[2022-10-07 19:35] GaganpreetKaurKalsi commented on #3277
Kindly assign me this issue. Would like to work on this.

[2022-10-07 19:50] GaganpreetKaurKalsi opened #3278 "Right table borders"
#### Description
In reference to the below attached image, after carefully looking, you can see right borders visible when a row is hovered at. When we hover at white rows, white right borders are visible and when we hover at gray rows, gray borders are visible.

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/54144759/194641009-c6a493e6-4401-40fd-b73f-a1e41722541f.png

[2022-10-07 19:51] GaganpreetKaurKalsi commented on #3278
Would like to work on this. Kindly assign me this issue.

[2022-10-07 20:18] GaganpreetKaurKalsi opened #3279 "Tooltip hidden for the last row in table"
#### Description
Due to the size of the tooltip, the tooltip doesn't find space to render at top or left so it renders below the text and therefore gets hidden.

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/54144759/194645131-995a9a05-8bfb-40b3-83c5-64787c76a0de.png">

#### Expected Behavior
The tooltips should be visible for all cells of the last row.

#### Possibl

[2022-10-07 20:19] GaganpreetKaurKalsi commented on #3279
Would like to work on this issue. Kindly assign it to me.

[2022-10-07 20:58] GaganpreetKaurKalsi opened #3280 "Spelling error (navtive)"
#### Description
Spelling mistakes
- navtive
- candidancy
- futhered

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/54144759/194651175-2fb7aae8-3d16-46a2-87a5-741dc0e4ebb9.png">
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/54144759/194652051-d326ae2f-a2e9-4407-ac06-7280b2e844fe.png">
<img width="1439" alt="image" src="https://user-imag

[2022-10-07 20:58] GaganpreetKaurKalsi commented on #3280
Would like to fix this. Kindly assign it to me.

[2022-10-07 21:01] leecalcote commented on #3277
Good eye and good suggestion, @GaganpreetKaurKalsi 👍

[2022-10-07 21:09] leecalcote commented on #3280
Gosh, what is a "cloud navtive" anyway? 😆

Thank you, @GaganpreetKaurKalsi.

[2022-10-07 21:15] leecalcote commented on #3279
This is a valid bug. Is part of what you're thinking, @GaganpreetKaurKalsi, to use `text-overflow: ellipsis;`?

[2022-10-07 21:26] GaganpreetKaurKalsi commented on #3280
Haha! guess will be reading the whole site to find such errors 😅

Another one is here. Issue with the article.

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/54144759/194656237-b899828a-990f-48f2-bd40-e0dcdde966aa.png">

[2022-10-07 21:41] GaganpreetKaurKalsi commented on #3279
No, if we use ```text-overflow: ellipsis;``` then the user won't be able to see the complete text. I am thinking of restricting the width of the tooltip container to some max value so that when the text inside takes up more space than the container width, it will wrap in the next line.

[2022-10-07 22:53] leecalcote commented on #3280
Oh, my goodness. Another one. 😮

[2022-10-08 00:45] Krishna2323 opened #3281 "3 different card styles in the same review section on the pricing page."
#### Description
3 different card styles in the same review section on the pricing page.

#### Expected Behavior
The cards must be of one type and the dimensions also should be the same.

#### Screenshots
![Screenshot 2022-10-08 060933](https://user-images.githubusercontent.com/85894871/194678994-2bea697d-23de-45ac-9729-735d01b16ceb.png)

#### Environment:
- Host OS: Windows
- Browser: Chrome/Brav

[2022-10-08 02:24] legendarykamal commented on #3280
cloud navtive might be a new subset of cloud native 😄 .

[2022-10-08 06:22] legendarykamal commented on #3262
ok go for it @ronitblenz

[2022-10-08 06:31] eeshaanSA opened #3283 "[Integrations Page] Need of a better Dark mode Kind logo"
#### Description

![image](https://user-images.githubusercontent.com/100678386/194693337-224095e1-ce57-440c-93a8-88e06488bd7c.png)

#### Expected Behavior

#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px" align="left" /><h3> Contributor Resources and <a href

[2022-10-08 07:24] sandeepB3 commented on #3281
I would like to work on this. Please assign me.

[2022-10-08 07:28] rohanyrane commented on #3278
Please assign me this issue. I would like to work on this

[2022-10-08 07:48] sandeepB3 commented on #3281
Of the three patterns which single pattern would be preferred ?
<img width="1402" alt="Screenshot 2022-10-08 at 1 11 20 PM" src="https://user-images.githubusercontent.com/107111616/194696301-26d9a63d-21ef-4ebe-a8aa-624402ab3bca.png">
**Type2, Type1, Type3**
The card types are in the above order respectively

**Personally I prefer Type2**

[2022-10-08 08:13] GaganpreetKaurKalsi commented on #3278
What do you think about this issue @leecalcote @legendarykamal ?
Should this be resolved? This issue appears in both dark and light mode.

If yes, then kindly assign it to me. Will make the necessary changes.

[2022-10-08 08:38] legendarykamal commented on #3278
@GaganpreetKaurKalsi the lines are very faintly visible and even if they are, they differentiate the column's better.
Changes aren't needed here in my opinion unless a maintainer feels so, till then 'no not needed'.

[2022-10-08 08:40] legendarykamal commented on #3283
@sahilsuman933 views please here.

[2022-10-08 08:46] sahilsuman933 commented on #3283
If you have any idea through which we can improve the KinD logo for dark mode then do share @eeshaanSA.

[2022-10-08 09:17] SaiRev0 commented on #3133
@Nikhil-Ladha So I have to add 1 more row for the logos of the partners??

am I correct with that??

[2022-10-08 09:59] NPDebs commented on #3283
@eeshaanSA Plain white logos aren't appealing enough for you? 😃

Tell me what you have in mind...and maybe I can help.

[2022-10-08 10:17] Nikhil-Ladha commented on #3133
Yes, and probably move a couple of them in the above row, to the new one.

[2022-10-08 10:25] sandeepB3 commented on #3281
<img width="1440" alt="Screenshot 2022-10-08 at 3 54 34 PM" src="https://user-images.githubusercontent.com/107111616/194702893-1dcf071f-e2ac-4b25-a9b5-5e712cabea68.png">

**Is this okay?**

[2022-10-08 12:47] leecalcote commented on #3281
Thanks for this, @Krishna2323. This behavior is by design.

[2022-10-08 12:47] #3281 closed

[2022-10-08 13:05] #3280 closed

[2022-10-08 13:52] Krishna2323 opened #3286 "Smoothly displaying the answers in the FAQ on page /careers/programs."
#### Current Behavior
The display of answers is sudden.
https://user-images.githubusercontent.com/85894871/194710935-927aea98-73f9-4a4c-91f4-4b022be94755.mp4

#### Desired Behavior
The transition must be smooth.
https://user-images.githubusercontent.com/85894871/194710950-9151c4ae-40a5-47f2-a3d3-389e81254adb.mp4

#### Screenshots / Mockups

#### Implementation

#### Acceptance Tests

---
<img src=

[2022-10-08 13:53] Krishna2323 commented on #3286
I want to work on this issue.

[2022-10-08 14:08] Krishna2323 opened #3287 "The blog cards on the blogs page is not responsive."
#### Description
The blog cards on the blog page is not responsive.
![Screenshot 2022-10-08 193715](https://user-images.githubusercontent.com/85894871/194711686-eba5e44a-a86d-4eab-b4da-b87b74e4c653.png)

#### Expected Behavior
![Screenshot 2022-10-08 193634](https://user-images.githubusercontent.com/85894871/194711693-a6c6462d-72f0-48f2-a8a7-b9b6fe68970a.png)

#### Screenshots

#### Environment:
-

[2022-10-08 14:09] Krishna2323 commented on #3287
Would like to work on that.

[2022-10-08 14:23] AbhishekTiwari23 commented on #3283
I have an idea we can add a sun moon toggle button, something like this
<img width="1440" alt="Screenshot 2022-10-08 at 2 43 53 AM" src="https://user-images.githubusercontent.com/97469132/194712290-660ca9b7-8507-401d-9ced-de9fc07702b1.png">

[2022-10-08 14:24] AbhishekTiwari23 commented on #3283
I think this one is good,
<img width="120" alt="Screenshot 2022-10-08 at 7 52 16 PM" src="https://user-images.githubusercontent.com/97469132/194712345-dd58b929-7f63-495f-a83c-ab1570f74bd8.png">
 If you find it relevant then please let me now I want to contribute

[2022-10-08 14:31] legendarykamal commented on #3283
@AbhishekTiwari23  no , I think you are mistaken from what is needed.
just making it better as a white logo is needed/proposed here, no toggle needed as we already have color logos which will show us upon hovering.

[2022-10-08 14:33] AbhishekTiwari23 commented on #3287
I tried hard but was not able to detect it. If it is a real issue, then I also want to give it a try

[2022-10-08 14:38] AbhishekTiwari23 commented on #3283
Ya, I realised it. Thanks

[2022-10-08 14:40] eeshaanSA commented on #3283
@sahilsuman933 @NPDebs @legendarykamal I think the current logo just looks like a bottle having a message inside of it, floating in the middle of a wild ocean.😄
If we some how manage to squeeze in the _ship_ with the k8s logo and the _kind_ text, the logo would be more clearer as to what purpose it serves.

[2022-10-08 14:42] AbhishekTiwari23 commented on #3170
If this issue still exists, please let me know if I can contribute.

[2022-10-08 14:47] AbhishekTiwari23 commented on #3133
Hello @Nikhil-Ladha, I have a suggestion. Can he add a sliding effect instead of diving it between two rows? This will look good, I think.
If I can contribute, then please let me know.

[2022-10-08 14:52] Nikhil-Ladha commented on #3133
Nope, the overflow is by design and intentional

[2022-10-08 14:53] Nikhil-Ladha commented on #3170
@legendarykamal working on this?

[2022-10-08 15:20] AbhishekTiwari23 commented on #3133
Ok, thanks. But if the issue exists, then my setup is ready

[2022-10-08 15:25] AbhishekTiwari23 opened #3288 "Overlapping of the text with logo"
#### Description
The text overlaps with the logo.

#### Expected Behavior
There should be no overlapping, similar to others.

#### Screenshots
<img width="1440" alt="Screenshot 2022-10-08 at 8 26 58 PM" src="https://user-images.githubusercontent.com/97469132/194714973-5ad44fda-f872-466b-91d3-3cda2bb755de.png">

#### Environment:
- Host OS: Mac os
- Browser: Google

---
<img src="https://raw.github

[2022-10-08 15:28] AbhishekTiwari23 opened #3289 "Overflow of content"
#### Description
The content was overflowing from its desired space. In large mode of the text.

#### Expected Behavior
There should be no overflow of content.

#### Screenshots
<img width="1440" alt="Screenshot 2022-10-08 at 8 22 28 PM" src="https://user-images.githubusercontent.com/97469132/194715066-33b655b9-22ae-41c6-90d9-98413b765a83.png">

#### Environment:
- Host OS: Mac os
- Browser:  Goog

[2022-10-08 15:28] sidd-kointrack commented on #3288
Can I work on this issue? @AbhishekTiwari23

[2022-10-08 15:29] AbhishekTiwari23 commented on #3288
Please assign this issue to me.

[2022-10-08 15:30] AbhishekTiwari23 commented on #3289
Please assign this issue to me.

[2022-10-08 15:34] AbhishekTiwari23 opened #3290 "Subscribe to news letter button is not responsive"
#### Description
The subscribe to newsletter button is not responsive to reducing the window size.
#### Expected Behavior
It should be responsive in all cases.

#### Screenshots

![WhatsApp Image 2022-10-08 at 8 31 52 PM](https://user-images.githubusercontent.com/97469132/194715348-6ae112c3-6648-4fab-8146-8e67e42ac2b6.jpeg)

#### Environment:
- Host OS: Android/ Lenovo tablet horizontal alignment

[2022-10-08 15:36] AbhishekTiwari23 commented on #3290
If this is a genuine one, please allow me to work on it.

[2022-10-08 17:25] AbhishekTiwari23 commented on #3290
This issue arrises because of the large text setting in my browser. Now I realised it, if you do not consider it as a genuine one, then please close this one. Thanks

[2022-10-08 17:25] AbhishekTiwari23 commented on #3289
This issue arises because of the large text setting in my browser. Now I realise it, if you do not consider it genuine, then please close this one. Thanks

[2022-10-08 17:26] AbhishekTiwari23 commented on #3288
This issue arises because of the large text setting in my browser. Now I realise it, if you do not consider it genuine, then please close this one. Thanks

[2022-10-08 18:46] RamGoel commented on #3266
Hi @legendarykamal @leecalcote @Nikhil-Ladha , I think giving a transition delay of 0.5s to both header and the home screen is a perfect combination.

and one more thing I want to mention that the home screen varies everytime you open the site. and the screen I shared in video has the issue only. other ones are looking good.

[2022-10-08 19:00] legendarykamal commented on #3288
was the previous one "email address" also due to your browser settings ?

closing this in the lieu of already fixed , Thanks.

[2022-10-08 19:00] #3288 closed

[2022-10-08 19:05] RamGoel commented on #3266
I think we can move forward with this, let me get on it. Could you please assign it to me.

[2022-10-08 19:14] legendarykamal commented on #3287
thankyou @Krishna2323 for raising but the blog page is completely responsive. I checked and recheked 💯

[2022-10-08 19:16] #3287 closed

[2022-10-08 19:42] Onyx2406 opened #3291 "Rate-Limit Issue on contact form"
#### Description
Site: https://layer5.io/company/contact
When a user submits the contact form, after 10 hits, the contact form gets freezed and doesn't accept any more requests until the opened issues are resolved. The impact is that this feature can be manipulated by someone by spamming the contact form which can be automated using bots and freezing it and users who really have a query/issue won'

[2022-10-08 19:43] #3278 closed

[2022-10-08 19:45] Onyx2406 commented on #3291
Maybe I should have sent this to [security-vulns-reports@layer5.io](mailto:security-vulns-reports@layer5.io) but I received error that the address couldn't be found, or is unable to receive mail.

[2022-10-08 20:07] NPDebs commented on #3283
@eeshaanSA That's a very poetic way to convey your ideas. 😅💯

Essentially, we need to make certain parts of the logo "pop," so that it retains its identity even in dark mode, yes?

Throwing in a bit of black here and there to make the components stand out should work.

How does that sound? || @legendarykamal

[2022-10-08 21:22] AbhishekTiwari23 commented on #3288
ya, I think so. Thanks for your support.

[2022-10-08 21:24] AbhishekTiwari23 commented on #3288
No, that now arrises in my tablet, and this one is because of my mac book.

[2022-10-08 21:27] AbhishekTiwari23 commented on #3288
@legendarykamal, sir, I am waiting for pr #3275 to be merged. Please have a look. Thanks

[2022-10-08 23:19] SaiRev0 commented on #3133
@Nikhil-Ladha had some issues where I can get help ??

[2022-10-09 00:22] Krishna2323 commented on #3287
@legendarykamal pls recheck it with the other view option.
![Screenshot 2022-10-08 193715](https://user-images.githubusercontent.com/85894871/194732017-0edceb55-7870-4c0a-8d6c-b49bec20ce28.png)

[2022-10-09 03:04] legendarykamal commented on #3287
ah you see how words play with us, Please
1> Modify the title with the blog cards on the ''list view''  with the appropriate px ratio you have experienced the issue.
2> this will require the tags to be moved down (from the ss you shared). are we ok with that ?

[2022-10-09 03:29] legendarykamal commented on #3283
yes, certainly sounds good @NPDebs 🎈

[2022-10-09 03:31] NPDebs commented on #3283
Perfect! Shall we play Rock, Paper, Scissors to decide who gets assigned 😅.......or can I go ahead and do what I did for the Minikube logo? 😃🤸🏽‍♀️

[2022-10-09 03:31] legendarykamal commented on #3133
@SaiRev0 ask in a public slack channel like #websites channel by tagging appropriate person to whom you would like to ask.

[2022-10-09 03:36] legendarykamal commented on #3283
oh I just noticed how fabulous that minikube looked 🥇
with that being said yes you can take a leap over this @NPDebs 💯
@eeshaanSA let me know if you would like to collaberate with @NPDebs 💭 .

[2022-10-09 03:41] NPDebs commented on #3283
Yes yes...go ahead and stroke my ego. 😂

Thanks @legendarykamal 🙂🙇🏽‍♀️🙌🏼 I'm on it.

[2022-10-09 03:50] Krishna2323 commented on #3287
@legendarykamal pls check now.

[2022-10-09 04:34] eeshaanSA commented on #3283
@NPDebs is so good with svgs. You can make the svg, @NPDebs.

[2022-10-09 08:30] Krishna2323 opened #3292 "Projects Page: Most of the services are hidden after width is less than 550px."
#### Description
Projects Page: Most of the services are hidden after width is less than 550px.
![Screenshot 2022-10-09 135740](https://user-images.githubusercontent.com/85894871/194746345-b336f455-ab2b-4d05-9b0a-43c49b72ba6f.png)

#### Expected Behavior
![Screenshot 2022-10-09 135715](https://user-images.githubusercontent.com/85894871/194746362-2b08faa8-bbed-4423-a448-af08a0edb4f7.png)

#### Scre

[2022-10-09 09:48] #3277 closed

[2022-10-09 10:32] legendarykamal commented on #3231
@munyanezaarmel we (me & @Nikhil-Ladha )  are unable to replicate this issue ,
Can you please share the resolution at which you are seeing this issue? would be helpful. Otherwise we will close this issue .

[2022-10-09 10:32] legendarykamal commented on #3231
@munyanezaarmel we (me & @Nikhil-Ladha )  are unable to replicate this issue ,
Can you share the resolution at which you are seeing this issue? would be helpful. Otherwise we will close this issue .

[2022-10-09 10:35] legendarykamal commented on #3290
@AbhishekTiwari23 its perfectly responsive , Sorry will have to close this.

[2022-10-09 10:38] #3290 closed

[2022-10-09 10:39] legendarykamal commented on #3170
oh yes , will try to finish this sooner.

[2022-10-09 11:44] NPDebs commented on #3283
SVGs hurt my eyes...but I manage. 😅
Thanks @eeshaanSA 🙂🙌🏼

[2022-10-09 11:48] sandeepB3 opened #3293 "Enhancing (UX) by directing external sites on new tab."
#### Description
Enhancing user experience (UX) by directing external sites on new tab.

#### Current Behavior
On clicking the link to vote for the best Meshmap logo in the 'Goodbye, YAML' section, the layer 5 website reloads and opens twitter on the same tab, same behaviour can be observed on clicking the card 'JOIN THE CONVERSATION' in the community section, which opens the discuss.layer5.io sit

[2022-10-09 11:49] sandeepB3 commented on #3293
If this feels like a genuine enhancement, please assign this to me. I would like to make the PR.

[2022-10-09 11:51] NPDebs commented on #3283
Here's a sample of what I've come up with.
![kind-logo-white](https://user-images.githubusercontent.com/105166953/194755288-9ac7311d-0145-4a4a-a1ce-b872ea3bb5b3.svg)

What do you think? || @eeshaanSA @legendarykamal

[2022-10-09 17:32] legendarykamal commented on #3283
looks nice @NPDebs can be twitched a little more to make perfect 🛫

[2022-10-09 17:39] NPDebs commented on #3283
Thanks. 🤸🏽‍♀️

So what constitutes "perfection" for you? Less black or eliminate the extra grey-like shade?

[2022-10-09 17:51] GaganpreetKaurKalsi opened #3295 ""No results found" row when data not present in table"
#### Current Behavior
When there is no data to show in table upon filter-by-search, table has no body to show.

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/54144759/194771634-0aff207d-aa9a-4857-9f61-2577d5eacdc9.png">

#### Desired Behavior
We can display a row stating "No results found" or "No data found". This tells user that what he/she is looking for isn't avai

[2022-10-09 17:51] GaganpreetKaurKalsi commented on #3295
If this feels like a desired enhancement, the kindly assign me to this issue. Would like to work on it.

[2022-10-09 20:48] Nikhil-Ladha commented on #3295
Seems fair.
Also, the suggestion looks good. Go ahead and work on making a PR for it.

[2022-10-10 06:59] tiger-yash commented on #3222
Hey @leecalcote!
please assign this to me

[2022-10-10 07:02] tiger-yash commented on #3151
hi @legendarykamal,
please assign this issue to me

[2022-10-10 10:16] Nikhil-Ladha commented on #3266
@RamGoel on a separate note what changes did you make to avoid that flickering/transition issue, in the video shared in the issue description?

[2022-10-10 10:21] Nikhil-Ladha commented on #3266
Also, I doubt you might have any progress on using the plugin I shared earlier, it requires a lot of changes in the stylesheet which might not be feasible for us.
Try using the plugin https://www.gatsbyjs.com/plugins/gatsby-plugin-use-dark-mode/, though you might get an issue while installing the `use-dark-mode` package mentioned in the plugin page, so in that case, install the package from this r

[2022-10-10 10:45] #3295 closed

[2022-10-10 12:52] Harshit-Dandriyal opened #3298 "[UI]The Related Integration page should show white SVGs instead of Colored."
#### Description

[UI]The Related Integration page should show white SVGs instead of Colored.

https://user-images.githubusercontent.com/56961488/194870275-982f593e-6827-45db-8739-2eb382cc23b4.mp4

#### Expected Behavior

#### Screenshots

#### Environment:
- Host OS: Ubuntu
- Browser: Chrome

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-lig

[2022-10-10 12:58] amit-ksh commented on #3298
I want to work on this. Please assign this to me.

[2022-10-10 13:00] sandeepB3 commented on #3298
Would like to be assigned, to work on this. Thank you!

[2022-10-10 13:03] amit-ksh commented on #3298
BTW issue video is not playing

[2022-10-10 13:22] Harshit-Dandriyal commented on #3298
It's playing in my browser :thinking:

[2022-10-10 13:25] Harshit-Dandriyal commented on #3298
ok @amit-ksh Assigning it to you, I hope you will not take much time. All the best.
@sandeepB3 There may be many issues like this in Layer5 I hope you will be able to find more.

[2022-10-10 13:36] #3279 closed

[2022-10-10 14:59] AbhishekTiwari23 commented on #3298
If the issue still open then I am ready with my setup

[2022-10-10 15:19] arpitghura commented on #3292
I would like to work on this issue. Can you please assign it to me?

[2022-10-10 16:59] legendarykamal commented on #3283
@NPDebs less shade of black and probably open up a PR for this , so that the changes regarding this are discussed over there , all at 1 place.

[2022-10-10 17:06] NPDebs commented on #3283
Thanks for the tip @legendarykamal 🙌🏼

Sure. 👍🏻 I'm all over it!

[2022-10-10 17:18] RamGoel commented on #3266
@Nikhil-Ladha I have just removed the transition delay from the header so that that it matches the transition delay of home page.

[2022-10-10 17:20] Nikhil-Ladha commented on #3266
Where is the transition delay in the code 🤔

[2022-10-10 17:21] RamGoel commented on #3266
No just the CSS property from the inspect.

[2022-10-10 17:41] Nikhil-Ladha commented on #3266
Ok! Got it.
There might be a second set of changes required even after the plugin is incorporated.
We would need to update those CSS values for transition properties to be limited to only the changes that are actually happening. That is avoid using `all` so that when there are color/background-color changes there isn't a delay.

Though lets have that plugin added and use that for changing the them

[2022-10-10 18:42] #3298 closed

[2022-10-10 20:05] Onyx2406 opened #3302 "Parameter Tampering Issue"
#### Description
Site: https://layer5.io/company/contact
Through this bug, a user can change the "Scope of Question" which is not given on the form and it is not expected from someone to ask question which is not related to "Scope of Question" given on the contact form. The changed Scope of Question also reflects in the auto email sent to the user after the form is submitted.
#### Expected Behavio

[2022-10-10 20:42] tiger-yash commented on #3151
hi @legendarykamal,
please assign this issue to me, if no one is actively working on it.

[2022-10-11 01:40] legendarykamal commented on #3151
Ok this should have been fairly simple task to execute, but is taking too much time.

Deassigning and Reassigning based on first come, so @SaiRev0 you are up next. 👍

[2022-10-11 06:17] janvi01 commented on #3095
Hey, I would like to work on this if it's still available. @leecalcote

[2022-10-11 06:20] ronitblenz commented on #3222
Hey @tiger-yash
I found it difficult to solve this, I am unassigning myself.

[2022-10-11 07:15] Lezette commented on #2986
Oh wow, I’m just seeing this now

On Thu, 28 Jul 2022 at 21:04 Lee Calcote ***@***.***> wrote:

[2022-10-11 07:55] Anita-ihuman commented on #2323
Yes that’s where it’s supposed to be

On Wed, Aug 24, 2022 at 8:25 AM Anuragh Barua ***@***.***>
wrote:

--
Anita Ihuman

[2022-10-11 11:31] Nikhil-Ladha commented on #3274
@Shubhamdutta2000 what's the status here?

[2022-10-11 11:42] AbhishekTiwari23 commented on #3274
If there is no update, then please let me know. My setup is ready.

[2022-10-11 13:56] Nikhil-Ladha commented on #3302
What's the reproducer?

[2022-10-11 13:57] Nikhil-Ladha commented on #3302
Well, encryption is not needed, just adding a check in the backend to check if the scope is either of these 5 would do.

[2022-10-11 14:48] Onyx2406 commented on #3302
I used this request capturing and forwarding tool - Burp Suite.

[2022-10-11 15:59] Onyx2406 commented on #3302
Can you assign me this so I can try to solve this? Thanks

[2022-10-11 16:12] Nikhil-Ladha commented on #3302
Unfortunately this is something you won't be able to solve, since the accounts are restricted for access.
Either me or @debo19 will have to fix this.

[2022-10-11 16:27] Onyx2406 commented on #3302
okay sure, no problem

[2022-10-11 17:02] toukirkhan commented on #3017
Assign me

[2022-10-11 17:02] toukirkhan commented on #3017
Assign me

[2022-10-11 18:18] SaiRev0 commented on #3133
@Nikhil-Ladha please provide the photos and details of all the collaborating companies so that I can add them

[2022-10-11 18:26] Nikhil-Ladha commented on #3133
@leecalcote ^^

[2022-10-11 18:27] Nikhil-Ladha commented on #3133
For the logo, you could download them from their respective sites docker.com and f5.com

[2022-10-11 18:30] legendarykamal opened #3303 "[Mailing List] Make all the items width equal."
#### Description

It looks odd currently.

![image](https://user-images.githubusercontent.com/95926324/195170731-dde05f6a-ef28-42ab-ad4c-269d273906ec.png)

#### Expected Behavior

All of the widths should be same.
#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="1

[2022-10-11 18:31] legendarykamal commented on #3303
// @Krishna2323

[2022-10-11 19:03] SaiRev0 commented on #3133
@Nikhil-Ladha So I have to add only 2 more logos.

So I will add them and shift some from the top so both the rows will have the same numbers

Can we chat some else the comments will go long 😅

[2022-10-11 19:09] Nikhil-Ladha commented on #3133
Yes.
If you have more doubts ping me on slack.

[2022-10-11 19:59] leecalcote commented on #3302
Thank you for filing this, @Onyx2406. While the fix will ultimately be done in a separate system, this _is_ something that you can participate in seeing to resolution. And it's certainly something that we appreciate you engaging with us on. This is helpful. Soon, hopefully, there will word on readiness of testing of a solution that has been implemented and confirmation of the details of that solut

[2022-10-11 20:09] leecalcote commented on #3302
@Onyx2406 do you go by `tonyjack1121@gmail.com` in your tests? I'm just confirming that those are from you and not another nefarious actor.

[2022-10-11 20:11] Onyx2406 commented on #3302
Yes, its mine which I used just to test from different email.

[2022-10-11 20:13] Onyx2406 commented on #3302
Thank you @leecalcote for checking out this issue! I will edit the post soon and list the cases which needs to be covered.

[2022-10-12 00:59] legendarykamal commented on #3303
Oh 😅 yes my bad! wrong repo , opened it in here -> https://github.com/meshery/meshery.io/issues/868.

[2022-10-12 00:59] #3303 closed

[2022-10-12 01:19] leecalcote commented on #3303
No sweat. 👍

[2022-10-12 03:46] #3251 closed

[2022-10-12 04:21] Krishna2323 opened #3304 "Alignment and gap between title and inputs in subscribe section before the footer looks."
#### Current Behavior
The subscribe section before the footer looks because of the gap between the form heading and inputs is too much.
SS:
![Screenshot 2022-10-12 094608](https://user-images.githubusercontent.com/85894871/195249130-a383497a-e5df-45fc-a1f0-46ac2665d77b.png)

#### Desired Behavior
![Screenshot 2022-10-12 094426](https://user-images.githubusercontent.com/85894871/195249169-9d0d8deb-

[2022-10-12 06:11] Nikhil-Ladha commented on #3304
I don't think any change in the design is needed. The current behavior is by design and looks completely fine.

[2022-10-12 07:09] Krishna2323 commented on #3304
@Nikhil-Ladha ,Ok.

[2022-10-12 07:10] Krishna2323 commented on #3304
No change is needed.

[2022-10-12 07:10] #3304 closed

[2022-10-12 09:00] GaganpreetKaurKalsi opened #3305 "Spell errors"
#### Description
Spelling errors
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/54144759/195288067-86088812-4c08-4810-abbe-3f015001788b.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/54144759/195288782-426a8d5f-2b3b-4008-8ac5-32f5e1424bc7.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/54144759/195

[2022-10-12 11:13] rghdrizzle commented on #3305
Hey can i fix these errors ??

[2022-10-12 11:18] Krishna2323 opened #3306 "The VULCAN logo looks too small on Landscape page."
#### Description
The VULCAN logo looks too small on Landscape page.
![Screenshot 2022-10-12 164620](https://user-images.githubusercontent.com/85894871/195329376-e9de0861-34d5-41ab-a65d-09ba22da1c80.png)

#### Expected Behavior

![Screenshot 2022-10-12 164549](https://user-images.githubusercontent.com/85894871/195329397-97645d24-6ef1-442c-83e3-10c850712e4c.png)

#### Screenshots

#### Environment:

[2022-10-12 11:22] Krishna2323 opened #3307 "Is this VULCAN or VULCAND."
#### Description
Seems like a spelling mistake to me.
![spelling-issue](https://user-images.githubusercontent.com/85894871/195330080-ffb66d2b-1725-41b3-ad21-c934be12b2f6.png)

#### Expected Behavior

#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px" align="le

[2022-10-12 12:20] #3293 closed

[2022-10-12 12:33] sandeepB3 commented on #3307
It is spelled as Vulcand. The logo in the documentation shows Vulcan.
https://vulcand.github.io/#documentation

[2022-10-12 12:50] Krishna2323 commented on #3307
Thanks, @sandeepB3.

[2022-10-12 12:50] #3307 closed

[2022-10-12 13:21] rghdrizzle commented on #3306
Hey I would like to work on this.

[2022-10-12 15:33] eeshaanSA commented on #3306
Go ahead, @rghdrizzle.

[2022-10-12 17:09] #3231 closed

[2022-10-12 20:12] sandeepB3 commented on #3222
Hey, can I be assigned for this? I have solved it. Would like to make the PR. Thankyou!!

[2022-10-12 20:47] SaiRev0 commented on #3133
![image](https://user-images.githubusercontent.com/96655163/195444567-e1ceb3fd-c788-48b8-8dfc-0d2ed7f95e12.png)

Does it look fine??

[2022-10-12 20:55] SaiRev0 commented on #3151
@legendarykamal Can you please explain the error I can see the are no duplicate filters.

So I might me missing something, so please clarify the issue

[2022-10-12 21:03] leecalcote commented on #3133
@SaiRev0, it's looking good to me... so long as you're allowing the logos full span of the page (even to the extent that they get cutoff (that's fine).

[2022-10-12 21:04] leecalcote commented on #3133
The significant size difference between the circular Citrix and the circular F5 logos.... hmm. All should be allowed the same space, which means that two circular logos should essentially be of the same size. Cut out any extra padding in the F5 SVG, if needed.

[2022-10-12 21:38] SaiRev0 commented on #3133
Ok I will try and adjust the 6 logos to take the full-screen size

And about the logo size I will fix the f5 logo

[2022-10-12 21:39] leecalcote commented on #3133
@SaiRev0 thanks... although, there should need to be a change to the existing logos, I don't believe.

[2022-10-12 21:40] SaiRev0 commented on #3133
So do I have to change some logos (old logos) or leave it as it is?

[2022-10-13 01:59] legendarykamal commented on #3264
any updates @lavakush07 ?

[2022-10-13 04:00] Krishna2323 opened #3311 "Social media logos is placed before Layer5 logo."
#### Description
Social media logos is placed before Layer5 logo.
![Screenshot 2022-10-13 092822](https://user-images.githubusercontent.com/85894871/195496193-6de6f301-118b-445b-8992-cb06f1807280.png)

#### Expected Behavior
![Screenshot 2022-10-13 092909](https://user-images.githubusercontent.com/85894871/195496202-dd27da52-4036-4e28-9653-5a249683819b.png)

#### Screenshots

#### Environment:
- H

[2022-10-13 04:06] najeebkp commented on #3311
Hi @Krishna2323  please assign this to me

[2022-10-13 04:24] Nikhil-Ladha commented on #3311
This is by design, no update needed here :)

[2022-10-13 05:12] Krishna2323 commented on #3311
@Nikhil-Ladha, oops, looks like I am really bad at design😂.

[2022-10-13 05:12] #3311 closed

[2022-10-13 05:24] Krishna2323 opened #3312 "Grammatical mistakes: shutdown or Shutdown."
#### Description
In half of the places, the work shutdown is capitalized and in another half, it is not.
![Screenshot 2022-10-13 104711](https://user-images.githubusercontent.com/85894871/195508657-b761fe34-a5f7-4058-8ee2-6850e09e3202.png)

#### Expected Behavior

#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.gith

[2022-10-13 07:31] #3305 closed

[2022-10-13 15:06] Chadha93 opened #3315 "[Site] Remove the code block, switch to normal"
#### Description
The Traefik Mesh page has a code block that is not desired for [improved security]( https://layer5.io/cloud-native-management/meshery/integrations/traefik-mesh).
![image](https://user-images.githubusercontent.com/65453826/195634134-4ecfa968-b552-42c5-b244-cbcbcd6fe20e.png)

#### Expected Behavior
Remove the code block and keep the regular text/typography.

#### Screenshots

#### E

[2022-10-13 15:08] XDRAGON2002 commented on #3315
I would like to work on this.

[2022-10-13 15:49] UtkarshMishra12 commented on #3315
Hey, @Chadha93 I would like to work on this issue. So we need to remove the block and present the text in the same manner as shown above?

[2022-10-13 16:35] #3222 closed

[2022-10-13 17:26] leecalcote commented on #3315
@UtkarshMishra12, remove the `<code>` block and we should be able to leave the text as-is.

Have you previously worked on this site/with Gatsby?

[2022-10-13 17:43] UtkarshMishra12 commented on #3315
@leecalcote Not yet

[2022-10-13 18:35] AbhishekTiwari23 commented on #3312
My setup is ready. Let me know if I can contribute.

[2022-10-13 18:35] AbhishekTiwari23 commented on #3306
My setup is ready. Let me know if I can contribute.

[2022-10-13 18:37] AbhishekTiwari23 commented on #3221
Can I work over this? If it is not closed yet

[2022-10-13 18:40] Nikhil-Ladha commented on #3221
Sure

[2022-10-13 18:40] Nikhil-Ladha commented on #3221
Unless, @sam1code you are working on it?

[2022-10-13 18:54] sam1code commented on #3221
Sure @Nikhil-Ladha you can assign to anyone I tried but still it is overriding others also.

[2022-10-13 18:55] Nikhil-Ladha commented on #3221
Ack.
Here is your chance @AbhishekTiwari23

[2022-10-13 18:59] AbhishekTiwari23 commented on #3221
@Nikhil-Ladha, sir, I have a little doubt, should I have to remove the lower and upper white space, or do I have to make it something like this
<img width="1440" alt="Screenshot 2022-10-14 at 12 27 20 AM" src="https://user-images.githubusercontent.com/97469132/195684074-99122513-d0b9-4bdf-9509-0b3058a9babb.png">

[2022-10-13 21:42] Nikhil-Ladha commented on #3221
You need to remove lower and above white space.
The issue description is pretty self explanatory.

[2022-10-14 09:04] AbhishekTiwari23 commented on #3221
<img width="1440" alt="Screenshot 2022-10-14 at 2 31 52 PM" src="https://user-images.githubusercontent.com/97469132/195807759-498b9101-2651-4ce7-b6bf-3bc707915bb0.png">

@Nikhil-Ladha, the sir, is it okay now? Should I make a PR

[2022-10-14 11:00] tiger-yash commented on #3151
Hey @AbhishekTiwari23, I am already in queue so maybe you can look for some other issue.
Also if it is fine with @SaiRev0 and @legendarykamal, then I would like to take on the issue and submit a PR resolving it.

[2022-10-14 11:23] leecalcote commented on #3315
Thanks, @AbhishekTiwari23

[2022-10-14 12:26] SaiRev0 commented on #3151
I m actually working on it so if I m not able to then I will forward this issue to you

[2022-10-14 14:48] Nikhil-Ladha commented on #3221
The change shouldn't be limited to this page only.
But, in general to the single blog,event pages

[2022-10-14 14:52] Nikhil-Ladha commented on #3274
Unassigning @Shubhamdutta2000 and considering @sandeepB3 PR #3276  for this issue.

[2022-10-14 14:53] #3274 closed

[2022-10-14 14:56] #3312 closed

[2022-10-14 14:59] Nikhil-Ladha commented on #3095
Waiting for @sourav-sharma7 to reply, else I will assign the issue to you @janvi01

[2022-10-14 15:08] eeshaanSA commented on #3306
This is already a work in progress issue, @AbhishekTiwari23, we'll find you another one. 🙂

[2022-10-14 15:26] sourav-sharma7 commented on #3095
Hi @Nikhil-Ladha . I am suffering from fracture. Please assign this issue to @janvi01.

[2022-10-14 19:06] AbhishekTiwari23 commented on #3221
Actually, this issue is not because of any kind of padding and margin, but this image itself has so much white space, I just replaced the image with a new one. Might be if making changes in the default values then there might be some errors. so please let me know what should I do

[2022-10-14 19:11] AbhishekTiwari23 commented on #3315
Thanks, sir, for appreciating me,  and I am learning all the stuff which helps me to be a part of this outstanding community

[2022-10-14 19:14] AbhishekTiwari23 commented on #3315
I have a doubt. I have to remove that scrolling effect and put the text(which is inside the block ) and put the text as a normal para. Right?

[2022-10-14 19:15] Chadha93 commented on #3315
Yes, remove the code block and keep the normal text.

[2022-10-14 19:15] AbhishekTiwari23 commented on #3315
Ok, thanks

[2022-10-14 19:45] AbhishekTiwari23 commented on #3315
<img width="1440" alt="Screenshot 2022-10-15 at 1 14 48 AM" src="https://user-images.githubusercontent.com/97469132/195929304-aea28c3b-1357-462b-b000-796686c9a1f7.png">

Is it okay? @Chadha93 sir.

[2022-10-14 19:47] AbhishekTiwari23 commented on #3315
<img width="1440" alt="Screenshot 2022-10-15 at 1 17 39 AM" src="https://user-images.githubusercontent.com/97469132/195929692-c7c4569b-9fe4-4879-9c36-fe49f3a554c9.png">

[2022-10-14 19:53] sam1code opened #3320 "Blank value needs to be removed on learn/service-mesh-books/service-mesh-patterns"
#### Description
A blank value for sorting is present in the filtering option of the page learn/service-mesh-books/service-mesh-patterns. Which needs to be removed.

#### Expected Behavior

#### Screenshots
![Screenshot from 2022-10-15 01-18-18](https://user-images.githubusercontent.com/74086891/195930448-0dd53ea7-e34e-4738-9462-3540edb61c09.png)

#### Environment:
- Host OS: any
- Browser: any

-

[2022-10-14 19:54] sam1code commented on #3320
I would like to work if this is accepted!

[2022-10-14 20:05] GaganpreetKaurKalsi opened #3321 "Make check, half check, cross images consistent across all platforms"
**Current Behavior**

The check icons aren't consistent across all platforms. Below are the 3 places I could find there occurrence in.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/54144759/195929241-67607e0d-920f-482a-b235-57c04e862153.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/54144759/195929837-955e0931-c910-42d5-b39e-b77d7

[2022-10-14 20:21] GaganpreetKaurKalsi opened #3322 "Improve dark-mode colors for table"
**Current Behavior**
The current dark-mode color combination looks too dark with white borders visible and white color for the selected tab.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/54144759/195933815-4d758460-491b-4cae-9e6c-a00aeac88047.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/54144759/195934128-6124438d-0f67-4d71-8002

[2022-10-14 20:22] GaganpreetKaurKalsi commented on #3322
Would like to work on it.

[2022-10-14 20:23] leecalcote commented on #3322
...a well-placed suggestion.

[2022-10-14 20:25] leecalcote commented on #3321
"Consistency" is a keyword around these parts. Great UX is built on such words.

[2022-10-15 05:12] Krishna2323 opened #3324 "No padding to the text on page: /docker-extension-meshery"
#### Description
No padding to text on page: /docker-extension-meshery
![Screenshot 2022-10-15 103903](https://user-images.githubusercontent.com/85894871/195969928-85e8000a-1608-44d9-9f5c-c405b147d512.png)

#### Expected Behavior
![Screenshot 2022-10-15 104221](https://user-images.githubusercontent.com/85894871/195969974-e2c875f5-2110-4c75-a6d6-ecc6f8495896.png)

#### Screenshots

#### Environment

[2022-10-15 05:21] Krishna2323 opened #3325 "Alignment of Image looks odd below 767px on page: /service-mesh-books"
#### Description
Alignment of Image looks odd below 767px on page: /service-mesh-books
![Screenshot 2022-10-15 104825](https://user-images.githubusercontent.com/85894871/195970293-234c5564-4e16-4a8f-b778-350ae5770215.png)

#### Expected Behavior
![Screenshot 2022-10-15 104901](https://user-images.githubusercontent.com/85894871/195970298-7fb4f2a1-2a7c-4384-a400-c5649cbdfd57.png)

#### Screenshots

[2022-10-15 05:31] RahulGopathi commented on #3325
I would like to work on this issue. :)

[2022-10-15 05:32] RashiSingh20 commented on #3325
I would like to work on it

[2022-10-15 05:37] Krishna2323 commented on #3325
@RashiSingh20 You can work on Issue #3324 just below this issue.

[2022-10-15 05:52] Krishna2323 opened #3326 "Text is overflowed between 769px and 991px on page: /cloud-native-management/meshmap"
#### Description
Text is overflowed between 769px and 991px on page: /cloud-native-management/meshmap
![Screenshot 2022-10-15 111618](https://user-images.githubusercontent.com/85894871/195971215-477f2988-e700-4ad6-bc68-b29040f2affb.png)

#### Expected Behavior
![Uploading Screenshot 2022-10-15 112222.png…]()

#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.gith

[2022-10-15 05:53] Krishna2323 commented on #3326
**_Expected Behavior_**
![Screenshot 2022-10-15 112222](https://user-images.githubusercontent.com/85894871/195971345-ac9c4bb0-b88a-4bcf-b53d-826648664b53.png)

[2022-10-15 05:58] jsvigneshkanna commented on #3324
Please assign me this issu,will fix it

[2022-10-15 05:59] jsvigneshkanna commented on #3326
Please assign me this issue

[2022-10-15 06:06] Krishna2323 commented on #3324
@jsvigneshkanna, do you want to work on this also?
I assigned you the issue about text overflow.

[2022-10-15 06:07] tinniaru3005 commented on #3324
Hey I want to work on it. Can you assign it to me?

[2022-10-15 06:07] jsvigneshkanna commented on #3324
Yes, i can fix this too

[2022-10-15 06:14] Krishna2323 commented on #3324
@jsvigneshkanna  Do you mind if @tinniaru3005 takes this one?

[2022-10-15 06:17] jsvigneshkanna commented on #3324
@Krishna2323 , sure no problem

[2022-10-15 06:22] tinniaru3005 commented on #3324
Thanks @jsvigneshkanna. As it is a `good-first-issue`, it will help me get started with contributing. :)

[2022-10-15 06:23] RashiSingh20 commented on #3325
How should I run the application? Could you provide any documentation?

[2022-10-15 06:42] Krishna2323 commented on #3325
@RashiSingh20 with every project you got the CONTRIBUTING.md file attached to get started with the project and for further questions join the slack channel: https://slack.layer5.io/
![Screenshot 2022-10-15 121005](https://user-images.githubusercontent.com/85894871/195973186-6ccca001-e4f8-4ca0-a2b4-732f6fdc8ae0.png)

[2022-10-15 07:14] ALPHAWINS02 commented on #3325
Can  you assign this to me , I can make this work in little time .

[2022-10-15 10:16] deepeshaburse commented on #3206
@measutosh Any updates? I think Lee answered your question quite some time back. We need this event up asap.

[2022-10-15 10:19] deepeshaburse opened #3327 "[Blog]: Meshery Operator"
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member:

**Desired Title:** What is Meshery Operator?

**Topic:** Meshery Operator

**Core points to convey in the post:**
1. General description of Kubernetes Operators
2. Description of each of Meshery Operator's custom c

[2022-10-15 10:21] deepeshaburse opened #3328 "[Blog]: Meshery Adapters"
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member:

**Desired Title:** Meshery Adapters for every service mesh

**Topic:** Meshery Adapters

**Core points to convey in the post:**
1. Acknowledgement the world is comprised of many service meshes (point to our service

[2022-10-15 10:24] deepeshaburse opened #3329 "[Blog]: Managing multiple Meshery deployments using mesheryctl"
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member:

**Desired Title:** Managing multiple Meshery deployments using mesheryctl

**Topic:** Managing multiple Meshery deployments using mesheryctl

**Core points to convey in the post:**
1. Explanation of `meshconfig`
2.

[2022-10-15 10:35] leecalcote commented on #3325
@RahulGopathi , let’s remove your assignment until such time as you’ve build and can run the website (until you’re ready to contribute).

[2022-10-15 10:36] leecalcote commented on #3325
@ALPHAWINS02, thanks For volunteering. Have you been successful in building running the project? Can you take a screenshot, if so?

[2022-10-15 11:44] sam1code commented on #3325
If no one is working on it then you can assign to me! Thankyou

[2022-10-15 13:17] janvi01 commented on #3095
Thanks for assigning @Nikhil-Ladha.
I am getting an error while running Layer5 locally, Please can you help me out?
Here is the screenshot while doing `make site` -

<img width="1484" alt="Screenshot 2022-10-15 at 6 42 21 PM" src="https://user-images.githubusercontent.com/34344234/195988431-125b25b8-2073-43e5-b9d6-6ef2b148ae3c.png">

[2022-10-15 14:12] legendarykamal commented on #3329
hi, @deepeshaburse  having a sound knowledge and analyzing for some time, I am interested to work on this one.

[2022-10-15 17:19] GaganpreetKaurKalsi commented on #3321
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/54144759/195999408-3c8eff6e-da98-462a-9854-2cec20ace07c.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/54144759/195999424-3312ceec-d5c7-4d61-ba87-0690607e1d4a.png">

Hey @leecalcote ! I saw at these places there are 2 green ticks and 1 red cross. Should there be a yellow half tick in-pl

[2022-10-15 17:36] AbhishekTiwari23 commented on #3325
My setup is also ready. Please, let me know if I can contribute.

[2022-10-15 17:37] AbhishekTiwari23 commented on #3326
My setup is also ready. Please let me know if I can contribute.

[2022-10-15 17:42] AbhishekTiwari23 commented on #3315
Should I make a pr now?

[2022-10-15 17:59] AbhishekTiwari23 commented on #3221
Should I make a pr for this?

[2022-10-15 18:00] #3289 closed

[2022-10-15 18:15] tinniaru3005 commented on #3324
Hey @Krishna2323, I have made a PR solving the issue can you please look into it. I signef off by including `/signoff` at the end of commit message on VSCode. I don't know why it is showing an error. Could you please help me fix that?

[2022-10-15 19:00] leecalcote commented on #3321
@GaganpreetKaurKalsi yes, that sounds great. There's one other possibility: "N/A". You'll see this "N/A" in the Compatibility Matrix in Meshery Docs. There is an SVG for the "N/A" and an SVG containing the red X, and green checkmark in the Layer5 Community drive.

[2022-10-15 20:09] GaganpreetKaurKalsi commented on #3321
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/54144759/196005556-b4db12a8-78cf-4491-91ab-ea9433ad7017.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/54144759/196005570-34f39970-e43e-4a3b-8230-d5867427beef.png">

Does the question mark icon and the N/A icon, mean the same? Should one be replaced by other to have consistency at both

[2022-10-15 20:51] GaganpreetKaurKalsi commented on #3321
@leecalcote Also let me know what do you prefer ?
- A half yellow check
- or a full yellow check

After adding yellow checks the new images would look like this
<img width="895" alt="image" src="https://user-images.githubusercontent.com/54144759/196007043-58be8824-d889-4f90-b1c5-f9a4000a1d40.png">

[2022-10-15 21:59] GaganpreetKaurKalsi commented on #3322
@leecalcote  Does this color combination look any better ?

Old -
<img width="1438" alt="image" src="https://user-images.githubusercontent.com/54144759/196009094-04e8f623-3bc9-4e2d-bd81-0abd3a4e2be0.png">

Proposed -
<img width="1438" alt="image" src="https://user-images.githubusercontent.com/54144759/196009077-b749212b-0eb4-4fe8-b0d0-e8c39ff8bfef.png">

[2022-10-16 03:27] leecalcote commented on #3322
Yes, it does, indeed.

In addition, something else to consider here is that the keppel (or Caribbean) green used for the blank portion of the table is perhaps calling more attention to that portion than is desired.

[2022-10-16 03:28] leecalcote commented on #3320
Thank you, @sam1code. Good eye. Yes, this a valid bug.

[2022-10-16 03:30] leecalcote commented on #3321
@asubedy, you might have comments here.

[2022-10-16 03:33] leecalcote commented on #3321
Good point, @GaganpreetKaurKalsi. With the new color of yellow introduced to the set, the half checkmark version is send completely necessary as the yellow color conveys the concept of incompleteness as-is without having to be cut in half. My vote is for the full, yellow circle.

[2022-10-16 04:04] sam1code commented on #3320
Thankyou @leecalcote

[2022-10-16 05:11] legendarykamal commented on #3326
@AbhishekTiwari23 go ahead 🎸

[2022-10-16 05:35] AbhishekTiwari23 commented on #3326
@legendarykamal, sir, thanks for assigning me. Can you please check issue numbers #3221 and #3315? I have completed them and waiting for their response.

[2022-10-16 05:47] legendarykamal commented on #3315
yes looks good @AbhishekTiwari23 make a PR 👍

[2022-10-16 05:49] legendarykamal commented on #3221
clarifying more on his words, @AbhishekTiwari23 have you checked other blog / event pages ?

[2022-10-16 05:51] AbhishekTiwari23 commented on #3315
Ok, thanks, sir.

[2022-10-16 05:52] AbhishekTiwari23 commented on #3221
Oh, now I understand the real issue, please give me a little time, I will respond as early as possible.

[2022-10-16 09:16] eeshaanSA commented on #3095
@janvi01 try clearing that cache from those files. It should work.

[2022-10-16 11:23] UtkarshMishra12 opened #3333 "No space between the button from 768px to 991px on page: /cloud-native-management/meshery"
#### Description

No space between the button from 768px to 991px on page: /cloud-native-management/meshery
![Issue](https://user-images.githubusercontent.com/67385503/196032455-28c0b2b3-1e77-4214-8c1b-9f2f62714973.jpg)

#### Expected Behavior

![After](https://user-images.githubusercontent.com/67385503/196032471-620974dd-4dd5-4791-a3df-d5afce463f41.jpg)

#### Screenshots

#### Environment:
- Host

[2022-10-16 11:23] UtkarshMishra12 commented on #3333
I would like to work on this issue. Can you assign it to me?

[2022-10-16 13:43] AbhishekTiwari23 commented on #3333
My setup is also ready. Let me know if I can contribute.

[2022-10-16 13:46] UtkarshMishra12 commented on #3333
This time I wanna try @AbhishekTiwari23, I'm setting up the environment.😊

[2022-10-16 14:05] AbhishekTiwari23 commented on #3333
Ok, you can tag Leecalcote, sir, and also attach a screenshot of localhost.
Thanks

[2022-10-16 14:13] AbhishekTiwari23 opened #3336 "Adding page link in issue template"
#### Current Behavior

We can add a "link" option in issue template for ui/ux related issues, it will help the developer to  reach the issue page in just a click and it will save time.

#### Desired Behavior

#### Screenshots / Mockups

#### Implementation

#### Acceptance Tests

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg"

[2022-10-16 14:15] AbhishekTiwari23 commented on #3336
It will be great if u can add such a tag in the issue template. It will save a lot of time and help to respond as early as possible, I faced this issue many times.

[2022-10-16 16:56] Krishna2323 opened #3337 "Different font style in the 4th column on page: /projects/service-mesh-interface-conformance"
#### Description
Different font style in the 4th column on page: /projects/service-mesh-interface-conformance.
![Screenshot 2022-10-16 222247](https://user-images.githubusercontent.com/85894871/196048033-8e560d61-b81f-4d7b-bc55-687143bee938.png)

#### Expected Behavior
The font style should be similar to the other column's font style.
#### Screenshots

#### Environment:
- Host OS:
- Browser:

---

[2022-10-16 17:00] Krishna2323 opened #3338 "Image is not aligned with the text on page: /projects/nighthawk"
#### Description
Image is not aligned with the text on page: /projects/nighthawk
![Screenshot 2022-10-16 222936](https://user-images.githubusercontent.com/85894871/196048267-4117207b-0e23-40dd-a11d-e73ce15741e7.png)

#### Expected Behavior
![Screenshot 2022-10-16 222826](https://user-images.githubusercontent.com/85894871/196048273-4857d954-19ce-4a67-9b48-089d5aeb2d98.png)

#### Screenshots

#### E

[2022-10-16 17:05] Nimesh-21 commented on #3338
Can you please assign this to me? I am new to open source.

[2022-10-16 17:13] Krishna2323 opened #3339 "Align Legend component in the center for consistency on page: https://layer5.io/service-mesh-landscape"
#### Current Behavior
Align Legend component in the center for consistency across the page.
on url: https://layer5.io/service-mesh-landscape
![Screenshot 2022-10-16 224015](https://user-images.githubusercontent.com/85894871/196048742-2fb14b5d-8caf-408c-ae5d-59fe233ad38b.png)

#### Desired Behavior
![Screenshot 2022-10-16 224237](https://user-images.githubusercontent.com/85894871/196048769-f60bbe7f

[2022-10-16 17:14] mritul commented on #3338
@Krishna2323  Can i take up this issue and fix it ?

[2022-10-16 17:15] mritul commented on #3339
@Krishna2323 This seems to be in my scope. I would love to work on this

[2022-10-16 18:46] NnajiChimuanya commented on #3339
Assign me if this is free @Krishna2323

[2022-10-16 18:47] NnajiChimuanya commented on #3338
Assign me this @Krishna2323

[2022-10-16 19:26] AbhishekTiwari23 commented on #3337
Ready to contribute.

[2022-10-16 19:27] AbhishekTiwari23 commented on #3338
My setup is also ready.

[2022-10-16 19:28] AbhishekTiwari23 commented on #3339
My setup is also ready.

[2022-10-17 02:56] leecalcote opened #3340 "[Meshery] Integrations: Do not show empty categories"
**Current Behavior**
A list of Meshery integrations is displayed in a honeycomb-like grid of cells. These integrations are categorized. [Categories](Some categories have zero integrations. ) are displays and available for users to use as filters. Some categories have zero integrations.

<img width="1076" alt="Screen Shot 2022-10-16 at 9 56 22 PM" src="https://user-images.githubusercontent.com/7570

[2022-10-17 02:58] leecalcote commented on #3339
@mritul sounds real good. Will you confirm that you're able to build and run the layer5.io site on you development machine?

[2022-10-17 03:17] Nikhil-Ladha commented on #3339
I don't think we want to center align the legend at all. It was right aligned on purpose (as per the design) and looks completely fine.

[2022-10-17 04:50] mritul commented on #3339
@leecalcote @Nikhil-Ladha  So should I be working on this ? If not can I be assigned with some other ui related issue that is open?

[2022-10-17 05:23] janvi01 commented on #3095
Thanks @eeshaanSA , it works :)

[2022-10-17 05:37] AbhishekTiwari23 commented on #3340
Can I go for it? I am not sure whether I will succeed or not, but I want to give it a try. This task is enjoyable.

[2022-10-17 05:41] Nikhil-Ladha commented on #3339
Nope, this issue should be closed.
@mritul  You can look out for other UI issues to work on, I am pretty sure you will find something or the other.

[2022-10-17 06:02] mritul commented on #3339
@Nikhil-Ladha  Thanks for clearing !

[2022-10-17 06:19] Krishna2323 commented on #3339
No changes are needed as suggested by @Nikhil-Ladha.

[2022-10-17 06:19] #3339 closed

[2022-10-17 06:31] #3322 closed

[2022-10-17 10:12] legendarykamal commented on #3340
@leecalcote I can push on this task and finish successfully , If assigned ✔️ .

[2022-10-17 10:16] legendarykamal commented on #3338
@Nimesh-21 @NnajiChimuanya please understand that in order to be assigned,
you must have atleast your setup ready (a primary requirement) other requirements could be a basic idea of how gatsby works.

I wonder if you have your setup done. ? 🤔

[2022-10-17 10:40] Nimesh-21 commented on #3338
No sir, I didn't knew about it. Sorry!

[2022-10-17 13:16] Krishna2323 opened #3345 "Add search bar on page : /cloud-native-management/meshery/integrations"
#### Current Behavior
Add search bar on page : /cloud-native-management/meshery/integrations
No search option is on the integrations page.

#### Desired Behavior
Need a search bar for better user experience.

#### Screenshots / Mockups

#### Implementation

#### Acceptance Tests

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg"

[2022-10-17 13:18] sahilsuman933 opened #3346 "Create a white Calico Logo for Dark Theme"
**Current Behavior**

You need to create a white logo for Calico for the dark theme, which will be used across the website.

You can find the colored logo in location `layer5/src/collections/integrations/calico/icon/color`

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/

[2022-10-17 13:19] sahilsuman933 commented on #3346
@NPDebs, Do you want to take this issue?

[2022-10-17 13:20] Krishna2323 opened #3347 "Show a brief description of integration on hover."
#### Current Behavior
No description on hover about the integration.

#### Desired Behavior
Show a brief description of integration on hover on page: /cloud-native-management/meshery/integrations.

#### Screenshots / Mockups

#### Implementation

#### Acceptance Tests

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px

[2022-10-17 13:21] sahilsuman933 opened #3348 "Create a white GKE Logo for Dark Theme"
**Current Behavior**
You need to create a white logo for GKE for the dark theme, which will be used across the website.

You can find the colored logo in location layer5/src/sections/Meshery/Meshery-platforms/supported-icons.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/laye

[2022-10-17 13:21] sahilsuman933 commented on #3348
@NPDebs, do you want to work on this issue?

[2022-10-17 13:22] NPDebs commented on #3348
Sure. I'd love to. 🙂

[2022-10-17 13:22] sahilsuman933 opened #3349 "Create a white Linux Logo for Dark Theme"
**Current Behavior**
You need to create a white logo for Linux for the dark theme, which will be used across the website.

You can find the colored logo in location `layer5/src/sections/Meshery/Meshery-platforms/supported-icons/`

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/

[2022-10-17 13:22] amit-ksh commented on #3347
I'd like to work on this issues.

[2022-10-17 13:23] NPDebs commented on #3346
Sure. Sign me up! 🤸🏽‍♀️

[2022-10-17 13:24] Krishna2323 opened #3350 "[Meshery] Integrations: Display total count of integrations based on the currently applied filter."
#### Current Behavior
No display of the number of results on selecting a category.

#### Desired Behavior
Display count of integrations based on the currently applied filter on page:/cloud-native-management/meshery/integrations. For example, when the OPERATING SYSTEM filter is applied, a count of 4 should be shown to the site visitor.

#### Mockup
![196338680-fb85e845-d0d2-4ad4-904f-36e090f0b084](

[2022-10-17 13:31] richardnikolas commented on #3349
@sahilsuman933 Hey, can you assign this to me, please?

[2022-10-17 13:36] Krishna2323 opened #3351 "Ensure that categories with zero entries are not displayed in the list of filters."
#### Description
Ensure that categories with zero entries are not displayed in the list of filters.
#### Expected Behavior

#### Screenshots
Like these ones:
![Screenshot 2022-10-17 190444](https://user-images.githubusercontent.com/85894871/196191162-9f761490-9b42-426c-b417-6e4e62937c99.png)

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/m

[2022-10-17 13:36] sahilsuman933 commented on #3349
Sure, go ahead @richardnikolas!

[2022-10-17 13:40] leecalcote commented on #3349
@richardnikolas thank you for volunteering. 🙂

[2022-10-17 13:51] Krishna2323 commented on #3351
@leecalcote got it.

[2022-10-17 14:02] legendarykamal commented on #3351
yes @AbhishekTiwari23 correct , since this is a duplicate issue , Its better to close this 😅

[2022-10-17 14:11] leecalcote commented on #3337
@Krishna2323 I don't know that we consider this an issue. This is the Open Sans font, right? Open Sans and Qanelas Soft are the two fonts outlined in the Layer5 Brand Guide (see the community drive to access that deck). This list of SMI test criteria is its own section of the page and can read a little different than the rest.

[2022-10-17 14:16] richardnikolas commented on #3349
@sahilsuman933 @leecalcote I'm not being able to open/access this "Figma project" link. Could any of you guys help me with that?

[2022-10-17 14:19] Krishna2323 commented on #3351
The issue already exists.

[2022-10-17 14:19] #3351 closed

[2022-10-17 14:20] sahilsuman933 commented on #3349
@richardnikolas For this issue, I don't think you need access to the "Layer5 Figma project". As I mentioned in the description, you can get the colored Linux SVG at this `layer5/src/sections/Meshery/Meshery-platforms/supported-icons/` location.

[2022-10-17 14:24] richardnikolas commented on #3349
@sahilsuman933 okay, thank you!

[2022-10-17 14:26] Krishna2323 opened #3352 "[Meshery] Integrations: Hide “See Documentation” hyperlink when no link is available"
#### Current Behavior
See Documentation” hyperlink is being displayed.
![Screenshot 2022-10-17 195514](https://user-images.githubusercontent.com/85894871/196203182-6299f811-d557-46f8-baf9-db9044f318d9.png)

#### Desired Behavior
A specific docs page may not always be available. In case, the “See Documentation” hyperlink should not be displayed.

---
<img src="https://raw.githubusercontent.com/laye

[2022-10-17 14:33] Krishna2323 opened #3353 "[Meshery] Integrations: Dysfunctional category filters"
#### Description
Some of the categories are not selected on click on page: /cloud-native-management/meshery/integrations

https://user-images.githubusercontent.com/85894871/196204825-caaf8376-d0e9-453a-9db9-d86cf941a3e2.mp4

#### Expected Behavior
Must be selected if there are some results on selecting them.

#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.gith

[2022-10-17 14:34] legendarykamal commented on #3347
hello @amit-ksh if you were not present in todays meeting, then I have somethings to be applied and seen here .
Incase you have an idea feel free to connect at `slack`

[2022-10-17 14:50] Onyx2406 opened #3355 "Creating a Security Vulnerability page having a set of instructions to report Security Issues on layer5.io"
#### Current Behavior
Currently layer5.io doesn't have any Security Vulnerabilities page just like on https://docs.meshery.io/project/security-vulnerabilities.

#### Desired Behavior
Having a Security Vulnerabilities page consisting of a set of instructions to report a security issue in layer5.io.

#### Implementation
Implementation of a page, consisting of similiar set of instructions as on docs.

[2022-10-17 14:51] Onyx2406 commented on #3355
If this is accepted, I would like to work on it. pls assign me.

[2022-10-17 15:53] AbhishekTiwari23 commented on #3353
Issue #3340, please have a look.

[2022-10-17 15:54] AbhishekTiwari23 commented on #3353
These are currently empty and should be invisible until some content is added.

[2022-10-17 15:58] Krishna2323 commented on #3353
@AbhishekTiwari23 the issue here is that the user can't select them like other categories even if they are empty.
Are you able select them?