[2022-10-17 16:16] Onyx2406 opened #3357 "l5vuln-oct17-1"
#### Description
This is opened to track the Security Issue affecting a subdomain of layer5.io. Once, the issue is fixed, it can be closed.
If given permission, I would be happy to disclose the report here after the fix is implemented.

mailsentTo: security@meshery.dev
mailsentFrom: yashsancheti24@gmail.com

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/imag

[2022-10-17 17:17] deepeshaburse commented on #3329
Hi, so sorry for the late reply. You can start working on the issue.

[2022-10-17 17:33] AbhishekTiwari23 commented on #3336
Yes, it will help and save time.

[2022-10-17 18:04] Ritikkumar992 commented on #3315
Hey, @Chadha93 I would like to work on this issue. So we need to remove the block and present the text in the same manner as shown above?

[2022-10-17 18:07] Chadha93 commented on #3315
Thanks for jumping in @Ritikkumar992. I see this issue is already completed by @AbhishekTiwari23 's recent PR. Feel free to take a look at other issues.

[2022-10-17 18:07] #3315 closed

[2022-10-17 18:18] leecalcote opened #3359 "[Meshery] Integrations: Background shadow being cutoff"
#### Description
The shadow behind the individual cells inside of the Integrations honeycomb is being cutoff. See the screenshot below:

<img width="1063" alt="Screen Shot 2022-10-17 at 1 14 43 PM" src="https://user-images.githubusercontent.com/7570704/196252465-12c357a4-eb0b-472d-bfad-c410b0af7fe6.png">

Example page - https://layer5.io/cloud-native-management/meshery/integrations/cubefs
Source c

[2022-10-17 18:22] sayan404 commented on #3359
I want to work in this issue please assign me this issue @leecalcote

[2022-10-17 18:29] leecalcote commented on #3359
Thanks, @sayan404. 👍

[2022-10-17 19:35] leecalcote commented on #3350
@Krishna2323 you'll need to write this up with a little more detail so that contributors who don't have context from this week's Websites meeting discussion can pick it up.

[2022-10-17 19:36] leecalcote commented on #3352
Thanks for this, @Krishna2323. Good to of you to double-check, @AbhishekTiwari23. Approved. Yes, this issue is valid and a fix needed. ✔️

[2022-10-17 19:54] Onyx2406 commented on #3357
@leecalcote I can't say anything about it as most of the reports submitted on Discourse hacktivity are not disclosed publicly and I don't see this particular concern being pubicly disclosed there but I can always open a report there about this issue and they can let me know if this has already been reported to them by someone or not.

Discourse Program Hacktivity: https://hackerone.com/discourse/h

[2022-10-17 19:56] leecalcote commented on #3357
Oh, very good. Yes, this sounds like the appropriate next step.

[2022-10-17 20:04] richardnikolas commented on #3349
@sahilsuman933 @leecalcote I just opened the PR :)
https://github.com/layer5io/layer5/pull/3360

[2022-10-17 20:14] #3095 closed

[2022-10-17 20:14] UtkarshMishra12 opened #3361 "A gap on the page from 913px to 971px on page: layer5.io/docker-extension-meshery"
#### Description

A gap on the page from 913px to 971px on page: layer5.io/docker-extension-meshery
![Screenshot 2022-10-18 013010](https://user-images.githubusercontent.com/67385503/196272922-c3564d2b-1fb4-4e4c-928d-2c562b664c2f.jpg)

#### Expected Behavior

#### Screenshots

#### Environment:
- Host OS:  Windows
- Browser: Chrome

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/m

[2022-10-17 20:14] UtkarshMishra12 commented on #3361
I would like to work on this issue. My local setup is ready now.

[2022-10-17 20:30] #3349 closed

[2022-10-17 21:03] sahilsuman933 commented on #3355
Sure @Onyx2406, Go Ahead! 🚀

[2022-10-17 21:08] sahilsuman933 opened #3364 "Create a white Knative Logo for Dark Theme"
**Current Behavior**

You need to create a white logo for Knative for the dark theme, which will be used across the website.

You can find the colored logo in location `layer5/src/collections/integrations/knative/icon/color/knative-icon-color.svg`.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://g

[2022-10-17 21:10] sahilsuman933 commented on #3124
@NPDebs, would you like to work on this issue?

[2022-10-17 22:34] leecalcote opened #3366 "Poor Site Performance"
**Current Behavior**
Current score from web.dev:

<img width="1122" alt="Screen Shot 2022-10-17 at 5 30 43 PM" src="https://user-images.githubusercontent.com/7570704/196296184-e569b407-9df7-4dd8-8b69-08ded5ad3064.png">

**Desired Situation**
Ideally, layer5.io will have a 90 or higher performance.

#### Implementation
1. Iteratively implement each suggestion from web.dev. See https://web.dev/measu

[2022-10-17 22:40] leecalcote opened #3367 "[Site Performance] Incorporate SVGO"
**Current Behavior**
The layer5.io website has poor performance (see #3366). Portions of its performance can be enhanced by reducing the file size of images, concluding SVG images.

**Desired Situation**
Incorporate https://github.com/svg/svgo into the site's build process or commit hooks or make targets to ensure that SVG images are downsized as much as possible while not losing their original qu

[2022-10-18 05:15] janvi01 opened #3368 "Change active Navbar link styling"
#### Current Behavior

When layer5 is navigated to different pages/routes, the navbar link is not highlighted. (Currently, it is highlighted only when hovered)

#### Desired Behavior

Highlight or change the styling of the active link on the navbar to enhance user experience.

#### Screenshots / Mockups

Example: when navigating to [project's page](https://layer5.io/projects)

Current -

<img widt

[2022-10-18 05:16] janvi01 commented on #3368
Hey, I would like to work on this issue.

[2022-10-18 05:39] Nikhil-Ladha commented on #3368
Sure, @janvi01 assigned the issue to you

[2022-10-18 09:19] Nikhil-Ladha commented on #3361
Here you go @UtkarshMishra12

[2022-10-18 09:23] Nikhil-Ladha commented on #3325
@sam1code do you have your setup ready? And, still interested in taking up this issue?

[2022-10-18 09:25] Nikhil-Ladha commented on #3326
I don't think the issue is valid as of now. This has already been fixed in #3314

[2022-10-18 09:31] Nikhil-Ladha commented on #3292
This is by design.
Though an improvement can be done here and that is removing the left, and right margins for that particular section.
That would be around `-5%`.

@arpitghura interested to work on this issue? Do you have your setup complete and have the site running locally?

[2022-10-18 09:34] Nikhil-Ladha commented on #3286
Still interested in working on this issue?

[2022-10-18 09:38] tiger-yash commented on #3151
@SaiRev0 you still working on it?

[2022-10-18 09:40] SaiRev0 commented on #3151
Actually I'm working on a different issue currently so i guess  you can assign it to someone else

[2022-10-18 09:43] Krishna2323 commented on #3326
@Nikhil-Ladha, the issue is still there......I don't think adding a height of 40rem can fix this, this is something about absolute positioning.

[2022-10-18 09:51] Nikhil-Ladha commented on #3326
Ok, I just noticed that it is still overflowing ~1000px 😕 .
Adding a media query should fix that, though I am not sure what you mean here by "absolute positioning" 🤔

[2022-10-18 09:56] AbhishekTiwari23 commented on #3326
There are two such issues, and a media query can solve both. I was a bit busy, but I will try to make PR for both by the end of the day.

[2022-10-18 09:57] Krishna2323 commented on #3326
@Nikhil-Ladha, just have to reduce the top property of the heading and for the div containing the image and text as they are positioned absolute.

[2022-10-18 09:59] AbhishekTiwari23 commented on #3326
@Nikhil-Ladha @Krishna2323, can any of you guide me on how to make a setup for the service mesh pattern? I tried but was not able to do that. An issue of that is assigned to me. I asked for help but didn't get any response.

[2022-10-18 10:01] AbhishekTiwari23 commented on #3326
Oh, I got that. Thanks.

[2022-10-18 10:33] Onyx2406 commented on #3367
Hi, I would like to work on this. Pls assign me.

[2022-10-18 10:49] sam1code commented on #3325
Yes @Nikhil-Ladha I'm ready with my setup and interested in taking up this issue!

[2022-10-18 12:12] Nikhil-Ladha commented on #3325
Cool, here you go @sam1code

[2022-10-18 12:25] sayan404 commented on #3359
Unfortunately I cannot do this work now ... please assign this issue to someone else @leecalcote

[2022-10-18 12:30] richardnikolas commented on #3124
I would love to help 💃

[2022-10-18 12:33] sahilsuman933 commented on #3124
You need to improve the design of the upcoming integration design.

// @NPDebs @richardnikolas

[2022-10-18 12:41] sam1code commented on #3325
Thankyou @Nikhil-Ladha

[2022-10-18 12:53] leecalcote commented on #3352
@AbhishekTiwari23 can you have this completed today? If not, please let me know so that someone else can fix this.

[2022-10-18 12:59] leecalcote commented on #3340
@legendarykamal, yes, please this is high priority.

[2022-10-18 13:53] #3353 closed

[2022-10-18 14:45] AbhishekTiwari23 commented on #3352
Ok, I will give my best.

[2022-10-18 15:08] #3200 closed

[2022-10-18 15:36] sahilsuman933 commented on #3352
Sorry @AbhishekTiwari23 to steal your issue. But I already had a fix, so I just made a PR for it.

[2022-10-18 15:51] #3352 closed

[2022-10-18 15:59] leecalcote commented on #3340
@legendarykamal, please be sure to account for `published: false` as well. [Rook is set to false](https://github.com/layer5io/layer5/blob/master/src/collections/integrations/rook/index.mdx?plain=1#L18), but still showing as a cell.

[2022-10-18 16:55] AbhishekTiwari23 commented on #3352
No, issue thanks.

[2022-10-18 18:53] AbhishekTiwari23 commented on #3336
Sir, I have a doubt, should I make changes in bug_report.md file only, or should I make changes in the feature_request.MD file also.

[2022-10-18 19:14] Roseline-Bassey commented on #3263
Hello @legendarykamal,

Could you please help clarify my doubts on this issue?

Based on my research, I do understand that Helm is a Kubernetes package manager that can create new charts, and packages, interact with charts, install and uninstall charts, and manage the release cycle of charts.

While Meshery is a service mesh orchestrator.

Regarding the overview section: should the overview be abo

[2022-10-18 19:14] legendarykamal commented on #3340
Yes, just opened my pc and was looking over that pr itself, don't worry I am always in sync 🙂

[2022-10-18 21:05] #3321 closed

[2022-10-19 10:43] eeshaanSA opened #3379 "[UX] Design: Need a new community badge for UI/UX contributors"
**Current Behavior**

We need a new batch to recognize and appreciate the work of UI/UX'ers in our community.
![image](https://user-images.githubusercontent.com/100678386/196669886-678755f0-54e3-4bb4-bf0b-8b84e8fd77da.png)

**Desired Situation**

---
[Optional] **Alternatives**

[Optional] **Additional context**

Badges are provided to consistent contributors and people who are active in the commu

[2022-10-19 14:25] #3340 closed

[2022-10-19 14:58] #3364 closed

[2022-10-19 17:31] leecalcote commented on #3379
@eeshaanSA will you expound on the issue description? What is a "badge"? Link to them?

[2022-10-19 20:12] sam1code commented on #3379
Hey @leecalcote  I would like to work on this. I earlier added Community manager so I can quickly add this also.

[2022-10-19 20:16] leecalcote commented on #3379
I'm confused as to what this issue is asking for given that there isn't a UX badge available, yet.

[2022-10-19 20:20] sam1code commented on #3379
Ohh I thought that another role for ux can be there in the member filter section like community, landscape, imagehub etc.

[2022-10-19 20:34] eeshaanSA commented on #3379
@sam1code, badges are something that are provided to consistent contributors and people who are active in the community, who hold a good amount of knowledge about the project and the repository, and who are associated to that project for a long time.  You can find different badges for different repositories Layer5 has to offer, in the members section on the layer5 site. https://layer5.io/community

[2022-10-19 20:41] eeshaanSA commented on #3379
Recently in the Community, there has been a lot of effort from different UI/UX'ers, who made awesome designs and impactful contributions, and so we need a **NEW** badge for them, so their work can be recognised in the community.
This badge, will have to be designed from scratch. You will have to come with the design you feel suits the requirement, and if we feel the same way, we'll have your desig

[2022-10-19 20:43] eeshaanSA commented on #3379
@leecalcote, please correct me if I am wrong. 😄

[2022-10-19 20:49] GaganpreetKaurKalsi commented on #3350
Would like to take this up.
Further I guess we won't be able to specify the type of filter/integration with count like in the screenshot _"4 Operating System Intergrations"_ as right now we can select multiple integrations at the same time.

Showing the count should suffice.

[2022-10-19 21:04] sam1code commented on #3379
Thankyou @eeshaanSA.. Also can you suggest me an icon for it ?

[2022-10-19 21:50] leecalcote commented on #3350
@sahilsuman933 expressed some interest here, although, I believe he is focused on more urgent enhancements to the Integrations section currently.

@Krishna2323, yes, that's right - a count of the number of integrations in each category. If a visitor selects multiple categories, show them the combined integration count of the selected categories. When "All" is selected (the default), display the to

[2022-10-19 21:51] leecalcote commented on #3350
A brief design on the Meshery page in the "Layer5" Figma design file might be in order.

[2022-10-19 22:32] GaganpreetKaurKalsi commented on #3347
Hey! Below I have attached 2 implementations, with and without image ON HOVER.
Let me know if it looks good, @leecalcote

The API currently doesn't supply any description for integrations to display. If we want to have descriptions, then they will be statically present in the code. The one without image ON HOVER would be good to accommodate the description.
<br>

https://user-images.githubusercont

[2022-10-19 22:39] GaganpreetKaurKalsi commented on #3350
@leecalcote If this is up for grab then kindly assign it to me. Would like to work on it.
Also I don't have view access to figma files. Would be great if I could get it.

[2022-10-19 22:42] leecalcote commented on #3347
I'm a huge fan of video recordings like this and of contributors taking initiative to propose a solution without necessarily having a design predefined. There have been a number of example integrations pages to take inspiration from like https://www.datadoghq.com/integrations/.

[2022-10-19 22:49] #3320 closed

[2022-10-19 22:52] leecalcote commented on #3379
@eeshaanSA great description. Spot on. @sam1code once the icon (button) is designed. It'll need to be added to a few pages, like the community members page, the community handbook, the contributor guide/readme,...  I tagged you both in Slack just now so that you can track and partake in the progress of the icon design. // @DivineOrji

[2022-10-19 22:54] GaganpreetKaurKalsi opened #3388 "Platforms integration filter missing"
#### Description
Unable to see the "Platforms" integration filter

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/54144759/196818840-51d5163b-e726-4b7c-ae26-b4946bbc628b.png">

<br>

#### Expected Behavior
Platforms integration should be present among other integrations

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/54144759/196819054-39

[2022-10-19 22:55] GaganpreetKaurKalsi commented on #3388
If this seems to be a valid issue then would like to work upon this.

[2022-10-20 01:32] sam1code commented on #3379
Thankyou @leecalcote 🤩

[2022-10-20 02:04] #3034 closed

[2022-10-20 02:39] legendarykamal commented on #3347
@GaganpreetKaurKalsi Nice ,

In place of descriptions, a `Learn More` button would be great that redirects to the individual Integrations page for the respective integrations.
As we already have them for each integrations.

[2022-10-20 05:33] #3361 closed

[2022-10-20 05:36] janvi01 commented on #3368
@Nikhil-Ladha Also, if you can add hacktoberfest label here? Thanks!

[2022-10-20 08:19] sahilsuman933 commented on #3388
Thank you, @GaganpreetKaurKalsi, for spotting this issue. Indeed "Platform" category should have been there, but I don't think there is any error in the logic part. But it has to be something else cause in the local build, it is showing the `Platform` category, but it is not in the website deployment.

[2022-10-20 09:13] sahilsuman933 commented on #3388
Yup, you are right about this, @GaganpreetKaurKalsi. Due to the cache of the previous website build, I could see the `platform` filter. So, you can go ahead and work on this issue.

[2022-10-20 10:39] aditi5050 commented on #3338
@legendarykamal  can I work on this issue

[2022-10-20 10:52] legendarykamal commented on #3338
sure @aditi5050, considering that you have your project setup, yes please  .

[2022-10-20 11:10] eeshaanSA opened #3391 "[Integrations Page] Need a better Darkmode logo for Containerssh"
#### Description

![image](https://user-images.githubusercontent.com/100678386/196933166-e049c9a1-af63-4ff7-8ae1-96af9caa6b5d.png)
![image](https://user-images.githubusercontent.com/100678386/196933242-1f4accc5-d77b-4538-bc2f-4fcd744bddf3.png)

#### Expected Behavior

#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.

[2022-10-20 11:28] Bhav00 commented on #3391
Hello, does the Dark logo for Containerssh need to be saved in the same folder as its color variant? i.e. this folder

If not, can I be please informed as to where you'd like the DarkMode logo for Containerssh to be?

[2022-10-20 13:38] Krishna2323 opened #3393 "Service mesh timeline is not centered below 767px on page: /service-mesh-landscape"
#### Description
Service mesh timeline is not centered on page: /service-mesh-landscape
![Screenshot 2022-10-20 190615](https://user-images.githubusercontent.com/85894871/196963947-070394b8-9ef3-4dfa-8f75-31d2725a2261.png)

#### Expected Behavior
![Screenshot 2022-10-20 190653](https://user-images.githubusercontent.com/85894871/196963984-8c21dd6d-43cb-49c5-8dad-446f3a853156.png)

#### Screenshots

[2022-10-20 13:53] mritul commented on #3393
Can I take up this issue?

[2022-10-20 15:24] NPDebs commented on #3348
@sahilsuman933 Could you please assign this to @richardnikolas instead? He seems to have a thing for SVGs. 👀🌝

[2022-10-20 16:32] Nikhil-Ladha commented on #3393
Again, this is by design 🌚

[2022-10-20 16:38] ackr-8 commented on #3348
Can i fix this issue?

[2022-10-20 17:08] richardnikolas commented on #3348
@sahilsuman933 I though you would assing this to me... 😐☹️

[2022-10-20 17:15] Krishna2323 commented on #3393
@Nikhil-Ladha, that's weird for me.

[2022-10-20 17:15] #3393 closed

[2022-10-20 17:18] sahilsuman933 commented on #3391
@Bhav00 Put the dark mode logo to `layer5/src/collections/integrations/containerssh/icon/white` and make sure to update the mdx file for it.

[2022-10-20 17:20] sahilsuman933 commented on #3348
Sorry about this, @richardnikolas. How about you work on this https://github.com/layer5io/layer5/issues/3391 issue?

[2022-10-20 17:25] #3348 closed

[2022-10-20 17:54] Bhav00 commented on #3391
I have added the .svg in this folder along with the containerssh index.mdx that has the integration icon's field changed to match the icon name

and made a pull request. That branch might be 1 commit behind that was merged a little while ago.

[2022-10-20 18:35] debo19 opened #3399 "Link mismatch on Events page"
#### Description

Due to pagination, the url changes on moving to older events. Due to this, clicking on the upcoming events from the carousal appends the new event address to this new url, resulting in a 404 error.

https://user-images.githubusercontent.com/85789734/197029228-814b193d-9e37-4147-ae6e-419ca275822b.mov

#### Expected Behavior
The link should direct to that particular event on click.

[2022-10-20 18:42] richardnikolas commented on #3391
Well, apparently I got here late @sahilsuman933 😅 is there another one of these?

[2022-10-20 19:00] AbhishekTiwari23 commented on #3399
Do you want them directed to this right[page](https://layer5.io/community/events/kubecon-cloudnative-north-america-2022) ?

[2022-10-20 19:17] sahilsuman933 commented on #3391
@richardnikolas How about you improve the homebrew icon for the darkmode?

[2022-10-20 19:24] sahilsuman933 commented on #3388
@GaganpreetKaurKalsi, Could you please fix this bug as soon as possible because this bug is being displayed in the homepage.

[2022-10-20 19:38] GaganpreetKaurKalsi commented on #3388
Right away! Will open an MR in half hour max.

[2022-10-20 19:43] debo19 commented on #3399
@AbhishekTiwari23 Right, yes. Not only this event but the rest of them as well (that are visited through the carousal).

[2022-10-20 20:46] #3388 closed

[2022-10-20 20:55] dishantzaveri commented on #3399
pls assign it to me

[2022-10-21 05:51] #3368 closed

[2022-10-21 06:29] eeshaanSA opened #3403 "[Integrations Page] Need a better darkmode logo for CDK8S"
#### Description

![image](https://user-images.githubusercontent.com/100678386/197127745-8c6b19bc-fc42-4020-8ce5-1e23a92ad11a.png)
![image](https://user-images.githubusercontent.com/100678386/197127851-4a960c43-4e76-4093-8d8f-ad8ec84b7f7b.png)

#### Expected Behavior

#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.

[2022-10-21 06:32] eeshaanSA commented on #3403
// @richardnikolas

[2022-10-21 07:28] janvi01 commented on #3286
I would like to work on this issue if available. @Nikhil-Ladha

[2022-10-21 08:04] Nikhil-Ladha commented on #3286
Go ahead @janvi01

[2022-10-21 08:17] Onyx2406 commented on #3357
![image](https://user-images.githubusercontent.com/32770175/197147798-34d19044-d8f2-4a6b-8569-acf135988273.png)

[2022-10-21 11:50] leecalcote opened #3406 "[CI] Performance: Configure Lighthouse-CI GitHub Action"
#### Current Behavior
The layer5.io site has performance challenges.

#### Desired Behavior
Ideally, the https://github.com/GoogleChrome/lighthouse-ci GitHub Action runs on open of each PR.

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5/5-light-small.svg" width="16px" align="left" /><h3> Contributor Resources and <a href="https://layer5.io/comm

[2022-10-21 12:17] sam1code commented on #3345
If mock(design) is ready then I can make the searchbar .

[2022-10-21 12:19] sam1code commented on #3403
I can make the logo by inverting colors and can implement.

[2022-10-21 12:19] tinniaru3005 commented on #3403
I would like to work on the issue. Can you please assign it to me?

[2022-10-21 12:51] leecalcote commented on #3357
@Onyx2406 makes sense. Did they give a ticket # to reference?

[2022-10-21 15:20] ackr-8 commented on #3406
Can i work on this issue @leecalcote ?

[2022-10-21 20:27] GaganpreetKaurKalsi opened #3408 "[Integrations] "All" being selected by default on specific integration page"
#### Description
When we go to specific integration page, the category type of the integration along with All are selected by default.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/54144759/197282501-63cd0167-0aea-4ab0-b9f0-dad7d9870d72.png">

#### Expected Behavior
Either "All" alone should be selected or the category type of the specific integration should be sele

[2022-10-21 20:57] sam1code commented on #3408
@GaganpreetKaurKalsi  I would like to work on this

[2022-10-22 03:51] legendarykamal commented on #3408
Strange, I don't see any such behaviour on the site . Refrencing a video .

https://user-images.githubusercontent.com/95926324/197317809-5f8acd86-43e6-4821-9bda-99692190b76a.mp4

[2022-10-22 05:49] sam1code commented on #3408
@legendarykamal  you did it wrong way.
Just click on any card you will be redirected to thay page and then you can get this behavior

[2022-10-22 05:59] sam1code commented on #3408
https://user-images.githubusercontent.com/74086891/197323003-406c51ec-3def-45b4-a857-52989db1b997.mp4

[2022-10-22 07:11] legendarykamal commented on #3408
Oh my bad, thanks @sam1code for pointing it out 👍

[2022-10-22 07:22] legendarykamal commented on #3408
not much change is needed here , in this case the `selected: should be false`  . This should fix it.

[2022-10-22 07:36] legendarykamal commented on #3399
@dishantzaveri I don't see but will you please confirm in if you have your project setup up and running ? as it is neccessary for the task.

Please remove your assignment if not , take some time to do the setup , come back and take charge 💯

[2022-10-22 07:49] sahilsuman933 commented on #3408
This was done intentionally to show the related integrations. @GaganpreetKaurKalsi

[2022-10-22 07:59] GaganpreetKaurKalsi commented on #3408
Yeah! But the issue is that All is selected as well (talking about dedicated integration page). We are showing all available integrations instead of only related ones.

Also “All” is a standalone filter. Shouldn’t be paired with any other as it doesn’t make sense.

[2022-10-22 08:11] sahilsuman933 commented on #3408
Yeah, I forgot to take care of this while fetching the category from GraphQL.So, yeah, go ahead and fix this issue, @GaganpreetKaurKalsi.

[2022-10-22 08:47] AbhishekTiwari23 commented on #3333
Hello @legendarykamal, sir, I just changed the max-width, and the result is acceptable. Please have h look, or should I make a new code for this range?

https://user-images.githubusercontent.com/97469132/197330199-8bd69161-53d4-49c0-a52c-03330f4dd635.mov

[2022-10-22 09:52] AbhishekTiwari23 commented on #3221
<img width="1440" alt="Screenshot 2022-10-22 at 3 19 21 PM" src="https://user-images.githubusercontent.com/97469132/197332950-abb65400-fdce-49a4-b71e-94d0f32fd2c1.png">

Is it fine? I added a new class .feature-image in EventSingle.style and added a negative margin, please have a look, and if I am in the wrong direction then please guide me.
Thanks.

[2022-10-22 09:53] AbhishekTiwari23 commented on #3221
<img width="1440" alt="Screenshot 2022-10-22 at 3 22 31 PM" src="https://user-images.githubusercontent.com/97469132/197333061-f0da898e-dd4e-4dd9-940c-607848e4cc53.png">
It is the original one. Please have a look. Thanks.

[2022-10-22 12:03] Khushi-design-20 commented on #3379
Hey, is this still open?

[2022-10-22 12:05] leecalcote commented on #3379
Yes, in that @sam1code has only offered an update for the /community/members page and not other locations that will need to be updated. Understand, though, that a UX badge icon has been approved, yet.

[2022-10-22 12:07] eeshaanSA commented on #3403
Assigning in the order of requests-

[2022-10-22 12:08] #3391 closed

[2022-10-22 12:39] rohanyrane commented on #3292
Please assign me this issue

[2022-10-22 13:25] legendarykamal commented on #3333
@AbhishekTiwari23 I am not able to see the video .

[2022-10-22 15:48] AbhishekTiwari23 commented on #3333
https://user-images.githubusercontent.com/97469132/197348566-35fc9509-53c2-4bd7-a42b-46b2076e1ae6.mov

[2022-10-22 15:48] AbhishekTiwari23 commented on #3333
Please check now

[2022-10-22 17:17] legendarykamal commented on #3333
@AbhishekTiwari23 looks good from here , Please go forward and submit your PR.

[2022-10-22 18:26] Nikhil-Ladha commented on #3221
Please create a PR with the changes, so that it is easier to confirm the changes work fine for all the pages.

[2022-10-22 18:28] Nikhil-Ladha commented on #3292
@rohanyrane sure will do that.
Though, before doing so could you please confirm if you have the setup done and if you are able to run the site locally (probably with a screenshot of a successful build)?

[2022-10-22 18:29] #3087 closed

[2022-10-23 01:02] OmiCoding commented on #3163
If this is still open I would like to be assigned to this issue.

[2022-10-23 03:47] rohanyrane commented on #3292
![image](https://user-images.githubusercontent.com/91753741/197372672-acd8ffce-8c10-4ae0-a0cd-ccce51f7575e.png)
@Nikhil-Ladha

[2022-10-23 03:50] rohanyrane commented on #3286
Please assign me this issue
I have my local setup ready

[2022-10-23 03:55] Nikhil-Ladha commented on #3292
Cool, go ahead

[2022-10-23 04:59] rohanyrane commented on #3292
@Nikhil-Ladha do you want the expected behavior for every width or for only width>550px ? Because even for width > 550px some of the card's portion is hidden

[2022-10-23 14:15] sahilsuman933 commented on #3367
@Onyx2406 any progress?

[2022-10-23 14:26] Onyx2406 commented on #3367
Hi, I tried to optimize all the svg images but did not see much improvement in performance as expected.. have to work on other aspects as well.

If anyone wants to collaborate to resolve this and get this assigned.. please feel free to..

[2022-10-23 16:05] Nikhil-Ladha commented on #3292
Only from `width < 568px`.
The cut-off is intentional.

[2022-10-23 19:24] #3170 closed

[2022-10-24 18:06] deepeshaburse commented on #3034
@asubedy do we need to close this issue?

[2022-10-24 19:13] #3221 closed

[2022-10-25 10:48] janvi01 commented on #3286
Hey @rohanyrane, you can take up this issue. Do reach out for any help :)

[2022-10-25 14:02] #3151 closed

[2022-10-25 15:00] ryrGlobalshala commented on #3286
@Nikhil-Ladha can you please assign me this issue

[2022-10-25 16:01] Nikhil-Ladha commented on #3286
Cool, go ahead

[2022-10-26 04:51] legendarykamal commented on #3263
Hi, did you get your question being answered , if not then

yes the overview section should contain on how both the tools work together .

The features should essentially include things like how can Meshery prove to be in aid in working with the specific integrations.

a helpful doc could be - https://docs.meshery.io/installation/platforms/kubernetes#using-helm-charts .

[2022-10-26 14:26] debo19 opened #3416 "[Integrations] Convert stack of category filters to a carousel on home page"
#### Current Behavior
We display a stack of category filters on the home page but display only 2 rows of integration here.

<img width="1440" alt="Screenshot 2022-10-26 at 7 49 59 PM" src="https://user-images.githubusercontent.com/85789734/198051530-4dbe1dd7-df70-4949-bb75-0971eddc52e5.png">

#### Desired Behavior
We will be adding a hundred more integrations very soon. We don't want such a large

[2022-10-26 14:31] debo19 opened #3417 "[Integrations] Add Search feature to integrations"
#### Current Behavior
We don't allow users to search for a specific integration they are looking for.

#### Desired Behavior
Add a search feature to the integrations grid on both the Home page as well as the All Integrations page. Use the existing Search component used in Blogs and Resources.

#### Implementation
The search should match the title/name of each integration.

#### Acceptance Tests

-

[2022-10-26 14:32] debo19 commented on #3417
@kayceeDev are you working on this?

[2022-10-26 14:35] debo19 opened #3418 "[Integrations] Add per category count on All Integrations page"
#### Current Behavior
The category filters do not display the count of integrations available under that particular category.

<img width="1130" alt="Screenshot 2022-10-26 at 8 03 06 PM" src="https://user-images.githubusercontent.com/85789734/198054973-93ba35c5-289c-477d-b0d9-fce7a8e92a9d.png">

#### Desired Behavior
Add per category count on [All Integrations](https://layer5.io/cloud-native-manag

[2022-10-26 14:44] sahilsuman933 commented on #3264
@beakman or @NPDebs, do any of you want to work on this issue?

[2022-10-26 14:48] beakman commented on #3264
Sure, I could do it!

El El mié, 26 oct 2022 a las 16:44, Sahil Suman ***@***.***>
escribió:

--
Francisco Salido
psalido @ gmail.com
PGP Key: ED982487

[2022-10-26 14:57] legendarykamal commented on #3264
good , @beakman please go ahead .
 Reach out to us on `slack` or under this open discussion https://discuss.layer5.io/t/discussion-over-integrations/1606 .

[2022-10-26 15:17] kayceeDev commented on #3417
I will take a jab at it.

[2022-10-26 17:25] legendarykamal commented on #3416
designs ready, I would like to take a leap on this 🛩️ .

[2022-10-26 19:01] tinniaru3005 commented on #3418
Hey I would like to work on it. Can you please assign  it to me?

[2022-10-26 19:35] legendarykamal commented on #3418
here you go 🚀

[2022-10-26 19:39] leecalcote opened #3419 "[Mega Menu] Use full images of the books"
#### Current Behavior
The "mega menu" (the website's global navigation menu) has half sized images for two of the books (see screenshot).

#### Desired Behavior
Instead of half size images, use the full book cover images. Find full images here - https://layer5.io/learn/service-mesh-books

#### Screenshots / Mockups

<img width="1123" alt="Screen Shot 2022-10-26 at 2 37 22 PM" src="https://user-ima

[2022-10-27 03:43] OmiCoding commented on #3419
I'll like to be assigned this issue.

[2022-10-27 04:51] AbhishekTiwari23 commented on #3419
My setup is also ready. Please let me know if I can contribute.

[2022-10-27 08:19] janvi01 opened #3421 "Make Projects sections responsive"
#### Description

The display of the open-source projects section is not responsive. The side icons get hidden.

#### Expected Behavior

Make it responsive for all resolutions.

#### Screenshots

<img width="1792" alt="Screenshot 2022-10-27 at 1 41 35 PM" src="https://user-images.githubusercontent.com/34344234/198229888-0526edc1-6c5a-495e-9f08-3bbfd4daa8ab.png">

<img width="403" alt="Screenshot 2

[2022-10-27 08:19] janvi01 commented on #3421
I would like to work on this. Thanks!

[2022-10-27 10:34] leecalcote commented on #3419
Sounds good. Thank you, gentlemen.

[2022-10-27 10:48] leecalcote commented on #3421
Thanks for filling this issue, @janvi01.

@NikhilLadha, perhaps, this is as issue to be addressed using the same Cara user being developed for the Integrations category filters on the home page.

[2022-10-27 16:15] legendarykamal commented on #3419
@OmiCoding as you use the full length of the books , make sure that the width on hover is equal which currently isn't .

[2022-10-28 07:07] OmiCoding commented on #3419
@legendarykamal Thank you! I'll keep that in mind!

[2022-10-28 08:57] gbotesco commented on #3416
The design is done and approved

[2022-10-28 15:42] leecalcote opened #3424 "[Integrations] Replace screenshots on Docker integration"
#### Current Behavior
Screenshots of the Docker Meshery Extension are available (see project page), but not displayed on the [Docker integration page](https://layer5.io/cloud-native-management/meshery/integrations/docker).

#### Desired Behavior
Replace the existing performance graph screenshots with screenshots of the Docker Extension for Meshery.

---
<img src="https://raw.githubusercontent.com/

[2022-10-28 15:45] UtkarshMishra12 commented on #3424
I would like to work on this issue @leecalcote

[2022-10-28 15:50] leecalcote commented on #3424
Thanks!

[2022-10-28 16:51] UtkarshMishra12 commented on #3424
@leecalcote Do I need to replace this graph with the Docker Extension for Meshery Logo? I was having some confusion so I thought to ask you.

![image](https://user-images.githubusercontent.com/67385503/198689394-984e6c4c-b92a-447b-9cb7-3182aeacf715.png)

Logo :
![image](https://user-images.githubusercontent.com/67385503/198690604-6a9792b6-ddea-4def-b252-e8ca146367d7.png)

[2022-10-28 17:29] leecalcote commented on #3424
Thanks for asking. Rather, you can replace the existing screenshots with:

- https://layer5.io/static/5c7e71205db1a7b8dc780e41b16d7470/f4c24/docker-extension-meshery.webp

<img width="2560" alt="Screen Shot 2022-10-28 at 12 24 50 PM" src="https://user-images.githubusercontent.com/7570704/198696514-99def80f-8ffa-4017-b87b-2be867e23fe3.png">

<img width="2560" alt="Screen Shot 2022-10-28 at 12 21 04

[2022-10-28 18:30] UtkarshMishra12 commented on #3424
Ok @leecalcote , so I just have to replace the 3 images (How it Works) sections on the cloud-native-management/meshery/integrations/docker page, with these images. 😊 Correct me If I'm wrong.

[2022-10-28 20:30] leecalcote commented on #3424
Yes, that's right.

[2022-10-29 06:54] OmiCoding commented on #3419
Hey unfortunately I won't have time to work on this issue. I would rather someone else take it.

[2022-10-29 10:29] gbotesco commented on #3421
@leecalcote assign the design to me

[2022-10-29 13:54] tinniaru3005 commented on #3345
Hey @Krishna2323 , I would like to work on it. Can you please assign it to me?

[2022-10-29 13:55] tinniaru3005 commented on #3419
Hey @legendarykamal, I would like to work on this also. Can you please assign it to me?

[2022-10-29 17:08] leecalcote commented on #3421
Thank you, @gbotesco. That would be great.

[2022-10-30 03:44] ronitblenz commented on #3262
Do I just need to rewrite the content on the page in my own words?
and please provide me with latest tutorials/videos/screenshots which are needed to be updated.

[2022-10-30 08:34] GaganpreetKaurKalsi opened #3425 "[Integrations] white logos not completely white"
#### Description
White logos for Minikube and Teller have black color in some areas.

<img width="231" alt="image" src="https://user-images.githubusercontent.com/54144759/198869430-d85e98e1-ad89-4144-980c-0f9cd05c0a9f.png">

<img width="231" alt="image" src="https://user-images.githubusercontent.com/54144759/198869403-abe11c57-d79d-4237-bcec-febea531f95d.png">

#### Expected Behavior
White logos s

[2022-10-30 13:08] Kanika637 commented on #3065
Actually, I was continuously getting errors while setting up the local environment for layer5.

[2022-10-30 17:50] tinniaru3005 commented on #3016
Hey @legendarykamal, can you please assign it to me?

[2022-10-30 17:52] legendarykamal commented on #3016
yes, please go ahead .

[2022-10-31 06:49] #3325 closed

[2022-10-31 06:53] #3336 closed

[2022-10-31 06:54] #3165 closed

[2022-10-31 07:50] #3306 closed

[2022-10-31 08:02] janvi01 commented on #3421
Hey, @gbotesco are you done with the design?

[2022-10-31 14:50] legendarykamal commented on #3262
the docker is updated by @UtkarshMishra12 , @ronitblenz you can update for the github and the contents of both ,

[2022-10-31 15:09] #3424 closed

[2022-10-31 15:27] tinniaru3005 commented on #3220
Hey @leecalcote I would like to take the issue. Can you please assign it to me

[2022-10-31 15:29] leecalcote commented on #3220
Thanks! You should be Abel to find all of these logos in github.com/cncf/artwork

[2022-10-31 15:34] #3425 closed

[2022-10-31 16:00] leecalcote opened #3428 "[Landscape] Content is misplaced on the service mesh landscape timeline"
**Current State:**
Project details are misplaced on the [service mesh landscape](https://layer5.io/service-mesh-landscape) timeline. See screenshot.

<img width="1223" alt="Screen Shot 2022-10-31 at 10 59 04 AM" src="https://user-images.githubusercontent.com/7570704/199053027-cd0e6e8d-0b22-4f12-b380-27f07b4394af.png">

**Desired State:**
Project details should be contained within their respective

[2022-10-31 16:08] Nikhil-Ladha commented on #3428
I think its more of a cache issue , as we don't use the black background for the timeline items 🤔

[2022-10-31 17:32] legendarykamal commented on #3428
yes I too wonder from where does that black bg comes ? here is a live screenshot.
![image](https://user-images.githubusercontent.com/95926324/199071780-18fa0ba3-727e-457d-b1a4-36a74463a2be.png)

[2022-10-31 18:16] legendarykamal commented on #3403
Devs , maybe we just need 3 k8s logo on the kube and that would make the deal.

[2022-10-31 18:26] kamalbuilds opened #3430 "[White Logo] Need a new white logo for kubewarden"
**Current Behavior**

Actual color logo -
![image](https://user-images.githubusercontent.com/95926324/199081907-ec016f93-8063-46e1-812a-1998b375dabc.png)

Current white logo - https://landscape.cncf.io/logos/kubewarden.svg
**Desired Situation**

The white logo needs enhancements
---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**

The layer5.io website

[2022-11-01 04:46] sam1code commented on #3403
Yeah

[2022-11-01 07:10] #3418 closed

[2022-11-01 16:54] aditi5050 commented on #3430
@legendarykamal I would like to work on this can you please assign this to me.

[2022-11-01 17:07] sahilsuman933 commented on #3430
Go ahead, @aditi5050!

[2022-11-02 09:32] gbotesco commented on #3421
Yes check the figma file

[2022-11-02 09:45] janvi01 commented on #3421
Hi @leecalcote, I don't have access to the figma file.

[2022-11-02 17:55] Asmit2952 commented on #3428
![Screenshot (116)](https://user-images.githubusercontent.com/81866614/199564950-fc1c7088-1e06-4cac-9678-60e708ca9843.png)
The entire <div> has the color: `#3C494F`, instead of timeline's path. Maybe this caused the issue? @legendarykamal

[2022-11-03 17:29] rakshitgondwal commented on #3430
Hey @aditi5050! How are you coming up with this issue? btw @legendarykamal, I didn't understand what changes we need in this logo. Do we need a black and white logo or what?

[2022-11-03 17:36] legendarykamal commented on #3430
yeah a white logo for `kubegarden` as with css it is unrecognisable and hence undesirable.

[2022-11-03 18:00] rakshitgondwal commented on #3430
Cool. If @aditi505 is unable to solve this, I would like to work on this or else I can also help her as I am proficient with photoshop.

[2022-11-03 22:45] leecalcote commented on #3428
Hmpf. Funky. I visited the site a minute ago and the issue persisted. I came to this GH issue and saw the suggestion to empty cache. I emptied cache, reloaded, and still saw the issue. I changed from light to dark mode and back again and the issue has gone away. Cookie cache, perhaps?

Either way, this behavior has gone away. 😌 Thank you for investigating this, gentlemen.

[2022-11-03 22:45] #3428 closed

[2022-11-03 23:46] leecalcote commented on #3347
Oh! We were both working on finishing this up at the same time, @GaganpreetKaurKalsi! 😆

[2022-11-03 23:47] #3347 closed

[2022-11-04 15:39] leecalcote opened #3438 "[Performance] All Integrations page performance is poor"
#### Description
The package used to create the honeycomb of integration cells on [this page](https://layer5.io/cloud-native-management/meshery/integrations) is quite poor, leading to a negative user experience of the mouse dragging and animations behaving oddly.

#### Expected Behavior
Rendering of the integrations honeycomb should be brisk, each cell loaded in a non-blocking way and css transiti

[2022-11-05 17:21] Ebi27 opened #3441 "[mesheryctl] Error Message"
#### Description
The mesheryctl pattern list error response currently displays as ;
[code]
#### Page Link:
  http://github.com/meshery/meshery

#### Expected Behavior

The mesheryctl pattern list error response should be “Unable to reach Meshery Server at ….. Please confirm that Meshery Server is available.”

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/

[2022-11-05 17:44] leecalcote commented on #3441
Thanks, @Ebi27! 👍

[2022-11-05 17:45] leecalcote commented on #3441
Oh, wait. Wrong repo.

[2022-11-05 19:07] Ebi27 commented on #3441
I'll correct that

[2022-11-05 19:11] #3441 closed

[2022-11-06 15:16] legendarykamal commented on #3350
This is fulfilled , so closing it henceforth .

[2022-11-06 15:16] #3350 closed

[2022-11-06 20:30] tinniaru3005 commented on #3220
Hey, I wont't be able to give time this week due to my exams. So, I am unassigning myself. :)

[2022-11-08 09:57] AgniveshChaubey commented on #3438
Hey @leecalcote, I wanna work on this issue. Can you please elaborate a little more?

[2022-11-08 13:26] leecalcote commented on #3438
@AgniveshChaubey, nope, the issue description is pretty clear. This this one doesn't quite make sense, I encourage to grab another open issue.

[2022-11-08 13:27] leecalcote commented on #3438
Click the link above to experience the slow down first-hand.

[2022-11-10 07:26] Chadha93 opened #3445 "[Community] Member Profile: Krishna Gupta"
**Current Behavior**

@Krishna2323  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @Krishna2323 as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @Krishna2323
- Twitter: Web_DevLoving
- LinkedIn: krishnagupta23
- Link to profile:

A detailed explanation on how to set up a community member p

[2022-11-10 07:27] Chadha93 commented on #3445
@Krishna2323 Please add your link to profile picture and a short bio.

[2022-11-10 13:18] tinniaru3005 commented on #3445
Hey I would like to work on it. Can you please assign it to me?

[2022-11-10 13:39] 0xpwnstar commented on #3406
/assign
Hi, I have plugged the lighthouse ci with github action.
Ready for a pull request

[2022-11-10 16:19] Shivam-AfA commented on #3220
Hi can I work on this issue?

[2022-11-10 21:05] leecalcote opened #3447 "[Projects] Service Mesh Patterns: add link to book website"
**Current Behavior**
A new site has been stood up here - https://service-mesh-patterns.github.io/service-mesh-patterns/

**Desired Situation**
A link or two to this site should be found on the layer5.io page.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).

[2022-11-10 23:45] tinniaru3005 commented on #3447
Hey @leecalcote, I would like to work on it. Can you please assign it to me.

[2022-11-11 12:23] UtkarshMishra12 opened #3448 "Providing the border-radius to the video block"
#### Description

Providing the border-radius to the video block

#### Page Link:

[Home Page](https://layer5.io/)
Before
![Before](https://user-images.githubusercontent.com/67385503/201338261-533cbfce-31fa-4476-bbee-cd543bd00094.jpg)
After
![After](https://user-images.githubusercontent.com/67385503/201338289-83bbb567-b008-4232-a94f-f96c20ed8200.jpg)

https://user-images.githubusercontent.com/6738

[2022-11-11 12:24] UtkarshMishra12 commented on #3448
@leecalcote your thoughts on this 👀

[2022-11-11 15:38] Shivam-AfA commented on #3220
Hi! I tried to run the website but I am stuck on this process

![image](https://user-images.githubusercontent.com/88040318/201373895-5683f884-7313-4501-b229-32bf5066bd50.png)

Can anyone help me out here?

[2022-11-11 18:39] tinniaru3005 opened #3449 "[Writing program content form] Allow selecting multiple types of content"
#### Description

In the writing form currently, we can just select one type of content. But someone might be interested in multiple types of content. So it can be changed so that multiple options can be selected

#### Page Link:

[Writing program](https://layer5.io/community/handbook/writing-program)

#### Expected Behavior

Allow selected multiple types of content in the writing program form

##

[2022-11-11 18:55] tinniaru3005 commented on #3449
If the changes seem fine, I would like to work on it.

[2022-11-11 19:59] leecalcote commented on #3438
@kayceeDev? Would you like to give this a shot?

[2022-11-11 20:12] kayceeDev commented on #3438
Alright definitely

[2022-11-11 20:17] Shivam-AfA commented on #3220
Hi, I have made changes to 3 images, namely **Envoy**, **Open Service Mesh** and **Service Mesh Interface**. The logos are different when theme is changed. Is this right or do I have to change only the text color to white and the logo image shall remain the same?

![image](https://user-images.githubusercontent.com/88040318/201422634-85872684-0974-4c7b-b360-07d509246e6b.png)

![image](https://user-

[2022-11-13 12:46] Chadha93 commented on #3445
Sure @tinniaru3005

[2022-11-13 15:58] MohOfficial commented on #3448
@UtkarshMishra12 That's a nice idea!

[2022-11-13 18:47] happy656 commented on #3419
Hey @leecalcote, I would like to be assigned this issue.

[2022-11-13 19:14] leecalcote commented on #3419
@happy656, sounds real good.

[2022-11-14 08:44] UtkarshMishra12 opened #3450 "Text is not visible in dark mode on page: /layer5.io/community/events/kubecon-cloudnative-north-america-2022"
#### Description

Text is not visible in dark mode on page: /layer5.io/community/events/kubecon-cloudnative-north-america-2022

#### Page Link:

[Link](https://layer5.io/community/events/kubecon-cloudnative-north-america-2022)

#### Expected Behavior

The text should be white in dark mode.

#### Screenshots

![image](https://user-images.githubusercontent.com/67385503/201614373-5ef5e62f-a100-404a-9

[2022-11-14 08:45] UtkarshMishra12 commented on #3450
@leecalcote I'm not able to locate the code which is responsible for this black color. Can you tell me from where it's coming? I have checked in Event.style.js
I would like to change it.

[2022-11-14 10:59] chiomaT commented on #3450
@UtkarshMishra12  I want to solve this issue, Can it be assigned to me?

[2022-11-14 13:23] deepeshaburse opened #3451 "[Community] Member Profile: Franklin Ekoh"
**Current Behavior**

@franklinekoh has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @franklinekoh as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: franklinekoh
- LinkedIn: franklin-ekoh-a11805122
- Link to profile picture: https://avatars.githubusercontent.com/u/30264870?v=4

A detailed exp

[2022-11-14 13:24] deepeshaburse commented on #3451
@franklinekoh Can you please provide a bio for your community member profile?

[2022-11-14 14:25] gogoiakash2311 commented on #3451
Hey @deepeshaburse, Can I work on this issue?

[2022-11-14 15:29] gogoiakash2311 commented on #3451
@franklinekoh Please provide your bio

[2022-11-14 16:04] leecalcote commented on #3450
@Harshit-Dandriyal

[2022-11-15 05:47] #3333 closed

[2022-11-15 08:54] gogoiakash2311 commented on #3451
okay thanks, I'll soon make a PR

[2022-11-15 16:14] UtkarshMishra12 opened #3456 "Images are coming out of the box from 573px to 660px on the page: layer5.io/cloud-native-management/meshmap"
#### Description

Images are coming out of the box from 573px to 660p on the page: layer5.io/cloud-native-management/meshmap

#### Page Link:

[Link](https://layer5.io/cloud-native-management/meshmap)

#### Expected Behavior

#### Screenshots

https://user-images.githubusercontent.com/67385503/201940392-23518d8f-b981-4c85-8631-8d3c33368daf.mp4

#### Environment:
- Host OS:
- Browser:

---
<img src

[2022-11-15 16:14] UtkarshMishra12 commented on #3456
I would like to work on this issue.

[2022-11-15 20:59] leecalcote commented on #3416
@sahilsuman933 you're up.

[2022-11-15 21:08] furkanmutlu commented on #3448
Hi there, can you assign this issue for me?

[2022-11-15 21:11] leecalcote commented on #3448
Folks, thanks for volunteering. This particular issue isn't a direction that we'd like to head in.

Let's get each of you onto other open issues. Here's one - https://github.com/layer5io/layer5/issues/3017

[2022-11-15 21:11] leecalcote commented on #3448
And here's a long list of others - https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+org%3Ameshery+org%3Aservice-mesh-performance+org%3Aservice-mesh-patterns+org%3Alayer5labs+label%3A%22help+wanted%22+

[2022-11-15 21:11] #3448 closed

[2022-11-16 05:20] gogoiakash2311 commented on #3451
@sahilsuman933 @deepeshaburse I have made a PR please check #3458

[2022-11-16 09:03] chiomaT commented on #3456
Let me fix this.

[2022-11-16 09:40] UtkarshMishra12 commented on #3456
@chiomaT I'm working on this and waiting for this issue to get assigned to me. 😄

[2022-11-16 10:20] kayceeDev commented on #3456
@UtkarshMishra12 you can go ahead and make a PR on this when you are finished.

[2022-11-16 18:05] leecalcote opened #3460 "[Article] Use MeshMap screenshots instead of generic Kubernetes diagrams"
In this [resource article](https://layer5.io/resources/kubernetes/getting-started-with-kubernetes)...

        I would love to see MeshMap screenshots of Kubernetes diagrams as opposed to generic diagrams.

_Originally posted by @leecalcote in https://github.com/layer5io/layer5/pull/3446#pullrequestreview-1183094787_

[2022-11-16 19:32] #3456 closed

[2022-11-16 21:02] #3417 closed

[2022-11-17 17:15] UtkarshMishra12 opened #3461 "Integrations boxes do not have a sufficient margin(Left & Right), due to which it is touching the extreme left and right of the device screen"
#### Description

Integrations boxes do not have a sufficient margin(Left & Right), due to which it is touching the extreme left and right of the screen

#### Page Link:

[Link](https://layer5.io/)

#### Expected Behavior

There should be a proper left and right margin.

#### Screenshots

https://user-images.githubusercontent.com/67385503/202512803-0344093f-3344-452f-88df-7542ad5bf7ba.mp4

#### En

[2022-11-17 17:16] UtkarshMishra12 commented on #3461
@leecalcote I would like to solve this issue.

[2022-11-17 18:11] leecalcote commented on #3461
Thank you, @UtkarshMishra12. Yes, that would be great.

[2022-11-17 18:29] UtkarshMishra12 opened #3462 "There should be a margin from the top of the image on the page: layer5.io/community/newcomers"
#### Description

There should be a margin from the top of the image on the page: layer5.io/community/newcomers
#### Page Link:

[link](https://layer5.io/community/newcomers)

#### Expected Behavior

#### Screenshots

Before
![image](https://user-images.githubusercontent.com/67385503/202528104-69d11761-24f3-4227-b771-e7e16838d765.png)
After

#### Environment:
- Host OS:
- Browser:

---
<img src="h

[2022-11-17 18:30] UtkarshMishra12 commented on #3462
I would like to take up this issue.

[2022-11-17 20:22] #3461 closed

[2022-11-17 21:06] Chadha93 commented on #3451
Thank you @gogoiakash2311

[2022-11-17 21:06] #3451 closed

[2022-11-17 21:08] Chadha93 commented on #3445
@tinniaru3005 How is this coming along? Do you need some help? Hint - you may check out previous similar PRs. // @Krishna2323 Please provide details https://github.com/layer5io/layer5/issues/3445#issuecomment-1309878081

[2022-11-17 22:17] tinniaru3005 commented on #3445
Hey @Chadha93, I have checked out similar PRs and got an idea on how to make the changes. Got a bit buzy with my exams. Will send the PR after @Krishna2323 provides the details. Thanks :)

[2022-11-18 12:21] UtkarshMishra12 commented on #3462
@leecalcote can you assign it to me?

[2022-11-18 16:13] Harshit-Dandriyal commented on #3462
All the best @UtkarshMishra12 :star:

[2022-11-19 08:01] Krishna2323 opened #3466 "Use "gap" property on flexbox instead of margins on every links in the Navbar to make it symmetric."
#### Description
Use "gap" property on flexbox instead of margins on every links in the Navbar to make it symmetric & align the mode toggle icon in center.
#### Page Link:
Navbar
#### Current Behavior
![CUrrent](https://user-images.githubusercontent.com/85894871/202841167-9ccde4b3-84b1-4b30-93ba-bb14351b380e.png)

#### Expected Behavior
![Screenshot 2022-11-19 131552](https://user-images.githubuse

[2022-11-19 08:08] Krishna2323 opened #3467 "Remove "text-align: justify" from paragraph."
#### Description
Remove "text-align: justify" from paragraph, it makes reading the text harder for the user.
![Screenshot 2022-11-19 133351](https://user-images.githubusercontent.com/85894871/202841414-d524c820-bba8-4825-991e-e4e5c0153ff7.png)

#### Page Link:
https://layer5.io/careers

#### Expected Behavior
![expected](https://user-images.githubusercontent.com/85894871/202841402-a90a49fc-d118-42

[2022-11-19 08:14] Garvit1809 commented on #3467
hey, can I work on this issue

[2022-11-19 08:14] Krishna2323 opened #3468 "Align internship programs cards to center."
#### Description
Align internship programs cards to center.
![Current'](https://user-images.githubusercontent.com/85894871/202841585-a3e4dcfb-3c8a-4eba-9fc7-f9dc135fc57e.png)

#### Page Link:
https://layer5.io/careers

#### Expected Behavior
![Screenshot 2022-11-19 134240](https://user-images.githubusercontent.com/85894871/202841607-d3e919c3-44bf-400b-8f6d-33b92635c119.png)

#### Screenshots

####

[2022-11-19 08:21] sketchomania commented on #3467
Can I give a shot ?

[2022-11-19 08:22] sketchomania commented on #3466
Can I work on this ?

[2022-11-19 08:24] sketchomania commented on #3468
Can I work on this issue ?

[2022-11-19 08:28] gogoiakash2311 commented on #3468
@Krishna2323 Can you assign this to me?

[2022-11-19 08:28] gogoiakash2311 commented on #3467
@Krishna2323 Can i work on this?

[2022-11-19 08:29] gogoiakash2311 commented on #3466
@Krishna2323 Can you assign this to me?

[2022-11-19 08:37] Krishna2323 commented on #3466
@Nikhil-Ladha ^^^

[2022-11-19 08:45] Nikhil-Ladha commented on #3466
Using `gap` property is a seperate case, but here we don't need/want the nav items to be center-aligned. So, no need of an update there.

[2022-11-19 08:49] Krishna2323 commented on #3466
@Nikhil-Ladha, the padding is not similar on the both sides for the Navbar.

[2022-11-19 08:50] Krishna2323 commented on #3466
@Nikhil-Ladha, pls have a look at the issues above this one🙏

[2022-11-19 08:51] Nikhil-Ladha commented on #3466
As I said, technically code might be updated. But, design wise content shouldn't be center aligned.

[2022-11-19 08:52] Nikhil-Ladha commented on #3467
How exactly it makes it "easier to read" ?
Could you please explain 🤔

[2022-11-19 08:53] Krishna2323 commented on #3466
@Nikhil-Ladha, I am not talking about aligning the whole navbar to center, I am just talking about the mode changing icon to be centered or aligned with other elements in the navbar

.

[2022-11-19 08:54] Nikhil-Ladha commented on #3468
This is a reasonable issue.
@sketchomania were you able to setup the site locally?
Same applies for you @gogoiakash2311

[2022-11-19 08:55] Nikhil-Ladha commented on #3466
In short, I don't see an issue with the positioning of the icon as of now.
Not exactly sure, what do you mean by center aligning the mode icon specifically?
In the ss attached it seems like the whole content is center aligned and not the icon specifically

[2022-11-19 09:03] gogoiakash2311 commented on #3468
Yes @Nikhil-Ladha, I have already setup the site locally

[2022-11-19 09:20] tinniaru3005 commented on #3447
Hey @leecalcote, Where on the layer5.io page should I add the link to the page?

[2022-11-19 11:43] sketchomania commented on #3468
Yes, I am able to setup this site locally
just running the `make site` command and it is taking a time ,
@Nikhil-Ladha will it take this much time to run or just first time

following this guide: https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md

[2022-11-19 11:53] sketchomania commented on #3466
I  think this issue is regarding the theme change icon "☀️"

![Screenshot_20221119_172119](https://user-images.githubusercontent.com/77732479/202849445-09fff75a-d266-48e6-8689-024874963ad8.png)
![Screenshot_20221119_172020](https://user-images.githubusercontent.com/77732479/202849475-0432e4ae-06a3-4add-b987-ab2b59743a34.png)

[2022-11-19 12:29] eeshaanSA commented on #3467
@Krishna2323 i don't see any difference between your current and expected behaviour screenshots 👀

[2022-11-19 12:32] Nikhil-Ladha commented on #3468
It takes time depending on your system, but eventually the site should be running on localhost:8000.

Let me know if it works out for you or not, based on that I will assign you rhe issue.

[2022-11-19 12:33] Krishna2323 commented on #3467
@eeshaanSA What😶?.......I think there is a clear difference between those 2...and if we are not using that property on any other paragraph so what is the reason to use it here?

[2022-11-19 12:34] Nikhil-Ladha commented on #3466
Again, as I said technically that's a separate concern.
The changing of alignment is not desired.

[2022-11-19 12:36] Krishna2323 commented on #3467
@eeshaanS this property adds extra space between the words to take 100% of the width.

[2022-11-19 12:36] Nikhil-Ladha commented on #3467
I doubt that's the case. A lot of place we already use justify for the text but depending on the use-case/site design it may vary.

[2022-11-19 12:39] eeshaanSA commented on #3467
+1 to Nikhil.

[2022-11-19 12:42] adrianmarinwork commented on #3467
I'm sorry for asking this and I'm probably and ignorant, I'm starting in this world of helping with issues in github repositories I would like to know, if it's only changing a CSS property of a page why don't you do it your self?

[2022-11-19 12:58] Nikhil-Ladha commented on #3467
Indeed a good question @adrianmarinwork .
The simple reason is to allow many such newcomers to step their foot in this vast world of open-source and kick off the long following journey.  These small issues gives them confidence to take up something as they move forward and gain more confidence regarding the codebase of the repo.

Hopefully, this answers your question 🙂

[2022-11-19 13:00] sketchomania commented on #3466
Got it.

[2022-11-19 13:04] sketchomania commented on #3468
Yes its running on localhost
http://localhost:8000/careers
and graphql
http://localhost:8000/___graphql

[2022-11-19 14:11] leecalcote commented on #3447
@tinniaru3005 what suggestions do you have? One link should be on the book page for this book.

[2022-11-19 14:35] tinniaru3005 commented on #3447
I have to add the link somewhere on [this page](https://layer5.io/learn/service-mesh-books), right? Are there any design suggestions on how it can be added? If not I guess we can discuss it on the Monday Websites Weekly Call. What do you think about it?

[2022-11-20 16:59] UtkarshMishra12 opened #3470 "There is a vertical & horizontal scroll on the page: layer5.io/pricing (due to the side arrow present at Hear what other users have to say)"
#### Description

There is a vertical & horizontal scroll on the page: layer5.io/pricing (due to the side arrow present at Hear what other users have to say)

**As the user section is automatically moving & can also be driven by using a finger. I think we can remove this arrow for side-scrolling or can be stuck at the right side**

#### Page Link:

[Link](https://layer5.io/pricing)

#### Expected

[2022-11-20 17:00] UtkarshMishra12 commented on #3470
I want to work on this as per the requirements.

[2022-11-21 16:41] UtkarshMishra12 opened #3471 "No padding in the headline on page: https://layer5.io/service-mesh-landscape"
#### Description

No padding in the headline on page: layer5.io/service-mesh-landscape from

#### Page Link:

[Link](https://layer5.io/service-mesh-landscape)

#### Expected Behavior

#### Screenshots

Before
![image](https://user-images.githubusercontent.com/67385503/203110244-88a00801-ae72-4fa2-b58b-4c354edf9552.png)

After:

https://user-images.githubusercontent.com/67385503/203110793-60118215-

[2022-11-21 19:20] happy656 commented on #3419
![image](https://user-images.githubusercontent.com/90033527/203139845-a956bcab-8f09-404e-b7a9-330e92a52676.png)

@legendarykamal   after changing the images the site looks like this. I wanted to ask whether I should center the book images or increase the image sizes.

[2022-11-22 18:00] UtkarshMishra12 opened #3472 "No padding is given to the images inside the block on the page: layer5.io/blog"
#### Description

No padding is given to the images on the page: layer5.io/blog . There should be padding in all directions.

#### Page Link:

[Link](https://layer5.io/blog)

#### Expected Behavior

#### Screenshots

Before
![Problem](https://user-images.githubusercontent.com/67385503/203387353-95d318fa-2362-43eb-8359-3797cd497862.jpg)

After
![After](https://user-images.githubusercontent.com/6738

[2022-11-22 18:55] rakshitgondwal commented on #3430
Should I work on this? @legendarykamal

[2022-11-22 19:19] legendarykamal commented on #3430
go on @rakshitgondwal  .

[2022-11-23 13:19] rakshitgondwal commented on #3430
In which directory am I supposed to upload the logo? @legendarykamal

[2022-11-23 18:17] UtkarshMishra12 opened #3474 "The boxes are getting close to each other on page : layer5.io/company/contact"
#### Description

The boxes are getting close to each other on page  : layer5.io/company/contact

#### Page Link:

[Link](https://layer5.io/company/contact)

#### Expected Behavior

#### Screenshots

https://user-images.githubusercontent.com/67385503/203619738-aad9ef94-75eb-4811-9dc6-61ca8aeaad23.mp4

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io

[2022-11-24 08:08] vasucp1207 commented on #3474
@UtkarshMishra12, can i work on this issue?

[2022-11-24 08:23] UtkarshMishra12 commented on #3474
@vasucp1207 Are you able to setup the site locally?

[2022-11-24 08:30] Aniket13122000 commented on #3474
can I help here

[2022-11-24 14:36] vasucp1207 commented on #3474
@UtkarshMishra12, I run the project on gitpod.

[2022-11-24 16:59] UtkarshMishra12 commented on #3474
@Harshit-Dandriyal  @Chadha93 Please assign it to @vasucp1207 😄

[2022-11-25 21:49] #3462 closed

[2022-11-26 15:57] tinniaru3005 opened #3475 "Add style to the drop-down menu scroll bar"
#### Current Behavior
The scroll bar of the drop-down menu has a simple look

#### Desired Behavior
Make the drop-down menu look better by adding some style to the scroll bar

#### Screenshots / Mockups
![layer5 scrollbar](https://user-images.githubusercontent.com/62856848/204097499-1f859cce-55c7-439c-965a-e837c19c4b84.png)

#### Implementation

Use CSS to add some style to the scroll bar

---
<im

[2022-11-26 15:59] tinniaru3005 commented on #3475
Hey, I would like to work on this issue and make the changes

[2022-11-28 11:44] Krishna2323 opened #3476 ""Collaborating with" section logos overflowing."
#### Description
"Collaborating with" section logos overflowing.
![Screenshot 2022-11-28 171221](https://user-images.githubusercontent.com/85894871/204269679-0ce7928e-054b-4c76-8543-e5a94dbeb7f3.png)

#### Page Link:

#### Expected Behavior

#### Screenshots

#### Environment:
- Host OS:
- Browser:

---
<img src="https://raw.githubusercontent.com/layer5io/layer5/master/.github/assets/images/layer5

[2022-11-28 13:15] leecalcote commented on #3416
Mockup:
<img width="1665" alt="Screenshot 2022-11-28 at 7 15 18 AM" src="https://user-images.githubusercontent.com/7570704/204286872-e49948ac-d9ad-4c2f-a16e-6b7dd4b0db72.png">

[2022-11-28 14:12] leecalcote commented on #3476
Thanks! However, this is by design. The idea is to convey the notion that there are so many logos that we're not trying to show them all. A carousel (with no arrows and no scrollbar) could be added instead (or we can just close this issue).

[2022-11-28 14:26] suhail34 commented on #3416
Hey I would like to work on this issue

[2022-11-28 17:27] KlausMikhaelson commented on #3460
Hey @leecalcote if this issue hasn't been taken than I get this assigned to me ? would love to work on it !
Thank you !

[2022-11-28 17:28] leecalcote commented on #3460
That'd be most helpful, @KlausMikhaelson. 👍

[2022-11-28 22:23] leecalcote commented on #3416
Great to have you on today's call, @suhail34. 👍

[2022-11-29 03:41] roottool commented on #3476
I see. However in very small extent, the RedHat and VMware logo were completely hidden by the overflow. And this section is wrapped when it is under 1400px width.
https://github.com/layer5io/layer5/blob/2680995d4d75735d592cf2d82f07a837cf1d63a4/src/sections/Home/Partners-home/partnerSection.style.js#L13-L17

I have a suggestion. How about `max-width` changes from 1400px to grater than 1400px?

**Sc

[2022-11-29 17:42] suhail34 commented on #3416
This issue needed to be done like this i mean the design

[2022-11-29 23:07] leecalcote commented on #3416
Yes, the top row of filters needs to be implemented as a carousel.

[2022-11-30 08:49] KlausMikhaelson commented on #3460
awesome will start with it today !

[2022-11-30 13:29] Nikhil-Ladha commented on #3476
Hi @roottool, let's ignore the wrapping here and switch to an infinite carousel (without navigation arrows). We already use a slick carousel in the project at multiple places so, you can use the same package. But, do remember to add the `settings` option to the component such that the carousel is active only after a certain breakpoint. Before, we won't need it (at least not now).

[2022-11-30 14:52] gogoiakash2311 commented on #3471
@UtkarshMishra12 Can you assing this to me

[2022-11-30 17:04] deepeshaburse opened #3478 "[Community] Member Profile: Eeshaan Sawant"
**Current Behavior**

@eeshaanSA has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @eeshaanSA as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @eeshaanSA
- LinkedIn: sawanteesh
- Link to profile picture: https://drive.google.com/file/d/13Wx8jzaRPSW0oUHXmfShfLNEogjAeU-V/view?usp=drivesdk

A de

[2022-11-30 17:04] deepeshaburse commented on #3478
@eeshaanSA Kindly provide us with a bio for your profile.