[2018-07-06 19:21] nilesh32 opened #1 "Conduit is merging back to Linkerd"
We might want to remove Conduit from the list

Annoucment: https://blog.conduit.io/2018/07/06/conduit-0-5-and-the-future/

[2018-07-12 05:20] leecalcote commented on #1
@nilesh32 great call out, yes.

[2018-08-17 06:35] rootsongjc opened #3 "Add SOFAMosn to Service or Edge Proxy list"
SOFAMosn is a modular observable smart network which can be used in service mesh deployed as a data plane sidecar. See https://github.com/alipay/sofa-mosn
It is a part of SOFAMesh, see [Introducing SOFAMesh — A solution for large-scale Service Mesh based on Istio open-sourced by Ant Financial](https://medium.com/@jimmysongio/introducing-sofamesh-a-solution-for-large-scale-service-mesh-based-on-ist

[2018-08-17 17:55] leecalcote commented on #3
@rootsongjc thanks for pointing out SOFAMosn! While SOFAMesh leverages Istio's control plane, is based on any other project (outside of reflecting on their design)?

[2018-08-29 14:48] rootsongjc commented on #3
@leecalcote Could you add [SOFAMosn](https://github.com/alipay/sofa-mosn) to the website?

[2018-09-10 11:27] leecalcote commented on #3
LGTM. Thanks for adding SOFAMosn, @rootsongjc! It seems like SOFAMesh would be appropriate to add as well. What do you think?

[2018-09-11 04:45] #3 closed

[2019-01-10 04:04] leecalcote opened #7 "Use slackin"
The social icons for Slack on the site (top and bottom of page) link to https://layer5io.slack.com. This hyperlink should be changed to https://slack.layer5.io and leverage slackin (https://github.com/rauchg/slacki) to allow the public to join the community slack account.

[2019-01-10 07:59] rootsongjc commented on #7
https://slack.layer5.io can’t be reached

[2019-01-15 18:44] leecalcote commented on #7
@rootsongjc, http://slack.layer5.io is now available (unfortunately, not SSL - $).

@yogi4, this new link needs to displace the existing link used for the Slack social icon on the site.

[2019-01-16 04:11] leecalcote opened #9 "Regression Issue: Add SOFAMesh to service mesh list"
Recent updates have undone #3. SOFAMosn is listed under proxies, but SOFAMesh has gone missing.

[2019-01-16 04:22] yogi4 commented on #7
Modified the url and tested this to be working . This issue can be closed.

[2019-01-16 05:00] leecalcote opened #10 "Incorporate Mesher into service mesh landscape"
@tianxiaoliang, would you like to assist in providing details of Mesher into the this landscape? - https://layer5.io/landscape

[2019-01-16 06:12] tianxiaoliang commented on #10
sure.
https://github.com/go-mesh/mesher
Open Source?: yes
Primary Language: Go
Project Announce Date: November 2017
GA / 1.0 Date:  November 2017

[2019-01-16 06:13] rootsongjc commented on #9
[SOFAMesh](https://github.com/alipay/sofa-mesh) should be listed on Service Mesh category.

[2019-01-16 06:18] leecalcote commented on #10
Excellent. Thanks, @tianxiaoliang. Will you take a crack at the **Functional** section as well? Feel free to note if we're missing a column/category you think should be included.

[2019-01-16 06:36] tianxiaoliang commented on #10
Auto Proxy Injection: yes
TCP + WebSockets: no
HTTP, HTTP/2: yes
gRPC: yes
Multi-Cluster:  Yes, Powered by ServiceComb
Multi-Tenant: huawei cloud only

[2019-01-16 06:38] leecalcote commented on #10
Thank you, @tianxiaoliang. We'll get these details posted!

[2019-01-18 15:57] leecalcote commented on #9
Addressed in #15. Thank you, @rootsongjc!

[2019-01-18 15:57] #9 closed

[2019-01-18 23:59] #10 closed

[2019-01-19 00:00] #7 closed

[2019-01-19 18:28] leecalcote opened #21 "New Collection: "Topics""
As the layer5 community expands, so should the information architecture on the site. There is a need for additional content to be posted on different topics such as service meshes, api gateways, modern proxies, deployment strategies, troubleshooting, etc. A new collection type named "topics" can provide a landing place for such content that is more timeless in nature than a blog post.

Over time,

[2019-01-19 18:29] leecalcote opened #22 "New Collection: "Projects""
"Projects" as a new collection should will be a home for describing projects stewarded by Layer5 contributors (e.g. [Meshery](
https://github.com/layer5io/mesher)).

When a “projects” collection is created and `meshery` (for example) is added, we’ll want to retain the /meshery url for ease of reference, understanding that it’ll also show under /projects/meshery.

[2019-01-21 17:44] yogi4 opened #31 "Status message for Subscribing to mailing list"
When a user subscribes to Mailing list on Layer5.io , the status of subscription opens up in a new tab or window and the current page doesn't show any update.

Instead , the desired enhancement would update the status of subscription in the same page.

[2019-01-21 17:54] #31 closed

[2019-01-22 13:51] leecalcote opened #33 "Add Istio Vet to tools section"
@nrjpoddar, if you're inclined to add [Istio Vet](https://github.com/aspenmesh/istio-vet) to the tools ([code here](https://github.com/layer5io/layer5/blob/master/_includes/service-mesh-tools.html))section of this [landscape](https://layer5.io/landscape/#tools), we'd welcome its listing.

[2019-01-23 06:11] leecalcote opened #35 "Add KubeCon 2018 Using Istio workshop recording"
**Issue Description**
The service mesh workshop delivered at KubeCon 2018 NA was recorded. The card on https://layer5.io/workshops does not have a link to the recording, though.

**Desired**
- [x] Add [this recording](https://www.youtube.com/watch?v=jlHLZqS7Vek&t=595s&list=PLYjO73_1efChX9NuRaU7WocTbgrfvCoPE&index=2) to KubeCon NA 2018 workshop card.

[2019-01-23 06:16] leecalcote commented on #33
@m-eaton^^

[2019-01-23 06:46] leecalcote opened #36 "Add Metrics (Prometheus) as a Functionality column in landscape"
Prometheus Integration:
| Istio - Yes | Linkerd - Yes | Linkerd2 - Yes | Consul Connect - Yes |

[2019-01-23 06:47] leecalcote opened #37 "Add Tracing Integration as new Functionality column in landscape"
Tracing Integration:
| Istio - Jaeger | Linkerd - Zipkin | Linkerd2 - None | Consul Connect - Pluggable |

[2019-01-23 06:50] leecalcote opened #38 "Add Encryption as new Functionality column in landscape"
Encryption:
| Istio - Yes | Linkerd - Yes | Linkerd2 - Experimental | Consul Connect - Yes |

[2019-01-23 13:05] nrjpoddar commented on #33
@leecalcote that would be great. I will submit a PR to get istio-vet listed. Thanks!

[2019-01-23 13:16] leecalcote commented on #33
Fantastic, @nrjpoddar!

[2019-01-24 20:43] leecalcote opened #43 "Add A10 Networks to landscape"
@tigerlinux1688 are you able to assist in getting A10's offering represented?

[2019-01-25 03:02] leecalcote opened #45 "Add XiaoMi/naftis to landscape."
January 24, 2019 at 09:02PM<br>

[2019-01-25 03:08] leecalcote commented on #45
Hi @sevennt, we would love to have naftis added to the service mesh landscape (https://lqyer5.io/landscape). Will you consider creating a PR to do so?

[2019-01-25 03:11] leecalcote opened #46 "Remove "playground" from button label for Meshery"

[2019-01-25 03:12] leecalcote commented on #46
Button on main (/) page.

[2019-01-25 11:46] rootsongjc commented on #45
@leecalcote Correct https://layer5.io/landscape

[2019-01-28 03:51] leecalcote opened #51 "New Collection: Books"
"Books" as a new collection should will be a home for listing of relevant books on service meshes.

[2019-01-29 02:45] leecalcote opened #52 "Add Siege as a tool to landscape"
Hi @JoeDog, @sohamm17, @jmarantz, will you consider adding a listing for https://github.com/JoeDog/siege to the [service mesh landscape](https://layer5.io/landscape) under the [Tools](https://github.com/layer5io/layer5/blob/master/_includes/service-mesh-tools.html) section? Given its use within the envoy-perf project, we'd love to have an accurate listing of the tool described here.

[2019-01-29 05:52] leecalcote opened #53 "Add regpatrol to tools section landscape"
Hi @suryadu, will you consider adding a listing for https://ibmcloud-perf.istio.io/regpatrol/ to the [service mesh landscape](https://layer5.io/landscape/) under the [Tools](https://github.com/layer5io/layer5/blob/master/_includes/service-mesh-tools.html) section?

[2019-01-29 13:35] #46 closed

[2019-01-29 14:23] leecalcote opened #54 "Convert "non-functional" landscape section to html"
Use of a Google sheet is temporary. Let's displace with a table native to the site's theme akin to that used in the "tools" section.

[2019-01-30 03:11] #38 closed

[2019-01-30 03:12] #37 closed

[2019-01-30 03:12] #36 closed

[2019-01-30 03:33] #33 closed

[2019-01-30 07:03] rootsongjc opened #57 "Add ServiceMesher community based in China as a partner"
[ServiceMesher community](http://www.servicemesher.com) is the biggest and professional Service Mesh community, based in China with more than 2000 members now. It is also run the [Istio community](https://istio.io/about/community/) in China. @leecalcote
Website: http://www.servicemesher.com
Twitter: https://twitter.com/ServiceMesher
GitHub: https://github.com/ServiceMesher

[2019-02-01 04:37] leecalcote commented on #43
@tigerlinux1688... listed in https://layer5.io/landspace, that is. Or is there someone else you might redirect to?

[2019-02-01 04:49] leecalcote opened #60 "Add Tigera Secure to landscape"
@liljenstolpe, @kprabhak, @ahrkrak it'd be great to have Tigera represented in the [landscape](https://layer5.io/landscape). Will you consider a contributing a PR to ensure its accuracy?

[2019-02-01 05:12] leecalcote opened #61 "Add Aporeto to the landscape"
@dstiliadis @satyamsi it'd be great to have Aporeto represented in the [landscape](https://layer5.io/landscape). Will you consider a contributing a PR to ensure its accuracy?

Perhaps, under the "Commercial Offerings" column for Istio?

[2019-02-01 05:15] leecalcote opened #62 "Include App Mesh in Functional section of landscape"
@subfuzion it'd be great to have App Mesh accurately represented under the [Functional section](https://github.com/layer5io/layer5/blob/master/_data/categories/meshes.yml) of the [landscape](https://layer5.io/landscape/)? Will you consider contributing a PR to ensure its accuracy? Nate Taber assisted with the non-functional already.

[2019-02-01 07:20] ahrkrak commented on #60
Funny you mention that - I just raised it with our VP Marketing, Andy
Wright, yesterday.

Let's make this happen!

On Thu, Jan 31, 2019 at 8:49 PM Lee Calcote <notifications@github.com>
wrote:

[2019-02-01 12:41] leecalcote commented on #54
@yogi4 fyi, if you say "fixes #63" or "closes #63" in your PR, the respective issue will be automatically closed upon merge.

[2019-02-01 12:41] #54 closed

[2019-02-01 12:44] leecalcote opened #64 "Update "submit issue" link to reference layer5"
the "please submit an issue" hyperlink points to the old repo location - https://github.com/leecalcote/layer5/issues. Needs updating.

[2019-02-01 13:29] leecalcote opened #65 "Enhance landscape table usability"
Enhance landscape table usability with:

1. sorting by descending alphabetical order on the leftmost column by default)
 - This would be the ability for a user to click on the column name and have the table sorted by that column.
-  The ability to click to switch between asc/desc
2. alternating colors in rows

[2019-02-01 13:32] leecalcote opened #66 "CSS: Align `responsive-table` to not over or underlap table height"
![screen shot 2019-02-01 at 7 29 38 am](https://user-images.githubusercontent.com/7570704/52125923-8dee5c00-25f3-11e9-8ae6-25e24d182b5b.png)

[2019-02-03 07:33] dstiliadis commented on #61
Will do. Added it in the todo list.

[2019-02-03 18:22] leecalcote opened #70 "Social icon for Youtube channel"
1. Create social icon for youtube
2. Include in site footer
3. Include in mailing list footer

[2019-02-04 02:14] leecalcote opened #72 "Upcoming book entries missing title and name"
![screen shot 2019-02-03 at 8 14 18 pm](https://user-images.githubusercontent.com/7570704/52186983-54367480-27f0-11e9-83f7-7f771a7de133.png)

[2019-02-05 04:46] #72 closed

[2019-02-05 23:12] leecalcote opened #74 "Add OpenShift to landscape"
@thoraxe, it'd be great to have OpenShift represented in the [landscape](https://layer5.io/landscape). Will you consider a contributing a PR to ensure its accuracy?

Perhaps, under the "Commercial Offerings" column for Istio?

[2019-02-07 17:45] yogi4 commented on #22
This commit address enhancements with using Collections for books, projects, workshops etc. #59

[2019-02-07 17:45] #22 closed

[2019-02-07 17:45] #21 closed

[2019-02-07 17:46] #51 closed

[2019-02-10 16:08] leecalcote commented on #74
/cc @mwringe - in addition to OpenShift, it'd be good to ensure that Kiali is well-represented. Will you consider a PR against the tools section? https://layer5.io/landscape/#tools

This landscape is being referenced in three O'Reilly books on the topic of service meshes.

[2019-02-10 16:11] leecalcote commented on #62
@tabern thank you for your last update to the landscape. It has evolved some. App Mesh details are missing in the [Functional section](https://github.com/layer5io/layer5/blob/master/_data/categories/meshes.yml). Will you consider a PR'ing it?

This landscape will be referenced in three O'Reilly books on the topic of service meshes.

[2019-02-10 17:36] leecalcote opened #76 "Visually distinguish categories in Functional section"
With the insertion of all categories of projects related to service meshes, the Functional table has become hard to read and garner insight from. Either by row color or some other mechanism, let's provide visual indication of groupings of items in by category in the functional table in the landscape.

[2019-02-11 19:38] mwringe commented on #74
@leecalcote I created a PR for Kiali here: https://github.com/layer5io/layer5/pull/77

[2019-02-12 02:23] leecalcote commented on #52
@jmarantz I hadn't realized I'd previously tagged you here. We came full-circle. :)

[2019-02-12 02:25] leecalcote opened #78 "Add Hyperfoil as a tool to the landscape"
Hi @rvansa, will you consider adding a listing for [Hyperfoil](https://github.com/Hyperfoil/Hyperfoil) to the [service mesh landscape](https://layer5.io/landscape) under the [Tools](https://github.com/layer5io/layer5/blob/master/_includes/service-mesh-tools.html) section? Given its use for load testing istio and envoy, we'd love to have an accurate listing of the tool described here.

[2019-02-12 07:39] rvansa commented on #78
Makes sense, thanks for pointing this out.

[2019-02-12 12:08] leecalcote commented on #76
@yogi4 Can we color cut this table not by alternating rows, but by category?

[2019-02-12 14:43] JoeDog commented on #52
What do I have to do?

On Mon, Feb 11, 2019 at 9:23 PM Lee Calcote <notifications@github.com>
wrote:

[2019-02-14 02:34] leecalcote commented on #53
@jnativio, you're help here would be most appreciated --> https://github.com/layer5io/layer5/blob/master/_includes/service-mesh-tools.html

[2019-02-14 03:21] yogi4 commented on #52
Jeff (@JoeDog ),
In your case since Siege has to be added to tools section

you can edit
layer5->_includes-> service-mesh-tools.html file.

layer5/_includes/service-mesh-tools.html and add a row for siege tool

This site is powered my Jekyll .  In order to edit/ add service Mesh Landscape details we have to edit yml files  data section.

under Layer5 , there is a section called _data
layer5->-data

[2019-02-14 07:29] yogi4 commented on #64
@leecalcote looks like you already fixed this.

[2019-02-14 07:33] yogi4 commented on #76
@leecalcote sent out a pull request for this , waiting on PR and Merge to close this issue

[2019-02-14 18:05] #66 closed

[2019-02-15 16:20] thoraxe commented on #74
Given that Red Hat is not currently planning to sell Istio as a stand-alone product, would you still consider it a "commercial offering" given that it's included as a feature of OpenShift?

I'm happy to add OpenShift here.

[2019-02-20 15:59] brianlitalien opened #83 "Add Grey Matter to the Functional Service Mesh list"
Please add Grey Matter to the functional service mesh list.

Decipher Technology Studios' Grey Matter intelligent service mesh is a cloud-native, cloud agnostic intelligent service mesh that saw its formal 1.0 release on 14 Feb.

A pathway for enterprise transformation and cost control, Grey Matter is comprised of three layers, Fabric, Data, and Sense, working in unison to manage enterprise micros

[2019-02-20 17:58] yogi4 commented on #83
@brianlitalien Below are the instructions to add Grey Matter to the Functional Service Mesh List

This site is powered by Jekyll .  In order to edit/ add service Mesh Landscape details we have to edit yml files  data section.

Under Layer5 , there is a section called _data/categories
You will notice a file named meshes.yml
layer5->-data->categories-> meshes.yml
(https://github.com/layer5io/layer5/

[2019-02-21 19:46] brianlitalien commented on #83
https://github.com/layer5io/layer5/pulls

[2019-02-22 14:31] leecalcote commented on #83
@brianlitalien thanks for contributing here!

[2019-02-22 14:33] leecalcote commented on #83
@brianlitalien @joshua-rutherford one item that wasn't pointed out in the instructions is to add an entry in the non-functional section as well - https://github.com/layer5io/layer5/blob/master/_data/categories/non-functional.yml. Could you include a stanza for Grey Matter?

[2019-02-22 14:48] leecalcote opened #85 "Update Contributing guide with common examples"
The https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md could use instructions on how to add/update an entry in the service mesh landscape. It should point to the yml files where entries belong. Given that columns / specific details included in those files may change, it should not itemize each associated attribute for an entry in the non-functional.yml or meshes.yml or other.

It shoul

[2019-02-22 15:21] leecalcote opened #87 "Update AVI Networks entry"
Hi @paib, @sudswasavi, @rangar, @oletizi, will you consider adding a listing for [AVI's service mesh](https://github.com/avinetworks/servicemesh) to the [service mesh landscape](https://layer5.io/landscape)? We'd love to have an accurate listing of the tool described here.

[2019-02-22 16:10] #85 closed

[2019-02-22 23:49] #70 closed

[2019-02-25 13:32] leecalcote opened #88 "Add descriptive tooltip to social icons"
1. Move tooltip style from [service-meshes.html](https://github.com/layer5io/layer5/blob/master/_includes/service-meshes.html) into materialize.css
2. Using this tooltip style, create new descriptive tips for social icons in [partials/hori-social.html](https://github.com/layer5io/layer5/blob/master/_includes/partials/hori-social.html)
  2.1. YouTube - "Watch community meeting recordings"
  2.2 Git

[2019-02-26 06:13] sevennt commented on #45
Hi @leecalcote, We will create a PR later.

[2019-02-26 12:48] leecalcote commented on #45
Fantastic! Thank you, @sevennt.

[2019-02-26 12:48] #45 closed

[2019-02-26 14:35] leecalcote commented on #61
@dstiliadis good deal. Here are [contribution instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) to get the landscape updated.

[2019-02-26 15:12] leecalcote commented on #60
@ahrkrak excellent. :) Here are [contribution instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) to get the landscape updated.

[2019-03-01 17:31] leecalcote opened #90 "Add Yggdrasil to the landscape"
@DewaldV, @Joseph-Irving it'd be great to have Yggdrasil represented in the [landscape](https://layer5.io/landscape). The [contributing](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) doc has instructions on how to update. Will you consider contributing a PR to ensure its accuracy?

[2019-03-05 15:01] Joseph-Irving commented on #90
Hey, would be happy to, I'm not entirely sure where it fits in your categories, I think service proxy is probably the closest.

[2019-03-14 00:14] leecalcote commented on #90
@Joseph-Irving excellent. To the extent that it's a control plane, it probably fits within the service mesh category.

[2019-03-14 00:16] leecalcote commented on #83
Fixed by #84.

[2019-03-14 00:16] #83 closed

[2019-03-16 13:05] brianlitalien opened #92 "Grey Matter Update"
We need to update the language on the Grey Matter hover over to the following "Grey Matter is an Istio-compliant, Envoy proxy based hybrid cloud service mesh platform for business insight and secure data control with your Microservices."

Also, Grey Matter should be marked YES for the following Functional table sections:  Multi-cluster, Multi-tenant, Auto Proxy Injection, and Encryption.

For the

[2019-03-20 01:23] yogi4 commented on #76
This has been resolved

[2019-03-20 01:23] #76 closed

[2019-03-20 21:10] leecalcote opened #93 "Beautify the Contributing section"
Displace much of current text within the Contributing section by adding a series of icons representing calendar, docs, youtube, folder to the Contributing section - https://layer5.io/meshery/#contributing

[2019-03-20 21:11] leecalcote commented on #93
@yogi4 would you like to take this on?

[2019-03-21 13:41] joshua-rutherford commented on #92
@hiromis, can you take an action to open a pull request against this repository to fix the issues above?

[2019-03-21 16:05] leecalcote commented on #90
@Joseph-Irving, but if you consider it a service proxy, let's start there instead. ;)

[2019-03-21 16:05] leecalcote commented on #88
/cc @yogi4 in case you're free.

[2019-03-21 16:08] leecalcote commented on #74
@thoraxe good call out. I agree that listing of OpenShift as a commercial offering, perhaps, is conflating of OpenShift's larger functionality and detracting of the focus of this service mesh-centric landscape. Thanks for highlighting this.

[2019-03-21 16:08] #74 closed

[2019-03-21 16:09] leecalcote commented on #64
@yogi4 I actually didn't. The experience is deceiving in that GitHub kindly automatically redirects old repo references to their new location.

[2019-03-21 16:14] leecalcote commented on #61
@dstiliadis we're scrubbing issues today, so I'm giving this one a bump. We'll be presenting this landscape at the upcoming KubeCon EU.

[2019-03-21 16:15] leecalcote commented on #60
@ahrkrak @kprabhak @liljenstolpe we're scrubbing issues today, so I'm giving this one a bump. We'll be presenting this landscape at the upcoming KubeCon EU.

[2019-03-21 16:19] leecalcote commented on #52
@JoeDog we're scrubbing issues today, so I'm giving this one a bump. We'll be presenting this landscape at the upcoming KubeCon EU.

[2019-03-22 03:24] #92 closed

[2019-03-26 12:36] leecalcote opened #96 "Move "Category" to first column of Non-Functional section"
**Current Behavior:**
The [service mesh landscape](https://layer5.io/landscape), the Non-Functional section has a table of four different categories of technologies (service mesh, API Gateway, service proxy, load balancer). Readability of the table would be improved if the first column of the table was the Category column, not the Name column.

**Desired Behavior:**
Have the Category column as the

[2019-03-28 15:43] leecalcote commented on #62
@nathanpeck will you take a crack at this?

[2019-04-04 19:07] dudash opened #99 "Add 3Scale to the landscape"
It's API Management including an API Gateway (uses NGINX). It looks like that should go in the non-functional list.  There is an [Istio Mixer adapter](https://github.com/3scale/3scale-istio-adapter) for it as well. Not 100% sure on the dates, but something like this:

[code]

[2019-04-05 06:15] leecalcote commented on #99
Hi @dudash, thanks for suggesting 3scale! This is great. We'll certainly incorporate into the landscape. If we're too slow or you're inclined, we'll happily take a PR reflecting this change. It would be an update to both the [non-functional.yml](https://github.com/layer5io/layer5/blob/master/_data/categories/non-functional.yml) and the [gw.yml](https://github.com/layer5io/layer5/blob/master/_data/

[2019-04-09 15:09] leecalcote opened #100 "Add Network Service Mesh to landscape"
Hi @edwarnicke, @fkautz, @mestery, will you consider adding (via PR) a listing for Network Service Mesh to the [service mesh landscape](https://layer5.io/landscape)? We'd love to have an accurate listing of the tool described here.

An update to both the [non-functional.yml](https://github.com/layer5io/layer5/blob/master/_data/categories/non-functional.yml) and the [meshes.yml](https://github.com/

[2019-04-09 16:25] leecalcote opened #101 "Add CNCF Testbed to Landscape Tools section"
Hi @taylor, @robertstarmer, will you consider adding (via PR) to include the CNCF Testbed in the list of service mesh to the [service mesh landscape](https://layer5.io/landscape#tools)? We'd love to have an accurate listing of the tool described here.

An update to the [service-mesh-tools.html](https://github.com/layer5io/layer5/blob/f6883f41ad4edd3a3aa540042c8b2af94c6fa6c5/_includes/service-mesh-

[2019-04-15 05:00] leecalcote opened #104 "Add Eureka to the landscape"
Hi @qiangdavidliu, @tbak, will you consider adding (via PR) a listing for Eureka to the [service mesh landscape](https://layer5.io/landscape)? We'd love to have an accurate listing of this load balancers described here.

[Contribution instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) - an update to both the [non-functional.yml](https://github.com/layer5io/layer5/blob/ma

[2019-04-17 02:24] leecalcote commented on #93
@yogi4 done in a classy way, this could be a good one to pick up.

[2019-04-17 02:25] leecalcote commented on #65
@yogi4 the alternating colors you got into place are great. We could use a higher contrast font color on the table column headers and the ability to filter.

[2019-04-17 02:25] leecalcote commented on #64
@yogi4 surprisingly, we never got round to this one. :)

[2019-04-17 02:26] leecalcote commented on #35
@yogi4 the Service Mesh Day Meshery presentation should go up somewhere as well.

[2019-04-23 01:56] hawkw opened #106 "Discrepancy: Linkerd 2 encryption no longer considered experimental"
As of Linkerd 2's `stable-2.3` release, the mTLS feature is no longer experimental; in fact, it's now enabled by default. See https://linkerd.io/2019/04/16/announcing-linkerd-2.3/

[2019-04-24 01:29] leecalcote commented on #106
Thank you, @hawkw. Will have this updated. You're most welcome to give it a quick PR as well --> https://github.com/layer5io/layer5/blob/master/_data/categories/meshes.yml

[2019-04-24 02:21] hawkw commented on #106
Ah, thanks for the pointer, I couldn't figure out what to update.

Worth noting that autoinjection is also no longer considered experimental --- I can update that as well.

[2019-04-24 02:27] #106 closed

[2019-05-02 15:48] bettyjunod opened #109 "Add Solo Gloo to API Gateway Landscape"
Description: Next generation API Gateway

link to
www.solo.io/glooe

[2019-05-06 13:00] vegasbrianc commented on #109
Hi @bettyjunod Added PR https://github.com/layer5io/layer5/pull/110 to include SuperGloo

[2019-05-06 13:05] vegasbrianc commented on #109
@bettyjunod Added Gloo gateway as well https://github.com/layer5io/layer5/pull/111

[2019-05-10 18:43] leecalcote opened #112 "Add App Insight to the landscape"
@dtzar @paulbouwer should we consider inclusion of Azure's Istio Mixer adapter to the service mesh landscape - https://layer5.io/landscape? Under Tools or a new integrated systems section?

[2019-05-12 03:25] paulbouwer commented on #112
@leecalcote - I think it would make sense to add it under a new integrated systems section. There are a number of other Istio Mixer adapters we should add then too.

[2019-05-18 22:54] leecalcote commented on #109
Thank you, @bettyjunod and @vegasbrianc. Let's get Gloo into the landscape before KubeCon begins.

[2019-05-18 23:08] #109 closed

[2019-05-18 23:12] leecalcote commented on #100
@fkautz a quick reminder in case you'd like to get NSM into the landscape before KubeCon.

[2019-05-24 00:02] chugtum commented on #87
Hi @leecalcote

Thanks for reaching out. We would love to be there on the list of Service Mesh Landscape. Here are the details. Do let me know, if you need any other information.

We currently have two projects w.r.t Service Mesh. Our existing proprietary Avi Container Services (Host Based Proxy Model) and the recently launched Istio Integrated Universal Service Mesh.

1.
**Name:** [Istio Integrat

[2019-05-24 11:37] leecalcote commented on #87
@chugtum thanks! @sakomws will you take this one? Or @chugtum you're most encouraged (it's nice when project/product representatives "own" their listing) to PR directly as well - https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md.

[2019-05-29 19:47] sakomws commented on #87
@leecalcote I will take over it.

[2019-05-29 20:00] leecalcote commented on #87
Thank you, @sakomws.

[2019-06-04 18:56] bettyjunod opened #116 "Add Service Mesh Hub to Utilities"
Tool: Service Mesh Hub
Written In:
Written For: Istio, AWS App Mesh, Linkerd
Supported by: Solo.io
Description: Unified dashboard to install and operate any mesh on any infrastructure. Manage all your meshes, services and extensions.

URL: https://servicemeshhub.io

[2019-06-04 19:01] bettyjunod opened #117 "Add SuperGloo to Utilities"
Tool: SuperGloo
Written in
Written for: Istio, Hashicorp Consul, Linkerd, AWS App Mesh
Supported by: Solo.io
Description: Service mesh agnostic orchestrator

URL: https://supergloo.solo.io

[2019-06-04 19:13] bettyjunod opened #118 "Add Gloo Shot to Utilities"
Tool: Gloo Shot
Written in
Written for: Istio
Supported by: Solo.io
Description: Service Mesh delivered chaos engineering. Gloo Shot works on any mesh that supports fault injection.

URL: https://glooshot.solo.io

[2019-06-14 13:45] leecalcote commented on #64
Thanks, @anandrkskd!

[2019-06-14 13:45] #64 closed

[2019-06-15 19:24] leecalcote opened #121 "Twitter card not showing project image"
When a link like https://layer5.io/meshery is shared, social media sites like Twitter should show the image linked within the page. Currently, Twitter does not show the meshery logo in tweets that share the https://layer5.io/meshery link.

Resources:
- https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary
- https://maxchadwick.xyz/blog/twitter-cards-for-jekyll-with-jeky

[2019-06-15 19:25] leecalcote commented on #121
@anandrkskd do you mind taking a crack at this?

[2019-06-18 06:28] anandrkskd commented on #121
yeah will look into that.

[2019-06-30 20:32] leecalcote opened #124 "Add HAProxy to Landscape"
@dcorbett-haproxy, it'd be great to have HAProxy represented in the landscape. Will you consider a contributing a PR to ensure its accuracy?

[Contribution instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md)

[2019-07-02 15:28] #121 closed

[2019-07-02 21:45] leecalcote commented on #104
@qiangdavidliu, @tbak, any interest in having Eureka listed in the [service mesh landscape](https://layer5.io/landscape)?

[2019-07-07 19:20] anandrkskd commented on #124
hi @subhamkrai , will you consider adding (via PR) for Adding HAProxy to the [service mesh landscape](https://layer5.io/landscape)?
[Contribution instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md)
 We would love to have your PR.

Thanks!

[2019-07-07 20:16] leecalcote commented on #124
//cc @dcorbett-haproxy

[2019-07-08 12:58] subhamkrai commented on #124
@anandrkskd thank you for adding me. Looking forward to this.

[2019-07-16 14:40] leecalcote commented on #100
@fkautz @edwarnickle if either of you gents wants to take a crack at this, here are [instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md).

Or, @gpremsankar, @Harshini-M you may wish to give this a go and toss it up for review.

// @subhamkrai

[2019-07-16 14:44] leecalcote opened #128 "Add badge for open "help wanted" issues"
Within the project README, it would be nice to have a badge showing the number of currently open issues carrying the "help wanted" label. This snippet of markdown should do the trick when added to the [README](https://github.com/layer5io/layer5/blob/master/README.md):

`![GitHub issues by-label](https://img.shields.io/github/issues/layer5io/layer5/help%20wanted.svg)
`

[2019-07-19 06:09] leecalcote commented on #88
Fixed by #130

[2019-07-19 06:11] leecalcote commented on #88
An easy win @subhamkrai. Nice!

[2019-07-19 06:11] #88 closed

[2019-07-19 19:35] subhamkrai commented on #128
closes #128

[2019-07-19 19:35] #128 closed

[2019-07-25 12:53] leecalcote opened #134 "Uneven column lengths in Landscape "Category" section"
<img width="1085" alt="Screen Shot 2019-07-25 at 7 26 16 AM" src="https://user-images.githubusercontent.com/7570704/61875600-9e9bd280-aeb0-11e9-9b03-a9db2ab69f52.png">

**Issue Description**
The "Category" table has uneven lengths each of its individual lists in each column. Because of this, the dashed border on each table column doesn't align, causing a staggered column appearance.

**Possible Fi

[2019-07-26 10:14] leecalcote commented on #96
@madhabpaul your fix looked great. The only thing left is to center the column headers and submit a pull request.

[2019-07-26 10:14] leecalcote commented on #87
@chugtum took care of us here. Closing out issue.

[2019-07-26 10:15] leecalcote commented on #87
Oops. I spoke too soon. Reopening issue.

[2019-07-26 14:39] leecalcote commented on #96
Fixed by #135. Good work, @madhabpaul!

[2019-07-26 14:39] #96 closed

[2019-07-30 21:27] leecalcote opened #138 "Link to Welcome Guide"
A link to the [welcome guide](https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit?usp=sharing) needs to be added to the Meshery project page under the Community section.

[2019-07-31 16:42] arghac14 commented on #138
@leecalcote can i help?

[2019-07-31 17:00] leecalcote commented on #138
@arghac14 yes, that would be fantastic! The [Contribution Flow](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#contribution-flow) section of the Contribution guide should be what you need to tackle this issue. Thanks for raising your hand. Help here is most appreciated.

[2019-08-02 14:01] leecalcote commented on #134
Good work, @madhabpaul. All done here. Fixed by #137

[2019-08-02 14:01] #134 closed

[2019-08-02 14:07] leecalcote opened #139 "Update Landscape with Consul 1.6.0 functionality"
[Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md).

[2019-08-02 14:18] leecalcote opened #140 "Alternating colors on landscape table rows not working"
This issue seems to have appeared after merging #137.

[2019-08-02 14:21] leecalcote commented on #139
@nicholasjackson may want to take point here.

[2019-08-06 19:01] leecalcote commented on #140
fixed by #141

[2019-08-06 19:01] #140 closed

[2019-08-06 19:04] leecalcote commented on #93
@madhabpaul the social icons and links in the partials/hori-social.html file could work here.

[2019-08-07 17:22] anandrkskd commented on #112
@paulbouwer , it'd be great to have Azure's Istio Mixer adapter represented in the [landscape](https://layer5.io/landscape). Will you consider a contributing PR? It would be great have PR from you soon.

[2019-08-07 17:30] anandrkskd commented on #124
@dcorbett-haproxy , would you consider taking a look for adding HAProxy to [Landscape](https://layer5.io/landscape)?
 We would love to have your PR.
[Contribution instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md)

[2019-08-08 02:03] jijillery commented on #104
Hi @qiangdavidliu, @tbak, I’m working to ensure all relevant projects are represented in the [service mesh landscape](https://layer5.io/landscape). We would love to have Eureka included. Will you consider updating the landscape with a quick pull request?

We do our best to ensure that projects and their capabilities are accurately represented, and so, we ask for project representatives to submit t

[2019-08-08 09:33] Joseph-Irving commented on #90
@jijillery I've raised a PR https://github.com/layer5io/layer5/pull/142

[2019-08-13 16:41] subhamkrai opened #144 "update command section in this [page](https://layer5.io/meshery/)"
**Description**
Remove '$ ' symbol from commands

**Related Challenges**
edit this page(https://github.com/layer5io/layer5/blob/master/_includes/meshery.html).

[2019-08-13 17:04] dudash commented on #99
sure, I'll add it in and submit a PR

[2019-08-13 18:28] #99 closed

[2019-08-13 18:31] leecalcote commented on #144
closed by #145

[2019-08-13 18:31] #144 closed

[2019-08-15 13:20] leecalcote opened #147 "Copy-to-clipboard for Meshery install commands"
Improve the installation process for Meshery by incorporating https://clipboardjs.com to capture the three lines of installation commands at https://layer5.io/meshery/#getting-started.

[2019-08-15 17:12] jijillery commented on #61
Github request to contribute:

Hi @dstiliadis and @satyamsi, I’m working to ensure all relevant projects are represented in the [service mesh landscape](https://layer5.io/landscape). We would love to have Aporeto included. Will you consider updating the landscape with a quick pull request?

We do our best to ensure that projects and their capabilities are accurately represented, and so, we ask for

[2019-08-15 17:13] jijillery commented on #60
Hi @liljenstolpe, @kprabhak, @ahrkrak, I’m working to ensure all relevant projects are represented in the [service mesh landscape](https://layer5.io/landscape). We would love to have Tigera Secure included. Will you consider updating the landscape with a quick pull request?

We do our best to ensure that projects and their capabilities are accurately represented, and so, we ask for project represe

[2019-08-15 17:15] jijillery commented on #53
Hi @suryadu, I’m working to ensure all relevant projects are represented in the [service mesh landscape](https://layer5.io/landscape). We would love to have regpatrol included. Will you consider updating the landscape with a quick pull request?

We do our best to ensure that projects and their capabilities are accurately represented, and so, we ask for project representatives to submit these updat

[2019-08-15 17:15] jijillery commented on #52
Hi  @JoeDog, @sohamm17, @jmarantz, I’m working to ensure all relevant projects are represented in the [service mesh landscape](https://layer5.io/landscape). We would love to have Siege included. Will you consider updating the landscape with a quick pull request?

We do our best to ensure that projects and their capabilities are accurately represented, and so, we ask for project representatives to

[2019-08-15 17:16] jijillery commented on #43
Hi @tigerlinux1688 , I’m working to ensure all relevant projects are represented in the [service mesh landscape](https://layer5.io/landscape). We would love to have A10 Networks included. Will you consider updating the landscape with a quick pull request?

We do our best to ensure that projects and their capabilities are accurately represented, and so, we ask for project representatives to submit

[2019-08-20 17:32] ziruihao opened #148 "Add Cilium to Service Mesh category"
[https://cilium.io/](Cilium) is a DaemonSet-based service mesh data and control plane for microservices.

[2019-08-20 19:06] leecalcote commented on #148
@ziruihao thanks for this! It'd be great to have Cilium included in the landscape. As much as possible, we ask for the community to curate the landscape, so as to both ensure the accuracy of its contents and ownership of the specific projects/products once they have been added.

We very warmly welcome a PR to add Cilium. The steps to do so are straight forward - https://github.com/layer5io/layer5/

[2019-08-21 02:54] leecalcote commented on #43
@hthompson6 is this an item you might assist with?

[2019-08-21 19:49] hthompson6 commented on #43
@leecalcote Forwarding this up the chain internally to check for any other offerings past loadbalancing. I or another A10 employee will submit a PR there after.

[2019-08-21 19:49] leecalcote commented on #43
@hthompson6 excellent! Thank you.

[2019-08-21 21:46] leecalcote commented on #148
//@tgraf @aanm

[2019-08-22 12:37] leecalcote commented on #147
@madhabpaul users are unable to copy the three CLI commands to clipboard currently. Will you inspect to determine if there is css or javascript preventing users from copying text?

@scotty-c was our latest victim here. :(

[2019-08-23 03:18] leecalcote opened #149 "Meshery on WSL2"
**Description**
A comprehensive blog post on experiences using Meshery on WSL2, k3d, k3s.

[2019-08-27 03:17] leecalcote opened #151 "Post on GSoC experience with Meshery"
https://github.com/layer5io/layer5/tree/master/collections/_drafts

[2019-08-29 19:45] leecalcote opened #153 "Colorize social buttons on hover"
Currently, the social buttons on the layer5.io site show an informative tooltip when hovering:

<img width="309" alt="Screen Shot 2019-08-29 at 2 37 36 PM" src="https://user-images.githubusercontent.com/7570704/63970757-8cdabb80-ca6a-11e9-9962-adfbe54471f8.png">

But, do not change in color when hovered over.  This issue is to track an enhancement of the user experience to have the social buttons

[2019-08-29 21:09] ziruihao opened #154 "Add Vulcand to Service Proxies"
I just found this from a blog https://www.mailgun.com/blog/how-and-why-we-adopted-service-mesh-with-vulcand-and-nginx on how Mailgun developed Vulcand in 2014. At first, it was an ingress load balancer. But then the developers realized they can extend it to internal traffic, and create a service mesh.

https://github.com/vulcand/vulcand/

[2019-08-29 21:10] ziruihao commented on #148
@leecalcote thanks for the information, Lee. I'll try to do my best but a bit busy - I came into this topic from a VC perspective looking into mesh startups.

Cilium was of interest to enterprises because of its on-premise support.

[2019-09-02 16:20] leecalcote commented on #147
Fixed by #155

[2019-09-02 16:20] #147 closed

[2019-09-03 14:04] anandrkskd opened #157 "No symbol or text for copy in command section"
No symbol or text is present in new copy enhancement for meshery deployment commands

[2019-09-03 14:07] leecalcote commented on #157
Fixed by #156

[2019-09-03 17:35] #43 closed

[2019-09-03 17:36] #157 closed

[2019-09-03 17:37] ziruihao commented on #148
What is the `ga-1-date` property in `non-functional.yml`? @leecalcote

[2019-09-03 17:40] leecalcote commented on #148
Good question, @ziruihao. It's essentially the date by which version 1.0 of the product/product was publicly offered. The "General Availability" date, which is sometimes distinct from that of the project announcement date (most often is in the case of OSS projects).

[2019-09-04 00:58] leecalcote commented on #154
Good highlight, @ziruihao.

@thrawn01, @horkhe, @ikandars, @klizhentas, @agalitsyn, @alxrem, @jrudolph, will you consider adding Vulcand to the [service mesh landscape](https://layer5.io/landscape)? The [process](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) for doing so is simply editing some yaml and sending a PR. Thanks!

[2019-09-04 15:05] thrawn01 commented on #154
Thanks for bringing attention to layer5. Didn't know this existed. I've created a PR https://github.com/layer5io/layer5/pull/161

@horkhe @klizhentas Not sure if mailgun has governance over vulcand or it's a completely open now. Thoughts?

[2019-09-04 17:20] klizhentas commented on #154
@thrawn01 I declare you Vulcand's governor :D On a serious note it's mostly up to us (folks who care about vulcand) to see what makes sense, so far everything you've been doing makes sense to me, so go for it.

[2019-09-04 21:04] leecalcote opened #162 "Add link to Meshery docs site"
*Issue*:
The Meshery project page (https://layer5.io/meshery) is missing a link to its docs site at https://meshery.layer5.io/docs.

*Requested Fix*:
Update https://github.com/layer5io/layer5/blob/master/_includes/meshery.html to include a callout and link to the project's doc site in area highlighted in screenshot.

*Screenshot*
<img width="892" alt="Screen Shot 2019-10-09 at 7 18 55 PM" src="htt

[2019-09-04 21:54] leecalcote opened #163 "Add Maesh to the service mesh landscape"
Hi @dtomcej, @mmatur, @dduportal, @emilevauge will you consider adding (via PR) a listing for Maesh to the [service mesh landscape](https://layer5.io/landscape)? We'd love to have an accurate listing of this service mesh described here.

[Contribution instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) - an update to both the [meshes.yml](https://github.com/layer5io/layer

[2019-09-06 00:54] girishranganathan opened #164 "Expose total performance test runs on Meshery page"
**Enhancement Description**
Each time someone runs a performance test in Meshery, the total count of performance tests is incremented. This enhancement describes the need to expose that number to visitors.

The total performance test runs will be exposed at the following endpoint:
[code]

The result will be a json:
[code]

**Implementation**
1. This can be accomplished by using an ajax call to the

[2019-09-06 00:55] girishranganathan commented on #164
@leecalcote, please feel to add more info as needed

[2019-09-06 07:35] leecalcote opened #165 "Update Octarine's listing in the service mesh landscape"
Hi @thehh1974 will you consider updating the listing for Octarine in the [service mesh landscape](https://layer5.io/landscape)? We'd love to have an accurate listing.

[Contribution instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) - an update to both the [meshes.yml](https://github.com/layer5io/layer5/blob/master/_data/categories/meshes.yml) and [non-functional.yml](ht

[2019-09-06 07:37] leecalcote commented on #164
@madhabpaul @Nikhil-Ladha @subhamkrai would one of you like to grab this one?

[2019-09-10 16:36] ziruihao opened #167 "Add Kuma to Service Mesh"
[https://kuma.io/docs/0.1.0/](Kuma) was just announced today by Kong. Universal service mehs built on top of Envoy that spans containers and VMs.

@leecalcote I pinged you via LinkedIn about other service meshes & connecting. Let me know if you got those messages.

[2019-09-17 17:46] yogi4 opened #171 "Add AppSwitch to the Service Mesh Landscape"
Hi @subhraveti will you consider adding(via PR) a listing for AppSwitch to the  [service mesh landscape](https://layer5.io/landscape)? We'd love to have an accurate listing of AppSwitch in Landscape.

[Contribution instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) - an update to  the [meshes.yml](https://github.com/layer5io/layer5/blob/master/_data/categories/meshes.yml

[2019-09-18 02:36] yogi4 opened #172 "Add Maistra to service mesh Landscape"
Hi @brian-avery will you consider adding(via PR) a listing for Maistra to the  [service mesh landscape](https://layer5.io/landscape)? We'd love to have an accurate listing of Maistra  in Landscape.

[Contribution instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) - an update to both the [meshes.yml](https://github.com/layer5io/layer5/blob/master/_data/categories/meshes.y

[2019-09-18 03:08] yogi4 opened #173 "Add Baywire to Service Mesh Landscape"
Add(via PR) a listing for [Baywire](https://www.bayware.io/products)  to the  [service mesh landscape](https://layer5.io/landscape)?

[Contribution instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) - an update to both the [meshes.yml](https://github.com/layer5io/layer5/blob/master/_data/categories/meshes.yml) and [non-functional.yml](https://github.com/layer5io/layer5/b

[2019-09-18 12:45] leecalcote opened #174 "Add Kuma to list of Meshery adapters"
Meshery's adapter for Kuma is in an alpha state - https://github.com/layer5io/meshery-kuma - and needs represented on the https://layer5.io/meshery page.

See [contributing Instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) for editing https://github.com/layer5io/layer5/blob/master/_includes/meshery.html

Also, there's a missing whitespace in this line: ```Meshery adapte

[2019-09-18 16:08] yogi4 opened #176 "Layout plans for incorporating Security section in landscape"
In an effort to organize Landscape section , wanted to outline the plan to add Security section
Should security aspect be it's own table  or be part of Category in Non-Functional section.

Also we have to add a Column to Categories section.

[2019-09-21 20:05] gunjanmimo commented on #174
it is done properly.

[2019-09-22 20:28] leecalcote commented on #163
Closed by #166

[2019-09-22 20:28] #163 closed

[2019-09-22 20:34] #124 closed

[2019-09-22 20:35] leecalcote commented on #124
Much appreciated, @dcorbett-haproxy!

[2019-09-22 20:37] #154 closed

[2019-09-22 20:37] leecalcote commented on #154
Layer5 landscape now include vulcand. Thank you, @ziruihao, @thrawn01, @klizhentas!

[2019-09-23 12:47] leecalcote commented on #164
@gunjanmimo Here's a mockup for reference -
![total performance test results mockup](https://user-images.githubusercontent.com/7570704/65426691-54629f00-ddd6-11e9-9e53-0a08cd4510b7.png)

Eventually, this message will be clickable. It will by hyperlinked to a page that presents an analysis of the test results.

[2019-09-24 02:37] leecalcote opened #178 "Post DevFest Montreal 2019 workshop"
to https://layer5.io/workshops

[2019-09-26 18:43] leecalcote commented on #172
@brian-avery @nmasse-itix @hguerrero does this look accurate? https://github.com/layer5io/layer5/pull/182/files

Thanks, @gunjanmimo

[2019-09-26 19:04] gunjanmimo commented on #172
sir, should i i change something ?

On Fri, Sep 27, 2019 at 12:13 AM Lee Calcote <notifications@github.com>
wrote:

[2019-09-26 19:06] leecalcote commented on #172
No, looks great. In general, we want for the project / product owners to verify the accuracy of a project's representation.

[2019-09-26 19:11] gunjanmimo commented on #172
ok sir, i will add the project/product owner details?
so, what should be project/ product owner details for maistra?

On Fri, Sep 27, 2019 at 12:36 AM Lee Calcote <notifications@github.com>
wrote:

[2019-09-26 19:45] brian-avery commented on #172
Apologies for the delay. Looking at this now.

We have two different versions of Maistra. Maistra itself, and OpenShift Service Mesh (commercially supported downstream version).  Should we list both?

[2019-09-26 19:49] leecalcote commented on #172
@brian-avery thanks for taking a look! Yes, I think having OpenShift Service Mesh listed under the *Commercial Offerings* column of the Maistra entry makes much sense.

We encourage the project representatives to directly contribute to the landscape as much as possible. It would be fantastic if you were to update @gunjanmimo's branch (https://github.com/layer5io/layer5/tree/gunjanmimo-patch-2-1) t

[2019-09-26 20:16] brian-avery commented on #172
Happy to. Thanks!

[2019-09-27 13:41] #139 closed

[2019-09-27 14:43] #178 closed

[2019-09-27 16:41] ashiscs commented on #171
updated meshes.yml
https://github.com/layer5io/layer5/pull/185

[2019-09-27 18:13] #174 closed

[2019-09-28 01:25] Silvyre commented on #153
Hey there, I'd love to work on this as my first Hacktoberfest issue.

[2019-09-28 01:42] Silvyre commented on #65
I would be happy to work on this!

[2019-09-28 02:09] yogi4 commented on #65
@Silvyre  Please feel free Rafi.

[2019-09-28 02:10] yogi4 commented on #176
@leecalcote  any thoughts on incorporating this section ? either adding separate section or a column in categories section

[2019-09-28 02:15] Silvyre commented on #65
@yogi4 Thank you very much.

On another note, while I was looking at the Service Mesh Landscape page, I noticed that the last column of the Categories section were wrapping strangely (more apparent on smaller browser winodws) such that I had to scroll the window down before discovering that the rightmost category existed.

If you feel it's worthwhile, I would be happy to also look into improving t

[2019-09-28 02:21] yogi4 commented on #65
@Silvyre that will be very much appreciated Rafi , also please note that we will be adding few more categories there , so if you can plan for it keeping that added columns in mind , that will be great.

[2019-09-28 12:21] ibokg commented on #153
Hi! Can I try doing it?

[2019-09-30 13:36] Sweta271097 commented on #153
Is the issue still open?

[2019-09-30 14:51] brian-avery commented on #172
Added Maistra details in #186

[2019-10-01 23:25] Silvyre opened #191 "Enhance landscape categories section wrapping"
As noted in https://github.com/layer5io/layer5/issues/65#issuecomment-536144029, the Categories section on the [Service Mesh Landscape page](https://layer5.io/landscape/) currently wraps category cards by floating them down in a way that functions poorly on smaller screens.

Here is how the Categories section currently looks on a 1280px display:
<img width="959" alt="categories" src="https://user-

[2019-10-01 23:40] Silvyre commented on #191
I think the categories might scale better if aligned in a vertical stack. I'll have a mockup soon.

[2019-10-02 02:05] Silvyre commented on #191
A minimal proof of concept for a vertically-stacked categories section can be generated by adding a few CSS rules:
[code]
On a 1280px display:
<img width="959" alt="vertical alignment" src="https://user-images.githubusercontent.com/13500769/66010837-96eb4200-e48e-11e9-9526-0a1090eabb94.png">
With some padding removed:
[code]
![image](https://user-images.githubusercontent.com/13500769/66012901-fc43

[2019-10-02 02:36] leecalcote commented on #191
@Silvyre thanks for jumping in here and providing a couple choices of restyling. This wrapping issue has long plagued the site.

The second of your mockups in which a dashed line is used to separate the categories looks like a winner. We would love to receive your PR here.

[2019-10-02 02:45] Silvyre commented on #191
Thank you so much, Lee! I'm thrilled to contribute my first Hacktoberfest PR to your project!

[2019-10-02 02:48] leecalcote commented on #191
Ha! That's awesome. :) If you haven't see it already, be sure to checkout the Meshery project --> https://github.com/layer5io/meshery. Contributions are warmly received there as well.

See the [Meshery Contributor Welcome Guide](https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit) and join the Slack account to get better connected with the community - http://slack.

[2019-10-02 07:24] gunjanmimo commented on #117
is it to add in landscape toop section ?

[2019-10-04 12:22] #117 closed

[2019-10-04 16:23] ashiscs commented on #171
@yogi4 https://github.com/layer5io/layer5/pull/185
Sir can you review this description?

[2019-10-04 18:53] leecalcote commented on #164
@gunjanmimo a working example:

[code]

[2019-10-05 02:48] #191 closed

[2019-10-09 03:36] l5io opened #200 "Improve current custom 404 page"
It would be nice if the custom 404 page included a bit of related humor like:

- "Oh, no. Please pardon our meshy site."
- "Oops. Please excuse the mesh."

[2019-10-09 16:57] reynaldomartinez commented on #200
Hello. Can i still help with the 404 page?

[2019-10-09 23:09] leecalcote commented on #200
Thanks to all who contributed! @reynaldomartinez this one is still in need of assistance - https://github.com/layer5io/meshery/issues/345!

[2019-10-09 23:09] #200 closed

[2019-10-09 23:11] leecalcote opened #205 "Overlapping lines of text on custom 404 page"
*Issue*: When long long lines of text are line wrapped, the lines overlap making it hard to read the text.

Screenshot:
<img width="1045" alt="Screen Shot 2019-10-09 at 6 07 45 PM" src="https://user-images.githubusercontent.com/7570704/66527013-2b255c80-eac0-11e9-9e19-ebbc71b61177.png">

[2019-10-10 00:13] #164 closed

[2019-10-10 04:12] leecalcote commented on #153
@Sweta271097 no, but we have lots of open issues in the Meshery project here - https://github.com/layer5io/meshery.  We would love to help you pick one up.

@ibokg @Sweta271097, It would be great to have you join the community Slack, so that you might get better engaged - http://slack.layer5.io

[2019-10-10 04:12] #153 closed

[2019-10-10 10:12] AninditaBasu commented on #162
May I take this up?

[2019-10-10 10:48] leecalcote commented on #162
Fixed by #208

[2019-10-10 10:48] #162 closed

[2019-10-11 01:06] #65 closed

[2019-10-11 17:05] leecalcote opened #211 "Landscape: Create comparative spectrums for ease of contrasting service meshes"
The service mesh landscape currently provides a repository of facts about service meshes (and related technologies). As an index of projects/products, it provides a simple list as  reference.

Based on its data, the service mesh landscape needs augmented to provide insightful guidance to visitors, through careful and accurate characterization of of service meshes represented alongside one another

[2019-10-11 17:08] leecalcote opened #212 "Community: Write Hacktoberfest blog post"
A number of Hacktoberfest participants have joined the Layer5 community as contributors. A write-up of their contributions, impact and experience would make for a nice reference for these contributors and elevate their works.

[2019-10-11 17:46] #205 closed

[2019-10-16 17:44] gunjanmimo commented on #212
Sir, I wrote some lines about Hacktoberfest 2019 and Meshery.
https://medium.com/@gunjanpaul/my-first-ever-hacktoberfest-contributor-to-meshery-a5f888fc3dbf
fixes #212

[2019-10-17 04:02] leecalcote commented on #212
@gunjanmimo, [mission accomplished](https://twitter.com/lcalcote/status/1184678094675812352). Thank you! I'm going to leave this PR open as I'm hoping

1) I'm hoping others might have drafts in the works.
2) I'd like to get a consolidated blog post going on layer5.io about the collective set of contributions (*ahem*, @Silvyre, @mcastre and others)

[2019-10-18 13:31] #173 closed

[2019-10-18 16:38] gunjanmimo opened #213 "Red underline under performance tests run value"
performance tests run value has red underline which is a little odd. change the red line to the black line.
![Screenshot (19)](https://user-images.githubusercontent.com/46948185/67111891-9de6b400-f1f3-11e9-919b-97a866dfc164.png)
[https://layer5.io/meshery/](url)

[2019-10-22 01:13] leecalcote opened #214 "Add Citrix CPX to service mesh landscape"
Hi @chiradeep, will you (or a member of your team) consider adding (via PR) a listing for Citrix CPX to the  [service mesh landscape](https://layer5.io/landscape)? We'd love to have an accurate listing of CPX in the Service Mesh Landscape.

In following these [contribution instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md), you'll see that an update to the [meshes.yml](h

[2019-10-24 05:32] dheerajng commented on #214
Hi @leecalcote @chiradeep,
I've created below PR for the ask.
https://github.com/layer5io/layer5/pull/215

Thanks,
Dhiraj

[2019-10-24 21:41] leecalcote commented on #214
Looking good, @dheerajng. Thanks for this update!

[2019-10-24 21:59] #214 closed

[2019-10-24 22:01] leecalcote opened #216 "Add gokit to landscape"
Hi @peterbourgon, @ChrisHines, will you (or a member of your community) consider adding (via PR) a listing for gokit to the  [service mesh landscape](https://layer5.io/landscape)? We'd love to have an accurate listing of gokit in the Service Mesh Landscape.

In following these [contribution instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md), you'll see that an update to

[2019-10-24 22:06] PseudoNerd commented on #101
Do we just need to change the HTML file here ?

[2019-10-24 23:41] leecalcote commented on #101
Yes, that’s right, @PseudoNerd.

[2019-10-25 00:02] PseudoNerd commented on #101
May I take this up ?

[2019-10-25 00:32] leecalcote commented on #101
Yes, @PseudoNerd, that would be great. @taylor, @robertstarmer, @michaelspedersen, @lixuna can assist in reviewing when ready.

[2019-10-25 04:01] PseudoNerd commented on #101
Made a PR

![Screenshot from 2019-10-25 09-29-59](https://user-images.githubusercontent.com/26699089/67542379-31dfe080-f70a-11e9-923a-a22bb2687a3b.png)

[2019-10-27 17:51] leecalcote opened #218 "List Meshery adapter for CPX on project page"
**Description**
Existing adapters have advanced in their status (e.g. from beta to stable) and new adapters have emerged. The list of [supported service meshes on the Meshery page](https://layer5.io/meshery/) needs updated.

**Expected Behavior**
[Supported Service Meshes](https://github.com/layer5io/layer5/blob/master/_includes/meshery.html#L134) should list:

1. [Meshery adapter for CPX](https:/

[2019-10-27 21:17] leecalcote commented on #35
Added the video recording.

[2019-10-27 21:17] #35 closed

[2019-10-27 21:23] leecalcote opened #219 "README: Improve Slack badge"
**Issue:**
The Slack badge on this repo's README has an inaccurate member count.

**Request:**
Improve the accuracy of the count by using the same approach to the Slack badge as taken in the [Meshery repo's README](https://github.com/layer5io/meshery/blob/master/README.md). These badges are intended to represent the same Slack account.

[2019-10-27 21:27] leecalcote opened #220 "Meshery: rearrange buttons"
**Issue:**
There are two buttons on the [Meshery page](https://layer5.io/meshery). One needs to be removed and the other needs to be relocated as shown in the screenshot:

**Screenshot:**
<img width="1253" alt="Screen Shot 2019-10-27 at 4 24 08 PM" src="https://user-images.githubusercontent.com/7570704/67642121-951e6e00-f8d6-11e9-9ae4-ff74336df616.png">

The source for this page is here - https://

[2019-10-27 22:09] neckenth commented on #219
@leecalcote I think I can take this one on. Can I be assigned?

[2019-10-27 22:10] leecalcote commented on #219
Hi @neckenth! Thank you - yes, I would love for you to give this one a go. :)

[2019-10-27 22:17] neckenth commented on #219
@leecalcote Would you mind adding me as a collaborator so I can push up my PR? Or is there another way to do this?

[2019-10-27 22:25] leecalcote commented on #219
@neckenth sounds great, yes. For this particular project (repo), cloning, creating a branch, pushing changes to that branch and then submitting a PR should do the trick.

You're most welcome to consider jumping into the sister project, [Meshery](https://github.com/layer5io/meshery) (pretty please ;) ). That project uses a very similar contribution model, save for you'll start by forking instead of

[2019-10-27 22:27] neckenth commented on #219
@leecalcote thank you so much. Looks like you added me as a contributor, but I'm still getting a 403 when trying to push up my branch. Any thoughts?

[2019-10-27 22:32] leecalcote commented on #219
Oops. We have recently rearranged team permissions and contribution models. I __think__ you'll be successful in pushing now...

[2019-10-27 22:37] leecalcote commented on #219
Boom, bang! That was fast. :)

[2019-10-27 22:37] #219 closed

[2019-10-28 04:07] RamanaVem commented on #220
Hey @leecalcote can i look up in this, please assign to me

[2019-10-28 12:36] leecalcote commented on #220
Closed by #222. Thanks, @RamanaVem

[2019-10-28 12:36] #220 closed

[2019-10-28 18:04] michaelspedersen commented on #101
Generally it looks good. One goal is definitely to have network code/functions that can be used across platforms (Kubernetes, Openstack), but also to showcase tools and additions that can be used with a specific platform, one example being the Network Service Mesh (Kubernetes) examples currently in the testbed.

[2019-10-31 13:37] leecalcote opened #223 "Workshops: Fix broken Montreal Devfest session link"
The "Session" link is broken on the Deafest workshop card (https://layer5.io/workshops/). The working link is https://devfest.cloud-montreal.ca/schedule/2019-09-28?sessionId=405

[2019-10-31 14:31] logichub commented on #223
This link also generating 404 error page:
https://devfest.cloud-montreal.ca/schedule/2019-09-28?sessionId=405

[2019-10-31 14:54] logichub opened #224 "Workshops: Fix broken image Introduction to Istio - O'Reilly Live Online Training"
**Problem**

The session thumbnail image is broken on the **Introduction to Istio - O'Reilly Live Online Training** workshop card (https://layer5.io/workshops/).

![image](https://user-images.githubusercontent.com/6245858/67957986-3891ba80-fc18-11e9-984f-bc9b9c57641b.png)

**Proposed Fix**
- [ ] Rename the image name from `introduction-to-istio.jp2` to `introduction-to-istio.jpg`

[2019-11-01 02:48] leecalcote commented on #224
Thanks for reporting this, @logichub!

[2019-11-04 18:53] subhamkrai commented on #224
@logichub I think you need to change similar in this file https://github.com/layer5io/layer5/blob/master/collections/_workshops/2019_08_01-introduction_to_istio.md
@leecalcote, please correct me if I'm wrong

[2019-11-04 19:03] leecalcote commented on #224
@subhamkrai yes, you're right. I appreciate you triaging these issues. 👍

@logichub, thanks again for reporting this issue and for fixing it in #225!

[2019-11-04 19:03] #224 closed

[2019-11-04 19:03] leecalcote commented on #216
@basvanbeek knocked this one out. We're good to go here.

[2019-11-04 19:03] #216 closed

[2019-11-04 19:04] subhamkrai commented on #223
@leecalcote every session link is broken...currently the problem is in DevFest links...we are good from our sides.

[2019-11-04 19:14] girishranganathan commented on #223
@archyufa, can you please help us here?

[2019-11-04 20:34] logichub commented on #224
@subhamkrai Thanks for pointing out this.

@leecalcote Just fixed it through #228

[2019-11-05 13:53] girishranganathan opened #229 "Add VMWare NSX-SM to the landscape"
**Description**
We need to add VMWare NSX-SM to the right category in the landscape, and also include its functional and non-functional info.

[2019-11-05 13:53] girishranganathan commented on #229
@venilnoronha it would be wonderful if you can chime in here.

[2019-11-05 14:23] venilnoronha commented on #229
@girishranganathan for sure. I'll send in a PR.

[2019-11-05 19:21] leecalcote opened #230 "Mesheryctl: Installation using brew"
**Current State:**
The [getting-started](https://layer5.io/meshery/#getting-started) section describes how to install the `meshery` bash script.

**Desired State:**
A new `mesheryctl` binary has been created and is available to install using `brew` on Linux and MacOS. The documentation should describe how to install `mesheryctl` using brew as described in here - https://github.com/layer5io/homebre

[2019-11-07 17:26] Silvyre commented on #211
Looking into this!

[2019-11-10 02:06] leecalcote commented on #230
@gunjanmimo if you take this issue, you can use [docs/installation](https://github.com/layer5io/meshery/blob/master/docs/pages/installation/index.md) as reference.

[2019-11-12 02:56] yogi4 opened #232 "Add Project Hamlet to the Landscape"
Add Project Hamlet Secure multi vendor Multi mesh federation to Layer5 landscape . It's a multi-mesh interoperability.

https://octo.vmware.com/project-hamlet-secure-multi-vendor-multi-mesh-federation-open-source/

[2019-11-12 02:58] leecalcote commented on #232
SMI isn’t on the landscape either.

[2019-11-12 03:17] yogi4 commented on #232
would it be worth adding that section of service mesh interoperability ? I can envision that gaining some traction given the proliferation of Meshes and  customers wanting the interoperability?

[2019-11-13 11:30] leecalcote opened #234 "Add NSMCon 2019 talk"
Title: "Adopting Network Service Mesh with Meshery"
Link: https://networkservicemesh.io/events/nsmcon2019/#schedule
Slides:

[2019-11-13 11:44] leecalcote opened #235 "Update "help wanted" link in README"
**Current Behavior**
Under the [Community section](https://github.com/layer5io/layer5#community), the link used in this statement:

"_Not sure where to start?_ Grab an open issue with the help-wanted label."

only refers to issues with the `layer5` repository.

**Desired Behavior**
The "help wanted" link should include issues across all Layer5 repositories. [This repository's README](https://githu

[2019-11-13 14:07] gunjanmimo commented on #234
@leecalcote sir, where to add this link? exact file?

[2019-11-25 16:19] girishranganathan opened #241 "Update icon used for social media sharing of layer5.io/meshery page"
**Current Behaviour**
The old logo is being used for social media sharing of the layer5.io/meshery page.

**Expected Behaviour**
The new logo should be used for social media sharing of the layer5.io/meshery page.

[2019-11-27 05:30] leecalcote opened #242 "Replace "Meshery" text with Meshery logo"
<img width="595" alt="Screen Shot 2019-11-26 at 11 29 55 PM" src="https://user-images.githubusercontent.com/7570704/69696261-c3919380-10a4-11ea-81cc-3281b29d3053.png">

Logos -https://github.com/layer5io/layer5/tree/master/assets/images/meshery

[2019-11-27 05:31] leecalcote opened #243 "Add .github issue templates to layer5 repo"
The issue templates may be taken from the Meshery repo, but should be updated as needed.

[2019-11-27 05:33] leecalcote commented on #218
@firstladymb you might like to try your hand here.

[2019-11-27 05:47] leecalcote opened #244 "Promote NSM Adapter from beta to stable"
On this page, https://layer5.io/meshery, update this line "Meshery adapter for Network Service Mesh (beta)" to "Meshery adapter for Network Service Mesh (stable)".

<img width="561" alt="Screen Shot 2019-11-26 at 11 47 03 PM" src="https://user-images.githubusercontent.com/7570704/69697034-1b30fe80-10a7-11ea-8a8a-ead2ba4e019e.png">

Find the source code in _includes/meshery.html

[2019-11-27 05:52] leecalcote commented on #241
This line is the code that needs updated to link to the latest Meshery logo - https://github.com/layer5io/layer5/blob/master/_includes/head.html#L36

[2019-11-27 06:10] leecalcote commented on #241
Logos - https://github.com/layer5io/layer5/tree/master/assets/images/meshery

[2019-11-27 06:15] leecalcote opened #245 "Add Layer5 logo to list of Istio partners on Istio.io"
Submit a PR to the Istio project to add the Layer5 logo here - https://istio.io/about/community/partners/

Find the Layer5 logo in the Community drive.

[2019-11-30 14:56] leecalcote commented on #244
Thank you, @Harshini-M. Fixed by #248

[2019-11-30 14:56] #244 closed

[2019-11-30 15:04] #243 closed

[2019-12-02 16:34] brian-avery commented on #172
Moving Maistra details to #251

[2019-12-04 02:21] leecalcote commented on #218
@dheerajng would you mind knocking this one out?

[2019-12-04 02:24] dheerajng commented on #218
@leecalcote : Sure. Sorry for the delay. I am going to resume work on it this week.

[2019-12-06 14:27] brian-avery commented on #172
@girishranganathan Now that #251 is merged and live on the site, I think we can close this. Thanks for the approval.

[2019-12-06 15:37] girishranganathan commented on #172
Hello @brian-avery, sorry my bad. Yes I will close this. Thx again.

[2019-12-06 15:37] #172 closed

[2019-12-11 02:30] #93 closed

[2019-12-11 14:18] gunjanmimo commented on #245
@leecalcote sir, i will like to take this issue, but I want to know what is the exact file for this issue?

[2019-12-11 14:27] gunjanmimo commented on #235
@leecalcote sir, I think this issue is resolved, should I close this pr?

[2019-12-11 14:39] leecalcote commented on #245
Here we are - https://github.com/istio/istio.io/blob/master/content/en/about/community/partners/index.md

[2019-12-11 14:46] leecalcote commented on #242
Fixed.

[2019-12-11 14:46] #242 closed

[2019-12-11 14:51] leecalcote commented on #234
@gunjanmimo here is a link to the event - https://github.com/layer5io/layer5/blob/master/_includes/meshery.html#L188 or https://networkservicemesh.io/events/nsmcon2019/

and here is a link to the deck - https://calcotestudios.com/talks/decks/slides-nsmcon-kubecon-na-2019-adopting-network-service-mesh-with-meshery.html

and here is a link to the recording - https://www.youtube.com/watch?v=4xKixsDTt

[2019-12-11 14:53] leecalcote commented on #234
Can you add this talk to the list of presentations here - https://github.com/layer5io/meshery/blob/master/docs/pages/index.md?

[2019-12-11 16:38] leecalcote commented on #235
@gunjanmimo yes, you're right. Yes, please do at your convenience.

[2019-12-12 07:07] leecalcote commented on #234
Fixed by https://github.com/layer5io/meshery/pull/515

[2019-12-12 07:07] #234 closed

[2019-12-12 07:29] #235 closed

[2019-12-12 21:40] leecalcote opened #255 "Animate vertical social buttons"
**Enhancement Description**
The social buttons in [vert-social.html](https://github.com/layer5io/layer5/blob/master/_includes/partials/vert-social.html) need enhanced to provide a similar behavior as to the social buttons in [hori-social.html](https://github.com/layer5io/layer5/blob/master/_includes/partials/hori-social.html).

**Screenshot of vert-social**
![Screen Recording 2019-12-12 at 3 39 10

[2019-12-14 16:54] #255 closed

[2019-12-16 00:28] leecalcote opened #262 "Update favicon with "5" favicon"
**Enhancement Description**
The current favicon on this site is that of the old logo.

**Related Challenges**
One of the new "5" logo should be used instead.

[5-light-bg.png](https://github.com/layer5io/layer5/blob/master/assets/images/layer5/5-light-bg.png) or [5-dark-bg.png](https://github.com/layer5io/layer5/blob/master/assets/images/layer5/5-dark-bg.png)

[2019-12-20 09:11] #262 closed

[2019-12-20 20:09] #138 closed

[2019-12-27 00:45] #230 closed

[2019-12-27 13:43] leecalcote opened #268 "Update status of CPX adapter from "alpha" to "beta""
**Current State:**
The CPX adapter is currently listed as "alpha".

**Desired State:**
The NSM adapter should now be a "beta" adapter.

See https://layer5.io/meshery

[2019-12-27 18:27] gunjanmimo commented on #245
@leecalcote sir, is this issue is resolved?

[2019-12-27 18:48] leecalcote commented on #245
@gunjanmimo once the Layer5 logo is visible here - https://istio.io/about/community/partners/, yes.

[2020-01-06 11:21] #268 closed

[2020-01-06 12:50] leecalcote opened #272 "Breakpoint for responsive change needs updated"
**Description**
The layer5.io site needs its breakpoints across different elements to be uniform to avoid "screen tearing".

**Screenshot**
<img width="1037" alt="Screen Shot 2020-01-03 at 9 56 30 AM" src="https://user-images.githubusercontent.com/7570704/71819187-cba00400-3050-11ea-92cf-271a793b54e0.png">

[2020-01-06 12:50] leecalcote commented on #272
@Nikhil-Ladha given your expertise on such things, do you mind taking a look here?

[2020-01-06 13:07] Nikhil-Ladha commented on #272
@leecalcote I saw this error a few days back and was hoping of informing or opening an issue. But i forgot!
Yea I would look upon it :)

[2020-01-07 22:45] leecalcote commented on #167
I hope I have the right @wayofthepie. Please jump in here, if interested. Your input is most welcome.

[2020-01-09 15:12] #245 closed

[2020-01-12 18:51] leecalcote commented on #272
Fixed by #273

[2020-01-12 18:51] #272 closed

[2020-01-13 03:40] leecalcote opened #275 "Add Technology Partners to Partners page"
**Enhancement Description**
The current [partners page](https://layer5.io/partners) lists educational partners only. We need a section for technology partners.

**Desired Behavior**
1. Create visual separation between types of partners: Education and Technology
1. Create "Education" partners category. The current two partners should be listed under the Education label.
1. Create "Technology partne

[2020-01-13 03:50] leecalcote opened #276 "Network Service Mesh missing part of its name in Landscape"
**Description**
Under the Non-Functional section of the [landscape](https://layer5.io/landscape/), the Network Service Mesh entry is missing the latter part of its name - "Service Mesh", which needs to be added in [non-functional.yml](https://github.com/layer5io/layer5/blob/master/_data/categories/non-functional.yml).

**Screenshots**
<img width="642" alt="Screen Shot 2020-01-12 at 9 48 00 PM" src

[2020-01-13 22:45] #276 closed

[2020-01-13 23:19] #100 closed

[2020-01-13 23:19] #62 closed

[2020-01-14 17:20] leecalcote commented on #241
@anandrkskd we actually need the [landscape icon ](https://github.com/layer5io/layer5/blob/master/assets/images/buttons/landscape.svg) to show up for https://layer5.io/landscape, too.

[2020-01-15 16:49] leecalcote opened #280 "Denote active page with menu item coloring"
**Current Behavior**
The site menu currently shows users when they have navigated to the blog page by coloring the background of the menu item (see screenshot), but does not color the backgrounds of other menu items when users have navigated to other pages.

<img width="991" alt="Screen Shot 2020-01-15 at 9 53 11 AM" src="https://user-images.githubusercontent.com/7570704/72452974-0528eb80-3784-11e

[2020-01-16 15:17] leecalcote opened #281 "Landscape: Displace Kong's listing with Kuma"
**Current Behavior**
Kong is currently listed as a service mesh. Kuma is specifically Kong's service mesh offering, however.

**Desired Behavior**
Displace Kong's listing with Kuma.

[2020-01-18 16:25] #275 closed

[2020-01-19 02:12] Aisuko opened #285 "The URL could not found the content"
I saw the URL https://layer5.io/meshery/adapters on the [project](https://github.com/layer5io/meshery-nsm)   can not be accessed successfully. Not sure the page was down or other reasons.

[2020-01-21 11:06] leecalcote opened #287 "All pages: Extraneous section on righthand side"
**Description**
On the righthand side of each page on layer5.io, there is an extraneous section of the UI that causes a horizontal scrollbar to appear in the user's browser and allows the users to scroll to the right.

**Expected Behavior**
This unused section of the UI should be removed.

**Screenshots**
<img width="658" alt="Screen Shot 2020-01-21 at 5 03 36 AM" src="https://user-images.githubus

[2020-01-21 11:31] leecalcote opened #288 "Multiple Language Support"
**Current Behavior**
This site currently supports English as its only language.

**Desired Behavior**
Ideally, this site's resources are available in multiple languages (e.g. Spanish, Tamil, Chinese).

Consider use of https://github.com/kurtsson/jekyll-multiple-languages-plugin

[2020-01-21 12:47] leecalcote commented on #287
This is likely caused by the rich tooltips used in the social buttons in the footer of the site.

[2020-01-21 14:21] gunjanmimo opened #291 "the Blog in nav bar is not working"
this page is showing error

[2020-01-21 15:25] #291 closed

[2020-01-21 15:42] ashiscs opened #293 "meshery,books and workshops tabs are not working on the layer5io website"
![Screenshot from 2020-01-22 02-27-13](https://user-images.githubusercontent.com/49238464/72818362-5e67b200-3c91-11ea-999c-ad190a492da0.png)

[2020-01-21 17:15] #293 closed

[2020-01-21 19:08] arghac14 commented on #287
@leecalcote Can I work on this?

[2020-01-21 19:29] leecalcote commented on #287
@arghac14 that would be great, yes.

[2020-01-21 19:31] leecalcote commented on #287
@arghac14 note that @gunjanmimo has a helpful PR #290 that removes visibility of the horizontal scrollbar. This does a good job of addressing the symptom, but doesn't quite address the root cause, yet.

[2020-01-21 19:40] #281 closed

[2020-01-22 01:21] leecalcote opened #296 "News: Add news item for Layer5's mentions in Forrester's research"
**Current Behavior**
Layer5 and Meshery were included in research produced by Forrester:

- Webinar: https://www.forrester.com/webinar/Plan+A+Service+Mesh+For+Your+Microservices+Future/-/E-WEB29705
- Research: https://www.forrester.com/report/With+Microservices+A+Service+Mesh+Helps+Developers+Focus+On+The+Business/-/E-RES154719

**Desired Behavior**
The [/news section](https://github.com/layer5io/

[2020-01-22 15:08] arghac14 commented on #287
@leecalcote but how do I run this site locally on Windows platform? Not working using 'make site'

[2020-01-22 15:58] gunjanmimo opened #298 "CURL copy functionality is not working in layer5.io"
in layer5.io, in the installation command section, the curl installation command copy functionality is not working properly.

[2020-01-22 16:04] leecalcote commented on #287
@arghac14 Good question. You have a couple choices. One is to use Docker and run `make docker` (or execute the commands listed under the `make docker` stanza in the Makefile). You'll need to have Docker installed on your Windows machine. Another option install Jekyll on your Windows system directly. [This tutorial](https://www.youtube.com/watch?v=uxElyNDWoO8) uses Chocolatey (a package manager for

[2020-01-22 16:15] leecalcote commented on #298
@gunjanmimo good catch. It's working for the brew section, but not the bash section. It's likely that the two sections are using colliding IDs.

[2020-01-22 17:16] #298 closed

[2020-01-23 00:42] leecalcote opened #300 "Add Microsoft and SMI to the list of partners"
**Current Behavior**
Layer5 is partnered with Microsoft and [SMI](https://smi-spec.io)

**Desired Behavior**
This partnership should be represented in [/partners](https://layer5.io/partners)

[2020-01-23 13:03] leecalcote commented on #287
@arghac14 you are welcome to jump in the community Slack (http://slack.layer5.io) and/or either the weekly community calls where we troubleshoot and work through issues like this.

[2020-01-23 14:20] leecalcote opened #301 "Mobile-friendly community buttons"
**Description**
The set of buttons used for community resources are not responsive and overflow their container in mobile view.

**Expected Behavior**
These buttons should resize and be responsive.

**Screenshots**
<img width="501" alt="Screen Shot 2020-01-21 at 10 02 23 PM" src="https://user-images.githubusercontent.com/7570704/72992202-02984880-3db9-11ea-8259-e78e91bd1359.png">

[2020-01-23 14:20] leecalcote commented on #301
@Nikhil-Ladha do you mind taking a look here?

[2020-01-23 14:22] leecalcote opened #302 "Community buttons: tooltip hidden behind another section"
**Description**
The z-index of the section neighboring the community buttons causes the rich tooltip to be hidden.

**Expected Behavior**
Community button tooltips should not be hidden.

**Screenshots**
<img width="626" alt="Screen Shot 2020-01-21 at 10 01 50 PM" src="https://user-images.githubusercontent.com/7570704/72992538-82beae00-3db9-11ea-8d77-9b5755b31be1.png">

[2020-01-23 14:23] Nikhil-Ladha commented on #301
I knew this issue, and thought someone was already working on that so I didn't say anything. But if no one is then I can surely take this up!

[2020-01-23 14:24] leecalcote commented on #301
Thank you, @Nikhil-Ladha. Please do. I think Madhu was going to attempt to fix previously, but has been absent for a few months.

[2020-01-23 14:25] leecalcote commented on #296
A News section has now been added to the site.

[2020-01-23 14:25] #296 closed

[2020-01-23 14:26] Nikhil-Ladha commented on #301
Ohh, then it's fine. I will take this up ;)

[2020-01-23 16:38] ashiscs commented on #213
This issue is fixed and needs to be closed.

[2020-01-23 16:38] #213 closed

[2020-01-23 17:13] gunjanmimo commented on #213
But now there is a blue curve underline

[2020-01-23 17:16] ashiscs commented on #213
@gunjanmimo but the new color is matching with the background instead of previous one which was catching all our attention.

[2020-01-23 17:17] leecalcote commented on #213
@gunjanmimo, while we do want attention called to the statistic, you're probably right that use of red was perhaps not the best color as to many, it indicates that something is wrong (e.g. a misspelling).

[2020-01-23 22:40] leecalcote opened #304 "Add Cloud Native Austin talk to list of Meshery presentations"
**Current Behavior**
This upcoming talk should be listed alongside other Meshery presentations - https://www.meetup.com/Cloud-Native-Austin/events/267784090/

**Desired Behavior**
Add to this [presentations list](https://github.com/layer5io/layer5/blob/master/_includes/meshery.html) and [this presentations list](https://meshery.layer5.io/docs/overview#meshery-presentations).

[2020-01-24 02:33] leecalcote opened #305 "News: Meshery listed in top 3 service mesh developments"
**Current Behavior**
Meshery was recently identity in a news article citing the top 3 service mesh developments for 2020.

**Desired Behavior**
Add news article to [/news collection](https://github.com/layer5io/layer5/tree/master/collections/_news):

 - [The Top 3 Service Mesh Developments in 2020](https://thenewstack.io/the-top-3-service-mesh-developments-in-2020/)

---
**Resources:**
- [news tem

[2020-01-24 05:46] leecalcote commented on #280
@supra08 given your familiarity with this menu system, this is a great issue for you to tackle.

[2020-01-24 23:34] #304 closed

[2020-01-25 18:53] ashiscs commented on #301
This issue is fixed and needs to be closed!!

[2020-01-25 18:53] #301 closed

[2020-01-27 00:10] ashiscs commented on #300
Ready to be closed!!

[2020-01-27 00:10] #300 closed

[2020-01-27 16:34] gunjanmimo commented on #288
@leecalcote sir, I have doubt that if we are using Jekyll Multiple Languages Plugin, then every time when layer5 will get any post or blog or etc, then we will need to make translation of every post in other languages also. So I made something like this which can translate the whole page in one click.
![Screenshot from 2020-01-27 21-59-14](https://user-images.githubusercontent.com/46948185/7319348

[2020-01-27 17:42] nupur-thakur commented on #305
@leecalcote  I am not sure what should be the permanent link for this news article.

[2020-01-28 00:03] leecalcote commented on #305
@nupur-thakur good question. For now, you can either leave it blank or use "the-top-3-service-mesh-developments-in-2020".

[2020-01-28 10:06] nupur-thakur commented on #305
Okay @leecalcote Sir, For now I am leaving it blank.

[2020-01-28 15:46] leecalcote opened #316 "Introduce "tags" for blog post categories"
**Current Behavior**
The layer5.io site has blog posts, but is lacking a tags feature to allow separation of posts by topic / by category.

**Desired Behavior**
1. Should have a way of navigating tags. (e.g. `/tag/linkerd`)
1. Main /blog should have some form of a tag cloud.
1. There should be a way to group posts that share tags.
1. https://jameshfisher.com/2019/05/05/how-can-i-add-tags-to-a-jeky

[2020-01-28 16:04] #305 closed

[2020-01-28 16:20] leecalcote commented on #305
Thank you, @nupur-thakur.

[2020-01-29 14:20] gunjanmimo commented on #316
@leecalcote sir, I want to try to solve this issue

[2020-01-29 17:04] gunjanmimo commented on #316
@leecalcote sir, I have a doubt what is the source of blogs, is it _layout/posts.html?

[2020-01-29 21:34] leecalcote commented on #316
@gunjanmimo the blog spans a few different files:

Starts here: https://github.com/layer5io/layer5/blob/master/collections/_pages/blog.html
Goes to here: https://github.com/layer5io/layer5/blob/master/_includes/collections/posts-list.html
Then to here: https://github.com/layer5io/layer5/blob/master/_includes/collections/posts.html
Then to here: https://github.com/layer5io/layer5/tree/master/collec

[2020-01-30 00:17] leecalcote commented on #229
Hi @dkalani, will you give this landscape a quick PR? We want to ensure all relevant projects are represented in the [service mesh landscape](https://layer5.io/landscape). We would love to have NSX-SM included. Will you consider updating the landscape with a quick pull request?

We do our best to ensure that projects and their capabilities are accurately represented, and so, we ask for project rep

[2020-01-30 12:45] gunjanmimo opened #318 "In Hacktoborfest blog post, the code section, text is in white color. Should be in proper coding color."
In this blog post, the code section in white color, which is not visible properly/
![Screenshot from 2020-01-30 18-10-47](https://user-images.githubusercontent.com/46948185/73450887-5217df00-438c-11ea-8e6b-7ff96b350ad7.png)
Expected Behavior:
This section should have proper color to be visible to visitors

[2020-01-30 12:46] leecalcote commented on #318
Good catch, @gunjanmimo

[2020-01-30 15:24] dkalani commented on #229
Yes I’ll take care of this today thx
Deepa

[2020-01-30 15:24] leecalcote commented on #229
@dkalani awesome. thank you. 👍

[2020-01-30 16:37] #288 closed

[2020-01-31 06:20] Aisuko opened #321 "Add multiple languages to the layer footer."
**How can we help?**
A brief description of what question(s) you have and how we can help clarify.

As @leecalcote  said in the channel, we could add Chinese into [layer.io](https://layer5.io) footer.

[2020-01-31 06:25] Aisuko commented on #321
@gunjanmimo So, Would you like to tell me where you got the national flags? I will get one same size as other flags

[2020-01-31 13:44] jijillery commented on #321
The SVGs for these flags were found on Wikipedia ([flag of China](https://en.wikipedia.org/wiki/Flag_of_China#/media/File:Flag_of_the_People's_Republic_of_China.svg)). Not only are these nice SVGs, but they carry a public domain copyright for our use.

[2020-01-31 15:44] leecalcote opened #323 "Add Meshery talk: Docker Captains 2020"
**Current Behavior**
A recent Meshery presentation was given to Docker Captains.

Event Name: Docker Captains 2020
Talk title: Meshery - The Multi-Service Mesh Manager
Link to deck: https://calcotestudios.com/talks/decks/slides-docker-captains-2020-meshery-the-multi-service-mesh-manager.html

**Desired Behavior**
This talk should be posted on layer5.io/meshery and docs.meshery.io.

[2020-02-01 03:17] Aisuko commented on #321
As I discussed with @gunjanmimo. I can confirm add Chinese and Japan flags to the site.

[2020-02-01 12:16] #321 closed

[2020-02-01 12:17] leecalcote commented on #318
@Silvyre would you like to take this one on?

[2020-02-01 21:04] Silvyre commented on #318
Definitely.

[2020-02-01 22:02] leecalcote commented on #323
fixed #326

[2020-02-01 22:02] #323 closed

[2020-02-03 17:46] #318 closed

[2020-02-07 12:39] HPrinz opened #331 "Add attribution to Service Mesh Interface compatibility section"
**Current State:**

[meshes.yml](https://github.com/layer5io/layer5/blob/master/_data/landscape/meshes.yml) contains information about Service Mesh Interface compatibility. The content and links seem to be based on data at [servicemesh.es](https://servicemesh.es).

**Desired State:**

All data at servicemesh.es can is meant to be copied and used for any purpose, however the attribution (https://cr

[2020-02-07 14:01] gunjanmimo commented on #331
@HPrinz should I add attribution for every category?

[2020-02-07 15:39] HPrinz commented on #331
Once below the table would be totally sufficient, thanks!
For example "Based on [servicemesh.es](https://servicemesh.es) by [INNOQ](www.innoq.com) / [CC 4.0](https://creativecommons.org/licenses/by/4.0/)"

[2020-02-13 12:56] leecalcote opened #332 ""Performance" button should point to /performance page"
**Current Behavior**
This button in the ecosystem.html page needs its hyperlink updated.

<img width="1156" alt="Screen Shot 2020-02-13 at 6 55 37 AM" src="https://user-images.githubusercontent.com/7570704/74437593-fb031700-4e2d-11ea-9876-ae5bb4f0d180.png">

**Desired Behavior**
Should point to [/performance](https://layer5.io/performance).

[2020-02-13 16:57] #332 closed

[2020-02-17 10:18] Aisuko opened #337 "Deploying Meshery needs to add the option (Use Helm chart)."
**Current State:**

https://meshery.layer5.io/docs/installation/kubernetes#quick-start-with-kubernetes

Only use the .yaml files to deploy meshery

**Desired State:**

Add the option that can deploy meshery by Helm chart. Format like below(Please carefully check Helm v2, I did not did testing for Helm v2)

https://meshery.io/#getting-started

---
**Contributor Resources**
- [Meshery documentation

[2020-02-18 04:29] leecalcote opened #338 "Alphabetize the "Categories" table listings from left-to-right"
**Current Behavior**
The Categories table is alphabetically listing entries from right-to-left, top-to-bottom.

**Desired Behavior**
Ideally, the Categories table alphabetically list entries from left-to-right, top-to-bottom.

[2020-02-19 14:57] gunjanmimo commented on #337
@Aisuko this problem is fixed now, should i close this pr?

[2020-02-20 03:20] Aisuko commented on #337
Thanks, please look at this https://github.com/layer5io/meshery/pull/689#pullrequestreview-360054622

[2020-02-20 05:26] snitin315 opened #339 "Nav links not visible for sub menu dropdown in mobile view"
**Description**
A brief description of the issue.

Nav links not visible for sub menu in mobile view

**Expected Behavior**
A brief description of what you expected to happen.
Should be visible.

**Screenshots**
Add screenshots, if applicable, to help explain your problem.
![Screenshot_2020-02-20-10-52-51-780_com android chrome](https://user-images.githubusercontent.com/46647141/74903633-88ff7480-

[2020-02-20 05:33] leecalcote commented on #339
Good eye, @snitin315. Thanks for jumping in here. 👍

[2020-02-20 05:35] snitin315 commented on #339
@leecalcote Thanks for the complement.  Can I be a member of this organisation on github?

[2020-02-20 07:01] gunjanmimo opened #340 "layer5 menu view not showing all options"
when we use the menu button in small browser window, it's not showing the
![Screenshot from 2020-02-20 12-27-27](https://user-images.githubusercontent.com/46948185/74908711-9e2ed000-53dc-11ea-984d-a448acdac9c4.png)
list of options

[2020-02-20 14:01] leecalcote commented on #340
Duplicate of #339?

[2020-02-21 16:00] gunjanmimo commented on #340
oh, I did not notice. I am closing this pr

[2020-02-24 00:48] leecalcote commented on #285
We need to add a new page on layer5.io that lists out all of Meshery's adapters and describes their features. In the meantime, I've updated the URL in NSM adatper's repo to be https://meshery.layer5.io/docs/adapters/nsm

[2020-02-26 04:48] leecalcote opened #342 "Round corners on page layouts"
**Current Behavior**
Currently, the style of each of the layer5.io pages have sharp corners as highlighted in the screenshot.

**Desired Behavior**
This issue is to enhance the look of the pages by using CSS to slightly round the corners of all of the pages.

**Screenshot**
<img width="1224" alt="Screen Shot 2020-02-25 at 10 45 30 PM" src="https://user-images.githubusercontent.com/7570704/75312885

[2020-02-26 05:03] leecalcote opened #343 "Make language flags responsive"
**Current Behavior**
The language flags do not have a breakpoint similar to the social / contact icons.

**Desired Behavior**
Ideally, the language flags resize at the same breakpoint as does the social / contact icons.

---
**Screenshots**
Full size images:
<img width="524" alt="Screen Shot 2020-02-25 at 11 01 06 PM" src="https://user-images.githubusercontent.com/7570704/75313596-e1e16980-5822-11

[2020-02-26 18:57] #342 closed

[2020-02-27 03:52] leecalcote commented on #339
@supra08 is this something that you might take on?

[2020-03-04 17:40] leecalcote opened #346 "Add language flags to `footer-plain.html`"
**Current Behavior**
Layer5.io has two footers. One of these footers is without the translation capability, which means that if a user has set the site to a certain language and then navigates to a page that is using the footer that doesn't have the language flags (doesn't support translation), that page's content is not translated to the language of the user's choice.

**Desired Behavior**
Add tr

[2020-03-05 04:58] #340 closed

[2020-03-08 15:11] ashiscs commented on #331
@HPrinz sir, is it okay??

[2020-03-08 15:33] HPrinz commented on #331
Yes, thank you

[2020-03-08 16:50] ashiscs commented on #331
Opening this again sir, as the pr is not merged!!

[2020-03-10 13:08] #346 closed

[2020-03-11 05:03] ashiscs commented on #302
@leecalcote sir, this issue is fixed i guess and needs to be closed!!

[2020-03-13 13:34] shivaylamba opened #354 "Various typos across files"
**Description**
Various typos across files in layer5 repo.

**Expected Behavior**
Bug Fixes in Pull request #353
**Screenshots**
![image](https://user-images.githubusercontent.com/19529592/76625461-460f6780-655d-11ea-84d7-0eee54dfe30a.png)

[2020-03-13 20:37] leecalcote opened #355 "News: What the Numbers Say about How Service Meshes Are Used Today"
Add this article to the [_news collection](https://github.com/layer5io/layer5/tree/master/collections/_news) - https://thenewstack.io/what-the-numbers-say-about-how-service-meshes-are-used-today/

[2020-03-13 20:38] leecalcote commented on #354
Quality work, @shivaylamba. 👍

[2020-03-13 20:38] #354 closed

[2020-03-13 20:39] shivaylamba commented on #354
Thankyou @leecote! I hope to improve even further.

[2020-03-13 20:39] leecalcote commented on #148
@tgraf @aanm, it would be great to have you represent Cilium in this landscape.

[2020-03-13 20:40] leecalcote commented on #302
Thank you, @ashiscs

[2020-03-13 20:40] #302 closed

[2020-03-13 20:40] leecalcote commented on #241
I think we're all good here now. 👍

[2020-03-13 20:40] #241 closed

[2020-03-13 20:41] leecalcote commented on #218
Good to go here.

[2020-03-13 20:41] #218 closed

[2020-03-13 20:42] leecalcote commented on #223
@archyufa, quick check - the devfest.cloud-montreal.ca site isn't coming back, is it?

[2020-03-13 20:44] leecalcote commented on #229
Given Tanzu's launch with NSX SM, I think we're ready for the landscape update. @dkalani @venilnoronha you're help here is much appreciated. 👍

[2020-03-13 20:45] leecalcote commented on #337
I think we're good to go here. Please reopen, if not.

[2020-03-13 20:45] #337 closed

[2020-03-13 20:47] leecalcote commented on #171
Hi @subhraveti, does it make sense to list App Switch?

[2020-03-13 20:48] leecalcote commented on #104
Hi @qiangdavidliu, @tbak, it'd be great to have Eureka listed in the landscape. Will you consider adding it using the instructions above?

[2020-03-13 21:13] subhraveti commented on #171
@leecalcote Thanks for resurfacing this.  Yes, please go ahead with it.  The description looks good.

[2020-03-16 23:06] leecalcote commented on #339
I think we have resolved this issue. Here's a screenshot:

<img width="572" alt="Screen Shot 2020-03-16 at 6 06 13 PM" src="https://user-images.githubusercontent.com/7570704/76806960-dabdd380-67b0-11ea-9d44-efc1007415e2.png">

[2020-03-17 01:30] #339 closed

[2020-03-17 15:37] #355 closed

[2020-03-17 22:52] jijillery opened #362 "[Blog] Mobile formatting issue on Deploying Linkerd with Meshery post"
**Description**
The "Deploying Linkerd with Meshery" post by @antweiss has a formatting issue when viewed on a mobile device.

**Expected Behavior**
- Text should not be overlapping.
- Video frame should reduce in size and stay within bounds of its container.

**Screenshots**
![Screenshot_20200312-104002](https://user-images.githubusercontent.com/53885109/76908943-f5a74b00-6877-11ea-8873-f12aa84fe

[2020-03-17 22:56] antweiss commented on #362
@jijillery  thanks for opening the issue! I should've done this myself instead of complaining on Slack 😂

[2020-03-17 23:05] jijillery commented on #362
Ha! 😆

[2020-03-18 13:36] leecalcote opened #363 "List Meshery in CNCF Landscape"
**Current Behavior**
Meshery should be listed in the [CNCF Landscape](https://l.cncf.io) under the "Service Mesh" category.

**Desired Behavior**
1. Meshery must have [300 GitHub stars](https://github.com/layer5io/meshery/stargazers).
1. Follow these [instructions](https://github.com/cncf/landscape#new-entries) to create a pull request, that identifies the category and logo for Meshery.

[2020-03-18 19:39] leecalcote opened #364 "[News] What the Numbers Say about How Service Meshes Are Used Today"
**Description**

The last news item, there is a small bug. If you click on the image in the card, the link is https://layer5.io/news/what-the-numbers-say-about-how-service-meshes-are-used-today, but needs to point to The New Stack (like the small, blue circle button does).

[2020-03-18 19:43] leecalcote commented on #364
Also, the publish date needs updated to 2020.

[2020-03-18 20:05] leecalcote opened #366 "[Meshery] Incorporate clients into architecture diagram"
**Current Behavior**
The [meshery-architecture](https://github.com/layer5io/layer5/blob/master/assets/images/meshery/meshery-architecture.svg) diagram (seen on https://layer5.io/meshery) doesn't include clients in the diagram. Clients of Meshery's API include `mesheryctl`, Meshery UI (web browser), and other programs (scripts).

**Implementation**
1. Update the architecture to include clients in t

[2020-03-18 20:26] leecalcote commented on #366
@Saim-Safdar, you might want to tackle this one.

[2020-03-18 21:10] leecalcote commented on #364
@ashiscs hmm. This behavior isn't quite what we're looking for. It seems that we're going to need to update the logic in https://github.com/layer5io/layer5/blob/master/_includes/collections/news.html to ensure that when an eurl is present that the hyperlink for the image and for the button both direct the user to an external site.

[2020-03-18 21:16] ashiscs commented on #364
Yes sir, i also noticed this thing, will rectify it..

[2020-03-20 01:55] archyufa commented on #223
It is down for now. We going to move to Firebase when start planning next event. For now with COVID it is still question mark if we will do it in 2020 :(

[2020-03-21 13:34] ashiscs opened #370 "Links to posts in /company/news are broken"

[2020-03-21 21:43] ashiscs commented on #364
This is addressed and needs to be closed!!

[2020-03-21 21:43] #364 closed

[2020-03-21 21:56] #331 closed

[2020-03-21 22:14] ashiscs commented on #171
@leecalcote sir, needs your attention here

[2020-03-23 06:47] #370 closed

[2020-03-23 22:50] #171 closed

[2020-03-23 22:51] leecalcote commented on #171
AppSwitch added. Thank you, @subhraveti, @yogi4, @ashiscs!

[2020-03-24 20:12] leecalcote opened #372 "[Landscape] Update Linkerd v2's entry"
**Current Behavior**
- Linkerd v2 uses Jaeger tracing now
 - Multi-cluster is now supported: https://linkerd.io/2020/02/25/multicluster-kubernetes-with-service-mirroring/

**Desired Behavior**
The service mesh landscape should reflect these capabilities.

**Updating the Service Mesh Landscape**
- https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-landscape

[2020-03-25 04:23] leecalcote commented on #366
@Saim-Safdar, the updated diagram from https://github.com/layer5io/meshery/pull/761 can be pulled over here.

[2020-03-26 15:13] ashiscs commented on #372
This issue is fixed and needs to be closed..

[2020-03-26 15:13] #372 closed

[2020-03-26 20:51] leecalcote commented on #338
@Silvyre a few people have commented on readability in this regard. If you have time, the impact of this issue will be meaningful.

[2020-03-28 06:33] leecalcote opened #375 "[GSoC] Update 2020 project idea descriptions"
**Description**
https://layer5.io/gsoc/2020 is outdated.

**Expected Behavior**
Should describe - https://docs.google.com/document/d/1HaCg9Lszmew44HlsNa91TlYhH3Nty2tz4vpuXZk9m_A/edit#

[2020-03-28 19:38] #375 closed

[2020-03-30 19:17] leecalcote opened #377 "HTML tags showing on GSoC 2020 page"
![Screenshot_20200329-165836](https://user-images.githubusercontent.com/7570704/77952414-3ac47780-7291-11ea-9a52-90968877fc2f.jpg)

[2020-03-31 15:49] leecalcote commented on #377
@Sagar2366 the fix for this is up for review.

[2020-03-31 18:32] #377 closed

[2020-04-06 03:07] #366 closed

[2020-04-06 03:08] leecalcote commented on #362
A recent update addressed this issue, I believe. A quick confirmation can be made here - https://layer5.io/blog/deploying-linkerd-with-meshery

[2020-04-06 04:46] kushthedude commented on #362
Yes, I checked it up. Issue is good to be closed !

[2020-04-06 04:46] #362 closed

[2020-04-06 04:53] ashiscs commented on #362
Yes, it looks fine now !!

[2020-04-06 05:13] leecalcote commented on #362
Thank you, gents.

[2020-04-07 02:38] leecalcote opened #382 "[Meshery] Missing Lifecycle and Configuration Management section"
**Description**
The /meshery page is missing a section describing its functionality.

**Screenshots**
<img width="1358" alt="Screen Shot 2020-04-06 at 9 37 37 PM" src="https://user-images.githubusercontent.com/7570704/78624287-e2701580-784e-11ea-813c-04ea10a11d3e.png">

[2020-04-07 02:56] #382 closed

[2020-04-08 20:50] #338 closed

[2020-04-08 21:58] nveenjain commented on #52
Closing in favor of #195, please re-open if required!

[2020-04-08 21:58] #52 closed

[2020-04-23 09:00] Aisuko commented on #363
I'm working on this.

[2020-04-23 10:36] kushthedude commented on #363
@Aisuko Why the meshery logo you used in the PR on CNCF's landscape is different than our default ?

[2020-04-23 10:40] kushthedude commented on #363
<img width="373" alt="Screenshot 2020-04-23 at 4 09 22 PM" src="https://user-images.githubusercontent.com/44091822/80090251-d7babd80-857c-11ea-8d45-6f8ee1660c2a.png">

### This one is quite better than the above
<img width="700" alt="Screenshot 2020-04-23 at 4 09 31 PM" src="https://user-images.githubusercontent.com/44091822/80090257-d9848100-857c-11ea-8c75-59c93bbc9829.png">

[2020-04-23 10:47] kushthedude commented on #363
Here is the logo in SVG Format, if that's the issue .
https://github.com/kushthedude/To-Do-App/blob/development/bin/meshery.svg

[2020-04-23 15:22] kushthedude opened #385 "Prepare for participation in Season Of Docs"
After discussing the potential opportunity for Layer5 to participate in GSoD.

I am glad to announce, Layer5 as an organisation is applying for **[Google Season of Docs 2020](https://developers.google.com/season-of-docs)**.

This will be a tracking issue for the participation of the community in the GSoD -:
- [ ] Prepare the potential idea list for GSoD.
- [ ] Create a GSoD page on layer5.io which

[2020-04-24 18:04] Nikhil-Ladha opened #386 "UI: "Languages" heading not visible"
**Description**
The color of the heading text is set to white for the languages section in the page.
**Expected Behavior**
It should be changed to a visible color similar to the color of other headings.

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPhone 8]

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1.

[2020-04-24 18:09] Nikhil-Ladha opened #387 "UI: Navigation menu in the mobile view shutters on hovering"
**Current Behavior**
In mobile view, on opening the navigation menu and hovering over the options the menu shutters a bit and also the border of the last option is broken.

**Desired Behavior**
The hovering of the options should be smooth.

---

[2020-04-25 22:28] kushthedude opened #392 "GitHub action to check successfull build of website"
I suggest to have a GitHub Action to check successful build of the website.

[2020-04-25 22:29] kushthedude commented on #392
/cc @leecalcote

[2020-04-28 23:18] leecalcote opened #393 "Upgrade Jekyll site to Ruby 2.7.0"
**Current Behavior**
This site runs on Ruby 2.6.5.

**Desired Behavior**
Ruby 2.7.0 is available as a stable release. Ideally, this Jekyll site and the other Jekyll-based project sites are upgraded to use 2.7.0.

**Related Issues**
- meshery.io: https://github.com/layer5io/meshery.io/issues/170
- meshery docs: https://github.com/layer5io/meshery/issues/929

[2020-04-29 15:54] leecalcote opened #394 "Broken link to GitHub "fork me" image"
**Description**
<img width="1320" alt="Screen Shot 2020-04-29 at 8 16 47 AM" src="https://user-images.githubusercontent.com/7570704/80617488-cacc1d00-8a07-11ea-8e93-3f10a966d4d7.png">

[2020-04-30 00:27] aayushdutt opened #396 "'/landscape': Sorting incorrect table"
**Description**
The service Mesh Interface Compatibility table's sort functionality is not working properly. When trying to sort its columns, it goes ahead to sort the table just above it.

**Expected Behavior**
Sort functionality of the table should work well.

**Screenshots**
![image](https://user-images.githubusercontent.com/25280541/80659694-4c26bc80-8aa7-11ea-83c4-6d3abc93d5dc.png)

**Envirom

[2020-04-30 00:28] aayushdutt opened #397 "'/landscape': Footer not spanning the entire width"
**Description**
Unlike the homepage (`/`), the footer on `/landscape` doesn't span the entire width of the page.

![image](https://user-images.githubusercontent.com/25280541/80659811-a45dbe80-8aa7-11ea-9c04-bb7ae8d5a3a3.png)

[2020-04-30 00:43] aayushdutt opened #398 "Button's animation doesn't feel right"
**Description**
Don't know if it's just me. I think the button on hover should lift up (like other websites). Currently,
 the behavior is that it it's elevation decreases on hover.

**Expected Behavior**
It might be better if instead of decreasing the elevation, we increase it (like other websites).

![image](https://user-images.githubusercontent.com/25280541/80660616-dc660100-8aa9-11ea-819b-ad047

[2020-04-30 00:43] aayushdutt commented on #398
This might be just me. What do you think @leecalcote ?

[2020-04-30 00:45] aayushdutt commented on #398
Here is a good example of it: https://bejamas.io/

[2020-04-30 09:48] leecalcote opened #399 "Publish additional Meshery Architecture slides"
**Current State:**
The [Architecture page](https://meshery.layer5.io/docs/architecture) only has one diagram. There are multiple diagrams of Meshery's architecture depending upon your vantage point.

**Desired State:**
- Each of the architecture diagrams in the Meshery Architecture deck (slides 3 through 5 of the [Meshery Architecture deck](https://docs.google.com/presentation/d/1SQMfyu5shjpGKlYON

[2020-04-30 09:50] leecalcote commented on #397
Good eye, @aayushdutt

[2020-04-30 09:52] leecalcote commented on #399
https://layer5.io/programs is up now.

[2020-04-30 17:28] Nikhil-Ladha commented on #398
Well, @aayushdutt  you are correct at your part. But, if everyone does the same thing then there will be no newness in anything. The current animation in layer5.io site is rather interesting and good (my perspective only), it indicates a sense of pressure applied on the image when hovered over it. Any suggestions @leecalcote sir?

[2020-04-30 17:31] Nikhil-Ladha commented on #394
Only one of the link is broken, and that too I suppose the link to fork shouldn't be there in the the "Benchmark and Performance Specification" section. What do you say @leecalcote sir?

[2020-04-30 17:34] aayushdutt opened #400 "Vertical scollbar not showing up in homepage"
The vertical scrollbar is not showing up in http://layer5.io/. Also, there is a horizontal scrollbar present which is not required.

[2020-04-30 17:49] Nikhil-Ladha commented on #386
#389 fixes the issue.

[2020-04-30 17:49] #386 closed

[2020-04-30 18:19] ashiscs commented on #398
Totally agree (my opinion though) !!

[2020-05-01 06:09] leecalcote commented on #399
@manishdangi98, this has your name all over it. ;)

[2020-05-01 06:20] leecalcote commented on #398
This is an interesting thought. I can't say that I've a real strong opinion here.

On one hand consistency of experience is key to users feeling like your site / your software is intuitive. This consistency is a consideration both within the confines of your software and across other software individuals use.

On the other hand if we never evolve software UX, user interfaces will be boring and sta

[2020-05-01 06:53] aayushdutt opened #403 "Make all cards in a row of same height across the website"
**Description**
Currently, the height of elements, especially cards, are not the same.
Some examples:
1. https://layer5.io/books
2. https://layer5.io/programs
3. https://layer5.io/projects (not centred)

**Expected Behavior**
All cards should be centred and have consistent height.

[2020-05-01 14:20] leecalcote opened #406 "Update CommunityBridge description with SMI Conformance work"
**Current Behavior**
This page - https://layer5.io/communitybridge/2020 - needs updated with this description:

https://github.com/cncf/mentoring/blob/master/communitybridge/2020/q2/project_ideas.md#service-mesh-interface

[2020-05-01 14:20] leecalcote commented on #406
@vinayakshnd would you mind making this update?

[2020-05-01 21:16] #387 closed

[2020-05-02 00:04] aayushdutt opened #407 "Setup prettier"
**Current Behavior**
The repository contains a lot of invalid and unformatted files. This makes it hard to maintain.

**Desired Behavior**
It will be great to set up prettier (and maybe husky) to ensure the files are formatted and valid.

[2020-05-02 00:16] #397 closed

[2020-05-05 11:35] leecalcote commented on #394
@Nikhil-Ladha you're right that the title of the Benchmark section should be updated to "Service Mesh Performance Specification" and the hyperlink should either point to https://layer5.io/performance or to https://github.com/layer5io/service-mesh-performance-specification. // @kanishkarj

[2020-05-05 11:43] kanishkarj commented on #394
https://github.com/layer5io/service-mesh-performance-specification

This makes more sense here.

[2020-05-05 12:05] Nikhil-Ladha commented on #394
Yes, I think @kanishkarj has a good suggestion!

[2020-05-05 12:45] leecalcote commented on #394
The "fork me" link pointing to GitHub certainly does, yes.

@kanishkarj as SMPS unfolds, we'll want to get a better description going on layer5.io/performance.

[2020-05-05 13:24] kanishkarj commented on #394
Agree! We should should, maybe we should be an open issue labelled todo or something so that it stays in our minds.

[2020-05-13 00:47] leecalcote opened #411 "Add CommunityBridge next to GSoC"
**Current Behavior**
Layer5 is participating in CommunityBridge.

**Desired Behavior**
Let's have a listing of this program next to the GSoC program.
<img width="905" alt="Screen Shot 2020-05-12 at 7 43 51 PM" src="https://user-images.githubusercontent.com/7570704/81759116-6ab68b80-9489-11ea-8a5d-e9f1a4bfb254.png">

[2020-05-13 01:16] leecalcote opened #412 "[Talk] Add Open Source 101 at Home to workshops page"
**Current Behavior**
A talk on Meshery was given at Open Source 101 at Home - "Solving the Service Mesh Adopter’s Dilemma"

**Desired Behavior**

This talk should be added to https://layer5.io/workshops and https://layer5.io/meshery

- Deck - https://calcotestudios.com/talks/decks/slides-open-source-101-at-home-solving-the-service-mesh-adopters-dilemma.html
- Event - https://opensource101.com/sess

[2020-05-13 13:28] leecalcote opened #414 "Switch to relative URLs in the /programs cards"
**Current Behavior**
The absolute URLs used on the cards in https://layer5.io/programs, prevents PR reviewers from easily navigating to deployment previews created by Netlify.

**Desired Behavior**
These URLs should be relative paths so that reviewers may see changes in a deployment preview before merging a PR.

[2020-05-13 13:51] leecalcote opened #415 "[Landscape] Add Nighthawk to list of load generators in Service Mesh Landscape"
**Current State:**
Nighthawk is a L7 (HTTP/HTTPS/HTTP2) performance characterization tool.

**Desired State:**
Nighthawk should be included in the service mesh landscape under the [tools section](https://layer5.io/landscape#tools).

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mesh-land

[2020-05-13 15:35] leecalcote opened #416 "[Landscape] Add Vegeta to Tools section of Service Mesh Landscape"
**Current State:**
Vegeta is a L7 (HTTP/HTTPS/HTTP2) performance characterization tool.

**Desired State:**
Vegeta should be included in the service mesh landscape under the [tools section](https://layer5.io/landscape#tools).

Related to https://github.com/tsenart/vegeta/issues/510

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/ma

[2020-05-13 15:40] leecalcote commented on #415
@mum4k thanks for considering getting Nighthawk represented [here](https://layer5.io/landscape#tools). We encourage representatives of the projects/products in the landscape to [curate and maintain](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mesh-landscape) their listings so as to guarantee their freshness and accuracy of representation.

// @kushthedude @D

[2020-05-13 15:42] leecalcote opened #417 "[Landscape] Add Locust to the Tools section of the Service Mesh Landscape"
**Current State:**
Locust is a python-based an open source, distributed load testing tool.

**Desired State:**
Locust should be included in the service mesh landscape under the [tools section](https://layer5.io/landscape#tools).

Related to https://github.com/tsenart/vegeta/issues/510

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob

[2020-05-13 16:28] mum4k commented on #415
Thanks for reaching out, I will on on vacation for a few days, so will get in touch sometime in the next two weeks.

[2020-05-13 21:02] #403 closed

[2020-05-19 17:57] leecalcote commented on #412
Recording is now available - https://www.youtube.com/watch?v=Q1zSWbO0RmI&list=PL3A-A6hPO2IN_HSU0pSfijBboiHggs5mC&index=2&t=0s

[2020-05-19 17:58] leecalcote commented on #412
@Vineet-Sharma29 you might consider grabbing this issue. This talk should be added to:

- layer5.io/meshery
- docs.meshery.io
----
We may want to create a new section for presentations on this site:
- meshery.io

[2020-05-19 18:11] Vineet-Sharma29 commented on #412
Would take work on this

[2020-05-20 17:48] leecalcote opened #422 "[News] Vendors make a splash in 2019 service mesh implementation rush"
**Current State:**
An article on Meshery was published - https://searchapparchitecture.techtarget.com/feature/Vendors-make-a-splash-in-2019-service-mesh-implementation-rush

**Desired State:**
The __Vendors make a splash in 2019 service mesh implementation rush__ article should be listed in the /news section.

---
**Contributor Resources**
- [Instructions for adding news items](https://github.com/

[2020-05-20 18:04] Vineet-Sharma29 commented on #412
@leecalcote can you tell at what time the event was? At present i have set the time to `2020-05-12 +0000` without specific hours

[2020-05-20 18:43] ashiscs commented on #412
11:00 AM – 5:00 PM EDT

[2020-05-20 18:50] Vineet-Sharma29 commented on #412
Is it starting at 11:00 AM EDT?

[2020-05-20 18:55] ashiscs commented on #412
@Vineet-Sharma29 yes the event started from 11:00 AM EDT !
Confirmation from @leecalcote sir will mark it's approval

[2020-05-20 18:56] Vineet-Sharma29 commented on #412
@ashiscs Ok. Thanks!!!!

[2020-05-20 18:57] leecalcote commented on #412
Spot on. The event started a little later in the day, I think so as to accommodate those in the Pacific time zone.

[2020-05-21 14:21] #412 closed

[2020-06-01 13:51] leecalcote commented on #363
Listed! 🎈 https://landscape.cncf.io/category=service-mesh&format=card-mode&grouping=category&selected=meshery

[2020-06-01 13:51] #363 closed

[2020-06-01 13:51] leecalcote opened #428 "[News] Meshery listed in CNCF Landscape"
Meshery is now listed in the CNCF Landscape. A new [News article](https://layer5.io/news) should be created to highlight this milestone.

**Article:**
- Title: Meshery accepted into CNCF Landscape
- Link: https://landscape.cncf.io/category=service-mesh&format=card-mode&grouping=category&selected=meshery

**Contributor Resources**
- [Instructions for updating news items](https://github.com/layer5io

[2020-06-01 14:20] leecalcote commented on #422
@Vineet-Sharma29 Would you like to take this one?

[2020-06-01 14:20] leecalcote commented on #428
@NupurThakur27 would you like to take this one?

[2020-06-01 14:21] leecalcote commented on #411
@aayushdutt would you like to knock this one out?

[2020-06-01 14:22] leecalcote commented on #399
Thank you, @manishdangi98

[2020-06-01 14:22] #399 closed

[2020-06-01 14:23] leecalcote commented on #393
I think we're good to go here. Thank you, @rubenlorenzo

[2020-06-01 14:23] #393 closed

[2020-06-01 14:25] Vineet-Sharma29 commented on #422
Would work on it

[2020-06-01 15:04] NupurThakur27 commented on #428
@leecalcote Yes. I would.

[2020-06-01 16:17] leecalcote commented on #385
@kushthedude as we go to close out this issue, will you ensure that we have captured our program proposal in a google doc?

[2020-06-01 17:34] kushthedude commented on #385
We already have captured our proposal in google doc, as far as I remember.

[2020-06-01 17:37] leecalcote commented on #385
Found it! Thank you, @kushthedude. Let's earmark the calendar for participation next year.

[2020-06-01 17:37] #385 closed

[2020-06-01 20:48] #394 closed

[2020-06-02 13:25] #343 closed

[2020-06-02 13:29] Nikhil-Ladha commented on #343
@sarthakpranesh, please assign an issue to yourself before taking up one, so that there isn't any misunderstanding in future. And if it's assigned to someone else, do ask them once before working on that 🙂

[2020-06-02 13:32] leecalcote commented on #343
@sarthakpranesh, it's fantastic of you to lend a hand here. It looks like React, Go and many of the technologies that we focus on the Layer5 community are of interest to you. We would love to have you join --> http://slack.layer5.io. Please do. 👍

[2020-06-02 13:35] #422 closed

[2020-06-02 13:36] sarthakpranesh commented on #343
@leecalcote, I'll be most pleased to join :smile:

[2020-06-04 06:56] #417 closed

[2020-06-04 07:00] #415 closed

[2020-06-04 22:32] leecalcote opened #433 "Describe Layer5 MeshMates program"
**Current Behavior**
A description of this community member on boarding program would be fantastic to have here https://layer5.io/community as a new section.

**Layer5 MeshMates**
_a community member onboarding program_
https://docs.google.com/document/d/1vquQMD0TTWREahpx_JXuvIbQ4hM2_4jrVFk8xqZ72ok/edit#heading=h.2d4d7xa10wdl

[2020-06-05 04:45] Vineet-Sharma29 commented on #433
Would work on it

[2020-06-05 04:45] leecalcote commented on #433
Thank you, @Vineet-Sharma29

[2020-06-05 06:51] #433 closed

[2020-06-05 06:57] leecalcote opened #435 "Page listing individual MeshMates"
**Desired Behavior**
I would also be nice to have a page dedicated to MeshMates (e.g. /community/meshmates) and to have the community member profiles of those individuals sourced from the Meshery.io profiles.

[2020-06-06 15:07] #406 closed

[2020-06-07 12:25] sarthakpranesh commented on #400
Hey @aayushdutt, I followed your link to the production website looks like it's already fixed :smile:

[2020-06-07 13:39] leecalcote opened #437 "Invitation to the Layer5 community for vishakh-10"
Hi @vishakh-10, if you’re interested, I welcome you to jump into the community Slack (http://slack.layer5.io). It’s a warm and welcoming community. We would love to have you.

[2020-06-08 14:57] leecalcote opened #439 "[Meshery] Refresh the clipboard icon for copying code snippets"
**Current Behavior**
The clipboard icon on https://layer5.io/meshery is dated. Let's refresh with a softer version.

**Desired Behavior**
Use font awesome's "copy" icon - https://fontawesome.com/icons/copy?style=regular

[2020-06-08 16:42] #428 closed

[2020-06-11 07:17] sarthakpranesh commented on #400
Hey @aayushdutt @Nikhil-Ladha, I looked into this a bit more. It turns out this bug doesn't show up in Firefox but was able to reproduce this on Chromium.
I'll like to take up this issue if no one is already working on it :sweat_smile:

[2020-06-11 07:45] Nikhil-Ladha commented on #400
Yes, please @sarthakpranesh. Go ahead, 👍🏼

[2020-06-13 21:08] leecalcote opened #447 "[Slack] Create subscription checkboxes for new Slack user signups"
**Current Behavior**
The http://slack.layer5.io sign up form does not provide users the option to subscribe to the community mailing list (https://layer5.io/subscribe).

**Desired Behavior**
Offer a checkbox to allow users to subscribe to the community mailing list like the two subscription checkboxes offered on the Linkerd Slack signup:

<img width="443" alt="Screen Shot 2020-06-13 at 4 05 36 PM"

[2020-06-15 16:22] leecalcote opened #448 "Add description of Image Hub to README"
**Current Behavior**
The [project section](https://github.com/layer5io/layer5#projects) of Layer5 repo's readme is missing a description of the [Image Hub](https://github.com/layer5io/image-hub).

**Desired Behavior**
The Image Hub logo and short description should be present.

[2020-06-16 00:24] leecalcote opened #449 "Create intro and outro video animation"
**Current Behavior**
There are many videos produced by the community, which are made available on the [Layer5 YouTube channel](https://www.youtube.com/channel/UCFL1af7_wdnhHXL1InzaMvA?sub_confirmation=1).

**Desired Behavior**
Each of these videos would be well-served by a custom intro and outro animated video with jingle.

[2020-06-16 00:28] leecalcote commented on #449
@Tanuj22 👍

[2020-06-16 03:18] #400 closed

[2020-06-17 18:25] chandrashritii commented on #448
Hey @leecalcote
I cannot find any official page dedicated to Image Hub on the [Layer5](https://layer5.io/) website. Should a link to the [Image Hub](https://github.com/layer5io/image-hub) repo be added in the description?

[2020-06-17 18:38] leecalcote commented on #448
Hi @chandrashritii! Thank you for jumping in here. 👍

You're right. The Image Hub project is only to be found on the https://layer5.io/brand page at the moment. We're in need of a new entry in the [`projects` collection](https://github.com/layer5io/layer5/tree/master/collections/_projects) being created for the Image Hub project.

Unlike the other three projects currently listed, the permalink to

[2020-06-17 18:39] leecalcote commented on #448
Also, in case you haven't joined this Slack workspace, yet, please do! 👍 http://slack.layer5.io

[2020-06-18 21:52] chandrashritii commented on #448
@leecalcote Thank you so much for explaining! Please review #450
Also, thanks for the tip. I joined the Slack workspace :)

[2020-06-19 00:40] chandrashritii commented on #447
@leecalcote Could you shed some light on where I could find the source file or how I can edit the slack sign up form?
I made and built the changes locally. I'm attaching a screenshot to show the effect.

![Screenshot_2020-06-19 Join Layer5 on Slack ](https://user-images.githubusercontent.com/34476976/85084740-4f127380-b1f3-11ea-9095-6e7911675877.png)

[2020-06-19 00:51] leecalcote commented on #447
Oh, perfect. Yes, this change will be done a little differently than almost all others across our projects. This is an instance of [slackin](https://github.com/rauchg/slackin) and is running in a free dyno on Heroku. It's been too long since this deployment has been touched. Let dig up and get you these details.

[2020-06-19 08:33] chandrashritii commented on #447
@leecalcote
Any idea where I could find details (links, config files etc.) about the dyno used on Heroku?

I looked up slackin and found a [slackin-extended](https://github.com/emedvedev/slackin-extended) version of the original slackin repo, which seems to be a better idea.
Following the Readme instructions should help us set up a new sign up form with the added subscription checkbox and any othe

[2020-06-19 11:41] leecalcote commented on #448
Nice work, @chandrashritii 😀

[2020-06-19 11:41] #448 closed

[2020-06-19 12:02] kushthedude commented on #411
Fixed!

[2020-06-19 12:02] #411 closed

[2020-06-19 12:55] leecalcote commented on #411
@kushthedude, we can revive GSoD now.

[2020-06-19 13:17] kushthedude commented on #411
Yes indeed!

[2020-06-19 13:25] kushthedude opened #451 "GSoD : Revive the content navigator for GSoD-2020"
**Description**

We are in GSoD with the umbrella organisation as CNCF, it would be great to revive the GSoD content.

**Expected Behavior**

In #441, we removed the GSoD links from homepage & footer. We need to revert them back.

---

[Optional] **Additional Context**

See https://github.com/layer5io/layer5/pull/441, also we don't need to add back the MLH Program we just need GSoD back.

[2020-06-19 13:27] kushthedude commented on #451
Hey @chandrashritii, would you like to have this fixed?

[2020-06-19 13:51] leecalcote commented on #447
@chandrashritii great suggestion on use of slackin-extended. Let's do it. Yes, I have a legacy Slack token waiting for you. 👍

[2020-06-19 17:57] Tanuj22 commented on #451
@kushthedude Can I work on this?

[2020-06-19 18:24] kushthedude commented on #451
Please go ahead @Tanuj22

[2020-06-19 19:41] Tanuj22 commented on #451
@kushthedude  I think I need a white logo for the button. Where can I get that?
![Screenshot from 2020-06-20 01-07-52](https://user-images.githubusercontent.com/42486853/85174400-e975c400-b292-11ea-88bd-68a38b8738e9.png)

[2020-06-19 20:28] kushthedude commented on #451
^^ @leecalcote

[2020-06-20 14:45] chandrashritii commented on #435
@leecalcote I would love to work on this. The page would include -
1. An explanation about the Meshmates program.
2. A link to the MeshMates welcome doc
3. The community member profiles of the mentors, sourced from [meshery.io](https://meshery.io/community/)

Am I missing something?

[2020-06-21 23:02] chandrashritii commented on #447
@leecalcote Slack doesn't support generating new API legacy tokens anymore. It instead only allows the creation of Slack apps (refer ~ [Legacy-tokens/Slack](https://api.slack.com/legacy/custom-integrations/legacy-tokens)). A new Legacy token is a requirement for `slackin`, which is why deploying through Heroku isn't possible.
This is an official [issue](https://github.com/rauchg/slackin/issues/416

[2020-06-22 00:17] kushthedude commented on #447
A better option, let's fork the slackin repository and make changes according to our need. I went through the code and it's pretty much a traditional spa with gulp.

[2020-06-22 16:25] leecalcote commented on #447
Given today's discussion, let's set aside this request for the time being. Thank you for digging into this, @chandrashritii.

[2020-06-22 16:25] #447 closed

[2020-06-22 16:41] leecalcote commented on #451
@Tanuj22 will you give this SVG a try?

https://github.com/layer5io/layer5/blob/master/assets/images/buttons/gsod.svg

[2020-06-22 18:16] Tanuj22 commented on #451
Yes I am no it

[2020-06-22 19:05] #451 closed

[2020-06-22 19:56] kumarabd commented on #414
@leecalcote I would be interested to work on this issue, however I am pretty new to this community. Can someone give me some initial leads on this? I understood that the cards on the above URL is to be replaced with relative URLs. But where do I get started with and what are the information we have before hand? It would be great if someone helps me in kickstarting. Thanks.

[2020-06-22 20:15] Nikhil-Ladha commented on #414
Hi @kumarabd. I was just looking into this issue a few moments earlier before you came up. You can find the files for the programs in the _collections/ directory. And the program page itself is the _includes/collections/programs.html file. Try to go through it and see how you can solve it. Feel free to ping me if you need anything 🙂.

[2020-06-23 23:46] leecalcote opened #454 "[Partners] Add link to Ashis's post in the "Learn more" link under UEM Jaipur"
**Current Behavior**
Enhance https://layer5.io/partners to include - https://uem.edu.in/blog/what-is-open-source/

[2020-06-25 00:39] leecalcote commented on #454
Let's also add a link to this post next to the UEM Jaipur flyer here - https://layer5.io/careers/internships

[2020-06-25 00:40] #437 closed

[2020-06-25 00:40] leecalcote commented on #435
@chandrashritii fantastic. No, you're spot on here. 👍

[2020-06-25 00:41] leecalcote commented on #398
@aayushdutt yes, please do execute this change, if you can.

[2020-06-25 00:42] leecalcote commented on #287
Thank you, @NupurThakur27 !

[2020-06-25 00:42] #287 closed

[2020-06-25 00:43] leecalcote commented on #229
@sergiopozoh any takers? ;)

[2020-06-25 00:43] leecalcote commented on #449
@Tanuj22, you knocked this one out of the park. Thank you!Q

[2020-06-25 00:44] #449 closed

[2020-06-25 00:49] #61 closed

[2020-06-25 00:50] leecalcote commented on #78
Thank you for this, @rvansa

[2020-06-25 00:50] #78 closed

[2020-06-25 01:28] leecalcote opened #455 "Restructure internship Programs buttons"
**Current Behavior**
In [index.html](https://github.com/layer5io/layer5/blob/master/index.html), the following buttons are defined and shown:

<img width="778" alt="Screen Shot 2020-06-24 at 7 34 39 PM" src="https://user-images.githubusercontent.com/7570704/85642825-2279b400-b658-11ea-84a4-ab4767fe3af3.png">

**Desired Behavior**

Rearrange like so:

![Screen-Shot-2020-06-24-at-7 34 39-PM](https:/

[2020-06-25 23:49] chandrashritii commented on #435
Hey @leecalcote
The [MeshMates welcome doc](https://docs.google.com/document/d/1vquQMD0TTWREahpx_JXuvIbQ4hM2_4jrVFk8xqZ72ok/edit) is currently set to `Restricted: Only people added can open with this link`. In order for a working link to be added to the MeshMates page, the sharing option should be changed to `anybody with the link`. Can that be done?

[2020-06-30 02:39] leecalcote opened #504 "[NG] Create GitHub workflow for building site and publishing site"
Potentially use this or another GitHub action - https://github.com/marketplace/actions/gatsby-publish

[2020-07-03 07:49] kumarabd commented on #414
@leecalcote  Lets close this? As this does not require any changes.

[2020-07-03 13:54] leecalcote commented on #414
@Nikhil-Ladha this is something of a curious issue. Will you have a look at @kumarabd's changes in this PR (https://github.com/layer5io/layer5/pull/459) and the Netlify deployment preview?

[2020-07-04 08:29] ashiscs commented on #167
I guess this issue needs to be closed now

[2020-07-04 08:54] NupurThakur27 opened #461 "Restructure CommunityBridge Button"
**Description**
Currently the button of Community Bridge looks odd one out of The Buttons added on the site like GSOC 2020, GSOD 2020, Layer5 etc., As in all the buttons here there is logo and then text whereas for Community Bridge the logo itself have text.

**Expected Behavior**
All the buttons should look alike. So for that SVG needs to be updated for the Community Bridge logo. And the text sho

[2020-07-06 15:16] Neilblaze commented on #455
@leecalcote can you assign me this?

[2020-07-06 15:45] NupurThakur27 commented on #455
Hey @Neilblaze, It would be great if you work on it. Also from next time Feel free to self assign any issue. :smiley:

[2020-07-06 15:58] leecalcote commented on #455
Awesome. Thank you for jumping in, @Neilblaze. As you dig in here, I encourage you to join the Layer5 community - http://slack.layer5.io. Say "hi" when you do. 😄

[2020-07-06 16:24] Neilblaze commented on #455
Sure, would love to 😃 @NupurThakur27 .

[2020-07-06 23:01] Tanuj22 opened #465 "Remove Inline styles from Blogs"
**Description**
The blogs contain a lot of inline styles. They should be removed and kept in a separate file.

**Expected Behavior**
Separate CSS file for the styles in the blogs

[2020-07-07 05:53] chandrashritii commented on #435
@leecalcote This has been solved. The issue should be closed.

[2020-07-08 13:45] #454 closed

[2020-07-09 09:52] kushthedude commented on #151
@leecalcote I guess this is good to be closed 😄

[2020-07-09 09:52] #151 closed

[2020-07-09 13:55] leecalcote opened #467 "Upgrade to Jekyll 4.0.1"
**Current State:**
The layer5.io site is running Jekyll 4.0.0.

**Desired State:**
The layer5.io site needs to be updated to Jekyll 4.0.1.

[2020-07-09 14:00] leecalcote commented on #467
@morrme, to knock this one out, you'll make a quick update in the [Gemfile](https://github.com/layer5io/layer5/blob/master/Gemfile), then build and verify that the site works.

[2020-07-09 14:09] morrme commented on #467
@leecalcote Thanks but I believe @kushthedude  has reassigned these to someone else. :)

[2020-07-09 14:15] kushthedude commented on #467
Hi @morrme that issue was in meshery.io & this is an indifferent repo, you are welcome to knock this out!

[2020-07-09 14:21] morrme commented on #467
@kushthedude @leecalcote That's totally fine, no worries.  I'm glad I was able to help with other issues.

[2020-07-09 14:23] leecalcote commented on #467
FYI -  It's a slight bit confusing, but there are three sites currently in the community that are running on Jekyll:

- meshery.io
- layer5.io
- docs.meshery.io

[2020-07-09 14:26] #465 closed

[2020-07-09 15:56] morrme commented on #467
@leecalcote not confusing at all! I just think you may have people better suited to assist.

[2020-07-09 17:01] #461 closed

[2020-07-09 17:38] leecalcote commented on #223
@chandrashritii the link to the event can be removed.

[2020-07-09 17:39] leecalcote commented on #167
Kuma is now incorporated into the landscape.

[2020-07-09 17:39] #167 closed

[2020-07-09 17:40] #165 closed

[2020-07-09 17:41] leecalcote commented on #285
Good eye, @Aisuko. The hyperlink on the meshery-nsm repo has been updated to point to https://docs.meshery.io

[2020-07-09 17:41] #285 closed

[2020-07-09 17:42] leecalcote commented on #101
Much appreciated, @michaelspedersen. 👍

[2020-07-09 17:42] #101 closed

[2020-07-09 17:42] leecalcote commented on #90
Much appreciated, @Joseph-Irving. 👍

[2020-07-09 17:42] #90 closed

[2020-07-09 17:42] #53 closed

[2020-07-09 17:43] leecalcote commented on #148
@tgraf @aanm, any interest here?

[2020-07-09 17:43] #149 closed

[2020-07-09 17:44] #414 closed

[2020-07-10 09:48] kushthedude commented on #467
@crustyy would you like to fix this one too?

[2020-07-10 10:02] crustyy commented on #467
yes i'll take it :)!!

[2020-07-10 10:49] #223 closed

[2020-07-10 13:52] #467 closed

[2020-07-10 20:36] crustyy commented on #455
Is anyone working on this issue?

[2020-07-10 20:51] leecalcote opened #470 "Create a PULL_REQUEST_TEMPLATE.md"
**Current Behavior**
This repo is missing a template to present to contributors when they create a PR.

**Desired Behavior**
Using https://github.com/layer5io/service-mesh-performance-specification/blob/master/.github/PULL_REQUEST_TEMPLATE.md as a template (can simply copy this file), create a PULL_REQUEST_TEMPLATE.md in the .github folder of this repo.

[2020-07-10 21:06] HarshKapadia2 commented on #470
Hey can I try to handle this issue?

[2020-07-10 21:07] leecalcote commented on #470
@HarshKapadia2 yes, please, that would be wonderful.

[2020-07-10 21:14] leecalcote opened #471 "Include instructions on signing commits in the CONTRIBUTING.md"
**Current Behavior**
The [CONTRIBUTING.md](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) in this repo is missing an explanation and instructions on signing off on commits.

**Desired Behavior**
A copy of the same instructions from the Meshery repo's CONTRIBUTING.md's [section on signing commits](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#signing-off-on-commit

[2020-07-10 21:14] HarshKapadia2 commented on #470
How do you want me to handle the `signed commits` part of the template that you linked?
That part doesn't exist in the `CONTRIBUTING.md` of this repo.

[2020-07-10 21:20] leecalcote commented on #470
Oh, great question, @HarshKapadia2. Perhaps, you'd like to knock both of these issues - https://github.com/layer5io/layer5/issues/471

[2020-07-10 21:33] HarshKapadia2 commented on #470
Alright! Do assign me to that issue as well! 😄

[2020-07-10 21:33] HarshKapadia2 commented on #471
On it!

[2020-07-10 21:37] leecalcote commented on #471
Very good! 😄

[2020-07-10 21:38] leecalcote commented on #471
@HarshKapadia2 assuming that you find this and other [Layer5 Projects](https://layer5.io/projects) of interest, I welcome you to join the community here - http://slack.layer5.io. 👍

[2020-07-11 12:28] Neilblaze commented on #455
@crustyy I'm :)

[2020-07-15 13:27] chandrashritii opened #477 "[NG] Identify the React component for interactive tables."
**Description**

Locate the React component utilized to make the tables on the [Landscape](https://layer5.io/landscape) page interactive and responsive.

[2020-07-15 14:00] chandrashritii opened #478 "[NG] Identify the tags that can be migrated to the Layer5-ng site"
**Description**

Identify and make a list of the tags which will map from the Layer5 site to the Appion theme (Layer5-ng).

[2020-07-15 14:01] chandrashritii opened #479 "[NG] Identify a way for deployment to Github pages."
**Description**

Map out an approach for deployment to Github pages for the Layer5-ng site.

[2020-07-15 14:03] chandrashritii opened #480 "[NG] Revise CONTRIBUTING.md"
**Description**

Revise the contributor's guide to highlight the changes caused by the shift from Jekyll to Gatsby.

[2020-07-15 14:05] chandrashritii opened #481 "[NG] Identify all React plugins"
**Description**

Identify and make a list of all the React components currently used by the Layer5 site to prepare for the migration to Layer5-ng.

[2020-07-15 14:14] Nikhil-Ladha commented on #481
The present Layer5 site is a Jekyll site. So, I don't get the purpose of the issue? @chandrashritii if you can explain a bit more?

[2020-07-16 05:30] leecalcote opened #482 "Create new project card for "Service Mesh Distributed Performance Management""
**Current Situation**

@kushthedude is working through a Google Summer of Code internship that is focused on incorporating Envoy proxy's Nighthawk load generator into Meshery. We are missing a [project page](https://layer5.io/projects) that describes this.

**Implementation**

- This is the start to a project page (it began as a copy of the SMI project page) -
https://github.com/layer5io/layer5/bl

[2020-07-16 10:00] Jashpatel1 commented on #482
@leecalcote I would like to work on this issue.

[2020-07-16 10:00] Jashpatel1 commented on #482
@leecalcote I would like to work on this issue.

[2020-07-16 10:52] kushthedude commented on #482
Sure go ahead @Jashpatel1 , ping me if you need more details about the content that needs to be exposed through the card.

[2020-07-16 11:59] kushthedude opened #507 "[NG]Add ES-lint in the repository"
**Description**
Add ES-lint in the repository

----
**Resources**
[Gatsby with ESLint](https://www.gatsbyjs.org/docs/eslint/)
[A blog on ESLint with Gatsby](https://dev.to/peshov/how-to-setup-gatsbyjs-starter-with-typescript-eslint-prettier-4jh3)
[ESLint Official Docs](https://eslint.org/docs/user-guide/getting-started)

**Additional Notes**
After invoking the ES-Lint we would probably want to hav

[2020-07-16 21:44] chandrashritii opened #489 "Create project card and page for "Image Hub""
Image hub needs to be represented as a project on the [Layer5 site](https://layer5.io/projects). Currently, it is only mentioned in the [README](https://github.com/layer5io/layer5#image-hub).

**Tasks**

- [ ] A new [project page](https://layer5.io/projects) should be added, with a description of the Image hub project and its logo.
- [ ] A project card should also be added here - https://layer5.io

[2020-07-16 21:56] leecalcote commented on #489
I wonder... does @chandrashritii ever sleep? 😉

[2020-07-17 14:46] Jashpatel1 commented on #489
@chandrashritii  Yaa sure.

[2020-07-17 19:54] kushthedude commented on #489
Hey @chandrashritii , Do we really need this, as Image Hub is a sample application for consul (soon to be for other adapters)? I think we should just represent our signature project on the project page, one of which could be Learn-Layer5 once completed.

[2020-07-19 13:10] Jashpatel1 commented on #480
@chandrashritii Does it mean to add another section in CONTRIBUTING.md regarding contributing to layer5-ng or replace the existing one?

[2020-07-19 22:38] chandrashritii commented on #489
@kushthedude The basic plan is to have a project page for both, Image hub and Learn-Layer5 in time and then migrating them to the layer5-ng site. Perhaps @leecalcote can explain this better.

[2020-07-19 23:38] #489 closed

[2020-07-20 00:45] #482 closed

[2020-07-20 13:08] chandrashritii commented on #480
@Jashpatel1 We intend to update the original instructions here. This will actually require a little more context. Let's instead get you on one of the other open issues

[2020-07-20 13:53] leecalcote opened #501 "[NG] Add Testimonial from HPE Labs, Cloudless"
**Current Behavior**
"HPE Labs, Cloudless" gave a glowing review of their [adoption of Meshery](https://github.com/layer5io/meshery/blob/master/ADOPTERS.md).

**Desired Behavior**
This testimony can be added to the layer5-ng Testimony component.

[2020-07-20 13:55] leecalcote opened #502 "[NG] Add Intraserve Systems's testimony"
**Current Behavior**
Mohsen Houshmand of Intraserve Systems gave a glowing review of their [adoption of Meshery](https://github.com/layer5io/meshery/blob/master/ADOPTERS.md).

**Desired Behavior**
This testimony can be added to the layer5-ng Testimony component.

[2020-07-20 14:15] leecalcote opened #503 "[NG] Migrate content of existing Footer to new Footer component"
**Current Behavior**
The content of the existing site [footer.html](https://github.com/layer5io/layer5/blob/master/_includes/footer.html) needs to be migrated to the layer5-ng site.

**Desired Behavior**
Layer5-ng site's footer should have almost all the same content.

**Implementation**
1. Update colors to match [Layer5's brand](https://layer5.io/brand)
1. Make twitter feed a separate component;

[2020-07-21 00:03] #471 closed

[2020-07-21 00:03] #470 closed

[2020-07-21 00:03] #435 closed

[2020-07-23 03:25] #502 closed

[2020-07-23 03:26] #501 closed

[2020-07-23 04:08] Jashpatel1 opened #514 "[NG] Add the news items section with a news post"
**Current Behavior**
Currently, The layer5-ng site does not have a news section, So generate a news section which can cater to all the news posts. Also, add a sample news post for preview.

**Desired Behavior**
The news posts can be found [here](https://layer5.io/news).

---
[Optional] **Alternatives**
A possible solution can be replicating the blog section and using the same template as the blogs

[2020-07-23 21:23] Ruth-ikegah commented on #212
@leecalcote looks like something I want to do starting with my own experience blog post.

[2020-07-23 21:44] vineethvanga18 commented on #280
@leecalcote This isn't closed yet?

[2020-07-24 00:32] leecalcote commented on #280
@vineethvanga18 no, it's not. The light green should persist and show on the same menu item as to the current page that the user is on.

[2020-07-24 03:10] leecalcote opened #515 "[Blog] Remove stock photo as feature image from Ashis's post"
**Description**
[On this post](https://layer5.io/blog/meshing-along-with-layer5), don't use a stock image, but instead use this image -
![sIgned-copy-The-Enterprise-Path-to-Service-Mesh-Architectures](https://user-images.githubusercontent.com/7570704/88357500-148b8180-cd31-11ea-9d23-e7062df2427e.jpg)

[2020-07-24 03:14] leecalcote commented on #507
@crustyy you had a PR on this earlier, right?

[2020-07-24 03:14] leecalcote commented on #481
@Nikhil-Ladha, yes, this is for the `layer5-ng` site under a branch by that same name.

[2020-07-24 03:15] leecalcote commented on #481
@Tanuj22 create issues for each plugin on the list to incorporate.

[2020-07-24 03:45] Nikhil-Ladha commented on #481
@leecalcote , now I get it. I think the title was a bit misleading 😅. Now, it's more clear.

[2020-07-24 04:52] vineethvanga18 commented on #280
@leecalcote Can I work on this?

[2020-07-24 05:31] leecalcote commented on #280
@vineethvanga18 yes, however, I sent you a better proposal in Slack

[2020-07-24 05:40] vineethvanga18 commented on #280
@leecalcote sure I will wait for PR on mega menu

[2020-07-24 06:05] leecalcote commented on #280
@vineethvanga18 if you don't receive a response from @shivaylamba by end of day Friday, will you please seek out a mega menu that we might use in the layer5-ng site? We're looking for one similar to what you see on https://strapi.io

[2020-07-24 07:47] vineethvanga18 commented on #280
@leecalcote sure.

[2020-07-24 08:45] crustyy commented on #507
Yes @leecalcote but i have to change some rules there that's why i made a pr there once all the rules are set and errors are removed i'll make a fresh pr here

[2020-07-24 16:12] anirudhjain75 commented on #514
@Jashpatel1 I would like to try to solve this. Let me know if you're not working on this :)

[2020-07-24 16:17] Jashpatel1 commented on #514
@anirudhjain75 I guess as Lee stated you can start with moving blogs for now.

[2020-07-24 16:26] Jashpatel1 opened #519 "[NG] Migrate blogs from layer5 to layer5-ng"
**Current Behavior**
The current layer5-ng has few sample blogs for reference.

**Desired Behavior**
Migrate blogs from [layer5](https://layer5.io/blog) to the blogs section under [layer5-ng](https://github.com/layer5io/layer5/tree/layer5-ng) using the filesystem-plugin.

---

[2020-07-24 16:28] Jashpatel1 commented on #519
@anirudhjain75 It would be great help if you would tackle this issue.

[2020-07-24 16:49] chandrashritii commented on #519
@anirudhjain75 Thank you for taking an interest in the project 🎈 If you do decide to take this up, take a look at the #496 PR, to get a better idea of what needs to be done.

[2020-07-24 19:46] Tanuj22 opened #520 "[NG] Add Google Analytics Plugin"
**Desired Behavior**
Add and configure the [gatsby plugin for google analytics](https://www.gatsbyjs.org/packages/gatsby-plugin-google-analytics/?=ana) in [layer5-ng](https://github.com/layer5io/layer5/tree/layer5-ng). Related to #481

---
This issue pertains to the next-generation of the layer5.io website, which uses Gatsby, Strapi, and GitHub Pages. Site content is found under the [`layer5-ng` b

[2020-07-24 19:49] Tanuj22 opened #521 "[NG] Add pagination plugin"
**Desired Behavior**
Add and configure [gatsby plugin for pagination](https://www.gatsbyjs.org/packages/gatsby-awesome-pagination/) in[ layer5-ng](https://github.com/layer5io/layer5/tree/layer5-ng). Related to #481

[2020-07-24 19:52] Tanuj22 commented on #481
@leecalcote Do we need the Strapi and the sitemap plugin now or should we hold off on them.

[2020-07-24 19:57] leecalcote commented on #481
We're ready for sitemap now.

[2020-07-24 20:00] Tanuj22 opened #522 "[NG] Add sitemap plugin"
**Desired Behavior**
Add and configure the [gatsby plugin for sitemap](https://www.gatsbyjs.org/packages/gatsby-plugin-sitemap/?=sitemap) in [layer5-ng](https://github.com/layer5io/layer5/tree/layer5-ng). Related to #481

[2020-07-24 20:36] leecalcote opened #523 "[Readme] Add Meshery Operator project logo and description"
**Current Behavior**
This repo's readme needs an entry describing the [Meshery Operator project](https://github.com/layer5io/meshery-operator) along with its logo

[2020-07-24 20:41] leecalcote opened #524 "Add new issue template for Layer5-ng contributions"
**Current Behavior**
The current issue templates assume work will be done on the `master` branch.

**Desired Behavior**
This repo needs an issue template that provides `layer5-ng` specific instructions.

e.g.

[code]

[2020-07-24 20:43] leecalcote commented on #480
@Jashpatel1 the ask here is to augment the existing CONTRIBUTING.md in the `layer5-ng` branch with Gatsby instructions, not Jekyll instructions - https://github.com/layer5io/layer5/blob/layer5-ng/CONTRIBUTING.md

[2020-07-24 20:46] leecalcote opened #525 "[README] Update Layer5-ng README to be a copy of the Layer5 README"
**Description**
The [README in the `layer5-ng` branch](https://github.com/layer5io/layer5/blob/layer5-ng/README.md) should be the same as the [README in the `master` branch](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md).

[2020-07-25 00:40] #515 closed

[2020-07-25 01:57] Anita-ihuman commented on #525
i  am on it

[2020-07-25 03:19] leecalcote commented on #525
Thank you, @Anita-ihuman. 👍 Heads-up, @dmoini has opened a PR on this - #526

[2020-07-25 17:13] kushthedude commented on #507
Fixed in #528

[2020-07-25 17:13] #507 closed

[2020-07-25 17:17] Anita-ihuman commented on #523
I am on this

[2020-07-25 17:28] leecalcote commented on #523
Awesome. Thank you, @Anita-ihuman

[2020-07-25 17:37] crustyy opened #529 "[NG] Fix all the errors & warnings that have been suppressed in ES-Lint"
**Description**
Fix the errors and warnings that have been supressed for the repository

**Resources**
[Gatsby with ESLint](https://www.gatsbyjs.org/docs/eslint/)
[A blog on ESLint with Gatsby](https://dev.to/peshov/how-to-setup-gatsbyjs-starter-with-typescript-eslint-prettier-4jh3)
[ESLint Official Docs](https://eslint.org/docs/user-guide/getting-started)

[2020-07-25 17:48] crustyy opened #530 "[NG] Incorporate CI checks & ES-Lint into our build pipeline."
**Description**
Incorporate Continous Integration checks and ES-Lint

**Resources**
https://dev.to/karltaylor/getting-started-with-gitlab-cicd-eslint-1m80

[2020-07-25 18:00] crustyy opened #531 "[NG] Deprecate to EcmaScript-2018 & introduce gatsby plugin for es-lint."
Use ECMAScript 6 since the following website doesn't follow ES8

[2020-07-26 03:31] leecalcote commented on #480
Done

[2020-07-26 03:31] #480 closed

[2020-07-28 02:53] #530 closed

[2020-07-28 21:09] leecalcote opened #537 "Add description of Meshery Operator project to Layer5 Welcome Guide"
**Current Situation**
The [community member welcome guide](https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit#) is missing a description of the Meshery Operator project.

**Desired Situation**
The [Meshery Operator](https://github.com/layer5io/meshery-operator) is a custom Kubernetes controller that contains [MeshSync](https://docs.google.com/document/d/1AMi5UTUwL

[2020-07-29 03:06] Anita-ihuman commented on #537
I am on this @leecalcote

[2020-07-29 04:42] Jashpatel1 opened #538 "Update the German and Indian flag in the current Layer5 site"
**Description**
In the current Layer5 site, German(3rd) and Indian(8th) flags are inappropriate. Replace them with proper flags.

**Screenshots**
![Capture](https://user-images.githubusercontent.com/43696490/88757316-55e1be00-d183-11ea-925f-df9fabd3eea2.JPG)

 **To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://layer5.io/]('https://layer5.io/')
2. Move to the languages section in f

[2020-07-29 11:31] kushthedude commented on #538
@Jashpatel1 Is that Indian flag? I don't see Hindi in it.

[2020-07-29 13:06] Jashpatel1 commented on #538
Its Tamil.

[2020-07-29 14:03] Ruth-ikegah commented on #524
I am a little bit confused.  Does the desired behaviour mean configuring the templates to show the example you gave @leecalcote

[2020-07-29 14:55] leecalcote commented on #524
Here's the layer5-ng contributing.md - https://github.com/layer5io/layer5/blob/layer5-ng/CONTRIBUTING.md

[2020-07-29 14:58] leecalcote commented on #524
@Ruth-ikegah Here's a link to the Layer5 Websites meeting minutes - https://docs.google.com/document/d/1XczAHXVe2FIWPqiF57ospJ43zw5cZQ7ui8mn39v5EvA/edit#

[2020-07-29 15:02] leecalcote commented on #522
Example of a sitemap from the current site - https://layer5.io/sitemap.xml

[2020-07-29 21:46] Neilblaze commented on #538
@Jashpatel1 assigm me this, also keeping the limelight upon the above, do I have the permission to add external flag svg's for replacing the existing ones?

[2020-07-29 21:50] Neilblaze commented on #538
Also, for svg's, can I import them from [icons8](https://icons8.com/) or Flaticon(https://www.flaticon.com/) ?

[2020-07-29 23:04] Neilblaze commented on #538
@Jashpatel1 please review the PR. I'll fix the DCO error tomorrow which I am getting.

[2020-07-30 06:30] leecalcote opened #541 "[Blog] Update feature image on landscape post"
**Description**
This [blog post](https://layer5.io/blog/layer5-landscape-spectrums-revisited) is currently using a feature image that is generic. Source code for this blog post is [here](https://github.com/layer5io/layer5/blob/master/collections/_blogs/2019-12-04-layer5-landscape-spectrums-revisited.md).

<img width="439" alt="Screen Shot 2020-07-30 at 1 25 58 AM" src="https://user-images.githubus

[2020-07-30 10:14] Neilblaze commented on #538
@Jashpatel1 please review PR #542

[2020-07-30 11:43] Neilblaze opened #543 "Rectify the alignment of the image of the blog page"
**Description**
In the [blog](https://deploy-preview-542--layer5io.netlify.app/blog/google-summer-of-code-2020-service-mesh-performance-with-envoy-nighthawk) page when kept is in responsive(mobile) view, the GSOC image gets shifted towards left. This needs to be fixed.

**Screenshots**
![Layer5- Blog imgscrt](https://user-images.githubusercontent.com/48355572/88918366-f2d94f80-d286-11ea-93fc-c1aba

[2020-07-30 13:47] Neilblaze opened #544 "Update the existing flags with the border ones"
**Description**
In the current Layer5 site, French(2nd), Italian(4th) & Russian(6th) flags doesn't seem to have any border. Replace them with proper bordered flags.

**Screenshots**
![flags - inappropriate](https://user-images.githubusercontent.com/48355572/88930319-f544a500-d298-11ea-879b-7a1460c7dcc3.JPG)

 **To Reproduce**
Steps to reproduce the behavior:
1. Go to https://layer5.io/
2. Scroll d

[2020-07-30 13:50] Neilblaze commented on #544
@Nikhil-Ladha @leecalcote any idea about the Japanese flag? It seems to be bordered on 110% scale, but above 110% or below 110% this looks like this. [Environment - Ubuntu/Windows , Browser- Chrome]

[2020-07-30 14:01] Nikhil-Ladha commented on #544
You can apply a fixed width to all the flags, then apply a border to them. I think it will fix your issue.

[2020-07-30 14:27] Neilblaze commented on #544
Thanks for the suggestion @Nikhil-Ladha . Also, why is the title of Indian flag marked as "Tamil"? Should I replace that by "India"?

[2020-07-30 14:32] Nikhil-Ladha commented on #544
The title represents to which language the page will be converted to on clicking the flag. So, it is "Tamil", we can change to "Hindi" or leave it like that.

[2020-07-30 14:43] leecalcote commented on #543
Good eye, @Neilblaze

[2020-07-30 15:07] Neilblaze commented on #544
Closing this issue, as I have attached the updates with PR #542

[2020-07-30 15:07] #544 closed

[2020-07-30 18:29] Anita-ihuman commented on #537
I added  description of Meshery Operator project to Layer5 Welcome Guide
https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit

[2020-07-30 20:05] #538 closed

[2020-07-31 13:11] #543 closed

[2020-07-31 15:07] Neilblaze opened #549 ""Layer" text of Layer-5 celebration pic getting blended with the white background"
**Description**
The "Layer" text of the celebration [image](https://github.com/layer5io/layer5/blob/master/.github/welcome/Layer5-celebration.png) after each successful PR merge gets completely blended with the white background. Whereas for custom dark theme for Github, it looks completely fine.

**Screenshots**

- For default white Github theme :-
![white](https://user-images.githubusercontent.co

[2020-07-31 16:27] kushthedude commented on #549
@Neilblaze You may want to take look at the image which is used in meshery repository.

[2020-07-31 16:48] Neilblaze commented on #549
Yes [this](https://github.com/layer5io/meshery/blob/master/.github/welcome/Layer5-celebration.png) is the best possible replacement for [this](https://github.com/layer5io/layer5/blob/master/.github/welcome/Layer5-celebration.png) image. I'm creating a PR regarding this!

[2020-07-31 16:52] kushthedude commented on #549
Please go ahead!

On Fri, 31 Jul, 2020, 22:18 Pratyay Banerjee, <notifications@github.com>
wrote:

[2020-07-31 17:07] Neilblaze commented on #549
@kushthedude review the PR please.

[2020-07-31 17:19] #549 closed

[2020-07-31 17:53] #524 closed

[2020-08-01 16:22] #541 closed

[2020-08-02 22:43] leecalcote opened #557 "[NG] Add privacy policy and terms of service to layer5-ng site"
**Current Behavior**
The current Layer5 site has a [privacy policy](https://meshery.layer5.io/privacy-policy.html) and [terms of service](https://meshery.layer5.io/terms-of-service.html) posted.

**Desired Behavior**
These two agreements need to be publicly available in the `layer5-ng` site (the new site in that branch in this repo). They should be linked to as they are currently - https://github.

[2020-08-03 00:06] leecalcote opened #558 "Add new Twitter handle to SMP project page"
**Current Behavior**
The [project page describing SMP](https://layer5.io/projects/service-mesh-performance) does not include reference to the project's Twitter handle (https://twitter.com/smp_spec)

**Desired Behavior**
The project page describing SMP should include a link to the new Twitter handle (or perhaps, a small feed of its latest tweets) - https://twitter.com/smp_spec

[2020-08-03 00:08] leecalcote commented on #537
Perfect. Thank you for this, @Anita-ihuman. We can close out this issue given the update that you've made. Or if you like, you can also make an update to this repo's README.md so that it too includes a description of the Meshery Operator project. It's up to you.

[2020-08-03 04:30] leecalcote opened #560 "[NG] Support for SVGs as featured images in blog posts"
There is some predefined properties for blog-grid image. On using a svg image they are failing to work. @Tanuj22 can you tell something about this in case you know.

_Originally posted by @Jashpatel1 in https://github.com/layer5io/layer5/pull/555_

[2020-08-03 05:33] Jashpatel1 opened #561 "[NG] Update the 404 page in layer5-ng"
**Current Situation**
This is the [current 404 page](https://github.com/layer5io/layer5/blob/layer5-ng/src/pages/404.js) in layer5-ng.

**Desired Situation**
The 404 page in layer5-ng is expected to be as 404 page in layer5.

---
**Resources**
This issue pertains to the next-generation of the layer5.io website. The site uses Gatsby and Strapi.
- This is the [source for current 404 page in layer5](

[2020-08-03 06:03] Tanuj22 commented on #560
This is a known [issue](https://github.com/gatsbyjs/gatsby/issues/10297) with gatsby image. A workaround is suggested in the issue thread.

[2020-08-03 06:17] smritiRGI commented on #558
Want to start with fixing it

[2020-08-03 10:26] leecalcote commented on #558
Thank you, @smritiRGI. That would be great.

[2020-08-03 17:28] leecalcote opened #564 "[NG] mobile view of blog: Copy button is not fixed in the clipboard; moves with text"
Hi @Tanuj22 and @leecalcote there is some issues with this PR which needs to be addressed in another PR. The issue is with the mobile view of the blog, as the `Copy` button is not fixed in the clipboard and it moves with the text.
![Screenshot_20200803-173837](https://user-images.githubusercontent.com/29438875/89180845-36e29200-d5b0-11ea-8d8c-8e4f145f76f5.jpg)

_Originally posted by @Nikhil-Ladha

[2020-08-03 18:42] Tanuj22 opened #565 "[NG] Create a sample blog template"
**Desired Behavior**
The `layer5-ng` site has a number of blogs added. We should create a sample blog showing most of the functionalities available for creating a blog post. This would serve as a reference for users who are going to create a new blog post.

---
**Resources**
This issue pertains to the next-generation of the layer5.io website, which uses Gatsby, Strapi, and GitHub Pages. Site conte

[2020-08-03 18:44] Tanuj22 commented on #560
@leecalcote This can be closed.

[2020-08-03 19:14] chandrashritii opened #566 "Add SMP logo to the brand page"
**Description**
The Layer5 [brand page](https://layer5.io/brand) doesn't mention any guidelines for the SMPS project.

**Expected Behavior**

In addition to appropriate guidelines, the new SMPS logo should also be added to the [brand page.](https://layer5.io/brand) The logo can be found in the [SMPS brand kit](https://github.com/layer5io/layer5/blob/master/assets/resources/brand/smps-brand-kit.zip

[2020-08-03 19:16] leecalcote commented on #566
The `horizontal`, `stacked`, and `icon` folders can be zipped up in a similar fashion to the other project brand kits. The `resources` folder should not be included.

[2020-08-03 19:33] Tanuj22 opened #567 "[NG] Change the links generated for individual blog posts"
**Current Situation**
The `layer5-ng` site is generating the links for individual blogs as a path to the file. Eg. This [blog](https://layer5ng.netlify.app/blogs/2020/2020-07-16-growing-as-an-open-source-contributor-with-layer5/) has a path `blogs/2020/2020-07-16-growing-as-an-open-source-contributor-with-layer5/`

**Desired Situation**
The links should look like this `blog/<category>/<title>`. Th

[2020-08-03 19:35] chandrashritii opened #568 "Add Layer5 youtube playlists to the community page"
The youtube playlists for [community meetings](https://www.youtube.com/playlist?list=PL3A-A6hPO2IMPPqVjuzgqNU5xwnFFn3n0) and [development meetings](https://www.youtube.com/playlist?list=PL3A-A6hPO2INr4oEIorJqC8N0FtxnYj0a) should be embedded in the https://layer5.io/community page, preferable above the `engage` section.

[2020-08-03 19:43] chandrashritii opened #569 "[NG] Add news section"
Create a news section for the Layer5-ng site

- Should retain most of the functionalities of the blog section.
- Should be formatted appropriately for news items. A hint as to what content would be added in the new section can be taken from the existing [news section](https://layer5.io/news) on the layer5.io site.

[2020-08-03 19:46] Tanuj22 opened #570 "[NG] Style changes to blog cards."
**Desired Behavior**
The [blogs cards](https://layer5ng.netlify.app/blog-grid) in layer5-ng need some style changes.

-  The images on the thumbnail aren't aligned properly. The images should fill the height of the container without being cropped out.
![Screenshot from 2020-08-04 01-11-47](https://user-images.githubusercontent.com/42486853/89220609-83998d80-d5ef-11ea-8684-8d8bd339c130.png)
- The s

[2020-08-03 19:54] Tanuj22 opened #571 "[NG] Feature images in individual blogs"
**Desired Behavior**
The images on the thumbnail of the blogs should also be featured in the respective blog posts. A suggestion is to show it behind the title in the individual blogs.

---
**Resources**
This issue pertains to the next-generation of the layer5.io website, which uses Gatsby, Strapi, and GitHub Pages. Site content is found under the [`layer5-ng` branch](https://github.com/layer5io/l

[2020-08-04 00:27] leecalcote opened #573 "[Project] Update link and description of Service Mesh Performance Specification on Meshery page"
**Current Behavior**
This section on the [Meshery page](https://layer5.io/meshery#performance-spec) is in need of being refreshed.

**Desired Behavior**
- [ ] This section could also do with an updated description of the SMPS initiative.
- [ ] The link in this section should point to the new https://smp-spec.io website.
- [ ] The `name` of the `a` tag for this section should be updated from #perfo

[2020-08-04 00:38] leecalcote opened #574 "[Project] Update Service Mesh Standards section on Meshery page"
**Current Behavior**
This section on the [Meshery page](https://layer5.io/meshery#performance-spec) is in need of being refreshed.

**Desired Behavior**
- [ ] This section could do with an updated description of the SMPS initiative.
- [ ] The link in this section should point to the new https://smp-spec.io website.
- [ ] This section needs to use the new SMPS logo (see https://layer5.io/assets/res

[2020-08-04 01:22] chandrashritii opened #575 "Update SMPS project page"
The [project page](https://layer5.io/projects/performance) and the project card for SMPS on the layer5.io site needs to be updated with the new SMPS logo. The logo can be found in the [SMPS brand kit](https://github.com/layer5io/layer5/blob/master/assets/resources/brand/smps-brand-kit.zip).

![Screenshot_2020-08-04 Service Mesh Performance Specification](https://user-images.githubusercontent.com/3

[2020-08-04 02:48] leecalcote commented on #568
Embedding a playlist - https://support.google.com/youtube/answer/171780?hl=en-GB#

[2020-08-04 04:58] Jashpatel1 commented on #569
There's already an issue for this. Issue #514

[2020-08-04 05:12] chandrashritii commented on #569
Duplicate of #514. Closing issue.

[2020-08-04 05:12] #569 closed

[2020-08-04 06:20] Neilblaze commented on #570
I guess modifying the height of those png images will fix this issue. Assign me this please @Tanuj22

[2020-08-04 06:25] Neilblaze commented on #570
@leecalcote I guess a replacement image for `Layer5: Landscape Spectrums Revisited` blog card will look much better that what it's now.

[2020-08-04 06:39] Neilblaze commented on #570
@leecalcote same issue is also pertaining for Layer5 [blog](https://layer5.io/blog) page too. I would love to work upon that :)

[2020-08-04 08:18] Nikhil-Ladha commented on #570
Well, we tried that @Neilblaze , but you can give another try and come up with a solution. You can take this up👍🏼

[2020-08-04 10:43] Neilblaze commented on #570
Sure I'm on it 😃

[2020-08-04 15:07] #561 closed

[2020-08-04 18:00] Jashpatel1 opened #577 "Update Kuma logo in Blog Post"
**Description**
Currently, the layer5 website has a [blog post involving adapter logos.](https://layer5.io/blog/deploying-linkerd-with-meshery)
The Kuma logo is fetched from an external website thats down for some reason. Thus Kuma logo is not displayed.

**Expected Behavior**
Download the Kuma logo from [here](https://layer5.io/assets/images/landscape/Kuma.svg). And add link to the local copy for

[2020-08-04 18:14] smritiRGI commented on #558
How to run this from windows?

[2020-08-04 18:44] leecalcote commented on #558
@usamaidrsk would you be able to assist here?

@smritiRGI you are welcome to jump into the community slack in order to engage a little more real-time - http://slack.layer5.io

[2020-08-04 21:39] leecalcote opened #578 "Create link to author profile"
**Current Behavior**
All blog posts have authors. When a post's author also has a member profile within the [_members collection](https://github.com/layer5io/layer5/tree/master/collections/_members) the author name should be hyperlinked to a page displaying their profile.

**Desired Behavior**
The member profiles are available at https://layer5.io/community/members/<author-name>. The blog post aut

[2020-08-04 21:43] leecalcote opened #579 "Community member profile page"
**Current Behavior**
Individual pages are generated for each person in the [_members collection](https://github.com/layer5io/layer5/tree/master/collections/_members) at https://layer5.io/community/members/<member-name>. Each member page is blank, though, because there is no HTML snippet that has been created to present a member's profile (e.g.,`{% include member.html %}` ).

**Desired Behavior**
C

[2020-08-05 07:15] Neilblaze commented on #578
@leecalcote the link for member profiles i.e. `https://layer5.io/community/members/` is invalid. Can you please update the link?

[2020-08-05 07:23] Neilblaze commented on #578
I guess issue #579 needs to be solved first then anyone can hop into [#578](https://github.com/layer5io/layer5/issues/578) :smile:

[2020-08-05 07:41] Neilblaze opened #581 "Images in blog not properly scaled"
**Description**
The images in the blog cards are not properly scaled in [here](https://layer5.io/blog) . So, it needs to be fixed.

**Expected Result**
All the blog cards should be equally scaled & aligned in the [blog](https://layer5.io/blog) page.

**Screenshots**
![L5](https://user-images.githubusercontent.com/48355572/89385116-c1480480-d71c-11ea-8996-4162003a13d6.png)

---
[Optional] **To Repr

[2020-08-05 07:57] Anita-ihuman commented on #568
I am on this

[2020-08-05 08:58] usamaidrsk commented on #573
how to go on this?

[2020-08-05 15:51] Nraj923 commented on #575
Can I make a contribution for this?

[2020-08-05 15:52] leecalcote commented on #575
@Nraj923 that would be excellent, yes. 👍

[2020-08-05 20:10] leecalcote opened #586 "[Landscape] Add Spring Boot as a client library"
**Desired State:**
Add Spring boot (https://projects.spring.io/spring-boot/) to the client libraries section.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses Jekyll and

[2020-08-06 03:32] Jashpatel1 commented on #519
All the blocks have been added.

[2020-08-06 03:32] #519 closed

[2020-08-06 05:57] #577 closed

[2020-08-06 13:26] #560 closed

[2020-08-06 13:27] #565 closed

[2020-08-06 13:34] Tanuj22 commented on #557
Fixed in #532

[2020-08-06 13:34] #557 closed

[2020-08-06 16:09] #564 closed

[2020-08-06 16:33] Nikhil-Ladha opened #591 "[Landscape] Add OSM to the service mesh landscape"
**Current State:**
Currently, the landscape page of the layer site lists all known service meshes. But, as OSM was introduced recently, the page lacks that mesh!

**Desired State:**
OSM should be added to the landscape, with complete details in the appropriate part of the landscape.

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/m

[2020-08-07 02:38] leecalcote opened #595 "Add entry for Open Service Mesh on layer5.io/meshery"
**Current Behavior**
Meshery has an alpha adapter for Open Service Mesh in the `meshery-osm` repo.

**Desired Behavior**
This alpha state adapter should be represented on meshery.io

OSM logo -
[osm.svg.zip](https://github.com/layer5io/meshery.io/files/5039020/osm.svg.zip)

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the

[2020-08-07 02:47] leecalcote opened #597 "[Readme] Add Learn Layer5 project description as a new section in the Readme"
**Current Behavior**
The readme.md in this repo is missing a description of the [Learn Layer5](https://github.com/layer5io/learn-layer5) project.

**Desired Behavior**
The Learn Layer5 project does two things:

1. provides a sample application for learning how service meshes work.
1. provides [SMI Conformance testing](https://layer5.io/smi)

---
**Contributor Resources**
The `layer5` repo contains

[2020-08-07 02:51] leecalcote commented on #591
@phillipgibson thanks for considering making a PR to have OSM represented in the [service mesh landscape](https://layer5.io/landscape). We encourage representatives of the projects/products in the landscape to curate and maintain their listings so as to guarantee their freshness and accuracy of representation. See the [instructions for updating the landscape]([here](https://github.com/layer5io/lay

[2020-08-07 02:54] leecalcote opened #598 "[Landscape] Add DropWizard as a client library"
**Desired State:**
Add DropWizard (https://www.dropwizard.io/en/stable/) to the client libraries section.

**Desired State:**
---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mesh-landscape)

[2020-08-07 02:55] leecalcote commented on #579
@Neilblaze up for the challenge?

[2020-08-07 02:56] leecalcote commented on #575
@Nraj923 Thanks for taking this on. I welcome you to join the Layer5 community - http://slack.layer5.io. Lot's of friendly, helpful contributors here.

[2020-08-07 02:58] leecalcote commented on #537
Think we're good to go here. There is a new issue open for doing the same thing for Learn Layer5.

[2020-08-07 02:58] #537 closed

[2020-08-07 05:43] #597 closed

[2020-08-07 06:37] Neilblaze commented on #579
Yeah I would love to :smile: . But it may take a bit long as my semester will be starting tomorrow onwards. Hope it feels ok :smiley:

[2020-08-07 08:13] Anita-ihuman commented on #537
On Fri, Aug 7, 2020 at 3:58 AM Lee Calcote <notifications@github.com> wrote:

I will check it out

[2020-08-07 08:36] #581 closed

[2020-08-07 12:42] leecalcote commented on #579
No sweat. School _always_ comes first.

[2020-08-07 14:27] leecalcote opened #601 "[Project] Add project links to the SMI Conformance design specs on the /smi page"
**Current Behavior**
The https://layer5.io/projects/service-mesh-interface is in need of pointing people to the design specs and highlighting the two contributor blog posts on the project.

**Desired Behavior**
The [project design specifications](https://docs.google.com/document/d/1HL8Sk7NSLLj-9PRqoHYVIGyU6fZxUQFotrxbmfFtjwc/edit) should be linked to in this project description.

**Implementation*

[2020-08-07 15:45] kushthedude opened #602 "[Landscape] Nighthawk information written is wrong"
**Current State:**

In the column of **supported by**, there is **general use** added for nighthawk.

**Desired State:**

Nighthawk is supported by Envoy & CNCF.

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mesh-landscape) Site content is found under the [`master` branch](https://githu

[2020-08-08 12:29] #602 closed

[2020-08-09 04:47] leecalcote commented on #211
This has been fully merged. No spectrums have been made public, yet, but they will be within a week's time.

[2020-08-09 05:02] leecalcote commented on #598
Thank you for updating the landscape, @Nikhil-Ladha.

[2020-08-09 05:02] #598 closed

[2020-08-09 05:02] leecalcote commented on #586
Thank you for updating the landscape, @Nikhil-Ladha.

[2020-08-09 05:02] #586 closed

[2020-08-09 20:00] Rohan-GD commented on #575
is this closed, i would like to try it out too

[2020-08-09 20:10] leecalcote commented on #575
Nope, it's still open. Yes, @Rohan-GD. That would be great. Thank you.

[2020-08-10 05:40] #57 closed

[2020-08-10 05:40] #116 closed

[2020-08-10 05:40] #118 closed

[2020-08-10 05:40] #112 closed

[2020-08-10 05:40] #176 closed

[2020-08-10 05:40] #60 closed

[2020-08-10 05:41] #316 closed

[2020-08-10 05:41] #104 closed

[2020-08-10 05:41] #232 closed

[2020-08-10 05:41] #396 closed

[2020-08-10 05:41] #407 closed

[2020-08-10 05:41] #398 closed

[2020-08-10 05:41] #87 closed

[2020-08-10 05:46] leecalcote commented on #396
@Nikhil-Ladha fixed this, I believe.

[2020-08-10 05:49] Nikhil-Ladha commented on #396
Yeah @leecalcote . I didn't know there is actually an existing issue for it😆

[2020-08-10 06:08] paulbouwer commented on #112
Since Istio Mixer is deprecated, and the App Insights Istio Mixer adapter is also deprecated, this no longer makes sense.

[2020-08-10 14:43] kushthedude opened #606 "Add Release Drafter for the repository"
**Current Situation**

Each of the layer5 repositories needs releaseDrafter automation as had been done in the meshery project which takes care of drafting release notes.

**Desired Situation**

Add ReleaseDrafter configuration yaml file & GitHub Action.

---

**Additional context**

[ReleaseDrafter Configuration File](https://github.com/layer5io/meshery/blob/master/.github/release-drafter.yml)
[R

[2020-08-11 01:34] chandrashritii opened #609 "[Site] Add contributing section to the /community page"
**Description**

The [community page](https://layer5.io/community) is lacking a contributing section. This section should include:
- An exhaustive list of the mailing lists that we use (so that people can subscribe / unsubscribe)
- Links to the meeting minutes
- The community calendar (preferably with a list of meeting times)
- Links to our video conferences

The contributing section can be includ

[2020-08-11 09:46] Tanuj22 commented on #525
Fixed in #526

[2020-08-11 09:46] #525 closed

[2020-08-11 17:12] Rohan-GD commented on #575
Alright thanks, I'll try to finish as early as possible

[2020-08-11 17:32] Rohan-GD commented on #575
Also, this is my first time contributing and I have some doubts regarding where the website code is..

[2020-08-11 18:41] leecalcote commented on #575
@Rohan-GD sure, no problem. Two things:

1. you're welcome to join the community Slack - http://slack.layer5.io
1. the source for the page is here - https://github.com/layer5io/layer5/blob/master/collections/_projects/service-mesh-performance.md and here and her - https://github.com/layer5io/layer5/blob/master/collections/_pages/service-mesh-performance.html (two spots)

[2020-08-11 18:47] Rohan-GD commented on #575
Alrighty

[2020-08-11 23:05] leecalcote opened #612 "[Project] Meshery: Upgrade Meshery Adapter for Kuma to "beta" status"
**Current State:**
Kuma adapter is currently listed as "alpha", but has recently been enhanced and works as a "beta".

**Desired State:**
- [ ] Update layer5.io/meshery page to reflect kuma adapter as beta

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructi

[2020-08-12 19:47] JubayerJoy opened #615 "SMP Logo on the README is still SMPS"
**Description**
- SMPS has been renamed to SMP and there were many changes. The logo in the Layer5 README needs to reflect that change.

**Expected Behavior**
- [ ] The logo on the README page should be updated to the newer one.

**Screenshots**
<img src = "https://i.imgur.com/qMnfpAx.png" alt ="SMPS in README">

**Enviroment:**
 - OS: Windows 10
 - Browser: Chrome
 - Version: 84.0.4147.125 (Offic

[2020-08-12 20:16] #615 closed

[2020-08-13 09:32] PluckyPrecious commented on #595
Opss! 😮 @leecalcote I think did this while working on #612

[2020-08-13 18:38] #612 closed

[2020-08-14 02:34] leecalcote opened #620 "[Projects] SMP references in /meshery"
Thank you, @JubayerJoy. There's one more on the layer5.io site at layer5.io/meshery - -
<img width="562" alt="Screen Shot 2020-08-13 at 9 33 33 PM" src="https://user-images.githubusercontent.com/7570704/90207750-b17b9080-ddac-11ea-908e-965d8ae09eb0.png">

The latest SMP logos are available in the Layer5 Sites drive.

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/issues/1

[2020-08-14 02:37] leecalcote commented on #595
Ah, yes. Nice work, @PluckyPrecious

[2020-08-14 02:37] #595 closed

[2020-08-14 02:38] #575 closed

[2020-08-14 02:40] leecalcote commented on #573
@usamaidrsk I missed your comment earlier. You're most welcome to take on this issue. For assistance @Ruth-ikegah or @PluckyPrecious or @JubayerJoy would make for a great partner here.

[2020-08-14 03:07] leecalcote commented on #566
@chandrashritii will you finish this one off?

[2020-08-14 03:09] leecalcote commented on #601
@Nraj923, would you like to take this one?

[2020-08-14 03:14] leecalcote opened #621 "Add community calendar button to set of social buttons"
**Current Behavior**
The current set of horizontal social buttons on the layer5.io site does not have a button for the community calendar.

**Desired Behavior**
Add the existing button for the community calendar (screenshot from the layer5.io/meshery page) to the list of [social buttons](https://github.com/layer5io/layer5/blob/master/_includes/partials/hori-social.html).

<img width="512" alt="Scr

[2020-08-14 04:15] leecalcote commented on #520
@dhruv0000 can you knock this one out?

[2020-08-14 13:38] chandrashritii opened #622 "[NG] Add service mesh logos"
**Description**

Replace the floaters on the `layer5-ng` site landing page with service mesh logos.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses Jekyll and GitHub P

[2020-08-14 13:39] chandrashritii opened #623 "[NG] search plugin"
**Description**

Implement the search plugin on the `layer5-ng` site.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses Jekyll and GitHub Pages. Site content is found un

[2020-08-14 13:42] chandrashritii opened #624 "[NG] Update SMP logo"
**Description**

Update the SMP logo in the `projects` modules. The logo can be found in the [SMP brand kit](https://github.com/layer5io/layer5/blob/master/assets/resources/brand/smp-brand-kit.zip).

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then thi

[2020-08-14 13:44] chandrashritii opened #625 "[NG] Create project layout"
**Description**

Convert the existing `pricing` module to `features` module to be used in the Project layout.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses Jekyll an

[2020-08-14 14:33] Neilblaze commented on #606
Closing this via [#610](https://github.com/layer5io/layer5/pull/610)

[2020-08-14 14:34] #606 closed

[2020-08-14 15:10] Neilblaze opened #627 "Improve the UI of meshery page"
**Current Behavior**
There are a lot of things in the [meshery](https://layer5.io/meshery) page that might need to be changed.

- Go to the meshery page - https://layer5.io/meshery
- Scroll down the page & see.

**Screenshot**
![Layer5-Meshery](https://user-images.githubusercontent.com/48355572/90263459-52ca1b80-de6d-11ea-8c05-cf645ab554ff.png)

In reference to the screenshot above, we can refine

[2020-08-14 17:41] leecalcote commented on #627
These are all good highlights (things that need fixing), @Neilblaze.

[2020-08-14 18:13] JubayerJoy commented on #573
Hi @usamaidrsk, are you working on a solution? I'd be glad to join you 🙂

[2020-08-14 18:14] JubayerJoy commented on #620
Hi @leecalcote, I'm working on it 👍

[2020-08-14 20:14] Neilblaze commented on #627
Yeah. I think it'll be better if we disintegrate these issues into small parts & create FTO issues.

What say? @chandrashritii @leecalcote

[2020-08-14 20:22] Neilblaze commented on #627
Just now another thing just stroked my mind. If we look closely, this ↓ can also be fixed.

![abovfooter](https://user-images.githubusercontent.com/48355572/90289558-bec27900-de99-11ea-8786-da0b56b6812c.JPG)

- We can align `Language` & `Contact` on same level.
- Properly position `Language` & `Contact` with respect to their corresponding svg's

[2020-08-14 21:49] #620 closed

[2020-08-15 13:13] Tanuj22 opened #631 "[NG] Change the site url for layer5-ng"
**Desired Situation**
Change the [siteUrl](https://github.com/layer5io/layer5/blob/layer5-ng/gatsby-config.js#L6) to new url.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, whic

[2020-08-15 21:27] Tanuj22 commented on #522
Fixed in #630

[2020-08-15 21:27] #522 closed

[2020-08-17 03:19] leecalcote opened #634 "Update "Performance" button to use new SMP project logo"
**Current Behaviour**
This button is using an old logo.

<img width="655" alt="Screen Shot 2020-08-16 at 10 17 00 PM" src="https://user-images.githubusercontent.com/7570704/90354249-59dc5f80-e00e-11ea-8641-4285a72af768.png">

**Desired Situation**
This button should be using this logo - https://github.com/layer5io/layer5/blob/master/assets/projects/smp/stacked/smp-white.svg

---
**Contributor Reso

[2020-08-17 07:08] pranikz commented on #601
Hey @leecalcote would like to take up this issue and implement the same. Can u help me?

[2020-08-17 13:48] #634 closed

[2020-08-17 15:26] leecalcote commented on #601
@pranikz sure. I'll assign the issue to you. I'm tagging @Ruth-ikegah @Anita-ihuman @PluckyPrecious as contributors capable and willing to assist here. Jump into the Layer5 Slack as you tackle the issue, if real-time chat is helpful - http://slack.layer5.io

[2020-08-17 16:16] Neilblaze commented on #631
Wouldn't it be better if we create a section in the README file of the `Layer5` repo and position in the top, where we can keep the two different sites URL's where one of them will redirect to the `layer5-ng` and another to the current one made with Jekyll and GitHub Pages i.e. [this](https://layer5.io/)?

And also a simple info about branch checkout for easy directory mobility!

[2020-08-17 16:46] Neilblaze commented on #621
@leecalcote you mean [this](https://bit.ly/2SbrRhe) right?

[2020-08-17 20:55] #566 closed

[2020-08-17 21:14] leecalcote opened #636 "Update Brand page to include Service Mesh Performance project logos"
**Current Behavior**
The Layer5 [brand page](https://layer5.io/brand) is missing a section for the [Service Mesh Performance](https://smp-spec.io) (SMP) project's logos and usage guidelines.

**Expected Behavior**
There should be a section for the SMP project and its logos.

**Implementation**
1. Create a new section on the page for Service Mesh Performance
1. Use images from the [SMP brand kit](h

[2020-08-18 06:08] subnetmarco opened #637 "[Landscape] Kuma updates"
**Current State:**

1. It says Kuma has no support for gRPC.
2. It says Kuma has experimental support for multi-cluster.
3. It says Kuma is multi-tenant only with Kong Enterprise.
4. It says "?" on Prometheus support
5. It says "?" on tracing support.
6. It says "?" on encryption.

**Desired State:**

1. Kuma does support gRPC.
2. Kuma has finalized support for multi-cluster (and multi-cloud, and

[2020-08-18 06:24] Neilblaze commented on #637
Not sure about what to replace "Kong Enterprise only" by any other regarding bullet no. 3
Rest, I'm creating a pr with updated info's!

[2020-08-18 13:07] #627 closed

[2020-08-18 13:12] leecalcote opened #640 "Update /meshery page to include SMP logo in the SMP section"
**Current Behavior**
This section of the Meshery page is missing the SMP logo.

<img width="1095" alt="Screen Shot 2020-08-18 at 8 08 58 AM" src="https://user-images.githubusercontent.com/7570704/90517017-6f46ac00-e12a-11ea-8cc4-1bdb5dca0f9d.png">

**Desired Behavior**
Display the SMP logo in this section - https://github.com/layer5io/layer5/blob/master/assets/projects/smp/stacked/smp-dark.svg

--

[2020-08-18 13:48] Neilblaze commented on #640
I'm on it! :zap:

[2020-08-18 14:20] manishkrjha commented on #636
Hello, I'd love to work on this issue I just need little clarification, you want a Service Mesh Performance section same as **layer-5, Meshery and Image-Hub** sections on brand page?

Also, the SMP brand kit is not working.

Thanks.

[2020-08-18 16:50] subnetmarco commented on #637
@Neilblaze It should be replaced with "Yes".

[2020-08-18 16:56] #640 closed

[2020-08-18 17:32] PluckyPrecious commented on #636
Hello @manishkrjha please do go ahead. Perfecto 👌🏽  you’re right on track. Here’s the link [SMP brand kit](https://github.com/layer5io/layer5/blob/master/assets/resources/brand/smp-brand-kit.zip)

[2020-08-18 21:01] leecalcote commented on #631
@Neilblaze good thinking. The logic here is that a number of people swing by the layer5 repo's readme in search of descriptions of the projects and the community. While many people do swing by to contribute, they are the fewer of the two groups. So, the instructions surrounding the (temporary) hosting of two sites in one repo is documented in Issue Templates, where contributors will see them and p

[2020-08-18 21:56] Neilblaze commented on #631
Yes, I completely agree!
Maybe we can open up a separate issue where anyone of us can register him/herself regarding what you just suggested! :thinking:

[2020-08-18 22:00] Neilblaze commented on #631
Where if we add a **small & brief** section in the [README](https://github.com/layer5io/layer5/blob/master/README.md) file of the **Layer5 repo** and position it in the **top**, where we can keep track the two different sites URL's where one of them will redirect to the [layer5-ng](https://layer5ng.netlify.app/) and another to the [current one](https://layer5.io/) made with Jekyll and GitHub Pages

[2020-08-18 23:12] leecalcote opened #644 "[Blog] "SMI Conformance Testing with Meshery" missing feature image for social shares"
**Description**
When @nveenjain's blog post is shared on Twitter, and I suspect on LinkedIn, the featured image isn't retrieved and shown.

<img width="615" alt="Screen Shot 2020-08-18 at 5 44 15 PM" src="https://user-images.githubusercontent.com/7570704/90574281-24ef1a80-e17e-11ea-8854-9baafbef745d.png">

**Expected Behavior**
This post should be updated to specify an image for Twitter to use whe

[2020-08-19 01:18] leecalcote opened #645 "[Project] Add link to design spec for Distributed Performance Analysis"
**Current Behavior**
The [distributed performance analysis project](https://layer5.io/projects/service-mesh-distributed-performance-management) doesn't have a link to its design specification.

**Desired Situation**
A new sentence with link to the design spec google doc should be added.

[2020-08-19 01:35] leecalcote commented on #637
Reopening. Need to update given this input - https://github.com/layer5io/layer5/pull/638#issuecomment-675800316

[2020-08-19 02:36] leecalcote opened #647 "[Landscape] Mobile view for Timeline"
**Current State:**
<img width="754" alt="Screen Shot 2020-08-18 at 9 35 36 PM" src="https://user-images.githubusercontent.com/7570704/90585599-dd2abc00-e19a-11ea-87fa-6d1aa6f3b562.png">

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mesh-landscape)Site content is found under the [`master

[2020-08-19 03:49] #645 closed

[2020-08-19 03:54] leecalcote opened #650 "[Project] Meshery: add comma as a separator in the count of performance tests run"
**Current Behavior**
The number of performance tests run by Meshery users is shown on layer5.io/meshery. This data is retrieved from a public, remote endpoint, which does not include comma separators for thousandths places.

<img width="540" alt="Screen Shot 2020-08-18 at 2 14 50 PM" src="https://user-images.githubusercontent.com/7570704/90590210-91314480-e1a5-11ea-97a0-d5d8bc5adb0b.png">

**Desir

[2020-08-19 05:45] was-coder commented on #650
can i take up this challenge @leecalcote @Ruth-ikegah

[2020-08-19 06:25] nikita15p opened #651 "Does meshery supports meshes running on VMs?"
**How can we help?**
In the meshery UI, there is no mention of mesh on VM. Currently I see mesh on k8s only.

What I expect: It should ask me host address details where mesh is running in case it supports for VM.
Use case : Kuma mesh in universal mode can run on VM.

Question: How does meshery configure with a mesh running in VM?

**Additional Resources to Consider**: Documentation it is not vey c

[2020-08-19 08:51] Neilblaze commented on #637
Here you go! :smiley:

[2020-08-19 10:29] Ruth-ikegah commented on #650
sure @was-coder !

[2020-08-19 11:37] #637 closed

[2020-08-19 11:37] #621 closed

[2020-08-19 15:27] manishkrjha commented on #636
I'm having little trouble in finding the HTML file that has brand page's code. Can you guide to the same?

[2020-08-19 15:32] anirudhjain75 opened #656 "[Docs] Broken link present in web search crawlers"
redirect_from: https://layer5.io/blog/smi-conformance-testing-with-meshery to https://layer5.io/blog/community/SMI-conformance-testing-with-meshery

[2020-08-19 15:45] PluckyPrecious commented on #636
@manishkrjha you’ll find it here `assets/resources/brand/smp-brand-kit`

[2020-08-19 15:55] PluckyPrecious commented on #636
Hi @manishkrjha find it here `collections/pages/brand.html` 😊

[2020-08-19 18:39] JubayerJoy opened #654 "Drop "specification" from footer and /projects/service-mesh-performance"
**Current Behavior**
- Footer has "Service Mesh Performance Specification" listed in the projects section
- "Specification" still remains in `/projects/service-mesh-performance`

**Desired Situation**

- Drop "Specification" from the footer project list
- Drop "Specification" in `/projects/service-mesh-performance`

---
 **Screenshot**

#### footer
<img src= "https://imgur.com/UuxGSxs.png">

####

[2020-08-19 20:03] #654 closed

[2020-08-19 21:57] #656 closed

[2020-08-19 23:46] subnetmarco commented on #637
Thanks!

[2020-08-20 00:31] Ruth-ikegah opened #658 "Add a description of the “SMI Conformance” project to the README.md"
**Current Behavior**

This README.md file does not have a description for SMI Conformance as it has for other projects like Service Mesh Landscape,, Meshery etc.

**Desired Situation**

On the README.md file, add a short description for [SMI Conformance](https://layer5.io/projects/service-mesh-interface) in the same format as the others.

---
**Contributor Resources**
The `layer5` repo contains tw

[2020-08-20 07:22] Neilblaze commented on #609
@chandrashritii help me sort out some doubts.

- What do you mean by this - `An exhaustive list of the mailing lists that we use (so that people can subscribe / unsubscribe)`?
- Since we are already providing `Community Calendar` links (As you mentioned in bullet no.2), I think it'll be better if we ignore adding `Links to meeting minutes`!
- If I am not wrong, then the links to video conferences

[2020-08-20 07:30] chandrashritii opened #659 "Add new event to the layer5 site"
**Description**

Our session on **Solving the Service Mesh Adopter’s Dilemma** has been accepted for the **2020 All Day DevOps** event, to be conducted on November 12, 2020.
Add a project card for the "2020 All Day DevOps" to the [events section](https://layer5.io/events) on the layer5.io site. Link the card to the official event site - https://www.alldaydevops.com/register-2020 and include the ev

[2020-08-20 07:47] Nikhil-Ladha commented on #609
@Neilblaze first of all why do you keep different names at all places it make difficult to find out which one is you🤦🏻‍♂️.(Just kidding).
Secondly, good eye. The new smp site needs a lot of revamping as many new features are to be added, since it's just a newly created site by the efforts of @chandrashritii (which I think is a newbie in this 😅), though she has pulled out the site incredibly nice.

[2020-08-20 07:48] Nikhil-Ladha commented on #609
Further, the desired changes that are to be done, could be better explained by @chandrashritii herself.

[2020-08-20 08:00] PluckyPrecious commented on #609
Haha 🤣 I thought about this too. I think we need to add it to the welcome guide "your git id should be same as workspace handle" 🤔

[2020-08-20 08:04] Neilblaze commented on #609
Actually if you search by "Neilblaze" on google or over any search engine, you'll get to see me everywhere 😆
But, in general if you search by "my name" only, then I guess it'll be a bit of a trouble finding me out 🤣😂

Rest thanks for the suggestion :100: :smile:

[2020-08-20 08:05] Neilblaze commented on #609
@PluckyPrecious 😆

[2020-08-20 13:18] Abiola-Farounbi commented on #658
Hi, i would like to take this up

[2020-08-20 13:18] Ruth-ikegah commented on #658
Sure @Abiola-Farounbi !

[2020-08-20 19:51] #658 closed

[2020-08-20 20:13] leecalcote commented on #636
@manishkrjha Thanks! This does look good.

You'll want to push to your fork (https://github.com/manishkrjha/layer5), not directly to layer5io/layer5. From there, you can then raise a PR to merge the difference between https://github.com/manishkrjha/layer5 and layer5io/layer5.

Reference - https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md

[2020-08-21 04:31] #624 closed

[2020-08-21 04:32] #622 closed

[2020-08-21 05:49] Yusadolat commented on #659
Hey @chandrashritii I'd like to work on this 😄

[2020-08-21 05:51] #571 closed

[2020-08-21 05:51] Jashpatel1 commented on #571
Solved in #618

[2020-08-21 07:29] #659 closed

[2020-08-21 08:53] #523 closed

[2020-08-21 13:16] chandrashritii opened #665 "Add the good first issue bot to the layer5 repo"
**Description**

Integrate the [good first issue](https://github.com/apps/goodfirstissue) bot with the layer5 repo for putting out tweets for issues tagged as a `good first issue` on the #goodfirstissue twitter handle.

---

**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on