[2021-08-07 07:16] warunicorn19 commented on #2064
@debo19 if you could please provide a small bio for yourself

[2021-08-07 07:29] Tanuj22 commented on #2064
also location

[2021-08-07 07:32] warunicorn19 commented on #2063
@sudo-NithishKarthik if you could also provide your location.

[2021-08-07 08:39] NikhilSharma03 commented on #2064
@warunicorn19 I have added for nithish. Just waiting for his reply for location. In possible, can i work on this too?

[2021-08-07 08:40] warunicorn19 commented on #2064
go ahead @NikhilSharma03

[2021-08-07 09:09] warunicorn19 commented on #2063
@NikhilSharma03 you can use the location Tamil Nadu, India

[2021-08-07 09:11] debo19 commented on #2064
Bio: I am a student at Bits Pilani-Hyderabad, passionate about learning and exploring various Front-End technologies. I have gained good experience in web development by contributing to the projects here at Layer5. Engaging in this community has given me immense confidence about the work that I do. I look forward to learn from every opportunity I get here.

[2021-08-07 09:11] debo19 commented on #2064
Location: Hyderabad, India

[2021-08-07 09:12] NikhilSharma03 commented on #2063
Ok, Thank you.

[2021-08-07 11:43] #2064 closed

[2021-08-07 15:29] #2063 closed

[2021-08-07 16:23] warunicorn19 commented on #2040
@afzal442 @Nikhil-Ladha @sudo-NithishKarthik is anyone working on this issue?? if not i would love to work on this.

[2021-08-07 16:25] warunicorn19 commented on #1857
@Tanuj22 we need better images so that we can close this issue, what do you think we should do?

[2021-08-07 16:27] sudo-NithishKarthik commented on #2040
Sure @afzal442 , go ahead. Definitely the navigation issue has to be fixed

[2021-08-07 16:27] sudo-NithishKarthik commented on #2040
But i am not sure about the alignment tho 🤔
// @Nikhil-Ladha

[2021-08-07 16:36] Nikhil-Ladha commented on #2040
For the alignment part, only the margin around the heater can be reduced a bit. It is fine if the sidebar is aligned to the content and not the header.

[2021-08-07 16:37] afzal442 commented on #2040
sorry pals, I am already assigned to other issues. till then you @warunicorn19 can work on it.

[2021-08-07 16:41] Goodiec commented on #1737
Hi @sudo-NithishKarthik could this be assigned to me?

[2021-08-07 16:42] warunicorn19 commented on #2040
yeah, so i can get this done.
So,

- [ ] The margin needs to be fixed.
- [ ] The navigation of the links should lead to the right place.

yes? anything else?

[2021-08-07 16:42] warunicorn19 commented on #1737
for sure @Goodiec, here you go!

[2021-08-07 16:43] Nikhil-Ladha commented on #2040
Only the above 2 :)

[2021-08-07 16:44] warunicorn19 commented on #2040
Cool, will get it done, as soon as i can :)

[2021-08-07 22:29] Goodiec commented on #1737
@Chadha93, please provide the link to the description you mentioned.

[2021-08-08 06:50] Chadha93 commented on #1737
@Goodiec I have updated it in the description of the issue. https://github.com/layer5io/image-hub#readme

[2021-08-09 23:08] leecalcote opened #2071 "Document contributor instructions for blog posts"
**Current Behavior**
https://layer5.io/blog encourages blog posts from contributors and community members.

**Desired Situation**
The current [set of contributor instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md) do not have a section dedicated to how to contribute a blog post.

Please document these contributor instructions, including any commonly used CSS styles, how `

[2021-08-09 23:22] leecalcote opened #2072 "[Blog] Request for new post: Using Aliases with Meshery CLI"
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member:

**Desired Title:** Using Aliases with Meshery CLI
**Topic:** tips and tricks of using `mesheryctl`
**Core points to convey in the post:**
1. What CLI aliases are.
1. What commands are used more frequently based on

[2021-08-09 23:27] leecalcote commented on #2072
@josephmidura and @bariqhibat, this could be a tag team-style blog post from the two of you, if it piques interest.

[2021-08-10 00:21] bariqhibat commented on #2072
Sure I can definitely do a write-up 😀

[2021-08-10 01:51] josephmidura commented on #2072
Let me know if you need help @bariqhibat

[2021-08-11 02:00] leecalcote commented on #2021
@debo19 you had a good start to this page. Did you PR this, yet?

[2021-08-11 06:51] debjani1413 commented on #2062
Hey @samirparhi-dev , I've  been really busy due this my exams right now, can you please unassign me, really sorry for the inconvenience caused!

[2021-08-11 06:56] samirparhi-dev commented on #2062
No Sweat ! @debjani1413.

[2021-08-11 07:20] debo19 commented on #2021
@leecalcote I just put in a PR for the page, I will add the call-out to discuss as soon as that gets finalized

[2021-08-11 20:18] #2037 closed

[2021-08-11 20:34] Anita-ihuman opened #2075 "Merge the Handbook and side menu"
**Description**
Currently,  the handbook has a first page that makes it hide the main content of the handbook.

**Expected Behavior**
- We need the handbook header and the side menu to appear on the same page, while users navigate the items on the side menu.
- Also, the selected menu should be highlighted and bold upon selection.
**Screenshots**
![Screenshot 2021-08-11 at 21 15 32](https://user-im

[2021-08-11 20:42] Anita-ihuman opened #2076 "Move the Item header in handbook"
**Description**
Currently, the side menu Header is over the entire items where "Community Handbook " should be.

**Expected Behavior**
The Header for each selected Side menu item should appear just over the content of the selected menu and not on the Blue-green background as seen in the image below.

**Screenshots**
![Screenshot 2021-08-11 at 21 35 47](https://user-images.githubusercontent.com/623

[2021-08-11 20:57] Anita-ihuman opened #2077 "Increase side menu width"
**Description**
The side menu appears to be compressed and this has caused the text to break

**Expected Behavior**
- Increase the width of the side menu for the community handbook.
-  remove `margin-inline-end: 75rem;` for this side menu
- Rename "Handbook" to "Table of Content"

**Screenshots**

![Screenshot 2021-08-11 at 21 45 34](https://user-images.githubusercontent.com/62384659/129101215-48c

[2021-08-11 22:22] shayaan-absar commented on #2077
Hi, I'm new to opensource and would like to contribute if that's okay.

[2021-08-12 06:39] d-cryptic commented on #2077
Hey @Anita-ihuman @leecalcote , I want to contribute to this issue. I think this issue can be solved only by CSS, is there any other requirement?

[2021-08-12 06:43] Anita-ihuman commented on #2077
Sure @d-cryptic go ahead

[2021-08-12 06:45] warunicorn19 opened #2078 "[Website] Handbook not mobile responsive"
**Description**
The handbook is not is mobile responsive.

**Expected Behavior**
It should be visible in all the views.

**Screenshots**
![Screenshot_20210812-115844](https://user-images.githubusercontent.com/53532328/129150242-a2e14bad-714b-4616-b133-e33e0bf8f319.jpg)

**Enviroment:**
- Host OS: MacOs
- Browser:  Chrome

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and

[2021-08-12 06:47] d-cryptic commented on #2077
Ok thanks

[2021-08-12 07:44] NikhilSharma03 commented on #2078
@warunicorn19 If possible would love to work on this too.

[2021-08-12 07:44] warunicorn19 commented on #2078
Go ahead @NikhilSharma03

[2021-08-12 13:37] Jassi10000 opened #2080 "Issue in NewComers meeting minutes"
**Description**

The Newcomers meeting minutes link on https://layer5.io/community/calendar is pointing to the wrong google doc.

**Expected Behavior**

The link should point to correct Google Doc

**Screenshots**

**Enviroment:**
- Host OS:
- Meshery Version:
- Kubernetes Version:
- Browser:

---

[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Sc

[2021-08-12 13:57] calicomills commented on #2077
Hi @Anita-ihuman @leecalcote, first timer here, Can i give it a shot? Started learning CSS recently.

[2021-08-12 14:02] warunicorn19 commented on #2077
@calicomills seems like someone is already working on this, why don't you have a look at other issues with this label [Help wanted](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+org%3Ameshery+org%3Aservice-mesh-performance+org%3Aservice-mesh-patterns+label%3A%22help+wanted%22+)

[2021-08-12 14:20] Jassi10000 commented on #2080
@Abiola-Farounbi I want to work on this , Lee has already told me to

[2021-08-12 14:28] leecalcote commented on #2077
@calicomills don't let this discourage you. There's pleeeeenty more where this comes from. We just went over a number of similar issues on today's Newcomers call. We'd love to have you join in --> https://meet.layer5.io - to that call or any of the calls.

[2021-08-12 14:36] Abiola-Farounbi commented on #2080
okay, good luck with it 😎

[2021-08-12 14:58] Jassi10000 commented on #2080
Ahh , that was a nice coincidence
@Abiola-Farounbi Nice to meet you

[2021-08-12 14:59] Jassi10000 commented on #2080
Thanks @Abiola-Farounbi 😀🤘

[2021-08-12 15:13] calicomills commented on #2077
Thanks..I will check this out!

[2021-08-12 15:15] warunicorn19 commented on #2077
That's great to hear 😃!

[2021-08-12 15:18] calicomills commented on #2076
Hi First timer here!..Can i claim this?

[2021-08-12 15:20] warunicorn19 commented on #2076
For sure @calicomills ✌️.

[2021-08-12 15:29] calicomills commented on #2076
ok..Thanks! @warunicorn19

[2021-08-12 17:23] kg-kartik commented on #2075
Can i pick up this issue?

[2021-08-12 17:30] warunicorn19 commented on #2075
here you go @kg-kartik !

[2021-08-12 17:56] warunicorn19 opened #2082 "[Site] Handbook"
**Current Behavior**
The entire handbook uses styling in each page as well as a stylesheet, without the use of common classes.
Also, due to this some pages are not mobile responsive while others are.

**Desired Situation**
Create common classes and a single style sheet for the entire handbook so that it is easier to work with.
Also, add mobile responsivness

---
**Contributor Resources**

The laye

[2021-08-12 18:16] warunicorn19 commented on #1942
@khanjasir90 any updates?

[2021-08-12 19:56] leecalcote commented on #2082
Thanks for this. Let's note that the community handbook is a sub-section of the overall site (a collection of pages) and that while it might have some specific CSS classes for this collection, it should seek to source from a common, universal set first.

We need to better define that common, universal set. I’m tagging others to coordinate with: @Nikhil-Ladha @Tanuj22 @Jashpatel1. Part of my issue

[2021-08-13 04:58] #2021 closed

[2021-08-13 05:51] d-cryptic commented on #2077
Hey, I have tried to check the changes on chrome developer console and removed the `margin-inline-end` property and changed the headline to "table of content". Do you want to add more  spacing or width to the side bar?

![image](https://user-images.githubusercontent.com/52271502/129310820-b40b9fac-2f3f-40a7-9441-5a48a0562254.png)

[2021-08-13 06:13] Anita-ihuman commented on #2077
This looks a lot better. I don't think there is need for additional space there.

[2021-08-13 10:07] d-cryptic commented on #2077
Hey, I initiated a pull request, will you please review it!

[2021-08-13 10:41] calicomills commented on #2076
Just a suggestion @Anita-ihuman, Wouldn't it be better to just "highlight" the selection on the menu, than display the menu item again above the content, we can avoid the redundancy.

[2021-08-13 10:50] Anita-ihuman commented on #2076
We can try this and see how it looks.
Currently there is no design layout to best explain this. @calicomills

[2021-08-13 12:27] #2078 closed

[2021-08-13 18:02] calicomills commented on #2076
![image](https://user-images.githubusercontent.com/24970675/129400434-edaad77a-965f-4845-8be0-f4cfb818cc98.png)
How does this look?..I will in the mean time try to get it like I mentioned in my suggestion.(Looks like that's trickier than i first expected)

[2021-08-13 18:05] warunicorn19 commented on #2076
I think it looked better before.

[2021-08-13 18:14] Anita-ihuman commented on #2076
Looks a lot better,
Alright the heading could use padding at the bottom.
Although,I think instead leaving the spot where the heading was previously, you can  put “Community Handbook “ there to be consistently fixed.

[2021-08-13 19:17] calicomills commented on #2076
![image](https://user-images.githubusercontent.com/24970675/129408106-bcadfc04-e5e8-419b-8a8f-b68848de348f.png)
@Anita-ihuman I made the changes you suggested.

[2021-08-13 20:08] Anita-ihuman commented on #2076
Yeah this looks great.

you might want to make a Pull because there was recently a few changes to the side menu, so you won’t have any merge conflict.

[2021-08-13 20:55] calicomills commented on #2076
Please review. @Anita-ihuman #2085

[2021-08-14 06:44] ishitakeshawani opened #2086 "Project's name are not responsive in small screen device of layer5 website"
**Description**
These project names do not look proper in small screen devices.

**Screenshots**
|![Screen Shot 2021-08-14 at 12 03 53](https://user-images.githubusercontent.com/50510726/129437678-e06fcef8-4b83-466b-b7ac-fe39e135f430.png) |
|-|

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://githu

[2021-08-14 06:50] warunicorn19 commented on #2086
@ishitakeshawani I think this is the design itself, but do you want to try seeing if you can fit it inside the screen?

[2021-08-14 11:36] ishitakeshawani commented on #2086
Yes, I can try to fit inside the screen.

[2021-08-14 13:03] claire-me commented on #2086
@ishitakeshawani Can I fix this issue?

[2021-08-15 10:23] leecalcote commented on #2021
Good stuff here.

[2021-08-15 10:27] leecalcote commented on #1942
I assume that slack doesn't have a public API with member account for a given workspace…￼

[2021-08-15 11:28] khanjasir90 commented on #1942
@leecalcote @warunicorn19 @Anita-ihuman i have researched about it and did'nt found anything worthy that fits our need! lets close this issue

[2021-08-15 11:32] leecalcote commented on #1942
@khanjasir90 Slack doesn’t have an API that returns workspace user count?

[2021-08-16 03:22] AbhishekBhatt072003 commented on #2086
Hello @warunicorn19
I wanted to fix this issue. This can be easily corrected with CSS. If you allow me then I can give this a Go.

[2021-08-16 04:11] warunicorn19 commented on #2086
@ishitakeshawani  @claire-me  @AbhishekBhatt072003 hey guys, I'm actually going to close this issue, I've taken a look into this and the thing is that this is the design of the website itself, so there's nothing to fix. Please take a look at the other issues with the [Help wanted](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Ameshery+org%3Aservice-mesh-performance+label%3

[2021-08-16 04:11] #2086 closed

[2021-08-16 07:23] leecalcote commented on #2086
@ishitakeshawani its fantastic to see initiative like this taken to file an issue when errors or potential enhancements are recognized. Thank you for this.

In this particular case, the logo size shown in the screen major is according to design. To confirm this, will you have a look at the components page in the Layer5 Figma designfile?

If the screenshot and the design are the same (which I belie

[2021-08-16 08:00] leecalcote commented on #2086
Oh, oops. I'm just now seeing @warunicorn19's last comment and the fact that this issue is already closed. Very good. Carry on as you were, folks.

[2021-08-16 10:44] leecalcote opened #2087 "[Tutorial Request] Newcomers Meeting: "Working with Meshery Docs and Jekyll""
**Request**
Provide a "Working with Meshery Docs and Jekyll" session in the Newcomers' meeting. This should include example use of docs features like `{% include alert.html %}`.

See existing resources on https://layer5.io/community/newcomers (this tutorial will be posted there as when delivered) and [tutorial tracking spreadsheet](https://docs.google.com/spreadsheets/d/1IY9mxu8nbRBsrlMPDNY5p2yyQf

[2021-08-16 11:06] leecalcote opened #2088 "[Tutorial Request] Newcomers Meeting: "Working with Layer5.io and Gatsby and GraphQL""
**Request**
Provide a "Working with Layer5.io and Gatsby and GraphQL" session in the [Newcomers' meeting](https://meet.layer5.io). This should include example use of the site's theme, component creation and reuse, data retrieval with GraphQL .

See existing resources on https://layer5.io/community/newcomers (this tutorial will be posted there as when delivered) and [tutorial tracking spreadsheet](

[2021-08-16 11:08] leecalcote opened #2089 "[Tutorial Request] Newcomers' meeting: "Commanding Meshery with mesheryctl and Golang""
**Request**
Provide a "Commanding Meshery with mesheryctl and Golang" session in the [Newcomers' meeting](https://meet.layer5.io). This should include example use of the site's theme, component creation and reuse, data retrieval with GraphQL .

See existing resources on https://layer5.io/community/newcomers (this tutorial will be posted there as when delivered) and [tutorial tracking spreadsheet](

[2021-08-16 11:15] leecalcote commented on #2072
@bariqhibat you might create a Google Doc in the community drive as both a way of drafting the post and of collaborating with @josephmidura

[2021-08-16 11:19] bariqhibat commented on #2072
That works too! Hey @josephmidura, I put the draft for the post [here](https://docs.google.com/document/d/1sH519ZVfB1xshnhz1cZw8Fxpq5zuy7WWml3j62G-Jqw/edit)

[2021-08-16 12:06] Anita-ihuman commented on #2075
@kg-kartik any the update on this ?

[2021-08-16 14:11] mohankumar27 commented on #2075
Is this issue still open. Can i take it up ?

[2021-08-16 15:27] warunicorn19 opened #2091 "[Handbook] Sidebar navigation"
**Description**
The sidebar Navigation in the handbook is not working like it should.

**Expected Behavior**
The sidebar should navigate to the right places in the handbook

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](ht

[2021-08-16 18:21] #2080 closed

[2021-08-17 16:37] #2091 closed

[2021-08-17 18:08] calicomills commented on #2076
Could you please review the changes. @Anita-ihuman @leecalcote

[2021-08-18 06:02] #1923 closed

[2021-08-18 13:47] warunicorn19 commented on #2028
@sudo-NithishKarthik can we close this issue? I believe that the PR has been merged already

[2021-08-18 13:55] #2082 closed

[2021-08-18 18:20] warunicorn19 opened #2096 "[Callout] Make a smaller callout for the blog page"
**Current Behavior**
The newly designed callout for discuss doesn't sit well on the blog page.

**Desired Situation**
Create a smaller callout which sits well with the already existing callout on the blog page.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master)

[2021-08-18 18:21] warunicorn19 commented on #1801
@Amishakumari544 any updates?

[2021-08-18 18:35] Amishakumari544 commented on #1801
No @warunicorn19 o discussed with the seniors they told me that they will discuss this in the meeting as no proper solution found till now for this

[2021-08-18 19:34] warunicorn19 commented on #1801
@Amishakumari544 okay , @Jashpatel1 @Tanuj22 should we put this as an agenda in the community meeting?

[2021-08-18 20:21] Tanuj22 commented on #1801
@warunicorn19 websites call will be better for this ig

[2021-08-18 20:22] warunicorn19 commented on #1801
@Tanuj22 okay, sounds good.

[2021-08-18 20:25] #1918 closed

[2021-08-19 09:36] warunicorn19 commented on #2087
@leecalcote is this for today or can we do this next week ?

[2021-08-19 15:01] collab456 commented on #1857
@samirparhi-dev this is my very first try and would like to work on this, can I take this up?

[2021-08-19 15:04] warunicorn19 commented on #1857
@collab456 you could work on this once we decide what images to use, we'll bring this up in the websites call on Monday. I'll keep this assigned to you so that you could work on this in the future.

[2021-08-19 17:29] shahkushal38 commented on #2062
Hey @samirparhi-dev , I would like to work on this issue

[2021-08-19 17:33] warunicorn19 commented on #2062
@shahkushal38 go ahead!

[2021-08-19 17:37] warunicorn19 commented on #2062
Head's up: You'll have to create accounts on [staging-discuss.layer5.io](https://staging-discuss.layer5.io/) and [discuss.layer5.io](https://discuss.layer5.io/) and reach to jash to get admin access.

[2021-08-19 17:45] shahkushal38 commented on #2062
Okay will reach to out to Jash for access, through Slack community platform of Layer5

[2021-08-20 02:55] josephmidura commented on #2072
It looks like you're off to a good start @bariqhibat. I'm happy to take a look when you're finished.

[2021-08-20 19:05] leecalcote opened #2100 "[Community] Member Profile: Add Meshery badge to Aditi Ahuja's profile"
**Current Behavior**

@metonymic-smokey has been a consistent mesheryctl contributor.

**Desired Situation**
Aditi Ahuja's profile (https://layer5.io/community/members/aditi-ahuja) should bear the `meshery` badge in recognition of her efforts.

A detailed explanation on how to set up a community member profile can be found in the [CONTRIBUTING.md](https://github.com/layer5io/layer5/blob/master/CON

[2021-08-20 19:26] leecalcote opened #2101 "[Community] Member Profile: Badges for Adithya Chatterjee and Sayantan Bose"
**Current Behavior**

@warunicorn19 and @sayantan1413 have both donned a community manager hat and have been actively helping steward Layer5 community.

**Desired Situation**
Let's recognize @warunicorn19 and @sayantan1413  as a community managers by adding the `community` badge to their https://layer5.io/community/members profiles.

A detailed explanation on how to set up a community member profi

[2021-08-21 06:54] kg-kartik commented on #2075
Sorry for the delay, I will be fixing the issue in a day or two.

[2021-08-21 07:12] warunicorn19 commented on #2075
@kg-kartik the first point of this issue has already been solved, if you could just execute the 2nd point.

[2021-08-21 07:46] kg-kartik commented on #2075
Okay, I will fix it as soon as possible

[2021-08-21 17:36] CIPHERTron commented on #2101
Heyy @leecalcote @warunicorn19 @sayantan1413 is this issue up for grab?
I would love to work on it 🚀

[2021-08-21 17:37] warunicorn19 commented on #2101
Go for it! @CIPHERTron

[2021-08-21 17:39] CIPHERTron commented on #2101
Thank you so much @warunicorn19 🙌🏻

[2021-08-21 18:10] #2096 closed

[2021-08-21 22:24] LifeofDan-EL opened #2104 "Readme Issue"
**Description**
The Badges section of the Contributing Readme has the ImageHub badge with the wrong name attached to it.

**Expected Behavior**
It's supposed to be ImageHub instead of Layer5.

**Screenshots**
![image](https://user-images.githubusercontent.com/45920948/130336281-f988d253-8f3d-431b-a576-cd4d4413a468.png)

[2021-08-21 22:54] ANURAG-PATHAK commented on #2104
I would like to work on this issue

[2021-08-21 22:59] ANURAG-PATHAK commented on #2100
Hey @leecalcote, I would like to work on this issue

[2021-08-21 23:12] LifeofDan-EL commented on #2104
Sure, feel free to go for it.

[2021-08-21 23:18] ANURAG-PATHAK commented on #2104
thank you, please assign me this issue.

[2021-08-21 23:28] LifeofDan-EL commented on #2104
I'm not in charge of assigning though but @Anita-ihuman is. Everyone is welcomed to contribute. just go through our contribution guide.

[2021-08-21 23:29] ANURAG-PATHAK commented on #2104
okay, thank you ☺️

[2021-08-22 00:43] warunicorn19 commented on #2100
Go for it @ANURAG-PATHAK !

[2021-08-22 00:44] ANURAG-PATHAK commented on #2100
Thank you @warunicorn19

[2021-08-22 00:49] ANURAG-PATHAK commented on #2104
<img width="1288" alt="Screenshot 2021-08-22 at 6 18 24 AM" src="https://user-images.githubusercontent.com/81188792/130338385-0bb170b8-5ed0-44ed-a6e8-66d67413db7c.png">

Is it the desired change? should I make a PR with this change?

[2021-08-22 01:17] LifeofDan-EL commented on #2104
I believe you should capitalize the first letter of community, then the hawk in GetNighthawk, then SMP. Looks great so far.

[2021-08-22 01:18] ANURAG-PATHAK commented on #2104
okay sure, thanks for the review

[2021-08-22 02:16] ANURAG-PATHAK commented on #2104
hey @LifeofDan-EL are you sure about capitalizing hawk in GetNighthawk because on the site I saw that there is no capitalizing of Hawk if you are sure about the change then confirm me I will do the same

[2021-08-22 02:18] warunicorn19 commented on #2104
@ANURAG-PATHAK it's 'GetNighthawk', so no changes required ther.

[2021-08-22 02:21] ANURAG-PATHAK commented on #2104
okay thank you

[2021-08-22 03:11] bariqhibat commented on #2072
Hey Joem it should be good now. I do the write-up in markdown-style.

[2021-08-22 06:29] #2104 closed

[2021-08-22 06:30] #2100 closed

[2021-08-22 06:32] #2101 closed

[2021-08-22 06:59] CIPHERTron commented on #2101
I was gonna send a PR just now but I see this issue has been already addressed 😅
I'll work on some other issues now. Thanks, @warunicorn19 for assigning me this!

[2021-08-22 07:11] warunicorn19 commented on #2101
Uh oh! Sorry for the miscommunication. @ANURAG-PATHAK from next if you could please check if someone is already working on an issue before putting in a PR it'll be much appreciated 😊

[2021-08-22 08:20] ANURAG-PATHAK commented on #2101
I am sorry @warunicorn19 @CIPHERTron from next time I will take care of it.

[2021-08-22 18:09] josephmidura commented on #2072
@bariqhibat Your draft has a solid example of how to use an alias with Meshery. I made a couple comments on the draft. Because you explained the example so well, it's easy for a reader to understand why aliases are useful.

How do you think analysis of the 1500 entry meshery history should be included? My initial thought is that the post could mention that the [aliases repo](https://github.com/lay

[2021-08-23 05:18] #2077 closed

[2021-08-23 10:08] CIPHERTron commented on #2071
Can I know more about this issue, @leecalcote @warunicorn19 ❓

[2021-08-23 12:03] Jordan-Rob commented on #2071
hi @leecalcote can I work on this

[2021-08-23 15:26] iamsdas opened #2110 "Community calendar has some incorrect links"
**Description**

The events calendar [page](https://layer5.io/community/calendar) has incorrect links to the meeting minutes for the following meetings:
* WebAssembly Filters Meeting
* Meshery MeshSync/MeshMap Meeting
* Meshery Development Meeting

**Current Behavior**
Incorrect links

**Expected Behavior**

Correct links to their respective meeting minutes

**Enviroment:**
- Host OS: Linux
- Mesh

[2021-08-23 15:27] leecalcote commented on #2110
Thank you, @iamsdas

[2021-08-23 15:28] leecalcote commented on #2110
@iamsdas if you're taking this one, will you self-assign? If not, will you label with `good first issue` and `help wanted`?

[2021-08-23 17:33] warunicorn19 opened #2111 "[Handbook] Change Heading"
**Description**
Change the heading from "About" to "Community Handbook"

**Screenshots**
<img width="1432" alt="Screenshot 2021-08-23 at 11 01 51 PM" src="https://user-images.githubusercontent.com/53532328/130491391-f16e441b-13e8-4ad5-936a-ca9a353667ea.png">

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch]

[2021-08-23 17:41] 5hraddha commented on #2111
Could you please assign the issue to me?

[2021-08-23 17:44] Ishan2077 commented on #2111
Hi @warunicorn19 . I would love to contribute!

[2021-08-23 17:44] warunicorn19 opened #2112 "Issue Template"
**Description**
The current issue template for bug report has some information that is not required.

**Expected Behavior**
Remove "Meshery Version", "Kubernetes Version" and the "To Reproduce" section.
Also, fix the spelling of "Environment".

**Screenshots**
<img width="559" alt="Screenshot 2021-08-23 at 11 07 48 PM" src="https://user-images.githubusercontent.com/53532328/130492805-edbbbf7d-9739

[2021-08-23 17:47] warunicorn19 commented on #2111
@Ishan2077 sorry, I'll have to assign this issue to @5hraddha because she commented first. Why don't you take a look at some other issues with the [Help wanted](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Ameshery+org%3Aservice-mesh-performance+org%3Alayer5io+label%3A%22help+wanted%22+) label

[2021-08-23 17:48] 5hraddha commented on #2111
Thank you @warunicorn19.

[2021-08-23 17:53] Ishan2077 commented on #2112
Hi @warunicorn19  ! Can I take this issue?

[2021-08-23 17:55] sayantan1413 commented on #2112
Yeah sure @Ishan2077 go ahead!

[2021-08-23 18:27] 5hraddha commented on #2111
Hi @warunicorn19, I have updated the heading and submitted a PR. Could you please have a review? Thank you!!

[2021-08-23 18:28] warunicorn19 commented on #2111
Yes @5hraddha, just waiting for a maintainer to approve the workflow😅.

[2021-08-23 18:45] Ishan2077 commented on #2112
@sayantan1413 thanks for assigning me the issue! I am trying to clone the repository and trying to install the dependency: ```
[code]
Can you please assist me on how I can fix it. Thanks in advance!

[2021-08-23 18:46] warunicorn19 commented on #2112
@Ishan2077 have you installed `make` on your machine?

[2021-08-23 18:46] Ishan2077 commented on #2112
Yes @warunicorn19 . I have installed `make` on my machine

[2021-08-23 18:47] sayantan1413 commented on #2112
Hey @Ishan2077 you have to move to the Layer5 folder and then install the dependencies.

[2021-08-23 18:47] warunicorn19 commented on #2112
@Ishan2077 i think you've not gone into the Layer5 file

[2021-08-23 18:50] sayantan1413 commented on #2112
And @Ishan2077 for this issue you have to change it here https://github.com/layer5io/layer5/tree/master/.github/ISSUE_TEMPLATE ✔️

[2021-08-23 18:51] Ishan2077 commented on #2112
@sayantan1413 @warunicorn19 I apologize. I was using it in the wrong folder. Thanks for your help!

[2021-08-23 20:34] warunicorn19 opened #2114 "[Site] Add anchor tag to the meetings table"
**Description**
The meetings table on layer.io doesn't get redirected to.

**Expected Behavior**
When a user goes to meet.layer5.io it should redirect to the meetings table below the calender.

**Screenshots**

<img width="1440" alt="Screenshot 2021-08-24 at 2 00 10 AM" src="https://user-images.githubusercontent.com/53532328/130515613-aef566f4-b29b-4360-9b58-501a7bcc53c5.png">

**Contributor Resou

[2021-08-23 21:18] frankiefab100 commented on #2114
Please where can I locate this. I want to fix it

[2021-08-23 21:25] warunicorn19 commented on #2114
Hey @frankiefab100, you'll be to find this [here](https://github.com/layer5io/layer5/blob/05292f93d8e39ceb64f6e634b970281ab6f57bbd/src/components/MeetInfo-Table/index.js). Please be sure to through the [Contibuting docs](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#contributor-instructions)😃.

[2021-08-23 21:36] frankiefab100 commented on #2114
Alright, thanks

[2021-08-24 18:55] ksonawat007 commented on #2110
Hey, I am a newbie and want to work on this. Can I take up this issue?

[2021-08-24 18:56] sayantan1413 commented on #2110
Sure @ksonawat007 go ahead 🚀

[2021-08-24 18:56] warunicorn19 commented on #2110
For sure @ksonawat007 go for it

[2021-08-24 19:18] ksonawat007 commented on #2110
Pardon me if I ask some silly questions 😅. But is it this link that I have to change (The zoom one)? If yes, then to which link it should direct?

![image](https://user-images.githubusercontent.com/72885226/130676539-0cf13332-c6ca-4111-87f8-c24d21f3b52f.png)

[2021-08-24 19:25] iamsdas commented on #2110
Actually you only need to change the link to the meeting minutes (the **Minutes** column) for the meetings listed in the issue. You can find the correct links from [this](https://bit.ly/2SbrRhe) calendar.

[2021-08-24 20:06] ksonawat007 commented on #2110
Fixed the issue. PR is up! Really enjoyed this. Thanks :)

[2021-08-25 16:47] Et-008 commented on #2088
Hi, I'd love to work on this.
Also the figma linked above is not accessible, please let me know.

[2021-08-26 03:18] leecalcote opened #2122 "[Partners] Add Intel as a Layer5 Partner"
**Current Behavior**
Layer5 is an Intel partner.

**Desired Behavior**
Intel should be represented:

1. on https://layer5.io/partners
2. on https://layer5.io - main page

Description:
Intel and Layer5 have partnered to deliver Service Mesh Performance (/projects/service-mesh-performance) as a new standard of measure for service mesh performance characterization. Collective works have been publishe

[2021-08-26 09:45] #2122 closed, assigned to warunicorn19

[2021-08-26 19:53] dhruv0000 opened #2125 "[Landscape] Not showing NGINX logo in the `Service Mesh Interface Compliance` table"
**Current State:**

![image](https://user-images.githubusercontent.com/44001539/131027119-3c9a4077-6aa4-4863-b0a3-fdb31b9bc4b4.png)

**Desired State:**
The icon should ideally show NGINX logo
---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mesh-landscape)
The layer5.io website uses Gatsby,

[2021-08-27 11:31] DelusionalOptimist opened #2127 "Enhancing the getting started section"
**Description**
The steps for getting started and setting up Meshery at https://layer5.io/service-mesh-management/meshery/getting-started are not clear enough. The current steps based on the "platform" don't offer much distinction between operating systems and type of Kubernetes clusters.
This might lead to users missing important steps specific to their method of deploying Meshery.

---
**Contrib

[2021-08-27 11:59] leecalcote opened #2128 "Refresh Meshery installation commands"
**Description**
[This page](https://layer5.io/service-mesh-management/meshery/getting-started) has a number of platforms listed with platform-specific commands for installing Meshery.

**Expected Behavior**
_**ignore: 1. The commands under each platform need to be updated to reflect changes shown on https://meshery.io/#getting-started_
2. The logos in the screenshot should be an in-page link the t

[2021-08-27 18:33] #2125 closed, assigned to iamdevelopergirl

[2021-08-28 11:11] shahkushal38 commented on #2127
Hey @DelusionalOptimist , can I take up this issue?

[2021-08-28 20:04] sayantan1413 opened #2130 "[Community] Member Profile: Sunku Ranganath"
**Current Behavior**

@sunkuranganath  has been a SMP Maintainer and community member.

**Desired Situation**
Let's recognize @sunkuranganath  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: sunkuranganath
- Twitter: sunkuranganath
- LinkedIn: sunkuranganath
- Link to profile picture:

A detailed explanation on how to set up a communit

[2021-08-29 07:29] DanielLivingston32 commented on #2029
https://user-images.githubusercontent.com/34663286/131242317-d497d4b0-475a-4073-8960-0c5899819f82.mov

@sudo-NithishKarthik
What do you think of this change?
Can we implement it on all the pages?

[2021-08-29 13:13] Amishakumari544 commented on #1801
Is there any update on this @warunicorn19 ??

[2021-08-29 13:27] warunicorn19 commented on #1801
@Amishakumari544 it would be great if you could be on tomorrow's websites' call and bring this up. We tend to keep forgetting😅.

[2021-08-29 13:28] Tanuj22 commented on #1801
@warunicorn19 @Amishakumari544 can you list this down as topic in the meeting minutes?

[2021-08-29 13:35] warunicorn19 commented on #1801
@Tanuj22 Yup did it already

[2021-08-29 14:27] Amishakumari544 commented on #1801
Oh sorry I will join tomorrow 😅

[2021-08-30 10:48] #1737 closed

[2021-08-30 12:56] warunicorn19 opened #2134 "[UX] Change the carousel in the handbook"
**Current Behavior**
The mentorship programs page in the handbook has a carousel.

**Desired Situation**
A need for a better design.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/layer5/blob/ma

[2021-08-30 12:58] warunicorn19 opened #2135 "[UX] Homepage for the handbook"
**Description**
The current handbook doesn't have a landing page

**Expected Behavior**
A newly designed handbook landing page.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/layer5/blob/master/

[2021-08-30 13:00] warunicorn19 opened #2136 "[UI] change the bullet colors in handbook"
**Description**
The bullets used in the handbook are in kepel green as of now.

**Expected Behavior**
All the bullets should be changed to the charcoal. (please use from theme)

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions

[2021-08-30 13:04] warunicorn19 opened #2137 "[UI][Handbook] Use clipboard"
**Current Behavior**
Currently all the code snippets in the handbook are in quotes

**Desired Situation**
Use the clipboard component for all the commands.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/

[2021-08-30 13:12] shreyaansjain commented on #2136
Can i work on this issue

[2021-08-30 13:12] warunicorn19 opened #2138 "[UI][Handbook] Links redirecting to TOC components in mobile view"
**Description**
In mobile view, the link of components TOC are still active.

**Expected Behavior**
It shouldn't be.

**Screenshots**

https://user-images.githubusercontent.com/53532328/131344320-fde2e084-18be-4d65-b61d-202101fd4771.mov

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5

[2021-08-30 13:19] warunicorn19 opened #2139 "[UI][Handbook]Redesign the Repository Overview page and add correct links"
**Current Behavior**
The Repository Overview doesn't have adequate information and also has some incorrect links.

**Desired Situation**
Redesign the page to display more information effectively.

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributi

[2021-08-30 13:19] warunicorn19 commented on #2136
Go for it!

[2021-08-30 15:22] Meghana-12 opened #2140 "[UI] Add tooltip in Service Mesh Interface Compliance table"
**Description**
Only logos of the service meshes are provided in the Service Mesh Interface Compliance table, names aren't. I think is good to have a tooltip that displays the name of the mesh.

**Expected Behavior**
When the user hovers on the service mesh logo, it should display the name of the mesh.

**Screenshots**
![Screenshot 2021-08-30 at 8 43 18 PM](https://user-images.githubusercontent.co

[2021-08-30 15:44] NikhilSharma03 commented on #2135
@warunicorn19 Can I look into this?

[2021-08-30 15:46] 5hraddha commented on #2140
Hi @Meghana-12, I am interested in adding tooltip to the images. Could you please let know what are the names that you want to show on tooltip on the images? Thank you!!

[2021-08-30 15:54] warunicorn19 commented on #2135
That'll be great @NikhilSharma03

[2021-08-30 15:56] warunicorn19 commented on #2140
Yes @5hraddha those are the right names.

[2021-08-30 16:28] warunicorn19 opened #2141 "[Community] Member Profile: Meghana Varanasi"
**Current Behavior**

@Meghana-12  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @Meghana-12  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @Meghana-12
- Twitter: meghana_cosmos (https://twitter.com/meghana_cosmos)
- LinkedIn: Meghana Varanasi (https://www.linkedin.com/in/meghana100/)

[2021-08-30 16:38] #2130 closed

[2021-08-30 16:42] #2111 closed

[2021-08-30 17:40] Meghana-12 commented on #2141
Thanks a lot for this <3

[2021-08-30 18:23] #2141 closed

[2021-08-30 19:13] #2140 closed

[2021-08-30 20:34] StephNathai commented on #2138
Hi, can I grab this issue?

[2021-08-30 20:51] warunicorn19 commented on #2138
Sure @StephNathai.

[2021-08-31 05:43] DelusionalOptimist commented on #2127
@leecalcote can you confirm if this is same as https://github.com/layer5io/layer5/issues/2128 ?

[2021-08-31 06:36] shahkushal38 commented on #2127
Hello @leecalcote  and @DelusionalOptimist  I have made small changes in CSS and HTML of Meshery-platforms -> index.js section so as to  solve the problem of command getting cropped -
1) In our original site the command for different platforms gets cropped for some reason -

![Screenshot from 2021-08-31 11-50-12](https://user-images.githubusercontent.com/60709835/131452436-3d1891e5-54d0-4d58-9388-

[2021-08-31 13:45] leecalcote commented on #2127
@DelusionalOptimist you're right. # 1 in #2128 duplicates this issue (#2127). @debjani1413, my apologies, I didn't realize that we had duplicative issues. Will you please consider only implementing request # 2 in #2128?

[2021-09-01 08:32] #2136 closed

[2021-09-01 19:04] sayantan1413 opened #2148 "[Community] Member Profile:"
**Current Behavior**

@Abhishek-kumar09  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @Abhishek-kumar09 as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: Abhishek-kumar09
- Twitter: Abhi_dev_dude
- LinkedIn: abhishek-kr09
- Link to profile picture: https://avatars.githubusercontent.com/u/

[2021-09-01 19:05] sayantan1413 commented on #2148
Hey @Abhishek-kumar09 can you provide a bio and your location ?

[2021-09-01 21:59] #2137 closed

[2021-09-02 03:45] Hell4U commented on #2114
Just wanna ask is the issue resolved ?

[2021-09-02 04:33] warunicorn19 commented on #2112
@Ishan2077 any updates?

[2021-09-02 04:34] warunicorn19 commented on #2076
issue seems to be fixed already.

[2021-09-02 04:34] #2076 closed

[2021-09-02 04:35] warunicorn19 commented on #2075
@kg-kartik any updates?

[2021-09-02 04:35] warunicorn19 commented on #2062
@shahkushal38 any updates?

[2021-09-02 04:59] warunicorn19 opened #2149 "[CI] Updates label `issue/remind` for PRs"
**Current Behavior**
Currently, the label `issue/remind` doesn't work for PRs

**Desired Situation**
The label should work for PRs as well.

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/layer5/blob

[2021-09-02 05:24] MukulKolpe commented on #2149
Hey @warunicorn19 can I work on this issue?

[2021-09-02 05:25] warunicorn19 commented on #2149
Sure thing!

[2021-09-02 06:26] Abhishek-kumar09 commented on #2148
very auspicious day for me :smiley: Thanks @sayantan1413

Bio:

I am an undergrad student from Delhi who loves to work on different open-source projects and their development. Thanks to all open source organisations that has groomed me with providing better knowledge and practical implementation of every problem. Have been part of open source orgs like Checkstyle Java, Codeforcause org and Layer5

[2021-09-02 14:29] kg-kartik commented on #2075
@warunicorn19 Will raise a PR by end of the day!

[2021-09-02 17:01] #2138 closed

[2021-09-02 20:10] vishal-codes commented on #2148
@sayantan1413 Can I work on this?
Hello @Abhishek-kumar09  bhaiya hope u r doing great and kudos!!!! for your efforts🎉

[2021-09-02 21:12] #2139 closed

[2021-09-03 09:54] bariqhibat commented on #2072
Hey @josephmidura, I've made some additions and changes according to your reviews. Could you check again [the docs](https://docs.google.com/document/d/1sH519ZVfB1xshnhz1cZw8Fxpq5zuy7WWml3j62G-Jqw/edit)?

[2021-09-03 17:23] vishal-codes commented on #2148
@sayantan1413 , @josephmidura Which all badges should I assign to @Abhishek-kumar09 ?

[2021-09-03 19:18] #2075 closed

[2021-09-03 20:58] leecalcote opened #2151 "[Discuss] Performance issues"
**Description**
The discuss.layer5.io site is underperforming despite having spare CPU and memory resources.

This report highlights various issues that can be addressed on the site itself - https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fdiscuss.layer5.io

**Expected Behavior**
Address the issues listed in the report.

---
**Contributor Resources**

Contributing to the

[2021-09-03 23:48] Anita-ihuman opened #2152 "[handbook] Update the content of About, Community & Contributing"
**Current Behavior**
The current [handbook](https://layer5.io/community/handbook) online is missing some content

**Desired Behavior**
Update the About, Community & Contributing sections with the [new draft](https://docs.google.com/document/d/1vxc8MLhDetIlBa1DCUTMbYLGWL4Df4K1xB_Ov5oUK7o/edit#heading=h.vtdtai5j3tq7) on the community handbook

---
**Contributor Resources**

The layer5.io website use

[2021-09-03 23:52] Anita-ihuman opened #2153 "[Handbook] Update the Repository Overview, Projects, & Mentorship Programs"
**Current Behavior**
These sections are missing some content from the newly updated Handbook draft.

**Desired Behavior**
Update the Repository Overview, Projects & Mentorship Programs section with the details from the [new draft](https://docs.google.com/document/d/1vxc8MLhDetIlBa1DCUTMbYLGWL4Df4K1xB_Ov5oUK7o/edit#heading=h.vtdtai5j3tq7) of the handbook.

---
**Screenshots / Mockups**

**Alternati

[2021-09-03 23:59] Anita-ihuman opened #2154 "[Handbook] Update the Learn Layer5, Connect with us & Code of Conduct sections"
**Current Behavior**
These sections on the [site](https://layer5.io/community/handbook) are missing some content from the new handbook draft

**Desired Behavior**
Update the Learn Layer5, Connect with us &  Code of Conduct sections according to the details existing in the [new handbook](https://docs.google.com/document/d/1vxc8MLhDetIlBa1DCUTMbYLGWL4Df4K1xB_Ov5oUK7o/edit#heading=h.vtdtai5j3tq7)  dr

[2021-09-04 00:30] 5hraddha commented on #2154
Hi @A, I would like to work on this. Could you please assign it to me?

[2021-09-04 01:01] khanjasir90 commented on #2153
@Anita-ihuman can i work on this!

[2021-09-04 02:00] Goodiec commented on #2152
@Anita-ihuman, please assign this to me.

[2021-09-04 03:42] debo19 commented on #2154
Go ahead @5hraddha

[2021-09-04 03:48] debo19 commented on #2153
Go ahead @khanjasir90 :rocket:

[2021-09-04 14:02] josephmidura commented on #2148
@vishal-codes The issue doesn't mention badges. You're just creating the contributor profile.

[2021-09-04 17:10] warunicorn19 opened #2155 "[Community] Member Profile: Suhani Agarwal"
**Current Behavior**

@suhaniii  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @suhaniii  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @suhaniii
- Twitter:
- LinkedIn: suhani-agarwal (https://www.linkedin.com/in/suhani-agarwal/)
- Link to profile picture:

A detailed explanation on ho

[2021-09-04 17:12] warunicorn19 commented on #2155
@suhaniii if you could just provide a couple of things:
1.  picture
2.  bio
3. location
4. Twitter handle(if you have one).

Also, congrats @suhaniii 😁.

[2021-09-04 19:38] vishal-codes commented on #2148
Okaay. Just created a <a href="https://github.com/layer5io/layer5/pull/2156">pr</a> which will solve this.

[2021-09-04 19:43] vishal-codes commented on #2155
hey @warunicorn19 once suhani provides the requested information then can I start working on this?

[2021-09-04 19:44] warunicorn19 commented on #2155
sure @vishal-codes

[2021-09-05 02:58] 5hraddha commented on #2154
Hey @debo19, could you please grant me permission to view the [new handbook](https://docs.google.com/document/d/1vxc8MLhDetIlBa1DCUTMbYLGWL4Df4K1xB_Ov5oUK7o/edit#heading=h.vtdtai5j3tq7) draft. I have raised the request for the same. Thank you!

[2021-09-05 06:23] suhaniii commented on #2155
@warunicorn19
Here is the link to pic - https://drive.google.com/file/d/1-bblDGwi2R68SscYb-Ct82Vx1ZKPVMXY/view?usp=sharing
Bio - "I am a Devops Engineer. Passionate about learning and upskilling myself.
I like to read books, explore new places and contributing to open source projects. In short I love adventures."
Location - Bangalore, India

[2021-09-05 06:27] warunicorn19 commented on #2155
Thanks @suhaniii , @vishal-codes let's get this done😄.

[2021-09-05 07:48] Tanuj22 commented on #2154
@5hraddha fill this https://layer5.io/newcomer/ to get access. And if you haven't already you are most welcome to join http://slack.layer5.io.

[2021-09-05 07:49] Tanuj22 commented on #2114
@frankiefab100 any updates here?

[2021-09-05 10:36] MukulKolpe commented on #2149
Hey @warunicorn19, I should work in [label-commenter-config.yml](https://github.com/layer5io/layer5/blob/master/.github/label-commenter-config.yml)
 right??

[2021-09-05 10:41] sayantan1413 commented on #2149
Yes @MukulKolpe !

[2021-09-05 18:23] vishal-codes commented on #2155
have created a pr
🚀

[2021-09-05 18:47] vishal-codes commented on #2155
@warunicorn19 can this <a href="https://github.com/layer5io/layer5/pull/2156">pr<a> be merged?

[2021-09-05 19:30] vishal-codes commented on #2155
Hey @warunicorn19 sorry for the trouble caused coz of me :( But this time I made correct changes and have opened a pr

[2021-09-05 19:31] warunicorn19 commented on #2155
@vishal-codes no problem at all😄.

[2021-09-06 13:22] #2155 closed

[2021-09-06 21:16] #2148 closed

[2021-09-06 21:17] Tanuj22 commented on #2114
@Hell4U or @eboriley please go ahead with this

[2021-09-06 23:12] frankiefab100 commented on #2114
@Tanuj22 still trying to figure it out

[2021-09-07 00:55] josephmidura commented on #2072
@bariqhibat Hey Bariq I think it looks great. I left a comment on the chart, but I think the content it largely ready to format like the other blog entries.

[2021-09-07 10:40] hp77-creator commented on #2112
Can I take this one?

[2021-09-07 10:46] hp77-creator commented on #2112
should I remove the whole `To reproduce` section?

[2021-09-07 10:51] warunicorn19 commented on #2112
Yup @hp77-creator

[2021-09-07 12:33] leecalcote opened #2163 "Large repo size: unwanted .pack files"
**Current Behavior**
The `layer5` repo is over 2GB in size due to unwanted .pack files in `.git/objects/pack`.

**Desired Situation**
A smaller repo size.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/l

[2021-09-07 12:36] #2112 closed

[2021-09-07 15:26] Jordan-Rob commented on #2163
hi @leecalcote can I take this on?

[2021-09-07 19:08] Aniket762 commented on #2163
Hey, @leecalcote I would like to work on this. Let me know!

[2021-09-08 09:51] riteshsp2000 commented on #2034
Hello!
So I went through the discussion and it makes sense that instead of fragments, this could be tacked easily with a javascript filter function.
I would like to work on this issue, can someone assign me this?

[2021-09-08 09:53] Tanuj22 commented on #2034
Please go ahead

[2021-09-08 14:19] Shatakshi0805 commented on #2153
Can I work on this?

[2021-09-08 14:27] khanjasir90 commented on #2153
@Shatakshi0805 we can work together on this issue if you don't mind!

[2021-09-08 18:26] warunicorn19 commented on #2040
Ugh I completely forgot about this🤦.

[2021-09-08 19:10] warunicorn19 commented on #2040
@Nikhil-Ladha are we removing the TOC as discussed on the websites' call?

[2021-09-08 19:11] warunicorn19 commented on #2040
Then we can close this issue

[2021-09-08 19:20] Nikhil-Ladha commented on #2040
Yeah, just don't remove the code only comment it out.

[2021-09-08 19:54] leecalcote opened #2166 "[Community] Member Profile: Acknowledging MeshMate Aditya Chatterjee"
**Current Behavior**

Aditya Chatterjee (@warunicorn19) has been invited to the Layer5 MeshMate program. As of today, Sept. 8th, 2021, Aditya is the newest MeshMate to join the existing cohort.

**Desired Situation**
Let's recognize @warunicorn19 as a MeshMate by updating [his profile](https://layer5.io/community/members/aditya-chatterjee) on https://layer5.io/community/members with the MeshMate b

[2021-09-08 20:22] warunicorn19 commented on #2040
Yes, don't worry😅.

[2021-09-08 21:05] warunicorn19 opened #2167 "[Learn] Add Traefik Mesh lab"
**Current Behavior**
The newly created Traefik Mesh lab hasn't been added to https://layer5.io/learn

**Desired Situation**
Let's put up the Traefik Mesh lab [here]( https://layer5.io/learn).

https://github.com/layer5io/layer5/blob/master/src/sections/Learn/Service-Mesh-Labs/courseData.js

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found

[2021-09-09 06:25] CIPHERTron commented on #2166
Heyy @leecalcote @warunicorn19  can I work on it? Thanks!

[2021-09-09 06:32] warunicorn19 commented on #2166
Sure @CIPHERTron.

[2021-09-09 08:04] Manish-210 commented on #2167
Hey @warunicorn19, can I work on this?

[2021-09-09 08:17] warunicorn19 commented on #2167
Yes sure @Manish-210, my bad 😅.

[2021-09-09 14:08] leecalcote opened #2170 "[Gatsby] Two routes that match both page and redirect."
**Description**
While building the site, the following warning is displayed. The negative affect of these redirects can be seen in Safari, where the redirects seem to be circular in nature (endless).

**Screenshots**

[code]

**Environment:**
- Host OS: Mac
- Browser: Safari

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the

[2021-09-09 14:08] leecalcote commented on #2170
@riteshsp2000 an item that might be of interest.

[2021-09-10 00:18] leecalcote commented on #2151
// @DelusionalOptimist

[2021-09-10 00:19] leecalcote opened #2171 "[Discuss] Reconfigure email account"
**Description**
The previously existing email account has been deprovisioned. A new account is ready to be used.

**Expected Behavior**
Configure the new account and confirm that email is sending.

---
**Contributor Resources**

Contributing to the [discuss.layer5.io](https://discuss.layer5.io/) site involves a unique contribution model in which contributors make changes in the discourse server ru

[2021-09-10 00:50] leecalcote commented on #2171
@DelusionalOptimist @Jashpatel1 @warunicorn19 email on discuss.layer5.io is fixed. Let's wrap up the new email template and publish. 👍

[2021-09-10 01:09] leecalcote commented on #2151
All references to Qanelas Soft font now point to layer5.io, not a third-party source. As @DelusionalOptimist pointed out, this has a positive and significant savings of 7 seconds. // @Jashpatel1 @Tanuj22 @Nikhil-Ladha @debo19

[2021-09-10 01:11] leecalcote commented on #2151
Despite this jump, there are many other issues to address: https://developers.google.com/speed/pagespeed/insights/?url=layer5.io

[2021-09-10 01:15] leecalcote opened #2172 "[Site Speed] Currently a 40% rating"
**Current Behavior**
https://layer5.io isn't nearly as fast loading as it could be. See the recommendations on this report - https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Flayer5.io%2F

**Desired Situation**
Take each recommendation one at-a-time, implementing suggestions to improve page speed. These individual speed enhancements can be broken into separate issues or all

[2021-09-10 06:24] b-hexsoul commented on #2172
I am taking a look at this! Thank you for the "good first issue" label

[2021-09-10 09:26] warunicorn19 opened #2174 "[Community] Rudraksh Parekh as a maintainer"
**Description**
Currently, when filtering maintainers, rudraksh's profile is not visible. This is probably because his `position` has been written in the wrong way.

**Expected Behavior**
His profile should be visible with the other maintainers.

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.c

[2021-09-10 09:38] #2166 closed

[2021-09-10 12:41] leecalcote commented on #2172
Very good, @b-hexsoul 👍

[2021-09-10 17:18] #2034 closed

[2021-09-10 17:32] PuneetDabral commented on #2174
sir can i do my first contribution here ...!! i am in beginner level

[2021-09-10 18:16] warunicorn19 commented on #2171
@leecalcote test emails are coming through fine, can we close this issue?

[2021-09-10 18:18] #2040 closed

[2021-09-10 19:31] riteshsp2000 commented on #2170
Yeah sure... ill get onto this.

[2021-09-10 20:43] leecalcote commented on #2171
Yes, sir. Thank you.

[2021-09-10 20:43] #2171 closed

[2021-09-10 21:06] DelusionalOptimist commented on #2171
Niice. Fixed them all in a single go.
True OGs hehe :raised_hands:

[2021-09-11 17:34] PuneetDabral commented on #2174
can you please tell me where i change ??....

[2021-09-12 02:58] eboriley commented on #2114
A little lost here, I could use some help
where exactly should meet.layer5.io sit on the page 🤔

[2021-09-12 07:09] khanjasir90 commented on #2153
@leecalcote @warunicorn19 @Anita-ihuman since "Community Bridge Program was not included in New Handbook" so should I delete all the files related to it or there is any other way that I am not aware of?

[2021-09-12 07:41] Anita-ihuman commented on #2153
I think that was an omission,
I think it should be included there as well.

[2021-09-12 08:03] khanjasir90 commented on #2174
@warunicorn19 i have changed the position of rudraskh to maintainer can I create a PR

[2021-09-12 09:02] warunicorn19 commented on #2174
@khanjasir90 could you just hold off for 2 days, let @PuneetDabral try to figure it out, and if he's not able to do so, then you could put in the PR.

[2021-09-12 12:32] PuneetDabral commented on #2174
sir can you check my pr request....

[2021-09-12 13:42] PuneetDabral commented on #2174
@khanjasir90  can you please help me....??sir
i am very thankful if you please help me !!

[2021-09-12 14:09] khanjasir90 commented on #2174
sure !@PuneetDabral  how can i help u?

[2021-09-12 14:41] PuneetDabral commented on #2174
@khanjasir90 sir i have sent you mssge in linkdin

[2021-09-12 15:13] khanjasir90 commented on #2174
@warunicorn19 can we both work on this!

[2021-09-12 15:23] warunicorn19 commented on #2174
@khanjasir90 you guys could work on this together but it's a line change, that I've already written in the linked PR. I'll assign it to the both of you, but let's get this done as soon as possible.

[2021-09-12 15:25] warunicorn19 commented on #2174
And you had mentioned that you had a PR ready to go, so if that's the case you could put in the PR too. This is a pretty simple, straightforward issue.

[2021-09-12 15:40] khanjasir90 commented on #2174
@warunicorn19 i have changed the position of rudraksh from contributor to maintainer but it is still not showing rudraksh profile in maintainer filter

[2021-09-12 15:43] warunicorn19 commented on #2174
@khanjasir90 that's not how it'll work, you have to add `maintainer: yes` like Ive mentioned here(https://github.com/layer5io/layer5/pull/2176#pullrequestreview-752155152), you'd have to add it right before the `published` field.

[2021-09-12 15:58] PuneetDabral commented on #2174
sir i will try ...

[2021-09-12 23:33] #2149 closed

[2021-09-13 12:09] nerdynikhil commented on #2071
@leecalcote I wish to take up this one.

[2021-09-13 15:35] #2134 closed

[2021-09-13 16:28] PuneetDabral commented on #2174
sir how my name and image shows in Contributor List of this website....

[2021-09-13 16:48] #2174 closed

[2021-09-14 02:45] leecalcote opened #2178 "[Event] ServiceMeshCon NA 2021"
Please add the following event to layer5.io/events.

**Event:**

- Event Title: ServiceMeshCon North America 2021
- Event Link: https://events.linuxfoundation.org/servicemeshcon-north-america/
- Talk Description: Service Mesh Patterns by the Book
- Talk Link: https://servicemeshconna21.sched.com/?iframe=yes&w=100%&sidebar=yes&bg=no#
- Deck:
- Video:

---
**Contributor Resources**

The layer5.io we

[2021-09-14 02:47] Jayita10 commented on #2178
Can I work on this issue?

[2021-09-14 02:57] leecalcote opened #2179 "[Blog] Service Mesh Specifications"
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member:

**Desired Title:** Service Mesh Specifications and Why They Matter
**Topic:** a write up of a previous KubeCon talk
**Draft:** https://docs.google.com/document/d/1t1mtVUB8_ibUZf73-KHWVJDau8twEj10MCXDPfHk1MY/edit

-

[2021-09-14 03:00] leecalcote opened #2180 "[Landscape] NGINX Service Mesh SMI results showing "None" version"
**Desired State:**
On this table, https://layer5.io/service-mesh-landscape#smi, the version of the service mesh should be listed.

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mesh-landscape)
The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`m

[2021-09-14 03:03] leecalcote commented on #2167
@Manish-210 how is this coming along?

@warunicorn19 the deadline for this lab to be posted is this Friday.

@Manish-210, if you're not able to get a PR up by Wednesday, that's no problem (you can grab another issue). @warunicorn19 will take assignment of this issue.

[2021-09-14 07:35] warunicorn19 commented on #2153
@leecalcote do we need to include community bridge? or would just LFX do?

[2021-09-14 07:36] warunicorn19 commented on #2152
Hey, @Goodiec any updates on this?

[2021-09-14 07:39] warunicorn19 commented on #2114
@eboriley you'd have to add an anchor to the `Layer5 Meetings` header so that meet.layer5.io leads directly to that table below. you could refer to this https://github.com/layer5io/layer5/pull/2126#issuecomment-907087125

[2021-09-14 07:44] Goodiec commented on #2152
Yes, I'm working on it. Sorry I took this long.

[2021-09-14 07:48] warunicorn19 commented on #2152
@Goodiec no problem at all, just checking up😄.

[2021-09-14 09:49] Manish-210 commented on #2167
Yeah, sorry for the late response :disappointed:
Actually I am confused little bit, How to add traefik-white.svg image? There is only traefik.svg

[2021-09-14 09:52] warunicorn19 commented on #2167
Copy the `traefik.svg` and paste it again in the same folder and rename it `traefik-white.svg` then in the svg you'll be able to see the `color` or `fill` tag and change that to #ffffff.

[2021-09-14 10:02] khanjasir90 commented on #2178
@leecalcote @Jashpatel1 @warunicorn19 I have created a pull request for this issue can u just go through it

[2021-09-14 10:53] eboriley commented on #2114
Thanks for clarifying

[2021-09-14 12:30] Manish-210 commented on #2167
![Screenshot from 2021-09-14 17-40-52](https://user-images.githubusercontent.com/58730178/133257340-464e1f12-af86-45e6-8644-0ca01610ea31.png)

Thanks @warunicorn19 , just one more issue when I click on http://localhost:8000/learn/service-mesh-labs/working-with-meshery-and-traefik the link path is not valid, I know I have to add the traefik path but I am not able to figure out where it should be ad

[2021-09-14 12:35] warunicorn19 commented on #2167
🤔even I'm not too sure about this, @Nikhil-Ladha @Tanuj22 could you guys please help here.

[2021-09-14 13:13] khanjasir90 commented on #2178
@leecalcote @Jashpatel1 @warunicorn19 removed merge conflict in package.json file and created a PR could you go through it once!

[2021-09-14 13:14] leecalcote commented on #2178
@khanjasir90 I don't see a linked PR.

[2021-09-14 13:40] Nikhil-Ladha commented on #2167
The JS file where you need to add the link has been mentioned in the issue description itself. Isn't that working?

[2021-09-14 13:40] khanjasir90 commented on #2178
@leecalcote  are u able to see it now

[2021-09-14 15:24] Manish-210 commented on #2167
Yeah, I have added the link in the courseData.js file.
Everything works fine untill I click on the right-side top link  http://localhost:8000/learn/service-mesh-labs/working-with-meshery-and-traefik

![Screenshot from 2021-09-14 20-49-43](https://user-images.githubusercontent.com/58730178/133286351-2164e494-8810-408f-8e38-3ae4475575eb.png)

[2021-09-14 16:12] Nikhil-Ladha commented on #2167
Create the PR and tag me, I will check it out.

[2021-09-14 20:59] Tanuj22 commented on #2167
@Manish-210 my hunch is you haven't added the lab here https://github.com/layer5io/layer5/tree/master/src/collections/service-mesh-labs

[2021-09-14 22:51] leecalcote commented on #2178
@Jayita10 oh, my goodness. I didn't see your message. Yes, for certain you could have. Let's find you another issue to grab.

@khanjasir90 be careful not to step on the toes of other contributors.

[2021-09-14 22:53] #2178 closed

[2021-09-15 03:46] Manish-210 commented on #2167
Thanks,@Nikhil-Ladha and @Tanuj22 (I haven't added the lab file in collections). It is working fine now.

[2021-09-15 05:46] khanjasir90 opened #2186 "Maintainers having position as Contributor"
**Description**
A couple of Maintianers like Utkarsh Srivastava, Tanuj Agarwal are having position as Contributor

**Expected Behavior**
Their position should be Maintainers.

**Screenshots**
![1](https://user-images.githubusercontent.com/53305380/133377486-7d9407da-fb3c-4418-b764-4bc77c49b09f.JPG)
![2](https://user-images.githubusercontent.com/53305380/133377489-258deb95-a266-4c2b-a5d4-2df2ebf4b7

[2021-09-15 05:48] khanjasir90 commented on #2186
@warunicorn19 @leecalcote @Jashpatel1 can i work on this

[2021-09-15 05:56] warunicorn19 commented on #2186
Sure @khanjasir90 🙂.

[2021-09-15 06:25] warunicorn19 commented on #2163
sure @Jordan-Rob, sorry missed the comment.

[2021-09-15 06:35] warunicorn19 opened #2187 "[Calender] ServiceMeshCon NA 2021"
**Current Behavior**
ServiceMeshCon NA 21 is not present in the community calendar. (https://layer5.io/community/calendar)

**Desired Situation**
Add this event to the community calendar. (Date: 12th Oct 2021)

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- S

[2021-09-15 06:53] moazzam07 commented on #2187
@warunicorn19 can i work on this?

[2021-09-15 06:55] warunicorn19 commented on #2187
Sure @moazzam07.

[2021-09-15 07:51] #2071 closed

[2021-09-15 08:28] Tanuj22 commented on #2186
@khanjasir90 can you add a bio and location for me too (why did I forget to add my own content :face_with_head_bandage: ).

Location - Guwahati, India

Bio - I am a Computer Science undergraduate from the Indian Institute of Technology, Jodhpur. I am passionate about software development and open source. I like to explore anything that comes along my way and hope to learn from awesome communities

[2021-09-15 08:30] khanjasir90 commented on #2186
@Tanuj22 sure i will do the needful!

[2021-09-15 08:31] khanjasir90 commented on #2186
@Tanuj22 should I add ur linkedin profile? if yes could u pls share the link

[2021-09-15 08:34] Tanuj22 commented on #2186
Yes please :laughing: https://www.linkedin.com/in/tanujagarwal22/

[2021-09-15 08:45] khanjasir90 commented on #2186
@warunicorn19 @Tanuj22 i have created a PR just go through it

[2021-09-15 08:48] dhruv0000 commented on #2180
fixed.

[2021-09-15 08:48] #2180 closed

[2021-09-15 08:54] #2186 closed

[2021-09-15 08:57] #2167 closed

[2021-09-15 18:08] Nikhil-Ladha commented on #2114
Fixed in #2185

[2021-09-15 18:08] #2114 closed

[2021-09-15 18:14] #2154 closed

[2021-09-15 18:29] #1987 closed

[2021-09-15 18:30] #2028 closed

[2021-09-16 20:05] warunicorn19 opened #2189 "[Learn] Add Open Service Mesh lab"
Current Behavior
The newly created Open Service Mesh lab hasn't been added to https://layer5.io/learn .

Desired Situation
Let's put up the Open Service Mesh lab [here](https://layer5.io/learn/service-mesh-labs) .

https://github.com/layer5io/layer5/blob/master/src/sections/Learn/Service-Mesh-Labs/courseData.js

https://github.com/layer5io/layer5/tree/master/src/collections/service-mesh-labs

Cont

[2021-09-17 03:47] khanjasir90 commented on #2189
@warunicorn19 I'll take this up!

[2021-09-17 04:19] leecalcote commented on #2189
Sounds real good, @khanjasir90

[2021-09-17 11:44] #2135 closed

[2021-09-17 13:53] Anita-ihuman commented on #2152
@Goodiec while you are doing that, please make sure you use the general font used across the layer5 site.
Also, there should be a little padding below each header. (Right now it looks too close to the text).

[2021-09-17 16:31] khanjasir90 commented on #2189
@warunicorn19 @leecalcote  can in get the the cover logo for the traefik lab

[2021-09-17 16:33] warunicorn19 commented on #2189
@khanjasir90 could you elaborate on what you're trying to say?

[2021-09-17 16:47] khanjasir90 commented on #2189
while adding the details in courseData.js file it requires a cover image so i needed that
![c](https://user-images.githubusercontent.com/53305380/133824772-f760a315-58c7-465d-b8c4-3045588ff931.JPG)

[2021-09-17 16:51] warunicorn19 commented on #2189
Oh so you meant the logo for OSM lab

[2021-09-17 16:52] khanjasir90 commented on #2189
yup

[2021-09-17 16:56] warunicorn19 commented on #2189
There are a couple of logos in the assets folder, like this one: https://github.com/layer5io/layer5/blob/master/src/assets/images/service-mesh-icons/open-service-mesh/icon/white/openservicemesh-icon-white.svg. You'd have to see which one looks good there and is white in colour.

[2021-09-17 16:59] khanjasir90 commented on #2189
@warunicorn19  cool ! thanx

[2021-09-17 17:46] khanjasir90 commented on #2189
@warunicorn19 @leecalcote created a PR pls go through it!

[2021-09-17 18:07] khanjasir90 commented on #2189
@leecalcote @warunicorn19 from where i will get the "embed" and "link" data
![c](https://user-images.githubusercontent.com/53305380/133834228-107fd408-60bb-4a65-8434-e72e7c469232.JPG)

[2021-09-17 18:23] warunicorn19 commented on #2189
@khanjasir90 you'll have to put `open-service-mesh-meshery-adapter` in  embed and you'll have to make a page for OSM here https://github.com/layer5io/layer5/tree/master/src/collections/service-mesh-labs and then add that as link.

[2021-09-17 18:26] khanjasir90 commented on #2189
@warunicorn19  got it!

[2021-09-17 18:26] khanjasir90 commented on #2189
and in info : "Working with Open Service Mesh Lab" is this okay!

[2021-09-17 18:30] warunicorn19 commented on #2189
YUP.

[2021-09-17 20:52] leecalcote opened #2193 "Enhance the Layer5 shields in the .github org"
**Current Behavior**
The https://github.com/layer5io/.github/tree/main/profile#readme controls what is displayed on https://github.com/layer5io. The shields on there should be representative of the community at-large.

**Desired Situation**
Use advanced queries on https://shields.io to:

1. change the `help wanted` shield from showing only issue count on the `layer5` repo to an issue count incorpo

[2021-09-17 20:54] leecalcote opened #2194 "Recreate the .github repo from `layer5_repo_template`"
**Desired Situation**
1. Delete current .github repo.
2. Create new .github repo using the following settings:
<img width="773" alt="Screen Shot 2021-09-17 at 3 53 56 PM" src="https://user-images.githubusercontent.com/7570704/133852446-2a562492-fbbe-4239-93ed-30ef4398818c.png">

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under t

[2021-09-17 21:00] leecalcote commented on #2187
@moazzam07 my apologies - this issue is well-suited for community managers (of which you might become one someday!). For now, allow me to reassign this issue, if you would.

[2021-09-17 21:03] moazzam07 commented on #2187
Ok

[2021-09-17 21:11] leecalcote commented on #2193
@moazzam07 would you like to take this one on?

[2021-09-17 21:15] leecalcote opened #2195 "[Handbook] Add SMP logo to repo overview page"
**Desired Behavior**
Please add the SMP logo to repo overview page - https://layer5.io/community/handbook/repository-overview

Find logo here - https://layer5.io/brand

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https:/

[2021-09-17 21:17] leecalcote opened #2196 "[Handbook] Add Contributor Journey Map to About page"
**Desired Behavior**
Under the **Newcomer's Path** section on this page (https://layer5.io/community/handbook/about), add the contributor journey map as shown on https://layer5.io/community/newcomers.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [c

[2021-09-18 04:01] SURAJITSHAW commented on #2196
Hello, this is my first issue. Can I work on that ?

[2021-09-18 05:06] warunicorn19 commented on #2196
Sure @SURAJITSHAW

[2021-09-18 06:52] moazzam07 commented on #2195
@leecalcote i'll take this up!

[2021-09-18 06:56] warunicorn19 commented on #2195
Sounds good @moazzam07

[2021-09-18 07:33] moazzam07 commented on #2195
![image](https://user-images.githubusercontent.com/67731696/133880498-0a7460c0-935b-4f18-ad94-d376cf7564a9.png)
can anyone help me with this error

[2021-09-18 07:54] moazzam07 commented on #2195
@leecalcote @warunicorn19 can you please help me with the above issue

[2021-09-18 08:00] warunicorn19 commented on #2195
Could you tell me which version of node you're using?
`node -v`

[2021-09-18 08:01] moazzam07 commented on #2195
v14.17.4

[2021-09-18 08:02] warunicorn19 commented on #2195
Have you tested out the changes locally? This might be happening due to a syntax error.

[2021-09-18 08:03] moazzam07 commented on #2195
yes, it is working locally

[2021-09-18 08:06] warunicorn19 commented on #2195
Let's shift to slack.

[2021-09-18 08:22] khanjasir90 commented on #2189
@warunicorn19 the site builds without any error but when opening it in browser it is giving this error!
![c1](https://user-images.githubusercontent.com/53305380/133882093-93466d25-2a28-4892-aace-d37dd25437ab.JPG)
i have search a lot on internet but did not get useful thing , r u aware of this issue?

[2021-09-18 08:47] warunicorn19 commented on #2189
Yes, I think it's because of some recent changes, looking into it.

[2021-09-18 09:01] moazzam07 commented on #2193
I didn't get the issue.

[2021-09-18 09:07] warunicorn19 commented on #2189
@khanjasir90 do you use windows?

[2021-09-18 09:31] khanjasir90 commented on #2189
Yes!

[2021-09-18 09:34] warunicorn19 commented on #2189
Seems like a windows specific issue.

[2021-09-18 09:47] khanjasir90 commented on #2189
Ohh i see! so will it take time to get resolved!

[2021-09-18 09:49] warunicorn19 commented on #2189
Still haven't been able to figure out what the problem is. Trying to look into it.

[2021-09-18 11:49] moazzam07 commented on #2195
@leecalcote @warunicorn19 PR created plzz check

[2021-09-19 00:48] leecalcote commented on #2172
Any luck so far, @b-hexsoul ?

[2021-09-19 11:33] warunicorn19 commented on #2189
@khanjasir90 problem has been fixed now if you could pull the latest and check.

[2021-09-19 11:39] khanjasir90 commented on #2189
@warunicorn19 I'll do that!

[2021-09-19 11:47] #2195 closed

[2021-09-19 15:52] Zain-Muiz commented on #2193
@moazzam07 Check the readme file of this repo. I've attached a screenshot below. The badges(i.e : shields) you see there are what this issue is about
![Screenshot (134)](https://user-images.githubusercontent.com/60746360/133934006-ecf3ef74-cf04-40ad-8186-b853337121c5.png)
.

[2021-09-19 16:46] Goodiec commented on #2152
Alright, thank you.

[2021-09-19 16:58] khanjasir90 commented on #2189
@warunicorn19 it is working now but when i put the following code embed: "open-service-mesh-meshery-adapter",
        link: "/learn/service-mesh-labs/working-with-open-service-mesh", it shows the below error!
![err2](https://user-images.githubusercontent.com/53305380/133936113-d4d64958-affe-4680-b788-baa3cda16fbc.JPG)

[2021-09-19 17:00] warunicorn19 commented on #2189
Yes @khanjasir90, sorry I forgot to give you the update but today I changed the pathname to `osm-meshery-adapter` today, trying using that, it should work.

[2021-09-19 17:01] khanjasir90 commented on #2189
okay @warunicorn19 !

[2021-09-19 17:13] khanjasir90 commented on #2189
@warunicorn19  created a PR pls check!

[2021-09-19 17:44] khanjasir90 commented on #2189
so sorry @warunicorn19  it keep this in mind next time! :)

[2021-09-19 19:13] Zain-Muiz commented on #1801
@warunicorn19 , ping! Has the discussion on this issue come to an outcome ?

[2021-09-19 19:16] warunicorn19 commented on #1801
@Zain-Muiz we spoke on this in a meeting, any updates @Amishakumari544?

[2021-09-19 19:19] #2189 closed

[2021-09-20 02:11] Amishakumari544 commented on #1801
The process of including images using path is working fine but there are lot images and its very hard to change for every images if you want you can take this issue @Zain-Muiz

[2021-09-20 11:13] warunicorn19 commented on #2194
@debo19 we could close this issue now, right?

[2021-09-20 11:47] moazzam07 commented on #2193
@leecalcote could you please provide me this repo https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+org%3Ameshery+org%3Aservice-mesh-performance+org%3Aservice-mesh-patterns+label%3A%22help+wanted%22+

[2021-09-20 11:54] warunicorn19 commented on #2193
@moazzam07 this is not actually a repo, these are all the help wanted issues from all our organizations.

[2021-09-20 12:40] Zain-Muiz commented on #2193
@moazzam07 , That link (the one Lee mentioned in the issue) is what you should replace the current link in the help wanted shield with. Like @warunicorn19 mentioned , This is the link to all the help wanted issues in all repositories across all our organizations. You don't have to add multiple repository links as a separate shield.

[2021-09-20 12:46] leecalcote commented on #2172
MeshMate @Nikhil-Ladha suggests an investigation into the automatic conversion of images from jpg, png to webp using Gatsby plugin - https://www.gatsbyjs.com/plugins/gatsby-image/

Whether the visitor's browser support these more modern file formats could be either automatically discerned by the Gatsby plugin (e.g. `sharp`) or could be logic invoked during execution of GraphQL (for which image typ

[2021-09-20 16:29] Zain-Muiz commented on #1801
Can we not replace all img tags directly through search and replace ? I'm not aware of what this issue is, @warunicorn19 , Is the find all and replace all method possible here ?

[2021-09-20 16:46] Amishakumari544 commented on #1801
No you can't . I already done this thing you have import images as path.

[2021-09-20 18:23] #2179 closed

[2021-09-20 21:10] leecalcote opened #2204 "[Meshery] New Page: MeshMap Overview"
**Current Behavior**
MeshMap is a prominent, soon-to-be released plugin for Meshery.

**Desired Behavior**
Its features and behaviors need to be put on display for visitors to peruse on the layer5.io site.

**Implementation**
1. Create new page at this location - https://layer5.io/service-mesh-management/meshery/meshmap

**Screenshots / Mockups**
To-be-determined... coming soon...

---
**Contribut

[2021-09-21 02:58] khanjasir90 commented on #2196
@SURAJITSHAW  do u need any help i can help u out!

[2021-09-21 03:48] leecalcote opened #2205 "[Community] Member Profile: Zainuddeen Abdul Muiz"
**Current Behavior**

@Zain-Muiz has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @Zain-Muiz as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: Zain-Muiz
- Twitter: Zain_A_Muiz
- LinkedIn: zainuddeen-abdul-muiz-36969b196
- Link to profile picture: https://pbs.twimg.com/profile_images/137245836

[2021-09-21 03:55] san-coding commented on #2205
Hello, I would like to add Zain-Muiz to community member page and recognise his efforts and contributions, I am new to open source, can I work on this

[2021-09-21 03:57] leecalcote commented on #2205
Hi @san-coding, that would be just great. Thank you for 🙋 volunteering. 👍 There is a set of instructions for how to contribute and create this profile in the issue description. There is also a very helpful set of contributors in the community Slack, which you're most welcome to join: https://slack.layer5.io.

[2021-09-21 03:58] san-coding commented on #2205
Thanks, will join immediately , looking forward to contributions

[2021-09-21 04:00] san-coding commented on #2205
@leecalcote should I open the PR from my fork's master to layer5's master ?

[2021-09-21 04:11] san-coding commented on #2205
Found it, thanks @leecalcote

[2021-09-21 04:42] san-coding commented on #2205
@leecalcote what about his location, bio,status and published fields, what should I put there ?

[2021-09-21 04:47] warunicorn19 commented on #2205
@Zain-Muiz could you please provide a small bio and your location here.
status: `active`
Published: `true`

[2021-09-21 04:48] warunicorn19 commented on #2205
@san-coding there are a lot of member profiles, just copy from that.

[2021-09-21 04:50] san-coding commented on #2205
thanks, any other fields I should add ? `badges` ? anything else

[2021-09-21 04:56] warunicorn19 commented on #2205
You could exclude the badges field for now.

[2021-09-21 04:57] Zain-Muiz commented on #2205
Heyy @san-coding ! Thankyou for bearing patience with me. Give me a couple of more minutes to decide my bio, xD :) . And I think no badges. @warunicorn19 , Correct me if I am wrong..

[2021-09-21 04:57] SURAJITSHAW commented on #2196
Yes sir, I need a little help actually. I made my changes first day but I can't test because in my laptop make commands doesn't work, I was seeking for another ways to check what my changes looks like but I can't. I just didn't understand what should I do now?

[2021-09-21 04:59] san-coding commented on #2205
Sure, take your time 👍🏻

[2021-09-21 05:14] san-coding commented on #2205
### I get these errors when I try to install dependencies using `make setup-libs`
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/65719940/134114466-a2c52010-ca78-4021-9775-4b47e3698cee.png">

### Here is my system info
<img width="464" alt="image" src="https://user-images.githubusercontent.com/65719940/134114930-258f81da-afeb-4506-a324-9b81d5f5fa2a.png">

### I have v

[2021-09-21 05:16] warunicorn19 commented on #2205
Do you have make installed? If not, `brew install make`

[2021-09-21 05:19] san-coding commented on #2205
I installed make and ran again , it still gives these errors
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/65719940/134115476-52c82f41-cfaa-4f79-a617-5a4a1510bce0.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/65719940/134115506-c9d3b240-041d-4e98-aa9a-7f369c4fcd16.png">

[2021-09-21 05:41] Zain-Muiz commented on #2205
@san-coding , @warunicorn19 is trying to debug. He will get back to you. In the mean time I know you would be doing your own research too. Do update if you find a fix. ( also maybe check the debug log, It sometimes has valuable leads ) And, here is my bio,

" I am an undergrad student at TKMCE majoring in Electronics. I love to explore and work on new technologies. I have been growing a huge inter

[2021-09-21 05:48] khanjasir90 commented on #2196
Ok got it @SURAJITSHAW ! let's move to slack there we will solve ur make command problem!

[2021-09-21 05:49] warunicorn19 commented on #2205
@san-coding so this is definitely something specific to your environment, I use an M1 too, seems to work fine for me. Could you delete this clone and fork, re-fork and re-clone, this time try to do it on your desktop or documents and not in the root. Use the other terminal, instead of the VScode one.

[2021-09-21 05:58] san-coding commented on #2205
Okay, I will try that, glad to know someone who uses the same environment, I have been facing a few issues lately, can I contact you @warunicorn19 ?

[2021-09-21 06:00] SURAJITSHAW commented on #2196
Sure sir, I send you a personal message on slack.

[2021-09-21 06:02] warunicorn19 commented on #2205
Yes for sure, just drop a dm on slack.

[2021-09-21 06:18] san-coding commented on #2205
Yeah sure

[2021-09-21 06:18] san-coding commented on #2205
Thanks, I have made the changes locally

[2021-09-21 06:27] san-coding commented on #2205
I am unable to find you on slack, any link to your DM ?

[2021-09-21 06:31] san-coding commented on #2205
I am cloning it inside a folder which I created, not in desktop or docs or root, should I clone it in desktop ? @warunicorn19

[2021-09-21 06:32] warunicorn19 commented on #2205
Yeah desktop sounds good

[2021-09-21 06:38] san-coding commented on #2205
have reforked , should I clone it using git inside vscode or clone it using terminal in desktop without using vscode

[2021-09-21 06:40] san-coding commented on #2205
have forked it in desktop using terminal, not using terminal inside vscode

[2021-09-21 06:42] warunicorn19 commented on #2205
In your terminal, `cd desktop` > `git clone ....` this is what you've done right?? Then `cd layer5` > `make setup-libs` > `make-site`

[2021-09-21 06:45] san-coding commented on #2205
Thanks @warunicorn19 ,  your suggestion worked, I guess `make setup-libs` works ? I am not sure, but it says I do not have permissions when I run `make site`

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/65719940/134123817-5c6c82d9-78f3-4deb-bd68-75533cae59e8.png">

[2021-09-21 06:47] warunicorn19 commented on #2205
@sayantan1413 @sudo-NithishKarthik could you guys help with this, haven't seen this error before.

[2021-09-21 06:49] warunicorn19 commented on #2205
`make setup-libs` seems to work

[2021-09-21 06:54] warunicorn19 commented on #2205
@san-coding do you use anaconda?

[2021-09-21 07:35] san-coding commented on #2205
Yes I followed those exact steps and got that permission denied error

[2021-09-21 07:37] san-coding commented on #2205
I have `Anaconda-navigator`
<img width="186" alt="image" src="https://user-images.githubusercontent.com/65719940/134130800-ac411744-c0c6-4555-9f67-10e9e8e7a581.png">

[2021-09-21 08:12] warunicorn19 commented on #2205
Yeah, the problem is happening because you're still inside anaconda-navigator, see how there is (base) written in the beginning.

[2021-09-21 08:49] warunicorn19 opened #2206 "[Community] Member Profile: Suryanshankar Das"
**Current Behavior**

@iamsdas  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @iamsdas  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @iamsdas
- Twitter: _iamsdas
- LinkedIn: iamsdas
- Link to profile picture: https://media-exp1.licdn.com/dms/image/C4E03AQGaAe7RZ_o0ag/profile-displayph

[2021-09-21 08:49] warunicorn19 commented on #2206
@iamsdas could you please provide a location and a short bio.

[2021-09-21 09:05] sudhay23 commented on #2206
Hello @warunicorn19. Can I work on this?

[2021-09-21 09:06] warunicorn19 commented on #2206
Sure @sudhay23.

[2021-09-21 09:06] san-coding commented on #2205
I am not inside anaconda-navigator

[2021-09-21 09:13] san-coding commented on #2205
But that doesn't solve the problem
<img width="1012" alt="image" src="https://user-images.githubusercontent.com/65719940/134144716-9e1dbf71-a377-4799-8c05-4104b12781b6.png">

[2021-09-21 09:15] iamsdas commented on #2206
**Bio:** I am an undergraduate student majoring in computer science and am an aspiring web developer. I love exploring the latest technologies and am currently looking into DevOps and Blockchain in general. I joined Layer5 as a contributor back in July 2021, and it has been one of my best experiences contributing to an open-source project.
**Location:** Pune, India

[2021-09-21 09:17] iamsdas commented on #2206
Btw is that profile pic correct? I am getting "access denied" when trying to open that link.

[2021-09-21 09:18] warunicorn19 commented on #2206
huh, so am I, this was the link in the from your newcomers form. Anyway, could you provide a picture here.

[2021-09-21 09:24] warunicorn19 commented on #2205
you'd have to search on google, i have no idea what is going on.

[2021-09-21 09:24] iamsdas commented on #2206
Link to pic: https://lh3.googleusercontent.com/pw/AM-JKLX_g5RQXL855FqHIJTyVelJyvXPB6rew9Ha7XKDeAU6jLy_yTA-UzLHYeDKFZ6yEI2om31eCXwQWw5iPJGfwHzri8bjexQxfH2-CHiKRvcBcUtBRIRYO1iGyk8I5_CmH_CWrXdCjCmkQ1YMRNOgezG5=w629-h670-no

[2021-09-21 09:31] sudhay23 commented on #2206
Thanks for the image. Seems to be working 👍

[2021-09-21 09:49] san-coding commented on #2205
Have been searching for a couple of hours, followed some steps from stack overflow, but no luck so far

[2021-09-21 10:07] sudhay23 commented on #2206
@iamsdas @warunicorn19 Please review my changes and offer your comments

[2021-09-21 10:13] sudo-NithishKarthik commented on #2205
@san-coding
Do you have gatsbty cli installed globally ?
If not, can you try this ` sudo npm install -g gatsby-cli` ?

[2021-09-21 10:16] san-coding commented on #2205
Ok I will try that

[2021-09-21 10:29] san-coding commented on #2205
Just tried it, but still gives the same error

[2021-09-21 12:11] #2205 closed

[2021-09-21 13:52] san-coding commented on #2193
Hey, can I work on this if it is still open ?

[2021-09-21 13:56] moazzam07 commented on #2193
I am searching how to do but if you want to do you can.

[2021-09-21 13:57] warunicorn19 commented on #2193
I'll assign it to the both of you, let's see who gets there first😅😅. Good luck guys.

[2021-09-21 14:07] moazzam07 commented on #2193
Yes @san-coding it would be nice

[2021-09-21 14:38] san-coding commented on #2193
Should I go ahead and create a badge at shields? @warunicorn19 @leecalcote

[2021-09-21 15:07] san-coding commented on #2193
@leecalcote you have asked to change `help wanted` shield, but https://github.com/layer5io doesn't have a help wanted shield, it only has a contributor shield which counts contributors from `layer5io/layer5 `
<img width="813" alt="image" src="https://user-images.githubusercontent.com/65719940/134196031-6d63d541-1862-4d7b-b940-df1742a78dde.png">

Should I create a shield `help wanted` which shows t

[2021-09-21 16:41] san-coding commented on #2193
@leecalcote @warunicorn19 how to generate query [LIKE THIS](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+org%3Ameshery+org%3Aservice-mesh-performance+org%3Aservice-mesh-patterns+label%3A%22help+wanted%22+) for `contributions`

[2021-09-21 19:26] debo19 commented on #2194
@warunicorn19 yes the new repo was created, we can close this now.

[2021-09-21 19:26] #2194 closed

[2021-09-21 20:10] warunicorn19 commented on #2153
guys any updates on this?

[2021-09-22 03:37] khanjasir90 commented on #2153
umm..... working! would make a PR soon.

[2021-09-22 05:01] khanjasir90 opened #2210 "A Tooltip required on Read Book Button!"
**Description**
In https://layer5.io/ webpage every button on hover has a tooltip but Read Books button does'nt have a tooltip

**Expected Behavior**
Read Book button should have a tooltip

**Screenshots**

![image](https://user-images.githubusercontent.com/53305380/134285946-832602df-1ad7-4ba5-a353-5d00a111147f.png)
![image](https://user-images.githubusercontent.com/53305380/134286000-cf1c6a7f-52

[2021-09-22 08:04] ruhi09 commented on #2210
@khanjasir90 I would like to work on this issue

[2021-09-22 13:34] #2210 closed

[2021-09-23 03:45] san-coding commented on #2170
Hey, is this issue still open ? @riteshsp2000

[2021-09-23 03:46] riteshsp2000 commented on #2170
Yeah... im actually on it. Was a bit occupied with university stuff, will get this on soon

[2021-09-23 04:15] riteshsp2000 commented on #2170
@san-coding You can work on this, I'd be a bit busy with some university stuff and won't be able to look into this for the week.

[2021-09-23 04:30] san-coding commented on #2170
Thanks, could you give any context on how I could fix this ?

[2021-09-23 04:44] san-coding commented on #2170
My understanding of the issue :
page `/blog/community/she-code-africa-contributhon-boot-camp-report` (Redirects to the same page ->)
`/blog/community/she-code-africa-contributhon-boot-camp-report`

which results in endless redirects

similarly

 page: `/programs/communitybridge/2020`  (Redirects to the same page ->) `/programs/communitybridge/2020/` , which also results in endless redirect loop

i

[2021-09-23 04:53] san-coding commented on #2170
I think this is where the problem lies for [link to file](https://github.com/layer5io/layer5/blob/16a8266cec5bf079bd9456ca784ebc36d9845487/src/collections/programs/communitybridge/index.mdx)

[2021-09-23 07:39] kevwan opened #2212 "[Landscape] add go-zero to "Client Library" category"
**Current State:**
![image](https://user-images.githubusercontent.com/1918356/134470450-8c8c274b-f70a-459d-ad84-d5add2ce1943.png)

**Desired State:**
Would you please add [go-zero](https://github.com/zeromicro/go-zero) to Client Library category?

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-se

[2021-09-23 08:01] toth2000 commented on #2212
I am working on this issue.

[2021-09-23 08:08] warunicorn19 commented on #2212
Sounds good @toth2000.

[2021-09-23 08:42] #2212 closed

[2021-09-23 11:07] Zain-Muiz commented on #2170
@san-coding , I'm not quite sure what the issue could be. Maybe @riteshsp2000 or @warunicorn19 could help you better here.

[2021-09-23 12:42] Aniket1312 commented on #2196
hey I am  new here can I also join with you.

[2021-09-23 13:14] Aniket1312 commented on #2153
hey can I also join here.

[2021-09-23 13:30] khanjasir90 commented on #2153
@Aniket1312  you can go ahead ! i got a bit busy i'll join you.

[2021-09-23 15:08] moazzam07 commented on #2153
Can I also work on it

[2021-09-23 15:12] Aniket1312 commented on #2153
Ya sure

On Thu, Sep 23, 2021, 8:38 PM MOHAMMED MOAZZAM ***@***.***>
wrote:

[2021-09-23 15:42] moazzam07 commented on #2153
PR created please go through it.

[2021-09-24 04:24] Nikhil-Ladha commented on #2170
I think the issue doesn't exist anymore. Could any of you build and confirm once?

[2021-09-24 05:13] san-coding commented on #2170
Yeah, can anyone confirm ?

[2021-09-24 16:31] YashKamboj commented on #2196
Hey @SURAJITSHAW u still working on it or its done ?, if not can i work on it

[2021-09-24 16:47] SURAJITSHAW commented on #2196
Sure bro, you can start working on this. Because of my personal issue I
can't solve this issue. Do your best buddy

On Fri, 24 Sep, 2021, 22:01 YashKamboj, ***@***.***> wrote:

[2021-09-24 17:04] YashKamboj commented on #2196
@SURAJITSHAW thnx i thought you solved it so i deleted my comment.

[2021-09-25 06:50] Zain-Muiz commented on #2193
Heyy @san-coding @debo19 @warunicorn19 , I saw few of the PRs related to this have been merged. Are we good to close this issue  ?

[2021-09-25 07:07] adithyaakrishna commented on #2163
@leecalcote @warunicorn19 I think those pack files are not committed to the repo. And these files are required as part of git object database, https://git-scm.com/book/en/v2/Git-Internals-Git-Objects

Ref: https://stackoverflow.com/questions/49535201/pack-file-remove-it-in-git

[2021-09-25 07:20] adithyaakrishna commented on #2187
Closing this as it was created by @warunicorn19

Screenshot:
![image](https://user-images.githubusercontent.com/23498248/134762739-dd02404d-9026-4473-8c43-38bdd31ed902.png)

[2021-09-25 08:00] san-coding commented on #2193
Yes we can close this issue, PRs have been merged

[2021-09-25 08:01] #2193 closed

[2021-09-25 08:48] warunicorn19 commented on #2187
@adithyaakrishna actually I've added this to our content calendar, but not to the calendar on meet.layer5.io, so reopening this issue.

[2021-09-25 08:49] riteshsp2000 commented on #2170
@san-coding @Nikhil-Ladha I just built the project and there was no such warning getting displayed. I think the issue doesn't persist anymore.

[2021-09-25 08:50] riteshsp2000 commented on #2204
@leecalcote @warunicorn19 Once the mockups are ready, I would like to create this page.

[2021-09-25 08:50] warunicorn19 commented on #2163
ohh okay, so a big NO NO on deleting the `.git/objects/pack` files.

[2021-09-25 08:51] warunicorn19 commented on #2196
@YashKamboj are you taking a look into this.?

[2021-09-25 08:52] warunicorn19 commented on #2204
sounds good, you could also take a hand at designing it yourself if you'd like.

[2021-09-25 08:54] YashKamboj commented on #2196
@warunicorn19 Yes

[2021-09-25 08:55] warunicorn19 commented on #2196
Great!

[2021-09-25 09:00] warunicorn19 commented on #2170
Yeah we can close this, the issue seems to be gone.

[2021-09-25 09:00] #2170 closed

[2021-09-25 11:04] kayceeDev commented on #2172
@b-hexsoul what is your progress so far, do you need any help, I'd be please to work with you on this as well. @leecalcote can I also take a look?

[2021-09-25 12:24] san-coding commented on #2196
@warunicorn19 is this issue closed?

[2021-09-25 12:25] warunicorn19 commented on #2196
No @YashKamboj just started working on it

[2021-09-25 12:40] san-coding commented on #2196
Ohh okay

[2021-09-25 14:11] adithyaakrishna commented on #2187
Ohhh Accha, got it 👍🏻

[2021-09-25 14:12] adithyaakrishna commented on #2163
Yep, and I don't think it would matter as .git is not committed to the repo

[2021-09-25 15:06] prashant-isbest commented on #2196
I am also looking into this

[2021-09-25 15:11] warunicorn19 commented on #2196
Umm, @prashant-isbest I guess someone's already working on this, you might want to take a look at other issues with the  `help-wanted` label.

[2021-09-25 18:37] #1822 closed

[2021-09-26 08:17] YashKamboj commented on #2196
Hey , can you help me setup in my pc ,i have read the readme , but stuck with make. @warunicorn19

[2021-09-26 08:33] khanjasir90 commented on #2196
@YashKamboj make command is linux based i assume that u use windows. pls go through this blog for setting up the make command https://zainmuiz.hashnode.dev/how-to-install-make-on-windows-machine . this was written by one of our community members @Zain-Muiz kudos to him.

[2021-09-26 11:59] Aniket1312 commented on #2062
hey can I join here

[2021-09-26 12:06] Aniket1312 commented on #2062
hey can I do this.

[2021-09-26 18:12] YashKamboj commented on #2196
Hey @khanjasir90 can you tell how to do the step 3 in the blog you suggested , would be a real help .

[2021-09-26 18:32] warunicorn19 commented on #2196
@Zain-Muiz your input here would be great.

[2021-09-27 07:32] prashant-isbest commented on #2196
I would recommend you to install choco
1 . open powershell as administator
2. Copy the below command and run it
3.  Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))
4. Now reopen po

[2021-09-27 09:08] YashKamboj commented on #2196
Thank you very much @prashant-isbest you really helped me was stuck with make for about 2 days.

[2021-09-28 06:41] sej28 commented on #2062
Hey, I want to contribute in this one...

[2021-09-28 10:12] samirparhi-dev commented on #2062
@Aniket1312 : please go ahed

[2021-09-28 11:52] PulkitSinghDev commented on #1942
Hey 👋🏼 , I can work on this issue :)

[2021-09-28 12:15] leecalcote commented on #1942
This request really isn't feasible without additional infra for secrets and Slack api queries. Let's close this issue down.

[2021-09-28 12:15] #1942 closed

[2021-09-28 12:30] leecalcote opened #2224 "[Discuss] Misaligned Email template"
**Description**
The discuss.layer5.io email template is in need of being fixed.

**Screenshots**
![Screen Shot 2021-09-28 at 7 23 15 AM](https://user-images.githubusercontent.com/7570704/135086637-5dc0b693-0ce7-40fa-857f-d4d443f9354e.png)

**Environment:**
- Host OS: MacOS
- Client: Apple Mail

---
**Contributor Resources**

Contributing to the [discuss.layer5.io](https://discuss.layer5.io/) site

[2021-09-28 12:36] PulkitSinghDev commented on #2224
would like to work on this issue :)

[2021-09-28 12:40] leecalcote commented on #2224
@PulkitSinghDev great. You'll need to execute the instructions given in the issue description in order to work on this issue.

[2021-09-28 15:55] amino19 commented on #1942
@leecalcote: Yes, contributors have to work as [slackin]( https://github.com/rauchg/slackin) does, really big task.

[2021-09-28 18:19] warunicorn19 opened #2225 "[Handbook] Create a page for FAQ in the community handbook"
**Current Behavior**
The current handbook doesn't have an FAQ section, the questions are [here](https://docs.google.com/document/d/1vxc8MLhDetIlBa1DCUTMbYLGWL4Df4K1xB_Ov5oUK7o), some of which are not answered yet.

**Desired Situation**
Create a separate page for FAQ and add the questions from the above document here (https://layer5.io/community/handbook)

---
[Optional] **Alternatives**

[Optiona

[2021-09-28 18:22] #2152 closed

[2021-09-28 18:27] warunicorn19 opened #2226 "[Handbook] Create a separate page for the Path to Leadership"
**Current Behavior**
The current `Community` page in the [handbook](https://layer5.io/community/handbook/community) also has the `Path to leadership` in it.

**Desired Situation**
Let's get that on a separate page and name the page as `Contributor Ladder`

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https:

[2021-09-28 18:32] leecalcote commented on #2226
Rename "Path to Leadership", which can be easily interpreted as "Your puny place in this world to where we should all be" - - which is not the case.

[2021-09-28 18:34] warunicorn19 commented on #2226
@leecalcote 😂😂, updated the issue.

[2021-09-29 05:24] siddhantkhariwal commented on #2225
Hey, can I fix this issue?

[2021-09-29 18:11] YashKamboj commented on #2225
If noone working can i work on this.

[2021-09-29 18:13] warunicorn19 commented on #2225
Hey @YashKamboj, will have to assign it to @siddhantkhariwal as he asked first.

[2021-09-29 18:13] YashKamboj commented on #2225
@warunicorn19 now worry

[2021-09-30 09:48] siddhantkhariwal commented on #2225
Hey, I have requested access to the document above, please give me access.

[2021-09-30 09:50] YashKamboj commented on #2225
Tag @warunicorn19

[2021-09-30 11:28] warunicorn19 commented on #2225
@siddhantkhariwal have you filled in the newcomers form? https://layer5.io/newcomer, that should give you access to the document.

[2021-09-30 14:35] #2226 closed

[2021-09-30 14:43] #2196 closed

[2021-10-01 05:53] warunicorn19 commented on #2153
@YashKamboj are you going to take a look at this issue?

[2021-10-01 06:42] YashKamboj commented on #2153
Yeah ,if noone is working on it .

[2021-10-01 12:39] YashKamboj commented on #2153
Hey @warunicorn19 , can we talk so i can know what exactly changes i have to make, if you are free.

[2021-10-01 20:20] sarthakjdev opened #2233 "[Bug] Collaboration's section organization logos not aligned properly."
**Description**

The collaboration section is being off-frame, leading to organization logo to be cut off by the screen frame .

**Screenshots**

![Screenshot 2021-10-02 012704](https://user-images.githubusercontent.com/77162721/135679935-a89386ce-de6d-478a-b34b-7c6586d25bca.png)

**Expected Behavior**

![image](https://user-images.githubusercontent.com/77162721/135681084-6058f5b1-1fb1-4300-b42d-1

[2021-10-01 22:00] leecalcote commented on #2233
Thanks for highlighting this, @sarthakjdev. Would you like to work on a fix as well?

[2021-10-02 05:46] #2089 closed

[2021-10-02 07:22] sarthakjdev commented on #2233
@leecalcote Yes for sure, I would like to work on this issue :)

[2021-10-02 08:10] warunicorn19 commented on #2233
@sarthakjdev @leecalcote this is not really a bug, according to the designs on Figma this is how the logos are supposed to look.

[2021-10-02 10:45] sarthakjdev commented on #2233
@warunicorn19 okay, So if this  supposed to be the real design then what we can do is, we can add a auto-scrolling animation to make the logos appear properly on the standard screen size, correcting the current fault it contains.

[2021-10-02 19:04] ramrodo opened #2235 "[Blog] Announce CCOSS 2021 event"
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member:

**Desired Title:** CCOSS 2021 event
**Topic:** announce the participation of the Meshery project in CCOSS 2021 event
**Core points to convey in the post:**
1. Explain/Describe CCOSS 2021 event
2. Mention the Mesher

[2021-10-02 19:16] ramrodo commented on #2235
Google Doc / Content: https://docs.google.com/document/d/1JJOh2uS3BhVD1ygpl6-sxxEX05WK0XF9G-f70EpSouU/edit?usp=sharing

[2021-10-03 04:57] YashKamboj commented on #2225
Hey @siddhantkhariwal if you are facing some difficulty solving the issue ,i can do it.

[2021-10-03 05:33] siddhantkhariwal commented on #2225
No, no worries. I'll complete it today!

[2021-10-03 05:34] YashKamboj commented on #2225
I will be happy to help.😊

[2021-10-03 05:35] siddhantkhariwal commented on #2225
Okay, I'll let you know if I need any help.

[2021-10-03 06:24] YashKamboj opened #2237 "Image cropped of Traefik Mesh and cncf in the proudly maintainers part (Home Page)"
**Description**

Image cropped of Traefik Mesh and  cncf in the proudly maintainers part (Home Page)
**Expected Behavior**

**Screenshots**

![Screenshot (94)](https://user-images.githubusercontent.com/75125203/135742635-c83f6245-2e7a-4ea9-b8c1-d565a1f65467.png)
**Environment:**
- Host OS: Windows
- Browser: Google Chrome

---

[Optional] **Additional Context**

---
**Contributor Resources**

The

[2021-10-03 06:25] YashKamboj commented on #2237
Can i work on this issue  myself.

[2021-10-03 07:54] amino19 commented on #2233
@warunicorn19: Sarthak needs to enhance a bit, lets ask him if he wanna work on this!

@sarthakjdev: Do you wanna take this issue as well?

[2021-10-03 09:18] warunicorn19 commented on #2237
@YashKamboj this is not a an issue, this is the design of the page.

[2021-10-03 09:50] YashKamboj commented on #2237
Really! O sorry

[2021-10-03 09:51] #2237 closed

[2021-10-03 12:43] sarthakjdev commented on #2233
@amino19 : Yes I want to work on this issue .

[2021-10-03 12:45] warunicorn19 commented on #2233
@amino19 @sarthakjdev I don't think there's an issue here, a `marquee` is not a part of our design and is a little outdated. @leecalcote thoughts?

[2021-10-03 12:50] warunicorn19 commented on #2233
@sarthakjdev why don't take a look at some [help wanted](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Ameshery+org%3Aservice-mesh-performance+org%3Alayer5io+label%3A%22help+wanted%22+) issues

[2021-10-03 13:04] amino19 commented on #2233
@warunicorn19: Agreed, shall we close this issue for now! :thinking:

[2021-10-03 13:06] warunicorn19 commented on #2233
@amino19 let's wait for what @leecalcote says.

[2021-10-03 17:12] #2235 closed

[2021-10-04 07:19] warunicorn19 commented on #2172
@b-hexsoul are there any updates on this? we would really love to discuss this on our websites' call today.

[2021-10-04 09:28] leecalcote commented on #2172
@kayceeDev Yes, please do.

[2021-10-04 10:59] leecalcote commented on #2224
Any progress to report here? Please join the Websites call today to discuss.

[2021-10-04 11:27] PulkitSinghDev commented on #2224
yup there are some updates, but how to join that website call ??

[2021-10-04 14:25] sarthakjdev commented on #2233
@warunicorn19 @amino19 Yes sure, probably I misunderstood this as an issue. No worries.

[2021-10-04 14:41] #2233 closed

[2021-10-04 23:49] #1857 closed

[2021-10-05 11:06] leecalcote commented on #2087
@alphaX86 you might be interested to do this.

[2021-10-05 11:48] alphaX86 commented on #2087
When it'd be?

[2021-10-05 12:04] leecalcote commented on #2087
// @Anita-ihuman

[2021-10-05 13:38] alphaX86 commented on #2087
I need more details regarding this one...

[2021-10-05 13:44] Anita-ihuman commented on #2087
We just need a tutorial 30minutes at most, during the newcomers session
On Meshery docs and Jekyll.

[2021-10-05 13:59] alphaX86 commented on #2087
Ok.... when it'd be? This week or upcoming one? Plus, do we have slides for it or should I make one?

[2021-10-05 14:03] Anita-ihuman commented on #2087
You are to make the slides. How about you tell me a day that works for you BETWEEN this week or upcoming one?

[2021-10-05 14:09] alphaX86 commented on #2087
Well, I'm bit free tomorrow due to rural elections in state... So, I'll try to utilize and make it this week

[2021-10-05 15:27] Anita-ihuman commented on #2087
Perfect, Will make sure I put that in the reminder ahead of Thursday

[2021-10-05 17:36] frankiefab100 commented on #2153
Has this issue been resolved?

[2021-10-05 17:38] YashKamboj commented on #2153
Yes, will be merged today ,i think made all the changes they requested.

[2021-10-06 10:47] riteshsp2000 commented on #2204
Hey @leecalcote @warunicorn19 any updates on the design. I'm not that good of a UI/UX person, hence didn't delve much into it.

Also for some reason, I'm not having the access to the Figma pages. Could you check once? my mail is riteshsp2000@gmail.com

[2021-10-06 14:35] alphaX86 commented on #2087
Initial draft of the slide is made here.. (https://docs.google.com/presentation/d/1GhJH3YF5mBeYX7I7ItEd-EbUmk1cnn3BdK1X230kwII/edit?usp=sharing)

If there is any changes needed or like can be added, let me know :)

[2021-10-07 09:46] moazzam07 commented on #2225
@warunicorn19 can i work on this?

[2021-10-07 14:05] vinayaksh42 opened #2243 "[Website] addition of getnighthawk to community/members"
**Current Behavior**
Layer5/community/members is missing getnighthawk.dev link in the project list section

**Desired Situation**
addition of getnighthawk.dev

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.c

[2021-10-07 14:07] alphaX86 commented on #2087
No issues 👍 @warunicorn19

[2021-10-08 17:32] leecalcote opened #2249 "[Community] Member Profile: Add Service Mesh Pattern badge to Sayantan Bose's profile"
**Current Behavior**

@sayantan1413 has worked on generating buildtime in meshery-osm and the pattern components in meshery-kuma adapter.

**Desired Situation**
Let's recognize @sayantan1413's efforts with the `patterns` badge on his community member profile on https://layer5.io/community/members.

---

**Contributor Resources**

A detailed explanation on how to set up a community member profile c

[2021-10-08 17:43] sayantan1413 opened #2250 "[Community] Member Profile: Add Service Mesh Pattern badge to Shreyas Mishra's profile"
**Current Behavior**

Current Behavior

@Shreyas220  has worked on generating buildtime in meshery-kuma and runtime in meshery-nginx-sm adapter.

Desired Situation
Let's recognize @Shreyas220 's efforts with the patterns badge on his community member profile on https://layer5.io/community/members.

---

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site con

[2021-10-08 20:47] siddhantkhariwal commented on #2225
@warunicorn19  Have completed the faq section, some minor changes are remaining will put a PR today itself.

[2021-10-09 01:36] #2243 closed

[2021-10-09 05:42] #2249 closed

[2021-10-09 13:17] siddhantkhariwal commented on #2225
Hey, @warunicorn19  I have completed the FAQs page and created a pull request, Please look through it for any feedback or changes that I missed.

[2021-10-10 02:45] #2250 closed

[2021-10-10 09:20] Shreyas220 commented on #2250
thank you @YashKamboj for doing this

[2021-10-11 00:43] #2088 closed

[2021-10-12 00:40] Anita-ihuman opened #2256 "[handbook] Create an intra-page for the content of the handbook"
**Description**
Currently, it is difficult to know the subheading that exists within each section of the handbook.

**Expected Behavior**
We need an intra-page nav for the handbook for that we can easily navigate to each subheading on a section.
A typical example would be the navigation by the right on [this site.](https://docs.meshery.io/concepts/architecture)

**Screenshots**
![Screenshot 2021-1

[2021-10-12 01:02] Anita-ihuman opened #2257 "[handbook] Add a “next topic” - “previous topic” button"
**Current Behavior**
There is none existing presently on the site.

**Desired Situation**
At the button of each section, there should be a “next topic” & “previous topic” button that helps users navigate to either the previous or next sections.

---
**Screenshot**

![next-and-previous-buttons-in-php](https://user-images.githubusercontent.com/62384659/136873084-e79f370b-3baa-4f85-94b7-b1e65aeea6fc.

[2021-10-12 01:07] Anita-ihuman opened #2258 "[handbook] Add a back to the top button"
**Current Behavior**
There is no back to the top button existing on the community handbook.

**Desired Situation**
Add a back to the top button on the handbook to help users scroll through the page.
A typical example can be found on [this site](https://smp-spec.io/).

---
**Screenshot**

![Screenshot 2021-10-12 at 02 06 19](https://user-images.githubusercontent.com/62384659/136873783-57ece5ec-cb6b

[2021-10-12 01:10] Anita-ihuman opened #2259 "[Handbook] Add an Incident report link"
**Description**
The Code of conduct is missing the Incident report form for Layer5.

**Expected Behavior**
Add an incident report form so that contributors can be aware of it.
Refer to [this document](https://docs.google.com/document/d/1vxc8MLhDetIlBa1DCUTMbYLGWL4Df4K1xB_Ov5oUK7o/edit?disco=AAAAQ2ziZU0) for more information.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React,

[2021-10-12 01:14] Anita-ihuman opened #2260 "[handbook]Update the font family"
**Description**
The font used on the handbook homepage does not align with the one used across the entire site.

**Expected Behavior**
Change the font family to either Qanelas Soft or Open Sans for the [home page.](https://layer5.io/community/handbook)

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https

[2021-10-12 01:30] Anita-ihuman opened #2261 "[handbook] Rearrange the content within the community & Contributor ladder section"
**Description**
There is a repetition that exists in the "community " and "contributor ladder ". The  'manager', meshmate & maintainer are without any subheading.

**Expected Behavior**
We want to separate the role and responsibilities of "Maintainer, Meshmate and manager" to exist in the Contributor ladder instead of Community Guidelines. Refer to[ this doc f](https://docs.google.com/document/d/1

[2021-10-12 02:35] ManishOffi commented on #2258
Hye @Anita-ihuman
Please can you assign me bcz i  would love to work for you?

[2021-10-12 04:52] toth2000 commented on #2257
Looking into this.

[2021-10-12 07:27] Anita-ihuman commented on #2257
Sure go ahead.

[2021-10-12 07:31] Anita-ihuman commented on #2260
The handbook homepage font family is what I want to change.
Are you sure, you want to take this up as well?

[2021-10-12 14:11] jayeclark commented on #2260
I'm not sure I understand this issue. The handbook home page font appears to be Qanelas Soft for headers/title and Open Sans for paragraph text, which is consistent with the rest of the site.

I did notice significant differences in font size and letter spacing for paragraph text, which gives the text a different appearance and almost makes it look like a different font (see 2nd photo). Are these

[2021-10-12 14:17] Anita-ihuman commented on #2260
Is that so?
It actually seemed like a different font.
It the font family corresponds with the other pages, then we might as well close this isssue.

[2021-10-13 20:41] #2260 closed

[2021-10-14 14:05] Anita-ihuman commented on #2256
Why don't you create a PR so we can review it?

[2021-10-15 02:11] leecalcote opened #2266 "[News] DevOps.com: CNCF Adopts Meshery to Advance Service Mesh Management"
We're in the news! Using the contributing instructions for [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news), please add the following article to the Layer5 Newsroom.

**Article:**
- Title: CNCF Adopts Meshery to Advance Service Mesh Management
- Link: https://devops.com/cncf-adopts-meshery-to-advance-service-mesh-management/

---
**Contributor Resources**

[2021-10-15 03:13] leecalcote opened #2267 "[Blog] Reordering of sidebar widgets"
**Desired Behavior**
On layer5.io/blog, it would be nice to interleave the Newsletter subscription and the discuss forum callout between the Categories and Tags sections such that the order is:
- Discuss
- Categories
- Newsletter
- Tags

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/la

[2021-10-15 15:34] iambami opened #2269 "[Community] Member Profile: Nicholas Jackson Name isn't Hyperlinked"
**Current Behavior**
Nicholas Jackson name isn't hyperlinked in the project hour: service mesh performance KubeCon speakers

[layer5(https://layer5.io/community/events/project-office-hours-service-mesh-performance-at-kubecon-na-2021)

**Desired Situation**
The profile is under Nic Jackson

[Nic Jackson](https://layer5.io/community/members/nic-jackson)

A detailed explanation on how to set up a com

[2021-10-15 15:50] san-coding commented on #2269
Shall i fix this ?

[2021-10-15 16:03] leecalcote commented on #2269
@san-coding, I think you _just_ missed this one...

[2021-10-15 16:12] ely-herrera commented on #2258
Hi @Anita-ihuman! Is this something you still need help with?

[2021-10-15 16:29] #2269 closed, assigned to iambami

[2021-10-16 06:35] sandeep-v1404 commented on #2258
Can I work on this issue? @Anita-ihuman

[2021-10-16 17:02] #2127 closed

[2021-10-17 07:02] #2128 closed

[2021-10-18 14:05] shubham-tyagi opened #2275 "[Learn] Move Learning Paths section below Interactive Labs"
**Current State:**
As it can be seen in the below image the "**interactive labs**" section comes below "**learning path**" section .
![](https://imgur.com/JEo4qAx.png)

**Desired State:**
"**Learning Path**" section should come below "**interactive labs**" section.
---
**Contributor Resources**
The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` br

[2021-10-18 15:01] #2275 closed, assigned to shubham-tyagi

[2021-10-19 11:16] #2267 closed, assigned to debo19

[2021-10-19 11:52] YashKamboj commented on #2256
@warunicorn19  I would have made the PR but my previous PR#2264 have the changes in the same files , so would open a PR as soon as the previous closes.

[2021-10-19 16:19] #2257 closed, assigned to toth2000

[2021-10-19 17:31] leecalcote opened #2276 "[Brand] Add Service Mesh Patterns brand kit"
**Current Behavior**
https://layer5.io/company/brand does not have a section for Service Mesh Patterns.

**Desired Behavior**
Create a new section for Service Mesh Patterns.

**Kit**: [service-mesh-patterns-brand-kit.zip](https://github.com/layer5io/layer5/files/7375527/service-mesh-patterns-brand-kit.zip)

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages.

[2021-10-19 17:39] ruhi09 commented on #2276
@leecalcote I would like to work on this

[2021-10-19 17:40] warunicorn19 commented on #2276
Go ahead @ruhi09

[2021-10-19 19:42] toth2000 opened #2277 "Overlapping text on mobile view"
**Description**
The `Contributors Journey` text overlaps with the `Newcomer's Path` text on mobile devices

![image](https://user-images.githubusercontent.com/65480420/137978773-0f00d9fd-ce8d-4854-be5f-fd3accb9cd63.png)

**Expected Behavior**
There should be a gap.

![image](https://user-images.githubusercontent.com/65480420/137979189-46ee00fc-0ea0-4dbc-8977-5207f9e61c1f.png)

**Screenshots**

**E

[2021-10-19 19:51] #2266 closed, assigned to iambami

[2021-10-20 06:24] chirayumit001 commented on #2276
Hey, I would also like to work on this issue
I am new here so can multiple people get assigned to a single issue ? and will both their contributions get counted ?
Really excited about contributing

[2021-10-20 09:13] Iheanacho-ai commented on #2258
@Anita-ihuman is somebody working on it already

[2021-10-20 11:01] vedant-kakde opened #2278 "Add "All Books" button on each individual book page"
**Desired Behavior**

Add "All Books" button on each individual book page.

[2021-10-20 11:03] vedant-kakde opened #2279 "Add Button for “Checkout All Learning Paths” on /learn"
**Desired Behavior**

Button for “Checkout All Learning Paths” on /learn

[2021-10-20 21:15] #2278 closed

[2021-10-21 02:59] leecalcote opened #2281 "[Event] KubeCon China 2021: CNCF TAG Network and Service Mesh Working Group"
Please add the following event to layer5.io/events.

**Event:**
- Event Title: KubeCon China 2021
- Event Link: https://www.lfasiallc.com/kubecon-cloudnativecon-open-source-summit-china/
- Talk Description: CNCF TAG Network and Service Mesh Working Group
- Talk Link: https://sched.co/pTl8
- Speakers: Lee Calcote, Layer5; Ed Warnicke, Cisco; Ken Owens, Fiserv
- Deck: N/A
- Video: N/A

---
**Contrib

[2021-10-21 05:21] shreya-gb commented on #2258
I guess this issue is solved right?

[2021-10-21 06:57] Iheanacho-ai commented on #2258
@Anita-ihuman hey what about me 😭

[2021-10-21 06:59] shreya-gb commented on #2258
Thanks a lot, @Anita-ihuman for assigning :) Working on it immediately!

[2021-10-21 09:28] Anita-ihuman opened #2283 "[Event] KubeCon + CloudNativeCon + Open Source Summit China 2021 - Virtual"
Please add the following event to layer5.io/events.

**Event:**
- Event Title:  KubeCon + CloudNativeCon + Open Source Summit China 2021 - Virtual
- Event Link: https://www.lfasiallc.com/kubecon-cloudnativecon-open-source-summit-china/
- Talk Description:
- Which service mesh should I use and how do I get started? What are the different service meshes, and how do they contrast? Learn about the fun

[2021-10-21 09:33] Mr-DG-Wick commented on #1001
I think the button can be placed somewhere in the middle of page, as it is a broader and important question imo. And maybe have a small line of text beneath the button, that briefs one about what the button does. Makes sense?

[2021-10-21 10:56] #2279 closed, assigned to vedant-kakde

[2021-10-21 13:56] alphaX86 opened #2284 "[Blog] Create new tutorial examples of `mesheryctl` in form of videos/animations through blog posts"
**NOTE: This issue is linked with meshery/meshery#4421**

**Objective**
The main objective of this issue is to make a video/animation to demonstrate the actions of every mesheryctl command such that it'll be beneficial for users and new contributors to know, learn and troubleshoot the commands.

Each command can be posted in form of blog posts, so if any error is made by user while typing a comman

[2021-10-21 15:10] #2276 closed, assigned to ruhi09

[2021-10-21 16:15] #2277 closed, assigned to toth2000

[2021-10-21 21:56] davidchengl74 commented on #2283
hello i'd create the event for you on your web page.
i'm doing this as a school assignment.
it needs to be merged after for me to receive credit for the assignment.
can you kindly let me know if that works and this can be assigned to me?

[2021-10-25 16:32] debo19 opened #2289 "[Learn] Add newsletter subscription"
**Current Behavior**

![learn](https://user-images.githubusercontent.com/85789734/138733673-d6deb0f2-29ae-4dc3-a54b-9ca986fe4190.jpg)

**Desired Behavior**
Add the newsletter subscription to [Learning-paths](https://layer5.io/learn/learning-paths/mastering-serivce-meshes-for-developers/introduction-to-service-meshes) page.

**Contributor Resources**

The layer5.io website uses Gatsby, React, and G

[2021-10-25 16:47] debo19 opened #2290 "[Handbook] Icons not mobile responsive"
**Description**
Icons on the [Projects](https://layer5.io/community/handbook/projects) page are not mobile responsive.

**Expected Behavior**
Make all the icons bigger in mobile view and correctly aligned to the text. Also, change the `5` icon to one without the dark background.

**Screenshots**
![projects](https://user-images.githubusercontent.com/85789734/138736352-9f2d165c-b03c-45a5-9783-56ddf9

[2021-10-25 18:58] Anita-ihuman opened #2291 "[Hanbook] Add Learning Paths to the handbook"
**Description**
In preparation for the Learn-ng launch, we should add a link to the site, on the handbook as well

**Expected Behavior**
Add Layer5 Learning paths to the existing learning resources([Learn Layer5](https://layer5.io/community/handbook/learn-layer5)) in the handbook

**Screenshots**

![Screenshot 2021-10-25 at 19 38 39](https://user-images.githubusercontent.com/62384659/138753638-4ef

[2021-10-25 19:32] debo19 opened #2292 "[Learn] Fix minor spelling errors"
**Description**
![management](https://user-images.githubusercontent.com/85789734/138757354-ac7c068f-e77e-41b5-a531-79d376b2e1f8.jpg)

![instances](https://user-images.githubusercontent.com/85789734/138757369-644b5ab5-f927-49f0-9147-26386817b672.jpg)

![servicesp](https://user-images.githubusercontent.com/85789734/138757388-1f89f679-79d0-4ae2-9e10-46a7cd4a38fa.jpg)

**Expected Behavior**
Review the

[2021-10-26 06:54] shubham-tyagi opened #2293 "Update the chapters list."
**Current Behavior**

we have the chapter list till the 8th chapter on this [link](https://layer5.io/learn/learning-paths/mastering-service-meshes-for-developers)

**Desired Situation**

Add the 9th chapter to the list.

---
![](https://imgur.com/tEwXVbd.png)
---

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch

[2021-10-26 12:45] #2292 closed, assigned to Gnoyoyo

[2021-10-26 12:54] shubham-tyagi opened #2297 "[Blog] Update the blog template with an example of how to include real-time terminal simulation in the blogs."
- An example and explanation of how to incorporate real-time terminal sessions simulation in the blog are to be added.
- By seeing which bloggers will be able to include something like this in their blogs.

![](https://imgur.com/yXaCy9h.png)

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master)

[2021-10-27 09:34] YashKamboj opened #2298 "[Handbook] no button or part in layer5.io/community which redirect to layer5.io/community/handbook"
**Current Behavior**no button or part in layer5.io/community which redirect to layer5.io/community/handbook , we always have to type the url to redirect to the handbook page

**Desired Behavior**

 -links to this handbook from the /community/newcomers and /community/meshmates pages?
 -a new call-to-action in the shape a small rectangular widget
 -a new, horizontal shaped call-to-action for the han

[2021-10-27 12:14] #2291 closed, assigned to theBeginner86

[2021-10-27 16:18] Mr-DG-Wick opened #2300 "[Blog] Write a blog to address Meshery's 1000 stars achievement."
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member:

**Desired Title:**
The Story of Meshery’s 1000 stars

**Core points to convey in the post:**
1. A nice story or a Question or maybe a discussion to express the achievement.
2. About Meshery & its "Why".
3. What lie

[2021-10-28 09:17] debo19 opened #2303 "Create new collections for resources and published articles"
**Desired Behavior**
Need to create a few new collections in [layer5.io](https://layer5.io/) to hold published articles, which don’t fit into a [blog](https://layer5.io/blog) post, but are timeless.

Possible collections include `/service-mesh`, `/solutions`, `/resources`, `/videos` . New Wrapper style  and Graphql queries for these collections need to be created.

**Contributor Resources**

The l

[2021-10-28 10:54] pottekkat opened #2304 "Add a page for MeshMap"
**Current Behavior**

MeshMap will go into beta with v0.6.0 release.

**Desired Behavior**

A dedicated page which explains MeshMap and how to use it needs to be added.

**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://gi

[2021-10-28 11:14] #2304 closed, assigned to nobody

[2021-10-28 14:53] #2293 closed, assigned to shubham-tyagi

[2021-10-29 12:48] #2283 closed, assigned to Prathamesh-Shanbhag

[2021-10-29 18:04] leecalcote opened #2307 "[Learn] Relocate breadcrumb trail on Learning Path's Course page"
**Description**
See the two issues described in the recording.

https://user-images.githubusercontent.com/7570704/139481874-fee46f51-a2f5-4ecb-a47a-4386164eeed3.mov

**Expected Behavior**
1. breadcrumb trail should be on white background
2. breadcrumb trail should positioned in the same location on each page.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Page

[2021-10-29 18:14] theBeginner86 opened #2308 "Aspect ratio problem in the CTA widget"
**Description**

Aspect ratio problem with the widget of the discussion forum:
-  it gets cut short as a result of which the text goes out of the boundary.
- the Layer5 image also becomes unreadable.

**Expected Behavior**

- widget box should align evenly with the rest of the contents.
- Layer5 image inside the box should be displayed nicely even when the box size changes.

**Screenshots**

<img

[2021-10-29 18:14] theBeginner86 commented on #2308
I'd like to work on it. Please assign me this issue.

[2021-10-29 18:16] vedant-kakde opened #2309 "[Learn] Width of the call to action (CTA) is getting cut short"
**Description**

The width of the call to action (CTA) is getting cut short.
Link:- https://layer5.io/learn/learning-paths/mastering-service-meshes-for-developers/introduction-to-service-meshes/

**Expected Behavior**

If it is expanded the image should display nicely.

**Screenshots**

<img width="1063" alt="Screen Shot 2021-10-29 at 12 49 44 PM" src="https://user-images.githubusercontent.com/699

[2021-10-29 18:21] #2308 closed

[2021-10-29 18:21] warunicorn19 commented on #2309
@theBeginner86 do you want to work on this??

[2021-10-29 18:21] theBeginner86 commented on #2309
yeah, I'd like to try it.

[2021-10-29 20:23] #2289 closed

[2021-10-31 10:52] akshatnema opened #2311 "Overflow of logos in Collaboration section"
**Description**
Some of the logos are overflowing on the website. They should be given proper width so that every logo looks well.

**Current Behavior**
![image](https://user-images.githubusercontent.com/76521428/139579129-b7b1f3b9-3d5c-4014-a6ba-12eb53d1b926.png)

**Expected Behavior**
![image](https://user-images.githubusercontent.com/76521428/139579209-d30a4804-3c55-477d-9383-9bc7d95bac54.png)

[2021-10-31 12:23] warunicorn19 commented on #2311
@leecalcote we've had this issue created about 5 times now, should we actually consider changing the design?

[2021-10-31 12:34] YashKamboj commented on #2298
![Screenshot (2)](https://user-images.githubusercontent.com/75125203/139583425-1554444f-7e43-4b1b-a5f6-ab9f795453e2.png)
Does this callout look okay @warunicorn19

[2021-10-31 12:42] akshatnema commented on #2311
@warunicorn19 As per reader point of view, it looks weird to see this section as images are getting clipped at the ends.

[2021-10-31 14:15] theBeginner86 commented on #2309
I've fixed it. Please have a look at the PR. 😃

[2021-10-31 14:40] warunicorn19 commented on #2298
@YashKamboj let's discuss this tomorrow on the websites' call.

[2021-10-31 15:51] #2303 closed

[2021-10-31 16:28] #2087 closed

[2021-10-31 16:57] leecalcote opened #2315 "[Community] Member Profile: Shubham Tyagi"
**Current Behavior**

@shubham-tyagi has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @shubham-tyagi as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @shubham-tyagi
- Twitter: tyagiiiiiiiiii
- LinkedIn: shubham-tyagi-b3879616a
- Link to profile picture: https://drive.google.com/file/d/1xh7PP

[2021-10-31 16:59] shubham-tyagi commented on #2311
Hey @akshatnema, I have arrived at a solution but I don't think my solution is a long-term fix for this issue. So please solve it and submit the pull request.

[2021-10-31 17:19] akshatnema commented on #2311
Yeah sure @shubham-tyagi.

[2021-10-31 18:49] leecalcote opened #2316 "[Brand] Add MeshMasters brand kit"
**Current Behavior**
https://layer5.io/company/brand does not have a section for MeshMasters.

**Desired Behavior**
Create a new section for MeshMasters.

**Kit**
[meshmasters-brand-kit.zip](https://github.com/layer5io/layer5/files/7449528/meshmasters-brand-kit.zip)

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master`

[2021-10-31 20:48] warunicorn19 commented on #2258
@shreya-gb any updates?

[2021-11-01 01:25] leecalcote opened #2317 "[Brand] Refresh Nighthawk logos; Remove "GET" from all pages"
**Current Behavior**
The current set of Nighthawk logos say "GETNIGHTHAWK". These are being replaced with a set that says "NIGHTHAWK".

**Desired Behavior**
1. Rename mega menu entry and project page to "Nighthawk".
1. Remove "GET" from any of the descriptions of this project.
1. Rename brand section to "Nighthawk".
1. Replace old kit and logos with new kit and logos.

The website will still be ge

[2021-11-01 10:14] #2315 closed

[2021-11-01 14:37] imabp commented on #2311
Just on a note, please do not self-assign, if you are not having a solution. It confuses and a bad practice considered.

[2021-11-01 14:40] amino19 commented on #2311
@imabp: Agreed! :100:

[2021-11-01 14:53] shubham-tyagi commented on #2311
Agreed, Forgot to unassign myself. Still , Would keep that in mind going forward @imabp, thanks for such knowledgeable insight.

[2021-11-01 18:51] #2311 closed

[2021-11-01 19:22] YashKamboj commented on #2298
Hey @warunicorn19 does this looks good
![Screenshot (4)](https://user-images.githubusercontent.com/75125203/139728852-5da9455b-7002-4286-838d-f023aa183885.png)

[2021-11-01 19:24] warunicorn19 commented on #2298
@debo19 is better with UX 😅, views?

[2021-11-01 20:24] debo19 commented on #2298
I think it's a little difficult to focus on the text here.  Can you try a darker overlay on the image? Check [this](https://dev.to/ellen_dev/two-ways-to-achieve-an-image-colour-overlay-with-css-eio) out.
Also, the heading "Community Handbook" has to be bigger.  Let's see how this turns out otherwise we'll brainstorm again 🤔

[2021-11-01 20:34] Mr-DG-Wick commented on #2317
one place where `getnighthawk` needs to be replaced with `nighthawk
![Screenshot (1074)_LI](https://user-images.githubusercontent.com/81250703/139738196-5e311cd5-fc99-422b-a773-3db292fe2846.jpg)
`

[2021-11-01 20:36] warunicorn19 commented on #2317
@Mr-DG-Wick it's nighthawk rn.
![Screenshot_20211102-020601](https://user-images.githubusercontent.com/53532328/139738520-e780480a-f4e9-4f75-a326-14cf8c428faa.jpg)

[2021-11-01 20:44] Mr-DG-Wick commented on #2317
Thanks for the info @warunicorn19 . I just realized that I was looking into Depopriya's build in her PR 😅

[2021-11-01 21:06] Mr-DG-Wick commented on #2317
one place where `getnighthawk` needs to be replaced with `nighthawk`

![Screenshot (1075)_LI](https://user-images.githubusercontent.com/81250703/139742127-0752693c-ef0e-4da9-aff3-063256a069ce.jpg)

[2021-11-02 05:04] vedant-kakde commented on #2258
@shreya-gb if you are facing any issues please let us know. Happy to help.

[2021-11-02 08:20] Anita-ihuman opened #2323 "[Blog] Publish the Learning path blogpost"
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member:

**Desired Title:**  Introducing Layer5 Learning Paths
**Draft:**  https://docs.google.com/document/d/1qqGluGEePjcBl2R79M_6h6wfu81xYaFcMgeSPLNDKt4/edit?usp=sharing
**Author:** Anita Ihuman

---
**Contributor Resourc

[2021-11-02 08:25] MohamadHanafi commented on #2258
@Anita-ihuman Is the issue resolved?

[2021-11-02 08:42] shreya-gb commented on #2258
Yes, I need help in commenting the issue. My PR is submitted

[2021-11-02 08:45] vedant-kakde commented on #2258
@shreya-gb Please ping me on slack I'll help you.

[2021-11-02 08:53] shreya-gb commented on #2258
Okay, Thank you

[2021-11-02 14:55] navendu-pottekkat opened #2324 "[News] Create news item for the newly published IEEE Bridge article"
We're in the news! Using the contributing instructions for [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news), please add the following article to the Layer5 Newsroom.

Note: The news should be about the published article in IEEE Bridge linked below. The link below is not a news article.

**Article:**
- Title: Analysing Service Mesh Performance
- Link: https:

[2021-11-02 15:12] YashKamboj commented on #2298
How about now ? @debo19
![Screenshot (5)](https://user-images.githubusercontent.com/75125203/139874813-884acd03-d19c-4d04-8903-b5a904f38058.png)

[2021-11-03 06:45] sambhavsaxena commented on #2298
@YashKamboj looks great

[2021-11-03 07:41] YashKamboj commented on #2298
@sambhavsaxena thnx

[2021-11-03 15:26] #2290 closed

[2021-11-03 17:21] leecalcote opened #2325 "Consolidate two KubeCon China events into one"
**Current Behavior**
Two KubeCon China events are published, but should be combined into one entry.

**Desired Situation**
Collapse the contents of this event (https://layer5.io/community/events/kubecon-cloudnativecon-open-source-summit-china-2021) virtual into this event (https://layer5.io/community/events/kubecon-china-2021)

Delete the first event.

---
**Contributor Resources**

The layer5.io

[2021-11-04 17:35] YashKamboj commented on #2298
@debo19 any views ,should i make a pr

[2021-11-04 17:37] leecalcote commented on #2298
@YashKamboj we also need a size of this that fits into the "widget" column on layer5.io/blog.

[2021-11-04 17:43] YashKamboj commented on #2298
@leecalcote i can change the size for the blog only , or should i keep the size for every page small.

[2021-11-04 18:15] leecalcote commented on #2324
@navendu-pottekkat please see this one through.

[2021-11-04 18:17] leecalcote commented on #2317
Thank you, @Mr-DG-Wick. I believe each of these items are addressed now. 👍

[2021-11-04 18:17] leecalcote commented on #2317
Reopen this issue, if you find otherwise.

[2021-11-04 18:17] #2317 closed

[2021-11-05 21:59] sakshamgurbhele commented on #2325
Hi @leecalcote, I would love to take this issue.

[2021-11-06 03:54] #1801 closed

[2021-11-06 08:07] shubham-tyagi commented on #2325
Thanks @sakshamgurbhele for taking this up.

[2021-11-06 13:58] Mr-DG-Wick opened #2326 "Modify the CONTRIBUTING.md file to enhance readability"
**Required changes**
- Restructure the doc such that it is much easier to digest
- Provide a detailed guide on environment set up
- Modify grammar
- Fix links
- Fix minor typos

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions

[2021-11-06 17:14] shubham-tyagi commented on #2326
Hey @Mr-DG-Wick, you wanna work on this right? I am assuming on the basis of the slack conversation that you wanna work on this.

[2021-11-06 17:17] Mr-DG-Wick commented on #2326
Yup!

[2021-11-06 17:21] shubham-tyagi commented on #2326
@Mr-DG-Wick Thanks for taking this up 😃

[2021-11-07 12:44] leecalcote commented on #2325
Thanks for volunteering, @sakshamgurbhele. After being open a few days without volunteer, I went ahead and completed this task. I neglected to close this issue, though, which I will do now.

Let's find a new issue for you. 👍

[2021-11-07 12:47] #2325 closed

[2021-11-07 14:12] sakshamgurbhele commented on #2325
Ahhh, no problem.

[2021-11-08 14:18] Mr-DG-Wick opened #2329 "Modify content of README.md"
- Modify the content of README.md
- Fix Nighthawk logo issue
---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md)
- See Layer5 site designs in this [Figma project](h

[2021-11-08 14:53] #2326 closed

[2021-11-08 21:15] #2329 closed

[2021-11-09 07:10] YashKamboj commented on #2298
![Screenshot (10)](https://user-images.githubusercontent.com/75125203/140878079-78759aaf-cceb-44db-9d99-9eba5716abb6.png)
@debo19 Views??

[2021-11-09 10:17] debo19 commented on #2298
This looks much better @YashKamboj . Can you make the smaller version of this and place it in the site locations we discussed yesterday?
Also, as discussed in yesterday's call, we can explore a new shape other than rectangles and squares.  https://user-images.githubusercontent.com/64528871/135861003-17d1d08a-d92f-48c4-a447-3a2c9cadef3e.png this could be a possible layout.  You can try using this,

[2021-11-09 13:57] leecalcote opened #2333 "[Blogs] Add "Layer5 Team" author type"
**Current Behavior**
Layer5 blog posts are written by any number of representatives of the team, often done collaboratively.

**Desired Behavior**
A team byline is needed (see mockup). When the `author` frontmatter field matches "Layer5 Team" the following logo and "Layer5 Team" should be shown in single blog post views.

---
**Screenshots / Mockups**
<img width="1060" alt="Screen Shot 2021-11-09

[2021-11-09 16:27] #2333 closed

[2021-11-09 18:49] #2187 closed

[2021-11-09 23:58] #2225 closed

[2021-11-10 00:07] #2309 closed

[2021-11-10 03:41] leecalcote commented on #2324
@navendu-pottekkat, is this done?

[2021-11-10 03:45] leecalcote commented on #2324
Please create a tweet for this as well.

[2021-11-10 03:57] navendu-pottekkat commented on #2324
Yes. Making a PR for the news item now.

[2021-11-10 11:02] Mr-DG-Wick opened #2337 "[Task] Add the article Analyzing service mesh optimization under topic"
- migrate the article in the topic section of [layer5](https://layer5.io/topics)
- create cover image

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md)
- See Lay

[2021-11-10 17:44] YashKamboj commented on #2298
@debo19 views?
![Screenshot (12)](https://user-images.githubusercontent.com/75125203/141165350-d4f409e0-cdd7-43ad-9451-294e13f9c1f5.png)
?

[2021-11-11 07:55] Mr-DG-Wick commented on #2072
What is the progress on this one :) ?

[2021-11-11 08:08] warunicorn19 commented on #2072
@bariqhibat the blog is good to publish right?

[2021-11-11 09:56] toth2000 opened #2342 "Missing Pagination in Handbook FAQ page"
**Description**

The FAQ page does not have a pagination (previous and next) button.
Link: https://layer5.io/community/handbook/faq

**Expected Behavior**

Add Previous Button at the bottom of the FAQ section.

**Screenshots**

**Environment:**
- Host OS:
- Browser:

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master`

[2021-11-11 09:57] warunicorn19 commented on #2342
@toth2000 added this in my recent PR https://github.com/layer5io/layer5/pull/2339

[2021-11-11 10:02] warunicorn19 commented on #2342
we can close this issue, as there's already a fix put in.

[2021-11-11 10:02] #2342 closed

[2021-11-11 10:02] toth2000 commented on #2342
@warunicorn19 sorry, I didn't know.

[2021-11-11 10:06] warunicorn19 commented on #2342
No problem 😄 @toth2000

[2021-11-11 10:16] #2316 closed

[2021-11-11 12:54] josephmidura commented on #2072
I'll put the draft onto GitHub and we can review from there.

[2021-11-11 13:00] warunicorn19 commented on #2072
Alright sounds good, thank you @josephmidura

[2021-11-11 17:36] Sayantan-s commented on #2258
@Anita-ihuman is this issue still open? If it is, then you can assign it to me.

[2021-11-12 17:47] #2324 closed

[2021-11-12 19:42] Mr-DG-Wick opened #2347 "[Task] Modify content such that links open on different tabs."
**Current Behavior**

The links under the pre-requisites section redirect user away from the Learning path [website](https://layer5.io/learn/learning-paths/mastering-service-meshes-for-developers).
For reference see this :
https://user-images.githubusercontent.com/81250703/141525085-eef17e46-6dda-46dd-aead-a6a38d0419f1.mp4

**Desired Situation**

The links should open on a different tab.

---
**Co

[2021-11-12 21:12] leecalcote opened #2348 "Change "Topics" to "Resources""
**Current Behavior**
The current `/topics` needs renamed to `/resources`. This change affects queries, templates, collection, page, and so on.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/laye

[2021-11-12 21:16] debo19 commented on #2348
@leecalcote I've already changed `topics` to `resources` in my open PR [#2320](https://github.com/layer5io/layer5/pull/2320) while adding the articles 😅

[2021-11-12 21:18] leecalcote commented on #2348
I just built that branch and just realized this. I was returning to this issue to comment and close out, then I see that you have already commented. Holy moly, ⚡ . There is no question that you continue to earn your nickname. Dang girl, you're a speedy one.

[2021-11-12 21:18] #2348 closed

[2021-11-13 08:10] Sayantan-s commented on #2347
Hey, @Mr-DG-Wick can you please assign this to me ?

[2021-11-13 08:42] Mr-DG-Wick commented on #2347
Thanks for taking this up!! @Sayantan-s

[2021-11-13 08:43] Mr-DG-Wick commented on #2307
Progress on this one @vedant-kakde :) ?

[2021-11-13 08:55] Mr-DG-Wick commented on #2224
hey @PulkitSinghDev , any progress on this one :) ?

[2021-11-15 08:59] #2062 closed

[2021-11-15 08:59] #972 closed

[2021-11-15 14:15] Mr-DG-Wick opened #2350 "[Task] Organize the content of Navbar to have equal padding"
**Current Behavior**
The navbar has unequal spacing as you can see from the attached image. According to general UI principle it is not ideal at present.

![site_review_2](https://user-images.githubusercontent.com/81250703/141796266-35552568-09a5-41f1-811b-fc6e2427a428.png)

**Desired Situation**
The white space/padding at the top and bottom must be same or in other words we need to align the cont

[2021-11-15 14:56] Mr-DG-Wick opened #2351 "[Bug] Fix unwanted hover effect in the button"
**Current Behavior**

At present, the hover effect for the `all books` button takes place even when we are not actually hovering over the button. For reference see this:
https://user-images.githubusercontent.com/81250703/141802837-81c9b6e8-401e-4018-a462-7c6234f899f7.mp4

**Desired Situation**

the hover effect must strictly take place only when we are actually hover over the `all books` button.

[2021-11-15 15:02] Mr-DG-Wick commented on #2347
How is the progress on this one? @Sayantan-s . Feel free to join the [slack](https://join.slack.com/t/layer5io/shared_invite/zt-rgbyt4kj-6PUUyqY9SfQGRSt_oZV9yQ) workspace if you need further assistance :)

[2021-11-15 17:54] warunicorn19 commented on #2350
Sounds good @ruhi09

[2021-11-15 18:17] Mr-DG-Wick commented on #2350
Thanks for taking this up! @ruhi09

[2021-11-15 18:46] #2351 closed

[2021-11-15 20:45] warunicorn19 opened #2354 "[Community] Spelling mistake in image"
**Description**
There is a spelling mistake in the below image.

**Expected Behavior**
The spelling mistake should be fixed.

**Screenshots**

<img width="1440" alt="Screenshot 2021-11-16 at 2 12 46 AM" src="https://user-images.githubusercontent.com/53532328/141851014-098d3953-6319-4f43-a022-deb6117a1434.png">

Replace with this image:
![Utkarsh Srivasta](https://user-images.githubusercontent.com/

[2021-11-16 14:43] #2354 closed

[2021-11-16 17:26] #2350 closed

[2021-11-17 03:56] leecalcote commented on #2347
The prerequisites direct the user to another page on the layer5.io site. It's not clear to me that a _blank target is necessary.

[2021-11-17 03:58] leecalcote commented on #2204
@riteshsp2000, let's unassign until a volunteer has created a mockup for the page.

[2021-11-17 04:12] leecalcote commented on #2224
@PulkitSinghDev let's close this issue out and circle back if we see the issue still persisting.

[2021-11-17 04:12] #2224 closed

[2021-11-19 12:22] kayceeDev commented on #2172
I just created a PR for this issue. #2363

[2021-11-19 16:28] leecalcote opened #2364 "[Landscape] Ensure that SPIFFE and SPIRE are displayed on the Service Mesh Landscape"
**Current State:**
SPIFFE and SPIRE's use by service meshes is cataloged in the [service mesh landscape](https://layer5.io/landscape)'s data model, but doesn't seem to be exposed on the landscape's "Functional" table.

**Desired State:**
A column dedicated to SPIFFE/SPIRE should be visible. See the landscape [data here](https://github.com/layer5io/layer5/tree/master/src/sections/Landscape).

---
*

[2021-11-19 17:04] Ciggzy1312 commented on #2364
Hey @leecalcote I might give it a try
And the Figma link isn't working at least for me. Probably I don't have the permission for that so if you can look up to it

[2021-11-19 17:07] YashKamboj commented on #2364
@Ciggzy1312 Fill this https://layer5.io/newcomer form out and join the community for the access.

[2021-11-21 19:25] Ciggzy1312 commented on #2364
Hey @leecalcote can you just lead me on if this is how the desired output should look like?
![image](https://user-images.githubusercontent.com/65884232/142775985-8b8562c9-632c-43d2-9890-72b7ec5c01cb.png)

If yes then here I am using some hardcoded values for the mesh compatibility so if you can tell where to find or how to get the values then I can alter it and make a PR

[2021-11-21 20:12] warunicorn19 opened #2369 "[Resources] Navigation in resources"
**Current Behavior**
Currently, the Resources area looks exactly like the Blog area

**Desired Situation**
We're in need of figuring out how we want to change the way visitors navigate this interface so that it isn't just a repeat of the blog collection, but a perusable catalog of topics. It's ok to include repetitive content from /events, /blogs, /news. Filters that we'll want to account for on t

[2021-11-22 00:57] leecalcote commented on #2369
The segmentation of events into categories as seen on https://layer5.io/community/events is another very simple example.

[2021-11-22 11:14] rajaditya28 commented on #2258
### Add a back to top button
Has this issue been resolved @Anita-ihuman ?
I can see that the [live site](https://layer5.io/) doesn't have a back to top button yet.
If this issue is open, may I take it up ?

[2021-11-22 23:37] #2204 closed

[2021-11-23 01:40] leecalcote commented on #2364
@Ciggzy1312, good work. Yes, your mock-up is what is essentially needed. I'll look for this data...

[2021-11-23 21:41] leecalcote commented on #2281
Hi @davidchengl74, I didn't see your note earlier. Yes, a Chinese transcription of these two talks - https://github.com/layer5io/layer5/blob/master/src/collections/events/kubecon-china-2021/index.mdx, would be great. You can append a Chinese version of the description of these talks to into this same `index.mdx` file. Please do.

Also, we will have Meshery (https://meshery.io) and Service Mesh Per

[2021-11-23 21:41] leecalcote opened #2372 "[Events] KubeCon China: Chinese Translation"
**Current Situation**

Hi @davidchengl74, I didn't see your note earlier. Yes, a Chinese transcription of these two talks - https://github.com/layer5io/layer5/blob/master/src/collections/events/kubecon-china-2021/index.mdx, would be great. You can append a Chinese version of the description of these talks to into this same `index.mdx` file. Please do.

Also, we will have Meshery (https://meshery.i

[2021-11-23 21:42] leecalcote commented on #2372
@davidchengl74, if you will comment on this issue, a community manager will see that it gets assigned to you. 👍

Thanks for jumping in to assist, David!

[2021-11-24 05:22] Ciggzy1312 commented on #2369
I might look into this and give it a try

[2021-11-24 06:40] navendu-pottekkat commented on #2372
Sure, I will write one for the project office hours.

[2021-11-24 14:02] leecalcote commented on #2372
If @davidchengl74 doesn't respond today, @Aisuko could you take this one?

[2021-11-24 17:02] warunicorn19 commented on #2369
Thank you @Ciggzy1312

[2021-11-25 01:33] Aisuko commented on #2372
Hi @leecalcote. You are welcome. I can take this one.

[2021-11-25 01:50] Aisuko commented on #2372
Please help us do a review. I know you are professional on this. @Micost

[2021-11-25 01:56] Micost commented on #2372
@Aisuko  Thanks .  let me know then .

[2021-11-25 11:58] navendu-pottekkat commented on #2372
@Aisuko Here is a description for the Meshery and SMP project office hours.

Meshery project office hours:

[code]

Service Mesh Performance project office hours:

[code]

I will confirm the speaker names as soon as possible.

[2021-11-26 01:22] Aisuko commented on #2372
Noted and thanks.

[2021-11-26 07:05] gyohuangxin commented on #2372
@Aisuko Hi, it's a good translation and I leaved some suggestions, thanks!

[2021-11-26 12:28] Aisuko commented on #2372
Thanks a lot and the useful suggestions.

[2021-11-26 13:39] leecalcote opened #2377 "Improve Site Speed: Implement suggestions from Pingdom Website Speed Test"
**Current Behavior**
The [Pingdom Website Speed Test](https://tools.pingdom.com/#5f571d6a3a800000) of layer5.io currently receives a low score. Suggestions are made in the test as to how to speed up the layer5.io site.

**Desired Situation**
Implement the suggestions and improve the site speed and speed score.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pag

[2021-11-26 16:49] MarioArriaga92 opened #2378 "[handbook] Rephrase "Community Ladder" title to "Community Journey""
**Current Behavior**

As a Layer5 Contributor, the word "Ladder" communicates a hierarchy to climb up, while  "Journey" interprets better how a Contributor experiences as described in https://layer5.io/community/newcomers

This applies for both:
1. https://layer5.io/community/handbook
![Screen Shot 2021-11-26 at 10 54 29](https://user-images.githubusercontent.com/23443575/143612265-2a5b7ee0-3ff6-4

[2021-11-26 19:48] sayantan1413 opened #2379 "[Community] Member Profile: Mario Arriaga"
**Current Behavior**

@MarioArriaga92  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @MarioArriaga92  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: MarioArriaga92
- Twitter:
- LinkedIn: mario-arriaga-29a600b5
- Link to profile picture:

A detailed explanation on how to set up a communi

[2021-11-26 19:50] sayantan1413 commented on #2379
Hey @MarioArriaga92 can you provide a **short bio** and a link to your picture (like a google drive link)?

[2021-11-26 21:56] Abusayid693 opened #2380 "[Bug] Careers page cards have unexpected text alignments on hovering"
**Description**
 The text in career cards tries to self align itself on hovering making a weird transformation.

**Expected Behavior**
The text can be either aligned left or centered and image pop-up on hovering would not effect positioning of text, thus it can avoid  weird transformation

Please check attached video

**Screenshots**

**Environment:**
- Host OS: Mac OS
- Browser: Safari

---

[Opt

[2021-11-27 03:03] Ciggzy1312 commented on #2364
Hey @leecalcote any update on the required data?

[2021-11-27 03:54] Nikhil-Ladha commented on #2364
It turns out that for some reason the SPIFFE/SPIRE data was missed out while migration.
Anyways, you can find the data in this PR #1082

[2021-11-27 06:23] Abusayid693 commented on #2379
Hey @sayantan1413 I would like to look into it , but would need short bio from Mario, you assign this to me

[2021-11-27 08:51] lpizzinidev commented on #2378
Hi 🤚 Can I work on this issue?

[2021-11-27 09:07] iambami opened #2381 "Defect: Bad links in Layer5.io/events/kubecon-china-2021"
**Description**
The links to "Solving the Service Mesh Adopter’s Dilemma" and "CNCF TAG Network and Service Mesh Working Group" in layer5.io/events/kubecon-china-2021 are broken.

**Expected Behavior**
The right link to "Solving the Service Mesh Adopter’s Dilemma" can be found [here](https://static.sched.com/hosted_files/kccncosschn21/88/TAG%20Network%20at%20KubeCon%20China%202021.pdf)

The right

[2021-11-27 09:13] sahilsuman933 commented on #2380
Hello @Abusayid693, can I work on this issue?

It might take me a few weeks to fix this issue cause this will be my first open-source contribution. So if this fix is not urgent, then can you please assign this task to me?

[2021-11-27 09:16] Mr-DG-Wick commented on #2378
Here you go @lpizzinidev :)

[2021-11-27 09:21] Mr-DG-Wick commented on #2381
Would you like to work on this? @sahilsuman933

[2021-11-27 09:43] Mr-DG-Wick commented on #2380
imo this doesn't seem like an issue. I'll have to talk to other members on this one.

[2021-11-27 10:16] sahilsuman933 commented on #2381
@Mr-DG-Wick Yeah Sure! :)

[2021-11-27 10:20] iambami commented on #2381
Please go ahead @sahilsuman933

[2021-11-27 12:40] Mr-DG-Wick commented on #2380
After discussing with @Nikhil-Ladha , We think this issue can be closed as the current animation seems fine to us.

[2021-11-27 12:40] #2380 closed

[2021-11-27 17:13] leecalcote commented on #2379
Thank you, @sayantan1413

[2021-11-27 17:19] sahilsuman933 commented on #2377
Hello, @leecalcote. I saw the website speed test score, and yeah, it is not that great.

To fix this, we can add .htaccess for caching purposes, resolving the first issue of Add expire header. But it will be great if you do it or assign this task to someone who has worked on this website. Cause if anything gets messed up, then the whole website will face issues.

Since I am new to this project, I

[2021-11-27 17:30] leecalcote commented on #2377
@sahilsuman933, we don't use Apache as a web server, but use GitHub Pages.

[2021-11-27 17:43] sahilsuman933 commented on #2377
Okay!

[2021-11-29 13:24] lpizzinidev commented on #2378
@Mr-DG-Wick Thanks! I'll be working on this 💪🏻

[2021-11-29 13:44] #2381 closed

[2021-11-30 02:19] leecalcote opened #2386 "[Navigation] "Try Meshery" button not middle-aligned vertically on window size larger than 1550px"
**Description**
The primary call to action button in the https://layer5.io site is a "Try Meshery" button in the upper righthand corner. These screenshots document its behavior at different window sizes.

Window size < 1550px:
<img width="839" alt="Screen Shot 2021-11-29 at 8 18 19 PM" src="https://user-images.githubusercontent.com/7570704/143973958-b98c2324-89ca-41ff-a0cc-ecaf3e9fc8d1.png">

Wind

[2021-11-30 02:22] #2364 closed

[2021-11-30 14:38] sahilsuman933 commented on #2386
@leecalcote, sir, can you assign this work to me and I completed the previous fix, so could you please check that too.

[2021-11-30 15:25] MarioArriaga92 commented on #2379
Thanks @sayantan1413 & @Abusayid693, here's my bio:
"Mario Arriaga is a detail-oriented Mexican Software Engineer specialized in Automated Testing, CI/CD, DevOps, Test Engineering and development of Cloud Native Distributed Microservices & Event-driven applications and services. He strives for excellence when building high-quality software solutions for the most challenging business scenarios and

[2021-11-30 17:11] #2378 closed

[2021-11-30 20:28] #2372 closed

[2021-11-30 20:31] leecalcote commented on #2369
I'm looking forward to seeing this one @Ciggzy1312 😄

[2021-11-30 20:38] #2258 closed

[2021-11-30 20:44] sahilsuman933 commented on #2307
@leecalcote Sir Can I work on this issue?

[2021-11-30 20:50] Mr-DG-Wick commented on #2307
Here you go 😄 @sahilsuman933

[2021-12-01 02:20] Ciggzy1312 commented on #2369
Yep, working on it

[2021-12-01 04:40] leecalcote opened #2389 "[News] 6 CNCF Service Mesh Tools"
We're in the news! Using the contributing instructions for [adding news](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#adding-news), please add the following article to the [Layer5 Newsroom](https://layer5.io/news).

**Article:**
- Title: 6 CNCF Service Mesh Tools
- Link: :meshery: Meshery and :smp: Service Mesh Performance highlighted as two of six CNCF service mesh tools - https

[2021-12-01 04:53] MukulKolpe commented on #2389
Hey @leecalcote can I work on this issue?

[2021-12-01 04:54] warunicorn19 commented on #2389
please go ahead @MukulKolpe

[2021-12-01 11:29] sahilsuman933 commented on #2307
@leecalcote is this how you wanted sir?
![image](https://user-images.githubusercontent.com/34382211/144226810-07553858-1bfd-4b17-8225-1ee4b5913af9.png)
![image](https://user-images.githubusercontent.com/34382211/144226815-92d08da1-a6dc-41b3-ad9c-1fb88d3abd19.png)
![image](https://user-images.githubusercontent.com/34382211/144226821-cdd4b8bd-1e4e-4dfb-b4f1-893fd70dbe41.png)

[2021-12-01 11:30] sahilsuman933 commented on #2307
@Mr-DG-Wick Should I apply these changes?

![image](https://user-images.githubusercontent.com/34382211/144226810-07553858-1bfd-4b17-8225-1ee4b5913af9.png)
![image](https://user-images.githubusercontent.com/34382211/144226815-92d08da1-a6dc-41b3-ad9c-1fb88d3abd19.png)
![image](https://user-images.githubusercontent.com/34382211/144226821-cdd4b8bd-1e4e-4dfb-b4f1-893fd70dbe41.png)

[2021-12-01 11:36] sahilsuman933 commented on #2307
Should I apply this changes? @Mr-DG-Wick  and @leecalcote
Uploading Breadcrum change.mp4…

[2021-12-01 11:39] leecalcote commented on #2389
Thank you, @MukulKolpe

[2021-12-01 14:18] #2386 closed

[2021-12-01 15:06] Ciggzy1312 commented on #2369
If this is how the sidebar should look and the filtering of resources would be done on the basis of this then we have to alter or add to the data which is being visible in the graphql playground.
Assuming it is being fetched from the backend any idea how to access the data?

[code]

[2021-12-01 15:10] leecalcote commented on #2369
@Ciggzy1312 given that this in an unfamiliar area for you and the need for us to move more quickly, let's allow @debo19 to carry this work forward with you onboard in audit-mode; with you as a reviewer, so that we can unblock progress while simultaneously ramping you up.

[2021-12-01 15:11] leecalcote commented on #2369
@debo19 please proceed as time permits.

[2021-12-01 15:20] Ciggzy1312 commented on #2369
Sure

[2021-12-02 07:17] sambhavsaxena commented on #2379
is this issue resolved yet?

[2021-12-02 07:44] Abusayid693 commented on #2379
@sambhavsaxena I am working on it probably by today

[2021-12-02 12:40] #2256 closed

[2021-12-02 13:42] MukulKolpe commented on #2389
Should I use the same image as on the thumbnail of the article?

![Service-Mesh-Pattern](https://user-images.githubusercontent.com/78664749/144432882-fa2c6e12-3be7-44fb-9ab3-6e8a9c6bb4ec.jpg)

and Date should be today's date or the date on which this article was published?
![image](https://user-images.githubusercontent.com/78664749/144433287-86ebd39d-386d-4d4c-8b5a-0cf76cb99e0e.png)

[2021-12-02 13:45] leecalcote commented on #2389
Great questions:

- yes, the same image, please.
- use the date of the publication, pretty please.

[2021-12-02 16:42] Abusayid693 opened #2395 "[Enhancement] Open Source and Community First contents cutting of from edges"
**Current Behavior**

The contents (images) on **Open Source and Community First** are cutting-off from edges across most devices, which means its not visible for many users.

![Screenshot 2021-12-02 at 9 52 05 PM](https://user-images.githubusercontent.com/35341198/144462928-7b6ec162-4971-4761-bfa4-fd8d5cadd008.png)

![Screenshot 2021-12-02 at 9 52 21 PM](https://user-images.githubusercontent.com/

[2021-12-02 16:50] Abusayid693 commented on #2395
Closing this issue since it an intentional design

[2021-12-02 16:50] #2395 closed

[2021-12-02 20:59] #2389 closed

[2021-12-03 16:34] Anita-ihuman opened #2396 "upload the KubeCon China slides"
**Current Behavior**
The recently created [slides for KubeCon China](https://docs.google.com/presentation/d/1vI2FSL4nc37HKpxbsbwVoMXixaTUAIpJuf2mB7LOl-0/edit#slide=id.geac03adfe0_0_398) does not exist on the layer events page

**Desired Behavior**
upload this slide on the [layer5 site](https://layer5.io/community/events)

---
**Screenshots / Mockups**

![Screenshot 2021-12-03 at 17 32 21](https://

[2021-12-03 18:42] leecalcote commented on #2396
Upload should be in PDF form.

[2021-12-03 18:42] #2379 closed

[2021-12-04 10:02] warunicorn19 opened #2397 "[Community] Add Community badge for Debopriya, Deepak and Bami"
**Description**
@debo19 @Mr-DG-Wick and @iambami have recently been acknowledged as community managers.

**Expected Behavior**
Add community badges to their member profiles here(https://layer5.io/community/members)

---

[Optional] **Additional Context**

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](htt

[2021-12-04 10:15] Aju100 commented on #2396
Hi @leecalcote @Anita-ihuman, I am new here and I would love to be part of it. Can you please assign to me ??

[2021-12-04 10:29] Anita-ihuman commented on #2396
Sure @Aju100

[2021-12-04 11:41] Prakhar-Agarwal-byte commented on #2397
I would like to work on this issue. Please assign this to me

[2021-12-04 11:43] vedant-kakde commented on #2397
Thanks @Prakhar-Agarwal-byte . Go ahead 🚀

[2021-12-04 15:28] Prakhar-Agarwal-byte commented on #2397
@vedant-kakde The member profile for @Mr-DG-Wick  and @iambami is missing

[2021-12-04 15:37] warunicorn19 commented on #2397
Hey @Prakhar-Agarwal-byte you're absolutely right, I completely forgot about that. Could you add profiles for them as well?? I'll open up issues for their profiles.

[2021-12-04 15:43] warunicorn19 opened #2400 "[Community] Member Profile: Deepak Gupta"
**Current Behavior**

@Mr-DG-Wick  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @Mr-DG-Wick as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @Mr-DG-Wick
- Twitter: Mr_dg_wick
- LinkedIn: https://www.linkedin.com/in/mrdgwick/
- Link to profile picture:

A detailed explanation on how to se

[2021-12-04 15:44] Prakhar-Agarwal-byte commented on #2400
I will create a profile for @Mr-DG-Wick

[2021-12-04 15:48] warunicorn19 commented on #2400
Hey @Mr-DG-Wick could you please provide a small bio, location and a picture of yourself. 😃 Congrats!!

[2021-12-04 15:54] warunicorn19 opened #2401 "[Community] Member Profile: Atinuke Oluwabamikemi Kayode"
**Current Behavior**

@iambami  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @iambami  as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @iambami
- Twitter: oluwabamikemi
- LinkedIn: https://www.linkedin.com/in/atinuke-kayode-5b838b1b7/
- Link to profile picture:

A detailed explanation o

[2021-12-04 15:55] Prakhar-Agarwal-byte commented on #2401
I will create a profile for @iambami

[2021-12-04 15:55] warunicorn19 commented on #2401
@iambami could you please provide a small bio, location, and a picture of yourself.😃 Congratulations!

[2021-12-04 15:57] warunicorn19 commented on #2401
Thank you @Prakhar-Agarwal-byte.

[2021-12-04 20:45] Mr-DG-Wick commented on #2400
Thanks a ton @Aditya Chatterjee 😄
Thank you for taking this up @Prakhar Agarwal 😄
Here's all you need Prakhar:

**Bio**: Passionate about creative technologies. An organized individual that desires to learn and develop deep understanding of people and tech. Always eager to execute on the array of ideas held together by my sticky notes posted on my wall.

**Location**: Goa, India
**Image** :
![Dev_

[2021-12-05 02:21] Aju100 commented on #2163
Hey @warunicorn19 @adithyaakrishna, can you please check out the https://github.com/18F/C2/issues/439 seems like we can reduce unwanted .pack files.

[2021-12-05 10:54] #2396 closed

[2021-12-06 10:38] navendu-pottekkat opened #2402 "Add self referencing Canonical URLs to the website"
**Current Behavior**

Canonical URLs are used by search engines to identify duplicative content.

We could have unintentional duplicative content due to using "tags" and "categories".

We could also be duplicating content when we create the `/resources` page.

Using Canonical URLs is also recommended by Google.

**Desired Situation**

Add self-referencing canonical URL tags to the page headers.

S

[2021-12-06 17:05] Mr-DG-Wick opened #2403 "[Chore] Create a gh workflow to notify about beginner-friendly issue on slack."
**Current Behavior**

We currently don't have an _automation_ that sends out a message in slack's `#newcomers` channel about beginner friendly issues when one (beginner-friendly issue) is created.

**Desired Situation**

A `gh` workflow needs to be created that posts a message in the `#newcomers` channel if any new issue is marked with `newcomers-only` or `good-first-issue`

**Contributor Resource

[2021-12-06 19:33] Mr-DG-Wick opened #2404 "[Community] Member Profile: Manav Kapoor"
**Current Behavior**

@manav1403  has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @manav1403 as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: @manav1403
- LinkedIn: https://www.linkedin.com/in/manav-kapoor-14a14018a
- Link to profile picture:

A detailed explanation on how to set up a commu

[2021-12-06 19:33] Mr-DG-Wick commented on #2404
@manav1403 could you please provide a small bio, location, and a picture of yourself.😃 Congratulations!

[2021-12-06 19:34] leecalcote commented on #2404
Whoo-hoo, @manav1403!

[2021-12-06 19:36] leecalcote commented on #2404
@Mr-DG-Wick see line 349 in Community Members sheet.

[2021-12-06 19:39] leecalcote commented on #2403
@theBeginner86 you might be interested in this. Acceptance criteria for completion of this issue is: definition of a centralized workflow and its subsequent reuse across all the repos.

[2021-12-07 02:36] Deepansharora27 commented on #2404
I would like to work on this as well
@leecalcote @Mr-DG-Wick

[2021-12-07 04:09] vedant-kakde commented on #2404
Thanks @Deepansharora27 . Go ahead 🚀

[2021-12-07 04:11] Mr-DG-Wick commented on #2404
Thanks @Deepansharora27 😄

[2021-12-07 04:11] Mr-DG-Wick commented on #2404
@manav1403 could you please provide a small bio, location, and a picture of yourself.😃 Congratulations!

[2021-12-07 04:47] theBeginner86 commented on #2403
@Mr-DG-Wick please assign me this issue. I'd like to give it a shot.

[2021-12-07 04:49] Mr-DG-Wick commented on #2403
Here you go @theBeginner86 🚀 . Thank you!

[2021-12-07 08:21] manav1403 commented on #2404
Thanks @Mr-DG-Wick here are the details

Location: Jodhpur. Rajasthan India
Bio: I love technology, so my work is nothing but my love. #lovefortechnology
Picture:
![my_image](https://user-images.githubusercontent.com/51405571/144991571-c5fcc750-b6f4-41d5-85d1-97bae68fd41c.jpg)

[2021-12-08 19:08] #2400 closed

[2021-12-09 22:49] #2403 closed

[2021-12-09 22:50] #2404 closed

[2021-12-10 06:45] warunicorn19 opened #2408 "Missing whitespace"
**Description**
There's a missing whitespace between "Map" and "the" on https://layer5.io/community.
<img width="1176" alt="Screenshot 2021-12-10 at 12 13 52 PM" src="https://user-images.githubusercontent.com/53532328/145529654-72f071a1-cd9a-415c-9b1b-71c7b6da2f84.png">

**Expected Behavior**
Add space.

**Screenshots**

**Environment:**
- Host OS:
- Browser:

---

[Optional] **Additional Context*

[2021-12-10 10:39] warunicorn19 opened #2410 "TEST"
**Description**
TEST

**Expected Behavior**
TEST

**Screenshots**

**Environment:**
- Host OS:
- Browser:

---

[Optional] **Additional Context**

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/l

[2021-12-10 10:41] #2410 closed

[2021-12-10 10:47] warunicorn19 opened #2412 "TEST"
**Description**

**Expected Behavior**

**Screenshots**

**Environment:**
- Host OS:
- Browser:

---

[Optional] **Additional Context**

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/layer5/blob

[2021-12-10 10:48] #2412 closed

[2021-12-10 13:22] Abhijay007 commented on #2408
can I work on this ? @warunicorn19  can you please assign me this issue

[2021-12-10 13:29] Mr-DG-Wick commented on #2408
alright @Abhijay007 👍🏽

[2021-12-10 15:42] Abhijay007 commented on #2408
@Mr-DG-Wick  for assigning I will soon open a PR for this

[2021-12-11 09:18] #2408 closed

[2021-12-12 05:21] Abhijay007 commented on #2397
@warunicorn19 is resolved right? or do we need that icon that depicts a community in the pictures? just like we did it for meshmates?

[2021-12-12 05:39] Abhijay007 commented on #1894
@leecalcote @warunicorn19 I want to work on this issue !! , can you please assign me this

[2021-12-12 07:15] Abhijay007 opened #2414 "Added dedicated badges to the profiles"
**Current Behavior**
Currently, on the community manager page we only have badges and a dedicated page for meshmates members.

**Desired Behavior**
iI we add dedicated badges (just like we did for meshmates( circularar ring depicting meshmate members) ) to every user profile then it looks good and we can also make dedicated page for other members profile such as Meshery, Nighthawk, maintainers, an

[2021-12-12 14:21] debo19 commented on #2414
@Abhijay007 This behavior is not required at the moment. The intention is to display only the MeshMates badge on the members page. Also, the badges on each individual profile are already linked to the respective pages.

[2021-12-12 14:58] debo19 commented on #2414
Thank you for this, but let's close this for now.

[2021-12-12 14:58] #2414 closed

[2021-12-13 06:58] #2297 closed

[2021-12-13 09:02] iambami commented on #2401
Hi🤩🤩
I will do that now.

[2021-12-13 15:46] debo19 opened #2416 "Dropdown enhancement on programs page"
**Current Behavior**
![Films   TV 13-12-2021 19_50_07 (2)](https://user-images.githubusercontent.com/85789734/145829225-8481f82c-fdd7-425d-b090-69e9a30ad6bf.png)

Most programs pages do not have any record of the previous year's events. This causes the dropdown on each page to only display one item. The purpose of the dropdown isn't quite clear.

**Desired Behavior**
- The dropdown should only be

[2021-12-13 15:55] Ciggzy1312 commented on #2416
Yeah I will give it a try

[2021-12-14 11:00] #2337 closed

[2021-12-16 10:19] #2401 closed

[2021-12-16 17:32] leecalcote opened #2418 "Add Meshery Adapter for Cilium Service Mesh as an Alpha adapter"
**Current Behavior**

**Desired Behavior**
- [ ] Add to the list on https://layer5.io/service-mesh-management/meshery

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instructions](https://github.com/layer5io/layer5/blob/master/CONTRIBUTI

[2021-12-16 17:34] Abhijay007 commented on #2418
I want to work on this issue, please assign this issue to me, thanks

[2021-12-16 17:40] Abhijay007 commented on #2418
Thanks @Sayantan-s :)

[2021-12-16 17:59] Abhijay007 commented on #2418
@leecalcote sorry but I am bit confused, can you please explain it once that which list you are referring to on : https://layer5.io/service-mesh-management/meshery, as I am unable to see any specific list on this page, maybe I am taking it wrong but are you referring to the adapters list on https://docs.meshery.io/concepts/architecture/adapters  ?

[2021-12-16 18:35] leecalcote opened #2419 "Add Cilium logo to multi-mesh SVG"
**Current Behavior**
The animated SVG on https://layer5.io/service-mesh-management/meshery/operating-service-meshes is missing the Cilium logo.

**Desired Behavior**
The Cilium logo should be one of the many service mesh logos included in this animation.

**Screenshots / Mockups**

<img width="537" alt="Screen Shot 2021-12-16 at 12 34 09 PM" src="https://user-images.githubusercontent.com/7570704/1

[2021-12-16 18:42] Abhijay007 commented on #2419
I am familiar with SVGs animations and know how to manipulate them, can I open a PR for this?

[2021-12-16 19:02] warunicorn19 commented on #2419
Please go ahead @Abhijay007, This is actually not an SVG manipulation actually, you'd have to mention the size of the line and add an SVG for cilium, that should do the trick.

[2021-12-16 19:08] Abhijay007 commented on #2419
ya got it :)

[2021-12-16 19:53] YashKamboj commented on #2418
@Abhijay007 I think he is referring to the list below Lifecycle , i can't find any other list on the page.

[2021-12-16 20:10] Abhijay007 commented on #2418
Ya, I also think that but then how can I add Cilium Service Mesh as an "Alpha" adapter, one way of doing this is that I can insert text in this format: cilium service mesh ( Alpha) means by specifying it as an alpha in brackets but then is looks bit differ from others as we haven't specified any of those as "stable" or "beta" In that list.

[2021-12-16 20:36] leecalcote commented on #2418
Gents, you're right: I shouldn't have included "Alpha" in the issue's description. There isn't a distinguishment between stable, beta, alpha here (only on the other web properties), so please ignore the Alpha portion of this request.

Regarding where to mak
<img width="404" alt="Screen Shot 2021-12-16 at 2 34 44 PM" src="https://user-images.githubusercontent.com/7570704/146445378-0a5213ee-5fb9-438

[2021-12-16 20:37] leecalcote commented on #2418
This is closer, @Abhijay007, but in this case you have put three sentences into a single, run-on sentence.

[2021-12-16 20:49] Abhijay007 commented on #2418
Thanks again, I will keep that in mind !!

[2021-12-16 20:51] Abhijay007 commented on #2419
@leecalcote  @warunicorn19  is this fine, do I need to edit positioning?

https://user-images.githubusercontent.com/64387054/146447059-c1825bf3-61f6-4c71-9dda-a2f58819102d.mp4

can I open a PR for this if this looks fine?

[2021-12-16 20:54] vinayaksh42 commented on #1001
[Super late reply] - We can make a small section for the button on the main landing page @leecalcote

[2021-12-16 21:49] warunicorn19 commented on #2419
Looks okay to me, @leecalcote ??

[2021-12-16 21:59] leecalcote commented on #2397
Thanks for asking. I think @Prakhar-Agarwal-byte knocked this one out.

[2021-12-16 21:59] #2397 closed

[2021-12-16 22:14] kayceeDev commented on #2377
Can I go ahead with optimizing the images for the site?? Using Gatsby to convert it to webp as it default on supported browsers and a fall back to jpg on unsupported ones.

[2021-12-16 22:18] #2418 closed

[2021-12-16 22:19] leecalcote commented on #2377
@kayceeDev, yes, that sounds great.

[2021-12-17 03:20] #2347 closed

[2021-12-17 11:41] navendu-pottekkat opened #2421 "[Event] Measuring Service Mesh Performance 101"
Please add the following event to layer5.io/events.

**Event:**
- Event Title: Measuring Service Mesh Performance 101
- Event Link: https://sched.co/siKF
- Talk Description: See the event link
- Speaker: [Navendu Pottekkat](https://layer5.io/community/members/navendu-pottekkat)
---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under th

[2021-12-17 13:54] sudo-NithishKarthik opened #2422 "[Event] Journey Into the World of Service Meshes and Meshery"
Please add the following event to layer5.io/events.

Event:

    Event Title: Journey Into the World of Service Meshes and Meshery
    Event Link: sched.co/siEs
    Talk Description: See the event link
    Speakers: Nithish Karthik, Aditya Krishna Sharma

Contributor Resources

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the master branch.

    See contr

[2021-12-17 13:57] Prakhar-Agarwal-byte commented on #2422
Can I do this?

[2021-12-17 14:01] Mr-DG-Wick commented on #2422
sure @Prakhar-Agarwal-byte 😄

[2021-12-17 15:34] Abhijay007 commented on #2421
CI is new for me, but I can give it a try, can you please assign this issue to me

[2021-12-17 15:34] Abhijay007 commented on #2421
I want to work on this issue, can you please assign this to me :)

[2021-12-17 20:34] Abhijay007 commented on #2419
@leecalcote any update on this?

[2021-12-18 01:36] leecalcote opened #2423 "[Blog] How to show your Layer5 pride with your iTerm terminal"
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member:

**Desired Title:** How to show your Layer5 pride with your iTerm terminal
**Topic:** Using custom terminal settings to include project pride.
**Core points to convey in the post:**
1. What image format works best.

[2021-12-18 14:17] leecalcote commented on #2419
Not too shabby. The overall symmetry feels a little off in so much as the uniformity of spacing and positioning between elements. If you're able to shift them around a little without much effort, it would be worth it.

[2021-12-18 14:42] Abhijay007 commented on #2419
ok got it, will do that :)

[2021-12-18 15:32] #2300 closed

[2021-12-18 22:21] Abhijay007 commented on #2419
@leecalcote , @warunicorn19  is it fine now ??

![image](https://user-images.githubusercontent.com/64387054/146657007-431740a2-7d17-4736-b35c-0d6dfec75503.png)

[2021-12-19 08:12] Abhijay007 commented on #1894
![image](https://user-images.githubusercontent.com/64387054/146668141-1779af63-abc5-4b6c-8465-4140ae229d58.png)

it is resolved?  @warunicorn19 can you please tell me what do you mean by  "staging-discuss", is it a branch or something?

[2021-12-19 15:32] leecalcote commented on #1894
@Abhijay007 the staging server has been turned down. Please make your attempt at a fix separately. Here is where you can find the source for the discuss footer: https://github.com/layer5io/layer5/tree/master/src/assets/discuss

[2021-12-19 16:17] Abhijay007 commented on #1894
Ok, thanks for sharing resources I will try my best to fix this !!

[2021-12-19 18:38] josephmidura commented on #2072
@Mr-DG-Wick @warunicorn19 Unfortunately I started a new job recently and don't now to work on this issue if @bariqhibat abandoned it. This issue may need to be assigned to someone else.

[2021-12-20 08:28] Mr-DG-Wick commented on #2416
Hi @Ciggzy1312 would you like to discuss about this issue in today's website meeting? Just so that we can help you speed up stuff 😄

[2021-12-20 08:46] Ciggzy1312 commented on #2416
@Mr-DG-Wick sure

[2021-12-20 22:04] #2419 closed

[2021-12-21 10:59] bariqhibat commented on #2072
I'm pretty sure last time I talked with @warunicorn19, the document is ready to be published. Should we push this forward now?

[2021-12-23 18:13] abrahamalen opened #2429 "UI issues in the website"
**Current Behavior**
The **drop shadow** of the **navbar** and other **splash/pop-up screens** are high and not aesthetic for a professional website.

**Desired Behavior**
Drop shadows must be **light** and are used to differentiate the layers when a page overlaps the other. Points given for the drop-shadow should be reduced for more eye-pleasing screens.

---
**Screenshots / Mockups**
![Screensho

[2021-12-24 20:53] msaini0r commented on #2429
CC @abrahamalen  @leecalcote I would like to work on this issue.

[2021-12-25 21:46] Abhijay007 opened #2432 "[Bug] : Items/companies defined in the partnership section is not get redirected to the respected ID's"
**Description**

The items/companies mentioned in the partnership section on the main page is not get redirected to their respected IDs

**Expected Behavior**

when the user clicks on a particular company in the partnership section then the user gets redirected to the respected companies section on the partner page means with which that id is associated to.

**Screenshots/video**

https://user-ima

[2021-12-25 21:47] Abhijay007 commented on #2432
CC @leecalcote I want to work on this  issue , please assign this issue to me

[2021-12-25 22:01] warunicorn19 commented on #2432
Sure @Abhijay007 please go ahead, though I'm not sure how successful you'd be though, this is an issue with anchor-based navigation. Thank you for taking a look.

[2021-12-26 14:42] abrahamalen commented on #2429
Connect with the maintainers and get it assigned

[2021-12-26 20:05] YashKamboj commented on #2432
Hey @Abhijay007 if you any help with this, i can help , i know how to deal with this issue.

[2021-12-26 20:13] Abhijay007 commented on #2432
Ya sure @YashKamboj, thanks for asking we can schedule a call for this !!

[2021-12-27 00:17] warunicorn19 commented on #2429
Let's close this one to avoid confusion, I dont think this is an issue we need to look into at the moment. Thank you @abrahamalen for bringing this up, we might have a conversation about this in the future.

[2021-12-27 00:17] #2429 closed

[2021-12-27 00:22] leecalcote commented on #2429
The site's mega menu is currently implemented as designed. Thanks for raising this suggestion, though, @abrahamalen. While the mega menu isn't currently one of them, there are any number of other aspects of the site design that could use improvement.

[2021-12-28 19:38] warunicorn19 opened #2435 "[Handbook] Icons not responsive"
**Description**
The icons on https://layer5.io/community/handbook/repository-overview are not responsive on different screensizes

**Expected Behavior**
They should be responsive.

**Screenshots**

https://user-images.githubusercontent.com/53532328/147601203-ac215e88-a5b3-4794-9855-1479baf30749.mov

**Environment:**
- Host OS: Mac
- Browser: Chrome

---

[Optional] **Additional Context**

---
**Co

[2021-12-28 22:30] rodneycoyer commented on #2435
Hello! I'd like to work on this task. Can I have this assignment please?

[2021-12-29 10:17] Vidyaa123 commented on #2435
Hi, Can I work on this issue? Thanks.

[2021-12-29 11:26] Mr-DG-Wick commented on #2435
Hey @Vidyaa123 👋🏽, good to see you want to contribute here but this issue has already been assigned to @rodneycoyer .
Please look into other open issues and we'll assign you to them. Thank you!

[2021-12-29 11:40] asubedy opened #2436 "[WEBSITE] [LABS] Platform name is wrong on install instructions of adapters"
**Description**
The install instructions for the adapters on the lab seem to be wrong. Since we are using Kubernetes, the platform on many install instructions is docker. This causes the problem of correctly opening meshery.

**Expected Behavior**
The platform name should be Kubernetes so that the instructions work as desired.

**Screenshots**
![image](https://user-images.githubusercontent.com/511

[2021-12-29 12:09] asubedy opened #2437 "[WEBSITE] [LABS] Adapters name is not matching on various instructions"
**Description**
There are instances where a different adapter name is used in between the instruction of a different adapter. This might confuse people and further create problems to complete the lab.  Attached is an example of what I am talking about. Need to change this mismatch on all the adapters that have this mistake.

**Expected Behavior**
The adapter name should be set correctly on the ins

[2021-12-29 12:23] leecalcote commented on #2436
Thanks, @asubedy 👍

[2021-12-29 16:24] leecalcote opened #2438 "[Handbook] Margin needed for intra-page table of contents hyperlinks"
**Description**

https://user-images.githubusercontent.com/7570704/147682890-e9b7bceb-fb32-412e-9a21-75d1f4b98f9d.mov

**Expected Behavior**
A `top-margin` here might do the trick.

---
**Contributor Resources**

The layer5.io website uses Gatsby, React, and GitHub Pages. Site content is found under the [`master` branch](https://github.com/layer5io/layer5/tree/master).
- See [contributing instruct

[2021-12-29 16:24] leecalcote commented on #2438
@YashKamboj something that you might look into... ?

[2021-12-30 10:35] YashKamboj commented on #2438
@leecalcote adding margin is not helping , the same issue is also there in docs.meshery and the partners page, i tried a lot finding the solution to the issue before, but unable.

[2021-12-30 14:17] leecalcote commented on #2438
Examine meshery.io. If memory serves, it has a solution. There are a number of ways to implement this behavior.

[2021-12-30 14:43] YashKamboj commented on #2438
@leecalcote It is in docs.meshery.io but it also have the same issue

[2021-12-30 18:58] #2369 closed

[2021-12-30 18:59] leecalcote opened #2439 "[Resources] Mobile-friendly: hide the filters menu or keep it completely collapsed"
Regarding mobile-friendly view for https://layer5.io/resources, the following feedback was given by @warunicorn19:

_Originally posted by @warunicorn19 in https://github.com/layer5io/layer5/issues/2430#issuecomment-1003046908_

[2021-12-30 19:12] Ciggzy1312 commented on #2439
Hey @leecalcote I can look into this

[2021-12-30 19:15] leecalcote commented on #2439
Thank you, @Ciggzy1312!

[2021-12-31 14:42] leecalcote opened #2440 "[Resources] Provide zero count for filter types with no resource entries"
### Current Behavior

The category filters on layer5.io/resources that have no resource entries are missing a resource count "(0)".

<img width="360" alt="Screen Shot 2021-12-31 at 8 44 40 AM" src="https://user-images.githubusercontent.com/7570704/147828945-87206c42-e2cc-4acc-95d3-dc4ca86aa48b.png">

### Desired behavior
Provide zero count for filter types with no resource entries.

### Context

@

[2021-12-31 14:47] leecalcote commented on #2440
Thanks for picking this up, @14Richa. The issue description has been updated with a little more info.

[2021-12-31 18:28] YashKamboj commented on #2438
@leecalcote I found a way but a little weird, adding padding and negative margin  😅(its working)

[2021-12-31 22:14] leecalcote commented on #2438
Great. yes, that makes sense.

[2022-01-01 08:58] #2438 closed

[2022-01-01 10:09] Abhijay007 commented on #2432
@warunicorn19 I am done with all other routing but I want to ask one thing that what to do with "Nitk" and "Rackspace" as it is defined on the "home page" but doesn't have respected sections on the "Partners page"?

[2022-01-01 20:10] leecalcote commented on #2432
@Abhijay007, let's skip specific anchors for those two for now.

[2022-01-01 20:15] Abhijay007 commented on #2432
ok, thanks for confirmation @leecalcote, I will soon open a PR

[2022-01-01 20:16] leecalcote commented on #2432
You're just using `a` tag anchors, right? Nothing more complex, please.

[2022-01-01 20:16] Abhijay007 commented on #2432
ya just an anchor tag around specific Partners names!!

[2022-01-01 20:33] leecalcote commented on #2435
@Mr-DG-Wick always good to get people pointed either to another similar, specific issue or if one is isn't readily handy, then pointed to the general, cross-org search - https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+org%3Ameshery+org%3Aservice-mesh-performance+org%3Aservice-mesh-patterns+label%3A%22help+wanted%22+

[2022-01-01 21:17] leecalcote opened #2443 "[Community] Member Profile: Aaditya Narayan Subedy"
**Current Behavior**

@asubedy has been a consistent contributor and community member.

**Desired Situation**
Let's recognize @asubedy as a contributor and community member by creating a profile on https://layer5.io/community/members.

- GitHub: asubedy
- Twitter: frexpe12
- LinkedIn: asubedy
- Link to profile picture: https://media-exp1.licdn.com/dms/image/C5603AQFeFuqjWnCLnA/profile-displayphoto

[2022-01-01 21:47] leecalcote commented on #2072
@josephmidura I completely understand. Thank you for this note. 👍 We're here when routine settles into your new role.

[2022-01-01 21:47] leecalcote commented on #2072
Yes, please.

[2022-01-02 00:21] MukulKolpe commented on #2443
Congratulations @asubedy🎉.....

@leecalcote can I work on this issue?

[2022-01-02 00:36] warunicorn19 commented on #2443
Sure thing @MukulKolpe

[2022-01-02 06:21] MukulKolpe commented on #2443
Hey @asubedy, can you please provide a short bio and your location...

[2022-01-02 07:32] asubedy commented on #2443
Hi @MukulKolpe, thank you. Here are the details you require

Bio: I am a Computer Engineering student, currently studying at Delhi Technological University. Learning about new technologies fascinates me. I try to give my best at whatever I have been assigned to do. Contributing to the Layer5 organization has been an amazing experience. I am not only learning so much here but also getting to intera

[2022-01-02 07:43] #2432 closed

[2022-01-02 14:06] #2443 closed

[2022-01-03 14:01] Nikhil-Ladha commented on #2416
The issue doesn't seem to be valid.
The dropdown was never intended to be a global navigator, we have the cards on the layer5.io/programs page for that.
And, the dropdown on each program does list all the prior years in the archive. If it's showing only 1 item that means the data is not there, and not that it's an issue. For eg: if you check the GSoC program it lists all the 3 years in the dropdow

[2022-01-03 14:14] debo19 commented on #2416
@Nikhil-Ladha We actually discussed this in one of the calls. Since the previous year data is not present for any other program other than gsoc, the presence of the drop-down wasn't very clear. That is why it was suggested to probably include all programs and their respective years if any.

[2022-01-03 14:15] Nikhil-Ladha commented on #2402
The solution that we need https://markshust.com/2019/04/27/creating-canonical-urls-specific-pages-gatsby/.

[2022-01-03 16:49] 14Richa commented on #2440
Hey, @leecalcote  I have added resource count "(0)". Attaching the screenshot. Do we need to do the same for nighthawk and others as well?

![Screenshot from 2022-01-03 22-18-30](https://user-images.githubusercontent.com/41283476/147956952-957332a8-a091-41bb-9e69-41e5ff16fb8f.png)

[2022-01-03 16:59] debo19 commented on #2440
@14Richa yes, we'll need it for all the empty filters.

[2022-01-03 16:59] warunicorn19 commented on #2440
Yes @14Richa let's have it for all filters that dont have any resources.

[2022-01-03 17:23] #2402 closed

[2022-01-03 19:46] #2440 closed

[2022-01-03 22:52] #2422 closed

[2022-01-04 16:42] josephmidura commented on #2072
@leecalcote I'm looking forward to getting involved with Layer5 again soon.

[2022-01-06 09:22] unnati914 opened #2455 "[Blog]"
Contributors and community members are encouraged to post on https://layer5.io/blog. A new blog post fitting the following description is requested to be written by a community member:

**Desired Title:**
**Topic:**  How I got to know about meshery
**Core points to convey in the post:**
1.How I got to know about meshery
2. On which technologies does meshery work
3. Why one should contribute to mes

[2022-01-06 10:42] Vidyaa123 commented on #2423
Hi @leecalcote, I am interested in taking a stab at this... Can you please give me more info? Thanks

[2022-01-06 13:02] leecalcote commented on #2423
The description is pretty complete and has about as much info as I can provide without writing it.

Here is a start to the post in this branch - https://github.com/layer5io/layer5/tree/CU-1vjd6x1/Layer5-iTerm2-blog-post. You can checkout this branch and continue from there.

[2022-01-09 17:13] #2435 closed

[2022-01-10 08:30] unnati914 commented on #2423
could i help @Vidyaa123 with this? @leecalcote

[2022-01-10 15:31] Abhijay007 commented on #2298
@leecalcote can we try something like this for the interactive handbook component on [this](https://layer5.io/community/newcomers) page

[2022-01-10 22:26] leecalcote commented on #2423
That would be great, yes, @unnati914.

[2022-01-11 03:43] leecalcote commented on #2455
Quick thoughts on title proposals for your consideration:

- "How I Discovered Meshery (and the technologies within)"
- "How I Discovered Layer5 (and why you should, too)"
- "How I Stumbled into Layer5 (and found a wonderful mesh)"

[2022-01-11 05:56] Chadha93 opened #2475 "[UI] Add Docs button for Meshery"
**Current Behavior**
Currently, there is no docs button under the service-mesh-management/meshery for users/developers to refer directly form Layer5 website.

**Desired Behavior**
Adding a button would ease the navigation and engagement from Layer5 website to Mesehry usage(through DOCS) for developers/users. An ideal place to add a button to docs would be
![Screenshot from 2022-01-11 11-19-37](htt

[2022-01-11 05:56] Chadha93 commented on #2475
@warunicorn19 @leecalcote thoughts?

[2022-01-11 06:45] unnati914 commented on #2423
thank you so much!

[2022-01-11 06:46] unnati914 commented on #2455
nice, will start working on it 🎉

[2022-01-11 07:50] leecalcote commented on #2475
Thank you, but no thank you. 🙂 This page does need updated, but its first job is to sell people on the features and value of Meshery. The docs don't quite do that. Having a link to the docs for more installation instructions can be a good thing. That link should not be prominent, though.

[2022-01-11 08:00] Chadha93 commented on #2475
Gotcha! make much sense. Thanks for the clarification.  🙌

[2022-01-11 09:52] Vidyaa123 commented on #2423
That will be great. Cool thanks @unnati914, @leecalcote

[2022-01-11 10:35] StarTrooper08 commented on #2455
Oh nice, we can contribute as a Content writer too.
I would like to write one blog regarding Layer5, I will need time to explore Layer5.