[2020-08-21 17:18] #665 closed, assigned to Anita-ihuman

[2020-08-21 18:27] JubayerJoy opened #667 "Newsletter Broke in Layer5"
**Description**

-  The newsletter isn't showing up correctly.

**Expected Behavior**

 - Newsletter should correctly show up, maintaining proper spacing among elements.

**Screenshots**

<img src = "https://imgur.com/0R7MEvp.png">

**Enviroment:**
 - OS: Windows 10
 - Browser:  Chrome
 - Version:  84.0.4147.125 (Official Build) (64-bit)
 - Device: Laptop

---
**Contributor Resources**
The `layer5

[2020-08-22 11:40] #667 closed, assigned to nobody

[2020-08-22 16:21] Jashpatel1 opened #669 "[NG] Create Project Grid"
**Description**
Create a grid view for all the projects taking ideas from blog grid. This issue pertains to layer5-ng.

---

**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses

[2020-08-23 17:39] was-coder commented on #650
Please i need clarity on this issue. I thought i am able to implement it but that has not been the case

[2020-08-23 17:50] PluckyPrecious commented on #650
In what aspect do you need clarification?

[2020-08-23 17:57] was-coder commented on #650
I am to add comma as a count separator but when I fork and cloned the
project I was lost on where to even start my coding from, where to include
it

On Sun, Aug 23, 2020, 18:50 Kelechi Precious Nwachukwu <
notifications@github.com> wrote:

[2020-08-23 18:13] PluckyPrecious commented on #650
You’re to work on the [Meshery Section](https://layer5.io/meshery), you can add the code [here](https://github.com/layer5io/layer5/blob/master/_includes/meshery.html)  _includes/Meshery.html . Hope we good to go?😊

[2020-08-23 18:47] was-coder commented on #650
Thanks so much I will check this out

On Sun, Aug 23, 2020, 19:13 Kelechi Precious Nwachukwu <
notifications@github.com> wrote:

[2020-08-23 20:10] PluckyPrecious commented on #650
👍🏽

[2020-08-24 13:54] Tanuj22 opened #672 "[NG] Change from pink to layer5 brand colours"
**Desired Situation**
The layer5ng site is having pink colour in most of its pages. It should be changed to layer5 brand colours.

I think changes in most places would take place if the theme colours in [this folder](https://github.com/layer5io/layer5/tree/layer5-ng/src/theme) are changed.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-g

[2020-08-24 14:42] Kennygrace commented on #578
I'll like to take this up, if it's still open @leecalcote

[2020-08-24 14:54] Kennygrace commented on #578
Okay then

[2020-08-24 15:39] Tanuj22 commented on #481
Closing as all plugins have been identified

[2020-08-24 15:39] #481 closed

[2020-08-24 18:17] #148 closed

[2020-08-25 02:01] leecalcote commented on #672
Currently, the primary action color of layer5.io is a dark yellow (#EBC017), which can begin to be integrated into the layer5-ng site.

[2020-08-25 03:31] Nikhil-Ladha commented on #672
Like for the moment, the arrows that we have can get the yellow color instead of orange to begin with. And with time it can be used in other areas as well

[2020-08-25 08:18] chandrashritii opened #673 "[NG] Mega Menus"
**Description**

Populate the Mega Menu structure

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses Jekyll and GitHub Pages. Site content is found under the [`master` br

[2020-08-25 10:41] PluckyPrecious opened #674 "[Landscape] Update Service Mesh Timeline Projects"
**Current State:**
The service mesh timeline (project announcement) section is missing OSM, KUMA, etc.

**Desired State:**
Update by adding the missing projects to the timeline.

**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mesh-landscape)Site content is found under the [`master` branch](ht

[2020-08-25 11:46] leecalcote commented on #674
Thank you, @PluckyPrecious. These are much needed. Microsoft committed to PRing for OSM. Kong's CTO recently refreshed Kuma's details (two weeks ago) just before this timeline was released.

@Nikhil-Ladha I didn't realize that our last PR here actually published the timeline. It's good for us to move forward. We need to circle back to fix a few items on the timeline.
- Less whitespace between mesh

[2020-08-25 12:20] Nikhil-Ladha commented on #674
Yeah, @leecalcote i know that. I even thought of providing a fix for that in this weekend but was facing some issue with my laptop and was not able to do so. Will update it ASAP.

[2020-08-25 12:23] Nikhil-Ladha commented on #674
That's the reason I have not closed the issue #647 yet.

[2020-08-25 12:38] leecalcote opened #675 "[Bug] UI - Right-side of each page is spilling over"
**Description**
An unwanted bit of extra space is shown to the right of each page on layer5.io. This might be caused by the recent addition of the community calendar button in the **Connect** section in the footer.

**Screenshots**
<img width="479" alt="Screen Shot 2020-08-25 at 7 23 08 AM" src="https://user-images.githubusercontent.com/7570704/91175110-e093db00-e6a5-11ea-88b3-2af8a49f3f02.png">

[2020-08-25 13:32] bellomuboye commented on #672
I'd like to take this up

[2020-08-25 13:40] PluckyPrecious opened #676 "Add RVM Description to Layer5 Documentation"
**Current Behavior**
Windows users are having issues using Jekyll and there's no description to help with that.

**Desired Situation**
Provide a description of RVM to the `set up your development environment` section of the Layer5 Doc by adding this line.

`Note: Windows users can run Jekyll by following the [Windows Installation Guide](https://jekyllrb.com/docs/installation/windows/) and also ins

[2020-08-25 13:47] emmanuellar commented on #676
Hi Precious. I'd love to take this up.

[2020-08-25 14:06] Ruth-ikegah commented on #601
Hi @pranikz , if you have any problems tackling this issue, you can ask your questions, here or on the slack channel

[2020-08-25 14:19] PluckyPrecious commented on #676
Hi @emmanuellar sure go ahead. 👍🏽

[2020-08-25 14:50] PluckyPrecious commented on #674
Sorry about your laptop issue @Nikhil-Ladha , Umm I'd like to know about the triangle at the top of the timeline, Is that the style? If not, can it be well aligned to the center of the timeline, I feel it's about to fall off. 😆

[2020-08-25 15:10] Nikhil-Ladha commented on #674
In which view exactly do you get such feeling?

[2020-08-25 15:11] Nikhil-Ladha commented on #674
Also, I know there are still a bit of issues with the timeline and I will be updating it sooon, as I mentioned above.

[2020-08-25 16:56] PluckyPrecious commented on #674
The triangle here
![0966416A-7F80-4B50-9E70-32B7E427F37F](https://user-images.githubusercontent.com/59584014/91203761-39da2980-e6fb-11ea-943c-89d9cb5a4080.jpeg)

[2020-08-25 16:58] leecalcote commented on #674
While you're receiving feedback, @Nikhil-Ladha.... :).... Could we try a different color for the circular points in the timeline?

[2020-08-25 17:08] Nikhil-Ladha commented on #674
Sure!

[2020-08-25 17:12] PluckyPrecious commented on #674
I also think some of the circles are kinda off 🙂, It’s probably meant to be placed on the side of each chat box, just like the second one which is perfect. But the 1st, 3rd circle... aren’t well placed.

[2020-08-25 22:07] Neilblaze commented on #675
@leecalcote Maybe this issue is browser dependent :thinking:
I am using Chrome & Firefox (latest version) & I am not facing this issue :confused:

[2020-08-25 22:12] Neilblaze commented on #675
**UPDATE: I am facing this issue on Opera**(on responsive view)!
Since, I am currently working on revamping the existing [smp-spec](https://smp-spec.io/) site, someone can take this up for now, else I shall hop in to fix this after some days :smile:

[2020-08-26 15:41] Atandanafiu commented on #676
can still help with this!!

[2020-08-26 15:58] Atandanafiu commented on #574
I'd like to take this up

[2020-08-26 16:12] PluckyPrecious commented on #574
Sure go ahead @Atandanafiu 👍🏽

[2020-08-26 16:19] PluckyPrecious commented on #676
Hey @Atandanafiu I just assigned you to one.

[2020-08-26 20:11] #647 closed

[2020-08-26 21:30] emmanuellar commented on #676
Hi Precious, sorry it has taken so long,  I've gone through the repo, but I can't find a "set up your development environment" section in any of the documents. The documents I've gone through are contributing.MD, read.me, code of conduct and others.
Please any help would be appreciated

[2020-08-26 22:08] leecalcote opened #681 "Update Brand page to use CSS color blocks, not images for color schemes"
**Current Behavior**
Akin to what @manishkrjha accomplished in https://github.com/layer5io/layer5/pull/666 for the SMP project, convert all color scheme images (for each project) to colored blocks with color codes inside.

**Implementation**
1. Create color-filled, box-shaped divs with each color code number inside of them for each of the project color schemes.

---
**Contributor Resources**
The `

[2020-08-26 22:10] leecalcote commented on #681
Great job on #666, @manishkrjha, would you like to grab this issue? You're most welcome to jump into the Layer5 community here - http://slack.layer5.io. There's much going on in there.

[2020-08-26 23:27] Ruth-ikegah commented on #676
Hi @emmanuellar you can add this description on the Contributing.md file on this repository. Since there is no section on the file, go ahead to create one and add the note.

[2020-08-26 23:31] emmanuellar commented on #676
Alright then. Thanks

[2020-08-27 04:29] Jashpatel1 commented on #669
Completed in PR #670

[2020-08-27 04:29] #669 closed

[2020-08-27 06:21] manishkrjha commented on #681
@leecalcote Ya sure. I'll do this 🙌

[2020-08-27 09:53] Ayushbajpai19 commented on #601
Hi, I want to contribute to the above issues, can you guide me through the process?

[2020-08-27 10:00] Ruth-ikegah commented on #601
Hi @Ayushbajpai19 that's nice, but someone has already been assigned to this issue. Please hop in our slack channel : http://slack.layer5.io/

Let's find you another issue

[2020-08-27 14:47] leecalcote commented on #681
Awesome. Thank you, @manishkrjha

[2020-08-27 16:21] leecalcote opened #683 "Offset request to star project with whitespace and tabs"
**Current Behavior**
Within the Welcome bot [example here](https://github.com/layer5io/layer5/pull/664#issuecomment-678089961) that thanks first-time contributors for their efforts, a request to star the repo should be included and it should be slightly offset to improve its visibility.

**Implementation**
Update or add the following line(s) to [.github/config.yml](../blob/master/.github/config.ym

[2020-08-27 16:29] sachin4840 commented on #683
I would like to contribute. Can you assign it to me

[2020-08-27 16:39] leecalcote commented on #683
@sachin4840 sounds great. Let’s get the issue assigned to you. I recommend and welcome you to join the Layer5 Slack - http://slack.layer5.io. Lots of resources and helpful folks inside.

[2020-08-27 17:06] Pariola-droid commented on #568
Have got this

[2020-08-27 17:11] Anita-ihuman commented on #568
Will get to it

[2020-08-28 01:14] Pariola-droid commented on #609
Can I try this out... The alignment

[2020-08-28 02:09] leecalcote opened #684 "[Landscape] Move background image to behind the Categories table."
**Current Behavior**

Currently, there is a background image behind the service mesh timeline.

<img width="1392" alt="Screen Shot 2020-08-27 at 9 06 27 PM" src="https://user-images.githubusercontent.com/7570704/91513166-4ef4bb00-e8a9-11ea-8db8-08ec55e5b21c.png">

The colors of the timeline and the background image overlap too much, causing them to conflict.

**Desired Behavior**
This background i

[2020-08-28 05:51] manishkrjha commented on #681
Just needed little clarification, as you've mentioned ***(for each project)***

Does it mean all sections on brand page or are there other projects too?

[2020-08-28 05:58] Neilblaze commented on #609
@Pariola-droid sure go for it!

[2020-08-28 06:20] Nikhil-Ladha commented on #681
Yeah, he meant that only. Each section in the brand page.

[2020-08-28 06:21] Nikhil-Ladha commented on #681
Also, while you are working with that part can you please do refine the page a bit for responsiveness, and also few font size changes and stuff to look good in all views.
I will open a seperate issue for it you can add mention that issue too, in the PR 🙂

[2020-08-28 08:14] SkyC0der commented on #684
I would like to this up

[2020-08-28 08:14] SkyC0der commented on #684
I would like to take this up

[2020-08-28 08:45] manishkrjha commented on #681
@Nikhil-Ladha Ok sure, I'll mention that in my PR

[2020-08-28 09:59] Nikhil-Ladha commented on #684
Sure @SkyC0der , go ahead 👍🏼

[2020-08-28 10:12] Pariola-droid commented on #609
Thanks... I'm in @Neilblaze

[2020-08-28 13:01] Ruth-ikegah commented on #684
Nice work @SkyC0der

[2020-08-28 15:24] Jashpatel1 commented on #625
I think we can have a project layout for a few projects, but for those like meshery and such we can't have them due to much diverse data to be displayed. So how about for now we have a template for others and a separate one for meshery. Any comments @chandrashritii @leecalcote @Nikhil-Ladha ?

[2020-08-28 21:29] leecalcote commented on #625
@Jashpatel1 totally. That sounds most appropriate.

[2020-08-28 21:34] #684 closed

[2020-08-29 08:57] Nikhil-Ladha opened #688 "[Bug] UI - Brand page needs to be more responsive"
**Description**

The logo's of projects are overlapping on the mobile view and the image size needs to be adjusted for the colors subheading under `Layer5` section.

**Expected Behavior**

The images should not overlap, instead the size of the image can be reduced a bit for the mobile view to show them side-by-side.
The image of the colors under Layer5 section can be revamped as per the modificati

[2020-08-29 08:58] Nikhil-Ladha commented on #688
Related to #681

@manishkrjha ^^

[2020-08-29 10:21] Nikhil-Ladha commented on #591
Hello @phillipgibson, if you could help us out in adding these details in the landscape at the earliest it would be very grateful :)
Or, if you have already planned out to update it in a day or so. That's also fine!

[2020-08-29 14:37] manishkrjha commented on #688
@Nikhil-Ladha Understood 👍

[2020-08-29 21:53] #676 closed

[2020-08-30 00:00] PluckyPrecious opened #690 "Correct Star The Project Link In Welcome Bot"
**Current Behavior**
The link to `star the project` in the [config.yml](https://github.com/layer5io/layer5/blob/41ed36c003ac0e315969d3a909241fcd793724df/.github/config.yml#L22) directs contributors to star a personal account outside layer5.

**Desired Situation**
It should be corrected to `(../stargazers)` to direct contributors to the exact layer5 project repo.

---
[Optional] **Alternatives**

[

[2020-08-30 09:43] claire-me commented on #690
Hello @PluckyPrecious I'd like to take this issue

[2020-08-30 13:51] PluckyPrecious commented on #690
Sure, go ahead. @claire-me 👍🏽

[2020-08-30 15:00] #478 closed

[2020-08-30 15:00] #479 closed

[2020-08-30 15:00] #477 closed

[2020-08-31 03:03] #690 closed

[2020-08-31 03:05] #675 closed

[2020-08-31 07:38] Pariola-droid commented on #609
@Neilblaze
The site has no issue with responsiveness
i just checked the subscribe section

[2020-08-31 07:39] Pariola-droid commented on #609
Give details of the particular device you checked in with

[2020-08-31 10:17] #650 closed

[2020-08-31 11:20] PluckyPrecious commented on #683
Hello @sachin4840 how is it coming up? 😊

[2020-08-31 13:26] leecalcote commented on #673
"Contact" can be removed as a top level navigation item.

[2020-09-01 06:38] Nikhil-Ladha commented on #672
@bellomuboye any updates here?

[2020-09-01 06:39] Nikhil-Ladha commented on #636
Closed #666

[2020-09-01 06:39] #636 closed

[2020-09-02 01:24] Josephchinedu commented on #681
has it been attended too?

[2020-09-02 03:27] leecalcote commented on #211
Thank you, @Silvyre! We have finally merged your spectrums branch and are beginning to publish comparative spectrums now.

[2020-09-02 03:27] #211 closed

[2020-09-02 03:45] Nikhil-Ladha commented on #681
Yes @Josephchinedu it has been.

[2020-09-02 10:27] Jashpatel1 opened #696 "[NG] Change the font color to a darker shade"
**Current Behavior**
Currently, the single blog page in layer5-ng site has default grey text for paragraphs. It seems to be less readable.

**Desired Behavior**
Change the colour of text to black aur a darker grey such that its easily readable. The CSS file where the changes are to be applied is [here.](https://github.com/layer5io/layer5/blob/layer5-ng/src/posts/blogs/Blog.style.js)

---
**Contrib

[2020-09-02 10:53] was-coder commented on #696
@Jashpatel1 @leecalcote can i take up this issue

[2020-09-02 11:18] Jashpatel1 commented on #696
Yaa, sure. Please go ahead.

[2020-09-02 13:53] Josephchinedu commented on #683
i'll love to contribute

[2020-09-03 03:18] Jashpatel1 opened #699 "[NG] Remove the left padding in subitems of Footer"
**Current Behavior**
This issue pertains to layer5-ng site. The subitems in the footer have left padding making it look as indented.

**Desired Behavior**
Remove the left-padding to make it in line with its title. The changes have to be made in [styles of Footer section.](https://github.com/layer5io/layer5/blob/layer5-ng/src/sections/Footer/footer.style.js) As it is a change to be made in layer5-n

[2020-09-03 08:45] PluckyPrecious commented on #574
Hello @Atandanafiu how is it coming up? 😃

[2020-09-03 08:54] PluckyPrecious commented on #683
Hello @sachin4840 if you are fixed, @Josephchinedu could take this up.

[2020-09-03 11:03] Jashpatel1 commented on #696
Resolved in #701

[2020-09-03 11:03] #696 closed

[2020-09-03 12:56] was-coder commented on #699
@Jashpatel1 @leecalcote can i take up this issue

[2020-09-03 13:01] was-coder commented on #567
@Tanuj22 @leecalcote  i will like to work on this issue, i might also message you on slack @Tanuj22 for guidance on it

[2020-09-03 14:27] PluckyPrecious opened #703 "[Landscape] Remove SOFAMesh Duplicate from Categories"
**Current State:**
The [Layer5 landscape](https://layer5.io/landscape) categories service mesh section has a duplicate of SOFAMesh.
![categories](https://user-images.githubusercontent.com/59584014/92104287-01aca800-edd9-11ea-95a5-70b09238ddee.PNG)

**Desired State:**
- [ ] Remove SOFAMesh duplicate

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5

[2020-09-03 15:39] Jashpatel1 commented on #503
Closing this as addresses in #532

[2020-09-03 15:39] #503 closed

[2020-09-03 15:57] VictoryWekwa commented on #703
can i work on this?

[2020-09-03 16:13] leecalcote commented on #703
@PluckyPrecious great write up. 👍

@VictoryWekwa, yes, please. Both of these items need completed. SOFAmesh's deduplication is straight-forward, where OSM's listing will take a bit of assistance from @phillipgibson  in the issue https://github.com/layer5io/layer5/issues/591

// @Nikhil-Ladha

[2020-09-03 16:16] phillipgibson commented on #591
@leecalcote am I just editing the meshes.yml file?

[2020-09-03 16:26] Nikhil-Ladha commented on #591
Yes @phillipgibson . Also, if you could add the details in the non-functional.yml file that would be great, you can leave out the icon, weight field there.

[2020-09-03 17:45] PluckyPrecious commented on #703
Didn't know part of the issue is duplicate, so I just did an update @VictoryWekwa hope it's clear. 😃

[2020-09-03 18:17] chandrashritii opened #705 "[NG] Migrate the site data for the GSoC page to the layer5-ng site"
**Description**
Currently, the internship page dedicated to [GSoC](https://layer5ng.netlify.app/careers/programs/gsoc/2020) on the [layer5-ng site](https://layer5ng.netlify.app/) points to a 404 error.

**Expected Behavior**

The data from the [GSoC page](https://layer5.io/programs//gsoc/2020) on the [layer5.io site](https://layer5.io/) needs to be migrated to the layer5-ng site.

---
**Contributo

[2020-09-03 18:19] chandrashritii opened #706 "[NG] Migrate site data for the GSoD page to the layer5-ng site"
**Description**
Currently, the internship page dedicated to [GSoD](https://layer5ng.netlify.app/careers/programs/gsod/2020) on the [layer5-ng site](https://layer5ng.netlify.app/) points to a 404 error.

**Expected Behavior**

The data from the [GSoD page](https://layer5.io/programs/gsod/2020) on the [layer5.io site](https://layer5.io/) needs to be migrated to the layer5-ng site.

---
**Contributor

[2020-09-03 18:21] chandrashritii opened #707 "[NG] Migrate site data for CommunityBridge to the layer5-ng site"
**Description**
Currently, the internship page dedicated to [CommunityBridge](https://layer5ng.netlify.app/careers/programs/communitybridge/2020) on the [layer5-ng site](https://layer5ng.netlify.app/) points to a 404 error.

**Expected Behavior**

The data from the [CommunityBridge](https://layer5.io/programs/communitybridge) on the [layer5.io site](https://layer5.io/) needs to be migrated to the

[2020-09-03 18:24] chandrashritii opened #708 "[NG] Migrate site data for the Internships page to the layer5-ng site"
**Description**
Currently, the page dedicated to [Internships](https://layer5ng.netlify.app/careers/programs/internships) on the [layer5-ng site](https://layer5ng.netlify.app/) points to a 404 error.

**Expected Behavior**

The data from the [Internships](https://layer5.io/careers/internships) on the [layer5.io site](https://layer5.io/) needs to be migrated to the layer5-ng site.

---
**Contributo

[2020-09-03 18:27] chandrashritii opened #709 "[NG] Migrate site data for the Partners page"
**Description**
Currently, the page dedicated to [Partners](https://layer5ng.netlify.app/contact/partners) on the [layer5-ng site](https://layer5ng.netlify.app/) points to a 404 error.

**Expected Behavior**

The data from the [Partners page](https://layer5.io/partners) on the [layer5.io site](https://layer5.io/) needs to be migrated to the layer5-ng site.

---
**Contributor Resources**
The `layer

[2020-09-03 18:30] chandrashritii opened #710 "[NG] Migrate site data for the Careers page"
**Description**
Currently, the page dedicated to [Careers](https://layer5ng.netlify.app/careers) on the [layer5-ng site](https://layer5ng.netlify.app/) points to a 404 error.

**Expected Behavior**

The data from the [Careers](https://layer5.io/careers) on the [layer5.io site](https://layer5.io/) needs to be migrated to the layer5-ng site.

---
**Contributor Resources**
The `layer5` repo contains

[2020-09-03 18:32] chandrashritii opened #711 "[NG] Migrate the site data for the Contact page"
**Description**
Currently, the page dedicated to [Contact](https://layer5ng.netlify.app/contact) on the [layer5-ng site](https://layer5ng.netlify.app/) points to a 404 error.

**Expected Behavior**

The data from the [Contact](https://layer5.io/contact) on the [layer5.io site](https://layer5.io/) needs to be migrated to the layer5-ng site.

---
**Contributor Resources**
The `layer5` repo contains

[2020-09-03 18:35] chandrashritii opened #712 "[NG] Migrate the site data for the Brand page"
**Description**
Currently, the [Brand page](https://layer5ng.netlify.app/company/brand) on the [layer5-ng site](https://layer5ng.netlify.app/) points to a 404 error.

**Expected Behavior**

The data from the [Brand page](https://layer5.io/brand) on the [layer5.io site](https://layer5.io/) needs to be migrated to the layer5-ng site.

---
**Contributor Resources**
The `layer5` repo contains two webs

[2020-09-03 18:37] chandrashritii opened #713 "[NG] Migrate the site data for the Resources page"
**Description**
Currently, the [Resources page](https://layer5ng.netlify.app/learn) on the [layer5-ng site](https://layer5ng.netlify.app/) points to a 404 error.

**Expected Behavior**

The data from the [Resources page](https://layer5.io/learn) on the [layer5.io site](https://layer5.io/) needs to be migrated to the layer5-ng site.

---
**Contributor Resources**
The `layer5` repo contains two webs

[2020-09-03 18:54] chandrashritii opened #714 "[NG] Migrate the site data for the Landscape page (Resources section)"
**Description**
Currently, the following pages on the Resources section on the [layer5-ng site](https://layer5ng.netlify.app/) points to a 404 error:

- [ ]  [Service Mesh Comparison](https://layer5ng.netlify.app/landscape)
- [ ] [Service Mesh Tools](https://layer5ng.netlify.app/landscape#tools)

[Service Mesh Books](https://layer5ng.netlify.app/learn/books) - Issue #780
[Service Mesh Workshops](h

[2020-09-03 18:59] chandrashritii commented on #710
@alabobriggs Would you like to take this up?

[2020-09-03 19:02] chandrashritii commented on #712
@iamsurajdc Do you want to take this one up?

[2020-09-03 21:20] #504 closed

[2020-09-03 23:04] VictoryWekwa commented on #703
Okay.
That's fine

[2020-09-04 03:43] iambami commented on #714
I'll love to solve this

[2020-09-04 04:10] iamsurajdc commented on #712
@chandrashritii Sure.

[2020-09-04 05:20] alabobriggs commented on #710
Yes I will jump on this.

[2020-09-04 07:04] iambami commented on #708
Can I do this?

[2020-09-04 07:07] iambami commented on #713
I will love to do this

[2020-09-04 07:12] PluckyPrecious commented on #708
Hi @iambami ”can I do this” is totally dependent on you, would you like to give it a shot? 😊

[2020-09-04 07:12] PluckyPrecious commented on #713
Oh great 👍🏽, do go ahead.

[2020-09-04 10:41] #703 closed

[2020-09-04 13:01] Josephchinedu commented on #683
i've updated it. waiting for contributor to view it

[2020-09-04 13:05] leecalcote commented on #714
Excellent, @iambami 👍

[2020-09-04 13:39] Tanuj22 commented on #567
@was-coder please go ahead. Note that we haven't decided on the catogories for each blog so add a dummy value for now.

[2020-09-04 14:49] leecalcote opened #716 "[README] Bug: Misspelling needs fixed"
**Description**
The readme.md in this repo has the following error:

<img width="826" alt="Screen Shot 2020-09-04 at 9 48 02 AM" src="https://user-images.githubusercontent.com/7570704/92252456-dd61d180-ee93-11ea-9745-7286a8a62cce.png">

[2020-09-04 14:55] leecalcote commented on #716
THanks, @Josephchinedu 👍

[2020-09-04 14:59] wesley-moody commented on #716
Taken care of. Thank you!

[2020-09-04 15:00] Josephchinedu commented on #716
should i remove open that ends it

[2020-09-04 15:00] Josephchinedu commented on #716
i mean "Open" after the calendar

[2020-09-04 16:35] PluckyPrecious commented on #716
Hello @wesley-moody this issue was already assigned to someone else.

[2020-09-04 17:21] Josephchinedu commented on #716
Fixed. waiting for contributor to review and merge it

[2020-09-04 18:01] #716 closed

[2020-09-04 21:36] leecalcote opened #719 "[SMP] Add KubeCon EU talk to performance project page"
**Current Behavior**
KubeCon EU talks are out. [This talk](https://www.youtube.com/watch?v=rgnb0-ntPko&list=PL3A-A6hPO2IOpTbdH89qR-4AE0ON13Zie) needs to be added to the second section of this page - https://layer5.io/projects/service-mesh-performance.

It would be nice if this talk is embedded as a Youtube video on this page  - https://github.com/layer5io/layer5/blob/master/collections/_projects/s

[2020-09-04 22:53] abadon7 commented on #719
Hi @leecalcote. I would like to help with this as my first PR.

[2020-09-04 23:05] leecalcote commented on #719
Thank you, @abadon7. That would be great.

[2020-09-05 02:07] dea1j commented on #711
I will like to take up this issue

[2020-09-05 02:08] leecalcote commented on #711
hi @dea1j, that sounds great!

[2020-09-05 02:10] leecalcote commented on #719
@abadon7 you're most welcome to join the Layer5 community as well: http://slack.layer5.io

[2020-09-05 02:14] leecalcote commented on #708
@PluckyPrecious, ha!

@iambami, do your worst! 😉 Note that this issue calls for the populating of pages from the currently layer5.io site under this repo's `master` branch (the site uses Jeykll) over to this same repo's `layer5-ng` branch (the new site uses Gatsby).

[2020-09-06 03:23] abadon7 commented on #719
Hi @leecalcote. I did not notice, before PR, that the information in "/collections/_projects/service-mesh-performance.md" appears on https://layer5.io/projects/service-mesh-performance, in the way see it, as the first section of the page and "_includes/performance.html" as second one. So with the video in both files, it appears on the page duplicated. Please, help me know what I am missing. Thanks

[2020-09-06 19:08] leecalcote opened #725 "[NG] Mega Menu Losing Focus"
**Description**
The mega menu appears and disappears undesirably.

**Expected Behavior**
Once the menu appears, it should remain visible so long as the user's mouse is in the same menu area.

**Screenshots**
![Untitled](https://user-images.githubusercontent.com/7570704/92333340-396e5680-f04a-11ea-9bd5-4b1eccc476f0.gif)

---
**Contributor Resources**
The `layer5` repo contains two websites. The cur

[2020-09-06 21:21] #719 closed

[2020-09-06 21:38] leecalcote commented on #567
Gents, let's see if we can fit the posts into one of the following categories:

- "community" - posts contributed by community members that are focused on their experience with the community and open source in general
- "meshery" - posts that focus more so on Meshery as a tool, what it can do, and so on.
- "service mesh" - posts that focus on service meshes like Istio, Consul, Linkerd, and so on.

[2020-09-07 08:13] Pratyush-Saxena commented on #709
@chandrashritii , Can I resolve this issue

[2020-09-07 10:56] #681 closed

[2020-09-07 11:34] leecalcote commented on #709
That would be great, @Pratyush-Saxena 👍 FYI, there is a meeting today at 6pm IST to discuss this website (and others). Jump in - https://bit.ly/2SbrRhe

[2020-09-07 13:31] leecalcote opened #726 "[NG] News template"
**Current Behavior**
The current layer5.io site has a news template. The layer5-ng site needs one as well.

**Desired Situation**
- [ ] add ng-specific news template
- [ ] update [news issue template](https://github.com/layer5io/layer5/blob/layer5-ng/.github/ISSUE_TEMPLATE/news.md) to be NG-specific

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and

[2020-09-07 19:58] Tanuj22 commented on #514
Fixed in #722

[2020-09-07 19:58] #514 closed

[2020-09-07 20:16] Tanuj22 commented on #726
FIxed in #727

[2020-09-07 20:16] #726 closed

[2020-09-07 23:26] #212 closed

[2020-09-08 01:31] leecalcote opened #729 "[Community] Hyperlink to community incident form in code of conduct"
**Current Behavior**
The https://layer5.io/community page has a section describing the code of conduct:

[code]

**Desired Situation**
The text "this incident form" in the paragraph above should have the Layer5 Community Incident Report form hyperlinked and available to receive incident reports - https://docs.google.com/forms/d/e/1FAIpQLSeWzC5HjlHugFjB0TtaAVnSkPPqsRQ3JRYjdwyDXf0oyRxcdQ/viewform

-

[2020-09-08 01:34] leecalcote opened #730 "[Community] Hyperlink to full-length code of conduct on Community page"
**Current Behavior**
The https://layer5.io/community page has a section describing our code of conduct:

[code]

**Desired Situation**
In the second sentence of the paragraph above, the text "Code of Conduct" should have the Layer5 Code of Conduct hyperlinked and available to view. Hyperlink: `/terms/code-of-conduct`

---
**Contributor Resources**
The `layer5` repo contains two websites. The curre

[2020-09-08 01:35] ashleypean commented on #729
I’d love to work on this one if it’s not taken

[2020-09-08 01:35] leecalcote commented on #729
@ashleypean, that would be most helpful. Yes, thank you.

[2020-09-08 02:28] #579 closed

[2020-09-08 05:58] NorbertLuszkiewicz commented on #730
Hey I would love to tackle this one

[2020-09-08 06:31] Pratyush-Saxena commented on #709
@leecalcote Pls tell me either you want just to display [Partners](https://layer5.io/partners) on clicking Partner page link on  [layer5-ng site](https://layer5ng.netlify.app/) or you want me to create Partner page of its own

[2020-09-08 07:35] PluckyPrecious commented on #609
Hello @Pariola-droid how is it coming up?😊

[2020-09-08 08:17] Jashpatel1 commented on #730
@leecalcote Is the page created for the link you mentioned as I cant find one on the website?

[2020-09-08 09:41] Tanuj22 opened #735 "[NG] Create a card component for news and blogs pages"
**Current Behavior**
The [news](https://layer5ng.netlify.app/news) and [blog](https://layer5ng.netlify.app/blog) pages of the layer5ng site uses contains a card. The code and the styles are being repeated in these pages for the card.

**Desired Behavior**
Create a separate card component that can be imported into these pages.

---
**Contributor Resources**
The `layer5` repo contains two websites.

[2020-09-08 09:55] Pariola-droid commented on #609
Thank God someone replied
Have been trying to work on this

Cloned with my github desktop app
it returns back an error

ill be on it today. ill use the CMD method

[2020-09-08 10:28] Pariola-droid commented on #609
Same issue again

[2020-09-08 10:41] PluckyPrecious commented on #609
@Pariola-droid have you tried downloading the zip file instead? Then add it to your GitHub Desktop locally.

[2020-09-08 10:45] Nikhil-Ladha commented on #609
@Pariola-droid let's discuss this issue on slack to get you going ASAP!

[2020-09-08 10:51] PluckyPrecious commented on #392
@kushthedude @leecalcote have this been sorted?

[2020-09-08 10:56] PluckyPrecious commented on #558
Hello @usamaidrsk @smritiRGI how is this coming up?

[2020-09-08 11:03] PluckyPrecious commented on #578
Hello @kishore007k @Kennygrace would anyone of you like to work on this? We found a way to run Jekyll on Windows, do ping me on slack.🤝

[2020-09-08 11:07] PluckyPrecious commented on #601
Hello @pranikz do you need a hand working on this? And if you’re fixed with other issues kindly indicate so @Ayushbajpai19 could take it up.👍🏽

[2020-09-08 11:08] kishore007k commented on #578
@PluckyPrecious Yeah I'm up for it! Will give it a try.

[2020-09-08 11:10] PluckyPrecious commented on #578
Awesome 😎 I’ll assign you.

[2020-09-08 11:25] Jashpatel1 commented on #709
Yaa, so yo would have to create a partners page in pages folder in layer5-ng site, and migrate the data from the layer5 site. If you need any help you can join layer5 community on slack.

[2020-09-08 12:56] usamaidrsk commented on #558
Hello @PluckyPrecious, I  failed to connect with @smritiRGI, Ii shall be glad to work along with you

[2020-09-08 12:58] Pariola-droid commented on #609
Yup
I did more than a 100times

[2020-09-08 12:59] Pariola-droid commented on #609
Okay okay

[2020-09-08 13:04] Pariola-droid commented on #609
Uhm
@Nikhil-Ladha @PluckyPrecious

You could try downloading it from there
And you'll probably send the files to me

[2020-09-08 17:21] leecalcote commented on #730
@NorbertLuszkiewicz sounds great. Thank you. 🎈

@Jashpatel1, you're right. This URL is (was) absent. It should now be present as of the merge of #728

[2020-09-08 17:23] leecalcote commented on #730
@NorbertLuszkiewicz if you haven't received an invitation to join the Layer5 community, please consider this your special invitation. 😄 There are a number of resources available to community members here - http://slack.layer5.io (no obligation to join, just want to ensure that you know you're most welcome to).

[2020-09-08 17:32] #729 closed

[2020-09-08 18:09] Nikhil-Ladha commented on #735
Closed #736

[2020-09-08 18:09] #735 closed

[2020-09-08 18:17] Nikhil-Ladha opened #739 "[UI]: Add a filter feature for the active/inactive members"
**Current Behavior**

Currently, the layer5.io/community/members page contains 2 buttons (legends) to represent the active/inactive status of the members in the community.

**Desired Behavior**

A new `category` front-matter can be added to all the member profiles which should state active/inactive, and based on that filtering should happen. Upon, filtering the desired URL should be
layer5.io/comm

[2020-09-08 18:21] Nikhil-Ladha opened #740 "[NG]: Add the community members page"
**Current Behavior**

The NG site lacks a community members page which lists all the community members we have at Layer5.

**Desired Behavior**

A community member page needs to be added to the NG site, feel free to reach out to @Nikhil-Ladha for design inspiration.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.

[2020-09-08 18:22] Nikhil-Ladha commented on #740
@Tanuj22 ^^

[2020-09-08 19:46] Tanuj22 opened #741 "Adding Pratyay Banerjee as contributor"
**Current Behavior**
@Neilblaze a consistent community contributor.

**Desired Behavior**

A profile for @Neilblaze should be visible at https://layer5.io/community/members

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the cu

[2020-09-08 19:59] Tanuj22 opened #742 "Adding Pang Meng Cheng as contributor"
**Current Behavior**
@PmcFizz a consistent community contributor.

**Desired Behavior**

A profile for @PmcFizz should be visible at https://layer5.io/community/members

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` l

[2020-09-08 20:03] Tanuj22 opened #743 "Adding Jubayer Joy as contributor"
**Current Behavior**
@JubayerJoy a consistent community contributor.

**Desired Behavior**
A profile for @JubayerJoy should be created and visible on  https://layer5.io/community/members

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If

[2020-09-08 20:07] chandrashritii opened #744 "Add Karen as a contributor"
**Description**

@KarenEfereyan needs to be added to the list of community members. Her profile should be visible at https://layer5.io/community/members

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of

[2020-09-08 20:52] KarenEfereyan commented on #744
☺☺☺☺

[2020-09-08 21:34] leecalcote commented on #742
// @Aisuko

[2020-09-08 22:40] PluckyPrecious opened #746 "[Docs] Update Layer5 Contributing Doc"
**Current Behavior**
The CONTRIBUTING.md is missing the caveat about Jekyll production & dev env amongst others.

**Desired Situation**

[ ] Add [this caveat as seen in line 71](https://github.com/layer5io/service-mesh-performance/commit/a8af02878eb4711ccadb2e4fe01dad7b65a5b1b3#diff-6a3371457528722a734f3c51d9238c13)  to the [CONTRIBUTING.md](https://github.com/layer5io/layer5/blob/master/CONTRIBUT

[2020-09-09 01:47] PmcFizz commented on #742
Thanks

[2020-09-09 01:48] #742 closed

[2020-09-09 01:48] Aisuko commented on #742
Congratulations @PmcFizz

[2020-09-09 02:57] leecalcote opened #750 "Batch Transition to MeshMate Emeritus"
**Current Behavior**
Some members of our initial batch of MeshMates have become inactive in their role and in the community.

**Desired Situation**
The following MeshMates should be transitioned to _MeshMate Emeritus_.

- Naveen Jain
- Kanishkar J
- Ashis Kumar Singh
- Shivay Lamba

**(f) MeshMate Emeritus; Program Graduation.** Once a MeshMate, always a MeshMate. Despite this sentiment, inevitabl

[2020-09-09 02:58] leecalcote commented on #750
// @Nikhil-Ladha @NupurThakur27 @vijcheru @kushthedude

[2020-09-09 03:24] Pratyush-Saxena commented on #709
All right @Jashpatel1 ...Thanku

[2020-09-09 03:30] leecalcote opened #751 "[Community] Style MeshMate cards similarly to member cards"
**Description**
The cards on this page - https://layer5.io/community/meshmates - need to change color on hover like the member cards on https://layer5.io/community/members.

**Resources**
- [Collection of members](https://github.com/layer5io/layer5/tree/master/collections/_members)
- [Relevant style](https://github.com/layer5io/layer5/blob/master/assets/css/materialize.css#L2868-L2892) (some but m

[2020-09-09 07:04] NorbertLuszkiewicz commented on #751
Hey I would love to tackle this one

[2020-09-09 07:28] Nikhil-Ladha commented on #751
Hi @NorbertLuszkiewicz yes please, go ahead.

[2020-09-09 07:31] #741 closed

[2020-09-09 08:52] #744 closed

[2020-09-09 12:33] PluckyPrecious commented on #746
Hey @Hack-Light here's a good issue to get started with. 😃

[2020-09-09 12:41] PluckyPrecious commented on #573
Issue fixed, i'll close now.

[2020-09-09 12:41] #573 closed

[2020-09-09 13:03] Hack-Light commented on #746
Ok, let me take on this

[2020-09-09 13:35] PluckyPrecious commented on #746
Awesome!

On Wed, 9 Sep 2020 at 14:04, Light <notifications@github.com> wrote:

[2020-09-09 17:23] #743 closed

[2020-09-09 19:07] UdokaVrede commented on #707
Hi @chandrashritii I noticed the issue 705,706 and 707 are all similar I'd love to fix this. I've been looking at the code base but I'm not just getting it pls I'd need a guide.

[2020-09-09 20:01] #531 closed

[2020-09-10 15:49] codetheorem commented on #707
Assign this to me.

[2020-09-10 15:55] vinayaksh42 commented on #705
I would like to work on this issue

[2020-09-10 15:57] codetheorem commented on #706
Assign this issue to me.

[2020-09-10 15:57] leecalcote commented on #707
Oops. I assigned to @codetheorem based on only seeing the single request for assignment. I now see @UdokaVrede's request for clarification.

@UdokaVrede, @chandrashritii are you working on this yet or is it up for grabs?

[2020-09-10 15:58] leecalcote commented on #706
You got it. 👍

[2020-09-10 16:03] leecalcote commented on #705
Excellent.

[2020-09-10 16:30] Jashpatel1 commented on #672
@bellomuboye If you are stuck somewhere, I would be happy to help you go through your first contribution to Layer5.

[2020-09-10 16:31] Jashpatel1 commented on #699
@was-coder Hey if you are stuck somewhere, jump into slack, and we can make a combined effort to the website.

[2020-09-10 16:33] Jashpatel1 commented on #707
@UdokaVrede In case you find any difficulty, you can jump into slack. We will definitely find a way out.

[2020-09-10 16:35] Jashpatel1 commented on #708
@iambami In case you are stuck somewehere, feel free to ask for it. If you want some help setting it up or understanding the code base, you can jump into slack.

[2020-09-10 16:36] Jashpatel1 commented on #710
@alabobriggs Hey if you are stuck somewhere, please feel free to ask out. I would be happy to help you with your contribution to Layer5.

[2020-09-10 16:40] was-coder commented on #699
I am sorry for delaying, it is just that I am so busy. Can you please
reassign to another person, I will be back to contribute when I am free

On Thu, Sep 10, 2020, 17:31 Jash patel <notifications@github.com> wrote:

[2020-09-10 16:42] was-coder commented on #567
Hi Tanuj. Can you please reassign this to another person. I am stuck with
some personal stuff

On Sun, Sep 6, 2020, 22:38 Lee Calcote <notifications@github.com> wrote:

[2020-09-10 16:44] Tanuj22 commented on #567
@was-coder No problem :+1:

[2020-09-10 16:47] was-coder commented on #567
Thanks for understanding

On Thu, Sep 10, 2020, 17:44 Tanuj Agarwal <notifications@github.com> wrote:

[2020-09-10 17:56] chandrashritii commented on #707
Hey @UdokaVrede We'd love to help you out. Do signal if you want to be assigned to this issue. Can you explain what issues you're facing?

@codetheorem Thank you for asking 👍  I see that you're already been assigned on #706. Let's wait for @UdokaVrede to confirm their interest on this one.

[2020-09-10 18:22] leecalcote commented on #699
@was-coder thank you for letting us know. 👍

[2020-09-10 18:31] was-coder commented on #699
I will be back after I sort out things. Thanks

On Thu, Sep 10, 2020, 19:29 Lee Calcote <notifications@github.com> wrote:

[2020-09-11 15:18] chandrashritii commented on #709
Thank you for taking this on @Pratyush-Saxena. I believe @Jashpatel1 has answered your question here. Let us know if you have any other doubts 👍

[2020-09-11 15:20] UdokaVrede commented on #707
Hi @chandrashritii assign this to me

[2020-09-11 15:21] chandrashritii commented on #711
@dea1j Thank you for taking this on! Please let me know if you stumble across any roadblocks while solving this issue. I'll do my best to help you out 🎈

[2020-09-11 15:22] chandrashritii commented on #712
@iamsurajdc Thank you for taking this on! Please let me know if you need any help or have any questions regarding this issue 🎈

[2020-09-11 17:27] #746 closed

[2020-09-12 17:39] Tanuj22 opened #761 "[NG] build error during fetching query"
**Description**
Sometimes the build leads to errors while fetching graphql query. This happens specifically while fetching fields in the frontmatter of MDX files.
![a3493de3-4572-46c1-b128-5b2d618f91df](https://user-images.githubusercontent.com/42486853/93001445-9be4bc80-f54c-11ea-9d46-40da5720931d.jpeg)

**Expected Behavior**
The solution is to make fields in the query optional. This may contain

[2020-09-13 20:53] #730 closed

[2020-09-13 20:53] #751 closed

[2020-09-14 12:19] leecalcote commented on #714
@chandrashritii will you mark this issue as an epic and open two other issues with the `issue/child` label: workshops and books? The Landscape should be it's own issue.

The title of this issue is identical to the title of issue #713

[2020-09-14 13:24] leecalcote opened #766 "SMP section listed twice on the brand page"
**Description**
On the https://layer5.io/brand page, the SMP section is listed twice. See the screenshot below.

**Expected Behavior**
SMP section should only be shown

**Screenshots**
<img width="1037" alt="Screen Shot 2020-09-14 at 7 42 29 AM" src="https://user-images.githubusercontent.com/7570704/93091361-95953400-f663-11ea-92de-26aae9883e8a.png">

---
**Contributor Resources**
The `layer5` rep

[2020-09-14 14:23] NorbertLuszkiewicz commented on #766
I would like to work on this issue

[2020-09-14 14:26] Tanuj22 commented on #766
Go ahead @NorbertLuszkiewicz

[2020-09-14 14:51] Tanuj22 commented on #766
Fixed in #767

[2020-09-14 14:51] #766 closed

[2020-09-14 15:16] #529 closed

[2020-09-14 19:16] leecalcote opened #768 "[NG] Duplicative "every" listed in `banner` module"
**Description**
Two "every"s are included in the header in the `banner` module.

**Expected Behavior**
Only the emphasized (bolded) "every" should be shown.

**Screenshots**
<img width="696" alt="Screen Shot 2020-09-14 at 2 13 34 PM" src="https://user-images.githubusercontent.com/7570704/93128278-d9ecf800-f694-11ea-9e66-140a7d980f04.png">

---
**Contributor Resources**
The `layer5` repo contains t

[2020-09-14 19:46] chandrashritii opened #769 "[chore] Strapi deployment"
**Description**

Deploy an instance of [strapi](https://strapi.io/) to familiarize with its functions and serve as a reference

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, whi

[2020-09-14 20:30] Harshita-Kanal commented on #768
Can I take this up ?

[2020-09-14 20:59] Tanuj22 commented on #768
@Harshita-Kanal Go ahead

[2020-09-14 21:08] Tanuj22 opened #770 "[NG] Remove unused styles"
**Current Behavior**
The single blog page and the single news page contains many unused styles. The styles are also found for the single blog page [here](https://github.com/layer5io/layer5/blob/layer5-ng/src/sections/Blog-single/blogSingle.style.js) and the single news page [here](https://github.com/layer5io/layer5/blob/layer5-ng/src/sections/News-single/NewsSingle.style.js).

**Desired Situation*

[2020-09-14 21:10] chandrashritii opened #771 "[chore] Add updated meeting links to the readme"
**Description**

Replace the respective zoom links for all the Layer5 meeting with the redirected links in the [Readme](https://github.com/layer5io/meet), for example: Layer5 community meeting: https://meet.layer5.io/community
The redirected links have been updated in the Layer5 community calendar and can be sourced from there.

---
**Contributor Resources**
The `layer5` repo contains two websites

[2020-09-14 21:57] agalakova-m commented on #771
Hello there! I would be glad to help, but I can't reach community calendar by this link: https://calender.google.com/calendar/b/1?cid=bGF5ZXI1LmlvX2VoMmFhOWRwZjFnNDBlbHZvYzc2MmpucGhzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20

[2020-09-14 22:31] leecalcote commented on #771
@agalakova-m, thank you for volunteering here. That's great. Hmm. Perhaps, this link will do the trick:

https://calendar.google.com/calendar/u/0/r?cid=bGF5ZXI1LmlvX2VoMmFhOWRwZjFnNDBlbHZvYzc2MmpucGhzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&pli=1

[2020-09-14 22:33] leecalcote commented on #771
Also, here's a helpful listing of the revised links - https://github.com/layer5io/meet/blob/master/README.md

[2020-09-15 02:39] Tanuj22 commented on #768
Fixed in #772

[2020-09-15 02:39] #768 closed

[2020-09-15 06:44] vinayaksh42 commented on #705
As i am able to see in this repo, There is no career page yet. So am i like supposed to make the career page first or just make a skeleton for the career page and directly work with the gsoc page? @chandrashritii

[2020-09-15 07:39] agalakova-m commented on #771
Ok, thanks! But now I'm not sure what file we are talking about, I should change the original Readme.md (https://github.com/layer5io/layer5/blob/master/README.md), right? I just can't see any zoom links in here. Sorry if it's kind of misunderstanding

[2020-09-15 12:40] leecalcote opened #773 "[Project] Service Mesh Interface: text alignment"
**Description**
The text on the [Service Mesh Interface project](https://layer5.io/projects/service-mesh-interface) is center-aligned (see screenshot).

**Expected Behavior**
This text should be left-aligned.

**Screenshots**
<img width="1375" alt="Screen Shot 2020-09-15 at 5 58 28 AM" src="https://user-images.githubusercontent.com/7570704/93211306-a8247180-f726-11ea-9206-c36bb3232957.png">

---
*

[2020-09-15 13:17] Pratyush-Saxena commented on #773
@leecalcote i would like to take up this one....as my first contribution to layer5

[2020-09-15 13:52] Tanuj22 commented on #773
@Pratyush-Saxena please go ahead

[2020-09-15 19:15] chandrashritii opened #776 "Add new event"
**Description**

Add the upcoming [Open Infrastructure Summit](https://www.openstack.org/summit/2020/summit-schedule/events/24703) talk to the https://layer5.io/events page

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the cu

[2020-09-15 19:29] chandrashritii commented on #771
@agalakova-m
The revised links can be found here - https://github.com/layer5io/meet/blob/master/README.md. I'll explain with an example.
For the Layer5 community meeting:
- meet.layer5.io/community: https://zoom.us/j/92211493668

The revised link would be https://meet.layer5.io/community

[2020-09-16 04:22] #776 closed

[2020-09-16 05:36] Pratyush-Saxena commented on #773
@Tanuj22 @leecalcote ...While setting up dev enviroment ...i m getting this error
``` ruby: error while loading shared libraries: libcrypt.so.2: cannot open shared object file: No such file or directory```...
pls help me in getting through this..

[2020-09-16 07:00] Nikhil-Ladha commented on #773
Are you on windows, @Pratyush-Saxena ?

[2020-09-16 07:05] Pratyush-Saxena commented on #773
no ...I use manjaro linux

[2020-09-16 07:17] Nikhil-Ladha commented on #773
Okay, then if you are using ruby installed fron the linux package manager. I would suggest to remove it, and use rvm instead for ruby and then try it again.

[2020-09-16 07:50] Tanuj22 commented on #773
@Pratyush-Saxena alse do take care that you install ruby 2.7.0

[2020-09-16 08:07] Pratyush-Saxena commented on #773
@Nikhil-Ladha can u pls ...explain how should i do that

[2020-09-16 08:36] Nikhil-Ladha commented on #773
The procedure is listed in the contributing guide AFAIRC. @chandrashritii @PluckyPrecious can you guys please point it out that?

[2020-09-16 08:51] Nikhil-Ladha commented on #773
You can remove ruby then, install rvm from this link https://rvm.io/
Then, install ruby-2.7.0 using rvm itself, and set is as the default version. Then, try building the site.

[2020-09-16 10:59] vinayaksh42 commented on #770
Can i work on this issue? @leecalcote @Tanuj22

[2020-09-16 11:23] Tanuj22 commented on #770
Please go ahead @vinayaksh42

[2020-09-16 12:31] #770 closed

[2020-09-16 12:49] vinayaksh42 commented on #707
Hey @UdokaVrede are you working on this issue? if not i would like to work on it.

[2020-09-16 13:26] codetheorem commented on #521
Assign this to me.

[2020-09-16 13:30] chandrashritii commented on #707
@UdokaVrede Sure 👍 Please take it away.

@vinayaksh42 Seeing that @UdokaVrede asked first, let's find you another issue to work on.

[2020-09-16 13:32] #705 closed

[2020-09-16 13:33] chandrashritii commented on #710
@vinayaksh42 Would you like to take this on?

[2020-09-16 13:33] Tanuj22 commented on #521
@codetheorem Go ahead

[2020-09-16 13:35] vinayaksh42 commented on #710
Sure @chandrashritii

[2020-09-16 13:42] chandrashritii opened #780 "[NG] Migrate the site data for the Books page (Resources section)"
**Description**

Currently, the following page on the Resources section on the [layer5-ng](https://layer5ng.netlify.app/) site points to a 404 error:

[Service Mesh Books](https://layer5ng.netlify.app/learn/books)

Migrate the content from the Layer5.io site. The data can be sourced from the following page on the [layer5.io](https://layer5.io/) site:

[Service Mesh Books](https://layer5.io/books)

[2020-09-16 13:42] chandrashritii opened #781 "[NG] Migrate the site data for the Workshops page (Resources section)"
**Description**

Currently, the following page on the Resources section on the [layer5-ng](https://layer5ng.netlify.app/) site points to a 404 error:

[Service Mesh Workshops](https://layer5ng.netlify.app/learn/workshops)

Migrate the content from the Layer5.io site. The data can be sourced from the following page on the [layer5.io](https://layer5.io/) site:

[Service Mesh Workshops](https://layer

[2020-09-16 13:49] Tanuj22 commented on #780
@chandrashritii this is already done https://layer5ng.netlify.app/books

[2020-09-16 13:54] chandrashritii commented on #780
Thanks @Tanuj22

Closing #780

[2020-09-16 13:54] #780 closed

[2020-09-16 14:50] Nikhil-Ladha commented on #688
Closed #693

[2020-09-16 14:50] #688 closed

[2020-09-16 14:51] Nikhil-Ladha commented on #750
Closed #757

[2020-09-16 14:51] #750 closed

[2020-09-16 14:53] Nikhil-Ladha commented on #591
Hi @phillipgibson , any updates over here?

[2020-09-16 16:39] JubayerJoy commented on #781
Hi @chandrashritii, I will take it if no one is pre-assigned.

[2020-09-16 17:59] chandrashritii commented on #781
Sure @JubayerJoy Go ahead 👍

[2020-09-17 11:07] chandrashritii commented on #773
@Pratyush-Saxena
Completely remove the currently installed version(s) of ruby from your system and do a clean install. The archlinux wiki instructions for installing ruby with rvm should work for manjaro linux. Try following this [tutorial](https://wiki.archlinux.org/index.php/RVM).
Another good [reference source](https://www.digitalocean.com/community/tutorials/how-to-install-ruby-on-rails-on-arc

[2020-09-17 18:08] tripathyprateek commented on #714
@chandrashritii I will take up this issue if no one is assigned.

[2020-09-17 18:19] Nikhil-Ladha commented on #714
Sure @tripathyprateek . Go ahead.
Take the data from the existing site, but feel free to come up with some innovative and cool design.

[2020-09-17 18:20] chandrashritii opened #784 "Create questionnaire"
**Desired Situation**

Create a questionnaire (can use google forms connected to a spreadsheet) to invite requests for tutorials and for people interested in Hacktoberfest. The start of the form can be found [here](https://docs.google.com/forms/d/1uNEpOXWmMBk-d2fzARXgDEGOTCa3jDsbsEIfFUr4zJg/edit).

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and th

[2020-09-17 18:22] chandrashritii commented on #784
@tripathyprateek Do you want to take this up?

[2020-09-17 18:25] tripathyprateek commented on #784
Yes please. I will take this up

[2020-09-17 21:32] vinayaksh42 commented on #713
Can i work on this issue as the last assigned person has removed their assignment?
@PluckyPrecious @leecalcote

[2020-09-17 22:19] leecalcote commented on #713
@vinayaksh42 that would be great, yes. 👍

[2020-09-17 22:25] #706 closed

[2020-09-18 08:19] godslayer201 commented on #558
@leecalcote is this still up for grabs? Would like to work on this with the past assignees.

[2020-09-18 10:32] PluckyPrecious commented on #558
Hello @godslayer201 sure you can go ahead.

[2020-09-18 12:52] leecalcote commented on #558
The footer style and twitter feeds of two other Layer5 projects have decent design from which to copy - https://meshery.io and https://layer5.io

[2020-09-18 12:56] leecalcote commented on #558
Since the time that this issue was opened, it seems that a Twitter feed was added to the project page. I do see another issue that needs to be addressed, however.

There are a number of elements on this page that are not responsive and break in a mobile view:

![AA46A7F4-8311-48C4-B62D-D709606D7292](https://user-images.githubusercontent.com/7570704/93599879-68f35c00-f984-11ea-9e27-92878935b321.png

[2020-09-18 14:06] leecalcote opened #785 "[Community] Layer5 Community Meetings table not mobile responsive"
This table (https://layer5.io/community#meetings) is not configured to be responsive in a mobile view.

It needs to be responsive. There are existing styles in the site that can be used to make it responsive.

![Screenshot_20200918-093727__01](https://user-images.githubusercontent.com/29438875/93555147-cbebef80-f992-11ea-9473-b920f726ce23.jpg)
One issue with the table in mobile view.

_Originally

[2020-09-18 16:10] chandrashritii commented on #785
@clementkng would you like to take this up?

[2020-09-18 16:16] clementkng commented on #785
@chandrashritii Yes, thank you! Interested in helping out any way I can 🙂

[2020-09-19 16:06] Pratyush-Saxena commented on #773
@leecalcote @Nikhil-Ladha @chandrashritii @Tanuj22 ...i just make this website run with ruby v2.7.1(coz as i said before i m unable to setup dev env on my local machine so I m working on gitpod which supports v2.7.1) and i found the issue  resolved automatically ..... i guess should now use rubyv2.7.1
![demo](https://user-images.githubusercontent.com/52444607/93671328-a90b2980-fabf-11ea-8e1c-98204

[2020-09-19 16:10] Nikhil-Ladha commented on #773
Means, you are saying the issue is with ruby 2.7.0?
But, all of the members here are running it on the same version 🤔. Maybe, some other issue might have occurred which you are missing or so.

[2020-09-19 16:16] Pratyush-Saxena commented on #773
I think we must check it out if the site is ready to get updated with ruby v2.7.1.....

[2020-09-20 08:19] Tanuj22 commented on #713
@vinayaksh42 sorry I didn't have a look at this before. The books part of the page is already migrated and the workshop page as already someone assigned to it.

[2020-09-20 08:20] Tanuj22 commented on #713
Blocked by #781

[2020-09-20 08:22] vinayaksh42 commented on #713
No problem , so basically this issue is not required anymore?

[2020-09-20 08:25] Tanuj22 commented on #713
It can be worked on after the workshop part is done

[2020-09-20 08:26] vinayaksh42 commented on #713
Okay

[2020-09-20 08:27] Tanuj22 commented on #713
If you are comfortable with gatsby would you like to work on making the careers page dynamic?

[2020-09-20 08:49] Pratyush-Saxena opened #789 "Change SEO title"
**Current Behavior**

seo title must be change of some pages in [layer5ng](https://layer5ng.netlify.app)..like [gsoc](https://layer5ng.netlify.app/gsoc) , [gsod](https://layer5ng.netlify.app/gsod) and others if any...
![seo_title](https://user-images.githubusercontent.com/52444607/93707368-8aeb0b00-fb4b-11ea-8056-c2610cca06ae.png)

**Desired Behavior**

![seo](https://user-images.githubusercontent

[2020-09-20 08:52] Nikhil-Ladha commented on #789
It is so because the links are not set correctly yet, as the pages are not ready.

[2020-09-20 13:10] tripathyprateek commented on #789
Yes, this can be taken up later once all the pages are designed.

[2020-09-20 14:04] Pratyush-Saxena commented on #789
ok then i think we should close it for now!!!

[2020-09-20 14:04] #789 closed

[2020-09-20 14:16] tripathyprateek commented on #789
@Pratyush-Saxena feel free to take a look around. There are a lot of issues you can contribute to.

[2020-09-20 19:25] #683 closed

[2020-09-20 19:59] Neilblaze opened #791 "[Community] Fix styling of Community Members page"
**Description**

In the [community members](https://layer5.io/community/members) page, the current desktop-mode view is this :-

![Community_memb](https://user-images.githubusercontent.com/48355572/93720728-81dc5700-fba8-11ea-8021-40b90cb9048b.JPG)

We need to change the styling to this :-

![Community_memb2](https://user-images.githubusercontent.com/48355572/93720740-96b8ea80-fba8-11ea-8a70-09b52

[2020-09-20 20:32] Neilblaze opened #792 "Fix the styling of Workshops page!"
**Current Behavior :-**

In the [workshops](https://layer5.io/workshops) page, the styling of the cards needs to be improved. With that the position & alignment issues of the illustrations needs to be fixed. I am attaching two images, one of them refers to the screenshot of the workshop page of the current [Layer5](https://layer5.io) site; and another one is for the required changes.

**Screenshot

[2020-09-21 04:51] vinayaksh42 commented on #713
Not exactly comfortable but I think we can give it a go

[2020-09-21 07:15] Tanuj22 opened #793 "[NG] Add community page"
Create the [community page ](https://layer5.io/community) for `layer5-ng` site

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses Jekyll and GitHub Pages. Site content is

[2020-09-21 07:16] Tanuj22 commented on #793
@vinayaksh42 would you like to work on this?

[2020-09-21 07:18] vinayaksh42 commented on #793
Sure I would like to do this issue

[2020-09-21 10:03] Jashpatel1 opened #794 "[NG] Migrate Projects to the layer5-ng site"
**Current Behavior**

The Projects section has just SMP added currently in the layer5-ng website.

**Desired Situation**
Add projects(excluding Meshery and Landscape) to the project folder in collections. A project(Service mesh Performance) has been added for reference. The data can be found at the [Projects Page](https://layer5.io/projects).

- [ ] Distributed Performance Management Page ([Data](

[2020-09-21 12:43] Harshita-Kanal commented on #794
I can do this, by when am I supposed to complete it ?

[2020-09-21 12:45] Jashpatel1 commented on #794
There is no such deadline, just be comfortable in working on it. You can ping on slack if you get stuck anywhere.

[2020-09-21 12:48] Harshita-Kanal commented on #794
Can I take it up ?

[2020-09-21 13:26] Jashpatel1 commented on #625
Fixed  in #733

[2020-09-21 13:26] #625 closed

[2020-09-21 14:03] Tanuj22 commented on #794
@Jashpatel1 you can create separate issues for each of  the projects to help move it faster

[2020-09-21 18:55] leecalcote opened #797 "[Ng] Mute language flag colors"
**Current Behavior**
The language flags in the layer5-ng site footer draw much of the visitors attention unnecessarily. On the current layer5.io site, we have intentionally muted the colors of the language flags (as an infrequently used utility) as their full color draws too much attention and distracts users from what we want really want to draw them into (the twitter feed or other links).

**Des

[2020-09-21 19:04] Nikhil-Ladha commented on #578
Closed #795

[2020-09-21 19:04] #578 closed

[2020-09-21 20:15] #699 closed

[2020-09-21 20:32] kishore007k commented on #797
If the issue is still open I'm up for this!.
This is what it should look like right? @leecalcote
![ScreenShot](https://user-images.githubusercontent.com/34863222/93818152-9cc9cc80-fc77-11ea-98c2-b53339f47346.PNG)

[2020-09-21 20:38] leecalcote commented on #797
@kishore007k, thanks for jumping in here.

Yes, that's about right. I wonder what happens if we incorporate grayscale into these. I'll dig up an example of this being done previously....

[2020-09-21 20:39] leecalcote commented on #797
Here we are - https://github.com/layer5io/layer5/commit/1203159bf2a321a2ccea4dd156a44b14f1c12e3a#diff-7693eb643e8fe8b8d46b407909b408ceR87

[2020-09-21 20:41] kishore007k commented on #797
Thanks for the reference. @leecalcote
Actually that is what I have done in this.

[2020-09-22 04:20] clementkng commented on #785
Hi @chandrashritii to make this table responsive, do you think it's enough to make all the options accessible by horizontal scroll ie by either changing the overflow-x property to `auto` or utilizing the "responsive-table" class (which introduces its own styling that will need to be overridden) or should I try to make a custom media rule to shrink the table? Asking you because you introduced the t

[2020-09-22 05:37] Nikhil-Ladha commented on #785
I think it would be better to introduce a horizontal scroll, rather than shrinking the table that way the data will be more visible.

[2020-09-22 12:45] leecalcote opened #800 "[Meshery] Broken image for Maesh logo"
**Description**
The multi-mesh table on the layer5.io/meshery page has a broken image.

**Expected Behavior**
An svg of the Maesh logo should be stored in this repo and displayed in the table.

**Screenshots**
<img width="640" alt="Screen Shot 2020-09-22 at 7 43 28 AM" src="https://user-images.githubusercontent.com/7570704/93883590-61df8d00-fca7-11ea-90c7-bd9e6d7990dd.png">

---
**Contributor Reso

[2020-09-22 13:45] bartkalanski commented on #800
Hi! Would you mind if I have a go at this ?

[2020-09-22 13:54] Neilblaze commented on #800
@bartkalanski Sure! Go for it. :+1:

[2020-09-22 16:10] kishore007k commented on #791
Hey @leecalcote  If this issue is still open I'm interested.

Is this how it should be?

### Desktop View :

![Desktop View](https://user-images.githubusercontent.com/34863222/93908253-0b606600-fd1c-11ea-974c-5c5760098b11.PNG)

### Tablet View :

![Tablet View](https://user-images.githubusercontent.com/34863222/93908260-0d2a2980-fd1c-11ea-8c94-127a9b759873.PNG)

### Mobile View :

![Mobile View](h

[2020-09-22 16:12] Nikhil-Ladha commented on #791
The legend must be right aligned. In all the views.

[2020-09-22 16:18] kishore007k commented on #791
@Nikhil-Ladha But in the issue, @leecalcote  mentioned it to be in the center.

[2020-09-22 16:20] Nikhil-Ladha commented on #791
I don't think it would look good, in the centre.
I myself created this page, but due to some other changes this issue has occured.

[2020-09-22 16:23] kishore007k commented on #791
Ok Sure will do that. @Nikhil-Ladha

[2020-09-22 16:54] Pratyush-Saxena commented on #792
@Neilblaze can I take up this issue..

[2020-09-22 17:33] Neilblaze commented on #791
@Nikhil-Ladha Idk why but I think the desktop view and the tablet view looks fine here, but for the mobile view the legend alignment can be changed to like what it is in desktop view or like in stack like structure.

[2020-09-22 17:35] Neilblaze commented on #792
Sure! Go for it. :+1:

[2020-09-22 17:49] Nikhil-Ladha commented on #791
Well, as per the design the legends should be aligned to either side of the screen and not in the centre.

Let's have few more suggestions here
@leecalcote @Tanuj22 @Jashpatel1 @chandrashritii

[2020-09-22 19:45] Neilblaze commented on #791
Yeah I'm taking suggestions whether that looks better on the center or in the either side of the screen :smiley:

[2020-09-22 21:47] Tanuj22 commented on #711
Hey, @dea1j are you still working on this?

[2020-09-23 02:20] #785 closed

[2020-09-23 20:29] Tanuj22 opened #809 "[NG] Change the position of external link on the card"
**Desired Behavior**
Move the external link icon to the right of the card. Changes are to be made in [`components/Card`](https://github.com/layer5io/layer5/tree/layer5-ng/src/components/Card) directory.

Check out https://layer5ng.netlify.app/news for this

![Screenshot from 2020-09-24 01-55-30](https://user-images.githubusercontent.com/42486853/94066040-8ce1f200-fe09-11ea-848b-2d8de822b6e3.png)

[2020-09-23 20:35] #761 closed

[2020-09-24 10:35] #797 closed

[2020-09-24 10:35] Tanuj22 commented on #797
Fixed in #811

[2020-09-24 10:46] PluckyPrecious commented on #591
Hi @Nikhil-Ladha, if it’s okay i could give a hand.

[2020-09-24 11:12] kishore007k commented on #791
@Nikhil-Ladha Is this ok?

![Capture10](https://user-images.githubusercontent.com/34863222/94137688-6ca34900-fe84-11ea-9967-5ecf074f24ce.PNG)

[2020-09-24 11:22] Nikhil-Ladha commented on #591
For what @PluckyPrecious ?

[2020-09-24 11:24] Nikhil-Ladha commented on #791
The text should be in center, and the legend should be in next line, aligned to the right.

[2020-09-24 12:39] Jashpatel1 commented on #710
Fixed in #783

[2020-09-24 12:39] #710 closed

[2020-09-24 14:45] kishore007k commented on #739
I would like to work on this. If this is still open.

[2020-09-24 14:47] Nikhil-Ladha commented on #739
Sure!

[2020-09-24 15:54] NorbertLuszkiewicz commented on #809
I would like to take up this one

[2020-09-24 16:06] Tanuj22 commented on #809
Please go ahead @NorbertLuszkiewicz

[2020-09-24 17:16] Tanuj22 opened #815 "[NG] Add multiple news articles to the layer5-ng site"
**Current Behavior**
The [news pages ](https://layer5ng.netlify.app/news/) of the layer5-ng site contains one news article currently

**Desired Behavior**
Add the rest of the news articles. Data to be added are in [this folder](https://github.com/layer5io/layer5/tree/master/collections/_news). The current news page is [here](https://layer5.io/news). The news article are present for layer5ng [here]

[2020-09-24 18:54] Neilblaze commented on #800
@leecalcote it's also there for the [meshery readme](https://github.com/layer5io/meshery/blob/master/README.md) too!

![yoyo](https://user-images.githubusercontent.com/48355572/94187390-83b65b00-fec5-11ea-8d23-1929937d54fb.JPG)

[2020-09-24 19:10] #800 closed

[2020-09-24 19:55] #809 closed

[2020-09-24 19:56] #672 closed

[2020-09-24 20:29] phillipgibson commented on #591
ok will PR this soon

[2020-09-24 20:30] Nikhil-Ladha commented on #591
Thank you!🙂

[2020-09-24 21:07] lolyparty commented on #815
I would like to work on this

[2020-09-24 21:10] Tanuj22 commented on #815
@lolyparty Please go ahead. You can send PRs one at a time for each of the news articles :)

[2020-09-24 21:42] leecalcote commented on #815
Iterative web programming. :)

[2020-09-24 22:20] jomefavourite commented on #815
I'll try my best

[2020-09-24 23:01] lolyparty commented on #815
@jomefavourite can we work on this together?

[2020-09-24 23:10] jomefavourite commented on #815
@lolyparty Sure

[2020-09-24 23:11] lolyparty commented on #815
I'll hit you up on slack

[2020-09-24 23:11] jomefavourite commented on #815
@leecalcote I have a question, if I had already cloned the master branch, do I have to clone the layer5-ng too

[2020-09-24 23:43] jomefavourite commented on #815
@lolyparty do u know Gatsby,  cause looking at the files is daunting.

[2020-09-24 23:44] lolyparty commented on #815
No, the tag on the issue says react which I'm into

[2020-09-24 23:48] jomefavourite commented on #815
okay, have you cloned the repo?

[2020-09-24 23:51] lolyparty commented on #815
No, I haven't my laptop is dead right now,  but I've  forked the repo

[2020-09-24 23:56] jomefavourite commented on #815
Okay

[2020-09-24 23:57] jomefavourite commented on #815
I'm still trying to figure out what to do

[2020-09-24 23:57] lolyparty commented on #815
I'll send you a message on slack when I'm online

[2020-09-25 00:00] jomefavourite commented on #815
@Tanuj22 could you please point out where news layout is on the repo

[2020-09-25 03:02] Jashpatel1 commented on #815
The [news section for layer5](https://github.com/layer5io/layer5/tree/master/collections/_news) is present here. And the [news section for layer5-ng](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/news) is present here.

[2020-09-25 03:23] Jashpatel1 opened #818 "Update color according to the color code"
**Description**
The [brand page](https://layer5.io/brand) has one of the colors mentioned as #00d3a9, but the color card it maps to is given as black.

**Expected Behavior**
Update the color in the color card to #00d3a9.

**Screenshots**
![image](https://user-images.githubusercontent.com/43696490/94223041-97d17b00-ff0c-11ea-9b49-c3a4b206bd80.png)

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [

[2020-09-25 04:59] manishkrjha commented on #818
Is this issue assigned to anyone? If not then I can fix this.

[2020-09-25 05:06] Jashpatel1 commented on #818
Noone is assigned yet. Please go ahead.

[2020-09-25 06:38] kishore007k commented on #791
This issue has already solved But why is it not yet closed?
Reference #814
@Nikhil-Ladha @Neilblaze @leecalcote

[2020-09-25 06:48] Nikhil-Ladha commented on #791
Because you didn't mention the the issue number in the PR description like 'The PR fixes #<issue_number>'.

[2020-09-25 06:48] Nikhil-Ladha commented on #791
Closed #814

[2020-09-25 06:48] #791 closed

[2020-09-25 09:57] Pratyush-Saxena commented on #792
@Neilblaze please checkout my pr #820

[2020-09-25 12:39] leecalcote commented on #791
@kishore007k - https://docs.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords

[2020-09-25 12:53] kishore007k commented on #791
@leecalcote Thank you for the reference.

[2020-09-25 17:00] sumana-19 commented on #771
@chandrashritii  I'd be interested to do this. Can you assign this to me?

[2020-09-25 17:50] sumana-19 commented on #771
@leecalcote  Thanks for assigning this to me. So, do I have to just replace the Zoom meeting links with the link https://meet.layer5.io/community, right?

[2020-09-25 19:02] #280 closed

[2020-09-25 21:05] Neilblaze commented on #792
@Pratyush-Saxena added review on #820

[2020-09-25 22:25] leecalcote commented on #792
@Pratyush-Saxena thank you for your efforts here. 👍

[2020-09-25 23:09] leecalcote opened #821 "[Books] Buttons misaligned on service mesh book"
**Description**
The book on [this webpage](https://layer5.io/books/the-enterprise-path-to-service-mesh-architectures) has buttons landing on the side of it. See screenshot. Source code for the page [is here](https://github.com/layer5io/layer5/blob/master/collections/_books/2018-06-11-the-enterprise-path-to-service-mesh-architectures.md).

**Expected Behavior**
Buttons should be beneath the book.

[2020-09-25 23:52] leecalcote commented on #708
Much appreciated, @Jashpatel1.

Be sure to take advantage of this offer, @iambami. Here's a Gatsby tutorial that @Jashpatel1 and @Tanuj22 gave in case you weren't on this call - https://www.youtube.com/watch?v=RM3p0nKwuG0

[2020-09-26 03:15] Jashpatel1 commented on #821
@leecalcote Can we add the hacktoberfest label here?

[2020-09-26 05:00] leecalcote commented on #821
Sounds great, yes. Hopefully, someone picks it up sooner, but, yes.

[2020-09-26 05:01] Jashpatel1 opened #825 "[NG] Migrate recent two blogs to Layer5-ng"
**Current Behavior**
Recently, two [blogs](https://layer5.io/blog) have been added to layer5.

**Desired Situation**
Migrate those two blogs to the layer5-ng website.

- [ ] [Announcing Meshery v0.4.0](https://layer5.io/blog/meshery/announcing-meshery-v0.4.0)
- [ ] [My Journey from a contributor to maintainer](https://layer5.io/blog/community/my-journey-from-a-contributor-to-a-maintainer)

---
**C

[2020-09-26 09:15] bartkalanski commented on #821
I'm working on a React project atm but could probably get this done by Monday ?

[2020-09-26 12:10] knowyours commented on #821
Hello, this is my very first open source contribution. Can I get a bit more information about which file I have to work on?

[2020-09-26 14:08] chandrashritii opened #829 "Program card for Hacktoberfest"
**Description**

Create a program card for Hacktoberfest

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses Jekyll and GitHub Pages. Site content is found under the [`mas

[2020-09-26 14:28] chandrashritii commented on #771
@sumana-19 Yes. You simply have to list the meeting links in the below format on https://github.com/layer5io/meet/blob/master/README.md:
 Layer5 community Meeting -  https://meet.layer5.io/community

You may source the meeting links from the meetings table on https://layer5.io/community.

[2020-09-26 14:30] chandrashritii commented on #815
@Tanuj22 The multiple news articles can be separated into individual issues for different contributors to take up.

[2020-09-26 14:39] #794 closed

[2020-09-26 16:26] Tanuj22 opened #830 "[NG] Add Layer5 and HashiCorp Launch Service Mesh Partnership news article"
**Desired Behavior**
Add `Layer5 and HashiCorp Launch Service Mesh Partnership` news article present on the [current site](https://layer5.io/company/news/layer5-hashicorp-launch-service-mesh-partnership) to layer5ng. Check[ #815](https://github.com/layer5io/layer5/issues/815) for more more details.

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
T

[2020-09-26 16:29] Tanuj22 opened #831 "[NG] Add What the Numbers Say about How Service Meshes Are Used Today news article"
**Desired Behavior**
Add `What the Numbers Say about How Service Meshes Are Used Today` news article present on the [current site](https://layer5.io/https:/thenewstack.io/what-the-numbers-say-about-how-service-meshes-are-used-today/) to layer5ng. Check[ #815](https://github.com/layer5io/layer5/issues/815) for more more details.

---
[Optional] **Alternatives**

[Optional] **Additional context**

-

[2020-09-26 16:30] iambami commented on #830
hi would love to take on this

[2020-09-26 16:31] iambami commented on #830
can hactoberfest lebel be on this?

[2020-09-26 16:33] Tanuj22 opened #832 "[NG] Add Learn Cloud Native: Managing service meshes with Meshery news article"
**Desired Behavior**
Add `Learn Cloud Native: Managing service meshes with Meshery` news article present on the [current site](https://layer5.io/news/managing-service-meshes-with-meshery) to layer5ng. Check[ #815](https://github.com/layer5io/layer5/issues/815) for more more details.

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo

[2020-09-26 16:34] Tanuj22 commented on #830
@iambami please go ahead. Applying the hactoberfest label :)

[2020-09-26 16:37] Tanuj22 opened #833 "[NG] Add Vendors make a splash in 2019 service mesh implementation rush news article"
**Desired Behavior**
Add `Vendors make a splash in 2019 service mesh implementation rush` news article present on the [current site](https://layer5.io/news/vendors-make-a-splash-in-2019-service-mesh-implementation-rush) to layer5ng. Check[ #815](https://github.com/layer5io/layer5/issues/815) for more more details.

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contribut

[2020-09-26 16:38] Tanuj22 opened #834 "[NG] Add The New Stack: Meshery in top 3 service mesh developments in 2020 news article"
**Desired Behavior**
Add `The New Stack: Meshery in top 3 service mesh developments in 2020` news article present on the [current site](https://layer5.io/news/meshery-in-top3-service-mesh-developments-in-2020) to layer5ng. Check[ #815](https://github.com/layer5io/layer5/issues/815) for more more details.

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resourc

[2020-09-26 16:39] iambami commented on #830
Alright

[2020-09-26 16:41] Tanuj22 opened #835 "[NG] Add Enterprise Networking Planet: CNCF SIG Network Set to Push Cloud Native Networking Forward news article"
**Desired Behavior**
Add `Enterprise Networking Planet: CNCF SIG Network Set to Push Cloud Native Networking Forward` news article present on the [current site](https://layer5.io/company/news/cncf-sig-network-set-to-push-cloud-native-networking-forward) to layer5ng. Check[ #815](https://github.com/layer5io/layer5/issues/815) for more more details.

---
[Optional] **Alternatives**

[Optional] **Add

[2020-09-26 16:41] mehanix commented on #831
Hello, I could do this if that's okay! Could I be assigned, please?

Thank you!

[2020-09-26 16:43] Tanuj22 opened #836 "[NG] Add KubeCon NA: CNCF SIG Network Set Intro and Deep-Dive news article"
**Desired Behavior**
Add `KubeCon NA: CNCF SIG Network Set Intro and Deep-Dive` news article present on the [current site](https://layer5.io/company/news/cncf-sig-network-intro-and-deep-dive) to layer5ng. Check[ #815](https://github.com/layer5io/layer5/issues/815) for more more details.

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5`

[2020-09-26 16:45] Tanuj22 opened #837 "Add Layer5 Joins the CNCF news article"
**Desired Behavior**
Add `Layer5 Joins the CNCF` news article present on the [current site](https://layer5.io/news/layer5-joins-the-cncf) to layer5ng. Check[ #815](https://github.com/layer5io/layer5/issues/815) for more more details.

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and

[2020-09-26 16:46] Tanuj22 opened #838 "[NG] Add Forrester: Layer5 and Meshery Help Developers Focus On The Business news article"
**Desired Behavior**
Add `Forrester: Layer5 and Meshery Help Developers Focus On The Business` news article present on the [current site](https://layer5.io/news/layer5-meshery-forrester) to layer5ng. Check[ #815](https://github.com/layer5io/layer5/issues/815) for more more details.

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo

[2020-09-26 16:48] Tanuj22 commented on #815
@jomefavourite @lolyparty This issue has been broken you smaller sub-issues. I am assigning you each of you one of them :)

[2020-09-26 16:49] Tanuj22 commented on #834
@lolyparty Can you take this?

[2020-09-26 16:50] Tanuj22 commented on #831
@mehanix Please go ahead.

[2020-09-26 16:52] lolyparty commented on #834
Yes

[2020-09-26 17:08] mehanix commented on #831
Thank you for the learning opportunity! I'll get it done in time for Hacktober.

[2020-09-26 17:11] leecalcote commented on #815
@Tanuj22 that is most helpful. 👍

[2020-09-26 17:11] Tanuj22 commented on #831
Awesome. Do jump into Layer5 community  http://slack.layer5.io. It's a welcoming place. :)

[2020-09-26 18:00] anshdhinhgra47 commented on #836
I'd like to give this a shot

[2020-09-26 18:13] jomefavourite commented on #815
Okay @Tanuj22

[2020-09-26 18:15] lolyparty commented on #815
Have you been able to setup your development environment?

[2020-09-26 18:27] Harshita-Kanal commented on #837
Can I take this up ?

[2020-09-26 18:46] jomefavourite commented on #815
Yes @lolyparty

[2020-09-26 18:48] jomefavourite commented on #815
Could you please put me through the process @lolyparty

[2020-09-26 18:52] lolyparty commented on #815
I sent you a message on slack

[2020-09-26 19:10] Tanuj22 commented on #836
@anshdhinhgra47 Please go ahead

[2020-09-26 21:36] lolyparty commented on #834
the thumbnail is a png file and not svg should I use it like that?

[2020-09-26 21:38] Tanuj22 commented on #834
Yeah

[2020-09-27 03:36] knowyours commented on #821
I made a change that corrects this issue and made a PR but forgot to ask to be assigned to the issue? Can I work on this?

[2020-09-27 03:49] lolyparty commented on #834
hey @Tanuj22 please can you help me? I keep getting this error while trying to view the news
![Annotation 2020-09-27 044748](https://user-images.githubusercontent.com/49575651/94355540-cc644480-007c-11eb-83d8-30162018cb96.png)

[2020-09-27 04:27] Tanuj22 commented on #834
@lolyparty Two things to try out -
- Stop the development server. Then delete the `.cache` and `public` folder and restart the server.
- If still you get the same error. Check the build logs. There must be some error message present there.

[2020-09-27 04:40] lolyparty commented on #834
ok, I'll try that. Another question though, the link containing texts are not really differentiated from other text how do I differentiate them should I use <i></i> tag like this?
![Annotation 2020-09-27 053956](https://user-images.githubusercontent.com/49575651/94356237-efdebd80-0083-11eb-8ec7-c7b02074a209.png)

[2020-09-27 04:49] Tanuj22 commented on #834
This must have changed due to a recent PR about Color changes. You can ignore this for now. It is controlled centrally so we can change it later.

[2020-09-27 05:06] lolyparty commented on #834
ok

[2020-09-27 05:14] anshdhinhgra47 commented on #836
Thanks for assigning the issue!
Also, would it be okay if I create a PR on or after October 1st?

[2020-09-27 05:42] Jashpatel1 opened #843 "[NG] Make project grid dynamic"
**Current Behavior**
Currently, the project grid is fed with data statically.

**Desired Situation**
Make the project grid page dynamic picking titles from respective mdx files.

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `lay

[2020-09-27 06:07] lolyparty commented on #838
I'd like to work on this

[2020-09-27 07:21] Tanuj22 commented on #836
Yeah Sure

[2020-09-27 07:27] Tanuj22 commented on #838
Go ahead

[2020-09-27 07:30] #818 closed

[2020-09-27 08:35] Nikhil-Ladha commented on #821
You are most welcome to do so @knowyours 💯

[2020-09-27 10:54] anshdhinhgra47 commented on #836
Thank you :)

[2020-09-27 12:52] #837 closed

[2020-09-27 15:05] #834 closed

[2020-09-27 15:24] lolyparty commented on #838
On it

[2020-09-27 18:20] codetheorem commented on #835
assign this to me

[2020-09-27 18:35] Tanuj22 commented on #835
Go ahead

[2020-09-28 05:43] kishore007k commented on #832
I would like to work on this issue! If this is still open

[2020-09-28 05:44] kishore007k commented on #711
I would love to work on this! If it is still open

[2020-09-28 09:03] Tanuj22 commented on #832
Go Ahead

[2020-09-28 11:59] #821 closed

[2020-09-28 13:50] chandrashritii commented on #771
@sumana-19 Do let me know if you have any other questions

[2020-09-28 17:04] #843 closed

[2020-09-28 17:39] Jashpatel1 opened #848 "[NG] Migrate Code of conduct page to layer5-ng"
**Current Behavior**
The current website has code of conduct over [here.](https://layer5.io/terms/code-of-conduct) This is to be migrated to layer5-ng.

**Desired Situation**
Create a page for code of conduct in the pages folder.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is

[2020-09-28 17:46] JubayerJoy commented on #848
If strictly not for first-timers, I want to give it a shot. @Jashpatel1

[2020-09-28 18:00] leecalcote commented on #848
@JubayerJoy, nope, it's not. Please take it away. 👍

[2020-09-28 18:45] HeroicHitesh commented on #455
@leecalcote I just checked the website and this issue seems to be resolved, although I am not sure in which PR it's resolved, I guess this is no longer a relevant issue and hence can be closed. Correct me if I am wrong.

[2020-09-28 18:46] Jashpatel1 opened #849 "Delete duplicate Service Mesh Interface Page"
**Description**
Just a small update in the issue, as we already have a same project page so I am redefining the issue as deleting the service mesh page. Hope its okay with the change @bartkalanski . You will have to just delete the [smi page](https://github.com/layer5io/layer5/blob/master/collections/_pages/service-mesh-interface.html) from the [pages folder](https://github.com/layer5io/layer5/blo

[2020-09-28 18:48] bartkalanski commented on #849
Do you mind if I do this for hacktober fest

[2020-09-28 18:56] Jashpatel1 commented on #849
Cool, go ahead. I am assigning this to you.

[2020-09-28 18:56] bartkalanski commented on #849
I appreciate it, thank you :)

[2020-09-28 19:04] Jashpatel1 opened #850 "[NG] Migrate the Meshmates page to Layer5-ng"
**Current Behavior**
The current website has [Meshmates](https://layer5.io/community/meshmates) page under the community section.

**Desired Situation**
Migrate the Meshmates page under the [community folder](https://github.com/layer5io/layer5/tree/layer5-ng/src/pages/community) in pages section.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the

[2020-09-28 19:10] Jashpatel1 opened #851 "[NG] Migrate the About page to layer5-ng"
**Current Behavior**
The current website has an About Us page. The page can be seen [here](https://layer5.io/about).

**Desired Situation**
Migrate the About Us page to layer5-ng.

**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the

[2020-09-28 19:28] leecalcote commented on #455
@HeroicHitesh thank you for looking into this. You're right that this issue has essentially been resolved. We're in the process of transitioning this site from Jekyll to Gatsby (see previews at https://layer5ng.netlify.app/). Each of these buttons and program descriptions need to be migrated to this new site (see the [`layer5-ng` branch](https://github.com/layer5io/layer5/tree/layer5-ng) in this r

[2020-09-28 19:29] leecalcote commented on #455
There are a number of other issues up for grabs that might be of interest. Please don't be shy. 👍

[2020-09-28 19:29] #455 closed

[2020-09-28 19:40] Tanuj22 commented on #792
FIxed in #820

[2020-09-28 19:40] #792 closed

[2020-09-29 02:00] leecalcote opened #853 "Recognizing Prateek Tripathy as a contributor"
**Current Behavior**
@tripathyprateek a new community contributor.

**Desired Behavior**
A profile for @tripathyprateek should be created and visible on `/community/members`.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the

[2020-09-29 05:33] ampsteric commented on #849
I would like to work on this issue as well. please assign in case the issue is not resolved.

[2020-09-29 05:44] Harshita-Kanal commented on #851
Can I take this up ?

[2020-09-29 05:45] Jashpatel1 commented on #851
Yaa sure, go ahead.

[2020-09-29 05:47] Jashpatel1 commented on #849
Sorry to say, Bart has already shown interest in working on this issue. Please look forward for other issues you can look to tackle. Thanks for your interest.

[2020-09-29 12:27] bartkalanski commented on #849
I'm happy with the change, so to confirm, rather than fix the overview typo I'll have to delete the smi page and then submit a PR ?

[2020-09-29 14:01] Jashpatel1 opened #855 "[NG] Migrate Events Page to layer5-ng"
**Current Behavior**
The current website has events page over [here](https://layer5.io/events).

**Desired Situation**
Create an events page under the pages section.
Tip: There is a[ card component](https://github.com/layer5io/layer5/tree/layer5-ng/src/components/Card) already made, which can be used as required.

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributo

[2020-09-29 20:27] #740 closed

[2020-09-30 05:43] naman360 commented on #855
Can I work on this issue?

[2020-09-30 07:01] Jashpatel1 commented on #855
Yaa sure, please go ahead. Thank you.

[2020-09-30 07:32] Tanuj22 commented on #708
FIxed in #826

[2020-09-30 07:32] #708 closed

[2020-09-30 08:02] Tanuj22 commented on #793
@vinayaksh42 any updates here?

[2020-09-30 08:03] Tanuj22 commented on #707
@UdokaVrede are you working on this?

[2020-09-30 09:06] UdokaVrede commented on #707
I got a new device, I have been having issues setting up, I have unassigned myself so someone else could pick up the issue, so you can go ahead with it. @Tanuj22

[2020-09-30 09:58] #739 closed

[2020-09-30 14:48] Tanuj22 opened #857 "[NG] Migrate the Software Engineering Internship page to layer5-ng"
**Current Behavior**
The current `layer5-ng` site contains a single post on the [careers page ](https://layer5ng.netlify.app/careers)

**Desired Behavior**
Add the[ Software Engineering Internship page ](https://layer5.io/careers/software-engineer-internship) from the [current site](https://layer5.io/careers) into layer5-ng.

The data for the various job post are found inside [this folder](https:/

[2020-09-30 14:57] Tanuj22 opened #858 "[NG] Migrate the UI Visual Designer Internship page to layer5-ng"
**Current Behavior**
The current `layer5-ng` site contains a single post on the [careers page ](https://layer5ng.netlify.app/careers)

**Desired Behavior**
Add the[  UI Visual Designer Internship page ](https://layer5.io/careers/ui-visual-designer-internship) from the [current site](https://layer5.io/careers) into layer5-ng.

The data for the various job post are found inside [this folder](https:/

[2020-09-30 15:01] Tanuj22 opened #859 "[NG] Migrate the Software Engineering page to layer5-ng"
**Current Behavior**
The current `layer5-ng` site contains a single post on the [careers page ](https://layer5ng.netlify.app/careers)

**Desired Behavior**
Add the[ Software Engineering page ](https://layer5.io/careers/software-engineer) from the [current site](https://layer5.io/careers) into layer5-ng.

The data for the various job post are found inside [this folder](https://github.com/layer5io/l

[2020-09-30 15:03] Tanuj22 opened #860 "[NG] Migrate the UI Visual Designer page to layer5-ng"
**Current Behavior**
The current `layer5-ng` site contains a single post on the [careers page ](https://layer5ng.netlify.app/careers)

**Desired Behavior**
Add the[ UI Visual Designer page ](https://layer5.io/careers/ui-visual-designer) from the [current site](https://layer5.io/careers) into layer5-ng.

The data for the various job post are found inside [this folder](https://github.com/layer5io/la

[2020-09-30 15:04] Tanuj22 opened #861 "[NG] Migrate the UX Engineer page to layer5-ng"
**Current Behavior**
The current `layer5-ng` site contains a single post on the [careers page ](https://layer5ng.netlify.app/careers)

**Desired Behavior**
Add the[  UX Engineer page ](https://layer5.io/careers/ux-engineer) from the [current site](https://layer5.io/careers) into layer5-ng.

The data for the various job post are found inside [this folder](https://github.com/layer5io/layer5/tree/mas

[2020-09-30 16:24] Pratyush-Saxena opened #862 "remove scroll-bars"
**Current Behavior**
remove these unwanted scroll bars in [workshop page](https://layer5.io/workshops)

![sc](https://user-images.githubusercontent.com/52444607/94712536-3de71000-0367-11eb-80dc-b7adc8893c28.png)
![sc2](https://user-images.githubusercontent.com/52444607/94712579-4f301c80-0367-11eb-928a-b68c8896bc0b.png)

---
**Contributor Resources**
The `layer5` repo contains two websites. The cur

[2020-09-30 17:00] Tanuj22 opened #863 "[NG] Migrate the UI Engineer page to layer5-ng"
**Current Behavior**
The current `layer5-ng` site contains a single post on the [careers page ](https://layer5ng.netlify.app/careers)

**Desired Behavior**
Add the [UI Engineer page ](https://layer5.io/careers/ui-engineer) from the [current site](https://layer5.io/careers) into layer5-ng.

The data for the various job post are found inside [this folder](https://github.com/layer5io/layer5/tree/mast

[2020-09-30 17:23] Tanuj22 commented on #709
@Pratyush-Saxena any updates here?

[2020-09-30 20:51] #829 closed

[2020-09-30 21:31] leecalcote commented on #833
Good deal. @jomefavourite, be sure to reference the issue number that your PR fixes in the PR description (e.g. "fixes #833).

[2020-09-30 22:24] jomefavourite commented on #833
@leecalcote

Yh I will, turns out the push wasn't done properly, I'll get back to it.

[2020-09-30 23:34] leecalcote commented on #853
@chandrashritii up for your consideration.

[2020-09-30 23:36] #773 closed

[2020-09-30 23:40] leecalcote commented on #674
@PluckyPrecious these items might be finished now. Will you double-check and close, if so?

[2020-10-01 01:46] lolyparty commented on #857
I'd like to work on this

[2020-10-01 02:51] leecalcote commented on #857
Wonderful.

[2020-10-01 03:46] Jashpatel1 opened #868 "[NG] Remove the extra padding from Single News template"
**Description**
The single news page has a lot of padding at the bottom. It sums up for mobile view even.

**Expected Behavior**
Remove the extra padding present from the single news template.

**Screenshots**
![Capture](https://user-images.githubusercontent.com/43696490/94762920-98fc1f80-03c6-11eb-9604-07c9beaa5d9a.JPG)
![Capture](https://user-images.githubusercontent.com/43696490/94762964-b3ce94

[2020-10-01 03:48] stevenbudinata commented on #868
Hi, can you assign me to this. Thank you

[2020-10-01 03:48] nimendrak commented on #868
I would like to contribute in this.

[2020-10-01 03:51] Jashpatel1 commented on #868
Sure, please go ahead. The issue relates to layer5-ng website. Please look into the contributor resources to know about it.

[2020-10-01 03:54] Jashpatel1 commented on #868
Sorry to say but a person has already shown his interest in contributing to this issue. Please look into other issues present on layer5. You will find many good first issues in the near future as well. Thanks for your interest.

[2020-10-01 03:55] leecalcote commented on #868
@nimendrak fear not! We have you covered. 😄 Have a look-see - https://github.com/issues?utf8=✓&q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+label%3A%22help+wanted%22+

[2020-10-01 03:56] knowyours commented on #862
Hello, can I take this issue up?

[2020-10-01 04:06] Nikhil-Ladha commented on #674
@leecalcote the design issue is resolved but the addition of data is still left, that's the reason the issue is kept in Open state till now.

[2020-10-01 04:08] Jashpatel1 commented on #838
Closed with #867

[2020-10-01 04:08] #838 closed

[2020-10-01 04:27] thescripted commented on #861
I believe I can submit a PR for this in a couple days. Mind if I take this up?

[2020-10-01 04:28] Pratyush-Saxena commented on #862
yes, go ahead

[2020-10-01 04:29] Tanuj22 commented on #861
@thescripted please go ahead

[2020-10-01 04:47] knowyours commented on #862
@Pratyush-Saxena Thanks for the confirmation. Can I be assigned to this issue please?

[2020-10-01 04:50] Pratyush-Saxena commented on #709
@Tanuj22 ..actually i am new to react and on my way in learning it , so it may take up some more time . i guess you must assign it to someone else, if you want it to be completed in a set of time .

[2020-10-01 05:27] knowyours commented on #862
I was able to fix the unwanted scrollbars problem but there seems to be a blank space appearing in the preview build. Can you please review this? @Pratyush-Saxena

![image](https://user-images.githubusercontent.com/66682806/94771388-b2a46380-03d4-11eb-9470-73d3beeb8392.png)

[2020-10-01 05:28] #591 closed

[2020-10-01 07:02] Jashpatel1 commented on #849
Closing with #870

[2020-10-01 07:02] #849 closed

[2020-10-01 07:02] Jashpatel1 commented on #868
Closing with #869

[2020-10-01 07:02] #868 closed

[2020-10-01 08:18] #861 closed

[2020-10-01 12:59] geraldmaboshe commented on #850
Hey @Jashpatel1  I would like to take up this

[2020-10-01 13:10] jomefavourite commented on #833
I just made another PR again, hope I got it right now

[2020-10-01 15:48] lolyparty commented on #863
Hey @Josephchinedu, what would you like to understand?

[2020-10-01 15:59] Jashpatel1 commented on #850
Yaa sure, please go ahead. Thanks

[2020-10-01 16:32] leecalcote opened #878 "[Programs] Add 1st hacktoberfest meetup slides to program page"
**Current Behavior**
Add a link and description of @vijcheru's preso to the hacktoberfest page.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses Jekyll and GitHub Pages

[2020-10-01 18:02] leecalcote opened #881 "[Programs] Schedule another Hacktoberfest meetup"
**Current Behavior**
Each Thursday this month, the Layer5 community will host a Hacktoberfest meetup at the Newcomers call.

**Desired Situation**
A new Hacktoberfest meetup (akin to this one - https://organize.mlh.io/participants/events/4796) should be scheduled for each Thursday.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generatio

[2020-10-01 18:10] leecalcote opened #882 "[Programs] Add schedule of topics for Newcomers/Hacktoberfests tutorials"
**Current Behavior**
A list of topics and proposed tutorials is being created.

**Desired Situation**
Do you hacktoberfest page should reflect the proposed tutorials and their delivery dates.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue

[2020-10-01 18:28] leecalcote opened #883 "[Books] Add second edition of The Enterprise Path to Service Mesh Architectures"
**Current Behavior**
There is a new edition of this book coming out shortly - https://layer5.io/books/the-enterprise-path-to-service-mesh-architectures

**Desired Behavior**
1. The second edition should be added as a new entry. This description may be used:
[code]
2. The first edition entry should remain as-is.

**Book Cover**
Use this image as the book cover for the second edition entry. Resize a

[2020-10-01 18:29] #878 closed

[2020-10-01 18:55] leecalcote opened #884 "[Programs] Add Layer5 Community Hacktoberfest logo to program page"
**Current Behavior**
The Layer5 community have a special Hacktoberfest graphic to share on this page - https://layer5.io/programs/hacktoberfest

**Desired Behavior**
Add the graphic below to the Hacktoberfest page. Replace the existing generic graphic with this one.
![Layer5-Hacktoberfest](https://user-images.githubusercontent.com/7570704/94851172-b1336500-03ed-11eb-917c-9bdb67ba8684.png)

---
**C

[2020-10-01 19:05] bartkalanski commented on #884
I’m away for a little birthday celebration but will try and get it done by Sunday if that’s okay ?

[2020-10-01 19:07] leecalcote commented on #884
@bartkalanski thanks much. Yes, sounds real good. The next Layer5 Hacktoberfest meetup is on Thursday, October 8th.

[2020-10-01 19:08] #862 closed

[2020-10-01 20:09] #853 closed

[2020-10-01 22:20] oyakhilomee commented on #883
@Lee I'll like to take this.

[2020-10-02 00:55] leecalcote opened #888 "[Programs] Add button for hacktoberfest to list of programs"
**Current Behavior**
On the front page of https://layer5.io is listed four program that Layer5 participates in (see screenshot)

**Desired Behavior**
The https://layer5.io/programs/hacktoberfest should be represented by a button as well.

**Screenshot**
<img width="1220" alt="Screen Shot 2020-10-01 at 7 52 45 PM" src="https://user-images.githubusercontent.com/7570704/94877379-f1134000-041f-11eb-87

[2020-10-02 00:57] leecalcote opened #889 "[Events] Add KubeCon NA 2020 talk to /events collection"
**Current Behavior**
Layer5 is speaking at KubeCon NA 2020

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses Jekyll and GitHub Pages. Site content is found under the [`m

[2020-10-02 02:52] EdgeKing810 commented on #888
Hey, I want to work on this. Please assign me!

[2020-10-02 04:52] tripathyprateek commented on #881
I will update the link to the Meetup once it gets approved by today.

[2020-10-02 04:57] knowyours commented on #888
@leecalcote @Nikhil-Ladha  Can I be assigned to work on this issue?

[2020-10-02 05:37] Nikhil-Ladha commented on #888
@knowyours , this issue was already worked upon by @EdgeKing810 . So, you can close your PR, and look for other issues to work upon. I am preferring his PR as he asked earlier for it.😅

[2020-10-02 05:38] knowyours commented on #888
@Nikhil-Ladha No problem :)

[2020-10-02 09:10] #857 closed

[2020-10-02 11:35] #851 closed

[2020-10-02 12:05] Tanuj22 commented on #781
@JubayerJoy are you working on this?

[2020-10-02 12:11] Harshita-Kanal commented on #860
Can I take this up ?

[2020-10-02 12:13] Tanuj22 commented on #860
Please go ahead

[2020-10-02 12:22] Jashpatel1 opened #893 "[NG] Migrate Meshery Page to layer5-ng"
**Current Behavior**
The current meshery page is as shown [here](https://layer5.io/meshery).

**Desired Situation**
Migrate the meshery page and make use of sections that are provided in the template.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then t

[2020-10-02 13:15] Nikhil-Ladha commented on #674
@leecalcote we don't have data for Kuma to add it in the timeline can you please update that?
Or share that I will update it then.

[2020-10-02 13:18] Nikhil-Ladha commented on #568
@Anita-ihuman now would be good time to submit the PR...unless you are not interested in a hacktoberfest swag? :')

[2020-10-02 13:36] iamsurajdc commented on #858
I would like to take this @Tanuj22 .

[2020-10-02 13:36] iamsurajdc commented on #859
I would like to take this @Tanuj22 .

[2020-10-02 13:40] leecalcote commented on #674
Is is just announce date that we're in need of?

[2020-10-02 13:42] leecalcote commented on #674
@Nikhil-Ladha Sep 10, 2019 announce date for Kuma

[2020-10-02 14:19] chandrashritii opened #894 "Update MeshMate cards"
**Current Behavior**

The individual MeshMate cards currently don't reflect details about the MeshMate on this [page](https://layer5.io/community/meshmates).

**Desired Behavior**

Each MeshMate card should include the following details about the MeshMate, in the below-mentioned order. This should preferably be placed under their name and above their Social ID's:
- Domain(s)
- Timezone

The detail

[2020-10-02 14:21] Tanuj22 opened #896 "[NG] Create social links component"
**Current Behavior**
Social icons are being used in both footer and about us page.

**Desired Behavior**
Create a separate component for them so that they can be reused. Keep the component in the `component` folder and use that in both the footer and the about us page.

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo contains two

[2020-10-02 14:21] Tanuj22 commented on #896
@Harshita-Kanal ^^

[2020-10-02 14:33] Nikhil-Ladha commented on #674
Yeah...cool will submit a PR ASAP.

[2020-10-02 15:36] chandrashritii opened #898 "[Events] CCOSS workshop"
**Desired Situation**

Add an event card for the CCOSS workshop to the events page. CC// @jesuslerma

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which uses Jekyll and GitHub

[2020-10-02 16:19] knowyours commented on #894
@chandrashritii Can I take this issue up? And can you please brief a bit more about what should be done?

[2020-10-02 16:33] knowyours commented on #894
Should the changes mentioned be done in "https://layer5.io/community/meshmates" itself or in th card that appears on each page after clicking on each card from the above mentioned page?

[2020-10-02 17:41] chandrashritii commented on #894
@knowyours The changes should be done in the page that appears when you click on the card. For example, For Kush Trivedi, the details should be added on https://layer5.io/community/members/kush-trivedi.

Any suggestions here? @Nikhil-Ladha

[2020-10-02 17:46] Nikhil-Ladha commented on #894
Yes correct @chandrashritii . This is what needed, also a backdrop of the MeshMate logo can be added here.

[2020-10-02 19:33] JubayerJoy commented on #781
Hi @Tanuj22!
I am still learning gatsby, It'll take time.
Feel free to take this if you want.

[2020-10-02 20:07] #888 closed

[2020-10-02 20:08] #674 closed

[2020-10-03 04:05] #784 closed

[2020-10-03 05:54] Neilblaze commented on #570
closed via #694

[2020-10-03 05:54] #570 closed

[2020-10-03 08:00] vinayaksh42 commented on #793
sorry for the delay. I am on it now @Tanuj22

[2020-10-03 18:31] Nikhil-Ladha opened #907 "Content overlapping on the hacktoberfest program page"
**Description**

In the mobile view, the google from iframe is overlapping on the content of the hacktober fest program on the page layer5.io/programs/hactoberfest
**Expected Behavior**

The iframe should be moved to the bottom of the content in the mobile view.
**Screenshots**

![Screenshot from 2020-10-03 23-56-32](https://user-images.githubusercontent.com/29438875/94999105-a71f8b00-05d4-11eb-95

[2020-10-03 19:01] ashutosh1401 commented on #907
Could i work in this issue

[2020-10-03 19:07] ritik307 commented on #907
i would like to contribute to this issue

[2020-10-03 19:18] Nikhil-Ladha commented on #907
Sure @ritik307 go ahead!

[2020-10-03 19:29] ashutosh1401 commented on #907
Could i also work on this issue

[2020-10-03 19:30] Nikhil-Ladha commented on #907
Sorry, @ashutosh1401 . You can take up some other open issue🙂

[2020-10-03 21:46] geraldmaboshe commented on #707
Hey @chandrashritii , I would like to take up this

[2020-10-03 21:50] geraldmaboshe commented on #894
Hey @chandrashritii  I would like to take up this

[2020-10-03 21:53] geraldmaboshe commented on #863
Hey @Tanuj22 I would like to take up this

[2020-10-03 21:54] Tanuj22 commented on #707
@geraldmaboshe Go ahead. One thing to note here is that. For this page, you simply need to create a file in `collections/programs` and fill the data accordingly taking reference from the gsoc and gsod page already available.

[2020-10-03 21:55] geraldmaboshe commented on #707
Cool, thanks

[2020-10-03 22:10] #850 closed

[2020-10-03 22:47] chandrashritii commented on #894
Sure @geraldmaboshe Go ahead 👍

[2020-10-04 04:09] Jashpatel1 opened #908 "[NG] Migrate GSoC19 page to layer5-ng"
**Current Behavior**
The current website has GSoC19 page over [here](https://layer5.io/programs/gsoc/2019).

**Desired Situation**
Migrate the GSoC19 page to layer5-ng. See the migration of [GSoC20 page](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/programs/gsoc-2020) for reference.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation

[2020-10-04 04:12] Jashpatel1 opened #909 "[NG] Migrate MLH2020 page to layer5-ng"
**Current Behavior**
The current website has MLH2020 page over [here.](https://layer5.io/programs/mlhfellowship/2020)

**Desired Situation**
Migrate the MLH2020 page to layer5-ng. Please look into how various [programs](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/programs) have been migrated for reference.

---
**Contributor Resources**
The `layer5` repo contains two websites

[2020-10-04 04:19] Jashpatel1 opened #911 "[NG] Migrate two blogs to layer5-ng"
**Current Behavior**
Recently, two blogs have been added to layer5.

**Desired Situation**
Migrate those two blogs to layer5-ng. Please look into other[ migrated blogs](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/blog) for reference.

- [ ] [Learn to write and deploy WASM filters](https://layer5.io/blog/webassembly/learn-how-to-write-wasm-filters-for-envoy-in-rust-and-deploy-

[2020-10-04 06:20] kishore007k commented on #911
I would like to work on this issue

[2020-10-04 06:21] Jashpatel1 commented on #911
Thanks, Please go ahead.

[2020-10-04 06:23] ashutosh1401 commented on #908
I couldn't understand issue well could you explain it in more simpler way

[2020-10-04 06:37] Jashpatel1 commented on #908
There is a current Jekyll-based website deployed at [https://layer5.io/](https://layer5.io/). We are migrating to Gatsby(a React framework) based website which is currently stored in the same repo under[ layer5-ng branch.](https://github.com/layer5io/layer5/tree/layer5-ng) The issue is to migrate two blogs from the current website(i.e. master branch) to layer5-ng website(i.e. layer5-ng branch). Th

[2020-10-04 06:50] ashutosh1401 commented on #908
So i have to write .mdx file for GSOC19 page as mentioned in the reference GSOC20 page or a react page if i work on this issue

[2020-10-04 06:51] Jashpatel1 commented on #908
A .mdx file

[2020-10-04 06:52] ashutosh1401 commented on #908
Could i work on this issue

[2020-10-04 06:52] Jashpatel1 commented on #908
Yaa sure, please go ahead.

[2020-10-04 07:14] ashutosh1401 commented on #908
I am facing this error while setting it up locally when i type `make setup-libs`  i got : `bash: make: command not found`

[2020-10-04 07:16] Jashpatel1 commented on #908
Please refer to the contributing guidelines for layer5-ng present under the issue.

[2020-10-04 07:21] ashutosh1401 commented on #908
yes

Yes i have installed npm, nodejs and gatsby-cli, i am working in windows 10 OS.

[2020-10-04 07:43] Tanuj22 commented on #908
@ashutosh1401 that's an issue with windows to run `make` commands. You can follow these commands -

- `npm install` in place of `make setup-libs`
- `npm start` in place of `make site`

[2020-10-04 07:44] ashutosh1401 commented on #908
@Tanuj22 thanks

[2020-10-04 08:10] #651 closed

[2020-10-04 09:18] lolyparty commented on #909
I'd like to work on this.

[2020-10-04 10:14] spielers commented on #893
@Jashpatel1 I would love to work on this issue

[2020-10-04 10:17] spielers commented on #909
Hey, @Jashpatel1 I would like to migrate this.

[2020-10-04 10:31] #911 closed

[2020-10-04 10:31] #860 closed

[2020-10-04 10:32] #707 closed

[2020-10-04 11:53] Jashpatel1 commented on #893
Sorry to say, this issue is already assigned, please look out for other issues on layer5. Thanks for your interest in contributing to layer5.

[2020-10-04 12:13] #863 closed

[2020-10-04 12:45] #835 closed

[2020-10-04 15:18] Jashpatel1 commented on #859
Sure. Please go ahead. I am assigning you this issue.

[2020-10-04 15:26] Jashpatel1 commented on #908
Closing with #917

[2020-10-04 15:26] #908 closed

[2020-10-04 22:28] lolyparty commented on #909
Hey, @spielers, I'm already on this.  I'll make sure to tag you when I find a new issue for you.

[2020-10-05 00:16] leecalcote commented on #601
The formatting on this page could use some attention. @pranikz, is this issue still of interest?

[2020-10-05 00:18] leecalcote commented on #558
@smritiRGI @usamaidrsk Is this mobile formatting issue something that either of you are interested to address?

[2020-10-05 00:30] leecalcote commented on #894
Yes, that's right. The description in the issue calls for details to be placed on the cards on the /community/meshmates page, however. Hence, the confusion.

@geraldmaboshe's recent PR on this issue places the details on the page listing the collection of MeshMates (as characterized in the issue description), not on the individual MeshMate member pages. @chandrashritii will you work with @geraldma

[2020-10-05 02:49] lolyparty commented on #909
@Jashpatel1 there's no picture for mlh logo [here](https://layer5.io/programs/mlhfellowship/2020)

[2020-10-05 02:53] Jashpatel1 commented on #909
You can download from here https://github.com/MLH/mlh-localhost-github/blob/master/static/logo.svg

[2020-10-05 03:03] lolyparty commented on #909
Thank you

[2020-10-05 05:58] ashutosh1401 commented on #825
Could i work on this issue if it is still open

[2020-10-05 06:12] Jashpatel1 commented on #825
@manishdangi98 Are you still working on it?

[2020-10-05 06:23] manishdangi98 commented on #825
Yes, @Jashpatel1, I have migrated one blog, [My Journey from a contributor to maintainer](https://layer5.io/blog/community/my-journey-from-a-contributor-to-a-maintainer); this is remaining today. I will complete this by today

[2020-10-05 06:25] Jashpatel1 commented on #825
Sorry to say, the issue is already assigned to someone else. I will tag you on some other open issue soon. Thanks for your interest in contributing to layer5.

[2020-10-05 07:15] #711 closed

[2020-10-05 07:16] #832 closed

[2020-10-05 08:18] Jashpatel1 commented on #831
@mehanix Are you working on this issue? Please feel free to ask if you get stuck somewhere.

[2020-10-05 08:19] Jashpatel1 commented on #830
@iambami Are you working on this issue? Please feel free to ask if you get stuck somewhere.

[2020-10-05 08:52] mehanix commented on #831
Hello,

University just started in my country, therefore a lot of things have piled up in my log. I'll try to complete this by the end of the week, if that's okay? If not, tell me and I'll move higher up in my priority queue.

Thank you!

[2020-10-05 08:54] Jashpatel1 commented on #831
No worries, you can do it by this week.

[2020-10-05 13:35] Jashpatel1 commented on #781
@kishore007k Do you want to give it a try?

[2020-10-05 13:38] kishore007k commented on #781
Yeah sure! @Jashpatel1

[2020-10-05 14:33] ashutosh1401 opened #922 "Incorrect Placement of icons in https://layer5ng.netlify.app/classic in Integration section"
**Description**

Their is mention of Slack in integration section but the image icon is attached is of instagram and similiar problem exists with instagram as it has slack icon. This issue is present in layer5-ng website [Layer5-ng](https://layer5ng.netlify.app/classic).

**Expected Behavior**

Icons of respective links must be at their positions.

**Screenshots**

![Screenshot (182)](https://user

[2020-10-05 14:34] geraldmaboshe commented on #894
@chandrashritii

[2020-10-05 15:12] bartkalanski commented on #922
Do you mind if I have a go at this ?

[2020-10-05 15:15] ashutosh1401 commented on #922
I am not the maintainer but i just discovered this issue and i would like to solve this one with confirmation with one of the maintainer so that they could add more appropriate labels or approve this issue

[2020-10-05 15:19] leecalcote commented on #922
Thanks for raising this up, @ashutosh1401, and for raising your hand, @bartkalanski.

We'll want to step back a little here before executing on changes to this page. This page is a template that we've yet to give holistic consideration as to what to do with it.

Here is a spreadsheet that tracks outstanding items for the creation of the new layer5.io site (rebasing from Jekyll to Gatsby) - https:/

[2020-10-05 15:49] leecalcote commented on #922
Gents, in a similar vein, an issue can be opened to fix the overlap of text and arrows seen here:

<img width="1332" alt="Screen Shot 2020-10-05 at 6 47 14 AM" src="https://user-images.githubusercontent.com/7570704/95101923-599c3e80-06f8-11eb-8343-cb8b47b759f9.png">

[2020-10-05 15:55] #881 closed

[2020-10-05 18:07] bartkalanski commented on #922
Thanks for the info Lee, sadly I'm not familiar with Adobe after Effects

[2020-10-06 06:24] Jashpatel1 commented on #909
Closing with #923

[2020-10-06 06:25] #909 closed

[2020-10-06 10:27] #922 closed

[2020-10-06 14:45] daksh-sagar opened #924 "The GSoC, GSoD, Community Bridge link on the Home Page and footer return 404 Not Found"
This is the link - https://layer5.io/programs/communitybridge/2020
Upon visiting the link the page said to file an issue so I did 😁

[2020-10-06 15:00] leecalcote commented on #924
Haha! Thank you, @daksh-sagar. 👍

[2020-10-06 15:20] daksh-sagar commented on #924
@leecalcote I would like to work on this please 🙂

[2020-10-06 17:51] bartkalanski opened #925 "[NG] Overlapping of text and arrows Layer5ng"
**Description**
Overlapping of text and arrows on ```Layer5ng``` landing page.

**Screenshot**
![layer5-wrong](https://user-images.githubusercontent.com/61667381/95240596-8dfd2100-0804-11eb-802f-a561f63a283f.png)

**Expected Behaviour**
The text and arrows should be separated, as seen below.

**Screenshot**
![layer5-desired](https://user-images.githubusercontent.com/61667381/95240466-5bebbf00-0804

[2020-10-06 18:34] Nikhil-Ladha commented on #855
@naman360 if you are stuck anywhere...feel free to ping me or @Jashpatel1 in slack :slightly_smiling_face:

[2020-10-06 18:35] Nikhil-Ladha commented on #907
@ritik307 any progress here?
If stuck feel free to ping me in slack :slightly_smiling_face:

[2020-10-06 18:40] Nikhil-Ladha commented on #609
@Pariola-droid are you still working on this one....or if you are stuck anywhere we can discuss that?

[2020-10-06 18:41] Nikhil-Ladha commented on #709
Thank you for the heads up @Pratyush-Saxena :+1:
@Neilblaze ^^, ping me once you are ready :slightly_smiling_face:

[2020-10-06 18:49] Nikhil-Ladha commented on #574
@Neilblaze ?

[2020-10-06 20:30] leecalcote opened #926 "[Landscape] Add NGINX Service Mesh"
**Current State:**
NGINX Service Mesh is a newly released service mesh from F5/NGINX.

**Desired State:**
NSM should be included in the service mesh landscape.

**Note to Contributor:**
We want to ensure all relevant projects are represented in the service mesh landscape. We would love to have NSM included.  We do our best to ensure that projects and their capabilities are accurately represented,

[2020-10-06 20:39] #521 closed

[2020-10-06 20:40] #889 closed

[2020-10-06 21:01] leecalcote commented on #926
@malanmurphy and @f5yacobucci will you consider submitting a PR to update the landscape? Only yaml updates are needed.

[2020-10-06 21:48] #894 closed

[2020-10-07 02:14] lolyparty commented on #925
Hey, @spielers signify if you'd like to work on this

[2020-10-07 02:39] Jashpatel1 commented on #848
Are you working on this @JubayerJoy . Please feel free to ping me on slack if you get stuck.

[2020-10-07 03:01] spielers commented on #925
Definitely I'll work on it assign me !

On Wed, 7 Oct, 2020, 7:45 am Ololade, <notifications@github.com> wrote:

[2020-10-07 03:04] naman360 commented on #855
yes sure.

[2020-10-07 03:11] Jashpatel1 commented on #855
Here it is [http://slack.layer5.io/](http://slack.layer5.io/) . We look forward to welcome you in being a part of the community.

[2020-10-07 03:40] jijillery opened #928 "[NG] Add "Proudly Maintainers of" section to home page"
**Current Behavior**
Layer5 is a maintainer of the following projects and organizations:

Meshery, Service Mesh Interface, Service Mesh Performance, CNCF, Envoy, Istio

**Desired Behavior**
Create a new section that has the logos of each of these projects / organizations. Logos can be found in the Layer5 Community drive and/or on github.com/cncf/artwork and layer5.io/brand

---
**Contributor Resou

[2020-10-07 04:06] k-guy-dev commented on #928
hey! @jijillery @leecalcote I would really love to take this issue.

[2020-10-07 05:15] leecalcote commented on #928
Sounds great, @k-guy-dev

[2020-10-07 05:16] leecalcote commented on #928
Thanks for jumping in. 👍

[2020-10-07 07:46] PluckyPrecious opened #929 "[Landscape] Update Maesh to Traefik Mesh"
**Current State:**

Maesh service mesh has officially changed its name to traefikmesh and has a new logo. The name and logo can be sourced from this [PR commit](https://github.com/layer5io/meshery/pull/1659/commits/d15574b91a530790495bd72d89abba6407e27bc6)

**Desired State:**

Update https://layer5.io/meshery page and the https://layer5.io/landscape page with the new logo.

---
**Contributor Resou

[2020-10-07 07:48] PluckyPrecious commented on #929
Hey @hexxdump here’s an issue you can get your hands on.👍🏽

[2020-10-07 07:57] hexxdump commented on #929
Thanks @PluckyPrecious , I am on it!

[2020-10-07 09:46] JubayerJoy commented on #848
Hi @Jashpatel1,
I am still in the learning phase of gastby, it will take me some time.

Feel free to assign this to someone with more experience.

[2020-10-07 10:19] Neilblaze opened #932 "[NG] Fix the overlapping of texts caused by arrows on the cards"
1. In my opinion these arrows may shift to the nextline as currently they are overlapping the text.
![Screenshot from 2020-10-05 20-59-09](https://user-images.githubusercontent.com/39610703/95102659-46698d00-0751-11eb-8e81-60776d0b33f0.png)

_Originally posted by @NupurThakur27 in https://github.com/layer5io/layer5/pull/920#issuecomment-703725332_

[2020-10-07 10:21] Nikhil-Ladha commented on #574
@leecalcote is there something that still needs to be done for this issue?
The only change which I understand here is the link to the new site, everything else is done, isn't it?
We have a PR #931 which does that, if anything else is left, can you please add there?

[2020-10-07 10:52] Pariola-droid commented on #609
I'm still on it
Have not uploaded the fixed files... sorry for the delay

I had issues tho

On Tuesday, October 6, 2020, Nikhil_Ladha <notifications@github.com> wrote:

[2020-10-07 11:24] #924 closed

[2020-10-07 12:28] leecalcote commented on #929
Teamwork. 👭😃

[2020-10-07 14:11] Neilblaze opened #934 "Addition of community calendar on Layer5-NG site"
**Current Behavior**

Addition of a community calendar in the community section on our website is a much needed.

Soon we will be having more WG meetings in a week & having a calendar on our website will get our **new** & existing contributors more acquainted with same.

**Desired Behavior**

- A full-calender is suggested to be added to the Community & Events page of our new Layer5-ng site.
- Som

[2020-10-07 16:03] chandrashritii commented on #907
Hey @ritik307 Considering that hacktoberfest is going on and that this is a pretty major UI issue, it needs to be fixed as soon as possible. Please do signal if you're working on this by today otherwise I'll take it up.

[2020-10-07 16:27] Neilblaze commented on #859
@iamsurajdc are you still on it?

[2020-10-07 16:30] iamsurajdc commented on #859
Want to catch up ?

[2020-10-07 16:39] Neilblaze commented on #859
Yeah why not :smile:

[2020-10-07 16:43] iamsurajdc commented on #859
Sure, take it. 😊✌️

[2020-10-07 17:11] #859 closed

[2020-10-07 18:22] #574 closed

[2020-10-07 19:16] #831 closed

[2020-10-07 20:01] iambami commented on #830
Yes I am.

[2020-10-07 20:32] leecalcote commented on #907
Hi All, my apologies... we're getting much traffic on this page and so need to urgently press forth on a fix.

@ritik307 it's fantastic that you jumped in here. It turns out that this is a hot potato. There are many more issues where this came from: [help-wanted](https://github.com/issues?utf8=✓&q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+label%3A%22help+wanted%22+). Please take your pi

[2020-10-07 20:39] #907 closed

[2020-10-08 00:29] #229 closed

[2020-10-08 02:51] Jashpatel1 opened #939 "[NG] Updates on Layer5-ng"
**Desired Situation**

This issue relates to layer5-ng site
- [ ] Remove the [about section](https://layer5ng.netlify.app/#about) from landing page
- [ ] Remove the floating service mesh icons. (You can disable them by disabling the Particles section)

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If th

[2020-10-08 03:16] leecalcote opened #940 "[Landscape] Add "service mesh strengths" comparative to the service mesh landscape"
**Current Behavior**
The [landscape](https://layer5.io/landscape) has a lot of information, but not a lot of distilled opinions.

**Desired Behavior**
The landscape should have copy of [this graphic](https://docs.google.com/presentation/d/1oj1RDRfBGKr5IvIuMjTOMPmkUJcc3jheaMaBgIQx1GY/edit?ts=5f7e81e1#slide=id.ga027d9c122_0_0) (exported as svg) incorporated. The slide title and "5" logo should be re

[2020-10-08 07:48] Neilblaze commented on #939
I'm taking this up!

[2020-10-08 19:16] #712 closed

[2020-10-08 19:52] Neilblaze commented on #932
⚠️ This is similar to this issue - https://github.com/layer5io/layer5/issues/925

[2020-10-08 23:45] leecalcote opened #942 "[Event] Add CNCF Virtual Ambassador Day to the layer5.io/events page"
**Current Behavior**
Meshery will be on display at the CNCF [Virtual Cloud Native Ambassador Day](https://community.cncf.io/events/details/cncf-cncf-ambassadors-presents-virtual-cloud-native-ambassador-day/#/).

**Desired Behavior**
- The `events` collection should have an entry for this event.
- The https://layer5.io/events page should list this event.

---
**Contributor Resources**
The `layer5`

[2020-10-08 23:48] leecalcote opened #943 "[Event] Add ServiceMeshCon 2020 to the /events page"
**Upcoming Event**
Meshery and SMP will be on display at ServiceMeshCon 2020 - https://events.linuxfoundation.org/servicemeshcon-north-america/

**Desired Behavior**
- The `events` collection should have an entry for this event.
- The https://layer5.io/events page should list this event.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-gen

[2020-10-09 00:51] ealvarez968 commented on #942
Hi,

I would like to contribute to this project, can you assign me this issue ?

[2020-10-09 02:01] leecalcote commented on #942
Hi @ealvarez968, that would be fantastic. Thank you.

[2020-10-09 03:30] lolyparty commented on #943
Would like to work on this

[2020-10-09 06:00] #932 closed

[2020-10-09 08:07] #939 closed

[2020-10-09 14:24] #884 closed

[2020-10-09 14:59] chandrashritii opened #945 "List new workshops on the Layer5 site"
**Desired Situation**

The following new workshops have to be added to the [Layer5 workshops](https://layer5.io/workshops) page:

- [Linkerd Fundamentals](https://learning.oreilly.com/live-training/courses/service-mesh-fundamentals-with-linkerd/0636920418085/)
- [Advanced Istio](https://learning.oreilly.com/live-training/courses/advanced-istio/0636920418108)
- [Introduction to Istio](https://learn

[2020-10-09 19:27] iamsurajdc opened #946 "[NG] Improvise the responsiveness of Brand page of layer5-ng"
**Current Behavior** :

The current [Brand page](https://layer5ng.netlify.app/brand) on the [layer5-ng site](https://layer5ng.netlify.app/) is live, which comprises distinct layer5 brand div's.

**Desired Behavior** :
-  Align the pallets (color-boxes) in meshery and SMP to center in mobile view.

![95051883-a0476400-070b-11eb-9791-60c66ec0db2a](https://user-images.githubusercontent.com/32074031/9

[2020-10-09 21:35] ealvarez968 commented on #942
Hello,

I got the project up an running on my machine but I have some questions.

1. I have to add the  CNCF Virtual Cloud Native Ambassador Day to the upcomming industry events at [events]( https://layer5.io/events), right?
1. Where can I found the assets to add this event and the text?
1. The file that I should modify is _data/events.yml right ?

Regards

[2020-10-09 22:15] emmanuellar commented on #945
Hi, I'd love to take this up

[2020-10-10 02:23] leecalcote commented on #942
Hi @ealvarez968, good questions:

1. Yes
2. The Ambassador logo will do the trick - https://github.com/cncf/artwork/blob/master/examples/other.md#cncf-ambassador-logos
3. Yes

[2020-10-10 02:24] leecalcote commented on #945
Thank you, @emmanuellar. 👍

[2020-10-10 02:30] #929 closed

[2020-10-10 02:57] leecalcote commented on #940
New comparative is up.

[2020-10-10 02:57] #940 closed

[2020-10-10 16:17] jesuslerma commented on #898
This is closed by #914

[2020-10-10 16:17] #898 closed

[2020-10-10 16:58] Fahdmoh01 commented on #946
Hello guys, new commer here. I would like to be assigned to this issue

[2020-10-10 17:10] geraldmaboshe commented on #714
Hey @chandrashritii I would like to take this up

[2020-10-10 17:42] ashutosh1401 commented on #946
I would also like to contribute on this issue

[2020-10-10 22:16] Neilblaze commented on #714
@geraldmaboshe Sure! Go for it :+1:

[2020-10-10 22:21] emmanuellar commented on #945
Hi @leecalcote, please I need help  here.
The workshop.html page doesn't have the workshop listed. Seems the workshops are being called from somewhere (where I need to fix these new ones)
I'd love you to please point me to where I can look

[2020-10-10 22:23] emmanuellar commented on #945
Hi @leecalcote I think I found it. Will send updates

[2020-10-10 22:43] emmanuellar commented on #945
Hi @leecalcote, for the first workshop above, there are no images (flier of the workshop) which I can add to the page. What can I do about that?

[2020-10-11 03:40] Jashpatel1 commented on #825
@manishdangi98 Can we expect a PR for this issue by tonight? Feel free to share if you are stuck somewhere.

[2020-10-11 03:43] manishdangi98 commented on #825
@Jashpatel1 at some places .mdx file treating markdown as the simple text I am not able to figure it out

[2020-10-11 03:45] Jashpatel1 commented on #825
Can you open a PR, and then we can discuss after looking at the code.
Another option is you can ping me on slack.

[2020-10-11 06:13] #942 closed

[2020-10-11 07:56] Tanuj22 commented on #946
@Fahdmoh01 please go ahead.

[2020-10-11 07:56] Tanuj22 commented on #946
@ashutosh1401 sorry, you can check out some other issue

[2020-10-11 07:57] Tanuj22 commented on #848
@JubayerJoy thanks for the heads up.

[2020-10-11 07:58] Tanuj22 commented on #848
@ashutosh1401 would you like to work on this?

[2020-10-11 08:08] ashutosh1401 commented on #848
If this issue could be solved using react then i would be able to do it but if graphql is required then it would be some difficulty

[2020-10-11 08:09] Jashpatel1 commented on #848
It wont require graphql.

[2020-10-11 08:10] ashutosh1401 commented on #848
Then assign this one to me

[2020-10-11 08:10] Fahdmoh01 commented on #946
Thanks will do my best👍🏿

On Sun, 11 Oct 2020 at 1:27 PM, Tanuj Agarwal <notifications@github.com>
wrote:

[2020-10-11 08:20] #833 closed

[2020-10-11 13:16] Nikhil-Ladha commented on #946
@ashutosh1401 if you want...this issue is open for grab.

[2020-10-11 13:24] leecalcote commented on #945
@emmanuellar great question. Here you are:

- [workshops/service-mesh-fundamentals-with-linkerd.jpg](https://raw.githubusercontent.com/layer5io/layer5/master/assets/images/workshops/service-mesh-fundamentals-with-linkerd.jpg)
- [workshops/service-mesh-fundamentals-with-linkerd-small.jpg](https://raw.githubusercontent.com/layer5io/layer5/master/assets/images/workshops/service-mesh-fundamentals-with

[2020-10-11 14:23] Tanuj22 commented on #793
@vinayaksh42 are you working on this?

[2020-10-11 14:23] Tanuj22 commented on #830
@iambami any updates?

[2020-10-11 16:51] ealvarez968 commented on #942
Hello,

I have a question, should I update layer5-ng  branch or just master ?

[2020-10-11 16:52] Nikhil-Ladha commented on #942
No, that's a seperate site.

[2020-10-11 17:42] ashutosh1401 commented on #848
Where the code of conduct route would be kept so that it could run and their is need to create a separate code of conduct component in sections folder or not or we have to completely write whole component in pages section

[2020-10-11 21:18] Tanuj22 commented on #848
Create a folder called `terms` in the pages folder. Add a file called `code-of-conduct.js` in it. This will automatically create a route. Then make a section and import it in this file and use it (take reference of other files in the pages folder)

[2020-10-11 22:09] #858 closed

[2020-10-12 07:03] clementkng opened #960 "Update Brew mesheryctl installation instructions"
**Current Behavior**

Currently, in the Getting Started page for Meshery (https://meshery.io/#getting-started), the Brew installation instructions are outdated. When you run them, you'll get an error since `mesheryctl` is not properly installed.

**Desired Situation**

The instructions should be updated based on the instructions under the "Installing with Homebrew section" here: https://meshery.la

[2020-10-12 09:38] #848 closed

[2020-10-12 09:47] Tanuj22 commented on #830
We need to move ahead @iambami. I am unassigning you so that other contributors can take a crack at it.

[2020-10-12 09:49] Tanuj22 commented on #793
@vinayaksh42 we need to move ahead. Unassigning you so other contributors can take a crack at it.

[2020-10-12 11:42] ashutosh1401 commented on #709
I could resolve this one if it isn't assigned to someone

[2020-10-12 11:48] Neilblaze commented on #709
@ashutosh1401 Sure! Go for it! :+1:

[2020-10-12 12:03] ashutosh1401 commented on #709
Do i need to create a folder in pages section about partners and its component in sections and in this way a separate route would be created of partner section

[2020-10-12 12:04] Tanuj22 commented on #709
@ashutosh1401 Yes

[2020-10-12 12:06] ashutosh1401 commented on #709
Where could i get those images

[2020-10-12 13:36] emmanuellar commented on #945
Thanks so much @leecalcote
I've fixed the images. Is there a way I can preview the workshop.html page so I can see the changes I've made?
Or should I go ahead and send a PR?

[2020-10-12 19:26] #960 closed

[2020-10-12 20:37] Tanuj22 commented on #709
Download it from the current site. You can keep them in a partners folder inside src/images folder

[2020-10-13 10:53] codetheorem commented on #793
@Tanuj22 assign this to me.

[2020-10-13 10:57] #825 closed

[2020-10-14 01:30] leecalcote opened #964 "Recognition of Ameya Agashe's contributions and status as a community member"
**Current Behavior**
@ameyaagashe is an active contributor in the Layer5 community.

**Desired Behavior**
A profile for @ameyaagashe should be created and visible on `/community/members`.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue per

[2020-10-14 01:41] Aisuko opened #965 "[DOC]The Helm v2 scripts in a wrong way and need to be fix"
**Current State:**

Going to the https://layer5.io/meshery#getting-started and you can see that for kubernetes user the deployment way is deploy the `yaml`, but we need to add the other ways that we already have been haved

**Desired State:**

Reference link:

https://meshery.layer5.io/docs/installation/platforms/kubernetes

[2020-10-14 03:37] Nikhil-Ladha commented on #945
Yes, @emmanuellar . At first if you haven't, you need to setup your env by installing ruby using rvm (prefered). Then set the ruby version to the one used in the Gemfile. Then run the `bundle install` command. If this command gives sime error or warning like bundle not recognised or update bundler then you will need to run `gem install bundler-2.1.4` then again `bundle install` after rhis command

[2020-10-14 09:22] ashutosh1401 commented on #709
Is material icons are used in layer5-ng or any other icons are used ?

[2020-10-14 09:24] Tanuj22 commented on #709
`react-icons`

[2020-10-15 00:43] Anita-ihuman commented on #568
I apologize for the delay on this singular issue. My PC caused me a lot of setbacks. I noticed the youtube link has been embedded under the community dropdown menu. Is it still ok to go ahead with the fix?

[2020-10-15 06:12] Fahdmoh01 commented on #601
Kindly assign me to this issue if it's still not fixed

[2020-10-15 06:35] Fahdmoh01 commented on #601
@PluckyPrecious

[2020-10-15 08:03] Fahdmoh01 commented on #601
@Nikhil-Ladha Helllo there, Can you kindly assign this to me? That's if it's still free

[2020-10-15 08:06] Nikhil-Ladha commented on #601
Sure @Fahdmoh01 👍🏼

[2020-10-15 08:08] Fahdmoh01 commented on #601
Thanks👍

On Thu, Oct 15, 2020 at 1:36 PM Nikhil_Ladha <notifications@github.com>
wrote:

[2020-10-15 08:08] Ruth-ikegah commented on #601
Sorry I think I was doing at the same time as @Nikhil-Ladha

[2020-10-15 08:08] Ruth-ikegah commented on #601
You can go ahead with tackling this @Fahdmoh01 . If you have any questions please feel free to ask

[2020-10-15 08:09] Fahdmoh01 commented on #601
Oh okay, it's fine

On Thu, Oct 15, 2020 at 1:38 PM Ruth Ikegah <notifications@github.com>
wrote:

[2020-10-15 08:16] Fahdmoh01 commented on #601
Sure👍🏿

On Thu, 15 Oct 2020 at 1:39 PM, Ruth Ikegah <notifications@github.com>
wrote:

[2020-10-15 11:45] Jashpatel1 commented on #781
Closing with #951

[2020-10-15 11:45] #781 closed

[2020-10-15 12:22] Tanuj22 commented on #855
@naman360 are you working on this?

[2020-10-15 12:44] Tanuj22 commented on #713
@kishore007k do you want a send a quick PR for this? As the books and Workshop page is already done

[2020-10-15 12:51] kishore007k commented on #713
Just to be clear. This page should contain both the workshops and book page contents?

[2020-10-15 12:52] Tanuj22 commented on #713
Yes

[2020-10-15 12:53] kishore007k commented on #713
Ok, I could do that.

[2020-10-15 13:00] Tanuj22 commented on #713
@kishore007k one thing to note. In your PR you have used a page query to fetch the workshops in the pages/workshops.js file. What you can do is that shift this query to the `Workshop-gird` section you had created as a static query. (check the programs section for reference) and use this section directly in the `/learn` page. Instead of rewriting the query. You the same thing for Books

[2020-10-15 13:26] kishore007k commented on #713
Could you assign this to me! @Tanuj22

[2020-10-15 16:11] #673 closed

[2020-10-15 16:57] jomefavourite commented on #815
Hello, since my issue has been merged should I unassign myself?

[2020-10-15 16:58] leecalcote commented on #815
@jomefavourite, if each of the news articles in the checklist have been migrated, we can close this issue.

[2020-10-15 16:59] lolyparty commented on #815
Hey Josh, you can leave it.

[2020-10-15 17:02] jomefavourite commented on #815
I noticed that the news I added isn't showing here, hope I didn't do something wrong?
![Screenshot_20201015-175858_Samsung Internet](https://user-images.githubusercontent.com/54733225/96162454-79114380-0f10-11eb-9738-19ec3d6df84a.jpg)

[2020-10-15 17:03] jomefavourite commented on #815
Okay

[2020-10-15 17:05] Tanuj22 commented on #815
@jomefavourite actually the netlify deployment is stoped currently that's the reason it's not showing

[2020-10-15 17:16] jomefavourite commented on #815
Okay then, no problem

[2020-10-15 17:56] vinayaksh42 commented on #934
Do we include this calendar on the main community landing page or making a separate route for only displaying the calendar itself?

[2020-10-15 18:00] Neilblaze commented on #934
The calendar has some API issues. For now, it'll be great if we can add the calendar to the community page as a modal preview.

@Nikhil-Ladha what say?

[2020-10-15 18:45] #713 closed

[2020-10-15 21:29] thescripted commented on #623
Hey, I can tackle this issue if it still needs to be worked on!

I believe that when implementing the search plugin, this is the file that should be indexed: https://github.com/layer5io/layer5/tree/master/collections/_blogs

and a method to query the search should be provided here:
https://github.com/layer5io/layer5/blob/4a96bae8df4bf876c0509671821ebefe0ccbb86b/src/sections/Blog-sidebar

Is that w

[2020-10-16 04:08] akashgp09 commented on #965
@Aisuko can you provide some more info.

[2020-10-16 04:53] Aisuko commented on #965
We should update the scripts for `Kubernetes user` which on the `layer5.io` document site. And we already have the scripts(https://meshery.layer5.io/docs/installation/platforms/kubernetes Using Helm), so just copy the scripts into the `layer5.io` document site the location where title named `Kubernetes user` and replace the current contents.

[2020-10-16 10:12] Fahdmoh01 commented on #601
@leecalcote Hello Lee, I just completed Implementation No.1. What do you mean by Callouts? One the boxes in the blog as shown in the image below? ![image](https://user-images.githubusercontent.com/34211858/96246261-ff3b9180-0fc5-11eb-9026-5be9a519ca3c.jpeg)

[2020-10-16 10:14] leecalcote commented on #601
Thanks, @Fahdmoh01. "Callouts" meaning a hyperlink and/or button.

[2020-10-16 10:15] Fahdmoh01 commented on #601
Which will lead the user to the Design Specifications?

[2020-10-16 10:22] Fahdmoh01 commented on #601
@leecalcote

[2020-10-16 10:52] Fahdmoh01 commented on #601
Alright, got it.

[2020-10-16 11:40] codetheorem opened #972 "[NG] Add dark theme to Layer5-NG."
**Current Behavior**

There is only a light theme present currently.

**Desired Behavior**

Add a dark theme to the layer5-ng website.

---
 **Alternatives**

Use this https://www.gatsbyjs.com/plugins/gatsby-plugin-dark-mode/.

 **Additional context**

You can add a dark theme in the theme folder in src.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation

[2020-10-16 11:48] leecalcote commented on #972
Sounds pretty great. Certainly, worth trying out.

[2020-10-16 12:29] naman360 commented on #855
Yes I am

[2020-10-18 08:52] Tanuj22 opened #977 "[NG] Change from class based component to fuction based component"
**Current Behavior**
The [members page](https://github.com/layer5io/layer5/blob/layer5-ng/src/pages/community/members.js) and the [blog page](https://github.com/layer5io/layer5/blob/layer5-ng/src/templates/blog.js) are using Class based Components,

**Desired Behavior**
Change them to function based components using [react hooks](https://reactjs.org/docs/hooks-intro.html) for state management.

--

[2020-10-18 10:19] #601 closed

[2020-10-18 12:47] codetheorem commented on #977
Assign this to me.

[2020-10-18 14:14] kishore007k commented on #977
Go ahead @codetheorem

[2020-10-18 17:57] #836 closed

[2020-10-18 21:48] k-charette commented on #977
Hi! I noticed someone is already assigned to this issue. Though I was interested in helping out so I tried it solve this on my own for fun.
I already have a fix and ready to submit a PR for review. If the original assignee wants to submit theirs I'll step away. Thank you!

[2020-10-19 01:09] codetheorem commented on #977
@k-charette you can submit a PR.

[2020-10-19 03:23] kishore007k commented on #977
@k-charette Nice work 🤙
@codetheorem So generous of you 😉

[2020-10-19 06:26] vinayaksh42 commented on #965
Can I work on this issue? @Aisuko

[2020-10-19 06:46] Aisuko commented on #965
Yes, please.

[2020-10-19 08:04] #977 closed

[2020-10-19 09:26] Tanuj22 commented on #830
FIxed in #968

[2020-10-19 09:26] #830 closed

[2020-10-19 09:26] Tanuj22 commented on #815
Closing as all news articles have been migrated :)

[2020-10-19 09:26] #815 closed

[2020-10-19 14:31] leecalcote opened #980 "[NG] Incorporate ability to animate SVG in card background"
**Current Behavior**
The grid view on https://opensource.google/projects/list/featured has a small animation happening in the background on hover of a card.

![Untitled](https://user-images.githubusercontent.com/7570704/96462702-7bfb8500-11eb-11eb-8bed-73c4cde97a11.gif)

**Desired Behavior**
The layer5ng site will have many sets of collections. It would be nice to incorporate this same ability int

[2020-10-19 15:14] Tanuj22 opened #981 "[NG] see more not working properly in workshop grid in layer5-ng"
**Description**
Currently, when see more button another card is clicked with the previous one being open, the previous one collapses
![ezgif-2-421f984b965e](https://user-images.githubusercontent.com/42486853/96470342-ce6c8e00-124b-11eb-9b75-3555c219a47e.gif)

**Expected Behavior**
The previous one should collapse and the new one should expand.

---

[Optional] **To Reproduce**

Steps to reproduce

[2020-10-19 15:15] Tanuj22 commented on #981
@kishore007k can you look into this?

[2020-10-19 15:22] leecalcote opened #982 "[NG] Improve Button component with new properties"
**Current Behavior**
the current reusecore/Button requires wrapping an `<a>` around it, does not include a selectable color theme, require `alt` and `title` properties for the `<button>` or `<a>` tags.

**Desired Behavior**
Consider swapping for this component - https://www.npmjs.com/package/@hashicorp/react-button, which incorporates a number of useful properties; e.g.:

[code]
---
**Contributor

[2020-10-19 15:22] kishore007k commented on #981
Sure @Tanuj22

[2020-10-19 17:06] #793 closed

[2020-10-19 17:32] Fahdmoh01 commented on #568
Is this issue still opened?

[2020-10-19 17:35] Fahdmoh01 commented on #972
I want to work on this issue. Kindly assign me to this. @Nikhil-Ladha

[2020-10-19 17:39] Nikhil-Ladha commented on #568
@Anita-ihuman , the issue here states to embed an iframe of the playlist which can be found following the steps in the link mentioned in the first comment of the issue. So, if you are working please give a heads up else I will assign it to Fahd 🙂

[2020-10-19 17:41] Nikhil-Ladha commented on #972
This requires you to work upon gatsby/react, are you comfortable with it now @Fahdmoh01 ?

[2020-10-19 17:42] Fahdmoh01 commented on #972
Oh okay, I wait and come back later if it's still opened.

On Mon, Oct 19, 2020 at 11:11 PM Nikhil_Ladha <notifications@github.com>
wrote:

[2020-10-19 18:26] Fahdmoh01 commented on #568
Alright, taking this up👍🏿

On Mon, 19 Oct 2020 at 11:53 PM, Anita-ihuman <notifications@github.com>
wrote:

[2020-10-19 20:44] vinayaksh42 commented on #965
Can you assign this issue to me? @Aisuko

[2020-10-20 02:57] Jashpatel1 commented on #896
Closing with #953

[2020-10-20 02:57] #896 closed

[2020-10-20 03:06] Jashpatel1 opened #984 "[NG] Add member profiles for newly added contributors"
**Current Behavior**
Recently, Ameya Agashe and Prateek Tripathy have been added as contributors to [layer5](https://layer5.io/community/members) site.

**Desired Situation**
Add those members to [layer5-ng](https://layer5ng.netlify.app/community/members) site as well.
- [ ] [Ameya Agashe](https://layer5.io/community/members/ameya-agashe)
- [ ] [Prateek Tripathy](https://layer5.io/community/member

[2020-10-20 04:43] codetheorem commented on #984
assign this to me.

[2020-10-20 08:15] #984 closed

[2020-10-20 14:55] vinayaksh42 commented on #855
@naman360 are you working on this issue? if not I would like to take this issue?

[2020-10-20 18:37] vinayaksh42 commented on #855
@Tanuj22 @Nikhil-Ladha can i work on this issue?

[2020-10-20 18:45] Nikhil-Ladha commented on #855
@naman360 , since this issue had been assigned to you for around 20 days and we haven't got any updates from your end. Would like to say anything for that, otherwise we will be assigning this issue to @vinayaksh42 to get things moving forward, rather than having a backlog.

[2020-10-20 21:13] Tanuj22 commented on #855
I got no response from @naman360 on slack also, so @vinayaksh42 go ahead.

[2020-10-21 03:00] leecalcote opened #990 "Recognition of Vinayak Sharma's contributions and status as a community member"
**Current Behavior**
@vinayaksh42 is an active contributor in the Layer5 community.

**Desired Behavior**
A profile for @vinayaksh42 should be created and visible on `/community/members`.

- [Link to profile picture](https://avatars0.githubusercontent.com/u/54861487?s=400&u=378c642531c2e9dbb20185a2587926b643883dcb&v=4)

---
**Contributor Resources**
The `layer5` repo contains two websites. The cur

[2020-10-21 03:08] leecalcote opened #991 "Recognition of Kishore Kumar's contributions and status as a community member"
**Current Behavior**
@kishore007k is an active contributor in the Layer5 community.

**Desired Behavior**
A profile for @kishore007k should be created and visible on `/community/members`.

- [Link to profile picture](https://user-images.githubusercontent.com/34863222/96668979-f528e280-1379-11eb-9182-ec6113944811.jpeg)

---
**Contributor Resources**
The `layer5` repo contains two websites. The curr

[2020-10-21 03:17] kishore007k commented on #991
Thank you @leecalcote It feels great working with this community.
It should be a perfect issue for the first time Contributors.
It would like to use this [Profile Pic](https://user-images.githubusercontent.com/34863222/96668979-f528e280-1379-11eb-9182-ec6113944811.jpeg) is instead.

[2020-10-21 03:18] leecalcote commented on #991
Excellent. 😄 Updating the issue description with new profile pic to avoid confusion...

[2020-10-21 03:35] vinayaksh42 commented on #990
Thanks a lot for this @leecalcote
really looking forward to working more with this awesome community

[2020-10-21 04:01] codetheorem commented on #943
Assign this to me.

[2020-10-21 04:16] leecalcote commented on #623
@chandrashritii, yes?

[2020-10-21 04:22] #981 closed

[2020-10-21 04:38] Jashpatel1 commented on #855
Closing with #989

[2020-10-21 04:38] #855 closed

[2020-10-21 07:15] lolyparty commented on #943
Hello, @codetheorem I'm on this. I would look at for other issues you can work on for you.

[2020-10-21 08:37] akashgp09 commented on #991
@leecalcote Can you assign this to me.

[2020-10-21 08:38] akashgp09 commented on #990
@leecalcote Can you assign this to me.

[2020-10-21 08:39] kishore007k commented on #991
Go for it @Akanksha1212

[2020-10-21 08:39] Tanuj22 commented on #990
@akashgp09 go ahead

[2020-10-21 10:21] #991 closed

[2020-10-21 10:30] codetheorem commented on #943
I have added servicemeshcon in layer5-ng only.

[2020-10-21 10:40] kishore007k commented on #972
I would like to work on this issue. @Nikhil-Ladha

[2020-10-21 11:00] lolyparty commented on #943
Ok then, you can work on this. I'll assign it to you now. why did you link this issue to your PR? This issue is related to the old layer5 site note layer5-ng

[2020-10-21 11:08] chandrashritii commented on #623
@leecalcote This issue is blocked. Waiting for the strapi integration before pushing forward with the search plugin CC// @Tanuj22

@thescripted Thanks for taking this up. That looks like the right approach but we intend to integrate [strapi ](https://strapi.io/) with the current layer5-ng site which might cause issues with the plugin integration. Strapi should be set up soon. In the meanwhile, do

[2020-10-21 11:42] codetheorem commented on #946
Assign this to me

[2020-10-21 11:45] Nikhil-Ladha commented on #946
Cool

[2020-10-21 12:14] leecalcote commented on #943
@lolyparty Good highlight on the need for this event to be captured on both the current and new website. Will you carry forward the other half of this issue on the layer5.io (current site)? If you're able to do it before Friday - excellent. If not, let's ask another contributor (time is off the essence as we'll be talking about our participation in the conference).

@codetheorem thank you for knoc

[2020-10-21 12:17] lolyparty commented on #943
Hey Lee! I won't be able to go on with the issue. I've assigned it to @codetheorem I'll send you a message on slack.

[2020-10-21 12:18] leecalcote commented on #943
@lolyparty Ok, no sweat. Understood. Thanks for communicating this.

[2020-10-21 12:20] leecalcote commented on #943
Oh.... @codetheorem, I see both PRs now. Excellent.

[2020-10-21 12:32] #990 closed

[2020-10-21 12:44] #943 closed

[2020-10-21 12:50] chandrashritii commented on #945
@emmanuellar Any updates here?

[2020-10-21 16:58] Fahdmoh01 commented on #568
Hello @chandrashritii what do you mean by Engage Section? I am working on this issue but I need this clarification to proceed

[2020-10-22 01:24] #965 closed

[2020-10-22 05:07] leecalcote commented on #392
@PluckyPrecious great question. I think it has. @Tanuj22 @Nikhil-Ladha @Jashpatel1, what are your thoughts?

[2020-10-22 05:12] Nikhil-Ladha commented on #392
This is something we don't use for any of our sites currently, right?
We just verify that using the netlify build for the time being, which in a way does our job. But yes, a netlify build will be added advantage like if sometimes we disable the netlify build or netlify stops working in such scenarios we can confirm the PR if the test passes.

[2020-10-22 05:39] leecalcote opened #1001 "[NG] Create a "When should I implement a service mesh?" page and visualization"
**Current Behavior**
Many, many people have the question of "when should I deploy a service mesh?"

**Desired Behavior**
Using [the information in this sheet](https://docs.google.com/spreadsheets/d/1Jl9Du9gK7PoVUBAnTXL2-BMMU6OqVD2gpjfjBpgNsWI/edit), create a visualization to guide people through this decision-making framwork.

**Alternatives**
- Use a form (similar to an airtable form) and ask the

[2020-10-22 06:24] leecalcote commented on #392
Another angle to this could be use of Google Analytics / a dead link checker as a regular maintenance item.

[2020-10-22 06:24] leecalcote commented on #568
Thank you for this effort, @Fahdmoh01!

[2020-10-22 07:12] vinayaksh42 commented on #1001
@leecalcote so we have to take a response from the user and depending upon that response we will display the relevant message from [here](https://docs.google.com/spreadsheets/d/1Jl9Du9gK7PoVUBAnTXL2-BMMU6OqVD2gpjfjBpgNsWI/edit#gid=1087433907)?

[2020-10-22 11:14] codetheorem commented on #1001
I think you should implement this on a new page and connect with the learn more button on the home page. If one wants to know about what is service mesh then that page will serve that purpose and you can integrate this with that.

[2020-10-22 12:27] vinayaksh42 opened #1003 "[NG] html tags visible on the Landscape page of layer5-ng"
**Description**

The HTML tags are clearly visible on the [landscape page](https://layer5ng.netlify.app/landscape) of layer5-ng. The styling of the tables used within the landscape page looks very clustered.

**Expected Behavior**

The HTML tags should not be visible and proper styling that was supposed to be implemented using those tags is required.

**Screenshots**

HTML tags:
![chrome_pIXTpJq30

[2020-10-22 13:50] emmanuellar commented on #945
Hi @chandrashritii @leecalcote not yet. Please I'd love to be unassigned from this task as I'm having a lot of issues running the program on my system to preview the pages. I'd love to keep contributing on other tasks that doesn't involve running the program on my system. Thanks

[2020-10-22 16:10] leecalcote commented on #945
@emmanuellar no sweat. Completely understood. There are a number of other issues perhaps better aligned. 👍

[2020-10-22 16:10] #945 closed

[2020-10-22 21:19] leecalcote opened #1004 "[Meshery] Update Maesh logo"
**Description**
Use the Maesh logo that does not include text. Update the https://layer5.io/meshery page.

- https://layer5.io/meshery (https://github.com/layer5io/layer5/blob/29ccbc58a02cb9f40480559d6f050060a709fb68/_includes/meshery.html#L169-L170)

**Screenshots**
<img width="604" alt="Screen Shot 2020-10-22 at 4 17 05 PM" src="https://user-images.githubusercontent.com/7570704/96930927-1d9c0400

[2020-10-22 21:19] leecalcote commented on #1004
@akashprasher over to you! :)

[2020-10-22 21:33] leecalcote opened #1005 "[Meshery] Add NGINX Service Mesh as alpha state on /meshery page"
**Current Behavior**
NGINX Service Mesh is missing. A new adapter has been created - https://github.com/layer5io/meshery-nginx-sm

**Desired Behavior**
- https://layer5.io/meshery should have NGINX Service Mesh adapter listed as an alpha adapter.
- use the Nginx service mesh logo recently included in the /landscape

<img width="602" alt="Screen Shot 2020-10-22 at 4 33 34 PM" src="https://user-imag

[2020-10-23 00:24] codetheorem commented on #1005
Assign this to me.

[2020-10-23 02:02] leecalcote opened #1007 "[SMP] SMP Twitter Card is pinned to a single tweet"
**Description**
On [this page](https://layer5.io/projects/service-mesh-performance), the SMP Twitter Card is pinned to a single tweet.

**Expected Behavior**
The embedded twitter card should be a feed showing the last few tweets currently from @smp_spec account.

**Screenshots**
<img width="1316" alt="Screen Shot 2020-10-22 at 9 00 56 PM" src="https://user-images.githubusercontent.com/7570704/9694

[2020-10-23 04:27] codetheorem opened #1009 "[NG] Wrong link of Distributed performance project in the navigation bar."
**Description**

There is wrong link of the Distributed performance project in the navigation bar . When we click over distributed performance under projects it shows 404.

**Expected Behavior**

Currently, it redirects to [this](https://layer5ng.netlify.app/projects/distributed-performance-management) change its url to [this](https://layer5ng.netlify.app/projects/distributed-performance-managemen

[2020-10-23 05:10] vinayaksh42 commented on #1003
@Tanuj22 shall I go ahead and solve this myself?

[2020-10-23 05:38] #1004 closed

[2020-10-23 07:26] leecalcote commented on #1003
Tagging @geraldmaboshe, who you may wish to collaborate with on this, @vinayaksh42.

[2020-10-23 07:28] leecalcote commented on #1009
Thanks for this, @codetheorem

[2020-10-23 07:35] vinayaksh42 commented on #1003
@leecalcote sure

[2020-10-23 08:16] Tanuj22 commented on #1003
@vinayaksh42 You may want to take a look a [this](https://youtu.be/uN3gGouPK6s?t=2854) . This is is the feedback that was given in the websites call. For reference, this was what we were talking about this in the call - https://www.npmjs.com/package/react-tabs , https://www.npmjs.com/package/react-table. If you have ideas of your own about the page please post in the websites channel.

[2020-10-23 08:41] vinayaksh42 commented on #1003
@Tanuj22 Thanks for the info, I will look into it.

[2020-10-23 08:57] Fahdmoh01 commented on #1007
Kindly assign me to this issue @leecalcote  @Nikhil-Ladha

[2020-10-23 09:37] Nikhil-Ladha commented on #1007
Go on @Fahdmoh01 .

[2020-10-23 14:35] #1005 closed

[2020-10-24 06:06] akashgp09 commented on #883
Hey @leecalcote can I take this issue.

[2020-10-24 06:26] leecalcote commented on #883
Sounds good, @akashgp09.

@oyakhilomee i appreciate your help here and on other issues. This book will be published shortly and so let’s allow @akashgp09 to carry this issue forward, if that’s ok.

[2020-10-24 06:29] #1007 closed

[2020-10-24 10:10] #771 closed

[2020-10-24 10:27] Jashpatel1 commented on #1009
Closing with #1015

[2020-10-24 10:27] #1009 closed

[2020-10-24 10:47] oyakhilomee commented on #883
Sure, that's OK.

[2020-10-24 13:56] Nikhil-Ladha commented on #934
Why modal?
Better to display it completely on the webpage itself and the preview in the description of the issue is a nice one, if something like that can be achieved it would be best!

[2020-10-24 14:20] #946 closed

[2020-10-25 16:40] Jashpatel1 commented on #925
Closing with #1018

[2020-10-25 16:40] #925 closed

[2020-10-26 15:45] leecalcote opened #1020 "[Landscape] Add SPIFFEE Support to the Service Mesh Landscape"
**Current State:**
SPIFFEE is a well-used specification amongst service meshes and their proxies, like Istio, Envoy, Kuma, NGINX Service Mesh,...

**Desired State:**
It would be helpful to individuals reviewing the landscape if the Functional section included a column for SPIFFEE Support.

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/

[2020-10-26 20:56] #883 closed

[2020-10-26 21:05] leecalcote commented on #1001
@codetheorem good suggestion. A button for "do I need a service mesh?" and then walking them through a questionnaire would be good.

[2020-10-27 06:14] Jashpatel1 commented on #709
Closing this with #993 . Opening up another issue for change in the layout

[2020-10-27 06:14] #709 closed

[2020-10-27 06:18] #926 closed

[2020-10-27 06:19] Jashpatel1 opened #1024 "[NG] Enhance the Partners page for layer5-ng"
**Current Behavior**
The current partners page is found [here](https://layer5ng.netlify.app/partners/partners).

**Desired Behavior**
Suggest and implement new layout for the partners page.
Also, the current page has URL redundancy(siteurl/partners/partners) due to creation of partners folder. Remove the partners folder and bring the file outside in pages section.

---
**Contributor Resources**
Th

[2020-10-27 06:27] Jashpatel1 opened #1025 "[NG] Add the second edition of service mesh architecture book to layer5-ng"
**Current Behavior**
Recently, the second edition of [service mesh architecture book](https://layer5.io/books/the-enterprise-path-to-service-mesh-architectures-2nd-Edition) has been added to current layer5 website.

**Desired Situation**
Add the book to layer5-ng website as well in the [books section](https://layer5ng.netlify.app/books).

---
**Contributor Resources**
The `layer5` repo contains tw

[2020-10-27 06:32] Jashpatel1 opened #1026 "[NG] Add recently joined contributors to community members page of layer5-ng"
**Current Behavior**
Recently, two contributors have been added to community members of current layer5 website.

**Desired Situation**
Add those community members to layer5-ng website as well.

- [ ] [Kishore Kumar](https://layer5.io/community/members/kishore-kumar)
- [ ] [Vinayak Sharma](https://layer5.io/community/members/vinayak-sharma)

---
**Contributor Resources**
The `layer5` repo contains

[2020-10-27 06:39] dDab-panda commented on #1026
I would like to take up this issue

[2020-10-27 06:40] Jashpatel1 commented on #1026
Sure, please go ahead.

[2020-10-27 08:09] kishore007k commented on #1025
@akashgp09 Would you like to solve this issue?

[2020-10-27 08:11] akashgp09 commented on #1025
Yes, assign me.

[2020-10-27 08:40] Jashpatel1 commented on #1026
Closing with #1027

[2020-10-27 08:40] #1026 closed

[2020-10-27 08:59] dDab-panda commented on #1024
I'll take up this issue

[2020-10-27 10:36] Jashpatel1 commented on #1024
Sure, please go ahead. This issue will take discussion and feedback. Please feel free to share whatever ideas you have in mind.

[2020-10-27 11:27] dDab-panda commented on #1024
Sure, will ping you

[2020-10-27 11:27] dDab-panda commented on #1024
Sure, will ping you

[2020-10-27 15:14] #1025 closed

[2020-10-27 17:21] Tanuj22 opened #1030 "Add a pre-commit hook for linting files"
**Desired Behavior**
Lint files using a pre-commit hook

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation of the layer5.io website, which

[2020-10-27 17:22] leecalcote commented on #1030
Oops. I thought this was a PR, and so was going to ask @kushthedude for review.

[2020-10-27 18:02] geraldmaboshe opened #1031 "[Landscape] Build a New Version of SMI table on Service Mesh Landscape"
**Current State:**
The current [Service Mesh Interface Compatibility](https://layer5.io/landscape#smi) table has some missing items
**Desired State:**
Build a new version using the following JSON:

[code]

---
**Contributor Resources**
- [Instructions for updating the landscape](https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md#updating-the-service-mesh-landscape)Site content is found

[2020-10-27 18:04] leecalcote commented on #1031
Nice.

[2020-10-27 18:52] leecalcote commented on #1031
@geraldmaboshe great clarification. I should have noted that both are needed in that an HTML implementation would be immediately used on the current gen of the layer5.io site, and that the same HTML implementation can then be leveraged on meshery.io (and potentially on smi-spec.io). A React version is needed both in Meshery's UI and on layer5-ng. It may make sense to chase down the HTML version fi

[2020-10-28 01:40] leecalcote opened #1032 "[NG] Bring NewButton enhancements into Button component and proliferate"
Once the NewButton component is satisfactorily working, retrofit the existing Button component with its properties and proliferate these changes to all buttons.

----

LGTM, can you take it up in this PR for a separate PR?

_Originally posted by @Tanuj22 in https://github.com/layer5io/layer5/pull/1023#issuecomment-717395687_

[2020-10-28 09:17] Tanuj22 commented on #982
Fixed in #1032

[2020-10-28 09:17] #982 closed

[2020-10-29 03:34] leecalcote opened #1033 "Recognizing Gerald Moboshe as a Contributor and Community Member"
**Current Behavior**
@geraldmaboshe has been a consistent contributor and community member.

**Desired Behavior**
A profile for @geraldmaboshe should be created and visible on `/community/members` on both the **current** and **next-gen** layer5.io sites.

- Github: https://github.com/geraldmaboshe
- Twitter: https://twitter.com/geraldmaboshe
- Profile picture: https://drive.google.com/file/d/1hpsL

[2020-10-29 03:42] leecalcote opened #1034 "[Community] Update Michael Gfeller's member profile"
**Current Behavior**
Through his thoughtful contributions, earnest effort to push forward Layer5's projects, and consistent demonstration of a pay-it-forward mentality, @mgfeller has earned a seat at the maintainers table. Through unanimous vote by the collection of current maintainers, @mgfeller has been welcomed into the role of Meshery Maintainer, Adapters.

**Desired Situation**
[His member pr

[2020-10-29 03:48] leecalcote opened #1035 "[NG]: Add "Maintainers" filter and "Maintainer" Designation to Community Member Profile"
**Current Behavior**
Community members carry a number of different roles and the responsibilities that come with that role. They are also assigned the title associated with that role. For example, much is expected of a Layer5 MeshMate. Consequently, much consideration is given to Layer5 MeshMates, including a filter to view only individuals carrying that title in the community.

Similarly, a filte

[2020-10-29 04:27] leecalcote opened #1036 "[News] Market Landscape – Kubernetes Evolves into an Enterprise Platform"
Add the following research report to the layer5/news collection

**Article:**
- Title: Market Landscape – Kubernetes Evolves into an Enterprise Platform
- Link: https://amalgaminsights.com/product/market-landscape-kubernetes-evolves-into-an-enterprise-platform/

"The open source project Meshery is also providing a service mesh management plane as separate software that can interact using the Servi

[2020-10-29 05:14] naman360 commented on #1034
Can I work on this?

[2020-10-29 05:26] PluckyPrecious commented on #1034
Sure @naman360.👍🏽

[2020-10-29 05:37] PluckyPrecious commented on #928
Hey @k-guy-dev how is this coming up?

[2020-10-29 05:46] naman360 commented on #1034
Do I need to create 2 PR's respectively for master and layer5-ng branch?

[2020-10-29 08:10] tripathyprateek commented on #1033
For both layer5 and layer5-ng right?

[2020-10-29 09:56] Tanuj22 commented on #1034
Yes @naman360

[2020-10-29 13:24] dDab-panda commented on #1036
Hey @leecalcote, I would like to take up this issue

[2020-10-29 15:37] Ruth-ikegah commented on #1036
Sure you can @dDab-panda

[2020-10-29 17:46] leecalcote commented on #1033
@tripathyprateek, yes, please.

[2020-10-29 18:25] kushthedude opened #1040 "[NG] Remove .vscode folder"
**Current Behavior**

.vscode folder is used for local IDE config, it is something to be pushed upstream.
**Desired Situation**

Remove .vscode folder
---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on t

[2020-10-29 19:20] jomefavourite commented on #1040
I'll do this

[2020-10-29 19:20] kushthedude commented on #1040
Please go ahead

[2020-10-29 19:21] leecalcote commented on #1040
@jomefavourite you're welcome to self-assign now that you're a member of the Layer5 community. 💪

[2020-10-29 19:21] leecalcote commented on #1040
✊

[2020-10-29 19:22] jomefavourite commented on #1040
Okay, I've done that 🤞

[2020-10-29 19:55] jomefavourite commented on #1040
Damn! I forgot to signoff. Do I make a new PR?

[2020-10-29 20:09] Tanuj22 commented on #1030
Fixed in #1038

[2020-10-29 20:09] #1030 closed

[2020-10-29 20:11] kushthedude commented on #1030
Didn't the issue self-close?

[2020-10-29 20:13] Tanuj22 commented on #1030
The PRs to the `layer5-ng` branch doesn't self-close

[2020-10-29 20:18] leecalcote commented on #1030
I believe the keyword has to be mentioned in the description or the title, not comments.

[2020-10-29 21:54] leecalcote commented on #1020
// @ajessup @yogi4

[2020-10-30 02:58] Jashpatel1 commented on #1035
@dDab-panda will you like to give it a try?

[2020-10-30 03:10] dDab-panda commented on #1035
Sure

[2020-10-30 06:37] naman360 commented on #1034
Have a look #1043 #1044

[2020-10-30 13:20] #1034 closed

[2020-10-30 13:54] Pariola-droid commented on #609
![cmd report 2](https://user-images.githubusercontent.com/58291503/97713001-848f6d80-1abf-11eb-83a5-6713107f2b98.png)
![cmd report](https://user-images.githubusercontent.com/58291503/97713123-b3a5df00-1abf-11eb-886d-1b7bcb334742.PNG)
Cloned and forked again

Lost count of how many times i did this , the files are not alike, not completely an html file.

[2020-10-30 14:01] Nikhil-Ladha commented on #609
Yes, they may not be a proper HTML file because they are not supposed to :slightly_smiling_face:
The site is built using Jekyll, and you need to build the site to run the site locally. Please follow the documentation for the commands on how to do this.

https://github.com/layer5io/layer5/blob/master/CONTRIBUTING.md

[2020-10-30 15:59] chandrashritii commented on #609
@Pariola-droid Let's have a quick chat on Slack about this. As @Nikhil-Ladha explained, the site runs on jekyll and you have to follow a particular process to run it locally.

[2020-10-30 16:17] ajessup commented on #1020
Hey Lee - Yogi and I can take a look at this. What's the best next step - a PR to the landscape site?

[2020-10-30 16:19] Nikhil-Ladha commented on #1020
Yeah, please go ahead @ajessup . The landscape site is basically layer5.io/landscape only.

[2020-10-30 16:48] naman360 commented on #1003
Can I work on it?

[2020-10-31 06:11] Jashpatel1 opened #1050 "[NG] Add alt texts to all images present in layer5-ng"
**Current Behavior**
Currently, many image tags do not have alt texts present in the layer5-ng site.

**Desired Situation**
Add related alt texts to images.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label is absent on this issue, then this issue pertains to the current generation

[2020-10-31 07:56] Nikhil-Ladha commented on #644
I just checked on this one @leecalcote and found a bug in the UI of Twitter :laughing: something similar to what we faced for our NG site. The image is not displayed because the feature image is an SVG, but the image comes up if it's a JPG, PNG. I even reported it to Twitter, lets see if they revert back :smile:

[2020-10-31 08:18] Tanuj22 commented on #1050
An `alt` tag has to be added in the `Image` component already present in `reusecore` directory before. Anyone taking up this, if you need any more information regarding this, ping me

[2020-10-31 11:39] kishore007k commented on #1050
Can I take this one?

[2020-10-31 11:42] Tanuj22 commented on #1050
Go ahead

[2020-10-31 12:17] Jashpatel1 opened #1051 "[NG] Add hacktoberfest page to layer5-ng"
**Current Behavior**
Currently, the [hacktoberfest](https://layer5.io/programs/hacktoberfest) page is present only on layer website.

**Desired Situation**
Add the hacktoberfest page to layer5-ng website under the programs section.

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the layer5.io site.

If the `layer5-ng` label

[2020-10-31 14:33] jcombs0929 commented on #1051
I'd like to help with this!

[2020-10-31 14:44] Tanuj22 commented on #1036
Fixed in #1039

[2020-10-31 14:44] #1036 closed

[2020-10-31 14:56] #1032 closed

[2020-10-31 16:01] Jashpatel1 commented on #1051
Sure, please go ahead

[2020-10-31 17:14] #1035 closed

[2020-10-31 22:43] leecalcote opened #1054 "Recognizing Hussaina Begum as a Contributor and Community Member"
**Current Behavior**
@hexxdump has been a consistent contributor and community member.

**Desired Behavior**
A profile for @hexxdump should be created and visible on `/community/members` on both the **current** and **next-gen** layer5.io sites.

- Github: https://github.com/hexxdump
- Twitter: https://twitter.com/hexxdump
- Profile picture: need a picture from @hexxdump

---
**Contributor Resource

[2020-11-01 06:27] Jashpatel1 opened #1058 "[NG] Fix the button component"
**Description**
The button component is taking unexpected fixed width.

**Expected Behavior**
Fix the issue with the width of button component in layer5-ng.
You can find these buttons on programs page([GSOC](https://layer5ng.netlify.app/programs/gsoc/2020), [Community Bridge](https://layer5ng.netlify.app/programs/communitybridge)).

**Screenshots**
![image](https://user-images.githubusercontent.co

[2020-11-01 06:28] Jashpatel1 commented on #1058
@codetheorem will you look into it?

[2020-11-01 09:09] naman360 commented on #1054
Should I take up this?

[2020-11-01 09:09] naman360 commented on #1058
Can I solve it?

[2020-11-01 09:12] codetheorem commented on #1058
go ahead @naman360

[2020-11-01 10:48] Jashpatel1 commented on #1054
Yaa sure, please go ahead. This issue relates to the creation of profile on both layer5 and layer5-ng. You will have to open up 2 PRs for this issue.

[2020-11-01 12:33] naman360 commented on #1054
okay cool @Jashpatel1

[2020-11-01 13:45] naman360 commented on #1054
Check it out #1060 #1061

[2020-11-01 14:00] naman360 commented on #1058
What width is to be applied?

[2020-11-01 14:41] #1033 closed

[2020-11-01 14:44] Jashpatel1 commented on #1058
I don't think fixed width is required. Keep it dynamic(adaptive to text length inside it).

[2020-11-01 14:57] #1050 closed

[2020-11-01 16:47] naman360 commented on #1058
Okay cool

[2020-11-01 16:59] Tanuj22 opened #1063 "[NG] Use <a> tags in footer"
**Desired Situation**
The links in the [footer](https://github.com/layer5io/layer5/blob/layer5-ng/src/sections/Footer/index.js) that point to an **external link** should use `<a>` tags instead of `<Link>`

---
[Optional] **Alternatives**

[Optional] **Additional context**

---
**Contributor Resources**
The `layer5` repo contains two websites. The current generation and the next-generation of the l

[2020-11-01 18:53] codetheorem commented on #1058
@Jashpatel1 Now it is working fine.

[2020-11-01 19:05] tripathyprateek opened #1064 "[Layer5] Add a newcomers page to the site"
**Current Behavior**

**Desired Behavior**

Take a look at all the things which need to be added.
- [x] Add the newcomers meeting detail available on [this page](https://docs.google.com/document/d/1aHarIyIL__HRq_4klYOUsEXP5SQLlmb50W17yKdNmpU/edit#heading=h.69qskjv558bk)
- [x] Add all the tutorials made during Hacktoberfest
- [x] Newcomers resources for getting started
- [x] Newcomers meeting table

[2020-11-01 19:13] codetheorem commented on #1058
This issue has been resolved no need to work on this @naman360.

[2020-11-01 19:17] Ruth-ikegah commented on #1064
Thanks for being thoughtful about this and opening an issue @tripathyprateek, I think you should also point out the [Newcomer's Welcome Guide](https://docs.google.com/document/d/1tpg2sLxirozNt3Ofr3GdM002f9rExp74EqrsGZBU710/edit?usp=sharing) too as it has some good basic info for the page.

[2020-11-01 21:31] ayushk1804 commented on #1063
I would like to work on this issue.

[2020-11-01 21:32] Tanuj22 commented on #1063
Go ahead

[2020-11-02 04:19] akashprasher opened #1068 "Adding Hover Effect for Flags."
**Current Behavior**

On the layer5.io homepage, there is a section for Language(Refer Image),
`filter: grayscale(90%);` is used, and currently, nothing happens when we hover mouse on these flags
![image](https://user-images.githubusercontent.com/42891970/97829112-f7326000-1cee-11eb-8db2-74b47eb1199d.png)

**Desired Behavior**

So the desired change is to change the `filter: grayscale(90%);` to `f

[2020-11-02 04:27] #1063 closed

[2020-11-02 06:36] naman360 commented on #1068
Can I work on it?

[2020-11-02 06:47] leecalcote commented on #1068
Hi @akashprasher, heads-up - these flags may not be included when the new site goes live.

The other buttons next to the flags, however, do need work to make them interactive onHover.

[2020-11-02 07:12] akashprasher commented on #1068
Sorry @naman360
Now this enhancement is no longer required.

[2020-11-02 07:12] naman360 commented on #1068
Okay fine

[2020-11-02 07:17] akashprasher commented on #1068
@leecalcote social icons already looks nice. But I would like to add an antribute `target="_blank`" in `<a></a>` links for social icons. So whenever someone click then, they don't need to leave the site so, page will open in new Tab. What do you think?

[2020-11-02 07:17] #1068 closed

[2020-11-02 10:56] #1054 closed

[2020-11-02 11:57] leecalcote commented on #1068
@akashprasher, yes, opening in a new window would be good.

I would like for the social buttons to have a similar effect onHover as they do on the current generation site. If this makes sense and is something that you would like to implement, will you create an issue for this? If not, no problem, I'll make it an issue so that another contributor can pick it up.￼￼

[2020-11-02 12:52] akashprasher commented on #1068
I'll do it for branch layer5-ng, Please create an issue and assign me.
The language option is also there(layer5-ng), will remove it?

[2020-11-02 13:07] Tanuj22 commented on #1068
@akashprasher feel free to create an issue on your own.
Yes the language option is there in layer5-ng, but we will probably remove it.

[2020-11-02 13:16] Jashpatel1 opened #1069 "[NG] Migrate two recent blogs to layer5-ng"
**Current Behavior**
Two blogs have been added to layer5 website recently.

**Desired Situation**
Migrate both the blogs to layer5-ng website.

- [ ] [Performance Benchmarking using Meshery and NightHawk
](https://layer5.io/blog/performance-benchmarking-using-meshery-and-nighthawk)
- [ ] [Meshery Adapter for Open Service Mesh
](https://layer5.io/blog/meshery/announcing-the-meshery-adapter-for-open

[2020-11-02 13:21] akashprasher commented on #1068
Sure!

[2020-11-02 14:24] codetheorem opened #1070 "[NG] Align the logo"
**Description**

Community Bridge logo is on the top of the card.
**Expected Behavior**

Align the logo of the community bridge according to other logos and make that mobile-friendly as well.

**Screenshots**

![screencapture-layer5ng-netlify-app-careers-1604326583533](https://user-images.githubusercontent.com/54779517/97878626-e01e5d00-1d44-11eb-9a0b-04f2e609a4c8.png)

---

 **To Reproduce**
Step

[2020-11-02 16:27] #1051 closed

[2020-11-02 16:27] Tanuj22 commented on #1051
FIxed in #1056

[2020-11-02 16:37] Tanuj22 opened #1071 "[NG] Add color legend in members page"
**Desired Behavior**
Add a color legend on the left side of `Active Members`(green) and `Inactive Members`(gray) in the dropdown present in the [community members page](https://layer5ng.netlify.app/community/members). The CSS for the color boxes should already be present. The component we are using for drop-down is [react-select](https://react-select.com/)

---
[Optional] **Alternatives**

[Option

[2020-11-03 00:55] lolyparty commented on #1069
Happy to be back, taking on this.

[2020-11-03 02:56] leecalcote commented on #644
@Nikhil-Ladha argh. It's surprising that SVGs aren't supported. :/

[2020-11-03 03:52] Nikhil-Ladha commented on #644
Closing this one, as it's not a bug from our end.

[2020-11-03 03:52] #644 closed

[2020-11-03 11:42] leecalcote opened #1073 "[Programs] Add remainder of Hacktoberfest meetup recordings and slides"
**Current Behavior**
The Hactoberfest program page has ~1/2 of the recordings of tutorials and their adjoining slide decks.

<img width="675" alt="Screen Shot 2020-11-03 at 5 40 14 AM" src="https://user-images.githubusercontent.com/7570704/97980942-29979800-1d97-11eb-9e4b-c7134bf00967.png">

**Desired Behavior**
Add remainder of Hacktoberfest meetup recordings and slides

---
**Contributor Resourc

[2020-11-03 20:57] lolyparty commented on #1069
I'm having a problem running the layer5-ng, I don't know what the problem is. I keep getting an error on `_npm run start_`

[2020-11-03 21:15] tripathyprateek commented on #1069
@lolyparty have you installed Gatsby CLI?

[2020-11-03 21:25] lolyparty commented on #1069
Yes, I do.

[2020-11-03 21:40] Tanuj22 commented on #1069
@lolyparty Can you send a SS of the error

[2020-11-03 22:54] lolyparty commented on #1069
Thanks, I got it running already. Apparently, the node modules were outdated since I've been away for a while.

[2020-11-04 13:27] #1073 closed

[2020-11-04 15:00] naman360 opened #1076 "Wrong alignment of Layer5 intro video."
**Description**
The intro video is left aligned which hides some part of the video.

**Expected Behavior**
It should be centered so that the whole video is properly visible.

**Screenshots**
![Screenshot_20201104-202753_Chrome.jpg](https://user-images.githubusercontent.com/40193621/98127242-78027f00-1edc-11eb-8665-3c92a320d989.jpg)

**Enviroment:**
- Host OS:
- Meshery Version:
- Kubernetes Versio

[2020-11-04 15:36] leecalcote opened #1077 "Community: Recognizing Rodolfo Martínez as a Contributor and Community Member"
**Current Behavior**
@ramrodo has been a consistent contributor and community member.

**Desired Behavior**
A profile for @ ramrodo should be created and visible on `/community/members` on both the current layer5.io site.

- Github: https://github.com/ramrodo
- Twitter: https://twitter.com/ramrodo
- Profile picture: https://rodomar.mx/assets/images/profile-2.jpg

---
**Contributor Resources**
The

[2020-11-04 15:38] leecalcote opened #1078 "[NG] Community: Recognizing Rodolfo Martínez as a Contributor and Community Member"
**Current Behavior**
@ramrodo has been a consistent contributor and community member.

**Desired Behavior**
A profile for @ ramrodo should be created and visible on `/community/members` on both the next-generation layer5.io site (`layer5-ng` branch).

- Github: https://github.com/ramrodo
- Twitter: https://twitter.com/ramrodo
- Profile picture: https://rodomar.mx/assets/images/profile-2.jpg

---
*

[2020-11-05 03:55] shivam-51 commented on #1078
I would like to work on this issue.

We need to add the profile on https://deploy-preview-1045--layer5ng.netlify.app/community/members, right? What do you mean by "both" here?

[2020-11-05 04:20] leecalcote commented on #1078
Thanks, @shivam-51. "Both" is a errant article in the sentence in the description. You're safe to ignore. Yes, this issue refers to the layer5ng site only.

[2020-11-05 09:57] OlushesiToheeb commented on #1077
I want to take the issue

[2020-11-06 03:33] navendu-pottekkat commented on #1076
Could I work on this issue? Seems like an easy fix and I think it would be a good first PR to Layer5 for me

[2020-11-06 03:43] naman360 commented on #1076
@leecalcote

[2020-11-06 03:43] leecalcote commented on #1076
Sounds great, @navendu-pottekkat.

[2020-11-06 03:44] leecalcote commented on #1076
Thanks for identifying this issue, @naman360.

[2020-11-06 03:44] navendu-pottekkat commented on #1076
Thanks @leecalcote I will make a PR

[2020-11-06 05:05] Jashpatel1 commented on #1078
Closing with #1079

[2020-11-06 05:05] #1078 closed

[2020-11-06 06:12] Jashpatel1 opened #1085 "[NG] Improvise the Community Members Page on layer5-ng"
**Current Behavior**
The current [community members](https://layer5ng.netlify.app/community/members) page looks a bit plain and simple.

**Desired Behavior**
Try out some different ways of representing each member card on the page.
Also, incorporate 4 member cards in a single row as compared to 3 member cards currently.
Incorporate LinkedIn profile links along with github and twitter in member car

[2020-11-06 06:15] Jashpatel1 commented on #1085
@chandrashritii can you help with the LinkedIn profile links?

[2020-11-06 06:19] Jashpatel1 commented on #1085
@aayushdutt @dDab-panda can anyone of you give it a try?

[2020-11-06 07:07] vinayaksh42 commented on #1085
sure @Jashpatel1

[2020-11-06 07:28] #1076 closed

[2020-11-06 07:30] navendu-pottekkat commented on #1064
Is anyone working on this? Seems like a good issue for me to work on. Can I take it?

[2020-11-06 10:45] Tanuj22 commented on #1040
Fixed in #1083

[2020-11-06 10:45] #1040 closed

[2020-11-06 13:22] Ruth-ikegah commented on #1064
Sure take it up, I have assigned it to you.

[2020-11-06 13:32] navendu-pottekkat commented on #1064
@Ruth-ikegah Thanks, I will make a PR soon

[2020-11-06 17:40] Jashpatel1 commented on #1069
Closing with #1081

[2020-11-06 17:40] #1069 closed

[2020-11-06 22:04] leecalcote opened #1089 "[Community] Member profile update"
issue view 1308 | sed '1,/^--/d'

[2020-11-06 22:05] leecalcote opened #1090 "[Community] Member profile update"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update @kalradev's profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contributor

[2020-11-06 22:05] #1089 closed

[2020-11-06 22:15] leecalcote opened #1091 "[Community] Member profile LinkedIn update:cloud-native"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @chaltenio profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contribu

[2020-11-06 22:22] leecalcote opened #1092 "[Community] Member profile LinkedIn update"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @Aisuko profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contributor

[2020-11-06 22:28] leecalcote opened #1093 "[Community] Member profile LinkedIn update"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @jesuslerma profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contrib

[2020-11-06 22:29] leecalcote opened #1094 "[Community] Member profile LinkedIn update: lidor-ettinger-a4725b134"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @naturalett profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contrib

[2020-11-07 00:20] ajessup commented on #1020
Hey Nikhil - thanks for taking the lead on this. It's looking good! I made some suggestions on the PR.

[2020-11-07 03:39] Nikhil-Ladha commented on #1020
Cool, thanks for the feedback @ajessup . I will update the PR accordingly.

[2020-11-07 05:53] OlushesiToheeb commented on #1094
I want to take this issue

[2020-11-07 06:42] navendu-pottekkat commented on #1064
@Ruth-ikegah Please check #1095 and let me know of any changes or things to add.

[2020-11-07 07:02] kishore007k commented on #1094
Sure @OlushesiToheeb

[2020-11-07 07:29] ashutosh1401 commented on #1092
Could i work on this one ?

[2020-11-07 07:38] Aisuko commented on #1092
@ashutosh1401 Yes, please

[2020-11-07 07:53] ashutosh1401 commented on #1092
WorkerError: Processing C:/Users/Ashutosh/myprojects/layer5/src/collections/books/2018-06-12-istio-up-and-running/istio-up-and-running_top.png failed
  Original error:
  Command failed with ENOENT: C:\Users\Ashutosh\myprojects\layer5\node_modules\pngquant-bin\vendor\pngquant.exe - --strip --quality 50-75
  spawn C:\Users\Ashutosh\myprojects\layer5\node_modules\pngquant-bin\vendor\pngquant.exe ENOE

[2020-11-07 08:31] OlushesiToheeb commented on #1093
I want to take this issue

[2020-11-07 08:31] OlushesiToheeb commented on #1091
I want to take this issue

[2020-11-07 08:32] OlushesiToheeb commented on #1090
i want to take this issue

[2020-11-07 10:19] Tanuj22 commented on #1091
@OlushesiToheeb go ahead

[2020-11-07 10:20] Tanuj22 commented on #1092
@ashutosh1401 try deleting the `.cache` and `public` folders

[2020-11-07 10:34] ashutosh1401 commented on #1092
Command failed with ENOENT: C:\Users\Ashutosh\myprojects\layer5\node_modules\pngquant-bin\vendor\pngquant.exe - --strip --quality 50-75
spawn C:\Users\Ashutosh\myprojects\layer5\node_modules\pngquant-bin\vendor\pngquant.exe ENOENT
'C:\Users\Ashutosh\myprojects\layer5\node_modules\pngquant-bin\vendor\pngquant.exe' is not recognized as an internal or external command,
operable program or batch file.

[2020-11-07 10:39] Tanuj22 commented on #1092
Some dependencies were changes. Try to run `npm install`

[2020-11-07 10:43] ashutosh1401 commented on #1092
I have also tried `npm install` but still same error is showing up

[2020-11-07 11:59] vinayaksh42 commented on #1093
Sure go ahead @OlushesiToheeb

[2020-11-08 04:40] lolyparty commented on #1070
The community bridge logo doesn't look like it has so much height like other logos, that would mean aligning it to the middle right?

[2020-11-08 08:59] codetheorem commented on #1070
Yes @lolyparty  align the logo to middle right.

[2020-11-08 10:21] Tanuj22 commented on #1092
@ashutosh1401 this looks a problem local to your machine. Can you do `npm rebuild`?

[2020-11-08 22:21] Sudhish2101 commented on #1003
I have made the required changes. I have also hyperlinked every column entry of SOFAMesh since it's a project shutdown, so I thought it would be better that way. Any more suggestions?

[2020-11-09 02:48] #1092 closed

[2020-11-09 02:50] leecalcote opened #1102 "[NG] Community: Update member profile to include LinkedIn account"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @ameyaagashe profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contri

[2020-11-09 02:52] leecalcote opened #1103 "[NG] Community: Update member profile to include LinkedIn account: anita-ihuman"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @anita-ihuman profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contr

[2020-11-09 02:54] leecalcote opened #1104 "[NG] Community: Update member profile to include LinkedIn account"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @geraldmaboshe profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Cont

[2020-11-09 02:55] leecalcote opened #1105 "[NG] Community: Update member profile to include LinkedIn account: dhruv-patel-iitj"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @dhruv0000 profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contribu

[2020-11-09 02:58] leecalcote opened #1106 "[NG] Community: Update member profile to include LinkedIn account: jash-patel-78a998173"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @Jashpatel1 profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contrib

[2020-11-09 03:00] leecalcote opened #1107 "[NG] Community: Update member profile to include LinkedIn account: JubayerJoy"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @JubayerJoy profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contrib

[2020-11-09 03:02] leecalcote opened #1108 "[NG] Community: Update member profile to include LinkedIn account: KarenEfereyan"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @KarenEfereyan profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Cont

[2020-11-09 03:03] leecalcote opened #1109 "[NG] Community: Update member profile to include LinkedIn account: antweiss"
**Current Behavior**
[Layer5-ng community member](https://layer5ng.netlify.app/community/members) profiles now have the ability to include a link to their LinkedIn profile.

**Desired Situation**
Update the @antweiss profile to include the following front matter:

[code]

- [Source code](https://github.com/layer5io/layer5/tree/layer5-ng/src/collections/members) of member profiles.

---
**Contribut